## Geometrie-Kontext
#set($nodelist = $TOOL.getNodeListFromXPath($xPathInfo1MD_GeometryContext))
#set($size = $nodelist.getLength())
#if($size > 0)
<div class="table table--lined--sub ">
    <h5>$MESSAGES.getString("search.detail.geometrics.context")</h5>
    <table>
    <thead>
        <tr>
            <th>$MESSAGES.getString("search.detail.geometrics.context.type")</th>
            <th>$MESSAGES.getString("search.detail.geometrics.context.name")</th>
            <th colspan="2">$MESSAGES.getString("search.detail.geometrics.context.description")</th>
        </tr>
    </thead>
    <tbody>
    #foreach($tmpNum in [1..$size])
        <tr>
        ## Main Info
        #set($tmpXPath = "(${xPathInfo1MD_GeometryContext})[$tmpNum]")
        #set($tmpNode = $TOOL.getNodeFromXPath($tmpXPath))
        
        ## Sub Info
        #set($xPathInfo1MD_GeometryContext_features = "./igctx:geometricFeature/*/igctx:featureAttributes/igctx:FeatureAttributes/igctx:attribute/*")
        #set($subNodelist = $TOOL.getNodeListFromXPath("${xPathInfo1MD_GeometryContext_features}", $tmpNode))
        #set($subSize = $subNodelist.getLength())
        #set($rowSpan = $subSize + 2)
        ## Name
            <td #if($subSize > 0)class="rowspan" rowspan="$rowSpan"#end>
                #set($tmpValue = $TOOL.getValueFromXPath("./igctx:geometryType/*[self::gco:CharacterString or self::gmx:Anchor]", "", $tmpNode))
                #if($tmpValue)
                    $tmpValue
                #end
                #set($tmpValue = "")
            </td>
        ## Geometrie-Typ
            <td #if($subSize > 0)class="rowspan" rowspan="$rowSpan"#end>
                #set($tmpValue = $TOOL.getValueFromXPath("./igctx:geometricFeature/*/igctx:featureName/*[self::gco:CharacterString or self::gmx:Anchor]", "", $tmpNode))
                #if($tmpValue)
                    $tmpValue
                #end
                #set($tmpValue = "")
            </td>
        ## Beschreibung
            <td #if($subSize > 0)colspan="4"#end>
                #set($tmpValue = $TOOL.getValueFromXPath("./igctx:geometricFeature/*/igctx:featureDescription/*[self::gco:CharacterString or self::gmx:Anchor]", "", $tmpNode))
                #if($tmpValue)
                    $tmpValue
                #end
                #set($tmpValue = "")
            </td>
            #if($subSize > 0)
        </tr>
                <tr class="table--sub--header">
                    <th>$MESSAGES.getString("search.detail.geometrics.context.feature.code")</th>
                    <th colspan="3">$MESSAGES.getString("search.detail.geometrics.context.feature.description")</th>
                </tr>
                #foreach($tmpSubNum in [1..$subSize])
                <tr class="table--sub--content">
                    #set($tmpSubXPath = "(${tmpXPath}/${xPathInfo1MD_GeometryContext_features})[$tmpSubNum]")
                    #set($tmpSubNode = $TOOL.getNodeFromXPath($tmpSubXPath))
                    ## Code
                    <td>
                        #set($tmpValue = $TOOL.getValueFromXPath("./igctx:attributeCode|igctx:attributeContent/*[self::gco:CharacterString or self::gmx:Anchor]", "", $tmpSubNode))
                        #if($tmpValue)
                            $tmpValue
                        #end
                        #set($tmpValue = "")
                    </td>
                    ## Beschreibung
                    <td colspan="3">
                        #set($tmpValue = $TOOL.getValueFromXPath("./igctx:attributeDescription/*[self::gco:CharacterString or self::gmx:Anchor]", "", $tmpSubNode))
                        #if($tmpValue)
                            $tmpValue
                        #end
                        #set($tmpValue = "")
                    </td>
                </tr>
                #end
            #else
        </tr>
            #end
    #end
    </tbody>
    </table>
#end