#set ($action = $renderResponse.createActionURL())
#set ($rankedHitslenght = $rankedResultList.length())

<div class="accordion accordion-filter-group filter" data-accordion data-allow-all-closed="true" role="tablist" >
    <div class="accordion-item accordion-item-filter-group" data-accordion-item>
        <a href="#" class="accordion-title accordion-title-filter-group hide-for-large" role="tab" id="facet-accordion-label" aria-expanded="false" aria-selected="false">Filter</a>
        <div class="accordion-content filter-wrapper filter-wrapper-shadowless" data-tab-content role="tabpanel" aria-labelledby="facet-accordion-label" aria-hidden="true" id="facet-content-accordion">
            <div class="boxes">
#parse ('/WEB-INF/templates/facete/facete_accordion.vm')
            </div>
        </div>
    </div>
#parse ('/WEB-INF/templates/facete/facete_scroll.vm')
</div>
#parse ('/WEB-INF/templates/scripts/include_script_filter_scroll.vm')
#parse ('/WEB-INF/templates/facete/facete_or.vm')
#parse ('/WEB-INF/templates/facete/facete_scroll_script.vm')

#macro(renderFacetCategory $nodes)
    #foreach($node in $nodes)
        #if(!$node.isCategoryOnly())
            #if(!$node.getQuery())
                #if($node.getDependency())
                    #if($node.isDependencySelect())
                        #if($node.getId() == 'timeref' || $node.getId() == 'area' || $node.getId() == 'area.map' || $node.getId() == 'attribute' || $node.getId() == 'area.address')
                            #renderFacetContent($node)
                        #else
                            #if($node.getFacets() && !$node.getFacets().isEmpty())
                                #set($nodeHasValueDependency = false)
                                #foreach($facet in $node.getFacets())
                                    #if($facet.getFacetValue())
                                        #set($nodeHasValueDependency = true)
                                    #end
                                #end
                                #if($nodeHasValueDependency)
                                    #renderFacetContent($node)
                                #end
                            #end
                        #end
                    #end
                #else
                    #if($node.getHidden())
                        #if($node.isHiddenSelect() == false)
                            #if($node.getId() == 'timeref' || $node.getId() == 'area' || $node.getId() == 'area.map' || $node.getId() == 'attribute' || $node.getId() == 'area.address')
                                #renderFacetContent($node)
                            #else
                                #if($node.getFacets() && !$node.getFacets().isEmpty())
                                    #set($nodeHasValueHidden = false)
                                    #foreach($facet in $node.getFacets())
                                        #if($facet.getFacetValue())
                                            #set($nodeHasValueHidden = true)
                                        #end
                                    #end
                                    #if($nodeHasValueHidden)
                                        #renderFacetContent($node)
                                    #end
                                #end
                            #end
                        #end
                    #else
                        #if($node.getId() == 'timeref' || $node.getId() == 'area' || $node.getId() == 'area.map' || $node.getId() == 'attribute' || $node.getId() == 'area.address')
                            #renderFacetContent($node)
                        #elseif($node.getWildcard())
                            #parse ('/WEB-INF/templates/facete/facete_wildcard.vm')
                        #elseif($node.getFacets() && !$node.getFacets().isEmpty())
                            #set($nodeHasValue = false)
                            #foreach($facet in $node.getFacets())
                                #if($facet.getFacetValue() || $facet.isDisplay())
                                    #set($nodeHasValue = true)
                                #end
                            #end
                            #if($nodeHasValue || ($nodeHasValue && $node.isOpen()))
                                #renderFacetContent($node)
                            #end
                        #end
                    #end
                #end
            #end
        #end
    #end
#end

#macro(renderFacetCategoryEntry $facet $parentId)
    #if(($facet.getFacetValue() || $facet.isDisplay()) && !$facet.isCategoryOnly())
        #if($facet.getFacets() && !$facet.getFacets().isEmpty())
            ## Check for sub facets
            #if($facet.isSelect())
                ## Create Tree with single selection
                #if($facet.isOldIPlug())
                    #set ($action = $renderResponse.createActionURL())
                    $action.setParameter("$parentId", "$facet.getId()")
                    #renderFaceteSelectedAttributeNumber($action $facet $MESSAGES.getString("${facet.getName()}") $facet.getFacetValue() $facet.isSelect())
                #else
                    #renderTree($facet $parentId)
                #end
            #else
                ## Set single facets
                #set ($action = $renderResponse.createActionURL())
                $action.setParameter("$parentId", "$facet.getId()")
                #renderFaceteSelectedAttributeNumber($action $facet $MESSAGES.getString("${facet.getName()}") $facet.getFacetValue() $facet.isSelect())
            #end
        #else
            ## Set single facets
            #set ($action = $renderResponse.createActionURL())
            $action.setParameter("$parentId", "$facet.getId()")
            #renderFaceteSelectedAttributeNumber($action $facet $MESSAGES.getString("${facet.getName()}") $facet.getFacetValue() $facet.isSelect())
        #end
    #elseif($facet.getWildcard())
        #renderSubfacetWildcardContent($facet)
    #end
#end


#macro(renderFacetContent $facet)
    #if($facet && !$facet.isCategoryOnly())
        #if($facet.getId() == 'timeref' || $facet.getId() == 'area' || $facet.getId() == 'area.map' || $facet.getId() == 'attribute' || $facet.getId() == 'area.address')
            #if($facet.getId() == 'timeref')
                #parse ('/WEB-INF/templates/facete/facete_timeref.vm')
            #end
            
            ## RAUMBEZUG ##
            #if($facet.getId() == 'area')
                #parse ('/WEB-INF/templates/facete/facete_area.vm')
            #end
            
            #if($facet.getId() == 'area.map')
                #parse ('/WEB-INF/templates/facete/facete_area_map.vm')
            #end
            
            ## ATTRIBUTE ##
            #if($facet.getId() == 'attribute')
                #parse ('/WEB-INF/templates/facete/facete_attribute.vm')
            #end
            
            ## RAUMBEZUG - ADDRESSEN ##
            #if($facet.getId() == 'area.address')
                #parse ('/WEB-INF/templates/facete/facete_area_address.vm')
            #end
        #elseif($facet.isHierarchyTree())
            #parse ('/WEB-INF/templates/facete/facete_hierarchy.vm')
        #else
            #set($count = 0)
            #if($facet.getShowOnMoreThan() != 0)
                #foreach($tmpFacet in $facet.getFacets())
                    #if($tmpFacet.getFacetValue() || $facet.isDisplay())
                        #set($count = $count + 1)
                    #end
                #end
            #end
            #if($facet.getShowOnMoreThan() == 0 || $count > $facet.getShowOnMoreThan())
                #set($isSelected = false)
                #foreach($subFacet in $facet.getFacets())
                    #if($subFacet.isSelect())
                        #set($isSelected = true)
                    #end
                #end
                <ul class="accordion filter-group" data-accordion data-multi-expand="true" data-allow-all-closed="true" role="tablist" >
                    <li class="accordion-item #if($facet.isSelect() || $facet.isOpen() || $selectedGroup.indexOf($facet.getId()) > -1 )is-active#end" data-accordion-item>
                        <a href="#" class="accordion-title" aria-controls="$facet.getId()-accordion" role="tab" id="$facet.getId()-accordion-label">
                            <span class="text">
                            #if($facet.getCodelistId())
                               $Codelists.getCodeListValue($facet.getCodelistId(), $facet.getCodelistEntryId(), $languageCode)
                            #else
                                $MESSAGES.getString("$facet.getName()")
                            #end
                            </span>
                        </a>
                        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="$facet.getId()-accordion-label" id="$facet.getId()-accordion" #if($facet.isSelect() || $facet.isOpen())aria-hidden="false" style="display: block;"#end>
                            <div class="boxes">
                            #renderSearchResultFacetSelectionInfo($facet $MESSAGES)
                            #set($count = 0)
                            #set($isGreaterThanSubFacetsCount = false)
                            #set($isQueryTypeOR = false)
                            #if($facet.getQueryType() == "OR")
                                #set($isQueryTypeOR = true)
                            #end
                            #set($listLength = $subFacetsCount)
                            #if($facet.getListLength() != 0)
                                #set($listLength = $facet.getListLength())
                            #end
                            #if($isSelected)
                                #set($hasUnselectedDisplayFacet = false)
                                #if($facet.getToggleGroups())
                                    #foreach($toggleGroup in $facet.getToggleGroups())
                                        #set($listedFacets = [])
                                        #set($listedFacetsIsSelected = false)
                                        #set($unlistedSelectedFacets = [])
                                        #set($unlistedFacets = [])
                                        #foreach($subFacet in $facet.getFacets())
                                            #if($subFacet.isSelect())
                                                #if($toggleGroup.indexOf($subFacet.getId()) > -1)
                                                    #set($add = $listedFacets.add($subFacet))
                                                    #if($subFacet.getToggle())
                                                        #if($subFacet.getToggle().isSelect())
                                                            #set($listedFacetsIsSelected = true)
                                                        #end
                                                    #end
                                                #else
                                                    #set($add = $unlistedSelectedFacets.add($subFacet))
                                                #end
                                            #else 
                                                #set($add = $unlistedFacets.add($subFacet))
                                            #end
                                        #end
                                        #if(!$listedFacets.isEmpty())
                                            #set($toggleGroupIds = "")
                                            #foreach($listedFacet in $listedFacets)
                                                #if(!$toggleGroupIds.isEmpty())
                                                    #set($toggleGroupIds = $toggleGroupIds + ",")
                                                #end
                                                #if($listedFacet.getToggle())
                                                    #set($toggleGroupIds = $toggleGroupIds + $listedFacet.getToggle().getId())
                                                #end
                                            #end
                                            #if(!$toggleGroupIds.isEmpty())
                                                #set ($action = $renderResponse.createActionURL())
                                                $action.setParameter($facet.getId(), "$toggleGroupIds")
                                                <div class="form-element boxed toggle-group">
                                                    <label class="control toggle" title="$MESSAGES.getString("common.toggle.approval.date.tooltip")">
                                                        <input type="checkbox" #if($listedFacetsIsSelected)checked#end onclick="location.href='$action'">
                                                        <span class="toggle-slider round"></span>
                                                    </label>
                                                    <span class="toggle-label checked #if(!$listedFacetsIsSelected)is-hidden#end">$MESSAGES.getString("common.toggle.approval.date.on")</span>
                                                    <span class="toggle-label unchecked #if($listedFacetsIsSelected)is-hidden#end">$MESSAGES.getString("common.toggle.approval.date.off")</span>
                                                </div>
                                                #foreach($listedFacet in $listedFacets)
                                                    #renderFacetCategoryEntry($listedFacet $facet.getId())
                                                #end
                                                #if(!$unlistedSelectedFacets.isEmpty() || !$unlistedFacets.isEmpty())
                                                    <hr class="no-margin border-dotted">
                                                #end
                                            #end
                                        #end
                                        #if(!$unlistedSelectedFacets.isEmpty())
                                            #foreach($unlistedSelectedFacet in $unlistedSelectedFacets)
                                                #renderFacetCategoryEntry($unlistedSelectedFacet $facet.getId())
                                            #end
                                            #if(!$unlistedFacets.isEmpty())
                                                <hr class="no-margin border-dotted">
                                            #end
                                        #end
                                        #if(!$unlistedFacets.isEmpty())
                                            #foreach($unlistedFacet in $unlistedFacets)
                                                #renderFacetCategoryEntry($unlistedFacet $facet.getId())
                                            #end
                                        #end
                                    #end
                                #else
                                    #foreach($subFacet in $facet.getFacets())
                                        #if($subFacet.isSelect())
                                            #renderFacetCategoryEntry($subFacet $facet.getId())
                                        #elseif($subFacet.isDisplay())
                                            #set($hasUnselectedDisplayFacet = true)
                                        #end
                                    #end
                                #end
                                #if($hasUnselectedDisplayFacet)
                                    <hr class="no-margin border-dotted">
                                    #foreach($subFacet in $facet.getFacets())
                                        #if(!$subFacet.isSelect())
                                            #if($facet.getListLength() != 0 && $count == $listLength)
                                                #set($isGreaterThanSubFacetsCount = true)
                                                <div class="accordion " data-accordion="" data-allow-all-closed="true" role="tablist">
                                                    <div class="accordion-item text-right" data-accordion-item="">
                                                        <div class="text-left" data-tab-content="" role="tabpanel" aria-labelledby="type-accordion-label" id="$subFacet.getParent().getId()_more" aria-hidden="false" style="display: none;">
                                            #end
                                            #renderFacetCategoryEntry($subFacet $facet.getId())
                                            #if($subFacet.isDisplay())
                                                #set($count = $count + 1)
                                            #end
                                        #end
                                    #end
                                #end
                            #else
                                #if($facet.getToggleGroups())
                                    #foreach($toggleGroup in $facet.getToggleGroups())
                                        #set($listedFacets = [])
                                        #set($listedFacetsIsSelected = false)
                                        #set($unlistedFacets = [])
                                        #foreach($subFacet in $facet.getFacets())
                                            #if($toggleGroup.indexOf($subFacet.getId()) > -1)
                                                #set($add = $listedFacets.add($subFacet))
                                                #if($subFacet.getToggle())
                                                    #if($subFacet.getToggle().isSelect())
                                                        #set($listedFacetsIsSelected = true)
                                                    #end
                                                #end
                                            #else 
                                                #set($add = $unlistedFacets.add($subFacet))
                                            #end
                                        #end
                                        #if(!$listedFacets.isEmpty())
                                            #set($toggleGroupIds = "")
                                            #foreach($listedFacet in $listedFacets)
                                                #if(!$toggleGroupIds.isEmpty())
                                                    #set($toggleGroupIds = $toggleGroupIds + ",")
                                                #end
                                                #if($listedFacet.getToggle())
                                                    #set($toggleGroupIds = $toggleGroupIds + $listedFacet.getToggle().getId())
                                                #end
                                            #end
                                            #if(!$toggleGroupIds.isEmpty())
                                                #set ($action = $renderResponse.createActionURL())
                                                $action.setParameter($facet.getId(), "$toggleGroupIds")
                                                <div class="form-element boxed toggle-group">
                                                    <label class="control toggle" title="$MESSAGES.getString("common.toggle.approval.date.tooltip")">
                                                        <input type="checkbox" #if($listedFacetsIsSelected)checked#end onclick="location.href='$action'">
                                                        <span class="toggle-slider round"></span>
                                                    </label>
                                                    <span class="toggle-label checked #if(!$listedFacetsIsSelected)is-hidden#end">$MESSAGES.getString("common.toggle.approval.date.on")</span>
                                                    <span class="toggle-label unchecked #if($listedFacetsIsSelected)is-hidden#end">$MESSAGES.getString("common.toggle.approval.date.off")</span>
                                                </div>
                                                #foreach($listedFacet in $listedFacets)
                                                    #renderFacetCategoryEntry($listedFacet $facet.getId())
                                                #end
                                                #if(!$unlistedFacets.isEmpty())
                                                    <hr class="no-margin border-dotted">
                                                #end
                                            #end
                                        #end
                                        #if(!$unlistedFacets.isEmpty())
                                            #foreach($unlistedFacet in $unlistedFacets)
                                                #renderFacetCategoryEntry($unlistedFacet $facet.getId())
                                            #end
                                        #end
                                    #end
                                #else
                                    #foreach($subFacet in $facet.getFacets())
                                        #if($facet.getListLength() != 0 && $count == $listLength)
                                            #set($isGreaterThanSubFacetsCount = true)
                                            <div class="accordion " data-accordion="" data-allow-all-closed="true" role="tablist">
                                                <div class="accordion-item text-right" data-accordion-item="">
                                                    <div class="text-left" data-tab-content="" role="tabpanel" aria-labelledby="type-accordion-label" id="$facet.getId()_more" aria-hidden="false" style="display: none;">
                                        #end
                                        #renderFacetCategoryEntry($subFacet $facet.getId())
                                        #if($subFacet.isDisplay() || $subFacet.getFacetValue())
                                            #set($count = $count + 1)
                                        #end
                                    #end
                                #end
                            #end
                            #if($isGreaterThanSubFacetsCount)
                                            </div>
                                            <a href="#" class="more" aria-controls="$subFacet.getParent().getId()_more" role="tab" id="$subFacet.getParent().getId()_more-label" aria-expanded="false" aria-selected="false">
                                                <div class="helper plus">
                                                    <span class="ic-ic-plus"></span>
                                                    <span class="text">$MESSAGES.getString("searchResult.facete.category.plus")</span>
                                                </div>
                                                <div class="helper minus">
                                                    <span class="ic-ic-minus"></span>
                                                    <span class="text">$MESSAGES.getString("searchResult.facete.category.minus")</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                #set($isGreaterThanSubFacetsCount = false)
                            #end
                            </div>
                        </div>
                    </li>
                </ul>
            #end
        #end
    #end
#end

#macro (renderTree $treeFacet $treeParentId)
    #set ($action = $renderResponse.createActionURL())
    $action.setParameter("$treeParentId", "$treeFacet.getId()")
    <a class="icon" href="$action">
    #set ($action = $renderResponse.createActionURL())
        <span class="ic-ic-cross"></span>
        <span class="nr-results">($treeFacet.getFacetValue())</span>
        <span class="text">
            #if($treeFacet.getCodelistId())
                $Codelists.getCodeListValue($treeFacet.getCodelistId(), $treeFacet.getCodelistEntryId(), $languageCode)
            #else
                $MESSAGES.getString("$treeFacet.getName()")
            #end
        </span>
    </a>
    <div class="boxes">
    #set($isSelectedTree = false)
    #foreach ($treeSubFacet in $treeFacet.getFacets())
        #if($treeSubFacet.isSelect())
            #set($isSelectedTree = true)
        #end
    #end
    
    #foreach ($treeSubFacet in $treeFacet.getFacets())
        #if($treeSubFacet.getFacetValue() && !$treeSubFacet.isCategoryOnly())
            #set ($action = $renderResponse.createActionURL())
            $action.setParameter("$treeFacet.getId()", "$treeSubFacet.getId()")
            #if($treeSubFacet.getCodelistId())
               #set ($name = $Codelists.getCodeListValue($treeSubFacet.getCodelistId(), $treeSubFacet.getCodelistEntryId(), $languageCode))
            #else
               #set ($name = $MESSAGES.getString("$treeSubFacet.getName()"))
            #end
            #renderFaceteSelectedAttributeNumber($action $treeSubFacet $name $treeSubFacet.getFacetValue() $treeSubFacet.isSelect())
        #end
    #end
    </div>
#end

#macro (renderInputButtonDialog $buttonvalue $buttonstyle $buttonname $buttontitle $buttonclass $buttononclick)
    <button type="submit" style="$buttonstyle" class="$buttonclass" value="$buttonvalue" name="$buttonname" title="$buttontitle" onclick="$buttononclick">$buttontitle</button>
#end

#macro (renderFaceteSelectedAttributeNumber $doAction $facet $tooltip $number $isDelete)
    <div class="form-element boxed">
        <div class="input-check">
            <div class="control-group">
                #if($facet.getParent().getQueryType() == "OR")
                    #set($isCheckbox = true)
                #else
                    #set($isCheckbox = false)
                #end
                <label class="control #if($isCheckbox) control--checkbox #else control--radio #end" for="facet-$facet.getId()">
                    #set ($hasShortName = false)
                    #if($facet.getShortName())
                      #set ($hasShortName = true)
                    #end
                    #set ($hasMobileName = false)
                    #if($facet.getMobileName())
                      #set ($hasMobileName = true)
                    #end
                    <input id="facet-$facet.getId()" type="checkbox" #if($isDelete)checked#end onclick="location.href='$doAction'" autocomplete="off">
                    <span class="control__indicator"></span>
                    <span class="nr-results">
                    #if($number)
                        ($number)
                    #else
                        #if($facet.isSelect() || $facet.isDisplay())
                        (0)
                        #elseif($facet.getParent().isSelect() && $facet.isSelect())
                        (0)
                        #elseif(!$facet.getParent().isSelect() && !$facet.isSelect())
                        (0)
                        #end
                    #end
                    </span>
                    <span class="text">
                    #if($facet.getCodelistId())
                       $Codelists.getCodeListValue($facet.getCodelistId(), $facet.getCodelistEntryId(), $languageCode)
                    #else
                        $MESSAGES.getString("$facet.getName()")
                    #end
                    </span>
                </label>
            </div>
        </div>
    </div>
#end

#macro (renderFaceteSelectedAttributeHashMapNumber $doAction $title $numbers $key $isDelete)
    <p>
        <a class="icon" href="$doAction" title="$title">
            <span class="ic-ic-cross"></span>
            <span class="text">
                $title
                #if($numbers && $key)
                    #renderLinkEntryNumberInArrayHashMap($numbers $key)
                #end
            </span>
        </a>
    </p>
#end

#macro(renderLinkEntryNumberInArrayHashMap $numbers $id)
    <span class="facete_label_number">
    #set($isFound = false)
    #foreach($number in $numbers)
        #foreach($key in $number.keySet())
            #if($key == "$id")
                #set($num = "$number.get($key)")
                #if($num != "" && $num != "0")
                    ($num)
                #end
            #end
        #end
    #end
    </span>
#end

#macro(renderLinkEntryNumberInHashMap $numbers $id)
    <span class="facete_label_number">
    #set($isFound = false)
    #foreach($key in $numbers.keySet())
        #if($key == "$id")
            #set($num = "$numbers.get($key)")
            #if($num != "" && $num != "0")
                ($num)
            #end
        #end
    #end
    </span>
#end

#macro(renderLinkEntryNumber $number)
    <span class="facete_label_number">
        #if($number != "" && $number != "0")
                ($number)
        #end
    </span>
#end

#macro(renderDeleteIcon $doAction $title)
    <a href="$doAction" class="facete_link_line">
        <img class="facete_delete_img" src="/ingrid-portal-apps/images/facete/facete_delete.png" title="$title" alt="$title"/>
    </a>
#end

#macro(renderResetLink $doAction $title)
    <a type="reset" href="$doAction" class="button pill">
        $title
    </a>
#end

#macro(renderCheckLink $doAction $title $onclick)
    <a href=#if($doAction)"$doAction" #else "#" #end class="icon button-up" #if($onclick)onclick="$onclick" #end>
        <span class="ic-ic-check"></span>
        $title
    </a>
#end

#macro(renderCrossLink $doAction $title $onclick)
    <a href=#if($doAction)"$doAction" #else "#" #end class="icon button-up" #if($onclick)onclick="$onclick" #end>
        <span class="ic-ic-cross"></span>
        $title
    </a>
#end

#macro(renderSubfacetWildcardContent $node)
    #set($wildcard_item_term = false)
    #set($wildcard_item = false)
    #set($wildcard_item = $wildcardMap.get("$node.getId()"))
    #if($wildcard_item)
        #set($wildcard_item_term = $wildcard_item.get("term"))
    #end

    <div class="js-accoridon-toggle sidebar-filter-subheader">
        $node.getName()
    </div>
    #set ($action = $renderResponse.createActionURL())
    $action.setParameter("wildcard_id", "$node.getId()")
    $action.setParameter("wildcard", "$node.getWildcard()")
    <form action="$action" method="post" name="wildcard_$node.getId()">
        <div class="search-form ob-clear ob-flex">
            <input class="field" type="text" name="termWildcard_$node.getId()" id="termWildcard_$node.getId()" #if($wildcard_item_term)value="$wildcard_item_term"#end />
            <button type="submit" name="doSearchWildcard_$node.getId()" value="$MESSAGES.getString("searchResult.facete.wildcard.name.search.button")" class="btn btn--primary btn--icon-transition" style="min-width:0;">
                <svg class="icon"><use xlink:href="#magnifier"/></svg>
            </button>
        </div>
        #if($wildcard_item_term)
            $action.setParameter("doClearSearchWildcard", "$node.getId()")
            #renderCrossLink($action $MESSAGES.getString("searchResult.facete.wildcard.name.delete"))
        #end
    </form>
#end