#set ($action = $renderResponse.createActionURL())
<div class="cat_label">
	<img id="area_img" class="facete_open" src="/ingrid-portal-apps/images/facete/facete_cat_open.png" onclick="openNode('area')">
	<a onclick="openNode('area')" >$MESSAGES.getString("searchResult.facete.title.area")</a>
	<br>
</div>
<div id="area" class="cat_content">
	<div>
    #if(!$geothesaurusSelectTopics || $geothesaurusSelectTopics.size() == 0)
		<div style="padding:0px 0px 5px 0px;">
    		<a onclick="prepareDialogMap('dialog_area_map', '$wmsURL', 'dialog_area_map_content', 'dialog_map_searcher')" 
				#if($doMapCoords && $doMapCoords.size() > 0)
					class="facete_link_line facete_select_link_topic"
				#else
					class="facete_link_line"
				#end
				>
    			$MESSAGES.getString("searchResult.facete.area.map.search")
    		</a>
            <img id="facete_img" class="facete_open" src="/ingrid-portal-apps/images/facete/facete_more.png" ></img>
    	</div>
    	## SELECTED PARAMS
		#if($doMapCoords && $doMapCoords.size() > 0)
			#if($doMapCoords.inside)
    			$action.setParameter("doRemoveMap",  "inside")
    			#renderFaceteSelectedAttribute ($action  $doMapCoords.inside)
    		#end
    		#if($doMapCoords.intersect)
    			$action.setParameter("doRemoveMap",  "intersect")
                #renderFaceteSelectedAttribute ($action  $doMapCoords.intersect)
    		#end
    		#if($doMapCoords.include)
        		$action.setParameter("doRemoveMap",  "include")
                #renderFaceteSelectedAttribute ($action  $doMapCoords.include)
    		#end
		#end
		#if($doMapCoords && $doMapCoords.size() > 1)
			$action.setParameter("doRemoveMap",  "all")
            #renderFaceteDeleteLinkLineDialog($MESSAGES.getString("searchResult.facete.area.map.delete") $action)
		#end
    	#parse ('/WEB-INF/templates/facete/facete_dialog_area_map.vm')
	#end
	#if(!$doMapCoords || $doMapCoords.size() == 0)
    	<div>
    		$action.setParameter("doGeothesaurus",  "true")
			<a href="$action" 
				#if($geothesaurusSelectTopics && $geothesaurusSelectTopics.size() > 0)
					class="facete_link_line facete_select_link_topic"
				#else
					class="facete_link_line"
				#end
				>
    			$MESSAGES.getString("searchResult.facete.area.name.search")
    		</a>
            <img id="facete_img" class="facete_open" src="/ingrid-portal-apps/images/facete/facete_more.png" ></img>
    	</div>
    	## SELECTED PARAMS
		#foreach ($geothesaurus in $geothesaurusSelectTopics)
    		$action.setParameter("doRemoveGeothesaurus",  $geothesaurus.topicId)
			#set($title = "$geothesaurus.topicTitle ($geothesaurus.topicId)") 
        	#renderFaceteSelectedAttribute ($action  $title)
		#end
		#if($geothesaurusSelectTopics && $geothesaurusSelectTopics.size() > 1)
			$action.setParameter("doRemoveGeothesaurus",  "all")
            #renderFaceteDeleteLinkLineDialog($MESSAGES.getString("searchResult.facete.area.name.delete") $action)
		#end
		#parse ('/WEB-INF/templates/facete/facete_dialog_area_geothesaurus.vm')
	#end
	</div>
	<br>
</div>