#set ($action = $renderResponse.createActionURL())
<div class="cat_label">
	<img id="measures_img" class="facete_open" src="/ingrid-portal-apps/images/facete/facete_cat_open.png" onclick="openNode('measures')">
	<a onclick="openNode('measures')" >
		$MESSAGES.getString("searchResult.facete.title.measures")
		#renderLinkEntryNumber("$datatype.get($datatypeKey)")
	</a>
	$action.setParameter("doRemoveDatatype", "$datatypeKey")
    #renderDeleteIcon ($action)
	<br>
</div>

<div id="measures" class="cat_content">
	#foreach ($measures in $enableFaceteMeasures)
		#foreach ($key in $measures.keySet())
			#set($measuresKey = $key)
			#set($measuresTitle = "searchResult.facete.measures.$measuresKey")
		#end
		#set($isSelectedChbMeasures = false)
		#foreach ($selectChb in $selectedMeasures)
			#if($isSelectedChbMeasures != true)
				#if($measuresKey == $selectChb)
					#set($isSelectedChbMeasures = true)
				#end
			#end
		#end
		<div class="facete_chb">
    		<span>
				#set ($action = $renderResponse.createActionURL())
				#if($isSelectedChbMeasures)
					$action.setParameter("doRemoveMeasures", "$measures")
					<a href="$action" class="facete_label_chb">
					<input id="$measures" class="facete_input_chb" type=checkbox checked>
					$MESSAGES.getString("$measuresTitle")
					#renderLinkEntryNumber("measure" $measures)
					</a>
				#else
					$action.setParameter("doAddMeasures", "$measures")
					<a href="$action" class="facete_label_chb">
						<input id="$measures" class="facete_input_chb" type=checkbox>
					$MESSAGES.getString("$measuresTitle")
					#renderLinkEntryNumber("measure" $measures)
					</a>
				#end
			</span>
		</div>
	#end
	<br>
</div>
