#set ($action = $renderResponse.createActionURL())
<div id="dialog_${partner.ident}" class="facete_dialog" title="$MESSAGES.getString("searchResult.facete.title.provider")" dojoType="dijit.Dialog">
	<form name="providers_${partner.ident}_form" action="$action" method="post">
    	<div class="dialog_content">
	   	   	<table>
			#set($k = 0)
			#set($newColumn = "true")
			#foreach ($provider in $enableFaceteProviderList)
				#if(${provider.sortkeyPartner} == ${partner.sortkey})
					#set($isSelectedChbProvider = false)
					#foreach ($selectChb in $selectedProvider)
						#if($isSelectedChbProvider != true)
							#if("${provider.ident}" == "${selectChb.ident}")
								#set($isSelectedChbProvider = true)
							#end
						#end
					#end
					#if($newColumn == "true")
						<tr>
						#set($newColumn = "false")
					#end
					#set($k = $k + 1)
					<td>
						<div class="facete_chb">
                    		<p>
                    		<label class="facete_label_chb">
								<input id="${provider.ident}" class="facete_input_chb" type=checkbox name="chk$k" value="${provider.ident}"
									#if($isSelectedChbProvider)
										checked
									#end
									>
                    		$provider.name
							#renderLinkEntryNumber("provider" "$provider.ident")
							</label>
							</p>
                    	</div>
					</td>
					#if($k % 3 == 0)
						</tr>
						#set($newColumn = "true")
					#end
				#end
			#end
			</table>
		</div>
		#renderInputButtonDialog($MESSAGES.getString('searchResult.facete.dialog.commit') "" "doAddProvider" $MESSAGES.getString('searchResult.facete.dialog.tooltip.commit') "float_right btn_submit_dialog" "")
	</form>			
	<div class="dialog_bottom">
		#renderInputButtonDialog($MESSAGES.getString('searchResult.facete.dialog.cancel') "" "" $MESSAGES.getString('searchResult.facete.dialog.tooltip.cancel') "float_right" "faceteDialogCancel('dialog_${partner.ident}')")
		#renderInputButtonDialog($MESSAGES.getString('searchResult.facete.dialog.all.select') "" "" $MESSAGES.getString('searchResult.facete.dialog.tooltip.all.select') "float_left" "faceteDialogSelectAll(document.providers_${partner.ident}_form)")
		#renderInputButtonDialog($MESSAGES.getString('searchResult.facete.dialog.all.delete') "" "" $MESSAGES.getString('searchResult.facete.dialog.tooltip.all.delete') "float_left" "faceteDialogDeselectAll(document.providers_${partner.ident}_form)")
	</div>
</div>