#set ($action = $renderResponse.createActionURL())
#macro(renderTopicListTree $key $topic)
	#set($topicKey = $key)
	#set($topicTitle = "searchResult.facete.topic.$topicKey")
	#set($isSelectedChbTopic = false)
	#foreach ($selectChb in $selectedTopics)
		#if($isSelectedChbTopic != true)
			#if($topicKey == $selectChb)
				#set($isSelectedChbTopic = true)
			#end
		#end
	#end
	<div class="facete_chb">
		<span class="facete_label">
			#set ($action = $renderResponse.createActionURL())
			#if($isSelectedChbTopic)
				$action.setParameter("doRemoveTopic", "$topicKey")
				<a href="$action" class="facete_label_chb">
					<input id="$topicKey" class="facete_input_chb" type=checkbox checked onclick="location.href='$action'">
			#else
				$action.setParameter("doAddTopicChb", "$topicKey")
				<a href="$action">
					<input id="$topicKey" class="facete_input_chb" type=checkbox onclick="location.href='$action'">
			#end
				$MESSAGES.getString("$topicTitle")</a>
				#renderLinkEntryNumber("$topic.get($topicKey)")
					</input>
				</a>
		</span>
	</div>
#end

#macro(renderTopicListTreeList $topics)
	#foreach ($topic in $topics)
		#set($topicKey = "")
		#foreach ($key in $topic.keySet())
			#set($topicKey = $key)
		#end
		#set($topicTitle = "searchResult.facete.topic.$topicKey")
    	#set($isSelectedChbTopic = false)
    	#foreach ($selectChb in $selectedTopics)
    		#if($isSelectedChbTopic != true)
    			#if($topicKey == $selectChb)
    				#set($isSelectedChbTopic = true)
    			#end
    		#end
    	#end
    	<div class="facete_chb">
    		<span class="facete_label">
    			#set ($action = $renderResponse.createActionURL())
    			#if($isSelectedChbTopic)
    				$action.setParameter("doRemoveTopic", "$topicKey")
					<a href="$action" class="facete_label_chb">
    					<input id="$topicKey" class="facete_input_chb" type=checkbox checked onclick="location.href='$action'">
    			#else
    				$action.setParameter("doAddTopicChb", "$topicKey")
    				<a href="$action">
    					<input id="$topicKey" class="facete_input_chb" type=checkbox onclick="location.href='$action'">
    			#end
    				$MESSAGES.getString("$topicTitle")</a>
    				#renderLinkEntryNumber("$topic.get($topicKey)")
					    </input>
					</a>
    		</span>
    	</div>
    #end
#end

<div class="cat_label">
	<img id="topic_img" class="facete_open" src="/ingrid-portal-apps/images/facete/facete_cat_open.png" onclick="openNode('topic')">
	<a onclick="openNode('topic')" >
		$MESSAGES.getString("searchResult.facete.title.topic")
	</a>
	$action.setParameter("doRemoveDatatype", "$datatypeKey")
    #renderDeleteIcon ($action)
	<br>
</div>
<div id="topic" class="cat_content_entry">
	<div>
		#set($i = 0)
		#if($isTopicSelect)
			#renderTopicListTreeList ($elementsTopicSelect)
		#else
			#foreach ($key in $elementsTopic.keySet())
				#if($i < $enableFaceteTopicCount)
					#renderTopicListTree ($key $elementsTopic)
					#set($i = $i + 1)
				#end
    		#end	
		#end
		<ul class="facete_ul_more">
			<li>
				#renderFaceteMoreLinkLineDialog($MESSAGES.getString("searchResult.facete.category.plus") "" "dialog_topic" "button_topic")
            </li>
			#if($isTopicSelect)
			<li>
				<img class="more_seperator" src="/ingrid-portal-apps/images/facete/facete_delete_seperator.png">
            </li>
			<li>
				$action.setParameter("doRemoveAllTopics",  "true")
            	#renderFaceteDeleteLinkLineDialog($MESSAGES.getString("searchResult.facete.category.delete") $action)
            </li>
			#end
		</ul>	
	</div>
	#parse ('/WEB-INF/templates/facete/facete_dialog_topic.vm')		        
</div>
