#set ($action = $renderResponse.createActionURL())
<div class="sidebar__widget js-accordion-multi">
    <div id="facet_area_map_header" class="sidebar__widget__title filter__title js-accordion-toggle #if($selectedMap.doMapCoords && $selectedMap.doMapCoords.size() > 1)is-active#end" onclick="resizeMap()">
        $MESSAGES.getString("searchResult.facete.area.map.search")
        <svg class="filter__title__icon icon">
            <use xlink:href="#arrow-thick"/>
        </svg>
    </div>
    <div id="facet_area_map_content" class="sidebar__widget__content sidebar__widget__content--pushed js-accordion-content #if(!$selectedMap.doMapCoords || $selectedMap.doMapCoords.size() == 0)is-hidden#end" >
        <div id="map" style="height:320px;"></div>
        <form action="$action" method="post" name="facete_map_form">
            <input id="x1" name="x1" type="hidden" />
            <input id="x2" name="x2" type="hidden" />
            <input id="y1" name="y1" type="hidden" />
            <input id="y2" name="y2" type="hidden" />
            <input id="areaid" name="areaid" type="hidden" />    
            #renderInputButtonDialog($MESSAGES.getString('searchResult.facete.dialog.commit') "" "doAddMap" $MESSAGES.getString('searchResult.facete.dialog.tooltip.commit') "btn btn--primary btn--small btn--block" "getMapBounds()")
        </form>
        ## SELECTED PARAMS
        #if($selectedMap)
            #if($selectedMap.doMapCoords && $selectedMap.doMapCoords.size() > 0)
                #if($selectedMap.doMapCoords.inside)
                    $action.setParameter("doRemoveMap",  "inside")
                    #renderFaceteSelectedAttributeHashMapNumber ($action $selectedMap.doMapCoords.inside $elementsMap "inside" true)
                #end
            #end
            #if($selectedMap.doMapCoords && $selectedMap.doMapCoords.size() > 1)
                $action.setParameter("doRemoveMap",  "all")
                #renderFaceteDeleteLinkLineDialog($MESSAGES.getString("searchResult.facete.area.map.delete") $action)
            #end
        #end
    </div>
</div>

#parse("/WEB-INF/templates/global/include_leaflet_header.vm")
<script language="JavaScript" type="text/javascript">
    var map = new L.Map('map');
    var lat = $facetMapCenter.get(0);
    var lng = $facetMapCenter.get(1);
    var zoom = $facetMapCenter.get(2);
    var layerUrl = '$facetMapLayerUrl';
    var layerName = '$facetMapLayerName';
    var layer;
    
    if(layerUrl.length > 0 && layerName.length > 0){
        layer = getWMSLayer(layerUrl, layerName); 
    } else {
        var osm = getOSMLayer();
        osm.options.minZoom = 5;
        osm.options.maxZoom = 20;
        layer = osm; 
    }

    var selectedMap = '$selectedMap.webmapclientCoords';
    
    map.setView(new L.LatLng(lat, lng),zoom);
    
    if(selectedMap.indexOf("y1") > -1){
        map.fitBounds([[$selectedMap.webmapclientCoords.y1, $selectedMap.webmapclientCoords.x1], [$selectedMap.webmapclientCoords.y2, $selectedMap.webmapclientCoords.x2]]);
    }
    map.addLayer(layer);
    
    window.onresize = function(event) {
        resizeMap();
    };

    function getMapBounds(){
        if(map.getBounds().isValid()) {
            $('#x1').prop("value", Math.round(map.getBounds().getWest() * 10000)/10000);
            $('#x2').prop("value", Math.round(map.getBounds().getEast() * 10000)/10000);
            $('#y1').prop("value", Math.round(map.getBounds().getSouth() * 10000)/10000);
            $('#y2').prop("value", Math.round(map.getBounds().getNorth() * 10000)/10000);
        }
    }

    function resizeMap(){
        if(map){
            map._onResize();
        }
    }
</script>