#set ($action = $renderResponse.createActionURL())
<div class="sidebar__widget js-accordion-multi">
    <div class="sidebar__widget__title filter__title js-accordion-toggle #if($selectedMap.doMapCoords && $selectedMap.doMapCoords.size() > 1)is-active#end">
        $MESSAGES.getString("searchResult.facete.area.map.search")
        <svg class="filter__title__icon icon">
            <use xlink:href="#arrow-thick"/>
        </svg>
    </div>
    <div id="facet_map" class="sidebar__widget__content sidebar__widget__content--pushed js-accordion-content">
        <div id="map" style="height:320px;"></div>
        <form action="$action" method="post" name="facete_map_form">
            <input id="x1" name="x1" type="hidden" />
            <input id="x2" name="x2" type="hidden" />
            <input id="y1" name="y1" type="hidden" />
            <input id="y2" name="y2" type="hidden" />
            <input id="areaid" name="areaid" type="hidden" />    
            #renderInputButtonDialog($MESSAGES.getString('searchResult.facete.dialog.commit') "" "doAddMap" $MESSAGES.getString('searchResult.facete.dialog.tooltip.commit') "btn btn--primary btn--small btn--block" "getMapBounds()")
        </form>
        ## SELECTED PARAMS
		#if($selectedMap)
			#if($selectedMap.doMapCoords && $selectedMap.doMapCoords.size() > 0)
				#if($selectedMap.doMapCoords.inside)
        			$action.setParameter("doRemoveMap",  "inside")
        			#renderFaceteSelectedAttributeHashMapNumber ($action $selectedMap.doMapCoords.inside $elementsMap "inside" true)
        		#end
    		#end
    		#if($selectedMap.doMapCoords && $selectedMap.doMapCoords.size() > 1)
    			$action.setParameter("doRemoveMap",  "all")
                #renderFaceteDeleteLinkLineDialog($MESSAGES.getString("searchResult.facete.area.map.delete") $action)
			#end
		#end
    </div>
</div>

<script language="JavaScript" type="text/javascript">
    var map = new L.Map('map');
    var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib='';
    var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 20, attribution: osmAttrib});
    var selectedMap = '$selectedMap.webmapclientCoords';
	
    // start the map in South-East England
    map.setView(new L.LatLng(51.3, 10),5);
    
    if(selectedMap.indexOf("y1") > -1){
        map.fitBounds([[$selectedMap.webmapclientCoords.y1, $selectedMap.webmapclientCoords.x1], [$selectedMap.webmapclientCoords.y2, $selectedMap.webmapclientCoords.x2]]);
    }
    map.addLayer(osm);
    
    map.whenReady(function () {
        window.setTimeout(function () {
            var identifier = "$selectedMap.doMapCoords";
            if(identifier == "{}"){
                $('#facet_map').addClass('is-hidden');
            }
        }.bind(this), 200);
    }, this);
    
    function getMapBounds(){
        $('#x1').prop("value", map.getBounds().getWest());
        $('#x2').prop("value", map.getBounds().getEast());
        $('#y1').prop("value", map.getBounds().getSouth());
        $('#y2').prop("value", map.getBounds().getNorth());
    }
</script>