#set ($action = $renderResponse.createActionURL())
#macro(renderTopicListTree $topic $selectedTopics)
	#set($topicTitle = "searchResult.facete.topic.$topic")
	#set($isSelectedChbTopic = false)
	#foreach ($selectChb in $selectedTopics)
		#if($isSelectedChbTopic != true)
			#if($topic == $selectChb)
				#set($isSelectedChbTopic = true)
			#end
		#end
	#end
	<div class="facete_chb">
		<span>
			#set ($action = $renderResponse.createActionURL())
			#if($isSelectedChbTopic)
				$action.setParameter("doRemoveTopic", "$topic")
				<a href="$action" class="facete_label_chb">
				<input id="$topic" class="facete_input_chb" type=checkbox checked>
				$MESSAGES.getString("$topicTitle")
				#renderLinkEntryNumber("topic" $topic)
				</a>
			#else
				$action.setParameter("doAddTopicChb", "$topic")
				<a href="$action" class="facete_label_chb">
					<input id="$topic" class="facete_input_chb" type=checkbox>
				$MESSAGES.getString("$topicTitle")
				#renderLinkEntryNumber("topic" $topic)
				</a>
			#end
		</span>
	</div>
#end


<div class="cat_label">
	<img id="topic_img" class="facete_open" src="/ingrid-portal-apps/images/facete/facete_cat_open.png" onclick="openNode('topic')">
	<a onclick="openNode('topic')" >
		$MESSAGES.getString("searchResult.facete.title.topic")
	</a>
	<br>
</div>
<div id="topic" class="cat_content">
	<div>
		#set($i = 0)
		#if($isTopicSelect == true)
        	#foreach ($topic in $selectedTopics)
    			#renderTopicListTree ($topic $selectedTopics)
			#end
		#else
			#foreach ($topic in $enableFaceteTopic)
    			#if($i < $enableFaceteTopicCount)
    				#renderTopicListTree ($topic $selectedTopics)
    			#end
    			#set($i = $i + 1)
			#end
		#end
	#renderFaceteMoreLinkLineDialog($MESSAGES.getString("searchResult.facete.category.plus") "" "dialog_topic" "button_topic")
	</div>
	#parse ('/WEB-INF/templates/facete/facete_dialog_topic.vm')		        
</div>