#set ($action = $renderResponse.createActionURL())

#macro(renderFacetCategory $nodes)
    #foreach($node in $nodes)
        #if(!$node.isCategoryOnly())
            #if(!$node.getQuery())
                #if($node.getDependency())
                    #if($node.isDependencySelect())
                        #if($node.getId() == 'area' || $node.getId() == 'area.map' || $node.getId() == 'attribute' || $node.getId() == 'area.address')
                            #renderFacetContent($node)
                        #else
                            #if($node.getFacets())
                                #set($nodeHasValueDependency = false)
                                #foreach($facet in $node.getFacets())
                                    #if($facet.getFacetValue() || $facet.isOldIPlug())
                                        #set($nodeHasValueDependency = true)
                                    #end
                                #end
                                #if($nodeHasValueDependency)
                                    #renderFacetContent($node)
                                #end
                            #end
                        #end
                    #end
                #else
                    #if($node.getHidden())
                        #if($node.isHiddenSelect() == false)
                            #if($node.getId() == 'area' || $node.getId() == 'area.map' || $node.getId() == 'attribute' || $node.getId() == 'area.address')
                                #renderFacetContent($node)
                            #else
                                #if($node.getFacets())
                                    #set($nodeHasValueHidden = false)
                                    #foreach($facet in $node.getFacets())
                                        #if($facet.getFacetValue() || $facet.isOldIPlug())
                                            #set($nodeHasValueHidden = true)
                                        #end
                                    #end
                                    #if($nodeHasValueHidden)
                                        #renderFacetContent($node)
                                    #end
                                #end
                            #end
                        #end
                    #else
                        #if($node.getId() == 'area' || $node.getId() == 'area.map' || $node.getId() == 'attribute' || $node.getId() == 'area.address')
                            #renderFacetContent($node)
                        #elseif($node.getWildcard())
                            #parse ('/WEB-INF/templates/facete/facete_wildcard.vm')
                        #elseif($node.getFacets())
                            #set($nodeHasValue = false)
                            #foreach($facet in $node.getFacets())
                                #if($facet.getFacetValue() || $facet.isOldIPlug() || $facet.isDisplay())
                                    #set($nodeHasValue = true)
                                #end
                            #end
                            #if($nodeHasValue || $node.isOpen())
                                #renderFacetContent($node)
                            #end
                        #end
                    #end
                #end
            #end
        #end
    #end
#end

#macro(renderFacetCategoryEntry $facet $parentId)
    #if(($facet.getFacetValue() || $facet.isOldIPlug() || $facet.isDisplay()) && !$facet.isCategoryOnly())
        #if($facet.getFacets())
            ## Check for sub facets
            #if($facet.isSelect())
                ## Create Tree with single selection
                #if($facet.isOldIPlug())
                    #set ($action = $renderResponse.createActionURL())
                    $action.setParameter("$parentId", "$facet.getId()")
                    #renderFaceteSelectedAttributeNumber($action $facet $MESSAGES.getString("${facet.getName()}") $facet.getFacetValue() $facet.isSelect())
                #else
                    #renderTree ($facet $parentId)
                #end
            #else
                ## Set single facets
                #set ($action = $renderResponse.createActionURL())
                $action.setParameter("$parentId", "$facet.getId()")
                #renderFaceteSelectedAttributeNumber($action $facet $MESSAGES.getString("${facet.getName()}") $facet.getFacetValue() $facet.isSelect())
            #end
        #else
            ## Set single facets
            #set ($action = $renderResponse.createActionURL())
            $action.setParameter("$parentId", "$facet.getId()")
            #renderFaceteSelectedAttributeNumber($action $facet $MESSAGES.getString("${facet.getName()}") $facet.getFacetValue() $facet.isSelect())
        #end
    #elseif($facet.getWildcard())
        #renderSubfacetWildcardContent($facet)
    #end
#end


#macro(renderFacetContent $facet)
    #if($facet && !$facet.isCategoryOnly())
        #if($facet.getId() == 'area' || $facet.getId() == 'area.map' || $facet.getId() == 'attribute' || $facet.getId() == 'area.address')
            ## RAUMBEZUG ##
            #if($facet.getId() == 'area')
                #parse ('/WEB-INF/templates/facete/facete_area.vm')
            #end
            
            #if($facet.getId() == 'area.map')
                #parse ('/WEB-INF/templates/facete/facete_area_map.vm')
            #end
            
            ## ATTRIBUTE ##
            #if($facet.getId() == 'attribute')
                #parse ('/WEB-INF/templates/facete/facete_attribute.vm')
            #end
            
            ## RAUMBEZUG - ADDRESSEN ##
            #if($facet.getId() == 'area.address')
                #parse ('/WEB-INF/templates/facete/facete_area_address.vm')
            #end
        #else
            #set($count = 0)
            #if($facet.getShowOnMoreThan() != 0)
                #foreach($tmpFacet in $facet.getFacets())
                    #if($tmpFacet.getFacetValue() || $facet.isDisplay())
                        #set($count = $count + 1)
                    #end
                #end
            #end
            #if($facet.getShowOnMoreThan() == 0 || $count > $facet.getShowOnMoreThan())
                <div class="sidebar__widget js-accordion-multi">
                    <div id="facet_$facet.getId()_header"class="sidebar__widget__title filter__title js-accordion-toggle #if($facet.isSelect() || $facet.isOpen())is-active#end">
                        $MESSAGES.getString("$facet.getName()")
                        <svg class="filter__title__icon icon">
                            <use xlink:href="#arrow-thick">
                        </svg>
                    </div>
                    <div id="facet_$facet.getId()_content" class="sidebar__widget__content js-accordion-content #if(!$facet.isSelect() && !$facet.isOpen())is-hidden#end">
                        #set($isSelected = false)
                        #foreach($subFacet in $facet.getFacets())
                            #if($subFacet.isSelect())
                                #set($isSelected = true)
                            #end
                        #end
                        
                        #foreach($subFacet in $facet.getFacets())
                            #if($isSelected)
                                #if($subFacet.isSelect())
                                    #renderFacetCategoryEntry($subFacet $facet.getId())
                                #end
                            #else
                                #renderFacetCategoryEntry($subFacet $facet.getId())
                            #end
                        #end
                    </div>
                </div>
            #end
        #end
    #end
#end

#macro (renderTree $treeFacet $treeParentId)
    <div class="js-accordion-multi">
        #set ($action = $renderResponse.createActionURL())
        $action.setParameter("$treeParentId", "$treeFacet.getId()")
        <div class="js-accordion-toggle sidebar-filter-subheader is-active" onclick="location.href='$action'">
        #set ($action = $renderResponse.createActionURL())
            <svg class="sidebar-subheader-icon icon">
                <use xlink:href="#select-arrow">
            </svg>
            $MESSAGES.getString("$treeFacet.getName()")
            <strong>($treeFacet.getFacetValue())</strong>
        </div>
    </div>
    <div id="$treeFacet.getId()" class="sidebar-filter-content">
    #set($isSelectedTree = false)
    #foreach ($treeSubFacet in $treeFacet.getFacets())
        #if($treeSubFacet.isSelect())
            #set($isSelectedTree = true)
        #end
    #end
    
    #foreach ($treeSubFacet in $treeFacet.getFacets())
        <ul>
        #if($treeSubFacet.getFacetValue() && !$treeSubFacet.isCategoryOnly())
            #set ($action = $renderResponse.createActionURL())
            $action.setParameter("$treeFacet.getId()", "$treeSubFacet.getId()")
            #if($treeSubFacet.getCodelistId())
               #set ($name = $Codelists.getCodeListValue($treeSubFacet.getCodelistId(), $treeSubFacet.getCodelistEntryId(), $languageCode))
            #else
               #set ($name = $MESSAGES.getString("$treeSubFacet.getName()"))
            #end
            <li>
                <svg class="icon sidebar-filter-content-icon">
                #if($treeSubFacet.isSelect())
                    <use xlink:href="#cross">
                #else
                    <use xlink:href="#select-arrow"/>
                #end
                </svg>
                <a href="$action">$name <strong>($treeSubFacet.getFacetValue())</strong></a>
            </li>
        #end
        </ul>
    #end
    </div>
#end

#macro (renderInputButtonDialog $buttonvalue $buttonstyle $buttonname $buttontitle $buttonclass $buttononclick)
    <input type="submit" class="$buttonclass" value="$buttonvalue" name="$buttonname" title="$buttontitle" onclick="$buttononclick" />
#end

#macro (renderFaceteSelectedAttributeNumber $doAction $facet $tooltip $number $isDelete)
    <div class="js-accordion">
        <div class="js-accordion-toggle sidebar-filter-subheader #if($isDelete)is-active#end" onclick="location.href='$doAction'">
            <svg class="sidebar-subheader-icon icon">
                <use xlink:href="#select-arrow">
            </svg>
            #set ($hasShortName = false)
            #if($facet.getShortName())
              #set ($hasShortName = true)
            #end
            #set ($hasMobileName = false)
            #if($facet.getMobileName())
              #set ($hasMobileName = true)
            #end
            <span #if($hasMobileName)class="mq-hide-l"#end>$MESSAGES.getString("$facet.getName()")</span>
            #if($hasMobileName)
              <span class="mq-show-l">$MESSAGES.getString("$facet.getMobileName()")</span>
            #end
            #if($number)
                <strong>($number)</strong>
            #else
                <strong>(0)</strong>
            #end
        </div>
    </div>
#end

#macro (renderFaceteSelectedAttributeHashMapNumber $doAction $title $numbers $key $isDelete)
    <p>
        <a class="btn btn--delete btn--small btn--block" href="$doAction">
        <svg class="icon link__icon"><use xlink:href="#cross"/></svg>
        $title
        #if($numbers && $key)
            #renderLinkEntryNumberInArrayHashMap($numbers $key)
        #end
        </a>
    </p>
#end

#macro(renderLinkEntryNumberInArrayHashMap $numbers $id)
    <span class="facete_label_number">
    #set($isFound = false)
    #foreach($number in $numbers)
        #foreach($key in $number.keySet())
            #if($key == "$id")
                #set($num = "$number.get($key)")
                #if($num != "" && $num != "0")
                    ($num)
                #end
            #end
        #end
    #end
    </span>
#end

#macro(renderLinkEntryNumberInHashMap $numbers $id)
    <span class="facete_label_number">
    #set($isFound = false)
    #foreach($key in $numbers.keySet())
        #if($key == "$id")
            #set($num = "$numbers.get($key)")
            #if($num != "" && $num != "0")
                ($num)
            #end
        #end
    #end
    </span>
#end

#macro(renderLinkEntryNumber $number)
    <span class="facete_label_number">
        #if($number != "" && $number != "0")
                ($number)
        #end
    </span>
#end

#macro(renderDeleteIcon $doAction $title)
    <a href="$doAction" class="facete_link_line">
        <img class="facete_delete_img" src="/ingrid-portal-apps/images/facete/facete_delete.png" title="$title"></img>
    </a>
#end

#macro(renderResetLink $doAction $title)
    <small class="tx-right">
        <a class="link" href="$doAction">
            <svg class="icon link__icon icon-s">
                <use xlink:href="#reset">
            </svg>
        $title
        </a>
    </small>
#end

#macro(renderCheckLink $doAction $title $onclick)
    <p class="bx-top-xs bx-bot-0 tx-right">
        <small>
            <a href=#if($doAction)"$doAction" #else "#" #end class="link" #if($onclick)onclick="$onclick" #end>
                <svg class="icon link__icon icon-xs"><use xlink:href="#check"/></svg>
                $title
            </a>
        </small>
    </p>
#end

#macro(renderCrossLink $doAction $title $onclick)
    <p class="bx-top-xs bx-bot-0 tx-right">
        <small>
            <a href=#if($doAction)"$doAction" #else "#" #end class="link" #if($onclick)onclick="$onclick" #end>
                <svg class="icon link__icon icon-xs"><use xlink:href="#cross"/></svg>
                $title
            </a>
        </small>
    </p>
#end

#set ($rankedHitslenght = $rankedResultList.get("length").toString())
#if($rankedHitslenght != "0")
    #if($enableFacetSelection > 0 || $isSelection)
        #set ($action = $renderResponse.createActionURL())
        $action.setParameter("doRemoveAll", "true")
        #renderResetLink($action $MESSAGES.getString('searchResult.facet.delete.selection'))
    #end
    #renderFacetCategory($facetConfig)

#else
    <p>
        #if($isSelection)
            $MESSAGES.getString("searchResult.facete.category.error")
        #else
            $MESSAGES.getString("searchResult.facete.category.no.hits") 
        #end
    </p>
        #if($enableFacetSelection > 0 && $isSelection)
            #set ($action = $renderResponse.createActionURL())
            $action.setParameter("doRemoveLast", "true")
            #renderResetLink($action $MESSAGES.getString('searchResult.facete.category.delete.last'))
        #end
        #if($enableFacetSelection > 0 || $isSelection)
            #set ($action = $renderResponse.createActionURL())
            $action.setParameter("doRemoveAll", "true")
            #renderResetLink($action $MESSAGES.getString('searchResult.facete.category.delete.all'))
        #end
    <br>
#end

#macro(renderSubfacetWildcardContent $node)
    #set($wildcard_item = $wildcardMap.get("$node.getId()"))
    #if($wildcard_item)
        #set($wildcard_item_term = $wildcard_item.get("term"))
    #end

    <div class="js-accoridon-toggle sidebar-filter-subheader">
        $node.getName()
    </div>
    #set ($action = $renderResponse.createActionURL())
    $action.setParameter("wildcard_id", "$node.getId()")
    $action.setParameter("wildcard", "$node.getWildcard()")
    <form action="$action" method="post" name="wildcard_$node.getId()">
        <div class="search-form ob-clear ob-flex">
            <input class="field" type="text" name="termWildcard_$node.getId()" id="termWildcard_$node.getId()" #if($wildcard_item_term)value="$wildcard_item_term"#end />
            <button type="submit" name="doSearchWildcard_$node.getId()" value="$MESSAGES.getString("searchResult.facete.wildcard.name.search.button")" class="btn btn--primary btn--icon-transition" style="min-width:0;">
                <svg class="icon"><use xlink:href="#magnifier"></use></svg>
            </button>
        </div>
        #if($wildcard_item_term)
            $action.setParameter("doClearSearchWildcard", "$node.getId()")
            #renderCrossLink($action $MESSAGES.getString("searchResult.facete.wildcard.name.delete"))
        #end
    </form>
#end
