#set ($action = $renderResponse.createActionURL())
<div class="sidebar__widget js-accordion-multi">
    <div id="facet_area_address_header" class="sidebar__widget__title filter__title js-accordion-toggle #if($doAddAreaAddress && $doAddAreaAddress.size() > 0)is-active#end">
        $MESSAGES.getString("searchResult.facete.title.area.address")
         <svg class="filter__title__icon icon">
            <use xlink:href="#arrow-thick"/>
        </svg>
    </div>
    <div id="facet_area_address_content" class="sidebar__widget__content sidebar__widget__content--pushed js-accordion-content #if(!$doAddAreaAddress || $doAddAreaAddress.size() == 0)is-hidden#end">
        #renderSearchResultFacetSelectionInfo($facet $MESSAGES)
        <form action="$action" method="post">
            <p>
              <input type="text" id="street" name="street" placeholder="$MESSAGES.getString("searchResult.facete.area.address.street")"
                #if($doAddAreaAddressInput.street)
                    value="$doAddAreaAddressInput.street"
                #end
                >
            </p>
            <p>
              <input type="text" id="zip" name="zip" placeholder="$MESSAGES.getString("searchResult.facete.area.address.zip")"
                #if($doAddAreaAddressInput.zip)
                    value="$doAddAreaAddressInput.zip"
                #end
                >
            </p>
            <p>
              <input type="text" id="city" name="city" placeholder="$MESSAGES.getString("searchResult.facete.area.address.city")"
                #if($doAddAreaAddressInput.city)
                    value="$doAddAreaAddressInput.city"
                #end
                >
            </p>
            #renderInputButtonDialog($MESSAGES.getString('searchResult.facete.dialog.commit') "" "doAddAreaAddress" $MESSAGES.getString('searchResult.facete.dialog.tooltip.commit') "btn btn--primary btn--small btn--block" "")
        </form>
        #if($doAddAreaAddress)
             ## Strasse
            #if($doAddAreaAddress.street)
                $action.setParameter("doRemoveAreaAddress",  "street")
                #renderFaceteSelectedAttributeHashMapNumber($action $doAddAreaAddress.street)
            #end
            ## PLZ
            #if($doAddAreaAddress.zip)
                $action.setParameter("doRemoveAreaAddress",  "zip")
                #renderFaceteSelectedAttributeHashMapNumber($action $doAddAreaAddress.zip)
            #end
            ## Ort
            #if($doAddAreaAddress.city)
                $action.setParameter("doRemoveAreaAddress",  "city")
                #renderFaceteSelectedAttributeHashMapNumber($action $doAddAreaAddress.city)
            #end
            #if($doAddAreaAddress.size() > 1)
               $action.setParameter("doRemoveAreaAddress",  "all")
               #renderCheckLink($action $MESSAGES.getString("searchResult.facete.area.address.delete"))
            #end
        #end
    </div>
</div>