#set ($action = $renderResponse.createActionURL())
<div id="dialog_${partner.ident}" class="facete_dialog" title="$MESSAGES.getString("searchResult.facete.title.provider.dialog")" dojoType="dijit.Dialog">
	<form name="providers_${partner.ident}_form" action="$action" method="post">
    	<div class="dialog_content">
			#set($k = 0)
			<div class="dialog_sub_content">
			#if($unselectedProvider)
				<p class="dialog_sub_title">$MESSAGES.getString("searchResult.facete.selected.entries")</p>
			#else
				<p class="dialog_sub_title">$MESSAGES.getString("searchResult.facete.result.entries")</p>
			#end
			#foreach ($provider in $enableFaceteProviderList)
				#if(${provider.sortkeyPartner} == ${partner.sortkey})
					#set($isSelectedChbProvider = false)
					#foreach ($selectChb in $selectedProvider)
						#if($isSelectedChbProvider != true)
							#if("${provider.ident}" == $selectChb)
								#set($isSelectedChbProvider = true)
							#end
						#end
					#end
					#set($k = $k + 1)
					<div class="facete_chb">
						<span class="facete_label_dialog">
                			<input id="${provider.ident}" class="facete_dialog_chb facete_input_chb" type=checkbox name="chk$k" value="${provider.ident}"
								#if($isSelectedChbProvider)
									checked
								#end
                            >$provider.name</input>
						</span>
						#if($elementsProvider && $provider.ident)
							#renderLinkEntryNumberInArrayHashMap($elementsProvider "$provider.ident")
						#end
                   	</div>
				#end
			#end
			</div>
			#if($unselectedProvider)
				<div>
				<p class="dialog_sub_title">$MESSAGES.getString("searchResult.facete.unselected.entries")</p>
                #foreach ($provider in $unselectedProvider)
    				#if(${provider.sortkeyPartner} == ${partner.sortkey})
    					#set($k = $k + 1)
    					<div class="facete_chb">
                    		<span class="facete_label_dialog">
								<input id="${provider.ident}" class="facete_dialog_chb facete_input_chb" type=checkbox name="chk$k" value="${provider.ident}">
                        		$provider.name
    						</span>
                       	</div>
    				#end
				#end
				</div>
			#end
		</div>
		#renderInputButtonDialog($MESSAGES.getString('searchResult.facete.dialog.commit') "" "doAddProvider" $MESSAGES.getString('searchResult.facete.dialog.tooltip.commit') "float_right btn_submit_dialog" "")
	</form>
	<div class="dialog_bottom">
		#renderInputButtonDialogCancel($MESSAGES.getString('searchResult.facete.dialog.cancel') "padding:0px 5px 0px 0px" "" $MESSAGES.getString('searchResult.facete.dialog.tooltip.cancel') "float_right" "faceteDialogCancel('dialog_${partner.ident}')")
		#renderInputButtonDialog($MESSAGES.getString('searchResult.facete.dialog.all.select') "padding:0px 5px 0px 0px" "" $MESSAGES.getString('searchResult.facete.dialog.tooltip.all.select') "float_left" "faceteDialogSelectAll(document.providers_${partner.ident}_form)")
		#renderInputButtonDialog($MESSAGES.getString('searchResult.facete.dialog.all.delete') "" "" $MESSAGES.getString('searchResult.facete.dialog.tooltip.all.delete') "float_left" "faceteDialogDeselectAll(document.providers_${partner.ident}_form)")
	</div>
</div>