#set ($action = $renderResponse.createActionURL())
<div class="cat_label">
	<img id="class_img" class="facete_open" src="/ingrid-portal-apps/images/facete/facete_cat_open.png" onclick="openNode('class')">
	<a onclick="openNode('class')">
		$MESSAGES.getString("searchResult.facete.title.metaclass")
		#renderLinkEntryNumber("$datatype.get($datatypeKey)")
	</a>
	$action.setParameter("doRemoveDatatype", "$datatypeKey")
    #renderDeleteIcon ($action)
	<br>
</div>

<div id="class" class="cat_content_entry" style="padding: 5px 0 0 20px;">
	#foreach ($metaclass in $enableFaceteMetaClass)
		#foreach ($key in $metaclass.keySet())
			#set($metaclassKey = $key)
			#set($title = "searchResult.facete.metaclass.$metaclassKey")
		#end
		#set($metaclassTitle = "$MESSAGES.getString($title)")
		#set($isSelectedChbMetaClass = false)
		#foreach ($selectChb in $selectedMetaclass)
			#if($isSelectedChbMetaClass != true)
				#if($metaclassKey == $selectChb)
					#set($isSelectedChbMetaClass = true)
				#end
			#end
		#end
		<div class="facete_chb">
    		<span>
				#set ($action = $renderResponse.createActionURL())
				#set ($title = $MESSAGES.getString("$metaclassTitle"))
        		#if($isSelectedChbMetaClass)
					$action.setParameter("doRemoveMetaclass", "$metaclassKey")
					#renderFaceteSelectedAttributeNumber ($action $title $metaclass.get($metaclassKey) true)
				#else
					$action.setParameter("doAddMetaclass", "$metaclassKey")
					#renderFaceteSelectedAttributeNumber ($action $title $metaclass.get($metaclassKey) false)
				#end
			</span>
		</div>
	#end
</div>