#set ($action = $renderResponse.createActionURL())
<div class="cat_label">
	<img id="measures_img" class="facete_open" src="/ingrid-portal-apps/images/facete/facete_cat_open.png" onclick="openNode('measures')">
	<a onclick="openNode('measures')" title="$MESSAGES.getString("searchResult.facete.title.measures.tooltip")">
		$MESSAGES.getString("searchResult.facete.title.measures")
		#if($datatype.get($datatypeKey))
			#renderLinkEntryNumber("$datatype.get($datatypeKey)")
		#end
	</a>
	$action.setParameter("doRemoveDatatype", "$datatypeKey")
    #if($action)
		#renderDeleteIcon ($action $MESSAGES.getString("searchResult.facete.category.delete.btn"))
	#end
	<br>
</div>

<div id="measures" class="cat_content_entry">
	#foreach ($measures in $enableFaceteMeasures)
		#foreach ($key in $measures.keySet())
			#set($measuresKey = $key)
			#set($measuresTitle = "searchResult.facete.measures.$measuresKey")
		#end
		#set($isSelectedChbMeasures = false)
		#foreach ($selectChb in $selectedMeasures)
			#if($isSelectedChbMeasures != true)
				#if($measuresKey == $selectChb)
					#set($isSelectedChbMeasures = true)
				#end
			#end
		#end
		<div class="facete_chb">
    		<span>
				#set ($action = $renderResponse.createActionURL())
				#if($isSelectedChbMeasures)
					$action.setParameter("doRemoveMeasures", "$measuresKey")
					<a href="$action" class="facete_label_chb">
						<input id="$measuresKey" class="facete_input_chb" type=checkbox checked onclick="location.href='$action'">
				#else
					$action.setParameter("doAddMeasures", "$measuresKey")
					<a href="$action">
						<input id="$measuresKey" class="facete_input_chb" type=checkbox onclick="location.href='$action'">
				#end
					$MESSAGES.getString("$measuresTitle")
					#if($measures.get($measuresKey))
						#renderLinkEntryNumber("$measures.get($measuresKey)")
					#end
						</input>
					</a>
			</span>
		</div>
	#end
</div>
