## check topic ref and set msg to render accordingly (location type)
#macro (setMsgTopicType $topicRef)
      #if ($topicRef)
        #set($msgTopicRef = $MESSAGES.getString("sns.topic.ref.${topicRef}"))
        #if ($msgTopicRef.startsWith("sns.topic"))
            #set($msgTopicRef = ${topicRef})
        #end
    #end
#end

## render location type if set
#macro (renderMsgTopicType)
#if($msgTopicRef), <span style="text-transform: uppercase;">$msgTopicRef</span>#end
#end

<div class="sidebar__widget js-accordion-multi">
    <div class="sidebar__widget__title filter__title js-accordion-toggle #if($geothesaurusTopics || $geothesaurusSelectTopics)is-active#end">
        $MESSAGES.getString("searchResult.facete.area.name.search")
         <svg class="filter__title__icon icon">
            <use xlink:href="#arrow-thick" >
        </svg>
    </div>
    <div class="sidebar__widget__content sidebar__widget__content--pushed js-accordion-content #if(!$geothesaurusTopics && !$geothesaurusSelectTopics)is-hidden#end">
        #set ($action = $renderResponse.createActionURL())
        <form action="$action" method="post" name="geothesaurus_form">
            <div class="search-form ob-clear ob-flex">
                #if($geothesaurusTerm)
                    <input class="field field--large" type="text" name="search_term" id="search_term" value="$geothesaurusTerm" />
                #else
                    <input class="field field--large" type="text" name="search_term" id="search_term"/>
                #end
                <button type="submit" name="doSearchGeothesaurus" value="$MESSAGES.getString("searchResult.facete.area.name.search.button")" class="btn btn--primary btn--icon-transition" style="min-width:0;">
                    <svg class="icon"><use xlink:href="#magnifier"></use></svg>
                </button>
            </div>
            
            #if($geothesaurusCurrentTopic)
            <div class="facete_dialog_sns_content">
                <p class="dialog_sub_title">$MESSAGES.getString("searchResult.facete.area.name.keyword")</p>
                #setMsgTopicType($geothesaurusCurrentTopic.topic_ref)
                <div class="facete_line">
                    <div class="facete_chb">
                           <p>
                            #set($topicId = $geothesaurusCurrentTopic.topicID)
                            #if($geothesaurusCurrentTopic.topicNativeKey && $geothesaurusCurrentTopic.topicNativeKey != "")
                                #set($topicId = $geothesaurusCurrentTopic.topicNativeKey)
                            #end
                            <span>$geothesaurusCurrentTopic.title #renderMsgTopicType()</span>
                        </p>
                    </div>
                </div>
            </div>
            #end
            #if($geothesaurusTopicsBrowse)
                <h6>$MESSAGES.getString("searchResult.facete.area.name.relations")</h6>
                #set($count = 0)
                #foreach($topic in $geothesaurusTopicsBrowse)
                    #set($count = $count + 1)
                    #setMsgTopicType($topic.topic_ref)
                    <div class="field-toggle field-toggle--check">
                        #set($topicId = $topic.topicID)
                        #if($topic.topicNativeKey && $topic.topicNativeKey != "")
                            #set($topicId = $topic.topicNativeKey)
                        #end
                        <input id="$topicId_$count" type=checkbox class="facete_input_chb_dialog" value="$topicId" name="chk$count"
                        #foreach($selectTopic in $geothesaurusSelectTopics)
                            #if($selectTopic.topicId == $topicId)
                                checked
                            #end
                        #end
                        >
                        <label class="field-toggle__label field-toggle__label--highlight" for="$topicId_$count">
                            <div class="field-toggle__icon field-toggle__icon-alt">
                                <svg class="icon">
                                    <use xlink:href="#tick">
                                </svg>
                            </div>
                            $topic.title#renderMsgTopicType()
                        </label>
                    </div>
                #end
            #elseif($geothesaurusTopics)
                <h6>$MESSAGES.getString("searchResult.facete.area.name.keyword")</h6>
                #set($count = 0)
                #foreach($topic in $geothesaurusTopics)
                    #set($count = $count + 1)
                    #setMsgTopicType($topic.topic_ref)
                    <div class="field-toggle field-toggle--check">
                        #set($topicId = $topic.topicID)
                        #if($topic.topicNativeKey && $topic.topicNativeKey != "")
                            #set($topicId = $topic.topicNativeKey)
                        #end
                        <input id="$topicId_$count" type=checkbox class="facete_input_chb_dialog" value="$topicId" name="chk$count"
                        #foreach($selectTopic in $geothesaurusSelectTopics)
                            #if($selectTopic.topicId == $topicId)
                                checked
                            #end
                        #end
                        >
                        <label class="field-toggle__label field-toggle__label--highlight" for="$topicId_$count">
                            <div class="field-toggle__icon field-toggle__icon-alt">
                                <svg class="icon">
                                    <use xlink:href="#tick">
                                </svg>
                            </div>
                            $topic.title#renderMsgTopicType()
                        </label>
                    </div>
                #end
            #end
            #if($geothesaurusTopicsBrowse || $geothesaurusTopics)
                #renderCheckLink("#" $MESSAGES.getString('searchResult.facete.dialog.all.select') "faceteDialogSelectAll(document.geothesaurus_form)")
	            #renderCrossLink("#" $MESSAGES.getString('searchResult.facete.dialog.all.delete') "faceteDialogDeselectAll(document.geothesaurus_form)")
	        #end
            #if($geothesaurusError)
                <p>
                    $MESSAGES.getString('searchResult.facete.area.name.search.error')
                </p>
            #end
            <p><button type="submit" name="doAddGeothesaurus" class="btn btn--primary btn--small btn--block">$MESSAGES.getString('searchResult.facete.dialog.commit')</button></p>
        </form>
        
        #foreach ($geothesaurus in $geothesaurusSelectTopics)
            $action.setParameter("doRemoveGeothesaurus",  $geothesaurus.topicId)
            #set($title = "$geothesaurus.topicTitle") 
            #renderFaceteSelectedAttributeHashMapNumber ($action $title $elementsGeothesaurus $geothesaurus.topicId true)
        #end
        #if($geothesaurusSelectTopics && $geothesaurusSelectTopics.size() > 1)
            $action.setParameter("doRemoveGeothesaurus",  "all")
            #renderCrossLink($action $MESSAGES.getString("searchResult.facete.area.name.delete"))
        #end
    </div>
</div>