
#set ($action = $renderResponse.createActionURL())
<div id="dialog_area_map" class="facete_dialog" style="min-width:800px;" title="$MESSAGES.getString("searchResult.facete.area.map.search")" dojoType="dijit.Dialog">
#renderCloseDialogJS ("faceteDialogCancel('dialog_area_map');" $MESSAGES.getString("searchResult.facete.dialog.tooltip.close"))
  <div class="dialog_content" id="dialog_area_map_content" style="max-height: none;">
  	<div id="openlayersDiv" style="width:100%;"></div></div>
	<form action="$action" method="post" name="facete_map_form">
		<h3>$MESSAGES.getString("searchResult.facete.area.map.options")</h3>
        <p>
        <input id="chk_1" type="checkbox" value="inside" name="chk_1" onclick="showButtonSelectCheckboxForm(document.facete_map_form, 'facete_map_submit_btn')"
			#if($doMapCoords.inside)
				checked
			#end
			>
        <label for="chk_1">$MESSAGES.getString("searchResult.facete.area.map.options.inside")</label>
        <br>
        <input id="chk_2" type="checkbox" value="intersect" name="chk_2" onclick="showButtonSelectCheckboxForm(document.facete_map_form, 'facete_map_submit_btn')"
			#if($doMapCoords.intersect)
				checked
			#end
			>
        <label for="chk_2">$MESSAGES.getString("searchResult.facete.area.map.options.intersect")</label>
        <br>
        <input id="chk_3" type="checkbox" value="include" name="chk_3" onclick="showButtonSelectCheckboxForm(document.facete_map_form, 'facete_map_submit_btn')"
			#if($doMapCoords.include)
				checked
			#end
			>
        <label for="chk_3">$MESSAGES.getString("searchResult.facete.area.map.options.include")</label>
        <br>
        <div class="formbody_webmapclient_coordinates_title">$MESSAGES.getString('searchExtEnvPlaceMap.label.selected_coordinates')</div>
 	    <div id="coordinatesOutput" class="formbody_webmapclient_coordinates" ></div>        
        <input id="x1" name="x1" type="hidden" />
        <input id="x2" name="x2" type="hidden" />
        <input id="y1" name="y1" type="hidden" />
        <input id="y2" name="y2" type="hidden" />

        </p>
                
        <div class="dialog_bottom">
			<div id="facete_map_submit_btn" style="display:none">
        	#renderInputButtonDialog($MESSAGES.getString('searchResult.facete.dialog.commit') "" "doAddMap" $MESSAGES.getString('searchResult.facete.dialog.tooltip.commit') "float_right" "")
			</div>
        	#renderInputButtonDialogCancel($MESSAGES.getString('searchResult.facete.dialog.cancel') "padding:0px 5px 0px 0px" "" $MESSAGES.getString('searchResult.facete.dialog.tooltip.cancel') "float_right" "faceteDialogCancel('dialog_area_map')")
		</div>
	</form>
</div>