#set ($action = $renderResponse.createActionURL())
<div class="cat_label">
	<img id="time_img" class="facete_open" src="/ingrid-portal-apps/images/facete/facete_cat_open.png" onclick="openNode('time')">
	<a onclick="openNode('time')" >$MESSAGES.getString("searchResult.facete.title.time")</a>
	<br>
</div>
<div id="time" class="cat_content">
	#if($doTime && $doTime == "1")
		$action.setParameter("doTime",  "0")
		#renderFaceteSelectedAttribute($action $MESSAGES.getString("searchResult.facete.time.1"))
	#elseif($doTime && $doTime == "2")
		$action.setParameter("doTime",  "0")
		#renderFaceteSelectedAttribute($action $MESSAGES.getString("searchResult.facete.time.2"))	
	#elseif($doTime && $doTime == "3")
		$action.setParameter("doTime",  "0")
		#renderFaceteSelectedAttribute($action $MESSAGES.getString("searchResult.facete.time.3"))
	#elseif($doTime && $doTime == "4")
		$action.setParameter("doTime",  "0")
		#renderFaceteSelectedAttribute($action $MESSAGES.getString("searchResult.facete.time.4"))
	#else
		$action.setParameter("doTime",  "1")
		<div>
        	<span class="facete_label">
        		<a href="$action" class="facete_link_line">$MESSAGES.getString("searchResult.facete.time.1")</a>
    			#renderLinkEntryNumberInArrayHashMap($elementsTime "modtime1")
        	</span>
    	</div>
    	$action.setParameter("doTime",  "2")
    	<div>
            <span class="facete_label">
        		<a href="$action" class="facete_link_line">$MESSAGES.getString("searchResult.facete.time.2")</a>
    			#renderLinkEntryNumberInArrayHashMap($elementsTime "modtime2")
        	</span>
        </div>
    	$action.setParameter("doTime",  "3")
        <div>
            <span class="facete_label">
        		<a href="$action" class="facete_link_line">$MESSAGES.getString("searchResult.facete.time.3")</a>
    			#renderLinkEntryNumberInArrayHashMap($elementsTime "modtime3")
        	</span>
    	</div>
    	$action.setParameter("doTime",  "4")
    	<div>
            <span class="facete_label">
        		<a href="$action" class="facete_link_line">$MESSAGES.getString("searchResult.facete.time.4")</a>
    			#renderLinkEntryNumberInArrayHashMap($elementsTime "modtime4")
        	</span>
		</div>
    #end
    <br>
</div>