#set ($action = $renderResponse.createActionURL())
#macro(renderProviderListTree $provider)
	<div id="${provider.ident}">
		<div>
			#set($isSelectedChbProvider = false)
			#foreach ($selectChb in $selectedProvider)
				#if($isSelectedChbProvider != true)
					#if("${provider.ident}" == $selectChb)
						#set($isSelectedChbProvider = true)
					#end
				#end
			#end
			<div class="facete_chb">
        		<span class="facete_label">
					#set ($action = $renderResponse.createActionURL())
					#if($isSelectedChbProvider)
    					$action.setParameter("doRemoveProvider", "${provider.ident}")
    					<a href="$action" class="facete_label_chb">
							<input id="${provider.ident}" class="facete_input_chb" type=checkbox checked onclick="location.href='$action'">
					#else
						$action.setParameter("doAddProviderChb", "${provider.ident}")
    					<a href="$action">
							<input id="${provider.ident}" class="facete_input_chb" type=checkbox onclick="location.href='$action'">
					#end
    						$provider.name
    						#renderLinkEntryNumberInArrayHashMap($elementsProvider "${provider.ident}")
                            </input>
						</a>
				</span>
    		</div>
		</div>
	</div>
#end




<div class="cat_label">
	<img id="partner_img" class="facete_open" src="/ingrid-portal-apps/images/facete/facete_cat_open.png" onclick="openNode('partner')">
	<a onclick="openNode('partner')" >$MESSAGES.getString("searchResult.facete.title.provider")</a>
	<br>
</div>
<div id="partner" class="cat_content">
	<div>
		#foreach ($partner in $enableFacetePartnerList)
			#if($isPartnerSelect)
				<div class="cat_label">
					<span class="facete_label">
    					<img id="${partner.ident}_img" class="facete_open" src="/ingrid-portal-apps/images/facete/facete_cat_open.png" onclick="openNode('${partner.ident}')">
    					$action.setParameter("doRemovePartner",  "${partner.ident}")
                        <a onclick="openNode('${partner.ident}')">$partner.name</a>
    					#renderLinkEntryNumberInArrayHashMap($elementsPartner "${partner.ident}")
    					#renderDeleteIcon ($action)
					</span>
    			</div>
    			<div id="class" class="cat_content_entry">
        			<div id="${partner.ident}">
        			#set($j = 0)
    				#if($isProviderSelect)
    					#foreach ($provider in $enableFaceteProviderList)
    							#renderProviderListTree ($provider)
    					#end
        			#else
    					#foreach ($provider in $enableFaceteProviderList)
            				#if(${provider.sortkeyPartner} == ${partner.sortkey})
    							#if($j < $enableFacetePartnerListCount)
    								#renderProviderListTree ($provider)
            					#end
            					#set($j = $j + 1)
            				#end
        				#end
					#end
    					<ul class="facete_ul_more">
    						<li>
    							#renderFaceteMoreLinkLineDialog($MESSAGES.getString("searchResult.facete.category.plus") "" "dialog_${partner.ident}" "button_${partner.ident}")
                            </li>
    						#if($isProviderSelect)
    						<li>
    							<img class="more_seperator" src="/ingrid-portal-apps/images/facete/facete_delete_seperator.png">
                            </li>
    						<li>
    							$action.setParameter("doRemoveAllProvider",  "true")
                            	#renderFaceteDeleteLinkLineDialog($MESSAGES.getString("searchResult.facete.category.delete") $action)
                            </li>
    						#end
                        </ul>
                    </div>
				#parse ('/WEB-INF/templates/facete/facete_dialog_provider.vm')
               </div>
			#else
				<div class="facete_chb">
					<span class="facete_label">
    					$action.setParameter("doPartner", ${partner.ident})
    					<a href="$action">$partner.name</a>
						#renderLinkEntryNumberInArrayHashMap($elementsPartner "${partner.ident}")
					</span>
				</div>
			#end
		#end
		</div>
		<br />
</div>