#if($cmsItemValue)
<div class="about-wrapper dark">
    <div class="row">
        <div class="large-24 columns" style="padding-top: 15px">
            <h2 style="text-align: center">
                $cmsItemTitle
            </h2>
            $cmsItemValue
        </div>
    </div>
</div>
#end