<section class="block">
    <div class="ob-box-wide ob-box-padded ob-box-center">
        <article class="content ob-container">
            $jetspeed.renderPortletWindow("SearchSimple", "ingrid-portal-apps::SearchSimple")
        </article>
    </div>
</section>

<section class="block">
    <div class="ob-box-wide ob-box-padded ob-box-center">
        <article class="content ob-container">
            $jetspeed.renderPortletWindow("ShowMapsPortletTeaser", "ingrid-portal-apps::ShowMapsPortletTeaser")
        </article>
    </div>
</section>

<section class="block block--pad-top block--light">
    <div class="ob-box-wide ob-box-padded ob-box-center">
        <article class="content ob-container">
            $jetspeed.renderPortletWindow("IngridInformPortlet", "ingrid-portal-apps::IngridInformPortlet")
        </article>
    </div>
</section>




<section class="block block--pad-top">
    <div class="ob-box-wide ob-box-padded ob-box-center">
        <article class="content ob-container">
            $jetspeed.renderPortletWindow("CategoryTeaser", "ingrid-portal-apps::CategoryTeaser")
        </article>
    </div>
</section>

<section class="block block--pad-top block--light">
    <div class="ob-box-wide ob-box-padded ob-box-center">
        <article class="content ob-container">
            $jetspeed.renderPortletWindow("RssNewsTeaser", "ingrid-portal-apps::RssNewsTeaser")
        </article>
    </div>
</section>

<section class="block block--padded">
    <div class="ob-box-wide ob-box-padded ob-box-center">
        <article class="content ob-container">
        </article>
    </div>
</section>