<div class="columns">
    #set ($action = $renderResponse.createActionURL())
    #set($tab = $actionForm.getInput('tab'))
    #if(!$tab || $tab == "")#set($tab = "1")#end
    <ul class="tabs js-tabs">
        $action.setParameter('action','doChangeTab')
        $action.setParameter('id',$actionForm.getInput("id"))
        $action.setParameter('layoutPermission',$actionForm.getInput("layoutPermission"))
        $action.setParameter('tab','1')
        <li class="tabs-title #if($tab=='1')is-active#end" data-tabid="1" #if($tab != '1')onclick="location.href='$action'"#end>
            <a #if($tab=='1')aria-selected="true"#end role="tab" aria-controls="panel1" id="tab1-label" tabindex="0">$MESSAGES.getString('account.edit.tab1')</a>
            <span class="pointer"></span>
        </li>
        ## only show permission tab if we are "admin"
        #if($actionForm.getInput('layoutPermission') == "admin")
            $action.setParameter('tab','2')
            <li class="tabs-title #if($tab=='2')is-active#end" data-tabid="2" #if($tab != '2')onclick="location.href='$action'"#end>
                <a #if($tab=='2')aria-selected="true"#end aria-selected="false"role="tab" aria-controls="panel1" id="tab2-label" tabindex="0">$MESSAGES.getString('account.edit.tab2')</a>
                <span class="pointer"></span>
            </li>
        #end
    </ul>
    
    <form class="form content-small" action="$action" method="post" name="frmEditUser" id="frmEditUser">
        <div class="row columns">
            #if ($mode == 'edit')
                <h4>$MESSAGES.getString('account.edit.update.user')</h4>
            #elseif ($mode == 'new')
                <h4>$MESSAGES.getString('account.edit.add.user')</h4>
            #end
            <input type="hidden" name="tab" value="$tab"/>
            <input type="hidden" name="id" value="$actionForm.getInput('id')"/>
            <input type="hidden" name="layoutPermission" value="$actionForm.getInput('layoutPermission')"/>
            #if($tab=='1')
                #displayFormError()
                #displayFormMessages()
                <hr>
                <div class="form-element">
                    <label for="salutation">#displayFieldLabel('salutation' $MESSAGES.getString('account.edit.label.salutation'))</label>
                </div>
                <div class="form-element">
                    <p>
                        <select class="select2" name="salutation" id="salutation" size="1">
                            <option value="0" #getSelectedFlag('salutation' '0')>---</option>
                            <option value="1" #getSelectedFlag('salutation' '1')>$MESSAGES.getString('account.edit.salutation.option1')</option>
                            <option value="2" #getSelectedFlag('salutation' '2')>$MESSAGES.getString('account.edit.salutation.option2')</option>
                            <option value="3" #getSelectedFlag('salutation' '3')>$MESSAGES.getString('account.edit.salutation.option3')</option>
                            <option value="4" #getSelectedFlag('salutation' '4')>$MESSAGES.getString('account.edit.salutation.option4')</option>
                        </select>
                    </p>
                </div>
                <div class="form-element">
                    <label for="firstname">$MESSAGES.getString('account.edit.label.firstname')*</label>
                </div>
                <div class="form-element">
                    <input type="text" id="firstname" name="firstname" value="#getFieldValue('firstname')" #addErrorFormClass('firstname') #addErrorFormMessagePlaceholder('firstname') />
                </div>
                <div class="form-element">
                    <label for="lastname">$MESSAGES.getString('account.edit.label.lastname')*</label>
                </div>
                <div class="form-element">
                    <input type="text" id="lastname" name="lastname" value="#getFieldValue('lastname')" #addErrorFormClass('lastname') #addErrorFormMessagePlaceholder('lastname') />
                </div>
                <div class="form-element">
                     <label for="email">$MESSAGES.getString('account.edit.label.email')*</label>
                </div>
                <div class="form-element">
                    <input type="text" id="email" name="email" value="#getFieldValue('email')" #addErrorFormClass('email') #addErrorFormMessagePlaceholder('email') />
                    #addErrorFormMessagePlaceholderWithInputCheck('email')
                </div>
                   <hr/>
                <div class="form-element">
                    <label for="login">$MESSAGES.getString('account.create.label.username')</label>
                </div>
                <div class="form-element">
                    <p>#getFieldValue('id')</p>
                </div>
                #if($actionForm.getInput('id') != "admin")
                    <div class="xsmall-24 medium-6 columns">
                        <div class="form-element boxed">
                            <div class="control-group">
                                <label class="control control--checkbox field-toggle__label field-toggle__label--boxed" for="enabled">
                                    <input id="enabled" type="checkbox" name="enabled" value="1" #getChecked('enabled' '1') onchange="adapt()">
                                    <div class="control__indicator"></div>
                                    $MESSAGES.getString('account.edit.enable')
                                </label>
                            </div>
                        </div>
                    </div>
                #end
                <hr/>
                <div class="form-element">
                    <label for="password_new">$MESSAGES.getString('account.edit.label.password_new')</label>
                </div>
                <div class="form-element">
                    <input type="password" id="password_new" name="password_new" value="#getFieldValue('password_new')" #addErrorFormClass('password_new') #addErrorFormMessagePlaceholder('password_new') onchange="checkPassword(document.getElementById('password_new').value, 'password-strength-meter', 'password-strength-text'); return true;" onkeypress="this.onchange();" oninput="this.onkeypress();"/>
                    <b><small class="media__obj--right" id="password-strength-text"></small></b>
                    <meter max="4" id="password-strength-meter">
                      <div class="meter-gauge">
                          <p style="width: 0.0%;">Meterfallback</p>
                      </div>
                    </meter>
                    #addErrorFormMessagePlaceholderWithInputCheck('password_new')
                </div>
                <div class="form-element">
                    <label for="password_new_confirm">$MESSAGES.getString('account.edit.label.password_new_confirm')</label>
                </div>
                <div class="form-element">
                    <input type="password" id="password_new_confirm" name="password_new_confirm" value="#getFieldValue('password_new_confirm')" #addErrorFormClass('password_new_confirm') #addErrorFormMessagePlaceholder('password_new_confirm') />
                    #addErrorFormMessagePlaceholderWithInputCheck('password_new_confirm')
                </div>
                #if($actionForm.getInput('id') != "admin")
                    <div class="xsmall-24 columns">
                        <div class="form-element boxed">
                            <div class="control-group">
                                #addErrorFormMessage('send_info')
                                <label class="control control--checkbox field-toggle__label field-toggle__label--boxed #addErrorFormClassLabelText('send_info')" for="send_info">
                                    <input id="send_info" type="checkbox" name="send_info" value="1" #getChecked('send_info' '1') onchange="adapt()">
                                    <div class="control__indicator"></div>
                                    $MESSAGES.getString('account.edit.send.information')
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="xsmall-24 columns">
                        <div class="form-element boxed">
                            <div class="control-group">
                                <label class="control control--checkbox field-toggle__label field-toggle__label--boxed" for="password_update_required">
                                    <input id="password_update_required" type="checkbox" name="password_update_required" value="1" #getChecked('password_update_required' '1') onchange="adapt()">
                                    <div class="control__indicator"></div>
                                    $MESSAGES.getString('account.edit.password.update.required')
                                </label>
                            </div>
                        </div>
                </div>
                #end
                <hr />
                <h3>$MESSAGES.getString('account.edit.address.information')</h3>
                <div class="form-element">
                     <label for="street">#displayFieldLabel('street' $MESSAGES.getString('account.edit.label.street'))</label>
                </div>
                <div class="form-element">
                     <input type="text" id="street" name="street" value="#getFieldValue('street')" />
                 </div>
                <div class="form-element">
                     <label for="postalcode">#displayFieldLabel('postalcode' $MESSAGES.getString('account.edit.label.postalcode'))</label>
                </div>
                <div class="form-element">
                     <input type="text" id="postalcode" name="postalcode" value="#getFieldValue('postalcode')" />
                 </div>
                <div class="form-element">
                      <label for="city">#displayFieldLabel('city' $MESSAGES.getString('account.edit.label.city'))</label>
                </div>
                <div class="form-element">
                      <input type="text" id="city" name="city" value="#getFieldValue('city')" />
                </div>
            #elseif($tab=='2')
                #displayFormError()
                #displayFormMessages()
                <hr>
                ## only show content of permission tab if we are "admin"
                #if($actionForm.getInput('layoutPermission') == "admin")
                    <div class="xsmall-24 medium-6 columns">
                        <div class="form-element boxed">
                            <div class="control-group">
                                <label class="field-toggle__label field-toggle__label--boxed" for="admin_portal">
                                    <input id="admin_portal" type="checkbox" name="admin_portal" value="1" #getChecked('admin_portal' '1') onchange="adapt()">
                                    <div class="control__indicator"></div>
                                    $MESSAGES.getString('account.edit.admin.portal')
                                </label>
                            </div>
                        </div>
                    </div>
                #end
            #end
            <hr />
            <div class="subtext-submit">
                <h6>* $MESSAGES.getString('account.edit.required.fields')</h6>
                #renderDBEditFooter($mode)
            </div>
        </div>
    </form>
</div>
<script >
    var error = $actionForm.hasErrors();
    if(error){
        goToByScroll('frmEditUser');
    }
</script>
#parse ('/WEB-INF/templates/global/include_passwort_meter.vm')
