/* XSMALL mobile screens only 559 max */
@media screen and (max-width: 559px) {
  
  header .menu-tab-row .menu-tab {
    height: 76px;
    width: 66px;
    font-size: 14px;

    .link-menu-tab {
      top: 32px;
      padding: 8px 0;

      [class^="ic-"], [class*=" ic-"] {
        font-size: 22px;
        top: -18px;
        left: 22px;
      }
    }
  }
  .header-menu-open {
    text-align: right;
    right: 12px;
    .login {
      display: none;
    }
  }
}

/* SMALL 560px  */
@include breakpoint(small) {

  header {
    height: 120px;
    .row {
      .columns {
        padding-left: .4444444444rem;
        padding-right: .4444444444rem;
      }
    }
    .logo a { top: 22px; left: 0; }
  }

  .xsmall-button { display: none; }
  .small-button { display: inline-block; }
  .header-menu-open {
    text-align: right;
    right: 12px;
    button { margin: 25px 0 0 0; }
  }
  .header-menu {
    width: 450px;
    z-index: 1100;
  }
  .header-menu-close {
    padding: 25px 8px 0 0;

    button { padding: 14px 24px; }
  }

  .tabs .tabs-title>a { padding: 24px 60px 16px; }

  .teaser-data {
    .data-text { height: 112px; }
  }

}


/* MEDIUM 768px  */
@include breakpoint(medium) {
  
  h1 { line-height: 50px; }
  h2 { line-height: 40px; }
  h3 { line-height: 34px; }
  h4 { line-height: 30px; }
  h5 { line-height: 24px; }
  blockquote p {
    font-size: 24px;
    line-height: 30px;
  }
  header {
    .row {
      .columns {
        padding-left: .6666666667rem;
        padding-right: .6666666667rem;
      }
    }
  }
  
  .header-menu-close { padding: 25px 12px 0 0; }
  .menu-main-links, .menu-sub-links { padding: 25px 12px 25px 38px; }

  .social-buttons {
    text-align: center;
    width: 0px;
  }

  .intro {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 48px;
  }

  .banner.home {
    padding-top: 3rem;

    h1 {
      font-size: 44px;
      line-height: 50px;
    }
    .home-wrapper {

      h1 .ic-ic-asterisc { font-size: 29px; }
      .indent {
        padding-left: 32px;

        span { font-size: 23px; }
      }
    }
  }
  .banner.subpage .subpage-wrapper, .banner-noimage .page-wrapper {
    background-position: -140px -135px;
    padding: 64px 0 16px;
  }
  .banner.search .search-wrapper { padding: 64px 0; }

  .input-search {

    .input-search-field {
      height: 80px;
      font-size: 22px;
      text-indent: 16px;
      padding-right: 170px;
      overflow: scroll;
      border: 2px solid $blue-rhapsody;
      border-radius: 50px;
    }
    .button.large {
      position: absolute;
      top: 9px;
      right: 8px;
    }
  }

  .tabs .tabs-title>a { padding: 24px 80px 16px; }

  .teaser-data {

    .text-wrapper { padding: 40px; }
    .header {
      font-size: 24px;
      line-height: 30px;
    }
    .data-text { height: 82px; }
  }
  .teaser-data-projects {
    margin: 64px 0;

    .projects-header {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 48px;
    }
    .form-element { margin-bottom: 0; }
  }
  .teaser-data.search { padding: 40px; }

  .portlet-margin-bottom { margin-bottom: 64px;}

  .about {
    .about-wrapper { padding: 64px 0; }
  }

  .timeline .timeline-text {
    .icon-dot .icon { top: 2px; }
    .icon-check .icon { top: 6px; }
  }

}

@media screen and (max-width: 63.9375em) {
  .search-filtered {
    .accordion.accordion-filter-group {
      background-color: $green-jelly;
      border-radius: 25px;
      padding: 0 24px 14px;
      margin-bottom: 48px;
    
      .accordion-item.accordion-item-filter-group {
        margin: 0;
      }
      .accordion-title.accordion-title-filter-group {
        font-family: 'Roboto-Bold';
        font-size: 16px;
        color: $white;
        text-transform: uppercase;
        background-color: $green-jelly;
        padding: 14px 0 0 0;
      }
      .accordion-title.accordion-title-filter-group:hover { box-shadow: none; }
      .accordion-title-filter-group::after {
        content: '\e912';
        top: 23px;
        right: 0;
      }
      .accordion-content.filter-wrapper {
        border-radius: 18px;
        padding: 0 16px 16px;
        margin-top: 24px;
        margin-bottom: 10px;
      }
    }
  }
}

/* LARGE 1024px  */
@include breakpoint(large) {

  footer .footer {
    .footer-menu-entries, .copyright { text-align: left; }
  }

  blockquote p {
    font-size: 32px;
    line-height: 40px;
    margin-top: 48px;
  }

  .search-filtered {
    margin-top: 4rem; 
   
    .accordion.accordion-filter-group .accordion-content.filter-wrapper {
      display: block !important;
      padding: 0px;
    }
  }

  .teaser-data {
    height: 420px;

    .data-text { height: 110px; }
    .map-wrapper { border-left: 2px solid $blue-light; }
    .map-teaser {
      height: 416px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: initial;
    }
  }
  .teaser-data-projects {
    margin: 72px 0;

    .projects-header {
      font-size: 32px;
      line-height: 40px;
    }
  }

  .portlet-margin-bottom { margin-bottom: 72px;}

  .about {
    .about-wrapper {
      padding: 80px 0;

      h2 { margin-left: 0; }
    }
  }

  .timeline .timeline-text { width: 92%; }

}


/* XLARGE 1248px  */
@include breakpoint(xlarge) {

  .dark.preview { padding: 24px; }

  .banner.home {
    padding-top: 4rem;
    
    h1 {
      font-size: 56px;
      line-height: 64px;
    }
    .home-wrapper {

      h1 .ic-ic-asterisc { font-size: 37px; }
    }
  }
  .banner.subpage .subpage-wrapper, .banner-noimage .page-wrapper { padding: 80px 0 32px; }

  .map-filter {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 12px;
  }
  .map-ingrid .map-filter {
    bottom: initial;
    top: 0;
    left: 0;
  }

  .teaser-data {
    .data-text { height: 140px; }
  }
}

// XXLARGE large desktop screen
@media screen and (min-width: 1800px) {

    .header-menu {
      width: 400px;
    }
    .header-menu-close {
      padding: 25px 12px 0 34px;
    }

}