/* colors */
$bg-color: #fff;

$brand-light-blue: #40B9EC;
$brand-dark-blue: #004F80;

$neutral-white: #F6F6F6;
$neutral-beige: #F1EEE7;
$neutral-light-blue: #36A1E5;
$neutral-blue: #C6CFE2;
$neutral-dark-grey: #5E788D;
$neutral-grey: #BABABA;
$neutral-brown: #808080;
$neutral-black: #000000;

$utility-night: #00253C;
$utility-lavender: #3959B0;
$utility-water: #3278B9;
$utility-sea: #004F80;
$utility-ice: #D8EEFF;
$utility-sun: #F5BD2B;
$utility-orange: #F49525;
$utility-sky: #1BACC8;
$utility-rose: #CA526A;
$utility-grass: #7DC92E;
$utility-red: #FF0000;



/* UVP colors */
$green-blue: #21665d;
$green-jelly: #349980;
$green-inch: #b0ea52;
$blue-midnight: #1d4b7b;
$dark-midnight: #203564;
$blue-rhapsody: #012d47;
$blue-prov: #5e788d;
$blue-light: #c6cfe2;
$blue-sky: #eaf6ff;
$white-cascade: #f6f6f6;
$blue: #40b9ec;
$red: #ca526a;
$orange: #f49525;
$green: #67b92f;