<p>
#if($xParentPath == "./idf:idfResponsibleParty" || $xParentPath == ".")
    #set($xPath = "$xParentPath/idf:hierarchyParty")
    #if($TOOL.nodeExist($xPath, $node))
        #set($hierarchyParty = $TOOL.getNodeListFromXPath($xPath, $node))
        #set($hierarchyPartyLength = $hierarchyParty.getLength() - 1)
        #set($types = ["2","3","0","1"])
        #foreach($type in $types)
            #foreach($hierarchy in [0..$hierarchyPartyLength])
                #set($hierarchyPartyNode = $hierarchyParty.item($hierarchy))

                #set($xPath = "./@uuid")
                #set($uuid = $TOOL.getValueFromXPath($xPath, null, $hierarchyPartyNode))

                #set($xPath = "./idf:addressType")
                #set($t = $TOOL.getValueFromXPath($xPath, null, $hierarchyPartyNode))
                #if($type == $t)
                    #if($t == "2")
                        #set($xPath = "./idf:addressIndividualName")
                        ## Person -> Name
                        #if($TOOL.nodeExist($xPath, $hierarchyPartyNode))
                            #set($tmpAddressIndividualName = $TOOL.getIndividualName($TOOL.getValueFromXPath($xPath, null, $hierarchyPartyNode)))
                            #set($tmpTitle = $TOOL.getIndividualName($TOOL.getValueFromXPath($xPath, null, $hierarchyPartyNode)))
                            #if(!$unlinkAddress)
                            <a class="link-line" href="?docuuid=$uuid&type=address#if($detailUseParamPlugid)&plugid=$TOOL.getiPlugId()#end" title="$stringTool.htmlescape($tmpTitle)">$tmpTitle</a>
                            #else
                                $tmpTitle
                                <br>
                            #end
                        #end
                    #elseif($t == "3")
                        ## Free Address -> Name or Organisation
                        #if($TOOL.nodeExist("./idf:addressIndividualName", $hierarchyPartyNode))
                            #set($tmpTitle = $TOOL.getIndividualName($TOOL.getValueFromXPath("./idf:addressIndividualName", null, $hierarchyPartyNode)))
                            #if(!$unlinkAddress)
                            <a class="link-line" href="?docuuid=$uuid&type=address#if($detailUseParamPlugid)&plugid=$TOOL.getiPlugId()#end" title="$stringTool.htmlescape($tmpTitle)">$tmpTitle</a>
                            #else
                                $tmpTitle
                                <br>
                            #end
                            #if($TOOL.nodeExist("./idf:addressOrganisationName", $hierarchyPartyNode))
                                $TOOL.removeLocalisation($TOOL.getValueFromXPath("./idf:addressOrganisationName", null, $hierarchyPartyNode))
                            #end
                        #elseif($TOOL.nodeExist("./idf:addressOrganisationName", $hierarchyPartyNode))
                            #set($tmpTitle = $TOOL.removeLocalisation($TOOL.getValueFromXPath("./idf:addressOrganisationName", null, $hierarchyPartyNode)))
                            #if(!$unlinkAddress)
                            <a class="link-line" href="?docuuid=$uuid&type=address#if($detailUseParamPlugid)&plugid=$TOOL.getiPlugId()#end" title="$stringTool.htmlescape($tmpTitle)">$tmpTitle</a>
                            #else
                                $tmpTitle
                                <br>
                            #end
                        #end
                    #elseif($t == "0" || $t == "1")
                        ## Organisation
                        #set($xPath = "./idf:addressOrganisationName")
                        #if($TOOL.nodeExist($xPath, $hierarchyPartyNode))
                            #set($tmpTitle = $TOOL.removeLocalisation($TOOL.getValueFromXPath($xPath, null, $hierarchyPartyNode)))
                            #if(!$unlinkAddress)
                            <a class="link-line" href="?docuuid=$uuid&type=address#if($detailUseParamPlugid)&plugid=$TOOL.getiPlugId()#end" title="$stringTool.htmlescape($tmpTitle)">$tmpTitle</a>
                            #else
                                $tmpTitle
                                <br>
                            #end
                        #end
                    #end
                #end
            #end
        #end
    #else
        ## Name
        #set($xPath = "$xParentPath/gmd:individualName")
        #if($TOOL.nodeExist($xPath, $node))
            <strong>$TOOL.getIndividualName($TOOL.getValueFromXPath($xPath, null, $node))</strong>
            <br>
        #end
        ## Organisation
        #set($xPath = "$xParentPath/gmd:organisationName/*[self::gco:CharacterString or self::gmx:Anchor]")
        #if($TOOL.nodeExist($xPath, $node))
            #set($tmpValue = $TOOL.getValueFromXPath($xPath, null, $node))
            #if($tmpValue)
                #set($organisation = $TOOL.stringTokenizer($tmpValue))
                #set($organisationLength = $organisation.countTokens() - 1)
                #foreach($org in [0..$organisationLength])
                    $organisation.nextToken()
                #end
            #end
        #end
        #set($xPath = "$xParentPath/gmd:positionName")
        #if($TOOL.nodeExist($xPath, $node))
            <br>
            $TOOL.getValueFromXPath($xPath, null, $node)
        #end
    #end
#else
    ## Name
    #set($xPath = "$xParentPath/gmd:individualName")
    #if($TOOL.nodeExist($xPath, $node))
        <strong>$TOOL.getIndividualName($TOOL.getValueFromXPath($xPath, null, $node))</strong>
        <br>
    #end
    ## Organisation
    #set($xPath = "$xParentPath/gmd:organisationName/*[self::gco:CharacterString or self::gmx:Anchor]")
    #if($TOOL.nodeExist($xPath, $node))
        #set($tmpValue = $TOOL.getValueFromXPath($xPath, null, $node))
        #if($tmpValue)
            #set($organisation = $TOOL.stringTokenizer($tmpValue))
            #set($organisationLength = $organisation.countTokens() - 1)
            #foreach($org in [0..$organisationLength])
                $organisation.nextToken()
            #end
        #end
    #end
#end
</p>