<div class="tabs">
<ul>			
#set ($action = $renderResponse.createActionURL())
##$action.setParameter('action','doChangeTab')
#if($enable_hierarchy_tree)
    #if($tab=='1')
    	<li><a class="selected" title="$MESSAGES.getString('searchCatHierarchy.title.tooltip')">$MESSAGES.getString('searchCatHierarchy.title')</a></li>
    #else
    	$action.setParameter('tab','1')
    	<li><a href="$renderResponse.encodeURL('/portal/search-catalog/search-catalog-hierarchy.psml')" title="$MESSAGES.getString('searchCatHierarchy.title.tooltip')">$MESSAGES.getString('searchCatHierarchy.title')</a></li>
    #end
#end
	
#if($enable_thesaurus)
	#if($tab=='2')
		<li><a class="selected" title="$MESSAGES.getString('searchCatThesaurus.title.tooltip')">$MESSAGES.getString('searchCatThesaurus.title')</a></li>
	#else
		$action.setParameter('tab','2')
		<li><a href="$renderResponse.encodeURL('/portal/search-catalog/search-catalog-thesaurus.psml')" title="$MESSAGES.getString('searchCatThesaurus.title.tooltip')">$MESSAGES.getString('searchCatThesaurus.title')</a></li>
	#end
#end

</ul>
<br class="clearer" />
</div>
