<div class="tabs">
<ul>			
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doChangeTab')
#if($tab=='1')
	<li><a class="selected">$MESSAGES.getString('searchCatHierarchy.title')</a></li>
#else
	$action.setParameter('tab','1')
	<li><a href="$action">$MESSAGES.getString('searchCatHierarchy.title')</a></li>
#end

#if($enable_thesaurus)
	## Uncomment when Thesaurus Browser Tab should be shown
	#if($tab=='2')
		<li><a class="selected">$MESSAGES.getString('searchCatThesaurus.title')</a></li>
	#else
		$action.setParameter('tab','2')
		<li><a href="$action">$MESSAGES.getString('searchCatThesaurus.title')</a></li>
	#end
#end

</ul>
<br class="clearer" />
</div>
