#macro (renderNode $node)
	#set ($action = $renderResponse.createActionURL())
	$action.setParameter('nodeId',$node.id)
	## highest nodes have level 1 ! (only root has level 0)
	## NOTICE: NO FLOATS IN VELOCITY MATHs ! Use e.g. (3/2) instead ! :-(
	#set ($leftMargin = ($node.level - 1) * (2))
	<p style="margin-left:${leftMargin}em">	
	## UDK Object/Address render params
	#set($nodeTitle = $MESSAGES.getString($node.getName()))
	#if($tool.hasContent(${node.udk_class}))
		#if ($node.plugType == 'dsc_ecs')
			## objects
			#set($nodeIcon = "icn_udk_obj_${node.udk_class}.gif")
			#set($nodeAlt = $MESSAGES.getString("udk_obj_class_name_${node.udk_class}"))
		#else
			## addresses
			#set($nodeIcon = "icn_udk_adr_${node.udk_class}.gif")
			#set($nodeAlt = $MESSAGES.getString("udk_adr_class_name_${node.udk_class}"))
		#end
		#set($nodeUrl = "portal/search-detail.psml?plugid=${node.plugId}#if(${node.docId})&docid=${node.docId}#end")
		#set($nodeSpacer = '')
	#else
		#set($nodeIcon = "ico_tree_folder_close.gif")
		#set($nodeAlt = "$MESSAGES.getString('common.alt.icon.folder')")
		#set($nodeUrl = '')
		#set($nodeSpacer = '&nbsp;&nbsp;')
	#end
	## render +/- and icon
	#if($node.isOpen())
		#set ($renderSubNodes = true)
		## render "-" and icon WITH ACTION -> node can be closed
		$action.setParameter('action','doCloseNode')
		<a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_open.gif" alt="$MESSAGES.getString('common.alt.icon.minus')" /></a>
		<a href="$action"><img src="/ingrid-portal-apps/images/$nodeIcon" alt="$nodeAlt" title="$nodeAlt" /></a>
	#else
		#set ($renderSubNodes = false)
		#if ($node.expandable)
    		## render "+" and icon WITH ACTION -> node not opened yet and can be expanded 
       		$action.setParameter('action','doOpenNode')
       		<a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_close.gif" alt="$MESSAGES.getString('common.alt.icon.plus')" /></a>
    		<a href="$action"><img src="/ingrid-portal-apps/images/$nodeIcon" alt="$nodeAlt" title="$nodeAlt" /></a>
		#else
			## render " " and icon WITHOUT ACTION -> node can't be expanded
			&nbsp;&nbsp;
			<img src="/ingrid-portal-apps/images/$nodeIcon" alt="$nodeAlt" title="$nodeAlt" />
		#end
	#end
	## render node text
	${nodeSpacer}<strong>#if($nodeUrl != '')<a href="$nodeUrl" target="_new" title="$MESSAGES.getString('common.tooltip.link.extern')">$nodeTitle</a>#else$nodeTitle#end</strong>
	## render sub nodes
	#if ($renderSubNodes)
    	#foreach($childNode in $node.getChildren())
    		#renderNode($childNode)
    	#end
	#end
	</p>
#end

<div class="section">
#parse ('/WEB-INF/templates/search_catalog/include_tabs_cat.vm')
#parse ('/WEB-INF/templates/search_catalog/include_tabs_cat_hierarchy.vm')

	<div class="formbody">
#foreach($plugNode in $ps.plugsRoot.getChildren())
	#renderNode($plugNode)
#end
	</div>
#set ($action = $renderResponse.createActionURL())
    <form action="$action" method="post" enctype="" name="extsearch" id="extsearch">
    	<div class="formfooter">
    		<div align="right">
    			<input class="btn" type="submit" name="submitReload" value="$MESSAGES.getString('searchCatHierarchy.submit.reload')" />
    		</div>
    	</div>
	</form>
</div>
