#set($DIRECT_LINK = $map.get("link"))
Sehr geehrter mCLOUD-Editor-Nutzer,

Sie haben im mCLOUD-Editor angefragt, Ihr Passwort zurückzusetzen. Sollten Sie dies nicht getan haben, so ignorieren Sie bitte diese E-Mail, ihr Passwort wird dann NICHT verändert.

Klicken Sie bitte auf den folgenden Link, um Ihr Passwort zurückzusetzen:
${DIRECT_LINK}

Dieser Link ist für 1h gültig.

Sollten Sie einen Missbrauch ihrer Daten vermuten, kontaktieren Sie bitte mcloud@itzbund.de.

Mit freundlichen Grüßen
Im Auftrag
mCLOUD-Team
