#set($DIRECT_LINK = $map.get("link"))
Sie haben angefragt, Ihr Passwort zurückzusetzen. Sollten Sie dies nicht getan haben, so ignorieren Sie diese Email.

Klicken Sie bitte auf den folgenden Link, um Ihr Passwort zurückzusetzen:
${DIRECT_LINK}
