#set($EXP_DATASETS = $map.get("expiredDatasets"))
#set($DIRECT_LINK = $map.get("directLink"))
Dies ist eine Meldung von der Metadatenerfassungskomponente der InGrid® Software.
Folgende Objekte enthalten abgelaufene Raumbezüge und müssen aktualisiert werden: 


#foreach($expDS in $EXP_DATASETS)
Titel: $expDS.objectName
Uuid: $expDS.uuid

Direkter Link: ${DIRECT_LINK}?nodeType=O&nodeId=$expDS.uuid


#end
