#set($decoration = $f.decoration)
#set($actions = $decoration.actions)
#set($_actions = $layoutDecoration.actions)

<!-- Begin: Fragment: ${f.id} Decoration: ${decoratorId} -->
<div id="${f.id}" class="section">
	<div class="section-header">
		#set($akey = $jetspeed.getPreferenceFirstValue($f, "titleKey")) 
		#if($akey && $akey.length() > 0)
			<a name="$akey"></a>
		#end
	  	<h1>$!jetspeed.getTitle($jetspeed.getPortletEntity($f), $f)</h1>
	    <span class="portlet_info">
		#set($hkey = $jetspeed.getPreferenceFirstValue($f, "helpKey")) 
		#if($hkey && $hkey.length() > 0)
			#set($hpath = "${jetspeed.basePath}/help.psml?hkey=$hkey")
		<script language="JavaScript">
    		document.write("<a href=\"javascript:ingrid_openWindow('$hpath',750,550);\" title=\"$MESSAGES.getString('ingrid.page.help.link.title')\">[?]</a>");
    	</script>
    	<noscript>
    		<a href="$hpath" target="_new" title="$MESSAGES.getString('ingrid.page.help.link.title')">[?]</a>
    	</noscript>
		#end
		</span>
		<span class="clearer"></span>
  	</div>
	#if (!$jetspeed.isHidden($f) || $jetspeed.WindowState != "minimized")
	$f.renderedContent
	#end
</div>
<!-- END: Fragment: ${f.id} Decoration: ${decoratorId} -->


