#set($disableTitle = $jetspeed.getPreferenceFirstValue($f, "disableTitle"))

##Default style values
#set($titleTag = "h2")
#set($titleStyle = "bx-top-0")
#set($sectionStyle = "")
#set($divStyle = "ob-box-wide ob-box-padded ob-box-center")
#set($articleStyle = "content ob-container")

## Jetspeed style values
#set($titleTagJetspeed = $jetspeed.getPreferenceFirstValue($f, 'titleTag'))
#if($titleTagJetspeed && $titleTagJetspeed.length() > 0)
    #set($titleTag = $titleTagJetspeed)
#end

#set($titleStyleJetspeed = $jetspeed.getPreferenceFirstValue($f, 'titleStyle'))
#if($titleStyleJetspeed && $titleStyleJetspeed.length() > 0)
    #set($titleStyle = $titleStyleJetspeed)
#end

#set($sectionStyleJetspeed = $jetspeed.getPreferenceFirstValue($f, 'sectionStyle'))
#if($sectionStyleJetspeed && $sectionStyleJetspeed.length() > 0)
    #set($sectionStyle = $sectionStyleJetspeed)
#end

#set($divStyleJetspeed = $jetspeed.getPreferenceFirstValue($f, 'divStyle'))
#if($divStyleJetspeed && $divStyleJetspeed.length() > 0)
    #set($divStyle = $divStyleJetspeed)
#end

#set($articleStyleJetspeed = $jetspeed.getPreferenceFirstValue($f, 'articleStyle'))
#if($articleStyleJetspeed && $articleStyleJetspeed.length() > 0)
    #set($articleStyle = $articleStyleJetspeed)
#end

<section id="${f.id}" class="block $sectionStyle">
    <div class="$divStyle">
        <article class="$articleStyle">
            #set($akey = $jetspeed.getPreferenceFirstValue($f, "titleKey")) 
            #if($akey && $akey.length() > 0)
                <a name="$akey"></a>
            #end
            #if($disableTitle != true)
            <$titleTag class="$titleStyle">
                $!jetspeed.getTitle($f) $disableTitle
                <!--
                #set($helpkey = $jetspeed.getPreferenceFirstValue($f, "helpKey"))
                #if($helpkey)
                    <div class="tooltip ob-circle js-popup" data-content="<p>Lorem ipsum dolor sit amet, consectetur adipsiicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p><a href=&quot;#&quot;>Read more</a></p>">
                        <svg class="tooltip__icon icon"><use xlink:href="#question-mark"></use></svg>
                    </div>
                #end
                -->
            </$titleTag>
            #end
            #if (!$jetspeed.isHidden($f) || $jetspeed.WindowState != "minimized")
                $f.renderedContent
            #end
        </article>
    </div>
</section>
## END: Fragment: ${f.id} Decoration: ${decoratorId}