#set ($MESSAGES = $portletConfig.getResourceBundle($renderRequest.Locale))

#set($decoration = $f.decoration)
#set($actions = $decoration.actions)
#set($_actions = $layoutDecoration.actions)

## Begin: Fragment: ${f.id} Decoration: ${decoratorId}
	<section class="breadcrumb ob-box-padded-more mq-hide-l">
		<div class="breadcrumb__title mq-hide-xxl">Sie sind hier:</div>
		<nav class="breadcrumb__list">
			<a href="$jetspeed.getAbsoluteUrl('/default-page.psml')">$MESSAGES.getString("ingrid.page.home")</a>
			#if($site.getPageOrTemplate().url != "/default-page.psml")
				<svg class="icon icon-xs">
					<use xlink:href="#arrow">
				</svg>
				#set($title = $jetspeed.getTitle($f))
				<span>$jetspeed.getTitle($f)</span>
			#end
		</nav>
	</section>

<section id="${f.id}" class="block block--padded">
    <div class="ob-box-wide ob-box-padded ob-box-center">
    	<article class="content ob-container">
	        #set($akey = $jetspeed.getPreferenceFirstValue($f, "titleKey")) 
	        #if($akey && $akey.length() > 0)
	            <a name="$akey"></a>
	        #end
	        <h1>
	        	$!jetspeed.getTitle($f)
	        	<div class="tooltip ob-circle js-popup" data-content="<p>Lorem ipsum dolor sit amet, consectetur adipsiicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p><a href=&quot;#&quot;>Read more</a></p>">
                    <svg class="tooltip__icon icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#question-mark"></use></svg>
                </div>
	        </h1>
			#if (!$jetspeed.isHidden($f) || $jetspeed.WindowState != "minimized")
			    $f.renderedContent
		    #end
		</article>
    </div>
</section>
## END: Fragment: ${f.id} Decoration: ${decoratorId}


