            </div>
            #parse("/decorations/layout/ingrid/templates/footer/body_footer.vm")
            #parse("/decorations/layout/ingrid/templates/footer/body_popup.vm")
            #parse("/decorations/layout/ingrid/templates/footer/body_script.vm")
        #if($currentPage != "/main-measures.psml")
        </div>
        #end
        #parse("/decorations/layout/ingrid/templates/footer/body_piwik.vm")
    </body>
</html>
