#set ($MESSAGES = $portletConfig.getResourceBundle($renderRequest.Locale))

#set($decoration = $f.decoration)
#set($actions = $decoration.actions)
#set($_actions = $layoutDecoration.actions)

## Begin: Fragment: ${f.id} Decoration: ${decoratorId}
<div class="portlet">
  <div class="section-header" id="marginal_header">
    <h1 class="float_left">$!jetspeed.getTitle($f)</h1>
    <span class="portlet_info">
	#set($hkey = $jetspeed.getPreferenceFirstValue($f, "helpKey")) 
	#if($hkey && $hkey != "")
		#set($hpath = "${jetspeed.basePath}/help.psml?hkey=$hkey")
	<script language="JavaScript" type="text/javascript">
		document.write("<a href=\"javascript:ingrid_openWindow('$hpath',950,550);\" title=\"$MESSAGES.getString('ingrid.page.help.link.title')\">&nbsp;</a>");
	</script>
	<noscript>
		<a href="$hpath" target="_new" title="$MESSAGES.getString('ingrid.page.help.link.title')">&nbsp;</a>
	</noscript>
	#end
	</span>
    <span class="clearer"></span>
  </div>
    #if (!$jetspeed.isHidden($f) || $jetspeed.WindowState != "minimized")
    $f.renderedContent
    #end
</div>
## END: Fragment: ${f.id} Decoration: ${decoratorId}


