#set($decoration = $f.decoration)
#set($actions = $decoration.actions)
#set($_actions = $layoutDecoration.actions)

<!-- Begin: Fragment: ${f.id} Decoration: ${decoratorId} -->
<div class="portlet">
  <div class="section-header">
    <h1 class="float_left">$!jetspeed.getTitle($jetspeed.getPortletEntity($f), $f)</h1>
    <span class="clearer"></span>
  </div>
    #if (!$jetspeed.isHidden($f) || $jetspeed.WindowState != "minimized")
    $f.renderedContent
    #end
</div>
<!-- END: Fragment: ${f.id} Decoration: ${decoratorId} -->


