<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>PortalU Application</display-name>
  <description>PortalU Application</description>
  <servlet>
    <servlet-name>JetspeedContainer</servlet-name>
    <display-name>Jetspeed Container</display-name>
    <description>MVC Servlet for Jetspeed Portlet Applications</description>
    <servlet-class>org.apache.jetspeed.container.JetspeedContainerServlet</servlet-class>
    <init-param>
      <param-name>contextName</param-name>
      <param-value>ingrid-portal-apps</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>

    <!-- Define Velocity Servlet -->
    <servlet>
        <servlet-name>velocity</servlet-name>
        <servlet-class>org.apache.portals.bridges.velocity.BridgesVelocityViewServlet</servlet-class>
        <init-param>
        	<param-name>org.apache.velocity.toolbox</param-name>
        	<param-value>/WEB-INF/velocity/toolbox.xml</param-value>
        </init-param>
        <init-param>
        	<param-name>org.apache.velocity.properties</param-name>
        	<param-value>/WEB-INF/velocity/velocity.properties</param-value>
        </init-param>
        <load-on-startup>10</load-on-startup>
    </servlet>

    <!-- Map *.vm files to Velocity  -->
	<servlet-mapping>
		<servlet-name>velocity</servlet-name>
		<url-pattern>*.vm</url-pattern>
	</servlet-mapping>	
  <servlet-mapping>
    <servlet-name>JetspeedContainer</servlet-name>
    <url-pattern>/container/*</url-pattern>
  </servlet-mapping>

  <!-- JNDI Db resource -->
   <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/jetspeed</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>

  <taglib>
    <taglib-uri>http://java.sun.com/portlet</taglib-uri>
    <taglib-location>/WEB-INF/tld/portlet.tld</taglib-location>
  </taglib>
</web-app>
