## Ansprechpartner (Metadatum)
    #set($tmpXPath = $TOOL.getValueFromXPath("${xPathUseContact}/*/gmd:role/gmd:CI_RoleCode/@codeListValue", "505"))
    #renderMultiLineAddresses("${tmpXPath}" $TOOL.getNodeListFromXPath($xPathUseContact) true)