<link rel="stylesheet" href="/decorations/layout/ingrid/scripts/leaflet/leaflet.css" />
<link rel="stylesheet" href="/decorations/layout/ingrid/scripts/markercluster/MarkerCluster.css" />
<link rel="stylesheet" href="/decorations/layout/ingrid/scripts/markercluster/MarkerCluster.Default.css" />
<link rel="stylesheet" href="/decorations/layout/ingrid/scripts/leaflet.awesome-markers/leaflet.awesome-markers.css" />
<script src="/decorations/layout/ingrid/scripts/leaflet/leaflet.js"></script>
<script src="/decorations/layout/ingrid/scripts/markercluster/leaflet.markercluster.js"></script>
<script src="/decorations/layout/ingrid/scripts/leaflet.awesome-markers/leaflet.awesome-markers.min.js"></script>
<script src="/decorations/layout/ingrid/scripts/leaflet.spin/spin.min.js"></script>
<script src="/decorations/layout/ingrid/scripts/leaflet.spin/leaflet.spin.min.js"></script>

<script>
    function getOSMLayer(attribution){
        var osmUrl = 'https://maps.omniscale.net/v2/{id}/style.default/{z}/{x}/{y}.png';
        var osmAttrib='&copy; 2019 &middot; <a href="https://maps.omniscale.com/">Omniscale</a> ' +
            '&middot; Map data: <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>';
        if(attribution){
            osmAttrib = osmAttrib + "" + attribution;
        }
        return new L.TileLayer(osmUrl, {
            id: 'numistest-38457db2',
            attribution: osmAttrib
        });
    }
    
    function getWMSLayer(layerUrl, layerName, attribution){
        var osmAttrib='';
        if(attribution){
            osmAttrib += attribution;
        }
        return new L.tileLayer.wms(layerUrl, {
            layers: layerName
        });
    }
    
    function addLeafletMap(baselayers, bounds, latlng, zoom){
        var map = new L.Map('map', {
           layers: baselayers
        });
        if(bounds){
          map.fitBounds(bounds);
        } else if(latlng) {
          map.setView(latlng, zoom || 6);
        } else {
          map.setView(new L.LatLng(51.3, 10), 6);
        }
        return map;
    }
    
    function addLeafletHomeControl(map, title, position, icon, bounds){
        var HomeControl = L.Control.extend({
            options: {
                position: position ? position : 'topleft'
            },
            onAdd: function (map) {
                var container = L.DomUtil.create('div', 'leaflet-control-home leaflet-bar');
                var link = L.DomUtil.create('a', 'icon small ' + icon, container);
                link.href = '#';
                link.style.padding = '5px 0 0 0';
                link.title = title;
                L.DomEvent.addListener(link, 'click', this._homeClick, this);
                return container;
            },
            _homeClick: function(e) {
                L.DomEvent.stop(e);
                if(bounds){
                    map.fitBounds(bounds);
                }
            }
        });
        map.addControl(new HomeControl({}));
    }
</script>