#processInfo { position:absolute; top:167px; }
.selectEntryBtn { width:32px; margin:13px 0 0 8px; }
.entry { float:left; margin:0 0 0 4px; line-height:21px; }
.buttonCol { display:block; padding:0; margin:0; text-align:center; }
.buttonCol a.buttonGrey { margin:0; padding:0; display:block; width:32px; height:29px; line-height:29px; }

/*** nutzerverwaltung ***/
#userAdmin, #groupAdmin, #rightsAdmin { width:965px; }
#userData { width:684px; height:393px; margin:-393px 0 0 280px; }
#userDataObjects { width:965px; height:204px; background:#ececec; }
#userDataObjectsData { height:204px; margin:-46px 0 0 50px; }
#userDataAddresses { width:965px; height:204px; background:#ececec; }
#userDataAddressesData { height:204px; margin:-46px 0 0 50px; }

#groupData { width:684px; height:211px; margin:-211px 0 0 280px; }
#groupDataObjects { width:965px; height:204px; background:#ececec; }
#groupDataObjectsData { height:204px; margin:-46px 0 0 50px; }
#groupDataAddresses { width:965px; height:204px; background:#ececec; }
#groupDataAddressesData { height:204px; margin:-46px 0 0 50px; }

#rightsObjects { height:273px; }
#rightsAddresses { height:273px; }
#rightsObjectsUserList  { height:240px; }

/*** import ***/
#importTree { width:955px; height:441px; }
#importTreeContainer { width:955px; height:441px; background:#ececec; }
#treeImportTree { height:441px; }
#importTreeData { height:441px; margin:-102px 0 0 50px; }
#btnPos1 { margin-top:23px !important; }

#importUniversal { width:955px; height:441px; }
#importUniversalContainer { width:955px; height:441px; background:#ececec; }
#treeImportUniversal { height:441px; }
#importUniversalBtn { width:32px; margin:13px 0 0 8px; }
#importUniversalData { height:441px; margin:-328px 0 0 50px; }
#btnPos2 { margin-top:109px !important; }
#btnPos3 { margin-top:109px !important; }
#importUniversalButtons { }

#treeContainerUser, #treeContainerObjects, #treeContainerAddresses, #treeImportTree, #treeImportUniversal, #treeContainerAddressDelete, #treeContainerAddressNew { padding:13px 0 0 8px; }

/*** gesetzliche grundlagen ***/
#legalBasicsContent .buttonCol { display:block; padding:0; margin:37px 0 0 0; text-align:center; }
#legalBasicsContent .buttonCol a.buttonGrey { margin:0 0 4px 0; padding:0; display:block; width:89px; height:20px; line-height:20px; }
#legalBasicsContent .buttonCol .space { margin-top:30px !important; }

/*** dubletten ***/
#duplicatesData { position:relative; left:280px; top:-342px; }

/*** adresse loeschen ***/
#catalogueAdresses { width:965px; }
#addressDeleteTree { }
#addressDeleteData { position:relative; margin:-423px 0 0 280px; width:684px; }
#addressDeleteDataObjects { position:relative; margin:12px 0 0 280px; width:684px; }
#addressNewTree { position:relative; margin:11px 0 0 0; }
#addressNewData { position:relative; margin:-236px 0 0 280px; width:684px; }
