#* Add the current layouts configuration values to the context *#
#defineLayoutObjects()

#* Loads our custom macros *#
#parse("/decorations/layout/ingrid/decorator-macros.vm")

#* Add all template constants to the current context *#
##defineNavigationConstants()

<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
    <head>
        #* Jetspeed macros, see WEB-INF/jetspeed_macros.vm *#
        #includeHeaderResource()
        #set($currentPage = $site.getPageOrTemplate().url)
        <!--
        #if($currentPage)
            #if($currentPage != "/help.psml")
                <base href="#BaseHref()" />
            #end
        #end
        -->
        <link rel="prefetch" href="/decorations/layout/ingrid/images/template/icons.svg" />
        <meta http-equiv="Content-type" content="#ContentType()" />
        <meta http-equiv="Content-style-type" content="text/css" />   
        <meta http-equiv="content-language" content="$renderRequest.Locale.getLanguage()" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
        <meta name="description" content="$MESSAGES.getStringOrDefault($jetspeed.getPageMetadata("meta_descr"), "")" />
        <meta name="author" content="$MESSAGES.getString('ingrid.page.copyright')" />
        <meta name="keywords" lang="$renderRequest.Locale.getLanguage()" content="$MESSAGES.getStringOrDefault($jetspeed.getPageMetadata("meta_keywords"), "")" />
        <meta name="copyright" content="$MESSAGES.getString('ingrid.page.copyright')" />

        #if ($currentPage.startsWith('/search-catalog/search-catalog-hierarchy'))
            <meta name="robots" content="noindex,follow" />
        #else
            <meta name="robots" content="index,follow" />
        #end
        <link rel="stylesheet" href="/decorations/layout/ingrid/css/google/robotocondensed/v13/css/fonts.css" />
        <link rel="stylesheet" href="/decorations/layout/ingrid/css/datepicker/classic.css" />
        <link rel="stylesheet" href="/decorations/layout/ingrid/css/datepicker/classic.date.css" />
        <link rel="shortcut icon" href="/decorations/layout/ingrid/images/favicon.ico" />
        #if($MESSAGES.getString('ingrid.page.opensearch.xml')!="")
            <link rel="search" type="application/opensearchdescription+xml" href="$MESSAGES.getString('ingrid.page.opensearch.xml')" title="$MESSAGES.getString('ingrid.page.opensearch.title')"/>
        #end

        #* Hack ! Fix fuer width:100%; height:100% aus inkludierten Headern von J2 Portlets (j2-admin ...) -> zerschiesst Navigation *#
        ##includeJavaScriptForHead()
        ##IncludeStylesheets()
        <link rel="stylesheet" href="/decorations/layout/ingrid/css/style.css">
        <link rel="stylesheet" href="/decorations/layout/ingrid/css/override.css">
        <link rel="stylesheet" href="/decorations/layout/ingrid/css/streamline-24px/styles.css">
        <link rel="stylesheet" href="/decorations/layout/ingrid/css/print.css" media="print"/>
        #* our decorator macros, see ./decorator-macros.vm *#
        #decoratorIncludeJavaScriptForHead()
        <!-- Global scripts -->
        <script src="/decorations/layout/ingrid/scripts/modernizr.custom.min.js"></script>
        <script src="/decorations/layout/ingrid/scripts/jquery-2.1.4.min.js"></script>
        <script src="/decorations/layout/ingrid/scripts/fastclick.min.js"></script>
        <!-- Pickadate -->
        <script src="/decorations/layout/ingrid/scripts/pickadate/lib/picker.js"></script>
        <script src="/decorations/layout/ingrid/scripts/pickadate/lib/picker.date.js"></script>
        <script src="/decorations/layout/ingrid/scripts/pickadate/lib/legacy.js"></script>
        #set($lang = $renderRequest.Locale.getLanguage())
        #if($lang && $lang != "en")
            <script src="/decorations/layout/ingrid/scripts/pickadate/lib/translations/${lang}.js"></script>
        #end
        <!-- zxcvbn -->
        <script src="/decorations/layout/ingrid/scripts/zxcvbn/zxcvbn.js"></script>
    </head>
    <body>
    
    #set($mainMenu = $site.getMenu("main-menu"))
    #set($serviceMenu = $site.getMenu("service-menu"))
    #set($footerMenu = $site.getMenu("footer-menu"))
    #if(!$mainMenu.empty)
        #includeMobileNavigation($mainMenu $serviceMenu $footerMenu)
    #end
    <div class="page" >
        <header class="header">
            <div class="ob-box-padded-more ob-box-center">
                <div class="header__widgets__section">
                    <div class="header__widget nav-toggle mq-show-xxl js-nav-mobile-toggle">
                        <svg class="icon">
                        <use xlink:href="#burger">
                        </svg>
                        <svg class="icon ob-fade">
                        <use xlink:href="#cross">
                        </svg>
                    </div>
                </div>
                <div class="header__widgets__section">
                    <a class="header__widget header__logo" href="$jetspeed.getAbsoluteUrl('/default-page.psml')" title="$MESSAGES.getString('ingrid.page.home.tooltip')">
                        <img class="mq-hide-xxl desktop-logo" src="/decorations/layout/ingrid/images/template/logo.svg">
                        <img class="mq-show-xxl mobile__logo" src="/decorations/layout/ingrid/images/template/mobile-logo.png">
                    </a>
                </div>
                <div class="header__widgets__section">
                    <a class="mq-hide-xxl desktop__title" href="$jetspeed.getAbsoluteUrl('/default-page.psml')" title="$MESSAGES.getString('ingrid.page.home.tooltip')">
                        <p class="main__title">$MESSAGES.getString('ingrid.header.title.main')</p>
                        <p class="sub__title">$MESSAGES.getString('ingrid.header.title.sub')</p>
                    </a>
                    <a class="mq-show-xxl mobile__title" href="$jetspeed.getAbsoluteUrl('/default-page.psml')" title="$MESSAGES.getString('ingrid.page.home.tooltip')">NUMIS <span class="mq-hide-l">- Das niedersächsische Umweltportal</span></a>
                </div>
                 #if($serviceMenu && !$serviceMenu.empty)
                    #includeServiceNavigation($serviceMenu)
                #end
            </div>
        #if(!$mainMenu.empty)
          #includeMainNavigation($mainMenu)
        #end
        </header>
        <!--
        #if($currentPage != "/main-maps.psml")
            <section class="breadcrumb ob-box-padded-more mq-hide-l">
                <div class="breadcrumb__title mq-hide-xxl">$MESSAGES.getString('ingrid.page.navigation.title'):</div>
                <nav class="breadcrumb__list">
                    <a href="$jetspeed.getAbsoluteUrl("/default-page.psml")">$MESSAGES.getString('ingrid.page.home')</a>
                #if($currentPage)
                    #if($currentPage == "/search-detail.psml")
                        <svg class="icon icon-xs"><use xlink:href="#arrow"></use></svg>
                        <a href="$jetspeed.getAbsoluteUrl("/main-search.psml")">$MESSAGES.getString('ingrid.page.search')</a>
                    #end
                    #if($currentPage != "/default-page.psml")
                        <svg class="icon icon-xs"><use xlink:href="#arrow"></use></svg>
                        <a href="javascript:openURL(window.location.href)">$MESSAGES.getString($site.getPageOrTemplate().shortTitle)</a>
                    #end
                #end
                </nav>
            </section>
        #end
        -->