#set ($contextPath = $renderRequest.getAttribute('org.apache.jetspeed.request.RequestContext').getRequest().getContextPath())
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doSearch')
#if($page && $page.endsWith("default-page.psml"))
    #set($isDefault = true)
#end
<img class="search-form__logo--lg mq-hide-l" src="/decorations/layout/ingrid/images/template/search.png" alt="">
<form action="$action" method="get" name="SearchForm" id="SearchForm" onSubmit='if (this.q.value == "$MESSAGES.getString('searchSimple.query.initial')") this.q.value=""'>
#if($isDefault)
        <div class="ob-container">
#end
            <div class="search-form ob-clear ob-flex">
                <input class="field field--large" type="text" placeholder="$MESSAGES.getString('searchSimple.query.initial')" id="qrystr" name="q" value="#if($actionForm.getInputHTMLEscaped('q') != $actionForm.getINITIAL_QUERY())#getHTMLEscapedFieldValue('q')#end">
                <button id="btn_search" class="btn--primary">
                    <svg class="icon"><use xlink:href="#magnifier"></use></svg>
                </button>
            </div>
#if($isDefault)
        </div>
#end
    #addErrorFormMessageBox('q')
</form>
