<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="dscDocumentProducer" class="de.ingrid.iplug.dsc.index.DscDocumentProducer">
        <property name="recordSetProducer" ref="recordSetProducer" />
        <property name="recordMapperList">
            <list>
                <ref bean="recordMapper"/>
                <ref bean="recordMapperLgvHh"/>
                <ref bean="recordProfileMapper"/>
            </list>
        </property>
    </bean>

    <bean id="recordSetProducer" class="de.ingrid.iplug.dsc.index.producer.PlugDescriptionConfiguredDatabaseRecordSetProducer">
        <property name="recordSql" value="SELECT DISTINCT id FROM t01_object WHERE work_state='V' AND publish_id=1" />
    </bean>

    <bean id="recordMapper" class="de.ingrid.iplug.dsc.index.mapper.ScriptedDocumentMapper">
        <property name="mappingScript" value="classpath:mapping/igc_to_lucene.js" />
        <property name="compile" value="true" />
    </bean>
    <bean id="recordMapperLgvHh" class="de.ingrid.iplug.dsc.index.mapper.ScriptedDocumentMapper">
        <property name="mappingScript" value="classpath:mapping/igc_to_lucene_lgv_hh.js" />
        <property name="compile" value="true" />
    </bean>
    <bean id="recordProfileMapper" class="de.ingrid.iplug.dsc.index.mapper.IgcProfileDocumentMapper">
        <property name="sql" value="SELECT value_string AS igc_profile FROM sys_generic_key WHERE key_name='profileXML'" />
    </bean>


    <bean id="dscSearchPlug" class="de.ingrid.iplug.dsc.DscSearchPlug">
        <property name="dscRecordProducer" ref="dscRecordProducer" />
    </bean>
    
    <bean id="dscRecordProducer" class="de.ingrid.iplug.dsc.record.DscRecordCreator">
        <property name="recordProducer" ref="recordProducer" />
        <property name="record2IdfMapperList">
            <list>
                <ref bean="createIdfMapper"/>
                <ref bean="scriptedIdfMapper"/>
                <ref bean="igcProfileIdfMapper"/>
            </list>
        </property>
    </bean>
    
    <bean id="recordProducer" class="de.ingrid.iplug.dsc.record.producer.PlugDescriptionConfiguredDatabaseRecordProducer">
        <property name="indexFieldID" value="t01_object.id" />
    </bean>
    
    <bean id="createIdfMapper" class="de.ingrid.iplug.dsc.record.mapper.CreateIdfMapper"/>

    <bean id="scriptedIdfMapper" class="de.ingrid.iplug.dsc.record.mapper.ScriptedIdfMapper">
        <property name="mappingScript" value="classpath:mapping/igc_to_idf.js" />
        <property name="compile" value="true" />
    </bean>

    <bean id="igcProfileIdfMapper" class="de.ingrid.iplug.dsc.record.mapper.IgcProfileIdfMapper">
        <property name="sql" value="SELECT value_string AS igc_profile FROM sys_generic_key WHERE key_name='profileXML'" />
    </bean>

    <!--
        Example: ADD USER DEFINED DATATYPE TO IPLUG !
        Constructor parameters:
            0 = name of new datatype (String)
            1 = is hidden in admin GUI ? (Boolean)
        Properties:
            forceActive = datatype always set ? (Boolean)
    -->
<!--
    <bean id="myNewDatatype" class="de.ingrid.admin.object.UserDefinedDataType">
        <constructor-arg index="0" value="name_of_new_datatype" />
        <constructor-arg index="1" value="true" />
        <property name="forceActive" value="true" />
    </bean>
-->

</beans>
