<div class="columns small-7 medium-13 large-9 xlarge-8">
    <div class="logo" role="banner">
        <div class="switch">
            <span class="ic-ic-angle-down js-popup" data-title="Hinweis" data-content="" data-box=".switch-popup"></span>
        </div>
        <a href="$jetspeed.getAbsoluteUrl('/default-page.psml')" class="hide-for-medium hide-for-xsmall-only" title="$MESSAGES.getString('ingrid.page.home.tooltip')">
            <img src="/decorations/layout/uvp/images/template/logo-uvp-mobile.svg" alt="$MESSAGES.getString('ingrid.page.logo.alt.header')"/>
        </a>
        <a href="$jetspeed.getAbsoluteUrl('/default-page.psml')" class="show-for-medium hide-for-xsmall-only" title="$MESSAGES.getString('ingrid.page.home.tooltip')">
            <img src="/decorations/layout/uvp/images/template/logo-uvp-mit-tag.svg" alt="$MESSAGES.getString('ingrid.page.logo.alt.header')"/>
        </a>
        <a href="$jetspeed.getAbsoluteUrl('/default-page.psml')" class="show-for-xsmall-only" title="$MESSAGES.getString('ingrid.page.home.tooltip')">
            <img src="/decorations/layout/uvp/images/template/logo-xsmall.svg" alt="$MESSAGES.getString('ingrid.page.logo.alt.header')"/>
        </a>
    </div>
</div>