<?xml version="1.0" encoding="utf-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2">
	<Document>
		#foreach($placemark in $placemarks)
        	<Placemark>
        		<name>$placemark.get("coord_title")</name>
        		<description>$placemark.get("coord_descr")</description>
				<Point>
        			<coordinates>$placemark.get("coord_x"),$placemark.get("coord_y")</coordinates>
        		</Point>
        	</Placemark>
		#end
	</Document>
</kml>
	