/*
 *  Bits: Images
 *______________________*/




.image {
    float: left;
}

.image--narrow {
    margin-right: auto;
    margin-left: auto;
    max-width: rem(440px);
}

.image--inline {
    @include media(
        $query: '640 >',
        $css: (
            float: left,
            margin: .3em 1em 0 0,
            max-width: 50%,
            padding-right: 1em
        )
    );
}

.image__caption {

}

/*
 * Image swiper
 *______________________*/
 
#detail_meta {
    .preview_image {
        margin: auto;
        max-height: 360px;
    }
}
.search-result {
    .preview_image {
        margin: auto;
    }
    .swiper-wrapper {
        padding-bottom: 30px;
    }
}

.swiper-pagination-bullet {
    background: color(fruit-salad) !important;
}

.swiper-button-next, .swiper-button-prev {
    color: color(fruit-salad) !important;
}