/*
 *  Atom: Typography
 *______________________*/




/*
    Headlines
*/

h1,
.h1 {
    font-size: rem(36px);
}

h2,
.h2 {
    font-size: rem(28px);
}

h4,
.h4 {
    font-size: rem(20px);
}

h1{
    margin: rem(40px 0 30px);
}

h2{
    margin: rem(40px 0 20px);
}

h3{
    font-size: rem(24px);
    margin: rem(30px 0 20px);
}

h4,
h5,
h6{
    margin: rem(30px 0 16px);
}

h5 {
    font-size: rem(16px);
}

h6 {
    font-size: rem(14px);
}



/*
    Copy Text
*/

a {
    color: color(fruit-salad);
    text-decoration: none;

    &:hover{
        color: color(dim-grey);
    }
}

hr {
    background: color(gainsboro);
    border: 0;
    height: 1px;
    margin: rem(40px 0);
}

.hr-thick {
    height: 2px;
}

.hr-small{
    max-width: rem(100px);
    margin: rem(30px 0 20px);
}

.meta {
    color: color(dim-grey);
}

.hero {
    color: color(nobel);
    font-family: $font-brand;
    font-size: rem(20px);
    margin-bottom: rem(40px);

    & + & {
        margin-top: rem(30px);
    }
}


.caption {
    color: color(nobel);
    font-family: $font-brand;
    font-size: rem(16px);
    margin: rem(20px) 0;
}