/.idea/
/user/plugins/admin2/
/user/plugins/api/
/user/plugins/devtools/
/user/plugins/email/
/user/plugins/error/
/user/plugins/flex-objects/
/user/plugins/form/
/user/plugins/github-markdown-alerts/
/user/plugins/login/
/user/plugins/problems/
/user/plugins/shortcode-core/
/user/plugins/ingrid-grav/vendor/
/user/themes/*/node_modules
/user/themes/*/pages/init/home/modular.md
/logs
/data/licenses.yaml
/data/codelists/
/data/downloads/
/data/feed/
/data/feeds/
/data/flex/
/data/notifications/
/data/contact-form/
/data/scheduler/
/data/mvis/
/data/grav-security-probe.dat
/develop/config/plugins/
/develop/config/system.yaml
/develop/config/security-private.php
/system
**/vendor
