/ingrid-portal-apps/.classpath
/ingrid-portal-apps/.project
/ingrid-portal-base/.project
/ingrid-portal-base/.classpath
/ingrid-portal-distribution/target
/ingrid-portal-layout/target
/ingrid-portal-layout/.classpath
/ingrid-portal-layout/.project
/ingrid-portal-mdek/.project
/ingrid-portal-mdek/.classpath
/ingrid-portal-mdek-application/.classpath
/ingrid-portal-mdek-application/.project
