[submodule "user/plugins/ingrid-grav"]
    path = user/plugins/ingrid-grav
    url = https://github.com/informationgrid/ingrid-grav-plugin.git
    branch = feature/9007-indexformat
[submodule "user/plugins/ingrid-grav-utils"]
    path = user/plugins/ingrid-grav-utils
    url = https://github.com/informationgrid/ingrid-grav-plugin-utils.git
    branch = feature/9007-indexformat