/*
 *  Organism: Block
 *______________________*/




.block {
    position: relative;
}

.block--padded {
    padding: rem(40px) 0;

    @include media(
        $query: '640 - 840',
        $css: (
            padding: rem(60px) 0
        )
    );

    @include media(
        $query: '840 >',
        $css: (
            padding: rem(80px) 0
        )
    );
}

.block--pad-top {    
    padding-top: rem(20px);

    @include media(
        $query: '640 - 840',
        $css: (
            padding-top: rem(40px)
        )
    );

    @include media(
        $query: '840 >',
        $css: (
            padding-top: rem(60px)
        )
    );
}

.block--blank {
    & + & {
        padding-top: 0;
    }
}

.block--light {
    background: color(faded);

    + .block {
        border-top: 2px solid color(gainsboro);
    }
}