<!-- Popup -->
<div class="popup">
    <div class="headline popup__header">
        <p class="popup__title medium">$MESSAGES.getString("ingrid.page.help")</p>
        <button type="button" class="button round popup__close js-popup-close"><span class="ic-ic-cross"></span></button>
    </div>
    <div class="popup__content text-box">
        <p></p>
    </div>
</div>