<header>
    <div class="row">
        <div class="columns small-7 medium-9 large-7 xlarge-6">
            #parse("/decorations/layout/ingrid/templates/header/body_header_logo.vm")
        </div>
        <div class="columns xsmall-16 small-15 medium-9 large-7 xlarge-6 nav-tabs hide-for-print">
        #if(!$mainMenu.empty)
            #includeMainNavigation($mainMenu)
        #end
        </div>
        <div class="columns">
            <div class="header-menu-open">
                #if($jetspeed.getLoggedOn())
                    #set($userAttributes = $jetspeed.getUserProperties())
                    #set($userNameGiven = $userAttributes.get("user.name.given"))
                    #set($userNameFamily = $userAttributes.get("user.name.family"))
                    
                    #if($userNameGiven)
                        #set ($salutation = " $userNameGiven")
                    #end
                    #if($userNameFamily)
                        #set ($salutation = "$!{salutation} $userNameFamily")
                    #end
                    <div class="login show-for-medium">
                        <span class="ic-ic-user"></span>
                        <a href="/portal/service-myportal.psml" title="$salutation">$salutation</a>
                    </div>
                    <button type="button" class="button xsmall-button"><span class="ic-ic-hamburger-logged-user"></span></button>
                #else
                    <button type="button" class="button xsmall-button"><span class="ic-ic-hamburger"></span></button>
                #end
                <button type="button" class="button small-button">Menü<span class="ic-ic-hamburger"></span></button>
            </div>
        </div>
    </div>
</header>