<div class="columns small-7 medium-9 large-7 xlarge-6">
    <div class="logo" role="banner">
        <a href="$jetspeed.getAbsoluteUrl('/default-page.psml')" class="hide-for-medium hide-for-xsmall-only">
            <img src="/decorations/layout/uvp/images/template/logo.svg" alt="$MESSAGES.getString('ingrid.page.logo.alt.header')"/>
        </a>
        <a href="$jetspeed.getAbsoluteUrl('/default-page.psml')" class="show-for-medium hide-for-xsmall-only">
            <img src="/decorations/layout/uvp/images/template/logo-mit-tag.svg" alt="$MESSAGES.getString('ingrid.page.logo.alt.header')"/>
        </a>
        <a href="$jetspeed.getAbsoluteUrl('/default-page.psml')" class="show-for-xsmall-only">
            <img src="/decorations/layout/uvp/images/template/logo-xsmall.svg" alt="$MESSAGES.getString('ingrid.page.logo.alt.header')"/>
        </a>
    </div>
</div>