.footer__logo {
    width: unset;
}

.header__logo {
    height: unset;
}

.mobile__title {
    color: #FFFFFF;
    font-size: 25px;
}

.mobile__title:hover {
    color: #FFFFFF;
}

.header__widgets__section {
    padding: 1.125rem 0;
}