/**
 * Inlcude CSS styles for portlets (standardized classes)
 * See: Section PLT.C of the Portlet Specfication 1.0
 */
@import url("./PLT.C.All.css");


/********************************************************************
  standard styles 
*********************************************************************/

body { padding: 0; margin: 0; color: #111111; background-color: #FFFFFF; font: normal 100% Verdana, Arial, sans-serif; line-height: 120%; }

sup { line-height: 0; }
img { border:0; }
span.icon { margin-right:0px; margin-top:3px; float:left; }
span.icon_udk { margin-right:6px; margin-top:2px; position:absolute; width:21px; height:14px; }
/* no float for detail page in OPERA */
span.icon_udk_detail { margin-right:6px; margin-top:2px; width:21px; height:14px; }
span.normaltext { font-weight:normal; text-transform:none; }
span.smaller {font-size: 83%}
ul { list-style-type:square; padding-left:0; margin: 0 0 1em 30px; }
p { margin-top:0; margin-bottom:1em; font-size:12px; }
strong {font-weight:bold}
.section textarea, .section select, input { }
div.line { border: 0; height: 0px; margin:10px 0 0 0; padding:0; border-bottom: 1px solid #B4B4B4; }
div.line_form { border: 0; background-color: #CCCCCC; height: 1px; margin:10px 0 10px 0; padding:0}
/* for CSS1 browsers */ 
div.line hr { display: none;}
div.line_form hr { display: none;}
/* for CSS2 browsers */
div.line * { display: none;}
div.line_form * { display: none;}

a, a:link { color: #14606D; text-decoration: none; }
a:visited { color: #14606D; }
a:hover, a:focus { color: #111111; text-decoration: underline; }
a:active { color: #111111; text-decoration: none; }
a.selected { font-weight:bold; }
/*search_seperator style used at profile NUMIS*/
span.search_seperator{ }

h1 { font-family: Verdana, Arial, Helvetica, sans-serif ; font-size:20px; font-weight:normal; line-height:100%; margin-top:0; }
h2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:90%; line-height:100%; font-weight:bold; margin-top:0; margin-bottom:0.8em; }
h3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:80%; line-height:100%; font-weight:bold; margin-top:0.4em; margin-bottom:0.3em; }

table.border { border-collapse:collapse; }
table.fullwidth { width:100%; }
th {font-size: 75%; vertical-align:top; padding:3px;}
td {font-size: 75%; vertical-align:top; padding-left:3px;}
table.formtable td {font-size: 75%; vertical-align:middle; margin:0;}
td.iconwidth { width:9px; }
table.layout td {font-size: 100%}
td.fontcolor {color: #14606D;}

/********************************************************************
  helper styles 
*********************************************************************/

.hide { position: absolute; left: -1000em; width:500em; line-height:0px; }
.clearer { clear:both; height:1px; line-height: 0px; font-size: 1px; margin:0; padding:0; }
.float { float:left; }
.float_left { float:left; }
.float_right { float:right; }
.bgred {background-color:#FF0000}
.top { margin-top:0; }
.nobottommargin { margin-bottom:0; }
.leftmargin {margin-left: 12px; }
.leftmargin_big {margin-left: 84px; }
.nospace { margin-bottom:0; padding-bottom:0; }
.rightmargin { margin-right:1.5em; }

div.ico_linkintern {margin: 0 0 0.3em 0;padding-left: 15px; background-image:url("../images/icn_linkintern.gif");background-repeat: no-repeat;background-position: 0 5px;}
div.ico_arrowup {margin: 0 0 0.3em 0;padding-left: 15px; background-image:url("../images/arrow_up.gif");background-repeat: no-repeat;background-position: 0.0em .4em;}
div.ico_down_black {margin: 0 0 0.3em 0;padding-left: 10px; background-image:url("../images/ico_down_black.gif");background-repeat: no-repeat;background-position: 0.0em -.1em;}

/********************************************************************
  breadcrumb styles 
*********************************************************************/

div#breadcrumb { padding-top:0.2em; padding-bottom:0.2em; margin-left:28px; background-color:#FFFFFF; font-size: 75%; }

/********************************************************************
  identity area styles
*********************************************************************/

div#identity { padding:0; margin:0; height: 124px; width:59.5em; background-color:#3E3E3E; overflow:visible; }
div.motiv_start { background-image:url(../images/01_motiv_start.png); background-repeat:no-repeat; }

div.en_motiv_start { background-image:url(../images/en/01_motiv_start.png); background-repeat:no-repeat; }


/********************************************************************
  logo styles 
*********************************************************************/

div#logo { float: left; }

/********************************************************************
  logged on styles 
*********************************************************************/

div#logged_on {float: right; clear:right; font-size: 70%; padding:3.5em 1.2em 0 0; color:#C7E7FF;}
div#logged_on a, div#logged_on a:link, div#logged_on a:visited {color:#FFFFFF; text-decoration: none}
div#logged_on a:hover, div#logged_on a:focus, div#logged_on a:active { color: #111111; text-decoration: underline; }

/********************************************************************
  service navigation styles
*********************************************************************/

div#servicenav { padding:0; float: right; margin: 0 30px 0 0; }
#servicenav { font-size: 70%; }
div#servicenav ul { list-style: none; padding: 0; margin: 0; background-color:#FFFFFF; height:22px; padding:0 10px; }
div#servicenav ul li { display:inline; color: #000000; }
div#servicenav ul li a { color:#000000; padding:0px 5px; font-size: 11px; }
div#servicenav ul li a.selected { text-decoration:none; color:#000000; font-weight:normal; }
div#servicenav ul li a.selected:hover { text-decoration:none; color:#000000 !important; }
div.service_nav_left { float:left; width:4px; height:23px; }
div.service_nav_right { float:left; width:4px; height:23px; }

/*style to change language switch style (use in profiles)*/
select.language_switch_style { font-size:100%; color: #14606D; }

/********************************************************************
  main navigation styles
*********************************************************************/

/* IE Win needs this to show background-color \*/
html body div#mainnav { height: 31px; }
/* End Hack */

div#mainnav { background: #3e3e3e; margin:0; padding:0; width:59.5em; height:30px;  z-index: 10; position: relative;}  
div#mainnav ul { list-style: none; padding: 0px 0 0px 56px; margin: 0;}
div#mainnav ul li { padding: 5px 0px; margin: 0px 0px 0px -2px; border: 0; float: left;font-size: 12px; font-weight:bold;}
div#mainnav ul li:hover { }

div#mainnav ul li ul {}
div#mainnav ul li ul li { padding:3px 0px; }
div#mainnav ul li ul li:hover { background: url(); }

/* Commented Backslash Hack hides rule from IE5-Mac \*/
div#mainnav ul li a {float:none;}
/* End IE5-Mac hack */

div#mainnav ul li a,  
div#mainnav ul li a:link, 
div#mainnav ul li a:visited 
 { text-decoration:none; color:#FFFFFF; padding:5px 12px 10px; margin:0; font-size: 13px; font-weight: normal; margin: 6px; }  

div#mainnav ul li a.selected,
div#mainnav ul li a.selected:link, 
div#mainnav ul li a.selected:visited 
 { background:#bad405; color:#000000; font-weight:bold;  }  

div#mainnav ul li a:hover,
div#mainnav ul li a:active
 { }

div#mainnav div.tabs { margin: -7px 0 -5px; height:33px; }
div#mainnav div.tabs_left { width:4px; height:33px; float:left; background-image: url(../images/tabs-left.png); }
div#mainnav div.tabs_right { width:4px; height:33px; float:left; background-image: url(../images/tabs-right.png); }
div#mainnav div.tabs_center { height:33px; float:left; background-image: url(../images/tabs.png); }
/********************************************************************
  sub navigation styles
*********************************************************************/

div#subnav { height:1.375em; padding: 5px 0px 0px 0px; border-top: 0; margin-top: 1px; position: relative; width: 59.5em; z-index: 12; background: #bad405; }
div#subnavBack { height:1.375em; padding: 5px 0px 0px 0px; border-top: 0; margin-top: 1px; position: relative; width: 59.5em; z-index: 12; background: #bad405; }

div#subnav ul { list-style:none; padding:0 0 0 72px; margin:-3px; line-height:120%; color:#000000; font-weight:normal; }
div#subnav ul li { display:inline; padding:0; margin:0; }

div#subnav ul li a,
div#subnav ul li a:link,
div#subnav ul li a:visited,
div#subnav ul li a:active { text-decoration:none; color:#000000; font-weight: normal; padding:0px 5px !important; border:0px !important; font-size:11px; }

div#subnav ul li a:hover, div#subnav ul li a:focus { color:#000000; text-decoration:underline; }
div#subnav ul li a.selected { text-decoration:none; font-weight: bold; background-image: url() !important; float:none !important; }

div.subnav_corner { background: #bad405; float: right; height: 100%; vertical-align: bottom; width: 21px; }
div.subnav_corner_img { height: 100%; vertical-align: bottom; width: 21px; }

div#subnav div.subnav_left { background-image: url(../images/subnav_left.png); width: 5px; height: 28px; float:left; }
div#subnav div.subnav_right { background-image: url(../images/subnav_right.png); width: 5px; height: 28px; float:left; }
div#subnav div.subnav_center { background-image: url(../images/subnav.png); height: 28px; float:left; }

div#subnavBack ul { list-style:none; padding: 0px; margin:0; line-height:120%; color:#111111; }
div#subnavBack ul li { display:inline; padding: 5px 10px 2px 0; float:left; font-size: 11px; }

div#subnavBack ul li a.selected { text-decoration:none; color:#215A7E; font-weight:bold; }
div#subnavBack ul li a,
div#subnavBack ul li a:link,
div#subnavBack ul li a:visited,
div#subnavBack ul li a:active {text-decoration:none; color:#000000;}  
div#subnavBack ul li a:hover, div#subnav ul li a:focus {color:#000000;text-decoration:underline;}

div#subnavBack div.subnav_left { background-image: url(../images/subnav_left.png); width: 5px; height: 28px; float:left; margin: 0px 0px 0px 63px }
div#subnavBack div.subnav_right { background-image: url(../images/subnav_right.png); width: 5px; height: 28px; float:left; }
div#subnavBack div.subnav_center { background-image: url(../images/subnav.png); height: 28px; float:left; padding-left:10px;}

/********************************************************************
  content block styles
  base layout for content area and marginal column  
*********************************************************************/

div#container { width:56em; margin:28px 0 0 63px; }

/*** alt ***/
div#content { float:left; width:37.1875em; }
div#marginal { float:left; width:15.75em; margin: 0px 0px 0 2.625em; }

/*** portlat column styles, replacing div#content and div#marginal ***/
div.portal-layout-column-1 { float:left; width:37.1875em; }
div.portal-layout-column-2 { float:left; width:15.75em; margin: 0px 0px 0 2.625em; }


/*** Ergebnis-Spalten: 2/3 zu 1/3 ***/
div#results_left { float:left; width:35.2917em; }
div#results_right { float:left; width:17.6458em; margin: 0px 0px 0 2.625em; }

/*** Ergebnis-Spalten: 1/2 zu 1/2 
div#results_left { float:left; width:26.2917em; }
div#results_right { float:left; width:26.6458em; margin: 0px 0px 0 2.625em; }
***/

/* full width content area styles */
div#content_full { float:left; width:55.5625em; }
div#content_full .clearer { clear:both; display:block; height:1px; line-height:0px; font-size:1px; margin:0; padding:0; }

div.portal-layout-OneColumn {width: 55.57em}


/********************************************************************
  main block styles  
*********************************************************************/

.iconLink { margin:0px 0px 5px 0px; font-size:70%;}
/* ich will all die beknackten Abh�ngigkeiten unterhalb der Klasse .iconLink nicht (a styles etc. s.u.)
deshalb definier ich mir jetzt das Gleiche unter anderem Namen,da hab ich keine Abh�ngigkeiten, mm */
.iconLink2 { margin:0px 0px 5px 0px; font-size:70%;}

div.left { float:left; width:15.75em; padding:0; }
div.right { float:left; margin-left:2.625em; width:15.75em; padding:0; }
div.whole { width:34.125em; padding:0; }
div.themen_image { margin:0; padding:4px 14px 0 0; float:left; }
/*Need for profile NUMIS*/
div img.themen_image_style{}

div.section { margin: 0 0 0px 0; padding:0; }
div.section p a { text-decoration:underline; }
div.section div p a { text-decoration:none; }
div.section div p a:hover { text-decoration:underline; }
div.section-header { margin-top:0; padding:0; }
div.section-header h1 { display:inline; float:left; padding-top:0em; padding-bottom:0em; color: #5E5E5F; text-transform: uppercase; }
div.section-header span.portlet_info { float:right; font-size:80%; }
div.section-header span.edit_info { float:right; font-size:80%; }

/* n�tig f�r Firefox, sonst zerreissts �berschrift ! */
div.section-header span.clearer { display:block; }

/* n�tig fuer IE: sonst springt in Erweiterter Suche "Suche" Button */
div.portal-layout-column-1 .clearer { clear:both; display:block; height:1px; line-height:0px; font-size:1px; margin:0; padding:0; }

div.section p.iconLink span.icon { margin: 7px 0 0 0; }

div.section ul.catalog { margin:0; padding:0; }
div.section ul.catalog li { display:inline; }
div.section ul.catalog li a { display:inline; margin-right:0.2em; color: #14606D; }
div.section ul.catalog span.separator { background: url(../images/list_dot.gif) no-repeat center center; margin-right:0.1em; margin-left:0.2em; }
/*
div.section ul.catalog li a { white-space:nowrap; padding-left:1em; padding-right:0.5em; background: url(../images/list_dot.gif) no-repeat 

top left; }
div.section ul.catalog li { border:1px solid red; background: url(../images/list_dot.gif) no-repeat bottom left; display: inline; 

padding-left:1em; padding-right:0.5em}
*/
div.section ul li { font-size:14px; }
div.section ol li { font-size:14px; }

div.section ul.innermenu {list-style: none; margin: 0 0 0 0.0em;}
div.section ul.innermenu li { margin: 0 0 0.3em 0;padding-left: 20px;background-image:url("../images/icn_down.gif");background-repeat: no-repeat;background-position: 0 .15em; }

div.section ul.udklist { list-style-type:none; line-height: 180%; font-size:93% }

div.section ul.extlinklist {list-style: none; margin: 0 0 0 0.0em;}
div.section ul.extlinklist li { margin: 0 0 0.3em 0;padding-left: 20px;background-image:url("../images/icn_linkextern.gif");background-repeat: no-repeat;background-position: 0 .45em; }

div.section ul.internlinklist {list-style: none; margin: 0 0 0 .5em;}
div.section ul.internlinklist li { font-size:70%;margin: 0 0 0.3em 0;padding-left: 15px;background-image:url("../images/icn_linkintern.gif");background-repeat: no-repeat;background-position: 0 .5em; }

div.section ul.internlinklist2 {list-style: none; margin: 0 0 0 .5em;}
div.section ul.internlinklist2 li { margin: 0 0 0.3em 0;padding-left: 15px;background-image:url("../images/icn_linkintern.gif");background-repeat: no-repeat;background-position: 0 .5em; }

div.section ul.anmeldung li { margin-top: 0.5em;}


div.section div.indent {margin-left: 1em}


/* SEARCH RESULT LIST */

div.noresult { margin-top:20px; }
div.noresult ul { line-height:2em; }

div.resultset_nav { text-align:right; background-color:#F4F4F4; padding:0px 4px 0px 4px; font-size:75%; }
div.resultset_nav a { text-decoration:underline; font-weight: bold;}

div.resultset { padding:4px 4px 4px 0px; font-size:100%; margin: 5px 0px 5px 0px; }
div.resultset a { text-decoration:none; color: #14606d; line-height:120%; }
div.resultset a:hover { text-decoration:underline;color: #111111;}
div.resultset p.result_title { font-size:10px; margin: 10px 0px 10px 0px; }
div.resultset p.result_description { font-size:11px; margin: 10px 0px 0px 0px; line-height:120%; color:#646464; }
div.resultset p.event_description { margin: 10px 0px 10px 0px; line-height:120%}
div.resultset p.result_metadata { font-size:10px; color:#999999; margin:0; line-height:120%}
div.resultset p.result_metadata_adress { font-size:11px; color:#999999; margin:7px 0 8px 0; line-height:120%}
div.resultset p.result_link { font-size:65%; color:#999999; margin:3px 0 8px 0; }
div.resultset p.result_link img { position:relative; top:1px; }
div.resultset p.result_link a { text-decoration:none; font-size: 11px; }
div.resultset p.result_link a:hover { text-decoration:underline; }
div.resultset span.result_title { font-size:75%;}
div.resultset span.inquiry { margin-left:20px; font-size:83%}
div.resultset em.date { font-style:normal; font-size: 83%; color:#111111; padding-left:20px;}

div.resultset_partner_group {background-color:#D1E4F1; margin: 0 0 10px 0;padding: 0.25em 0.875em 0.05em 0.7em;}
div.resultset_partner_group span.title {font-size:67.5%; font-weight:bold; line-height:100%; text-transform:uppercase;}
div.resultset_partner_group p.result_description { font-size:65%;margin: 5px 0px 0px 0px; line-height:120%}
div.resultset_partner_group p.result_metadata { font-size:65%; color:#999999; margin:0; line-height:120%; margin-bottom:2px;}

div.resultset_partner_only {background-color:#D1E4F1; margin: 0 0 20px 0;padding: 0.25em 0.875em 0.2em 0.7em;}

div.resultset_show_partner {text-decoration:none;font-size:12px; margin: 10px 0px 10px 0px;}

.intendResult { font-weight: bold; left: 20px; position: relative; }

/* TAB, EXTENDED SEARCH */
div.tabs ul { list-style: none; padding: 7px 0 0px 0px; margin: 0;}
div.tabs ul li { padding: 2px 0px 2px 0; margin: 0px 2px 0px 0px; border: 0; float: left; font-weight: bold;font-size: 80%;}
div.tabs ul li a.selected,
div.tabs ul li a.selected:link, 
div.tabs ul li a.selected:visited 
  { position:relative; top: -2px; text-decoration:none; color:#000000; background: #BAD405; margin:0; padding:3px 7px 5px 7px; border-bottom: solid #FFFFFF 0px; }  

div.tabs ul li a.selected:hover,
div.tabs ul li a.selected:link:hover, 
div.tabs ul li a.selected:visited:hover
  { background-image: none; color:#000000; }  


/* Commented Backslash Hack hides rule from IE5-Mac \*/
div.tabs ul li a {float:none;}
/* End IE5-Mac hack */

div.tabs ul li a,  
div.tabs ul li a:link, 
div.tabs ul li a:visited 
 { text-decoration:none; color:#FFFFFF; background-color: #3E3E3E; margin-right:7px; padding:3px 7px 5px 7px; border-bottom:0px; margin:0; font-size: 90%;}  

div.tabs ul li a:hover,
div.tabs ul li a:active, 
div.tabs ul li a:focus { color:#FFFFFF; text-decoration:none; background-image: url(../images/background-mainmenu-hover.png); padding:3px 7px 5px 7px; border-bottom: solid #111111 0px; margin:0; font-size: 90%;}

/* TAB MENU, EXTENDED SEARCH */

div.tabmenu {position:relative; background-color:#999999; padding: 6px 0px 6px 0px; width:100%; margin:0px ;font-size:100%;z-index:12;}
div.tabmenu ul { list-style:none; padding: 0px 7px 0px 6px; margin:0; font-size:75%; line-height:130%; color:#111111; }
div.tabmenu ul li { display:inline; }

div.tabmenu ul li a.selected { text-decoration:none; color:#111111; font-weight:bold; font-size: 11px; }
div.tabmenu ul li a,
div.tabmenu ul li a:link,
div.tabmenu ul li a:visited,
div.tabmenu ul li a:active { text-decoration:none; color:#111111; font-size: 11px; }  
div.tabmenu ul li a:hover, 
div.tabmenu ul li a:focus { color:#111111; text-decoration:underline; font-size: 11px; }


/* SEARCH DETAILS */

h3#search_detail {  text-decoration:underline; margin-top:1em; }


/********************************************************************
  marginal portlet block styles  
*********************************************************************/

div.portlet { margin-bottom:10px; padding:0;}
div.portlet p { font-size:11px; line-height:15px; color:#646464; }
div.portlet p.hitrow { font-size:83%; line-height:140%;}
div.portlet ul { margin: 0 0 -5px 14px;}

/* n�tig fuer Firefox: sonst f�llt Link aus Portlet, vgl. Einstellungen */
div.portlet .clearer { clear:both; display:block; height:1px; line-height: 0px; font-size: 1px; margin:0; padding:0; }

div.portlet .iconLink a { float:left; line-height:140%; font-size:12px; }
div.portlet .link_descr { margin:0px 0px 0px 15px; }

div.portlet div.resultset p.result_description { font-size:65%; margin: 10px 0px 0px 0px; line-height:120%;}
div.portlet div.resultset p.result_link {  font-size:65%; margin:3px 0 8px 0;}

/* wenn langer Titel:
   min-height statt height, sonst Probleme in firefox.
   padding rechts 0 lassen, sonst fliegt in IE das marginal portlet nach l.u. wenn Titel zu lang
*/
div.portlet div.section-header { padding: 5px 0px; background:#666666; }

/* IE6, 5 bugfix. sets hasLayout property and fixes http://jira.media-style.com/browse/INGRID-1468 */
* html div.portlet div.section-header {height:1%;}

div.portlet div.section-header h1 { display:inline; color:#FFFFFF; font-size:14px; font-weight:bold; line-height:19px; margin:0; text-transform:uppercase; padding:0px  5px 0px 10px; }
div.portlet div.section-header span.portlet_info { float:right; color: #FFFFFF; }
div.portlet div.section-header a { color: #FFFFFF; background-image:url("../images/help.png") no-repeat; }
/* because of problems in IE rendering underline and background ! */
div#marginal_header a:hover, div#marginal_header a:focus { text-decoration: none; }
div#marginal_header a:hover, div#marginal_header a:focus, div#marginal_header a:active, div#marginal_header a:visited { color:#FFFFFF; text-decoration:none; }
div#marginal_header span.portlet_info a { background: url("../images/help-teaser.png") no-repeat; padding: 3px 10px 5px; }

div.portlet div.portlet-section-body { position:relative; padding: 5px 10px 5px 10px; margin:0; border: 1px solid #CCCCCC; }


/********************************************************************
  form block styles  
*********************************************************************/

form, input { padding:0; margin:0; }
select { padding:0; margin:0; border: 0px inset #FFFFFF;}

div.formheader {height: 1em; padding: 4px 14px 2px 8px; color: #FFFFFF; font-size: 75%; line-height: 120%; text-transform: uppercase; border-bottom: 1px solid #13547d; background-color: #14606D;}

div.formheader span.portlet_info { float:right; color: #FFFFFF; line-height:100%; margin: 0 0 0 0;}
div.formheader span.portlet_info a { color: #FFFFFF; }

div.formbody { padding:10px 30px; background: #EFEFEF; border: 1px solid #CECECE; }
div.formbody_search { background: #f6f6f6; padding: 0px; }
div.formbody_search div.search_line { background-image: url(../images/bg_search_line.png); width:100%; height:1px;  }
div.formbody_search form { padding:16px 17px; }
div.formbody_search div.optional-links { padding:0px 15px 12px 25px; margin:0; font-size:12px; }
/* use formbody_border_style if need to change border style in profile (e.g. NUMIS)*/
div.formbody_border_style { border-left: 1px solid #CECECE; border-right: 1px solid #CECECE; border-top: 1px solid #CECECE; border-bottom: 

0px solid #CECECE; }

div.formbody_map { paddingpadding:10px 12px; }

/* Sonderbehandlung f�r IE: dieser �bernimmt die Farbe des �bergeordneten divs nicht f�r rollover Link Auszeichnungen 
   siehe auch http://jira.media-style.com/browse/INGRID-192
*/
div.formbody div { }
div.formbody div.line {background-color: #CCCCCC;}
div.formbody div.line_form {background-color: #CCCCCC;}
div.formbody p { padding:0; margin: 0.5em  0.0em; }
div.formbody a { color: #14606D; }
div.formbody .nospace { padding-bottom:0; margin-bottom:0; }
div.formbody h3 { font-weight:bold; margin: 0.7em 0; }
div.formbody h2 { font-weight:bold; margin-top: 0.8em; }
div.formbody p.datasource_selection { padding: 0 0 5px; }
div.formbody div.marginleft {margin-left:3em}
div.formbody .radio_button { border:0 !important; }
div.formbody .indent1_checkbox {margin-left:2em; border:0 !important; }
div.formbody .indent2_checkbox {margin-left:4em; border:0 !important; }

div.formbody select.env_themes { width:15em;}
div.formbody select.spacial_relation { width:23em;}
div.formbody select.funct_class  { width:20em;}
div.formbody select.info_provider  { width:22em; border: 0px inset #FFFFFF; padding:4px; }
div.formbody select.group_by { width:15em;}

div.formbody input.radio {margin: 10px 0px 10px 0px; padding: 4px 4px 4px 4px; line-height: 130%; }
div.formbody .inputstyle {border: 1px inset #FFFFFF;}
div.formbody .inputstyleerror { padding: 2px 4px 2px 4px; }
div.formbody .inputstyletext { padding: 2px 4px 2px 4px; }
/*IE: Add font-family to get same width for user and password input at login page*/
div.formbody .inputtextfont {font-family:Verdana, Arial, sans-serif;}
div.formbody input.large {width:15em;}

div.formbody textarea {font: normal 83% Verdana, Arial, sans-serif; line-height: 130%; border: 1px inset #FFFFFF; padding:4px; }

div.formbody label { margin: 0px 10px 0px 0px; padding: 0px 4px 0px 4px; line-height: 130%; }
div.formbody label.alignleft { padding: 0px 4px 0px 0px;}
div.formbody label.lbl_qrystr { margin: 0; padding: 0; line-height: 180%; font-size: 80%}
div.formbody label.radiogroup {font-size: 80%; line-height:160%}
div.formbody .spacer_search_form {margin-top: 15px}

.col2left { width:12em; }
.col2left_incr { width:14em; }
.col2right { width:15em; }

div.formfooter {height: auto;padding: 10px 20px 20px; margin:0px 0px 20px 0px; background-color: #EFEFEF; height: 30px; }
div.formfooter .iconLink { margin:0px 25px 0px 0px; font-size:70%; }
div.formfooter_border_style { border-bottom: 1px solid #CECECE; border-left: 1px solid #CECECE; border-right: 1px solid #CECECE; }
div.formfooter_border_style_top { border-top: 1px solid #CECECE; }

input.btn { color: #FFFFFF; background:url(../images/background_btn.png); font-size: 11px; font-weight:bold; margin:10px 0px 11px 0px; padding:2px 14px 5px 14px; height:24px; cursor: pointer; }
input.btn:hover { }
input.btn_disable { color: #FFFFFF; background:#CECECE; font-size: 11px; font-weight:bold; margin:10px 0px 11px 0px; padding:2px 14px 5px 14px; height:24px; }
input.btn_search { color: #FFFFFF; background:url(../images/background_btn.png); font-weight:bold; height:32px; width:95px; }
input.btn_search:hover { }
input.btn_search_disable { background: none; height: 33px; color: #CECECE; font-weight: bold; text-align: left; padding-left: 10px; padding-right: 35px; border: 0 none !important; background-image: url(../images/background-mainmenu-hover.png); }


/*Use only at profile NUMIS*/
input.btn_admin { float: left; }
input.btn_admin:hover { }

label.left {width:7.5em; float:left;}
label.login {width:8em; float:left;}
div.optional-links { margin:10px 0 0 0 ; padding:0; }
div.optional-links img, ul.optional-links img { margin:0; padding:0; }
div.optional-links a, ul.optional-links a, div.optional-links span { margin-right:1em; font-size: 12px; }
/*Need for profile NUMIS*/
div.optional-links span.selected {}

ul.optional-links ul.optional-links { margin: 0 0 0 12px; padding:0; }
ul.optional-links { list-style:none; margin: 0 0 1.2em 0; }

/*** sitemap ***/

div.sitemap ul {list-style: none; margin: 0 0 0 0.5em;}
div.sitemap li { margin: 0 0 0.2em 0;padding: 10px 0 0 15px;/*background-image: url("../images/icn_linkintern.gif");background-repeat: 

no-repeat;background-position: 0 .45em;*/ }
div.sitemap li a { font-size:75%; color:#14606D; font-weight:bold;}
div.sitemap li p { margin: 0 0 0 0; font-size:70%; line-height:110%; color:#111111}
div.sitemap li p a { font-size:100%;}
div.sitemap li li a { font-size:75%;}
div.sitemap li li p { margin: 0 0 0 0; font-size:70%; line-height:110%; color:#111111}

div#overview .whole { width: 54em; padding-top: 25px;}

.dottedTop { border-top: 1px dotted #B4B4B4; margin-top: 20px !important;}
.middle {float: left; margin-left: 2.625em; width: 15.75em;}


/*** Formular Anmeldung ***/

div.formbody input.fld_logon {width: 10em; line-height: 100%;}


/*** Formular Umweltchronik ***/

div.formbody td p { margin-top:0; font-size: 100%; }
div.formbody input.qry_chronic {width: 29em; height: 25px; font-size: 83%; line-height: 25px; }

/*** Formular Einfache Suche Start Seite ***/

div.formbody input.qrystr { font-size: 83%; line-height: 100%; width: 445px; height:28px; }

/*** Formular Erweiterte Suche ***/

div.formbody div.qrytxt { padding: 0px; text-align:right; }
div.formbody textarea.qrytxt { width: 100%;font: normal 83% Verdana, Arial, sans-serif; line-height: 130%; border: 1px inset #FFFFFF; padding:2px; margin:0 0 5px 0; }
div.formbody input.search_term { height:auto;width: 100%;font-size: 83%;}
div.formbody div.innerform { }
div.formbody input.thesaurus_term {width: 45%;font-size: 83%; line-height: 120%;}
div.formbody input.address_space {width: 55%;}

div.formbody td label {font-size: 100%;}
div.formbody input.btn_show_provider {margin: 3em 0 0 0; padding: 2px 10px 2px 10px; color:#FFFFFF; font-size:80%; line-height: 130%; font-weight:bold; border: solid 1px #000; background-color: #14606D; cursor: pointer; }
div.formbody p.event_description { margin-left: 20px; font-size:100%; line-height:120%}

div.intend {margin:0 0 0 2em}

/*** Formular Suchhistorie ***/

div.formbody a.smaller { font-size:70%;}

/*** Formular Einstellungen (Suche) ***/

div.formbody p.topmargin { margin-top:1.5em }

/*** Formular Aehnliche Begriffe Suchergebnisse ***/

div.formbody .snslogo_margin {margin-top: 8px; }

/********************************************************************
  footer block styles  
*********************************************************************/

div#footercontainer { margin: 0; background: #cccccc; padding: 0; width:59.5em; padding:65px 0px 100px 0px; }
#footercontent { font-size: 65%; line-height: 120%; color: #666666; padding:0px 35px 0px 35px; }
#footerimage { background: url(../images/logo_footer_1.png) no-repeat; width:160px; height:50px; float:left; margin: -35px 0 0; }
#footerimage2 { background: url(../images/logo_footer_2.png) no-repeat; width:71px; height:52px; float:right; }
#footertext { float:left; margin:0 0 0 35px;}
#footertext2 { text-transform: uppercase; float:right; }

div#footermarginalcontainer { width: 59.5em; margin-top: 25px; margin-bottom: 0px; padding: 0; background: #FFFFFF;}
div#footermarginal { background: #FFFFFF; width: 19em; padding-right: 14px; text-align:right; font-size: 65%; width:100%;}

div#finalfootercontainer { float: left; width: 59.5em; }
div#finalfooter { padding-left:112px; padding-bottom:20px; padding-top:0px; height:11px; font-size:65%; line-height:120%; color:#666666; }

#footerSeparator { }
#footercontent a { color: #666666; }
#getNewsletter { font-size:10px !important; margin-top: 5px;}

/********************************************************************
  popup + overview styles  
*********************************************************************/

div#popupheader { padding:0; margin:0; height: 80px; width:100%; background-color:#68A5D2; overflow: visible; }  
div#popupContent, div#popupOverview { margin:27px 0 27px 56px; }
div#popupContent div.left { float:left;  width:196px; margin: 0 28px 0 0; background-color:#EFEFEF; }
div#popupContent div.right { float:left; width:25em; margin:0 0 42px; padding:0; }

/*div#popupContent h1, div#popupOverview h1, div#overview h1 { margin-top:0.4em;; margin-bottom:1.7em; }*/
div#popupContent h1, div#popupOverview h1, div#overview h1 { color: #5E5E5F;padding-bottom: 0.2em;padding-top: 0.2em;text-transform: uppercase;}
div#popupContent div.left h3, div#popupContent div.left p, div#popupContent div.left ul { padding-left:8px; padding-right:8px; }

div#popupOverview h2, div#overview h2 { height:auto; padding: 6px 14px 4px 13px; margin:0 0 10px 0; background:#EFEFEF; font-weight:bold; line-height:140%; text-transform:uppercase; }

div.helpcontent ul {list-style: none; margin: 0.0em 0 0 0.5em; padding:0;}
div.helpcontent li { margin: 0 0 0.0em 0;padding: 0 0 0 15px;background-image:url("images/icn_linkintern.gif");background-repeat: no-repeat;background-position: 0 .45em; }
div.helpcontent li a { font-size:75%; }

/********************************************************************
  administration styles
*********************************************************************/

/*** content database browser ***/

.contentNavigation { padding:2px 170px 2px 170px; margin:0px 0px 10px 0px; border:1px solid #14606D; }
.contentNavigationLeft { float:left;  width:110px; }
.contentNavigationMiddle { float:left; font-size:75%; width:250px; text-align:center; }
.contentNavigationRight { float:right; width:110px; text-align:right; }
.contentColumnHead { text-decoration:underline; background-color:#3E3E3E; color:white; }
.contentColumnHeadLight { text-decoration:none; background-color:#d1e4f1; color:black; }

a.contentColumnHead, a.contentColumnHead:link, a.contentColumnHead:visited { text-decoration:underline; color: white; }
a.contentColumnHeadLight, a.contentColumnHeadLight:link, a.contentColumnHeadLight:visited { text-decoration:none; background-color:#d1e4f1; color: black; }

.contentRowEven { background-color: #F4F4F4; }
.contentRowEvenError { background-color: #F4D4D4; }
.contentRowEvenYellow { background-color: #FfFfa0; }
.contentRowOdd { background-color: #E0E0E0; }
.contentRowOddError { background-color: #E0C0C0; }
.contentRowOddYellow { background-color: #FfFf74; }
.contentRowDark { background-color: #F4F4F4; }
.contentRowLight { background-color: white; }
.contentRowLine {border-bottom: 1px solid #14606D; }
.contentRowTitle {background-color:#14606D; color:white;}
.contentInput { width:46.8em; }

a.tooltip {position: relative; }
a.tooltip span
{     visibility: hidden;
      position: absolute;
      top:13px; right:0;
      width:32em;
      padding:1em;
      color:#226600;
      font-size:80%;
      background: #ffffdd;
      border: 1px solid #aaaaaa;
      padding: 7px;
      z-index: 99;
}

a.tooltip:hover span { visibility: visible; }

.comment {
    color:gray;
    font-size:65%;
    padding-left:185px;
}

/** new for InGrid 3.1.0 **/
.teaser_image { width:70px; height:65px; float:left; padding: 0 10px 0 0; }
.teaser_title { width:60%; float:left;  color:#1B78B1 !important; font-weight:bold; font-size: 12px !important; }
.teaser_title a:hover { text-decoration:underline; color: #1B78B1; }
.teaser_body { float:left; }

div.section-header span.portlet_info a { color:#8F8F8F; padding:0px 18px 10px 5px; background: url(../images/help.png) no-repeat; font-weight: bold; font-size: 14px; }
div.section-header span.portlet_info a:hover { color:#FFFFFF; text-decoration:none; cursor:help; }
p.datasource_selection a.selected { color:#000000; padding: 2px; }
p.datasource_selection span.selected { color:#000000; padding: 2px; }

h1.info_title { color:#1B78B1; text-transform: uppercase; font-size:15px; font-weight:bold; }
h1.info_title a:hover { color:#1B78B1; text-decoration: underline; margin-bottom: 15px;}
p.info_subtitle { color: #646464; font-weight:bold; padding-top:10px; font-size: 11px; line-height: 16px; margin-bottom: 0.5em; }
p.info_body { color: #646464; padding: 0px 0px 20px 0px; font-size:11px; line-height: 16px;}
p.info_link { font-size: 12px !important; }
p.bottom_align { position: absolute; bottom: 0px; left:20px; }

div.portlet_info_top { background-image:url(../images/portlet_info_top.png);width:100%; height:3px; }
div.portlet_info { border:1px !important; background: #D9EAFA; padding: 20px 20px 10px 20px !important; }
div.portlet_info_bottom { background-image:url(../images/portlet_info_bottom.png);width:100%; height:3px; margin-top: 0px !important;  }
span.button { background-image: url(../images/button_icon.png); width:25px; height:25px; }
div.button_img { background-image: url(../images/button_icon.png); width:25px; height:25px; }
img.info_img { /*float:right; margin: -40px -20px 0 0;*/ position: absolute;right: 0;margin: 0;top: -4px; }
div.portlet_info img.info_img { top:-3px;}/*float:right; margin: -67px -10px 0 0; }*/
div.portlet_info img.info_img_line { margin :0 0 0 -20px; }

div.portlet_feature_info_boxes { padding:20px 0px 10px 0px; }
div.portlet_feature_info { float:left; width:195px; height:100%; }
div.portlet_feature_info_big { float:left; width:419px; height:100%; }
div.portlet_feature_info_padding { margin: 0 26px 30px 0; }
div.portlet_feature_info_body { position:relative; padding:13px 20px 10px 20px; height: 160px;}

div.portlet_feature_info_top { background-image:url(../images/portlet_feature_info_top.png);width:100%; height:4px; }
div.portlet_feature_info_top_big { background-image:url(../images/portlet_feature_info_top_big.png);width:100%; height:4px; }
div.portlet_feature { background: #D9EAFA; width: 100%; height:100%;  }
div.portlet_feature_info_bottom { background-image:url(../images/portlet_feature_info_bottom.png);width:100%; height:4px; margin-top: 0px !important; }
div.portlet_feature_info_bottom_big { background-image:url(../images/portlet_feature_info_bottom_big.png);width:100%; height:4px; margin-top: 0px !important;  }

div.feature_menu { width:180px; height:100%; padding:20px 0 0; }
div.feature_menu ul { list-style: none outside none; margin: 0 0px; }
div.feature_menu ul li { width:100%; }
div.feature_menu ul li img { width:35px; height:35px; padding: 5px 5px 0px; float:left; }
div.feature_menu ul li a { font-weight:bold; }
div.feature_menu ul li p { font-weight:bold; color: #1B78B1; font-size: 12px; margin-bottom: 0px; float:left; padding:10px 0px; line-height:19px; }
div.feature_menu ul li p:hover { text-decoration: underline; }
div.feature_menu ul li div { float:left; width: 141px; border-bottom: 1px dotted #B4B4B4; border-top: 1px dotted #FFFFFF;  }
div.feature_menu ul li div.selected { background-image: url(../images/feature_tab_bg.png); border-bottom-color: #fff; position: relative; top: -1px;  padding-top:1px; border-top: 1px dotted #FFFFFF;}
div.feature_menu ul li div.selected p:hover  { text-decoration: none; }
div.feature_menu ul li:first-child div { border-top: 1px dotted #B4B4B4; }
div.feature_menu ul li:first-child div.selected { border-top: 1px dotted #FFFFFF;}

div.feature_content { width:709px; height:100%; padding:20px 0 0;}
div.feature_content p { color:#646464; font: normal 16px Verdana, Arial, sans-serif; line-height: 25px; }
div.feature_content p span.icon { padding:0px; margin:7px 0px 0px 0px; }
div.feature_content H2 { color:#1B78B1; font-size:18px; font-weight:normal; }
div.feature_content form { padding: 0px 25px 0px 0px; }
div.feature_row { padding:0 25px 0 0; }
div.feature_content div.feature_row img { border: 1px solid #CDCDCE; }
div.feature_content div.feature_row p { color:#646464; font: normal 14px Verdana, Arial, sans-serif; line-height: 21px;  }
div.feature_content div.feature_row_content { background:#D9EAFA; padding:20px; float:left; margin-bottom: 25px; }
div.feature_content div.feature_row div.feature_row_cell_left { width:45%; height:100%; float:left; }
div.feature_content div.feature_row div.feature_row_cell_right { width:45%; height:100%; float:right; padding-left:10px; }
span.feature_title { padding:0px 0px 0px 180px; }

div.subnav_img { float:left; background: #999999; }
li.mainnav_img:first-child{ background-image: url(); }
li.mainnav_img { float:left; padding: 2px 0px; background-image: url(../images/mainnav_seperator.png); background-position: left center; background-repeat: no-repeat;}
div.btn_search_left { float:left; }
div.btn_search_right { float:left; }
div.btn_search_center { float:left; background-image: url("../images/button_search.png"); background-position: right center; }
div.btn_left { float:left; background-image: url(../images/button_left.png); height: 33px; width: 2px; }
div.btn_right { float:left; background-image: url(../images/button_right.png); height: 33px; width: 2px; }
div.btn_center { float:left; background-image: url("../images/button.png"); background-position: right center; }

.search_query_button { }
.search_query_textarea { }
div#logo img { height: 124px; width: 195px; }


/* IE HACKS */
*+html input {overflow: visible;}   /* IE7 - remove button extra padding */
*+html h1 {height:1%;}             /* IE7 - remove header extra padding */
*+html a div {cursor: pointer;}     /* IE7 - remove header extra padding */


div.shortcut_teaser_border { border:0; }
ul.shortcut { margin:0 !important; list-style-type: none; }
ul.shortcut li { border-bottom:1px solid #CCCCCC; }
ul.shortcut li a div { padding: 5px 10px; }
ul.shortcut li a div img { position: absolute; }
ul.shortcut li p { color: #14606D; font-size: 12px; font-weight: bold; line-height: 19px; margin-bottom: 0; padding: 10px 50px; }
ul.shortcut li p:hover { text-decoration:underline; }

div.application_menu { width:25%; height:100%; }
div.application_menu ul { list-style: none outside none; margin: 0 0px; }
div.application_menu ul li { width:80%; }
div.application_menu ul li img { width:35px; height:35px; padding: 5px 5px 0px; float:left; }
div.application_menu ul li a { font-weight:bold; }
div.application_menu ul li p { font-weight:bold; font-size: 12px; margin-bottom: 0px; float:left; padding:10px 0px; line-height:19px; }
div.application_menu ul li p:hover { }
div.application_menu ul li div { float:left; width: 100%; border-bottom: 1px dotted #B4B4B4; border-top: 1px dotted #FFFFFF;  }
div.application_menu ul li div.selected { border-bottom-color: #fff; position: relative; top: -1px;  padding-top:1px; border-top: 1px dotted #FFFFFF;}
div.application_menu ul li div.selected p:hover  { text-decoration: none; }
div.application_menu ul li:first-child div { border-top: 1px dotted #B4B4B4; }
div.application_menu ul li:first-child div.selected { border-top: 1px dotted #FFFFFF;}

div.application_content { width:75%; height:100%; padding: 20px 0 0; }
div.application_content p { color:#646464; font: normal 16px Verdana, Arial, sans-serif; line-height: 25px; }
div.application_content p span.icon { padding:0px; margin:7px 0px 0px 0px; }
div.application_content H2 { color:#1B78B1; font-size:18px; font-weight:normal; }
div.application_content form { padding: 0px 25px 0px 0px; }
div.application_row { padding:0 25px 0 0; }
div.application_content div.application_row img { border: 1px solid #CDCDCE; }
div.application_content div.application_row p { color:#646464; font: normal 14px Verdana, Arial, sans-serif; line-height: 21px;  }
div.application_content div.application_row_content { background:#D9EAFA; padding:20px; float:left; margin-bottom: 25px; }
div.application_content div.application_row div.application_row_cell_left { width:45%; height:100%; float:left; }
div.application_content div.application_row div.application_row_cell_right { width:45%; height:100%; float:right; padding-left:10px; }
span.application_title { padding:0px 0px 20px 220px; }
