#set($linkAttrAbout = '')
#set($linkAttrPortrait = '')
#set($linkAttrContact = '')
#set($linkAttrDisclaimer = '')
#set($linkAttrPrivacy = '')
#set($linkAttrAccessibility = '')
#set($showSubMenuAbout = true)