       	      <span class="float_right snslogo_margin"><a href="http://www.semantic-network.de" target="_new"><img src="/ingrid-portal-apps/images/sns_small.gif" width="30" height="23" alt="$MESSAGES.getString('common.alt.icon.sns')" title="$MESSAGES.getString('common.tooltip.link.extern.sns')" /></a></span>
