      <div class="tabs">
        <ul>			
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doChangeTab')
#if($tab=='1')
          <li><a class="selected">$MESSAGES.getString('searchExtEnvTopic.title')</a></li>
#else
$action.setParameter('tab','1')
          <li><a href="$action">$MESSAGES.getString('searchExtEnvTopic.title')</a></li>
#end
#if($tab=='2')
          <li><a class="selected">$MESSAGES.getString('searchExtEnvPlace.title')</a></li>
#else
$action.setParameter('tab','2')
          <li><a href="$action">$MESSAGES.getString('searchExtEnvPlace.title')</a></li>
#end
#if($tab=='3')
          <li><a class="selected">$MESSAGES.getString('searchExtEnvArea.title')</a></li>
#else
$action.setParameter('tab','3')
          <li><a href="$action">$MESSAGES.getString('searchExtEnvArea.title')</a></li>
#end
        </ul>
        <span class="clearer"></span>
      </div>
