      <div class="tabmenu">
        <ul>
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doChangeTab')
#if($subtab=='1')
          <li><a class="selected">$MESSAGES.getString('searchExtEnvPlaceGeothesaurus.title')</a>&nbsp;|</li>
#else
$action.setParameter('tab','5')
          <li><a href="$action">$MESSAGES.getString('searchExtEnvPlaceGeothesaurus.title')</a>&nbsp;|</li>
#end
#if($subtab=='2')
          <li><a class="selected">$MESSAGES.getString('searchExtEnvPlaceMap.title')</a></li>
#else
$action.setParameter('tab','6')
          <li><a href="$action">$MESSAGES.getString('searchExtEnvPlaceMap.title')</a></li>
#end
        </ul>
      </div>
