      <div class="tabmenu">
        <ul>
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doChangeTab')
#if($subtab=='4')
          <li><a class="selected" title="$MESSAGES.getString('searchExtEnvTopicTerms.title.tooltip')">$MESSAGES.getString('searchExtEnvTopicTerms.title')</a>&nbsp;|</li>		
#else
$action.setParameter('tab','4')
          <li><a href="$action" title="$MESSAGES.getString('searchExtEnvTopicTerms.title.tooltip')">$MESSAGES.getString('searchExtEnvTopicTerms.title')</a>&nbsp;|</li>	
#end
#if($subtab=='5')
          <li><a class="selected" title="$MESSAGES.getString('searchExtAdrTopicMode.title.tooltip')">$MESSAGES.getString('searchExtAdrTopicMode.title')</a></li>
#else
$action.setParameter('tab','5')
          <li><a href="$action" title="$MESSAGES.getString('searchExtAdrTopicMode.title.tooltip')">$MESSAGES.getString('searchExtAdrTopicMode.title')</a></li>
#end
        </ul>
      </div>
