#set ($action = $renderResponse.createActionURL())
    <form action="$action" method="post" name="xx" id="extsearch">
      <div class="formbody">
          <p><label class="alignleft" for="search_term">$MESSAGES.getString('searchExtEnvTopicTerms.label.terms')</label></p>
          <div class="innerform">
            <input class="search_term inputstyletext" type="text" name="search_term" id="search_term" />
            <p>
              <label class="alignleft" for="adding_type">$MESSAGES.getString('searchExtEnvTopicTerms.label.logic')</label>
              <select size="1" id="adding_type" name="adding_type" class="inputstyle">
                <option value="1">alle diese Begriffe (UND)</option>
                <option value="2">einen dieser Begriffe (ODER)</option>
                <option value="3">genau diese Wortgruppe</option>
                <option value="4">keinen dieser Begriffe (NICHT)</option>
              </select>
            </p>
            <span class="clearer"></span>
          </div>  
      </div>      
#parse ('/WEB-INF/templates/search_extended/include_addToQuery.vm')
    </form>
