      <div class="tabs">
        <ul>			
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doChangeTab')
#if($tab=='1')
          <li><a class="selected" title="$MESSAGES.getString('searchExtEnvTopic.title.tooltip')">$MESSAGES.getString('searchExtEnvTopic.title')</a></li>
#else
$action.setParameter('tab','1')
          <li><a href="$action" title="$MESSAGES.getString('searchExtEnvTopic.title.tooltip')">$MESSAGES.getString('searchExtEnvTopic.title')</a></li>
#end
#if($tab=='4')
          <li><a class="selected" title="$MESSAGES.getString('searchExtEnvAreaLaw.title.tooltip')">$MESSAGES.getString('searchExtEnvArea.title')</a></li>
#else
$action.setParameter('tab','4')
          <li><a href="$action" title="$MESSAGES.getString('searchExtEnvAreaLaw.title.tooltip')">$MESSAGES.getString('searchExtEnvArea.title')</a></li>
#end
        </ul>
        <br class="clearer" />
      </div>
