#set ($action = $renderResponse.createActionURL())
    <form action="$action" method="post" enctype="" name="xx" id="extsearch">
      <div class="formbody">
          <p><label class="alignleft" for="search_term">$MESSAGES.getString('searchExtEnvTopicThesaurus.label.terms')</label></p>
          <div class="innerform">
              <input class="thesaurus_term float_left inputstyletext" type="text" name="search_term" id="search_term" value="Zerstörung des Waldes" />
              <input class="btn float_right" type="submit" name="submitSearch" value="$MESSAGES.getString('searchExtEnvTopicThesaurus.submit')" />
              <span class="clearer"></span>
      <!-- DON'T FORGET TO CLOSE THE FORM AND THE TWO OPEN DIVs OUTSIDE OF THE INCLUDE ! -->
