      <div class="portlet-section-body">
        <ul>
          <li>
            <p>
               Über PortalU können Sie in ausgewählten Fachdatenbanken nach Informationen zu Forschungsprojekten aus dem Bereich "Umwelt" suchen.
            </p>
          </li>
          <li>
            <p>
              Sie können der Suchanfrage beliebige Suchbegriffe hinzufügen. Wählen Sie aus, ob im gesuchten Dokument alle Suchbegriffe (UND-Verknüpfung, Voreinstellung), mindestens einer der Suchbegriffe (ODER-Verknüpfung), keiner der Suchbegriffe (NICHT-Verknüpfung), oder genau die angegebene Folge der Suchbegriffe (genaue Wortgruppe) vorkommen muss.
            </p>
          </li>
        </ul>
      </div>
