  <div class="section">    
#parse ('/WEB-INF/templates/search_extended/include_env_tabs.vm')
#parse ('/WEB-INF/templates/search_extended/include_env_place_tabs.vm')
#set ($action = $renderResponse.createActionURL())
    <form action="$action" method="post" name="env_place_map" id="env_place_map">
      <div class="formbody formbody_map formbody_border_style" style="background-color:white">
		<div id="openlayersDiv" style="width:100%;"></div>
        <div class="line" style="width:33em"><hr /></div>
        <div class="float_right rightmargin"></div>
		  #displayFormErrors()
          <h3>$MESSAGES.getString('searchExtEnvPlaceMap.title.constraint')</h3>
          <p>
          <input id="chk_1" name="chk_1" type="checkbox"#getChecked("chk_1" "on") /><label for="chk_1">$MESSAGES.getString('searchExtEnvPlaceMap.label.constraint1')</label><br />
          <input id="chk_2" name="chk_2" type="checkbox"#getChecked("chk_2" "on") /><label for="chk_2">$MESSAGES.getString('searchExtEnvPlaceMap.label.constraint2')</label><br />
          <input id="chk_3" name="chk_3" type="checkbox"#getChecked("chk_3" "on") /><label for="chk_3">$MESSAGES.getString('searchExtEnvPlaceMap.label.constraint3')</label><br />
          </p>
      </div>      
	  <div class="formfooter formfooter_border_style formfooter_border_style_top">
	      <div align="right">
	        #renderInputButtonClass($MESSAGES.getString('searchExt.submit.addToQuery') "" "submitAddToQuery" $MESSAGES.getString('searchExt.submit.addToQuery.tooltip') "float_right")
	      </div>
      </div>
    </form>
  </div>    
