  <div class="section">    
#parse ('/WEB-INF/templates/search_extended/include_env_tabs.vm')
#parse ('/WEB-INF/templates/search_extended/include_env_place_tabs.vm')
#set ($action = $renderResponse.createActionURL())
    <form action="$action" method="post" name="env_place_map" id="env_place_map">
      <div class="formbody" style="background-color:white">
        <iframe src="$wmsURL" style="width:100%;height:676px;border:0;" name="wms_viewer" marginheight="0" marginwidth="0" frameborder="0">
			$MESSAGES.getString('searchExtEnvPlaceMap.noIFrames')
        </iframe>
        <div class="line" style="width:33em"><hr /></div>
        <div class="float_right rightmargin">
#if($enableSave)
	$action.setParameter('action','doSaveWMSServices')
		  <span class="iconLink"><img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="$MESSAGES.getString('common.alt.icon.intern')" /><a href="$action">$MESSAGES.getString('searchExtEnvPlaceMap.save')</a></span>
#end
        </div>
#if($wmsServicesSaved)
				<p class="portlet-msg-success">$MESSAGES.getString("maps.save.wms.services.saved")</p>
#end					
		  #displayFormErrors()
          <h3>$MESSAGES.getString('searchExtEnvPlaceMap.title.constraint')</h3>
          <p>
          <input id="chk_1" name="chk_1" type="checkbox"#getChecked("chk_1" "on") /><label for="chk_1">$MESSAGES.getString('searchExtEnvPlaceMap.label.constraint1')</label><br />
          <input id="chk_2" name="chk_2" type="checkbox"#getChecked("chk_2" "on") /><label for="chk_2">$MESSAGES.getString('searchExtEnvPlaceMap.label.constraint2')</label><br />
          <input id="chk_3" name="chk_3" type="checkbox"#getChecked("chk_3" "on") /><label for="chk_3">$MESSAGES.getString('searchExtEnvPlaceMap.label.constraint3')</label><br />
          </p>
      </div>      
#parse ('/WEB-INF/templates/search_extended/include_addToQuery.vm')
    </form>
  </div>    
