  <div class="section">    
#parse ('/WEB-INF/templates/search_extended/include_env_tabs.vm')
#parse ('/WEB-INF/templates/search_extended/include_env_area_tabs.vm')
#set ($action = $renderResponse.createActionURL())
    <form action="$action" method="post" enctype="" name="selection_form" id="extsearch">
      <div class="formbody formbody_border_style">
          <p>$MESSAGES.getString('searchExtEnvAreaSources.explanation')</p>
          <div class="innerform">
#if($enableSourcesMetaOnly)
            <p>
              <input class="indent1_checkbox" type="checkbox" name="meta" id="chk_meta_0" value="meta_0"#getChecked("meta" "meta_0") /><label for="chk_meta_0">$MESSAGES.getString('searchExtEnvAreaSources.meta1')</label>
    	        <br />                                                                                                                                       
              <input class="indent1_checkbox" type="checkbox" name="meta" id="chk_meta_1" value="meta_1"#getChecked("meta" "meta_1") /><label for="chk_meta_1">$MESSAGES.getString('searchExtEnvAreaSources.meta2')</label>
    	        <br />                                                                                                                                       
              <input class="indent1_checkbox" type="checkbox" name="meta" id="chk_meta_2" value="meta_2"#getChecked("meta" "meta_2") /><label for="chk_meta_2">$MESSAGES.getString('searchExtEnvAreaSources.meta3')</label>
    	        <br />
              <input class="indent1_checkbox" type="checkbox" name="meta" id="chk_meta_3" value="meta_3"#getChecked("meta" "meta_3") /><label for="chk_meta_3">$MESSAGES.getString('searchExtEnvAreaSources.meta4')</label>
    	        <br />                                                                                                                                       
              <input class="indent1_checkbox" type="checkbox" name="meta" id="chk_meta_4" value="meta_4"#getChecked("meta" "meta_4") /><label for="chk_meta_4">$MESSAGES.getString('searchExtEnvAreaSources.meta5')</label>
    	        <br />                                                                                                                                       
              <input class="indent1_checkbox" type="checkbox" name="meta" id="chk_meta_5" value="meta_5"#getChecked("meta" "meta_5") /><label for="chk_meta_5">$MESSAGES.getString('searchExtEnvAreaSources.meta6')</label>
                <br />                                                                                                                                       
              <input class="indent1_checkbox" type="checkbox" name="meta" id="chk_meta_6" value="meta_6"#getChecked("meta" "meta_6") /><label for="chk_meta_6">$MESSAGES.getString('searchExtEnvAreaSources.meta7')</label>
            </p> 
#else
			<p>
              <input type="checkbox" name="sources" id="chk_all" onclick="ingrid_checkAll2Groups(document.selection_form.sources, document.selection_form.meta)" onkeypress="ingrid_checkAll2Groups(document.selection_form.sources, document.selection_form.meta)" value="all"#getChecked("sources" "all") /><label for="chk_all">$MESSAGES.getString('searchExtEnvAreaSources.all')</label>
            </p>
            <p>
              <input class="indent1_checkbox" type="checkbox" name="sources" id="chk_internet" onclick="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" onkeypress="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" value="www"#getChecked("sources" "www") /><label for="chk_internet">$MESSAGES.getString('searchExtEnvAreaSources.web')</label>
            </p> 
            <p>
              <input class="indent1_checkbox" type="checkbox" name="meta" id="chk_meta" onclick="ingrid_checkAllAdapt(document.selection_form.meta, document.selection_form.sources)" onkeypress="ingrid_checkAllAdapt(document.selection_form.meta, document.selection_form.sources)" value="all"#getChecked("meta" "all") /><label for="chk_meta">$MESSAGES.getString('searchExtEnvAreaSources.meta')</label>
            </p>
            <p>
              <input class="indent2_checkbox" type="checkbox" name="meta" id="chk_meta_0" onclick="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" onkeypress="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" value="meta_0"#getChecked("meta" "meta_0") /><label for="chk_meta_0">$MESSAGES.getString('searchExtEnvAreaSources.meta1')</label>
    	        <br />                                                                                                                                       
              <input class="indent2_checkbox" type="checkbox" name="meta" id="chk_meta_1" onclick="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" onkeypress="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" value="meta_1"#getChecked("meta" "meta_1") /><label for="chk_meta_1">$MESSAGES.getString('searchExtEnvAreaSources.meta2')</label>
    	        <br />                                                                                                                                       
              <input class="indent2_checkbox" type="checkbox" name="meta" id="chk_meta_2" onclick="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" onkeypress="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" value="meta_2"#getChecked("meta" "meta_2") /><label for="chk_meta_2">$MESSAGES.getString('searchExtEnvAreaSources.meta3')</label>
    	        <br />
              <input class="indent2_checkbox" type="checkbox" name="meta" id="chk_meta_3" onclick="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" onkeypress="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" value="meta_3"#getChecked("meta" "meta_3") /><label for="chk_meta_3">$MESSAGES.getString('searchExtEnvAreaSources.meta4')</label>
    	        <br />                                                                                                                                       
              <input class="indent2_checkbox" type="checkbox" name="meta" id="chk_meta_4" onclick="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" onkeypress="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" value="meta_4"#getChecked("meta" "meta_4") /><label for="chk_meta_4">$MESSAGES.getString('searchExtEnvAreaSources.meta5')</label>
    	        <br />                                                                                                                                       
              <input class="indent2_checkbox" type="checkbox" name="meta" id="chk_meta_5" onclick="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" onkeypress="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" value="meta_5"#getChecked("meta" "meta_5") /><label for="chk_meta_5">$MESSAGES.getString('searchExtEnvAreaSources.meta6')</label>
                <br />                                                                                                                                       
              <input class="indent2_checkbox" type="checkbox" name="meta" id="chk_meta_6" onclick="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" onkeypress="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" value="meta_6"#getChecked("meta" "meta_6") /><label for="chk_meta_6">$MESSAGES.getString('searchExtEnvAreaSources.meta7')</label>
            </p> 
            <p>
              <input class="indent1_checkbox" type="checkbox" name="sources" id="chk_fis" onclick="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" onkeypress="ingrid_checkGroupAdapt(document.selection_form.meta, document.selection_form.sources)" value="fis"#getChecked("sources" "fis") /><label for="chk_fis">In <acronym title="$MESSAGES.getString('searchExtEnvAreaSources.fis.acronym')">$MESSAGES.getString('searchExtEnvAreaSources.fis')</acronym></label>
            </p> 
#end			
          </div>  
      </div>      
#parse ('/WEB-INF/templates/search_extended/include_addToQuery.vm')
    </form>
  </div>    
