  <div class="section">    
#parse ('/WEB-INF/templates/search_extended/include_env_tabs.vm')
#parse ('/WEB-INF/templates/search_extended/include_env_area_tabs.vm')
#parse ('/WEB-INF/templates/search_extended/include_env_area_partner.vm')
  </div>    
