<div class="section">    
#parse ('/WEB-INF/templates/search_extended/include_env_tabs.vm')
#parse ('/WEB-INF/templates/search_extended/include_env_place_tabs.vm')
#parse ('/WEB-INF/templates/search_extended/include_env_place_geothesaurus.vm')
            <br />
            <div class="line"><hr /></div>
            <div>
#parse ('/WEB-INF/templates/search_extended/include_snsLogo.vm')
              <h3>$MESSAGES.getString('searchExtEnvPlaceGeothesaurus.browse.keyword')</h3>
              <p>
                <input type="checkbox" name="chk1" value="myId" />&nbsp;Südliches Vorland des Thüringer Waldes<span class="smaller">, Naturraum</span>
              </p>
              <span class="clearer"></span>
            </div>
            <h3>$MESSAGES.getString('searchExtEnvPlaceGeothesaurus.browse.relations')</h3>
            <p>
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doBrowse')
##$action.setParameter('?id?',?id?)
              <input type="checkbox" name="s2_chk1" value="myId" />&nbsp;<a href="$action">Hildburghausen</a><span class="smaller"> (50%, Kreis)</span><br />
##$action.setParameter('?id?',?id?)
              <input type="checkbox" name="s2_chk1" value="myId" />&nbsp;<a href="$action">Suhl</a><span class="smaller"> (30%, Gemeinde)</span><br />
            </p>
          </div>
      </div>
#parse ('/WEB-INF/templates/search_extended/include_addToQuery.vm')
  </form>
</div>    
