#set ($contextPath = $renderRequest.getAttribute('org.apache.jetspeed.request.RequestContext').getRequest().getContextPath())
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doSearch')
<div class="formbody">
    <form action="$action" method="get" name="SearchForm" id="SearchForm" onSubmit='if (this.q.value == "$MESSAGES.getString('searchSimple.query.initial')") this.q.value=""'>
    	<input type="hidden" name="ds" value="$ds"/>
    	<input type="hidden" name="action" value="doSearch"/>
		<p class="datasource_selection">
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doChangeDS')
#if($ds=="1")
	<strong>$MESSAGES.getString('searchSimple.area.envInfos')</strong>
#else
    $action.setParameter('ds','1')
	<a href="$action">$MESSAGES.getString('searchSimple.area.envInfos')</a>	
#end
#if($enableDatasourceCatalog)
	#if($enableSearchSeperator)
		<a class="search_seperator">&nbsp;|&nbsp</a>
	#else
		&nbsp;	
	#end
    #if($ds=="5")
    	<strong>$MESSAGES.getString('searchSimple.area.catalog')</strong>
    #else
        $action.setParameter('ds','5')
    	<a href="$action">$MESSAGES.getString('searchSimple.area.catalog')</a>	
    #end
#end
#if($enableDatasourceLaws)
	#if($enableSearchSeperator)
		<a class="search_seperator">&nbsp;|&nbsp</a>
	#else
		&nbsp;
	#end
    #if($ds=="4")
    	<strong>$MESSAGES.getString('searchSimple.area.laws')</strong>
    #else
        $action.setParameter('ds','4')
    	<a href="$action">$MESSAGES.getString('searchSimple.area.laws')</a>	
    #end
#end
#if($enableDatasourceResearch)
	#if($enableSearchSeperator)
		<a class="search_seperator">&nbsp;|&nbsp</a>
	#else
		&nbsp;
	#end
    #if($ds=="3")
    	<strong>$MESSAGES.getString('searchSimple.area.research')</strong>
    #else
        $action.setParameter('ds','3')
    	<a href="$action">$MESSAGES.getString('searchSimple.area.research')</a>	
    #end
#end
#if($enableDatasourceAddresses)
	#if($enableSearchSeperator)
		<a class="search_seperator">&nbsp;|&nbsp</a>
	#else
		&nbsp;
	#end
    #if($ds=="2")
    	<strong>$MESSAGES.getString('searchSimple.area.addresses')</strong>
    #else
        $action.setParameter('ds','2')
    	<a href="$action">$MESSAGES.getString('searchSimple.area.addresses')</a>	
    #end
#end
    	</p>
		<div class="qrytxt">
			<label class="hide" for="qrytxt">Suche: </label><textarea class="qrytxt" id="qrytxt" cols="20" rows="3" name="q" 
				onfocus='if (this.value == "$MESSAGES.getString('searchSimple.query.initial')") this.value=""' onblur='if (this.value == "") this.value="$MESSAGES.getString('searchSimple.query.initial')"'>#getHTMLEscapedFieldValue('q')</textarea>
			<input class="btn float_right" name="doSubmit" type="submit" value="$MESSAGES.getString('searchSimple.query.submit')" />
			<input class="btn float_left" name="doSetQuery" type="submit" value="$MESSAGES.getString('searchExtended.query.submit2')" />
			<input class="btn float_left" style="margin-left:10px" name="doDeleteQuery" type="submit" value="$MESSAGES.getString('searchExtended.query.clear')" />
			<span class="clearer"></span>
		</div>
#if($displayProviders)
    		<h3><label for="providers">$MESSAGES.getString('searchsimple.title.select.provider')</label></h3>
			&nbsp;<select class="inputstyle" name="provider" id="provider">
				<option value="all">$MESSAGES.getString('searchSimple.display.provider.all')</option>
#foreach($provider in $providers)
#if($selectedProviderIdent == $provider.ident)
		        <option title="$provider.name" value="$provider.ident" selected="selected">$UtilsString.cutString($provider.name, 60)</option>
#else
			    <option title="$provider.name" value="$provider.ident">$UtilsString.cutString($provider.name, 60)</option>
#end
#end
		</select>
#end
    </form>
    <div class="optional-links">
      <img src="/ingrid-portal-apps/images/icn_down.gif" alt="$MESSAGES.getString('common.alt.icon.active')" />&nbsp;<span>$MESSAGES.getString('searchSimple.extended')</span>
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doSearchHistory')
      <img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="$MESSAGES.getString('common.alt.icon.intern')" /><a href="$action">$MESSAGES.getString('searchSimple.history')</a>
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doSearchSettings')
	  <img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="$MESSAGES.getString('common.alt.icon.intern')" /><a href="$action">$MESSAGES.getString('searchSimple.settings')</a>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/help.psml?hkey=search-tipps-1"))
<script language="JavaScript" type="text/javascript">
	document.write("<img src=\"/ingrid-portal-apps/images/icn_linkintern.gif\" alt=\"$MESSAGES.getString('common.alt.icon.intern')\" /><a href=\"javascript:ingrid_openWindow('$link',750,550);\">$MESSAGES.getString('searchSimple.search.tips')</a>");
</script>
<noscript>
	<img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="$MESSAGES.getString('common.alt.icon.intern')" /><a href="$link" target="_new">$MESSAGES.getString('searchSimple.search.tips')</a>
</noscript>
<!-- only for logged on users -->
<!--          <img src="/ingrid-portal-apps/images/ico_save_search.gif" alt="Icon Diskette" /><a href="s_search_speichern.html">Suche Speichern</a> -->
    </div>
</div>
