      <div class="portlet-section-body">
        <ul>
          <li>
            <p>Suchen Sie im Bereich Adressen. Aus den Suchergebnissen können Sie anschließend in die Detaildarstellung springen.</p>
          </li>
          <li>
            <p>Unsere Datenbank enthält Adressen des eingebundenen Umweltdatenkatalogs. Finden Sie Institutionen, Einheiten und Personen im UDK.</p>
          </li>
        </ul>
      </div>
