#set ($contextPath = $renderRequest.getAttribute('org.apache.jetspeed.request.RequestContext').getRequest().getContextPath())
      <div class="portlet-section-body">
        <ul>
          <li>
            <p>$MESSAGES.getString('searchExtEnvTopicThesaurus.info.content1')</p>
          </li>
          <li>
            <p>$MESSAGES.getString('searchExtEnvTopicThesaurus.info.content2')</p>
          </li>
        </ul>
        <p class="iconLink">
          <span class="icon"><img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="$MESSAGES.getString('common.alt.icon.intern')" /></span>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/help.psml?hkey=ext-search-subject-1#ext-search-subject-3"))
<script language="JavaScript" type="text/javascript">
	document.write("<span><a href=\"javascript:ingrid_openWindow('$link',750,550);\">$MESSAGES.getString('searchExtEnvTopicThesaurus.info.link')</a></span>");
</script>
<noscript>
	<span><a href="$link" target="_new">$MESSAGES.getString('searchExtEnvTopicThesaurus.info.link')</a></span>
</noscript>
          <span class="clearer"></span>
        </p>
      </div>
