#set ($contextPath = $renderRequest.getAttribute('org.apache.jetspeed.request.RequestContext').getRequest().getContextPath())
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doSearch')
<div class="formbody">
    <form action="$action" method="get" name="SearchForm" id="SearchForm" onSubmit='if (this.q.value == "$MESSAGES.getString('searchSimple.query.initial')") this.q.value=""'>
    	<input type="hidden" name="ds" value="$ds"/>
    	<input type="hidden" name="action" value="doSearch"/>
		<p class="datasource_selection">
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doChangeDS')
#if($ds=="1")
	<span class="selected" title="$MESSAGES.getString('searchSimple.area.envInfos.tooltip')">$MESSAGES.getString('searchSimple.area.envInfos')</span>
#else
    $action.setParameter('ds','1')
	<a href="$action" title="$MESSAGES.getString('searchSimple.area.envInfos.tooltip')">$MESSAGES.getString('searchSimple.area.envInfos')</a>	
#end
#if($enableDatasourceCatalog)
	#if($enableSearchSeperator)
		<span class="search_seperator">&nbsp;|&nbsp</span>
	#else
		&nbsp;	
	#end
    #if($ds=="5")
    	<span class="selected" title="$MESSAGES.getString('searchSimple.area.catalog.tooltip')">$MESSAGES.getString('searchSimple.area.catalog')</span>
    #else
        $action.setParameter('ds','5')
    	<a href="$action" title="$MESSAGES.getString('searchSimple.area.catalog.tooltip')">$MESSAGES.getString('searchSimple.area.catalog')</a>	
    #end
#end
#if($enableDatasourceLaws)
	#if($enableSearchSeperator)
		<span class="search_seperator">&nbsp;|&nbsp</span>
	#else
		&nbsp;
	#end
    #if($ds=="4")
    	<span class="selected" title="$MESSAGES.getString('searchSimple.area.laws.tooltip')">$MESSAGES.getString('searchSimple.area.laws')</span>
    #else
        $action.setParameter('ds','4')
    	<a href="$action" title="$MESSAGES.getString('searchSimple.area.laws.tooltip')">$MESSAGES.getString('searchSimple.area.laws')</a>	
    #end
#end
#if($enableDatasourceResearch)
	#if($enableSearchSeperator)
		<span class="search_seperator">&nbsp;|&nbsp</span>
	#else
		&nbsp;
	#end
    #if($ds=="3")
    	<span class="selected" title="$MESSAGES.getString('searchSimple.area.research.tooltip')">$MESSAGES.getString('searchSimple.area.research')</span>
    #else
        $action.setParameter('ds','3')
    	<a href="$action" title="$MESSAGES.getString('searchSimple.area.research.tooltip')">$MESSAGES.getString('searchSimple.area.research')</a>	
    #end
#end
#if($enableDatasourceAddresses)
	#if($enableSearchSeperator)
		<span class="search_seperator">&nbsp;|&nbsp</span>
	#else
		&nbsp;
	#end
    #if($ds=="2")
    	<span class="selected" title="$MESSAGES.getString('searchSimple.area.addresses.tooltip')">$MESSAGES.getString('searchSimple.area.addresses')</span>
    #else
        $action.setParameter('ds','2')
    	<a href="$action" title="$MESSAGES.getString('searchSimple.area.addresses.tooltip')">$MESSAGES.getString('searchSimple.area.addresses')</a>	
    #end
#end
    	</p>
		<div class="qrytxt">
			<label class="hide" for="qrytxt">Suche: </label><textarea class="qrytxt" id="qrytxt" cols="20" rows="3" name="q" 
				onfocus='if (this.value == "$MESSAGES.getString('searchSimple.query.initial')") this.value=""' onblur='if (this.value == "") this.value="$MESSAGES.getString('searchSimple.query.initial')"'>#getHTMLEscapedFieldValue('q')</textarea>
			#renderInputButtonSearch($MESSAGES.getString('searchSimple.query.submit') "float:right;" "doSubmit" $MESSAGES.getString('searchSimple.query.submit.tooltip'))
			#renderInputButton($MESSAGES.getString('searchExtended.query.submit2') "float:left;" "doSetQuery" $MESSAGES.getString('searchExtended.query.submit2.tooltip'))
			#renderInputButton($MESSAGES.getString('searchExtended.query.clear') "float:left;margin-left:10px; " "doDeleteQuery" $MESSAGES.getString('searchExtended.query.clear.tooltip'))
			<span class="clearer"></span>
		</div>
#if($displayProviders)
    		<h3><label for="providers">$MESSAGES.getString('searchsimple.title.select.provider')</label></h3>
			&nbsp;<select class="inputstyle" name="provider" id="provider">
				<option value="all">$MESSAGES.getString('searchSimple.display.provider.all')</option>
#foreach($provider in $providers)
#if($selectedProviderIdent == $provider.ident)
		        <option title="$provider.name" value="$provider.ident" selected="selected">$UtilsString.cutString($provider.name, 60)</option>
#else
			    <option title="$provider.name" value="$provider.ident">$UtilsString.cutString($provider.name, 60)</option>
#end
#end
		</select>
#end
    </form>
    <div class="optional-links">
      <img src="/ingrid-portal-apps/images/icn_down.gif" alt="$MESSAGES.getString('common.alt.icon.active')" />&nbsp;<span class="selected">$MESSAGES.getString('searchSimple.extended')</span>
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doSearchHistory')
      <img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="$MESSAGES.getString('common.alt.icon.intern')" /><a href="$action" title="$MESSAGES.getString('searchSimple.history.tooltip')">$MESSAGES.getString('searchSimple.history')</a>
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doSearchSettings')
	  <img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="$MESSAGES.getString('common.alt.icon.intern')" /><a href="$action" title="$MESSAGES.getString('searchSimple.settings.tooltip')">$MESSAGES.getString('searchSimple.settings')</a>
#set ($link = $renderResponse.encodeURL("/portal/help.psml?hkey=search-tipps-1"))
<script language="JavaScript" type="text/javascript">
	document.write("<img src=\"/ingrid-portal-apps/images/icn_linkintern.gif\" alt=\"$MESSAGES.getString('common.alt.icon.intern')\" /><a href=\"javascript:ingrid_openWindow('$link',750,550);\" title=\"$MESSAGES.getString('searchSimple.search.tips.tooltip')\">$MESSAGES.getString('searchSimple.search.tips')</a>");
</script>
<noscript>
	<img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="$MESSAGES.getString('common.alt.icon.intern')" /><a href="$link" target="_new" title="$MESSAGES.getString('searchSimple.search.tips.tooltip')">$MESSAGES.getString('searchSimple.search.tips')</a>
</noscript>
<!-- only for logged on users -->
<!--          <img src="/ingrid-portal-apps/images/ico_save_search.gif" alt="Icon Diskette" /><a href="s_search_speichern.html">Suche Speichern</a> -->
    </div>
</div>
