  <div class="section">
      <div class="formbody">
#displayFormErrors()
#set ($action = $renderResponse.createActionURL())
        <form action="$action" method="post" name="ext_search_chronicle" id="ext_search_chronicle">
		  <input type="hidden" name="action" value="doSearch"/>
          <h3>$MESSAGES.getString('searchExtEnvTimeChronicle.title')</h3>
          <p><label class="alignleft" for="search_term">$MESSAGES.getString('searchExtEnvTimeChronicle.label.terms')</label></p>
          <div class="innerform">
            <input class="thesaurus_term float_left inputstyletext" type="text" name="search_term" id="search_term" value="#getFieldValue('search_term')" />
            #renderInputButton($MESSAGES.getString('searchExtEnvTimeChronicle.submit') "float:right" "" "")
            <span class="clearer"></span>
#if($ps && $ps.similarRoot.getChildren().size() > 0)
            <br />
            <div class="line"><hr /></div>
            <div>
#parse ('/WEB-INF/templates/search_extended/include_snsLogo.vm')
              <h3>$MESSAGES.getString('searchExtEnvTimeChronicle.results.title')</h3>
              <div class="resultset">
             	  <table>
#foreach($similarNode in $ps.similarRoot.getChildren())
				  <tr>
					<td>
	#set ($action = $renderResponse.createActionURL())
	$action.setParameter('nodeId',$similarNode.id)
	#if($similarNode.isOpen())
		$action.setParameter('action','doCloseEvent')
					<a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_open.gif" alt="$MESSAGES.getString('common.alt.icon.minus')" /></a>&nbsp;&nbsp;<strong>$similarNode.topic.date:</strong>&nbsp;<a href="$action">$similarNode.getName()</a>
                    <p class="event_description">$similarNode.topic.description</p>
    #else
		$action.setParameter('action','doOpenEvent')
					<a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_close.gif" alt="$MESSAGES.getString('common.alt.icon.plus')" /></a>&nbsp;&nbsp;<strong>$similarNode.topic.date:</strong>&nbsp;<a href="$action">$similarNode.getName()</a>
    #end		
               	    </td>
               	  </tr>
#end             	  </table>
              </div>
              <span class="clearer"></span>
            </div>
#end		
          </div>
        </form>
      </div>
  </div>
