      <div class="portlet-section-body">
        <ul>
          <li>
            <p>
              Geben Sie an, ob Sie alle Umweltinformationen in PortalU (Voreinstellung) oder gezielt die Rubriken "Umweltthemen" oder "Service" durchsuchen wollen.
            </p>
          </li>
        </ul>
      </div>
