Hallo  $!{map.get("user.name.given")} $!{map.get("user.name.family")},

Sie haben ein neues Passwort für Ihren Account beantragt. 

Ihr Benutzername: $!{map.get("username")}
Ihr neues Passwort: $!{map.get("password")}


Mit freundlichen Grüßen,

Ihr PortalU Team
