Hello  $!{map.get("user.name.given")} $!{map.get("user.name.family")}:

You have requested a new password for your account. 

The account username: $!{map.get("username")}
The new password is : $!{map.get("password")}


Thanks,  

The PortalU Team.
