	<div class="formbody">
#displayFormErrors()
#if ($formType == 'edit')
	<h2 class="nospace">$MESSAGES.getString('account.edit.profile.edit.from') #getFieldValue('firstname') #getFieldValue('lastname')</h2>
#end
	<h3>* $MESSAGES.getString('account.edit.required.fields')</h3>
		<p>
			<label class="float_left col2left alignleft" for="salutation">#displayFieldLabel('salutation' $MESSAGES.getString('account.edit.label.salutation'))</label>
			<select class="float_left inputstyle" name="salutation" id="salutation" size="1">
				<option value="0" #getSelected('salutation' '0')>---</option>
				<option value="1" #getSelected('salutation' '1')>$MESSAGES.getString('account.edit.salutation.option1')</option>
				<option value="2" #getSelected('salutation' '2')>$MESSAGES.getString('account.edit.salutation.option2')</option>
				<option value="3" #getSelected('salutation' '3')>$MESSAGES.getString('account.edit.salutation.option3')</option>
				<option value="4" #getSelected('salutation' '4')>$MESSAGES.getString('account.edit.salutation.option4')</option>
			</select>
			<span class="clearer"></span>
		</p>  
		<p>
			<label class="float_left col2left alignleft" for="firstname">#displayFieldLabel('firstname' $MESSAGES.getString('account.edit.label.firstname'))*</label>
			<input class="float_left col2right inputstyletext" type="text" id="firstname" name="firstname" value="#getFieldValue('firstname')" />
			<span class="clearer"></span>    			  
		</p>
		<p>
			<label class="float_left col2left alignleft" for="lastname">#displayFieldLabel('lastname' $MESSAGES.getString('account.edit.label.lastname'))*</label>
			<input class="float_left col2right inputstyletext" type="text" id="lastname" name="lastname" value="#getFieldValue('lastname')" />
			<span class="clearer"></span>
		</p>
		<p>
			<label class="float_left col2left alignleft" for="email">#displayFieldLabel('email' $MESSAGES.getString('account.edit.label.email'))*</label>
			<input class="float_left col2right inputstyletext" type="text" id="email" name="email" value="#getFieldValue('email')" />
			<span class="clearer"></span>
		</p>
		<div class="line_form"><hr /></div>
#if ($formType == 'edit')
		<p>
			<label class="float_left col2left alignleft" for="login">#displayFieldLabel('password_old' $MESSAGES.getString('account.edit.label.password_old'))*</label>
			<input class="float_left col2right inputstyletext" type="password" id="password_old" name="password_old" value="#getFieldValue('password_old')" />
			<span class="clearer"></span>
		</p>
		<div class="line_form"><hr /></div>
		<p>
			<label class="float_left col2left alignleft" for="password">#displayFieldLabel('password_new' $MESSAGES.getString('account.edit.label.password_new'))*</label>
			<input class="float_left col2right inputstyletext" type="password" id="password_new" name="password_new" value="#getFieldValue('password_new')" />
			<span class="clearer"></span>
		</p>
		<p>
			<label class="float_left col2left alignleft" for="password_confirm">#displayFieldLabel('password_new_confirm' $MESSAGES.getString('account.edit.label.password_new_confirm'))*</label>
			<input class="float_left col2right inputstyletext" type="password" id="password_new_confirm" name="password_new_confirm" value="#getFieldValue('password_new_confirm')" />
			<span class="clearer"></span>
		</p>
#elseif($formType == 'create')
		<p>
			<label class="float_left col2left alignleft" for="login">#displayFieldLabel('login' $MESSAGES.getString('account.create.label.username'))*</label>
			<input class="float_left col2right inputstyletext" type="text" id="login" name="login" value="#getFieldValue('login')" />
			<span class="clearer"></span>
		</p>
		<div class="line_form"><hr /></div>
		<p>
			<label class="float_left col2left alignleft" for="password">#displayFieldLabel('password' $MESSAGES.getString('account.create.label.password'))*</label>
			<input class="float_left col2right inputstyletext" type="password" id="password" name="password" value="#getFieldValue('password')" />
			<span class="clearer"></span>
		</p>
		<p>
			<label class="float_left col2left alignleft" for="password_confirm">#displayFieldLabel('password_confirm' $MESSAGES.getString('account.create.label.password_confirm'))*</label>
			<input class="float_left col2right inputstyletext" type="password" id="password_confirm" name="password_confirm" value="#getFieldValue('password_confirm')" />
			<span class="clearer"></span>
		</p>
#end
		<div class="line_form"><hr /></div>
		<h3>$MESSAGES.getString('account.edit.address.information')</h3>
		<p>
			<label class="float_left col2left alignleft" for="street">#displayFieldLabel('street' $MESSAGES.getString('account.edit.label.street'))</label>
			<input class="float_left col2right inputstyletext" type="text" id="street" name="street" value="#getFieldValue('street')" />
			<span class="clearer"></span>
		</p>
		<p>
			<label class="float_left col2left alignleft" for="postalcode">#displayFieldLabel('postalcode' $MESSAGES.getString('account.edit.label.postalcode'))</label>
			<input class="float_left col2right inputstyletext" type="text" id="postalcode" name="postalcode" value="#getFieldValue('postalcode')" />
			<span class="clearer"></span>
		</p>
		<p>
			<label class="float_left col2left alignleft" for="city">#displayFieldLabel('city' $MESSAGES.getString('account.edit.label.city'))</label>
			<input class="float_left col2right inputstyletext" type="text" id="city" name="city" value="#getFieldValue('city')" />
			<span class="clearer"></span>
		</p>
		<div class="line_form"><hr /></div>
		<p>
			<label class="float_left col2left alignleft" for="attention">#displayFieldLabel('attention' $MESSAGES.getString('account.edit.label.attention'))</label>
			<input class="float_left col2right inputstyletext" type="text" id="attention" name="attention" value="#getFieldValue('attention')" />
			<span class="clearer"></span>
		</p>
		<p>
			<label class="float_left col2left alignleft" for="age">#displayFieldLabel('age' $MESSAGES.getString('account.edit.label.age'))</label>
			<select class="float_left inputstyle" name="age" size="1" id="age">
				<option value="0" #getSelected('age' '0')>---</option>
				<option value="1" #getSelected('age' '1')>&lt; 20</option>
				<option value="2" #getSelected('age' '2')>20 - 30</option>
				<option value="3" #getSelected('age' '3')>30 - 40</option>
				<option value="4" #getSelected('age' '4')>40 - 50</option>
				<option value="7" #getSelected('age' '7')>50 - 60</option>
				<option value="5" #getSelected('age' '5')>60 - 70</option>
				<option value="6" #getSelected('age' '6')>&gt; 70</option>
			</select>
			<span class="clearer"></span>
		</p>
		<p>
			<label class="float_left col2left alignleft" for="interest">#displayFieldLabel('interest' $MESSAGES.getString('account.edit.label.interest'))</label>
			<select class="float_left inputstyle" name="interest" id="interest" size="1">
				<option value="0" #getSelected('interest' '0')>---</option>
				<option value="1" #getSelected('interest' '1')>$MESSAGES.getString('account.edit.interest.option1')</option>
				<option value="2" #getSelected('interest' '2')>$MESSAGES.getString('account.edit.interest.option2')</option>
			</select>
			<span class="clearer"></span>
		</p>
		<p>
			<label class="float_left col2left alignleft" for="profession">#displayFieldLabel('profession' $MESSAGES.getString('account.edit.label.profession'))</label>
			<select class="float_left inputstyle" size="1" id="profession" name="profession">
				<option value="0" #getSelected('profession' '0')>---</option>
				<option value="1" #getSelected('profession' '1')>$MESSAGES.getString('account.edit.profession.option1')</option>
				<option value="2" #getSelected('profession' '2')>$MESSAGES.getString('account.edit.profession.option2')</option>
				<option value="3" #getSelected('profession' '3')>$MESSAGES.getString('account.edit.profession.option3')</option>
				<option value="4" #getSelected('profession' '4')>$MESSAGES.getString('account.edit.profession.option4')</option>
				<option value="5" #getSelected('profession' '5')>$MESSAGES.getString('account.edit.profession.option5')</option>
				<option value="6" #getSelected('profession' '6')>$MESSAGES.getString('account.edit.profession.option6')</option>
				<option value="7" #getSelected('profession' '7')>$MESSAGES.getString('account.edit.profession.option7')</option>
				<option value="8" #getSelected('profession' '8')>$MESSAGES.getString('account.edit.profession.option8')</option>
			</select>  
			<span class="clearer"></span>
		</p>
#if ($enableNewsletter)		
		<p>
			<label class="float_left col2left alignleft">$MESSAGES.getString('account.edit.label.newsletter1')</label>
			<input type="checkbox" id="subscribe_newsletter" name="subscribe_newsletter" value="1" #getChecked('subscribe_newsletter' '1') />&nbsp;<label for="subscribe_newsletter">$MESSAGES.getString('account.edit.label.newsletter2')</label>
			<span class="clearer"></span>
		</p>
#end		
	</div>
