      <div class="formfooter">
        <div align="right">
$action.setParameter('action','doOriginalSettings')
          <span class="iconLink"><img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="$MESSAGES.getString('common.alt.icon.intern')" /><a href="$action">$MESSAGES.getString('personalize.action.reset')</a></span>
          <input class="btn" type="submit" value="$MESSAGES.getString('common.form.button.save')" />
        </div>
      </div>
