<div class="metamenu__box ob-container">
    <h5>Nutzerkonto</h5>
</div>
#set ($action = $renderResponse.createActionURL())
<form class="metamenu__box ob-container" action="$action" method="post" id="frm_login">
    <input type="hidden" name="${loginConstants.DESTINATION}" value="#getFieldValue(${loginConstants.DESTINATION})" />
    <input type="hidden" name="cmd" value="doLogin" />
    <label for="login">$MESSAGES.getString('login.form.username')</label>
    <input type="text" id="login" name="${loginConstants.USERNAME}" value="#getFieldValue($loginConstants.USERNAME)" onFocus="clearUser()" class="field bx-bot-s">
    <label for="passwd">$MESSAGES.getString('login.form.passwd')</label>
    <input type="password" id="passwd" name="${loginConstants.PASSWORD}" value="#getFieldValue($loginConstants.PASSWORD)" onFocus="clearPasswd()" class="field bx-bot-0">
    <p><a href="$renderResponse.encodeURL('/portal/myportal-password-forgotten.psml')" class="link">$MESSAGES.getString('login.form.passwdForgotten')</a></p>
    <p><a onclick="$(this).closest('form').submit()" class="btn btn--primary btn--small btn--block">$MESSAGES.getString('login.form.button.subscribe')</a></p>
</form>
<div class="metamenu__box ob-container">
    <p>Sie haben noch kein Nutzerkonto bei InGrid Portal?</p>
    <p>
        <a href="$renderResponse.encodeURL('/portal/myportal-create-account.psml')" class="link"><strong>$MESSAGES.getString('login.form.newUser')</strong></a>
    </p>
</div>
