#parse ('/WEB-INF/templates/myportal/login_form_submit.vm')
#if($renderRequest.getWindowID() == "MyPortalLoginPortlet")
    <script>
    if($actionForm.hasErrorInField('org.apache.jetspeed.login.username') || $actionForm.hasErrorInField('org.apache.jetspeed.login.password')){
        $('.login-buttons .login-form').css('display', 'inline-block');
    }
    </script>
#end