#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="create_account" id="create_account">
	<input type="hidden" name="cmd" value="form_sent" />
#set ($formType = 'create')
#parse ('/WEB-INF/templates/myportal/include_account_form.vm')
	<div class="formfooter formfooter_border_style">
		<div align="right">
			<input class="btn" type="submit" value="$MESSAGES.getString('account.create.submit')" />
		</div>
	</div>
</form>