<h2>Account erfolgreich angelegt</h2>
<p>Ihr account wurde erfolgreich angelegt. 
Zur abschliessenden Freischaltung wurde Ihnen eine Email zugesendet. 
Bitte folgen Sie den darin angegebenen Anweisungen.
</p>
