#renderPortletTitle($MESSAGES.getString('javax.portlet.title') )

#if ($success == 'true')
    #renderMessageSuccess($MESSAGES.getString('password.sent'))
#else
    #renderMessageError($MESSAGES.getString('password.problems'))
#end