#set ($contextPath = $renderRequest.getAttribute('org.apache.jetspeed.request.RequestContext').getRequest().getContextPath())
#if ($success == 'true')
#renderMessageSuccess($MESSAGES.getString('account.confirmed.content'))
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/service-myportal.psml"))
<ul class="link-list">
    <li>
        <a href="$link">
            <svg class="icon"><use xlink:href="#internal-link"></svg>
            $MESSAGES.getString('account.confirmed.link')
        </a>
    </li>
</ul>
#else
    #renderMessageError($!{MESSAGES.getString($problemText)})
#end
