<div class="box__content ob-container">
 #renderPortletTitle($MESSAGES.getString('javax.portlet.title') )
</div>

<section class="block block--padded">
	<div class="ob-box-wide ob-box-center">
		<article class="content ob-container ob-box-narrow">
			#set ($action = $renderResponse.createActionURL())
			<p>$MESSAGES.getString('password.forgotten.description')</p>
			<form action="$action" method="post" name="password_forgotten" id="password_forgotten">
				<input type="hidden" name="cmd" value="form_sent" />
				<div class="formbody formbody_border_style">
			#displayFormErrors()
			    <h4>* $MESSAGES.getString('password.forgotten.required')</h4>
			    <div class="media">
                    <div class="media__obj media__obj--large media__obj--left">
                        <label for="email" class="float_left col2left alignleft">#displayFieldLabel('email' "$MESSAGES.getString('password.forgotten.email')")*:</label>
                    </div>
                    <div class="media__body">
                        <input class="float_left col2right inputstyletext" type="text" id="email" name="email"  value="#getFieldValue('email')"/>
                    </div>
                </div>
                <hr>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left">
                       &nbsp;
                    </div>
                    <div class="media__body media__obj--right">
                        <p><a class="btn btn--primary btn--medium" onclick="$(this).closest('form').submit()">$MESSAGES.getString('password.forgotten.submit')</a></p>
                    </div>
                </div>
                <p>&nbsp;</p>
			</form>
		</article>
	</div>
</section>