#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="edit_account" id="edit_account">
	<input type="hidden" name="cmd" value="form_sent" />
#set ($formType = 'edit')
#parse ('/WEB-INF/templates/myportal/include_account_form.vm')
	<div class="formfooter formfooter_border_style">
		<div align="right">
			#renderInputButtonClass($MESSAGES.getString('account.edit.submit') "" "" "" "float_right")
		</div>
	</div>
</form>