#set ($action = $renderResponse.createActionURL())
<h3>$MESSAGES.getString('login.password.update.required.title.text')</h3>
<form action="$action" method="post" name="password_update_required" id="password_update_required">
    <input type="hidden" name="cmd" value="$cmd" />
    <input type="hidden" name="userName" value="$userName" />
    <input type="hidden" name="userGUID" value="$userGUID" />
    #set ($formType = 'create')
    #parse ('/WEB-INF/templates/myportal/include_account_form.vm')
    <div class="media__body media__obj--right">
        #renderInputButtonClass("$MESSAGES.getString('login.password.update.required.title.save')" "width:100%" "" "" "btn btn--primary btn--medium")
    </div>
</form>
<br/>
<br/>
<script >
    var error = $actionForm.hasErrors();
    if(error){
        goToByScroll('password_update_required');
    }
</script>