#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="password_forgotten" id="password_forgotten">
	<input type="hidden" name="cmd" value="form_sent" />
	<div class="formbody">
#displayFormErrors()
    <p>$MESSAGES.getString('password.forgotten.description')</p>
    <h3>* $MESSAGES.getString('password.forgotten.required')</h3>
		<p>
		  <label for="email" class="float_left col2left alignleft">$MESSAGES.getString('password.forgotten.email')*</label>
		  <input class="float_left col2right inputstyletext" type="text" id="email" name="email" value="" />
      <span class="clearer"></span>
  	</p>
	</div>
	<div class="formfooter">
        <div align="right">
          <input class="btn" type="submit" value="$MESSAGES.getString('password.forgotten.submit')" />
        </div>
	</div>
</form>