#renderPortletTitle($MESSAGES.getString('javax.portlet.title') )

#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="edit_account" id="edit_account">
    <input type="hidden" name="cmd" value="form_sent" />
    #set ($formType = 'edit')
    #parse ('/WEB-INF/templates/myportal/include_account_form.vm')
    <div class="media__body media__obj--right">
        #renderInputButtonClass("$MESSAGES.getString('account.edit.submit')" "width:100%" "" "" "btn btn--primary btn--medium")
    </div>
</form>