#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="password_forgotten" id="password_forgotten">
	<input type="hidden" name="cmd" value="form_sent" />
	<div class="formbody formbody_border_style">
#displayFormErrors()
    <p>$MESSAGES.getString('password.forgotten.description')</p>
    <h3>* $MESSAGES.getString('password.forgotten.required')</h3>
		<p>
		  <label for="email" class="float_left col2left alignleft">#displayFieldLabel('email' "$MESSAGES.getString('password.forgotten.email')")*</label>
		  <input class="float_left col2right inputstyletext" type="text" id="email" name="email"  value="#getFieldValue('email')"/>
      <span class="clearer"></span>
  	</p>
	</div>
	<div class="formfooter formfooter_border_style">
        <div align="right">
          #renderInputButtonClass($MESSAGES.getString('password.forgotten.submit') "" "" "" "float_right")
        </div>
	</div>
</form>