#parse("/WEB-INF/templates/detail/parts/metadata/detail_metadata_settings.vm")

<div class="detail" id="detail">
#if($title)
    <div class="banner-noimage m-filter">
        <div class="page-wrapper" style="background-image: url('/decorations/layout/ingrid/images/template/drops-subpage.svg');">
            <div class="row">
                <div class="xsmall-24 large-6 xlarge-6 columns">
                    <a class="helper icon" href="$renderResponse.encodeURL('/portal/main-search.psml')" title="$MESSAGES.getString("search.detail.back.to.results")">
                        <span class="ic-ic-arrow-left"></span>
                        <span class="text text-normal">$MESSAGES.getString("search.detail.back.to.results")</span>
                    </a>
                </div>
                <div class="xsmall-24 large-18 xlarge-18 columns">
                    #parse("/WEB-INF/templates/detail/parts/metadata/banner/banner_class.vm")
                    #parse("/WEB-INF/templates/detail/parts/metadata/banner/banner_search_term.vm")
                    <h2>$title</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row nav-content search-filtered">
        ## Navigation
        <div class="xsmall-24 large-6 xlarge-6 columns">
            #parse("/WEB-INF/templates/detail/parts/metadata/detail_metadata_part_section_navigation.vm")
        </div>
        <a class="anchor" id="detail_overview"></a>
        <div class="xsmall-24 large-18 xlarge-18 columns">
            <div class="data">
       ## FactSheet
                #parse("/WEB-INF/templates/detail/parts/metadata/detail_metadata_part_section_factsheet.vm")
            </div>
        ## Beschreibung
            #parse("/WEB-INF/templates/detail/parts/metadata/detail_metadata_part_section_description.vm")
        ## Bibliografische Angaben
            #parse("/WEB-INF/templates/detail/parts/metadata/detail_metadata_part_section_bibliographical_info.vm")
        ## Darstellung
            #parse("/WEB-INF/templates/detail/parts/metadata/detail_metadata_part_section_presentation.vm")
        ## Verweise und Downloads
            #parse("/WEB-INF/templates/detail/parts/metadata/detail_metadata_part_section_links.vm")
        ## Nutzung
            #parse("/WEB-INF/templates/detail/parts/metadata/detail_metadata_part_section_use.vm")
        ## Kontakt
            #parse("/WEB-INF/templates/detail/parts/metadata/detail_metadata_part_section_contact.vm")
        ## Fachinformationen
            #parse("/WEB-INF/templates/detail/parts/metadata/detail_metadata_part_section_information.vm")
        ## Datenqualität
            #parse("/WEB-INF/templates/detail/parts/metadata/detail_metadata_part_section_dataquality.vm")
        ## Additional Fields Example
            #parse("/WEB-INF/templates/detail/parts/metadata/detail_metadata_part_section_additional_fields.vm")
        ## Infos zur Datensatzbeschreibung
            #parse("/WEB-INF/templates/detail/parts/metadata/detail_metadata_part_section_metadata_info.vm")
        </div>
    </div>
#end
</div>
#parse('/WEB-INF/templates/detail/parts/metadata/detail_metadata_part_script_table_scroll.vm')
#parse('/WEB-INF/templates/global/include_reference_list_file_size.vm')
#parse('/WEB-INF/templates/global/include_reference_list_datatype.vm')

#macro (renderDate $dateTitle $dateFrom $dateTo $info)
    #if($dateFrom || $dateTo)
        <h4 class="no-margin">
            $dateTitle
            #if($info)
                <span class="ic-ic-info js-popup" data-title="Hinweis" data-content="$info"></span>
            #end
        </h4>
        <p>
        #if($dateFrom)
            $dateFrom
        #end
        #if($dateTo)
            - $dateTo
        #end
        </p>
    #end
#end

#macro (renderTableToTree $title $entries $tableId)
    #if($entries.get("children"))
        #if($title)
            <h3 class="title-font">$title</h3>
        #end
        <div class="document-list">
        #foreach($entry in $entries.get("children"))
            <div class="list-item">
                #renderTreeFolder($entry)
            </div>
        #end
        </div>
    #end
#end

#macro (renderTreeFolder $entry)
    #set($entryLabel = "")
    #if($entry.get('label'))
        #set($entryLabel = "$TOOL.getDecodeValue($entry.get('label'))")
    #end
    #if($entryLabel && $entryLabel.length() > 0)
        #set($entryLink = "")
        #if($entry.get('link'))
            #set($entryLink = "$entry.get('link')")
        #end
        #if($entryLink && $entryLink.length() > 0)
            <a class="link download external-link" href="$entry.get('link')" title="$stringTool.htmlescape($entryLabel)" target="_blank" rel="noopener noreferrer">
                $entryLabel
            </a>
            <span class="text">
            (
            #set ($entryLinkSplit = $TOOL.getDecodeValue($entryLink).split("/"))
            #set ($entryLinkSplitSize = $entryLinkSplit.size() - 1)
            $entryLinkSplit.get($entryLinkSplitSize)
            <span class="downloadText"></span>
            )
            </span>
        #else
            <span>$entryLabel</span>
        #end
    #end
    #if($entry.get('children'))
        #foreach($subEntry in $entry.get('children'))
        <li class="folder__content js-accordion-content">
            <ul class="js-accordion-multi">
                <li class="folder__item">
                    #renderTreeFolder($subEntry)
                </li>
            </ul>
        </li>
        #end
    #end
#end

#macro (renderTableToList $title $entryLength $xpathExpression $entryNumber $tableId)
    #if($entryLength > 0)
        #renderGroupTitle($title)
        #foreach($entryNumber in [1..$entryLength])
            #set($entryType = $TOOL.getValueFromXPath("$xpathExpression[$entryNumber]/type"))
            #set($entryLink = $TOOL.getValueFromXPath("$xpathExpression[$entryNumber]/link"))
            
            #set($entrySize = $TOOL.getValueFromXPath("$xpathExpression[$entryNumber]/size"))
            #set($entryLabel = $TOOL.getValueFromXPath("$xpathExpression[$entryNumber]/label"))
            #if($entryLabel && $entryLabel.length() > 0 || $entryLink && $entryLink.length() > 0)
                <p>
                #if($entryLink && $entryLink.length() > 0)
                    <a class="link download external-link" href="$entryLink" target="_blank" rel="noopener noreferrer">
                        #if($entryLabel && $entryLabel.length() > 0)
                            $entryLabel
                        #else
                            $entryLink
                        #end
                    </a>
                #else
                    $entryLabel
                #end
                #if($entryLink && $entryLink.length() > 0)
                    <span class="tx-light">
                    (
                    #if($entryLink)
                        #set ($entryLinkSplit = $TOOL.getDecodeValue($entryLink).split("/"))
                        #set ($entryLinkSplitSize = $entryLinkSplit.size() - 1)
                        $entryLinkSplit.get($entryLinkSplitSize)
                    #end
                    <span class="downloadText"></span>
                    )
                    </span>
                #end
                </p>
            #end
            #set($entryType = "")
            #set($entrySize = "")
            #set($entryLink = "")
            #set($entryLabel = "")
        #end
    #end
#end

#macro (renderAccordionTitle $title)
    <h2 class="mq-hide-xxl">
        $title
        <svg class="filter__title__icon icon">
            <use xlink:href="#arrow-thick"/>
        </svg>
    </h2>
    <h3 class="mq-show-xxl">
        $title
        <svg class="filter__title__icon icon">
            <use xlink:href="#arrow-thick"/>
        </svg>
    </h3>
#end