Sehr geehrte(r) $!{map.get("user.custom.ingrid.user.salutation.full")} $!{map.get("user.name.given")} $!{map.get("user.name.family")}:

#if($!{map.get("isUpdate")})
Ihre Zugangsdaten wurden geändert!

#if($!{map.get("password")})
Ihre neuen Login-Daten finden Sie hier:
#end
#else
Willkommen bei den RIPS-Metadaten.

Für Sie wurde ein Zugang angelegt. Die Zugangsdaten lauten:
#end

Benutzername: $!{map.get("login")}
#if($!{map.get("password")})
Passwort: $!{map.get("password")}
#end

Sie können sich nun unter https://rips-metadaten.lubw.de/log-in anmelden.
#if($!{map.get("returnURL")})
Nach der Anmeldung werden Sie aufgefordert, ein neues, eigenes Passwort zu vergeben.
Ihr Passwort muss mindestens 11 Zeichen umfassen und unterhalb des Passwortfeldes als "Stark" bewertet werden.
Diese Bewertung wird durch die Verwendung von Sonderzeichen, Zahlen, Klein-/Großschreibung und die Passwortlänge beeinflusst.
#end

Bei Fragen und Problemen wenden Sie sich bitte an rips-metadaten@lubw.bwl.de.

Mit freundlichen Grüßen,
Ihr RIPS-Metadaten Team
