<script>
  var all = $('.list-item a.icon').map(function() {
    var os = getOS();
    var addButton = false;
    var hrefChanged = false;
    var hrefWin = '';
    var hrefLin = '';
    var domainWin = '';
    var domainLin = '';
    var clipboardText = '';
    var replaceString = '';

    if(this.href.indexOf('https://dl.datenfinder.baw.de/KA/') > -1) {
      ## windows
      domainWin = '\\\\lfs-ka.all.baw.de';
      replaceString = domainWin + '\\Ablage\\KA\\';
      hrefWin = this.href.replaceAll('https://dl.datenfinder.baw.de/KA/', replaceString);
      hrefWin = hrefWin.replaceAll('/', '\\');
      ## linux
      domainLin = 'smb://lfs-ka.all.baw.de';
      replaceString = domainLin + '/Ablage/KA/'
      hrefLin = this.href.replaceAll('https://dl.datenfinder.baw.de/KA/', replaceString);
      hrefChanged = true;
    }
    if(this.href.indexOf('https://dl.datenfinder.baw.de/HH/') > -1) {
      ## windows
      domainWin = '\\\\lfs-hh.all.baw.de';
      replaceString = domainWin + '\\Ablage\\HH\\'
      hrefWin = this.href.replaceAll('https://dl.datenfinder.baw.de/HH/', replaceString);
      hrefWin = hrefWin.replaceAll('/', '\\');
      ## linux
      domainLin = '';
      replaceString = domainLin + '/net/lfs-hh/Ablage/HH/';
      hrefLin = this.href.replaceAll('https://dl.datenfinder.baw.de/HH/', replaceString);
      hrefChanged = true;
    }
    if((this.href !== hrefWin && this.href !== hrefLin) || this.href.indexOf('file:') == 0) {
      this.style.pointerEvents = 'none';
      addButton = true;
    }
    if(os === 'Windows') {
      this.href = hrefWin;
      if(hrefChanged) {
        clipboardText += domainWin;
        clipboardText += this.pathname.replaceAll('/', '\\');
      }
    } else {
      this.href = hrefLin;
      if(hrefChanged) {
        clipboardText += domainLin;
        clipboardText += this.pathname;
      }
    }
    if(addButton) {
      var parent = $(this).parent();
      ## Add copy button
      var copyBtn = $('<button class="btn copy" data-clipboard-text="' + (clipboardText || this.href) + '" style="float:right" title="$MESSAGES.getString('common.link.copy')"><span class="ic-ic-copy"></span></button>');
      parent.append(copyBtn);
      var infoLinks = $('<p><b>Windows</b>: ' + hrefWin + '<br><b>Linux</b>: ' + hrefLin + '</p>');
      parent.append(infoLinks);
      ## Add info button to title
      var infoBtn = $('<a href="#" class="js-popup copy" data-content="$MESSAGES.getString('common.link.copy.help')" style="float:right;"><span class="ic-ic-info"></span></a>');
      var header = parent.closest('.sub-section').children('h4');
      if(header) {
        if(header.children('a.copy').length == 0) {
          header.append(infoBtn);
        }
      }
    }
  }).get();

  var btns = document.querySelectorAll('.btn.copy');
  
  var clipboard = new ClipboardJS(btns);
  clipboard.on('success', function (e) {
    showTooltip(e.trigger,'$MESSAGES.getString("common.link.copy.success")')
  });
  clipboard.on('error', function (e) {
    console.log('Action:', e.action);
  });
  
  for(var i=0;i<btns.length;i++){
    btns[i].addEventListener('mouseleave',clearTooltip);
    btns[i].addEventListener('blur',clearTooltip);
  }
  
  for(var i=0;i<btns.length;i++){
    btns[i].addEventListener('mouseleave',clearTooltip);
    btns[i].addEventListener('blur',clearTooltip);
  }
  function clearTooltip(e){
    e.currentTarget.setAttribute('class','btn');
    e.currentTarget.removeAttribute('aria-label');
  }
  function showTooltip(elem,msg){
    elem.setAttribute('class','btn tooltipped tooltipped-s');
    elem.setAttribute('aria-label',msg);
  }
</script>