## ------------------------------
## macros
## ------------------------------

#macro (renderInputButton $buttonvalue $buttonstyle $buttonname $buttontitle)
	#renderInputButtonClass ($buttonvalue $buttonstyle $buttonname $buttontitle "")
#end

#macro (renderInputButtonClass $buttonvalue $buttonstyle $buttonname $buttontitle $buttonclass)
	#renderInputButtonOnClick ($buttonvalue $buttonstyle $buttonname $buttontitle $buttonclass "")
#end

#macro (renderInputButtonOnClick $buttonvalue $buttonstyle $buttonname $buttontitle $buttonclass $buttononclick)
	#renderInputButtonDisable ($buttonvalue $buttonstyle $buttonname $buttontitle $buttonclass $buttononclick "false")
#end

#macro (renderInputButtonDisable $buttonvalue $buttonstyle $buttonname $buttontitle $buttonclass $buttononclick $buttondisable)
	<div class="$buttonclass" style="$buttonstyle">
		<div class="btn_left" id="$buttonname left"></div>
		<div class="btn_center">
			#if($buttondisable == "true")
				<input type="submit" value="$buttonvalue" name="$buttonname" title="$buttontitle" class="btn_disable" onclick="$buttononclick" disabled />
			#else
				<input type="submit" value="$buttonvalue" name="$buttonname" title="$buttontitle" class="btn" onclick="$buttononclick" />
			#end
		</div>
		<div class="btn_right" id="$buttonname right"></div>
	</div>
#end