.nav-desktop {
    background: #3654BC;
    border-top: 4px solid #D62029;
}

a {
    color: #3654BC;
}

.desktop__title p, h2 {
    color: #3654BC;
}

.mobile__title, .mobile__title:hover {
    color: #3654BC;
}

@media screen and (max-width: 939px) {
  .header {
    background: #FFF;
    border-bottom: solid 1px #3654BC;
  }
}

.nav-toggle {
    background: #3654BC;
}

.nav-toggle:after {
    border-color: transparent transparent #FFF transparent;
}

.nav-toggle .icon {
    fill: #FFF;
}

.nav-overlay {
    background: #FFF;
}

.nav__foot a {
    color: #3654BC;
}

.footer {
    color: #777;
}

.footer a {
    color: #3654BC;
}

.desktop-logo {
    height: 60px;
    max-width: 100%;
    padding: 0 10px 0 0;
}

.mobile__logo {
    height: 40px !important;
    padding: 0 10px 0 0;
}