#set ($action = $renderResponse.createActionURL())
<ul class="accordion filter-group" data-accordion="" data-multi-expand="true" data-allow-all-closed="true" role="tablist" data-e="">
    <li class="accordion-item #if($doAddAreaAddress && $doAddAreaAddress.size() > 0)is-active#end" data-accordion-item="">
        <a href="" class="accordion-title" aria-controls="facet_area_address-accordion" role="tab" id="facet_area_address-label" #if($doAddAreaAddress && $doAddAreaAddress.size() > 0)aria-expanded="true" aria-selected="true"#end>
            <span class="text">$MESSAGES.getString("searchResult.facete.title.area.address")</span>
        </a>
        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="facet_area_address-label" id="facet_area_address-accordion" #if(!$doAddAreaAddress || $doAddAreaAddress.size() == 0)aria-hidden="true"#end>
            #renderSearchResultFacetSelectionInfo($facet $MESSAGES)
            <form action="$action" method="post">
                <p>
                    <input type="text" id="street" name="street" placeholder="$MESSAGES.getString("searchResult.facete.area.address.street")"
                    #if($doAddAreaAddressInput.street)
                        value="$doAddAreaAddressInput.street"
                    #end
                    >
                </p>
                <p>
                    <input type="text" id="zip" name="zip" placeholder="$MESSAGES.getString("searchResult.facete.area.address.zip")"
                    #if($doAddAreaAddressInput.zip)
                        value="$doAddAreaAddressInput.zip"
                    #end
                    >
                </p>
                <p>
                    <input type="text" id="city" name="city" placeholder="$MESSAGES.getString("searchResult.facete.area.address.city")"
                    #if($doAddAreaAddressInput.city)
                        value="$doAddAreaAddressInput.city"
                    #end
                    >
                </p>
                #renderInputButtonDialog($MESSAGES.getString('searchResult.facete.dialog.commit') "" "doAddAreaAddress" $MESSAGES.getString('searchResult.facete.dialog.tooltip.commit') "button filter_submit" "width:100%;")
            </form>
            #if($doAddAreaAddress)
                ## Strasse
                #if($doAddAreaAddress.street)
                    $action.setParameter("doRemoveAreaAddress",  "street")
                    #renderFaceteSelectedAttributeHashMapNumber($action $doAddAreaAddress.street)
                #end
                ## PLZ
                #if($doAddAreaAddress.zip)
                    $action.setParameter("doRemoveAreaAddress",  "zip")
                    #renderFaceteSelectedAttributeHashMapNumber($action $doAddAreaAddress.zip)
                #end
                ## Ort
                #if($doAddAreaAddress.city)
                    $action.setParameter("doRemoveAreaAddress",  "city")
                    #renderFaceteSelectedAttributeHashMapNumber($action $doAddAreaAddress.city)
                #end
                #if($doAddAreaAddress.size() > 1)
                    $action.setParameter("doRemoveAreaAddress",  "all")
                    #renderCheckLink($action $MESSAGES.getString("searchResult.facete.area.address.delete"))
                #end
            #end
        </div>
    </li>
</ul>