/*
 *  Pieces/UI: Message Box
 *______________________*/




.message {
    border: 1px solid currentColor;
    margin: rem(40px) 0;
    min-height: rem(40px);
    overflow: hidden;
    position: relative;
    transition: transform .25s;

    &.is-deleted {
        transform: scale(0);
    }

    p {
        margin: rem(10px) 0;
    }

    .icon{

    }
}

.message--success {
    color: color(numis-blue);
}

.message--error {
    color: color(tawny);
}

.message--info {
    color: color(neon-blue);
}

.message-fill--error {
    background: color(coral-candy);

    .icon {
        fill: color(red);
    }
}

.message-fill--success {
    background: color(hint-green);

    .icon{
        fill: color(numis-blue);
    }

}

.message-fill--info {
    background: color(lavender);

    .icon {
        fill: color(neon-blue);
    }  
}

.message__title {
    border-bottom: 1px solid currentColor;
    padding: rem(9px 16px);
}

.message__content {
    padding: rem(9px 40px 9px 16px);
    position: relative;

    @include media(
        $query: '640 >',
        $css: (
            padding: rem(8px 16px)
        )
    );
}

.message__simple-content {
    padding: rem(8px 8px 8px 42px);
    position: relative;
}

.message__close {
    cursor: pointer;
    position: absolute;
    right: rem(16px);
    top: rem(13px);

    &:hover {
        fill: color(black);
    }
}

.message__circle{
    position: absolute;
    top:rem(7px);
    left: rem(10px);
    background: color(white);
    border: 1px solid currentColor;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 3px;
}

.message__content {
    padding: rem(8px 16px);
}
