/*
 *  Molecule/ Nav Mobile
 *______________________*/




.nav--fill{
    background: color(white);
}

.nav__mobile__item-icon{
    position: absolute;
    top: rem(24px);
    left:rem(10px);
}

.nav__container{
    background: color(dim-grey);
    border-bottom:  1px solid color(numis-gray);
    background: color(white);

    a{
        color: color(dim-grey);
    }

    .icon{
        fill: currentColor;
    }
}

.nav__container__content{
    position: relative;
    font: 700 rem(16px) $font-brand;
    color: color(dim-grey);
    border-bottom: 1px solid color(gainsboro);
    padding: rem(16px 36px);

    &:active{
        color: color(numis-blue);
    }

    .icon{
        position: absolute;
        top: rem(20px);
        left:rem(14px);
    }

    &.is-active {
        .nav__container-icon{
            &:first-child {
                display: none;
            }
        }
    }
}

.nav__containter__content-item{
    padding: rem(0 36px);
    border-bottom: 1px solid color(gainsboro);

    li{
        position: relative;
        box-shadow: 0 1px 0 0px color(gainsboro);
        padding: rem(10px 16px);

        &:last-child{
            box-shadow: none;
        }
    }

    a{
        font: 400 rem(14px) 'Arial', sans-serif;

        &:hover{
            color: color(black);
        }

        &:active{
            color: color(numis-blue);
        }
    }

    .icon{
        font-size: 12px;
        vertical-align: middle;
    }
}

.nav__container__content-icon{
    position: absolute;
    top: rem(14px);
    left:0;
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.nav__foot{
    font-size: rem(16px);

    li{
        margin: rem(30px 30px -20px);
    }

    a {
        color: color(white);
        padding: .5em;

        &:hover {
            background: color(numis-gray);
        }
    }
}