/*
 *  Pieces/UI: Nav-Metamenu
 *______________________*/




.metamenu {
    background: color(white);
    border: 1px solid rgba(color(dim-grey), .2);
    box-shadow: 0 6px 10px 0 rgba(color(dim-grey), .2);
    color: color(dim-grey);
    display: none;
    font-family: $font-sans;
    font-size: rem(14px);
    line-height: 1.6;
    margin-top: rem(12px);
    position: absolute;
    right: -10px;
    top: 100%;
    z-index: 2;

    .is-active + & {
        display: block;
    }

    a {
        display: block;
    }
}

.metamenu--wide {
    min-width: rem(280px);

    .metamenu__box {
        padding: rem(16px);
    }
}

.metamenu__box {
    & + & {
        border-top: 1px solid color(gainsboro);
    }
}

.metamenu__link {
    color: color(dim-grey);
    padding: rem(8px 40px 8px 22px);
    position: relative;
    white-space: nowrap;

    .no-touchevents &:hover {
        background: color(white-smoke);
        color: color(black);
    }

    &.is-active {
        color: color(numis-blue);
        font-weight: 700;
    }

    .icon {
        fill: currentColor;
        font-size: rem(12px);
        left: rem(6px);
        position: absolute;
        top: rem(12px);
    }
}