<div class="search-filtered">
    <div class="row">
        <div class="xsmall-24 large-6 xlarge-6 columns">
            <div class="accordion accordion-filter-group filter" data-accordion data-allow-all-closed="true" role="tablist">
                <div class="accordion-item accordion-item-filter-group" data-accordion-item>
                    <a href="#" class="accordion-title accordion-title-filter-group hide-for-large" aria-controls="help-accordion" role="tab" aria-expanded="false" aria-selected="false">Navigation</a>
                    <div class="accordion-content filter-wrapper js-anchor-navigation" data-tab-content role="tabpanel">
                        <div class="boxes">
                            $menu_content
                        </div>
                    </div>
                </div>
            </div>
        </div>
        $help_content
    </div>
</div>
#parse('/WEB-INF/templates/scripts/include_script_filter_scroll.vm')
#parse('/WEB-INF/templates/scripts/include_script_filter_scroll_activate.vm')