#macro (getSelected $lang)
#if ($lang.equals($selectedLang))is-active#end
#end

#macro (getPressed $lang)
#if ($lang.equals($selectedLang)) aria-pressed="true" #else aria-pressed="false" #end
#end

#macro (getSelectedIcon)
#if ($lang.equals($selectedLang)) <svg class="icon"><use xlink:href="#tick"/></svg>#end
#end

#macro (getSelectedValue)
    #set($i = 0)
    #set($index = 0)
    #foreach($ls in $languagesShort)
        #if($ls.equals($selectedLang))
            #set($index=$i)
        #end
        #set($i=$i+1)
    #end
    $ListTool.get($languagesNames, $index)
#end

#set ($action = $renderResponse.createActionURL())
<form action="$action" method="get" name="LanguageForm" id="LanguageForm" style="display:inline; ">
#set($i=0)
<h6>$MESSAGES.getString("common.language.title")</h6>
#foreach($lang in $languagesShort)
    <a href="#" onclick="submitform($(this), '$lang')" role="button" class="#getSelected($lang)" #getPressed($lang) aria-label="$ListTool.get($languagesNames, $i)">$lang</a>
    #set($i=$i+1)
#end
</form>
<script>
function submitform(anchor, lang) {
    var form = anchor.closest('form');
    form.append('<input type="hidden" name="lang" value="'+ lang + '"/>');
    form.submit();
}
</script>