#set ($contextPath = $renderRequest.getAttribute('org.apache.jetspeed.request.RequestContext').getRequest().getContextPath())
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doSearch')
#if($page && $page.endsWith("default-page.psml"))
    #set($isDefault = true)
#end
<div class="home-wrapper" style="background-image: url('/decorations/layout/uvp/images/template/drops-big.svg');">
    <div class="row align-center">
        <div class="large-19 columns dark">
            <h1>$MESSAGES.getString('searchSimple.portlet.title.1')</h1>
            <h1 class="green">$MESSAGES.getString('searchSimple.portlet.title.2')<span class="ic-ic-asterisc"></span></h1>
            <div class="indent">
                <span class="ic-ic-asterisc"></span>
                <p class="intro">$MESSAGES.getString('searchSimple.portlet.title.3')</p>
            </div>
            <form action="$action" class="input-search" method="get" name="SearchForm" id="SearchForm" onSubmit='if (this.q.value == "$MESSAGES.getString('searchSimple.query.initial')") this.q.value=""'>
                <input type="text" class="input-search-field" id="search-field" placeholder="$MESSAGES.getString('searchSimple.query.initial')" id="qrystr" name="q" value="#if(!$actionForm.getInputHTMLEscaped('q').equals($MESSAGES.getString('searchSimple.query.initial')))#getHTMLEscapedFieldValue('q')#end">
                <button class="button round hide-for-medium"><span class="ic-ic-lupe"></span></button>
                <button class="button large show-for-medium">$MESSAGES.getString('searchSimple.query.submit')</button>
            </form>
        </div>
    </div>
</div>