#if(!$closeSimilarSection)
    <div>
        <div class="row">
            <div class="columns">
                <ul class="accordion nested-group">
                    <li class="accordion-item #if($ps.isSimilarOpen)is-active#end" data-accordion-item="">
                        #set ($action = $renderResponse.createActionURL())
                        #if($ps.isSimilarOpen)
                            $action.setParameter('action','doCloseSimilar')
                        #else
                            $action.setParameter('action','doOpenSimilar')
                        #end
                        <a href="$action" class="accordion-title" id="similar-accordion-label">
                            <span class="text">$MESSAGES.getString('searchSimilar.headline')</span>
                        </a>
                        <div class="accordion-content similar-accordion" #if($ps.isSimilarOpen)style="display:block"#end>
                            #set ($action = $renderResponse.createActionURL())
                            <form action="$action" method="get" name="frmSimilar" id="frmSimilar">
                                #foreach($similarNode in $ps.similarRoot.getChildren())
                                    <ul class="accordion nested-group-sub">
                                        #set ($action = $renderResponse.createActionURL())
                                        $action.setParameter('nodeId',$similarNode.id)
                                        #if($similarNode.isOpen())
                                            $action.setParameter('action','doCloseNode')
                                        #else
                                            $action.setParameter('action','doOpenNode')
                                        #end
                                        <li class="accordion-item  #if($similarNode.isOpen())is-active#end">
                                            <a href="$action" class="accordion-title icon" #if($ps.isSimilarOpen)aria-expanded="true" aria-selected="true"#end>
                                                #if($similarNode.isOpen())
                                                    <span class="ic-ic-minus"></span>
                                                #else
                                                    <span class="ic-ic-plus"></span>
                                                #end
                                                <span class="text">$similarNode.getName() ($similarNode.getChildren().size())</span>
                                            </a>
                                            <div class="accordion-content" #if($similarNode.isOpen())aria-hidden="true" style="display:block"#end>
                                            #if($similarNode.getChildren().size() > 0)
                                                <div class="form-element boxed">
                                                    <div class="input-check">
                                                        <div class="control-group">
                                                        #foreach($tokenNode in $similarNode.getChildren())
                                                            <label class="control control--checkbox field-toggle__label field-toggle__label--boxed" for="chk_$tokenNode.id">
                                                            #if($tokenNode.type == 4)
                                                                <p>$MESSAGES.getString('searchSimilar.terms.not.available')</p>
                                                            #else
                                                                <input id="chk_$tokenNode.id" name="chk_$tokenNode.id" value="1" type="checkbox">
                                                                <div class="control__indicator"></div>
                                                                $tokenNode.name
                                                            #end
                                                            </label>
                                                        #end
                                                        </div>
                                                    </div>
                                                </div>
                                            #else
                                                <p>$MESSAGES.getString('searchSimilar.terms.not.available')</p>
                                            #end
                                            </div>
                                        </li>
                                    </ul>
                                #end
                                <div class="columns text-center">
                                    <button class="button">$MESSAGES.getString('searchSimilar.add.to.query')</button>
                                    <input type="hidden" name="action" value="doAddSimilar" />
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
#end