<script language="JavaScript" type="text/javascript">
var geojsonFeature = {
    "type": "FeatureCollection",
    "features": [
        {
            "type": "Feature",
            "properties": {
                "status": 4,
                "popupContent": "<table><tr><td><b>Name:</b></td><td>Verlegung der Bundesstra&szlig;e B 4/75 (Wilhelmsburger Reichsstra&szlig;e)</td></tr><tr><td><b>Status:</b></td><td>Zulassungsentscheidung bekannt gemacht</td></tr><tr><td><b>Ort:</b></td><td>Berlin</td></tr></table><p><a href='/trefferanzeige?docuuid=24C92423-ABDE-41A4-89C0-DF779789391A'>Mehr Infos</a></p>"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [13.3888599, 52.5170365]
            }
        },{
            "type": "Feature",
            "properties": {
                "status": 3,
                "popupContent": "<table><tr><td><b>Name:</b></td><td>&Auml;nderung des Bahn&uuml;bergangs V a an der Industriestra&szlig;e im Zuge des Radwegebaus in Bahn-km 5 + 55</td></tr><tr><td><b>Status:</b></td><td>Er&ouml;rterungstermin bekannt gemacht</td></tr><tr><td><b>Ort:</b></td><td>Frankfurt</td></tr></table><p><a href='/trefferanzeige?docuuid=5E4B3CA2-1961-4A66-BD0B-A685FB1FD3D8'>Mehr Infos</a></p>"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [8.6820934, 50.1106529]
            }
        },{
            "type": "Feature",
            "properties": {
                "status": 2,
                "popupContent": "<table><tr><td><b>Name:</b></td><td>Agrarenergie Krukum GmbH, Melle</td></tr><tr><td><b>Status:</b></td><td>&Ouml;ffentlich ausgelegt</td></tr><tr><td><b>Ort:</b></td><td>Hannover</td></tr></table><p><a href='/trefferanzeige?docuuid=C10AE391-02FD-4062-9CCE-5111FA0CC24C'>Mehr Infos</a></p>"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [9.7385532, 52.3744779]
            }
        },{
            "type": "Feature",
            "properties": {
                "status": 4,
                "popupContent": "<table><tr><td><b>Name:</b></td><td>BASF Polyurethanes GmbH</td></tr><tr><td><b>Status:</b></td><td>Zulassungsentscheidung bekannt gemacht</td></tr><tr><td><b>Ort:</b></td><td>Bremen</td></tr></table><p><a href='/trefferanzeige?docuuid=991E2D07-CD16-4518-A1EC-EF6042C63D88'>Mehr Infos</a></p>"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [8.8071646, 53.0758196]
            }
        },{
            "type": "Feature",
            "properties": {
                "status": 4,
                "popupContent": "<table><tr><td><b>Name:</b></td><td>Bau einer Deckwerkserweiterung und Zuwegung am Elbedeich im Bereich Abbenfleth im Landkreis Stade</td></tr><tr><td><b>Status:</b></td><td>Zulassungsentscheidung bekannt gemacht</td></tr><tr><td><b>Ort:</b></td><td>Hamburg</td></tr></table><p><a href='/trefferanzeige?docuuid=D0758C1E-CEE0-4B8F-883C-46DC93FA3B9D'>Mehr Infos</a></p>"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [10.000654, 53.5503414]
            }
        },{
            "type": "Feature",
            "properties": {
                "status": 4,
                "popupContent": "<table><tr><td><b>Name:</b></td><td>Becker Energie GmbH & Co. KG, Rosengarten</td></tr><tr><td><b>Status:</b></td><td>Zulassungsentscheidung bekannt gemacht</td></tr><tr><td><b>Ort:</b></td><td>M&uuml;nchen</td></tr></table><p><a href='/trefferanzeige?docuuid=8531E07C-13C6-426D-9BDE-3C06C292925F'>Mehr Infos</a></p>"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [11.6620, 48.1553]
            }
        },{
            "type": "Feature",
            "properties": {
                "status": 2,
                "popupContent": "<table><tr><td><b>Name:</b></td><td>ABL Bioenergie Sachsenhagen GbR</td></tr><tr><td><b>Status:</b></td><td>&Ouml;ffentlich ausgelegt</td></tr><tr><td><b>Ort:</b></td><td>Mainz</td></tr></table><p><a href='/trefferanzeige?docuuid=EC1701F5-5ADA-488E-A3CC-6C173EE98312'>Mehr Infos</a></p>"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [8.2710237, 49.9999952]
            }
        },{
            "type": "Feature",
            "properties": {
                "status": 2,
                "popupContent": "<table><tr><td><b>Name:</b></td><td>Aerzener Brot und Kuchen GmbH</td></tr><tr><td><b>Status:</b></td><td>&Ouml;ffentlich ausgelegt</td></tr><tr><td><b>Ort:</b></td><td>Paderborn</td></tr></table><p><a href='/trefferanzeige?docuuid=9179E649-1300-4074-8E59-D49A8FFDEA99'>Mehr Infos</a></p>"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [8.76486977817756, 51.71895955]
            }
        },{
            "type": "Feature",
            "properties": {
                "status": 3,
                "popupContent": "<table><tr><td><b>Name:</b></td><td>&Auml;nderung von Bahnanlagen im Hafen Cuxhaven</td></tr><tr><td><b>Status:</b></td><td>Er&ouml;rterungstermin bekannt gemacht</td></tr><tr><td><b>Ort:</b></td><td>N&uuml;rnberg</td></tr></table><p><a href='/trefferanzeige?docuuid=4308DB4F-DE5F-468A-9786-B481BAC191AB'>Mehr Infos</a></p>"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [11.1429, 49.4400]
            }
        }
    ]
};

function onEachFeature(feature, layer) {
    layer.bindPopup(feature.properties.popupContent);
}

var iconRed = L.icon({
    iconUrl:      '/decorations/layout/ingrid/images/pins/icon_pin_red.png',
    iconSize:     [24, 24],
    iconAnchor:   [11, 22],
    popupAnchor:  [0, -20]
});

var iconGreen = L.icon({
    iconUrl: '/decorations/layout/ingrid/images/pins/icon_pin_green.png',
    iconSize:     [24, 24],
    iconAnchor:   [11, 22],
    popupAnchor:  [0, -20]
});

var iconBlue = L.icon({
    iconUrl: '/decorations/layout/ingrid/images/pins/icon_pin_blue.png',
    iconSize:     [24, 24],
    iconAnchor:   [11, 22],
    popupAnchor:  [0, -20]
});

var iconBlack = L.icon({
    iconUrl: '/decorations/layout/ingrid/images/pins/icon_pin_black.png',
    iconSize:     [24, 24],
    iconAnchor:   [11, 22],
    popupAnchor:  [0, -20]
});

var iconBrown = L.icon({
    iconUrl: '/decorations/layout/ingrid/images/pins/icon_pin_brown.png',
    iconSize:     [24, 24],
    iconAnchor:   [11, 22],
    popupAnchor:  [0, -20]
});

var iconGray = L.icon({
    iconUrl: '/decorations/layout/ingrid/images/pins/icon_pin_gray.png',
    iconSize:     [24, 24],
    iconAnchor:   [11, 22],
    popupAnchor:  [0, -20]
});

var iconLila = L.icon({
    iconUrl: '/decorations/layout/ingrid/images/pins/icon_pin_lila.png',
    iconSize:     [24, 24],
    iconAnchor:   [11, 22],
    popupAnchor:  [0, -20]
});

var iconOrange = L.icon({
    iconUrl: '/decorations/layout/ingrid/images/pins/icon_pin_orange.png',
    iconSize:     [24, 24],
    iconAnchor:   [11, 22],
    popupAnchor:  [0, -20]
});

var iconLimegreen = L.icon({
    iconUrl: '/decorations/layout/ingrid/images/pins/icon_pin_limegreen.png',
    iconSize:     [24, 24],
    iconAnchor:   [11, 22],
    popupAnchor:  [0, -20]
});

var iconYellow = L.icon({
    iconUrl: '/decorations/layout/ingrid/images/pins/icon_pin_yellow.png',
    iconSize:     [24, 24],
    iconAnchor:   [11, 22],
    popupAnchor:  [0, -20]
});

var geojsonFeatureLayer = L.geoJson(geojsonFeature, {
    pointToLayer: function (feature, latlng) {
        var icon = new L.Icon.Default();
        // Change icon style depend on status
        if(feature.properties){
            if(feature.properties.status){
                if(feature.properties.status > 3){
                    icon = iconGreen;
                }else if(feature.properties.status > 2){
                    icon = iconYellow;
                }else{
                    icon = iconRed;
                }
            }
        }
        return L.marker(latlng, {icon: icon});
    },
    onEachFeature: onEachFeature
});

if(geojsonFeature && geojsonFeatureLayer){
    geojsonFeatureLayer.addTo(map);
    map.fitBounds(geojsonFeatureLayer.getBounds());
}

var legend = L.control({position: 'topright'});

legend.onAdd = function (map) {

    var div = L.DomUtil.create('div', 'info legend');
    var labels = [];

    labels.push("<table><tr><td><img src='/decorations/layout/ingrid/images/pins/icon_pin_red.png'></td><td>&Ouml;ffentliche Auslegung</td></tr><tr><td><img src='/decorations/layout/ingrid/images/pins/icon_pin_yellow.png'></td><td>Er&ouml;rterungstermin</td></tr><tr><td><img src='/decorations/layout/ingrid/images/pins/icon_pin_green.png'></td><td>Zulassungsentscheidung</td></tr></table>");
    
    div.innerHTML = labels;
    return div;
};

legend.addTo(map);
</script>