.nav-desktop {
    background: #D62029;
}

a {
    color: #000;
}

.desktop__title p {
    color: #000;
}

.mobile__title, .mobile__title:hover {
    color: #000;
}

@media screen and (max-width: 939px) {
  .header {
    background: #FFF;
    border-bottom: solid 1px #D62029;
  }
}

.nav-toggle {
    background: #D62029;
}

.nav-toggle:after {
    border-color: transparent transparent #FFF transparent;
}

.nav-toggle .icon {
    fill: #FFF;
}

.nav-overlay {
    background: #FFF;
}

.nav__foot a {
    color: #000;
}

.footer {
    color: #000;
}

.footer a {
    color: #000;
}

.desktop-logo {
    height: 60px;
    max-width: 100%;
    padding: 0 10px 0 0;
}

.mobile__logo {
    height: 40px !important;
    padding: 0 10px 0 0;
}

@media screen and (min-width: 768px) {
    .header__logo {
        margin-left: 0;
    }
}