#### Anzeige der Bemerkungen
#set($xPathInfo1SupplementalInformation = "./gmd:identificationInfo/*/gmd:supplementalInformation/gco:CharacterString")
#set($add = $xPathListInformationType1.add($xPathInfo1SupplementalInformation))