
#* Add the current layouts configuration values to the context *#
#defineLayoutObjects()

#* Loads our custom macros *#
#parse($layoutDecoration.getResource("decorator-macros.vm"))

#* Add all template constants to the current context *#
#defineNavigationConstants()

<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
  <head>
  <base href="#BaseHref()" />
  <title>GS Soil</title>
  <meta http-equiv="Content-type" content="#ContentType()" />
  <meta http-equiv="Content-style-type" content="text/css" />   
  <meta http-equiv="content-language" content="DE" />
  <!--<meta name="description" content="" />-->
  <meta name="description" content="#PageDescription()" />
  <meta name="author" content="wemove digital solutions" />
  <meta name="keywords" content="" />
  <meta name="copyright" content="wemove digital solutions GmbH" />
  <meta name="robots" content="index,follow" />
  <link rel="shortcut icon" href="#GetPageResource('images/favicon.ico')" />
  #if($MESSAGES.getString('ingrid.page.opensearch.xml')!="")
	<link rel="search" type="application/opensearchdescription+xml" href="$MESSAGES.getString('ingrid.page.opensearch.xml')" title="$MESSAGES.getString('ingrid.page.opensearch.title')"/>
  #end
<!--<link rel="stylesheet" media="screen, projection" type="text/css" href="styles/portal_u.css" />-->

  #* Jetspeed macros, see WEB-INF/jetspeed_macros.vm *#
  #includeHeaderResource()
  #* Hack ! Fix fuer width:100%; height:100% aus inkludierten Headern von J2 Portlets (j2-admin ...) -> zerschiesst Navigation *#
  <style>
	html, body { width: auto; height: auto; }
  </style>
  #includeJavaScriptForHead()
  #IncludeStylesheets()

  #* our decorator macros, see ./decorator-macros.vm *#
  #decoratorIncludeJavaScriptForHead()
  


<script language="JavaScript" type="text/javascript">
var xmlhttp=false;
/*@cc_on @*/
/*@if (@_jscript_version >= 5)
// JScript gives us Conditional compilation, we can cope with old IE versions.
// and security blocked creation of the objects.
try {
	xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
} catch (e) {
	try {
   		xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
  	} catch (E) {
   		xmlhttp = false;
  	}
}
@end @*/
if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
	try {
		xmlhttp = new XMLHttpRequest();
	} catch (e) {
		xmlhttp=false;
	}
}
if (!xmlhttp && window.createRequest) {
	try {
		xmlhttp = window.createRequest();
	} catch (e) {
		xmlhttp=false;
	}
}
if (xmlhttp) {
    xmlhttp.open('GET', '$jetspeed.getAbsoluteUrl('/detect-js.psml?js=1')', true);
    xmlhttp.onreadystatechange = function () {};
    xmlhttp.send(null);
}	
</script>

  </head>
  <body class="#PageBaseCSSClass()">
    <noscript>
	  <iframe src="$jetspeed.getAbsoluteUrl('/detect-js.psml')" style="display:none"></iframe>
    </noscript>
<!--  BEGIN: layout/html/portalu/decorator.vm -->
    <div class="#PageBaseCSSClass()">

<!-- Identity Area inkl. service menu -->
#includeIdentityArea()

<!-- MAIN-NAVIGATION -->
<div id="mainnav">
  <h2 class="hide">Hauptmenu</h2>
  <ul>
#set($mainMenu = $site.getMenu("main-menu"))
#if(!$mainMenu.empty)
  #includeMainNavigation($mainMenu)
#end
  </ul>
  <br class="clearer" />
</div>

<!-- sub navigation -->
<div id="subnav"><a name="subnav"></a>
  <div class="subnav_corner"><div class="subnav_corner_img"></div></div>
#set($subMenu = $site.getMenu("sub-menu"))
#if($subMenu && !$subMenu.empty)
  #includeSubNavigation($subMenu)
#else
  ## HACK: check current site and render "global" sub menue dependent from site ! -> thus we don't have to restructure pages in subfolders !
  #set($currentPage = $site.getPage().url)
  #if($currentPage.startsWith('/search-') || $currentPage.startsWith('/main-search'))
	#set($subMenu = $site.getMenu("sub-menu-search"))
	#if($subMenu && !$subMenu.empty)
	  #includeSubNavigation($subMenu)
	#end
  #end
#end
</div>

<!-- CONTENT BLOCK -->
<div id="container">
  
## $jetspeed.include($jetspeed.currentFragment)

<!--  END: layout/html/portalu/decorator.vm -->
