#macro (renderTitleLine $entry)
    #if($tool.hasContent($entry.title))
        <strong>$entry.title</strong>
    #end
#end

#macro (renderLinkLine $entry $hasImage $displayPreview)
    #if($entry.type == "html")
        $entry.body
    #else
        #if(!$entry.isMapLink && !$entry.isDownload)
            #if($hasImage)
            ##<div class="map">
            ##    <span class="ic-ic-external"></span>
            ##</div>
            #end
        #end
        #if(!$entry.hasLinkIcon)
            #if($entry.isExtern)
                <svg class="icon"><use xlink:href="#external-link"/></svg>
            #elseif($entry.isMapLink)
                #if($entry.description)
                    #set($imgAlt = $entry.description)
                    #set($imgTitle = $entry.description)
                #elseif($entry.title)
                    #set($imgAlt = $entry.title)
                    #set($imgTitle = $entry.title)
                #else
                    #set($imgAlt = "")
                    #set($imgTitle = "")
                #end
                <div class="swiper-slide">
                    <p class="caption">
                        <img class="preview_image is-hidden" src="./" srcset="$entry.src" alt="$imgAlt" title="$imgTitle" onerror="loadDefaultMapImage(this);">
                        <noscript>
                            <img class="preview_image" src="$entry.src" alt="$imgAlt" title="$imgTitle"/>
                        </noscript>
                    </p>
                    #if($entry.description)
                    <p class="caption">$entry.description</p>
                    #end
                #if(!$entry.get("href"))
                    <p class="caption">$entry.title</p>
                #elseif($entry.get("href").toLowerCase().indexOf("getcapabilities") > -1)
                    <p class="caption">
                        <a class="button small" href="$renderResponse.encodeURL('/portal/main-maps.psml')?layers=WMS%7C%7C${entry.get("href")}" title="$entry.title">
                            $entry.title
                        </a>
                    </p>
                #else
                    <p class="caption">
                        <a class="button small" href="${entry.get("href")}" title="$entry.title" target="_blank" rel="noopener noreferrer">
                            $entry.title
                        </a>
                    </p>
                #end
                </div>
            #else
                <svg class="icon"><use xlink:href="#internal-link"/></svg>
            #end
        #end
        #if($entry.isExtern)
            <div>
                #if($tool.hasContent($entry.serviceType))
                    #renderServiceType($entry.serviceType)
                #elseif($tool.hasContent($entry.href))
                    #renderServiceTypeUrl($entry.href)
                #end
                <a class="icon" href="$entry.href" title="$entry.title" target="_blank" rel="noopener noreferrer">
                  <span class="ic-ic-external"></span>
                  <span class="text">$entry.title</span>
                </a>
                #if($tool.hasContent($entry.linkInfo))
                    #if($tool.hasContent($entry.linkInfo))
                        <small class="text">$entry.linkInfo</small>
                    #end
                #end
                #if($tool.hasContent($entry.description))
                    #set($myDescription = $stringTool.replaceAll($entry.description, '\n', "<br/>"))
                    <small>${myDescription}</small>
                #end
            </div>
        #elseif($entry.addressClass)
            <div class="no-image">
                <div class="helper icon">
                    #set($udkAddrClassName = $MESSAGES.getString("udk_adr_class_name_${entry.addressClass}"))
                    #renderUDKIcon($entry.addressClass $udkAddrClassName)
                </div>
                <a href="$entry.href" class="icon" title="$entry.title">
                    <span class="text">$entry.title</span>
                </a>
            </div>
        #elseif($entry.objectClass)
            #if($tool.hasContent($entry.serviceType))
                #renderServiceType($entry.serviceType)
            #else
                #renderServiceTypeUrl($entry.href)
            #end
            #if(!$hasImage)
            <div class="no-image">
                <a href="$entry.href" class="icon" title="$entry.title">
                    #renderUDKIcon($entry.objectClass $entry.title)
                </a>
            #else
            <div class="image">
                <div class="helper icon">
                    #set($udkObjClassName = $Codelists.getCodeListValue('8000', $entry.objectClass, $request.getLocale().getLanguage()))
                    #renderUDKIcon($entry.objectClass $udkObjClassName)
                </div>
                <a href="$entry.href" class="icon" title="$entry.title">
                    <span class="text">$entry.title</span>
                </a>
            #end
            #if($tool.hasContent($entry.linkInfo))
                #if($tool.hasContent($entry.linkInfo))
                    <small class="text">$entry.linkInfo</small>
                #end
            #end
            #if($displayPreview)
                <div class="preview">
                    #if($tool.hasContent($entry.graphicOverview))
                        #set($canSwipe = false)
                        #if($entry.graphicOverview.size() > 1)
                            #set($canSwipe = true)
                        #end
                        #if($canSwipe)
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                            #foreach($graphic in $entry.graphicOverview)
                                <div class="swiper-slide">
                                    <p class="caption">
                                        <img class="preview_image" srcset="$graphic" title="$entry.title" alt="img" >
                                    </p>
                                </div>
                            #end
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        #else
                        <img class="preview_image" srcset="$entry.graphicOverview.get(0)" title="$entry.title" alt="img" >
                        <noscript>
                            <img class="preview_image" src="$entry.graphicOverview.get(0)" alt="$imgAlt" title="$imgTitle"/>
                        </noscript>
                        #end
                    #end
                </div>
            #end
            #if($tool.hasContent($entry.description))
                #set($myDescription = $stringTool.replaceAll($entry.description, '\n', ""))
                <div class="description">
                    <small class="description">${myDescription}</small>
                </div>
            #end
            #if($tool.hasContent($entry.mapLink))
            <a class="button outline pill" href="$renderResponse.encodeURL('/portal/main-maps.psml')?layers=WMS%7C%7C$entry.mapLink" title="$MESSAGES.getString('common.result.showMap.tooltip')">
                $MESSAGES.getString('common.result.showMap')
            </a>
            #end
            </div>
        #elseif($entry.noLink)
            <div>
                $entry.title
            </div>
        #elseif($entry.isDownload)
            <div class="download">
                #if($entry.title != $MESSAGES.getString('xml_link'))
                    #if($tool.hasContent($entry.serviceType))
                        #renderServiceType($entry.serviceType)
                    #else
                        #renderServiceTypeUrl($entry.href)
                    #end
                #end
                <a href="$entry.href" class="icon" title="$entry.title" target="_blank" rel="noopener noreferrer">
                  <span class="ic-ic-download"></span>
                  <span class="text">$entry.title</span>
                </a>
                #if($tool.hasContent($entry.description))
                    #set($myDescription = $stringTool.replaceAll($entry.description, '\n', ""))
                    <small class="description">${myDescription}</small>
                #end
            </div>
        #elseif(!$entry.isMapLink)
            <div>
                <a href="$entry.href" class="icon" title="$entry.title">
                    <span class="ic-ic-karte"></span>
                    <span class="text">$entry.title</span>
                </a>
            </div>
        #end
    #end
#end

#macro (renderLinkLineAddress $entry)
    <div>
    #if($entry.isExtern)
        <a href="$entry.href" title="$MESSAGES.getString('common.alt.icon.extern')">$entry.title</a>
    #else
        <a href="$entry.href" title="$MESSAGES.getString('common.alt.icon.intern')">$entry.title</a>
    #end
    </div>  
#end

#macro (renderUdkClass $type)
    $Codelists.getCodeListValue('8000', ${type}, $lang)
#end

#macro (renderAddressType $type)
    $MESSAGES.getString("udk_adr_class_name_$type")
#end

#macro (renderMultiLine $entry)
    #if($tool.hasContent($entry.elements))
        #if($tool.hasContent($entry.headerTitle))
            #renderSectionTitle($entry.headerTitle)
        #end
        #if($tool.hasContent($entry.title))
            #renderGroupTitle($entry.title)
        #end
        #if($tool.hasContent($entry.sort))
            #if($entry.sort == "false")
                #set($elements = $entry.elements)
            #else
                #set ($hasBody = false)
                #set ($hasBody = $sorter.sort($entry.elements,"body"))
                #if ($hasBody)
                    #set($elements = $hasBody)
                #else
                    #set($elements = $entry.elements)
                #end
            #end
        #else
            #set($elements = $entry.elements)
        #end
        #foreach($e in $elements)
            #if($e.type)
                #if($e.type=="multiLine")
                    #renderMultiLine($e)
                #elseif($e.type=="multiLineImage")
                    #renderMultiLineImage($e)
                #elseif($e.type=="textLine")
                    #renderTextLine($e)
                #elseif($e.type=="textList")
                    ##renderTextList($e)
                #elseif($e.type=="textLinkLine")
                    #renderTextLinkLine($e)
                #elseif($e.type=="linkLine")
                    #renderLinkLine($e)
                #elseif($e.type=="linkLineAddress")
                    #renderLinkLineAddress($e)
                #elseif($e.type=="textLabelAbove")
                    #renderTextLabelAbove($e)
                #elseif($e.type=="textLabelDuring")
                    #renderTextLabelDuring($e)
                #elseif($e.type=="textLabelLeft")
                    #renderTextLabelLeft($e)
                #elseif($e.type=="line")
                    <hr />
                #end
            #end
        #end
    #end
#end

#macro (renderMultiLineImage $entry)
    #if($tool.hasContent($entry.elements))
        #set($canSwipe = false)
        #if($entry.elements.size() > 1)
            #set($canSwipe = true)
        #end
        #if($canSwipe)
        <div class="swiper-container">
            <div class="swiper-wrapper">
        #else
        <div class="swiper-container">
        #end
                #foreach($e in $entry.elements)
                    #if($e.type=="multiLine")
                        #renderMultiLine($e)
                    #elseif($e.type=="multiLineImage")
                        #renderMultiLineImage($e)
                    #elseif($e.type=="linkLine")
                        #renderLinkLine($e true)
                    #end
                #end
        #if($canSwipe)
            </div>
            #if($entry.elements.size() > 1)
            <div class="swiper-pagination"></div>
            #end
        </div>
        #else
        </div>
        #end
    #end
    #if($entry.href)
    <p class="caption">
        <a class="button small" href="$renderResponse.encodeURL('/portal/main-maps.psml')?layers=WMS%7C%7C${entry.get("href")}" title="$MESSAGES.getString("common.result.showMap.tooltip.short")">
            $MESSAGES.getString("common.result.showMap.tooltip.short")
        </a>
    </p>
    #end
#end

#macro (renderMultiLineHalf $entry)
    #if($tool.hasContent($entry.elements))
        #renderGroupTitle($entry.title)
        #if($tool.hasContent($entry.sort))
            #if($entry.sort == "false")
                #set($elements = $entry.elements)
            #else
                #set ($hasBody = false)
                #set ($hasBody = $sorter.sort($entry.elements,"body"))
                #if ($hasBody)
                    #set($elements = $hasBody)
                #else
                    #set($elements = $entry.elements)
                #end
            #end
        #else
            #set($elements = $entry.elements)
        #end
        #foreach($e in $elements)
            #renderTypeHalf($e)
        #end
    #end
#end

## *************************
## New Detail macros
## *************************

#macro (renderMultiLineAddresses $title $entries $isMeta $isFactSheet $isAddress)
    #if($isMeta == true)
        <div class="table table--lined">
            <table>
                <tr>
                #if($tool.hasContent($title))
                    <th>$title</th>
                #end
                    <td>
                        #set($count = 0)
                        #set($entryLength = $entries.getLength() - 1)
                        #foreach($number in [0..$entryLength])
                            #set($node = $entries.item($number))
                            #set($xPath = "./idf:idfResponsibleParty")
                            #if($TOOL.nodeExist($xPath, $node))
                                #set($xParentPath = "./idf:idfResponsibleParty")
                            #else
                                #set($xParentPath = "./gmd:CI_ResponsibleParty")
                            #end
                            #set($xPath = "$xParentPath/gmd:contactInfo/gmd:CI_Contact/gmd:address/gmd:CI_Address/gmd:electronicMailAddress")
                            #set($tmpTitle = $TOOL.getValueFromXPath($xPath, null, $node))
                            <a class="icon" href="mailto:${tmpTitle}" title="$tmpTitle">
                                <span class="ic-ic-mailto"></span>
                                <span class="text">$tmpTitle</span>
                            </a>
                        #end
                    </td>
                </tr>
            </table>
        </div>
    #else
        #if($entries)
            #set($count = 0)
            #foreach($entry in $entries)
            #if($isFactSheet)
                #if($count == 1)
                    #break
                #end
            #end
            #set($count = $count + 1)
            #if(!$isFactSheet)
            <div class="table">
            #end
                #if($tool.hasContent($title))
                    #if(!$isFactSheet)
                        <h3>$title</h3>
                    #elseif($isAddress)
                        <h4>$title</h4>
                    #end
                #end
                #if(!$isFactSheet)
                <table>
                #end
                    #set($node = $entry)
                    #set($xPath = "")
                    #if($TOOL.nodeExist("./idf:idfResponsibleParty", $node))
                        #set($xParentPath = "./idf:idfResponsibleParty")
                    #elseif($TOOL.nodeExist("./gmd:CI_ResponsibleParty", $node))
                        #set($xParentPath = "./gmd:CI_ResponsibleParty")
                    #else
                        #set($xParentPath = ".")
                    #end
                    
                    #set($uuid = "")
                    #set($xPath = "$xParentPath/gmd:role/gmd:CI_RoleCode/@codeListValue")
                    #if(!$isFactSheet)
                    <head>
                    <tr>
                    <th>
                    #end
                    #if($TOOL.nodeExist($xPath, $node))
                        #if($isFactSheet)
                        <h4>
                        #end
                        $TOOL.getValueFromXPath($xPath, "505", $node)
                        #if($isFactSheet)
                        </h4>
                        #end
                        
                    #end
                    #if(!$isFactSheet)
                    </th>
                    </tr>
                    </head>
                    <tr>
                    <td>
                    #end
                        <p>
                        #if($xParentPath == "./idf:idfResponsibleParty" || $xParentPath == ".")
                            #set($xPath = "$xParentPath/idf:hierarchyParty")
                            #if($TOOL.nodeExist($xPath, $node))
                                #set($hierarchyParty = $TOOL.getNodeListFromXPath($xPath, $node))
                                #set($hierarchyPartyLength = $hierarchyParty.getLength() - 1)
                                #foreach($hierarchy in [$hierarchyPartyLength..0])
                                    #set($hierarchyPartyNode = $hierarchyParty.item($hierarchy))

                                    #set($xPath = "./@uuid")
                                    #set($uuid = $TOOL.getValueFromXPath($xPath, null, $hierarchyPartyNode))

                                    #set($xPath = "./idf:addressType")
                                    #set($t = $TOOL.getValueFromXPath($xPath, null, $hierarchyPartyNode))
                                   
                                    #if($t == "2")
                                        #set($xPath = "./idf:addressIndividualName")
                                        ## Person -> Name
                                        #if($TOOL.nodeExist($xPath, $hierarchyPartyNode))
                                            #set($tmpTitle = $TOOL.getIndividualName($TOOL.getValueFromXPath($xPath, null, $hierarchyPartyNode)))
                                            <a class="link-line" href="?cmd=doShowAddressDetail&docuuid=$uuid&plugid=$TOOL.getiPlugId()" title="$tmpTitle">$tmpTitle</a>
                                        #end
                                    #elseif($t == "3")
                                        ## Free Address -> Name or Organisation
                                        #if($TOOL.nodeExist("./idf:addressIndividualName", $hierarchyPartyNode))
                                            #set($tmpTitle = $TOOL.getIndividualName($TOOL.getValueFromXPath("./idf:addressIndividualName", null, $hierarchyPartyNode)))
                                            <a class="link-line" href="?cmd=doShowAddressDetail&docuuid=$uuid&plugid=$TOOL.getiPlugId()" title="$tmpTitle">$tmpTitle</a>
                                            #if($TOOL.nodeExist("./idf:addressOrganisationName", $hierarchyPartyNode))
                                                <br>
                                                $TOOL.removeLocalisation("./idf:addressOrganisationName", null, $hierarchyPartyNode)
                                            #end
                                        #elseif($TOOL.nodeExist("./idf:addressOrganisationName", $hierarchyPartyNode))
                                            #set($tmpTitle = $TOOL.removeLocalisation($TOOL.getValueFromXPath("./idf:addressOrganisationName", null, $hierarchyPartyNode)))
                                            <a class="link-line" href="?cmd=doShowAddressDetail&docuuid=$uuid&plugid=$TOOL.getiPlugId()" title="$tmpTitle">$tmpTitle</a>
                                        #end
                                    #else
                                        ## Organisation
                                        #set($xPath = "./idf:addressOrganisationName")
                                        #set($tmpTitle = $TOOL.removeLocalisation($TOOL.getValueFromXPath($xPath, null, $hierarchyPartyNode)))
                                        <a class="link-line" href="?cmd=doShowAddressDetail&docuuid=$uuid&plugid=$TOOL.getiPlugId()" title="$tmpTitle">$tmpTitle</a>
                                    #end
                                #end
                            #else
                                ## Name
                                #set($xPath = "$xParentPath/gmd:individualName")
                                #if($TOOL.nodeExist($xPath, $node))
                                    <strong>$TOOL.getIndividualName($TOOL.getValueFromXPath($xPath, null, $node))</strong>
                                    <br>
                                #end
                                ## Organisation
                                #set($xPath = "$xParentPath/gmd:organisationName/gco:CharacterString")
                                #if($TOOL.nodeExist($xPath, $node))
                                    #set($organisation = $TOOL.stringTokenizer($TOOL.getValueFromXPath($xPath, null, $node)))
                                    #set($organisationLength = $organisation.countTokens() - 1)
                                    #foreach($org in [0..$organisationLength])
                                        $organisation.nextToken()
                                    #end
                                #end
                            #end
                        #else
                            ## Name
                            #set($xPath = "$xParentPath/gmd:individualName")
                            #if($TOOL.nodeExist($xPath, $node))
                                <strong>$TOOL.getIndividualName($TOOL.getValueFromXPath($xPath, null, $node))</strong>
                                <br>
                            #end
                            ## Organisation
                            #set($xPath = "$xParentPath/gmd:organisationName/gco:CharacterString")
                            #if($TOOL.nodeExist($xPath, $node))
                                #set($organisation = $TOOL.stringTokenizer($TOOL.getValueFromXPath($xPath, null, $node)))
                                #set($organisationLength = $organisation.countTokens() - 1)
                                #foreach($org in [0..$organisationLength])
                                    $organisation.nextToken()
                                #end
                            #end
                        #end
                        </p>
                        #if(!$isFactSheet || $isAddress)
                        <p>
                            ## "Street"
                            #set($xPath = "$xParentPath/gmd:contactInfo/gmd:CI_Contact/gmd:address/gmd:CI_Address/gmd:deliveryPoint")
                            #if($TOOL.nodeExist($xPath, $node))
                                #set($deliveryPoint = $TOOL.getNodeListFromXPath($xPath, $node))
                                #set($deliveryPointLength = $deliveryPoint.getLength() - 1)
                                #foreach($deliveryPointNumber in [0..$deliveryPointLength])
                                    #set($delivery = $TOOL.getValueFromXPath(".", null, $deliveryPoint.item($deliveryPointNumber)))
                                    #if($delivery.startsWith("Postbox"))
                                        #set($deliverySplit = $delivery.split(","))
                                        #foreach($d in $deliverySplit)
                                            #if($d.startsWith("Postbox"))
                                                $MESSAGES.getString("postbox_label") $d.replace("Postbox ", "")
                                            #else
                                                $d
                                            #end
                                            <br>
                                        #end
                                    #elseif($delivery.matches("\\d*"))
                                        $MESSAGES.getString("postbox_label") $delivery
                                        <br>
                                    #else
                                        #if($deliveryPointLength > 1)
                                            <br>
                                        #end
                                        $delivery
                                    #end
                                #end
                                <br>
                            #end
                            ## "Postcode"
                            #set($xPath = "$xParentPath/gmd:contactInfo/gmd:CI_Contact/gmd:address/gmd:CI_Address/gmd:postalCode")
                            #if($TOOL.nodeExist($xPath, $node))
                                $TOOL.getValueFromXPath($xPath, null, $node)
                            #end
                            ## "City"
                            #set($xPath = "$xParentPath/gmd:contactInfo/gmd:CI_Contact/gmd:address/gmd:CI_Address/gmd:city")
                            #if($TOOL.nodeExist($xPath, $node))
                                $TOOL.getValueFromXPath($xPath, null, $node)
                                <br>
                            #end
                            ## "Country"
                            #set($xPath = "$xParentPath/gmd:contactInfo/gmd:CI_Contact/gmd:address/gmd:CI_Address/gmd:country")
                            #if($TOOL.nodeExist($xPath, $node))
                                $TOOL.getCountryValue($TOOL.getValueFromXPath($xPath, null, $node))
                            #end
                        </p>
                        #end
                        ## E-Mail
                        #set($xPath = "$xParentPath/gmd:contactInfo/gmd:CI_Contact/gmd:address/gmd:CI_Address/gmd:electronicMailAddress")
                        #if($TOOL.nodeExist($xPath, $node))
                            ## $TOOL.getNameFromCodeList("4430", "3")
                            #set($tmpTitle = $TOOL.getValueFromXPath($xPath, null, $node))
                            <a class="icon" href="mailto:${tmpTitle}" title="$tmpTitle">
                                <span class="ic-ic-mailto"></span>
                                <span class="text">$tmpTitle</span>
                            </a>
                        #end
                        ## Telefon
                        #set($xPath = "$xParentPath/gmd:contactInfo/gmd:CI_Contact/gmd:phone/gmd:CI_Telephone/gmd:voice")
                        #if($TOOL.nodeExist($xPath, $node))
                            ## $TOOL.getNameFromCodeList("4430", "1")
                            #set($tmpTitle = $TOOL.getValueFromXPath($xPath, null, $node))
                            <a class="icon" href="tel:${tmpTitle}" title="$tmpTitle">
                                <span class="ic-ic-phone"></span>
                                <span class="text">$tmpTitle</span>
                            </a>
                        #end
                        ## Fax
                        #set($xPath = "$xParentPath/gmd:contactInfo/gmd:CI_Contact/gmd:phone/gmd:CI_Telephone/gmd:facsimile")
                        #if($TOOL.nodeExist($xPath, $node))
                            ## $TOOL.getNameFromCodeList("4430", "2")
                            #set($tmpTitle = $TOOL.getValueFromXPath($xPath, null, $node))
                            <a class="icon" href="fax:${tmpTitle}" title="$tmpTitle">
                                <span class="ic-ic-fax"></span>
                                <span class="text">$tmpTitle</span>
                            </a>
                        #end
                        ## URL
                        #set($xPath = "$xParentPath//gmd:contactInfo/gmd:CI_Contact/gmd:onlineResource/gmd:CI_OnlineResource/gmd:linkage/gmd:URL")
                        #if($TOOL.nodeExist($xPath, $node))
                            ## $TOOL.getNameFromCodeList("4430", "4")
                            #set($url = $TOOL.getValueFromXPath($xPath, null, $node))
                            #if($url.startsWith("http"))
                                #set($url = $url)
                            #else 
                                #set($url = "http://$url")
                            #end
                            <a class="icon" href="$url" title="$url">
                                <span class="ic-ic-external"></span>
                                <span class="text">$url</span>
                            </a>
                        #end
                        ## Servicezeiten
                        #set($xPath = "$xParentPath/gmd:contactInfo/gmd:CI_Contact/gmd:hoursOfService/gco:CharacterString")
                        #if($TOOL.nodeExist($xPath, $node))
                            <div>
                                $MESSAGES.getString('t02_address.hours_of_service')
                                $TOOL.getValueFromXPath($xPath, null, $node)
                            </div>
                        #end
                        #if(!$isFactSheet)
                        </td>
                    </tr>
                </table>
            </div>
                        #end
            #end
        #end
    #end
#end

#macro(renderTypeHalf $e)
    #if($e.type)
        #if($e.type=="multiLine")
            #renderMultiLineHalf($e)
        #elseif($e.type=="textLine")
            #renderTextLine($e)
        #elseif($e.type=="textList")
            #renderTextList($e)
        #elseif($e.type=="textLinkLine")
            #renderTextLinkLine($e)
        #elseif($e.type=="linkLine")
            #renderLinkLineAddress($e)
        #elseif($e.type=="textLabelAbove")
            #renderTextLabelAbove($e)
        #elseif($e.type=="textLabelDuring")
            #renderTextLabelDuring($e)
        #elseif($e.type=="textLabelLeft")
            #renderTextLabelLeft($e)
        #elseif($e.type=="line")
            <hr />
        #end
    #end
#end

#macro (renderImageLine $entry)
        #renderSectionTitle ($entry.title)
        #set($elements = $entry.elements)
        #foreach($e in $elements)
            <div class="detail_group_line">
                <div class="detail_group">
                    #renderImageTable($e "" "")
                </div>
            </div>
        #end
#end

## Render section title
#macro (renderSectionTitle $title)
    #if($tool.hasContent($title))
        <h3>$title</h3>
    #end
#end

## Render group title
#macro (renderGroupTitle $entry)
    #if($tool.hasContent($entry))
        <h4>$entry</h4>
    #end
#end

## Render title
##macro (renderTitle $entry)
##  <h1>$entry</h1>
##  <span class="clearer"></span>
##end

## Render image with description and title
#macro (renderImageTable $image $data_info $descr)
    <table class="detail_image_table">
        <tr>
            <td class="detail_image_td">
                ##<img src="$entry.imgUrl" alt="$MESSAGES.getString('common.alt.icon.extern')" />
                <img class="detail_image" src="$image" alt="$MESSAGES.getString('common.alt.icon.extern')" />
            </td>
        </tr>
        #if ($data_info != "")
        <tr class="detail_image_tr">
            <td class="detail_image_descr_td">
                <p class="detail_image_p">$data_info</p>
                <p class="detail_image_descr_p">$descr</p>
            </td>
        </tr>
        #end
    </table>
#end

## Render Table
#macro (renderTable $entry)
    #renderTableTitle("" $entry "")
#end

#macro (renderTableSymbols $entry $symbolColumn $symbolList)
    #renderTableTitle("" $entry "" $symbolColumn $symbolList)
#end


#macro (renderTableTitle $title $entry $space $symbolColumn $symbolList)
    #if($tool.hasContent($entry.get("body")))
        #if($title)
            #renderGroupTitle($title)
        #end
        <div class="table">
            <table>
            #if($tool.hasContent($entry.get("head")))
                <thead>
                    <tr>
                    #if($tool.hasContent($entry.title))
                        #if(!$entry.head.contains(${entry.title}))
                        <th>$entry.title</th>
                        #end
                    #end
                    #foreach($th in $entry.head)
                        <th>$th</th>
                    #end
                    </tr>
                </thead>
            #end
            #foreach($tr in $entry.body)
                <tr>
                #if($tool.hasContent($entry.title))
                    #if(!$entry.head.contains(${entry.title}))
                    <td></td>
                    #end
                #end
                #set($num = 0)
                #foreach($td in $tr)
                    #if($entry.types)
                        #set($bodyType = $entry.types.get($num))
                        #if($bodyType == "link")
                            <td><a href="$td" title="$td">$td</a></td>
                        #else
                            <td>$td</td>
                        #end
                    #else
                        #if($symbolColumn == $num)
                        <td class="symbol">
                            #foreach($symbolEntry in $symbolList)
                                #if($symbolEntry.value == $td)
                                    $symbolEntry.symbol
                                #end
                            #end
                        </td>
                        #else
                        <td>
                            $td
                        </td>
                        #end
                    #end
                    
                    #set($num = $num + 1)
                #end
                </tr>
            #end
            </table>
        </div>
    #else
        #if($space != "")
            #renderTextLabelAbove($title $space)
        #end
    #end
#end

## Render text in line
#macro (renderTextLine $entry)
    #if($tool.hasContent($entry.body))
        #if($tool.hasContent($entry.title))
            <div class="table--lined">
                <table>
                    <tbody>
                        <tr>
                            <th>$entry.title</th>
                            <td>$entry.body</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        #else
            <p>$entry.body</p>
        #end
    #end
#end

## Render link in line
#macro (renderTextLinkLine $entry)
    #if($tool.hasContent($entry.body))
        <div class="table--lined">
            <table>
                <tbody>
                    <tr>
                        <th>$entry.title</th>
                        <td>
                            <a href="$entry.href" title="$entry.altText">$entry.body</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    #end
#end

## Render entry in line
#macro (renderEntryInLine $entry)
    #if($tool.hasContent($entry.title))
        <table>
            <tr>
                <td>$entry.title</td>
                <td>$entry.body</td>
            </tr>
        </table>
    #end
#end

## Render entry
#macro (renderEntry $entry)
    #if($tool.hasContent($entry.body))
        #if($tool.hasContent($entry.header))
            #renderSectionTitle($entry.header)
        #end
        <div>
        #if($tool.hasContent($entry.title))
            <p>$entry.title</p>
            &nbsp;
        #end
        <p>$entry.body</p>
        </div>
     #end
#end

## Render link in list
#macro (renderLinkList $title $linkList $titleAsSection)
    #renderLinkListImage ($title $linkList $titleAsSection false)
#end
#macro (renderLinkListImage $title $linkList $titleAsSection $hasImage)
    #renderLinkListImage ($title $linkList $titleAsSection $hasImage "")
#end

#macro (renderLinkListImageLimit $title $linkList $titleAsSection $hasImage $listLimit $expandId $titleTag $linkListInclude $displayPreview)
    #if($tool.hasContent($linkList) || $tool.hasContent($linkListInclude))
        #if($titleAsSection == "true")
            #if($tool.hasContent($title))
                #renderSectionTitle($title)
            #end
        #end
        #if($titleAsSection == "false")
            #if($tool.hasContent($title))
                #if($titleTag)
                    <$titleTag class="padding-list">$title</$titleTag>
                #else
                    <h5>$title</h5>
                #end 
            #end
        #end
        <div class="document-list">
            #set($countLinksAll = 0)
            #set($numberLinksAll = $linkList.size())
            #if($linkListInclude)
                #set($numberLinksAll = $numberLinksAll + $linkListInclude.size())
            #end
            #set($addLinksExpand = false)
            #foreach($link in $sorter.sort($linkList,"title"))
                #if($countLinksAll >= $listLimit && $numberLinksAll > $listLimit && $addLinksExpand == false)
                    #if($expandId != "")
                        #set($addLinksExpand = true)
                        <button type="button" id="${expandId}" class="js-expander button outline " title="$MESSAGES.getString('search.detail.info.links.more')" href="#">
                            $MESSAGES.getString('search.detail.info.links.more')
                        </button>
                        <div class="js-expander-content ${expandId} is-hidden ">
                    #else
                        <a type="button" class="button outline " title="$MESSAGES.getString('search.detail.info.links.more')" href="#detail-3">
                            $MESSAGES.getString('search.detail.info.links.more')
                        </a>
                        #break
                    #end
                #end
                <div class="list-item">
                    #renderLinkLine($link $hasImage $displayPreview)
                </div>
                #set($countLinksAll = $countLinksAll + 1)
            #end
            #if($linkListInclude)
                #foreach($link in $sorter.sort($linkListInclude,"title"))
                    #if($countLinksAll >= $listLimit && $numberLinksAll > $listLimit && $addLinksExpand == false)
                        #if($expandId != "")
                            #set($addLinksExpand = true)
                            <button type="button" id="${expandId}" class="js-expander button outline " title="$MESSAGES.getString('search.detail.info.links.more')" href="#">
                                $MESSAGES.getString('search.detail.info.links.more')
                            </button>
                            <div class="js-expander-content ${expandId} is-hidden ">
                        #else
                            <a class="button outline " title="$MESSAGES.getString('search.detail.info.links.more')" href="#detail-3">
                                $MESSAGES.getString('search.detail.info.links.more')
                            </a>
                            #break
                        #end
                    #end
                    <div class="list-item">
                        #renderLinkLine($link $hasImage $displayPreview)
                    </div>
                    #set($countLinksAll = $countLinksAll + 1)
                #end
            #end
            #if($addLinksExpand)
                #set($addLinksExpand = false)
                </div>
                <button type="button" class="button outline js-expander-close ${expandId} is-hidden" title="$MESSAGES.getString('search.detail.info.links.less')" href="#">
                    $MESSAGES.getString('search.detail.info.links.less')
                </button>
            #end
        </div>
        
    #end
#end

## Render list
#macro (renderTextList $title $textList)
    #renderTextListSpace ($title $textList "")
#end

#macro (renderTextListSpace $title $textList $space)
    #renderTextListSpaceList ($title $textList $space true)
#end

#macro (renderTextListSpaceList $title $textList $space $asList)
    #if($tool.hasContent($textList))
        #if($tool.hasContent($title))
            <h4>$title</h4>
            ##renderGroupTitle($entry.title)
        #end
        #if($asList)
            <div class="text-list">
            #foreach($text in $sorter.sort($textList,"body"))
                <p class="list-item">$text.replaceAll("<svg.*svg>", "")</p>
            #end
            </div>
        #else
            <div class="text-list">
            #foreach($text in $sorter.sort($textList,"body"))
                <p class="list-item">$text.replaceAll("<svg.*svg>", "")</p>
            #end
            </div>
        #end
    #else
        #if($space != "")
            #renderTextLabelAbove($title $space)
        #end
    #end
#end

#macro (renderTextTable $title $entry)
    #if($tool.hasContent($entry))
    <div class="table table--lined">
        <table>
            <tr>
            #if($tool.hasContent($title))
                <th>$title</th>
            #end
                <td>
                    <p>$entry</p>
                </td>
            </tr>
        </table>
    </div>
    #end
#end

#macro (renderTextListTable $title $entryList)
    #if($tool.hasContent($entryList))
    <div class="table table--lined">
        <table>
            <tr>
            #if($tool.hasContent($title))
                <th>$title</th>
            #end
                <td>
                    <div class="text-list">
                    #foreach($entry in $entryList)
                        <p class="list-item">$entry</p>
                    #end
                    </div>
                </td>
            </tr>
        </table>
    </div>
    #end
#end

#macro (renderLinkTable $title $entry $cssClass)
    #if($tool.hasContent($entry))
    <div class="table table--lined ${cssClass}">
        <table>
            <tr>
            #if($tool.hasContent($title))
                <th>$title</th>
            #end
                <td>
                    #if($entry.type)
                        #renderLinkLine($entry)
                    #else
                        $entry
                    #end
                </td>
            </tr>
        </table>
    </div>
    #end
#end

#macro (renderLinkListTable $title $entryList $cssClass)
    #if($tool.hasContent($entryList))
    <div class="table table--lined ${cssClass}">
        <table>
            <tr>
            #if($tool.hasContent($title))
                <th>$title</th>
            #end
                <td>
                    #foreach($entry in $entryList)
                        #renderLinkLine($entry)
                    #end
                </td>
            </tr>
        </table>
    </div>
    #end
#end

#macro (renderLinkLineTableRow $entry)
    <tr class="list-item">
        <td>
            #if($link.isExtern)
                <span class="ic-ic-external"></span>
            #end
        </td>
        <td>
            #if($entry.objectClass)
                #renderLinkLine($entry)
            #else
            <a href="$entry.href" title="$entry.title">
                $entry.title
            </a>
            #end
        </td>
    </tr>
#end

#macro (renderTableList $title $textList)
    #if($tool.hasContent($textList))
    <div class="table list">
        <table>
            <tbody>
                <tr>
                    <td>$title</td>
                    <td>
                        #foreach($text in $sorter.sort($textList,"body"))
                            <span class="list_entry">$text</span>
                        #end
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    #end
#end

#macro (renderTableLinkList $title $linkList)
    #if($tool.hasContent($linkList))
        <div class="row">
            <div class="xsmall-24 small-24 large-5 columns">
                <span>$title</span>
            </div>
            <div class="xsmall-24 small-24 large-19 columns">
                #foreach($link in $sorter.sort($linkList,"title"))
                    #renderLinkLine($link)
                    <br>
                #end
            </div>
        </div>
    #end
#end

#macro (renderIconTextList $title $textList)
    #if($tool.hasContent($textList))
        #if($tool.hasContent($title))
            <h4>$title</h4>
            ##renderGroupTitle($entry.title)
        #end
        <div class="list-item">
        #foreach($text in $sorter.sort($textList,"text"))
             <div>
                <span class="ic-ic-$text.get('key')"></span>
                <span class="text">$text.get('text')</span>
             </div>
        #end
        </div>
    #end
#end

## Render label above text
#macro (renderTextLabelAbove $title $body)
  #renderTextLabelAboveSpace($title $body "")
#end

#macro (renderTextLabelAboveSpace $title $body $space)
     #if($tool.hasContent($body) || $space != "")
        #if($tool.hasContent($title))
            <h4>$title</h4>
        #end
        #if($tool.hasContent($body))
            <p>$body</p>
        #else
            <p>$space</p>
        #end
    #end
#end

#macro (renderTextLabelDate $title $body)
     #if($tool.hasContent($body) || $space != "")
        #if($tool.hasContent($title))
            <h4>$title</h4>
        #end
        #if($tool.hasContent($body))
            <p class="helper icon">
                <span class="ic-ic-calendar"></span>
                <span class="text">$body</span>
            </p>
        #end
    #end
#end
## Render label above text
#macro (renderTextLabelDuring $entry)
    <div>
        <div>
        #if($tool.hasContent($entry.body))
            #if($tool.hasContent($entry.title))
                <div>$entry.title</div>
            #end
            <p>$entry.body</p>
        #end
       </div>
    </div>
#end

## Render label left from text
#macro (renderTextLabelLeft $title $body)
    #renderTextLabelLeftSpace($title $body "")
#end

#macro (renderTextLabelLeftSpace $title $body $space)
    #if($tool.hasContent($body))
        <div class="table--lined">
            <table>
                <tbody>
                    <tr>
                        <th>#if($tool.hasContent($title))$title#end</th>
                        <td>$body</td>
                    </tr>
                </tbody>
            </table>
        </div>
    #else 
        #if($space != "")
            #renderTextLabelLeft($title $space)
        #end
    #end
#end

#macro (renderTextLabelLeftLinkTable $entry)
    #if($tool.hasContent($entry))
    <div class="table table--lined">
        <table>
            <tbody>
                <tr>
                    <th>#if($tool.hasContent($entry.title))$entry.title#end</th>
                    <td>
                        #if($entry.body)
                            <div class="content--link">
                            #if($entry.body.type)
                                #if($entry.body.type == "linkLine")
                                    #renderLinkLine($entry.body)
                                #else
                                    $entry.body
                                #end
                            #else
                                $entry.body
                            #end
                            </div>
                        #end
                        #if($tool.hasContent($entry.link))
                            <button type="button" class="button outline pill" href="$entry.link.href" title="$MESSAGES.getString('common.result.showMap')">
                                $MESSAGES.getString('common.result.showMap')
                            </button>
                        #end
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    #end
#end

## New function for KML
#macro (renderKML $entry)
    #if($tool.hasContent($entry.body))  
        <div>
           #foreach($e in $entry.body)
                <br style="clear:both"/>
                #renderGroupTitle($e.subtitle)
                #renderTable($e)
           #end
           #if($tool.hasContent($entry.title) && $tool.hasContent($entry.plugId) && $tool.hasContent($entry.docId))
                <div>
                    <svg class="icon"><use xlink:href="#internal-link"/></svg>
                    <a href="portal/main-maps.psml?action=doTmpService&plugid=$entry.plugId&docid=$entry.docId" title="$MESSAGES.getString('common.alt.icon.intern')">$entry.title ($MESSAGES.getString('common.result.showCoord'))</a>
                </div>  
           #end
        </div>
        
    #end
#end

## Render elements
#macro (renderElements $elements)
        #foreach($e in $elements)
            #if($e.type)
                #if($e.type=="render")
                    #set ($TOOL = $e.preparer)
                    #parse ($TOOL.templateName)
                #elseif($e.type=="html")
                    $e.body
                #end
            #end
        #end
#end

## ***************************
## include the header here
## ***************************
#if($tool.hasContent($title))
    #set($pageTitle = $title)
    #set($pageDescription = $title)
#end

#if($tool.hasContent($description))
    #set($pageDescription = $description)
#end

#if($pageDescription)
    #set($pageDescription = $pageDescription.replace('"',"'"))
    #set($pageDescription = $stringTool.cutString($pageDescription,300))
#end

#set ($action = $renderResponse.createActionURL())
## Remove comment for new detail view
#if($renderElements)
    #renderElements($renderElements)
#else
    <section class="block block--padded">
        <div class="ob-box-wide ob-box-padded ob-box-center ob-rel">
            <article class="content ob-container ob-box-wide">
                #renderMessageError($MESSAGES.getString("error_no_details_available"))
            </article>
        </div>
    </section>
#end
#parse ('/WEB-INF/templates/global/include_preview_image.vm')