#if($cmsItemValue)
<div class="about-wrapper dark">
    <h2 class="hide-for-large">
        $cmsItemTitle
    </h2>
    <div class="row">
        <div class="columns">
            <h2 class="show-for-large">
                $cmsItemTitle
            </h2>
            $cmsItemValue
        </div>
    </div>
</div>
#end