#if($autoStartQueryString && $autoStartQueryString != "")
<script type="text/javascript"><!--
    window.open('/ingrid-portal-mdek-application/index.jsp?${autoStartQueryString}');
 //--></script>
#end
#if($noBackendUser)
<p>$MESSAGES.getString('entry.error.noBackendUser')</p>
#else
<div class="section">    
  <p>$MESSAGES.getString('entry.text.login')</p>
  
<!--
	<a href="../ingrid-portal-mdek/dump_session.jsp">/ingrid-portal-mdek/dump_session.jsp</a> <br>
    <a href="../ingrid-portal-mdek-application/dump_session.jsp">/ingrid-portal-mdek-application/dump_session.jsp</a> <br>
    <a href="../ingrid-portal-mdek-application/test_dwr_security.jsp">/ingrid-portal-mdek-application/test_dwr_security.jsp</a><br>
    <a href="../ingrid-portal-mdek-application/mdek_admin_entry.jsp">/ingrid-portal-mdek-application/mdek_admin_entry.jsp</a>
-->
  <div class="formfooter formfooter_border_style" style="padding: 10px;">
		#renderInputButtonOnClick("$MESSAGES.getString('entry.button.ige')" "" "Verweis" "" "float_left" "javaScript:void(window.open('/ingrid-portal-mdek-application/start.jsp?lang=$language', '_erfassung'));")
	<p class="clearer"/>
  </div>
</div>
#end