<script type="text/javascript">
	function validate_form(msg) {
		if (!document.mdek_admin_login.user.value) {
		  alert(msg);
		  return false;
		}
		return true;
	}
	
	function catalogChanged() {
		var index = document.mdek_admin_login.catalog.selectedIndex;
		document.mdek_admin_login.user.options.length = 0;
		for (i=0;i<$userLists[index].length;i++) {
			document.mdek_admin_login.user.options[i] = new Option($userLists[index][i],$userLists[index][i]);
		}		
	}
	
	function userChanged() {
	}
</script>

#set ($action = $renderResponse.createActionURL())
#if ($igeError)
	$igeError
#end
<form action="$action" method="post" name="mdek_admin_login" id="mdek_admin_login" onsubmit="return validate_form('$MESSAGES.getString('mdek.admin.login.alert')')" target="_blank">
	<div class="formbody formbody_border_style">
		<table>
			<tr><td>
		<h3>$MESSAGES.getString('entry.text.catalog'):</h3>
		<select size="8" id="catalog" name="catalog" onchange="catalogChanged();" style="min-width:100px;">
#foreach ($entry in $catalogList)
	<option value="$entry.plugId">$entry.catName ($entry.plugId)</option>
#end
		</select>
		</td><td>
		<h3>$MESSAGES.getString('entry.text.user'):</h3> 
		<select size="8" id="user" name="user" onchange="userChanged();" style="min-width:150px;">
		</select>
        </td></tr>
        </table>
	</div>
	<div class="formfooter formfooter_border_style">
		#renderInputButtonClass("$MESSAGES.getString('entry.button.ige')" "" "doLoginIGE" "" "float_right")
		<p class="clearer"/>
    </div>
</form>
