#if($autoStartQueryString && $autoStartQueryString != "")
<script type="text/javascript"><!--
    window.open('/ingrid-portal-mdek-application/index.jsp?${autoStartQueryString}');
 //--></script>
#end

<div class="section">    
  <div class="formbody" style="overflow: auto;">
<!--
	<a href="../ingrid-portal-mdek/dump_session.jsp">/ingrid-portal-mdek/dump_session.jsp</a> <br>
    <a href="../ingrid-portal-mdek-application/dump_session.jsp">/ingrid-portal-mdek-application/dump_session.jsp</a> <br>
    <a href="../ingrid-portal-mdek-application/test_dwr_security.jsp">/ingrid-portal-mdek-application/test_dwr_security.jsp</a><br>
    <a href="../ingrid-portal-mdek-application/mdek_admin_entry.jsp">/ingrid-portal-mdek-application/mdek_admin_entry.jsp</a>
-->
	<input class="btn" type="button" name="Verweis" value="Erfassungskomponente"
	  onClick="javaScript:void(window.open('/ingrid-portal-mdek-application/index.jsp', '_new'));">
#if($showMdekAdmin)
	<input class="btn" type="button" name="Verweis" value="Verwaltung"
	  onClick="javaScript:void(window.open('/ingrid-portal-mdek-application/mdek_admin_entry.jsp', '_new'));">
#end
  </div>
</div>