## Geometrie-Kontext
    #set($xPathInfo1MD_GeometryContext = "//gmd:spatialRepresentationInfo/igctx:MD_GeometryContext")
    #set($add = $xPathListInformationType1.add($xPathInfo1MD_GeometryContext))