Die folgende Nachricht wurde über das Kontaktformular versendet:

Vorname: $!{map.get("user.name.given")}
Name: $!{map.get("user.name.family")}
Organisation, Firma: $!{map.get("user.employer")}
Name: $!{map.get("user.business-info.telecom.telephone")}
Email: $!{map.get("user.business-info.online.email")}
Tätigkeitsbereich: $!{map.get("user.area.of.profession")}
Mein Interesse an Umweltinformationen ist: $!{map.get("user.interest.in.enviroment.info")}
PortalU Newsletter: $!{map.get("user.subscribed.to.newsletter")}

Nachricht:

$!{map.get("message.body")}

