<a class="menu-tab #if($elemSelected)is-selected#end" href="$tabUrl" title="$tabTitle">
    <div class="link-menu-tab">
        <span class="ic-ic-center"></span>
        <span class="text">$tabName</span>
    </div>
</a>