#* Add the current layouts configuration values to the context *#
#defineLayoutObjects()

#* Loads our custom macros *#
#parse("/decorations/layout/ingrid/decorator-macros.vm")

#* Add all template constants to the current context *#
##defineNavigationConstants()

#set($rc = $request.getAttribute("org.apache.jetspeed.request.RequestContext"))
#set($zdm = $rc.request.getParameter("zdm"))

#set($currentPage = $site.getPageOrTemplate().url)
#if($currentPage == "/main-maps.psml" || $currentPage == "/main-measures.psml")
    #set ($isMap = true)
#else
    #set ($isMap = false)
#end

<html xmlns="http://www.w3.org/1999/xhtml" lang="$renderRequest.Locale.getLanguage()" class=" js no-touch svg inlinesvg svgclippaths no-ie8compat">
    <head>
        <base href="/" />
        <title>$MESSAGES.getStringOrDefault($jetspeed.getPageMetadata("meta_title"), "ZDM-Küstendaten")</title>
        #includeHeaderResource()
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link rel="stylesheet" href="/decorations/layout/ingrid/css/style.css">
        <link rel="stylesheet" href="/decorations/layout/ingrid/css/override.css">
        <link rel="stylesheet" href="/decorations/layout/ingrid/css/streamline-24px/styles.css">
        <link rel="stylesheet" href="/decorations/layout/ingrid/css/print.css" media="print">

        <script src="/decorations/layout/ingrid/scripts/ingrid.js"></script>
        <script type="text/javascript" src="https://www.kuestendaten.de/SiteGlobals/Frontend/JavaScript/init/global.js?v=32"></script>
        #parse("/decorations/layout/ingrid/templates/header/header_head.vm")
    </head>
    <body class="gsb js-off lang-de fixed">
        #parse("/decorations/layout/ingrid/templates/header/header_body.vm")
        #if($isMap)
        </div>
        #end
        <div #if(!$isMap)id="main" class="row"#end>
          <div #if(!$isMap)id="content" class="large-8 medium-12 small-12 columns"#end>