## Projekt
################################
<div class="sub-section">
    <a class="anchor" id="${hashDetail5}_technical_information"></a>
    #renderGroupTitle($MESSAGES.getString("technical_information"))
    #set($nodelist = $TOOL.getNodeListFromXPath($xPathInfo4CICitationCitedResponsibleParty))
## Projektleiter
    #renderTextTable($MESSAGES.getString("t011_obj_project.leader") $TOOL.getValueFromNodeListDependOnValue($nodelist, $xPathInfo4IndividualName, "./gmd:role/gmd:CI_RoleCode/@codeListValue", "projectManager"))
## Beteiligte
    #renderTextTable($MESSAGES.getString("t011_obj_project.member") $TOOL.getValueFromNodeListDependOnValue($nodelist, $xPathInfo4IndividualName, "./gmd:role/gmd:CI_RoleCode/@codeListValue", "projectParticipant"))
## Erläuterung des Fachbezug
    #renderTextTable($MESSAGES.getString("t011_obj_project.description") $TOOL.getValueFromXPath($xPathInfo4SupplementalInformation))
</div>
