## Nutzung
################################
#if($hasDetail8)
    <a class="anchor" id="detail-8" name="detail-8"></a>
    <h2>$MESSAGES.getString("search.detail.contact")</h2>
    <div class="row columns">
    ## Addressen
        #renderMultiLineAddresses("" $TOOL.getNodeListFromXPath($xPathUsePointOfContact) false)
    </div>
#end