## Additional Fields Example
################################
#if($hasDetail7)
    #set($tabtitle = $TOOL.getValueFromXPath($xPathAdditionalFields))
    <a class="anchor" id="${hashDetail7}" name="${hashDetail7}"></a>
    #renderSectionTitle($MESSAGES.getString("$tabtitle"))
    #renderSectionTitle($MESSAGES.getString("additional_information"))
    #set($nodelist = $TOOL.getNodeListFromXPath($xPathAdditionalFieldsData))
    #foreach($number in [0..$nodelist.getLength()])
        #renderTextTable($TOOL.getValueFromXPath("${xPathAdditionalFieldsData}[$number]/idf:title[@lang='$lang']") $TOOL.getValueFromXPath("${xPathAdditionalFieldsData}[$number]/idf:data"))
    #end
#end
