## Nutzung
################################
#if($hasDetail8)
<div class="section">
    <a class="anchor" id="${hashDetail8}"></a>
    #renderSectionTitle($MESSAGES.getString("search.detail.contact"))
    <div class="row columns">
    ## Addressen
        #renderMultiLineAddresses("" $xPathUsePointOfContactSortNodes false)
    </div>
</div>
#end