## Nutzung
################################
<div class="border-line-info">
## Objekt-ID 
    <div>
        <span>$MESSAGES.getString("t01_object.obj_id"): $TOOL.getValueFromXPath("./gmd:fileIdentifier")</span>
    </div>
## Untergeordnete Objekte
    #renderTableLinkList($MESSAGES.getString("subordinated_references") $TOOL.getReference("./idf:subordinatedReference"))
## Übergeordnetet Objekte
    #renderTableLinkList($MESSAGES.getString("superior_references") $TOOL.getReference("./idf:superiorReference"))
</div>
