#if($mapImage)
    <div class="xsmall-24 small-10 columns">
        <h4 class="text-center">$MESSAGES.getString("preview")</h4>
        #renderMultiLineImage($mapImage)
        #set($mapImage = "")
    </div>
#end