## Nutzung
################################
#if($hasDetail8)
    <a class="anchor" id="${hashDetail8}" name="${hashDetail8}"></a>
    <h2>$MESSAGES.getString("search.detail.contact")</h2>
    <div class="row columns">
    ## Addressen
        #renderMultiLineAddresses("" $xPathUsePointOfContactSortNodes false)
    </div>
#end