#if($mapImage && $mapImage.elements && $mapImage.elements.size() > 0)
    <div class="xsmall-24 small-24 medium-10 columns">
        <h4 class="text-center">$MESSAGES.getString("preview")</h4>
        #renderMultiLineImage($mapImage)
        #set($mapImage = "")
    </div>
#end