## Bibliografische Angaben
################################
#if($hasDetail10)
<div class="section">
    <a class="anchor" id="${hashDetail10}"></a>
    #renderSectionTitle($MESSAGES.getString("bibliographical_info"))
    <div class="row columns">
    ## Literaturverweise
        #parse("/WEB-INF/templates/detail/part/metadata/bibliographical_info/bibliographical_info_bibliography.vm")
    ## Zitat für diesen Datensatz
        #parse("/WEB-INF/templates/detail/part/metadata/bibliographical_info/bibliographical_info_citation.vm")
    ## Digital Object Identifier (DOI)
    #if($doi)
        #set($doiTable = {})
        #set($put = $doiTable.put("type", "table"))
        #set($put = $doiTable.put("title", $MESSAGES.getString("doi")))
        #set($put = $doiTable.put("head", [$MESSAGES.getString('doi.id'), $MESSAGES.getString('doi.type')]))
        #set($list = [])
        #if($doi.id)
            #set($add = $list.add("$doi.id"))
        #else
            #set($add = $list.add(""))
        #end
        #if($doi.type)
            #set($add = $list.add("$doi.type"))
        #else
            #set($add = $list.add(""))
        #end
        #set($put = $doiTable.put("body", [$list]))
        #renderTable($doiTable [0])
    #end
    </div>
</div>
#end