#set($xPathListTime = [
    $xPathListTimeTimePeriodInstantPosition,
    $xPathListTimeTimePeriodBeginPosition,
    $xPathListTimeTimePeriodEndPosition,
    $xPathListTimeMDProgressCode,
    $xPathListTimeMDMaintenanceFrequencyCode,
    $xPathListTimeUserDefinedMaintenanceFrequency,
    $xPathListTimeMaintenanceNote
])
#set($hideDescriptionTimeDataForServices = true)