#set ($uuid = $hit.getHitDetail().getId())
#set ($lat_center = $UtilsSearch.getDetailValue( $hit.getHitDetail(), "lat_center" ))
#set ($lon_center = $UtilsSearch.getDetailValue( $hit.getHitDetail(), "lon_center" ))
#set ($mapInfo = "<br>$MESSAGES.getString('common.map.info')")