#foreach($uvp_category in $hit.getHitDetail().get("uvp_category"))
    <div class="helper icon">
        <span class="ic-ic-$uvp_category"></span>
        <span class="text">$MESSAGES.getString("searchResult.categories.uvp.$uvp_category")</span>
    </div>
#end