#* Add the current layouts configuration values to the context *#
#defineLayoutObjects()

#* Loads our custom macros *#
#parse($layoutDecoration.getResource("decorator-macros.vm"))

#* Add all template constants to the current context *#
##defineNavigationConstants()

<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
    <head>
        #* Jetspeed macros, see WEB-INF/jetspeed_macros.vm *#
        #includeHeaderResource()
        #set($currentPage = $site.getPageOrTemplate().url)
        <!--
        #if($currentPage)
            #if($currentPage != "/help.psml")
                <base href="#BaseHref()" />
            #end
        #end
        -->
        <link rel="prefetch" href="#GetPageResource('images/template/icons.svg')" />
        <title>$MESSAGES.getStringOrDefault($jetspeed.getPageMetadata("meta_title"), "UVP - Umweltverträglichkeitsprüfungen")</title>
        <meta http-equiv="Content-type" content="#ContentType()" />
        <meta http-equiv="Content-style-type" content="text/css" />   
        <meta http-equiv="content-language" content="$renderRequest.Locale.getLanguage()" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
        <meta name="description" content="$MESSAGES.getStringOrDefault($jetspeed.getPageMetadata("meta_descr"), "")" />
        <meta name="author" content="$MESSAGES.getString('ingrid.page.copyright')" />
        <meta name="keywords" lang="$renderRequest.Locale.getLanguage()" content="$MESSAGES.getStringOrDefault($jetspeed.getPageMetadata("meta_keywords"), "")" />
        <meta name="copyright" content="$MESSAGES.getString('ingrid.page.copyright')" />

        #if ($currentPage.startsWith('/search-catalog/search-catalog-hierarchy'))
            <meta name="robots" content="noindex,follow" />
        #else
            <meta name="robots" content="index,follow" />
        #end
        <link rel="shortcut icon" href="#" />
        #if($MESSAGES.getString('ingrid.page.opensearch.xml')!="")
            <link rel="search" type="application/opensearchdescription+xml" href="$MESSAGES.getString('ingrid.page.opensearch.xml')" title="$MESSAGES.getString('ingrid.page.opensearch.title')"/>
        #end

        #* Hack ! Fix fuer width:100%; height:100% aus inkludierten Headern von J2 Portlets (j2-admin ...) -> zerschiesst Navigation *#
        ##includeJavaScriptForHead()
        ##IncludeStylesheets()
        <link rel="stylesheet" href="/decorations/layout/uvp/css/main.css">
        <link rel="stylesheet" href="/decorations/layout/ingrid/css/override.css">
        <link rel="stylesheet" href="/decorations/layout/ingrid/css/print.css" media="print">
        
       #* our decorator macros, see ./decorator-macros.vm *#
        #decoratorIncludeJavaScriptForHead()
        <!-- Global scripts -->
        <script src="/decorations/layout/ingrid/scripts/modernizr.custom.min.js"></script>
        <script src="/decorations/layout/ingrid/scripts/jquery-2.1.4.min.js"></script>
        <script src="/decorations/layout/ingrid/scripts/fastclick.min.js"></script>
        <script src="/decorations/layout/uvp/scripts/vendor/jquery.nicescroll.min.js"></script>
        <script src="/decorations/layout/uvp/scripts/vendor/foundation.min.js"></script>
        <script src="/decorations/layout/uvp/scripts/vendor/select2.full.js"></script>
        <script src="/decorations/layout/uvp/scripts/main.js"></script>
        
        <!-- zxcvbn -->
        <script src="/decorations/layout/ingrid/scripts/zxcvbn/zxcvbn.js"></script>
    </head>
    <body>
        <div class="container">
    #set($mainMenu = $site.getMenu("main-menu"))
    #set($serviceMenu = $site.getMenu("service-menu"))
    #set($aboutSubMenu = $site.getMenu("sub-menu-about"))
    #set($footerMenu = $site.getMenu("footer-menu"))
        #if($serviceMenu && !$serviceMenu.empty)
            <div class="header-menu-open">
                #if($jetspeed.getLoggedOn())
                    #set($userAttributes = $jetspeed.getUserProperties())
                    #set($userNameGiven = $userAttributes.get("user.name.given"))
                    #set($userNameFamily = $userAttributes.get("user.name.family"))
                    
                    #if($userNameGiven)
                        #set ($salutation = " $userNameGiven")
                    #end
                    #if($userNameFamily)
                        #set ($salutation = "$!{salutation} $userNameFamily")
                    #end
                    <div class="login">
                        <span class="ic-ic-user"></span>
                        <a href="/portal/service-myportal.psml" title="$salutation">$salutation</a>
                    </div>
                    <button type="button" class="button xsmall-button"><span class="ic-ic-hamburger-logged-user"></span></button>
                #else
                    <button type="button" class="button xsmall-button"><span class="ic-ic-hamburger"></span></button>
                #end
                <button type="button" class="button small-button">Menü<span class="ic-ic-hamburger"></span></button>
            </div>
            #includeServiceNavigation($serviceMenu $mainMenu $footerMenu $aboutSubMenu)
        #end
        <header>
            <div class="row">
                <div class="columns xsmall-10 small-7 medium-9 large-7 xlarge-6">
                    <div class="logo">
                        <a href="/startseite" class="hide-for-large"><img src="/decorations/layout/uvp/images/template/logo.svg" alt="UVP"></a>
                        <a href="/startseite" class="show-for-large"><img src="/decorations/layout/uvp/images/template/logo-mit-tag.svg" alt="UVP"></a>
                    </div>
                </div>
                <div class="columns xsmall-10 small-12 medium-9 large-7 xlarge-6 nav-tabs hide-for-print">
                #if(!$mainMenu.empty)
                    #includeMainNavigation($mainMenu)
                #end
                </div>
            </div>
        </header>
        <div class="body">