<h1>Informationen über den Aufbau von unserer Internet-Seite</h1>
<p>Die Internet∙seite von RIPS Meta∙daten hat viele Seiten.</p>
<p>Und diese Seiten haben noch weitere Unter∙seiten.</p>
<p>In diesem Text beschreiben wir den Aufbau von der Internet∙seite.</p>
<p><b>Hinweis</b>: Der Aufbau von der Internet∙seite kann sich verändern.</p>
<p>Vielleicht kommen Dinge dazu.</p>
<p>Oder vielleicht sortieren wir Dinge um.</p>
<p>In diesem Text beschreiben wir den Stand von Juli 2024.</p>
<p>Das bedeutet: Im Juli 2024 war der Aufbau von der Internet∙seite so.</p>
<p>Wir beschreiben:</p>
<ul>
    <li><a href="#header">die Kopf∙zeile</a></li>
    <li><a href="#main_menu">das Haupt∙menü</a></li>
    <li><a href="#home_page">die Start∙seite</a></li>
    <li><a href="#footer">die Fuß∙zeile</a></li>
</ul>

<section id="header">
    <button class="accordion flex item-center justify-between">
        <h2>Die Kopf∙zeile</h2>
        <span class="ic-ic-angle-down"></span>
    </button>
    <div class="content">
        <p>Ganz oben auf unserer Internet∙seite ist immer die Kopf∙zeile.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_10.png"
                alt="image"
                aria-hidden="true"
        />
        <p>In der Kopf∙zeile finden Sie:</p>
        <ul>
            <li>das Wappen</li>
            <li>die Suche</li>
            <li>Karten</li>
            <li>die Themen∙übersicht</li>
            <li>Leichte Sprache</li>
            <li>Gebärden∙sprache</li>
            <li>das LUBW-Logo</li>
            <li>das Menü</li>
        </ul>
        <h3>Das Wappen</h3>
        <p>Ganz links in der Kopf∙zeile ist das Wappen von Baden-Württemberg.</p>
        <p>Neben dem Wappen steht:</p>
        <p>Landesanstalt für Umwelt Baden-Württemberg.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_11.png"
                alt="image"
                aria-hidden="true"
        />
        <p>Sie klicken auf das Wappen oder die Schrift?</p>
        <p>Dann kommen Sie immer zur Start∙seite von RIPS-Meta∙daten.</p>
        <h3>Die Suche</h3>
        <p>In der Kopf∙zeile finden Sie auch die Such∙funktion.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_12.png"
                alt="image"
                aria-hidden="true"
        />
        <p>Sie klicken auf die Lupe?</p>
        <p>Dann öffnet sich eine neue Seite mit einem Text·feld.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_13.png"
                alt="image"
                aria-hidden="true"
        />
        <p>Geben Sie Ihr Such∙wort in das Text∙feld ein.</p>
        <p>Klicken Sie dann auf das Wort <b>Suche</b> rechts neben dem Textfeld.</p>
        <p>Dann bekommen Sie unter dem Text∙feld eine Liste mit den Such∙ergebnissen.</p>
        <p>Sie finden auf der Seite auch verschiedene Filter zum Anklicken.</p>
        <p>Mit den Filtern können Sie die Such∙ergebnisse noch genauer machen.</p>
        <h3>Karten</h3>
        <p>Sie klicken in der Kopf∙zeile auf <b>Karten</b>?</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_14.png"
                alt="image"
                aria-hidden="true"
        />
        <p>Dann kommen Sie zur Karten∙komponente von RIPS-Meta∙daten.</p>
        <p>Die Karten∙komponente ist eine besondere Funktion.</p>
        <p>Mit der Karten∙komponente können Sie eine interaktive Karte nutzen.</p>
        <p>Interaktiv bedeutet:</p>
        <p>Die Karte kann verschiedene Informationen anzeigen.</p>
        <p>Und Sie können diese Informationen selbst bestimmen.</p>
        <h3>Die Themen∙übersicht</h3>
        <p>Sie klicken in der Kopf∙zeile auf <b>Themen∙übersicht</b>?</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_15.png"
                alt="image"
                aria-hidden="true"
        />
        <p>Dann kommen Sie zu einer Liste mit den verschiedenen Themen∙gebieten von RIPS-Meta∙daten.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_16.png"
                alt="image"
                aria-hidden="true"
        />
        <p>Die Liste ist nach dem Alphabet geordnet.</p>
        <p>Sie klicken auf das Plus-Zeichen neben einem Themen∙gebiet?</p>
        <p>Dann öffnen sich weitere Unter∙themen von dem Themen∙gebiet.</p>
        <p>Sie klicken auf eins von den Unter∙themen?</p>
        <p>Dann kommen Sie zu den Informationen.</p>
        <h3>Leichte Sprache</h3>
        <p>Sie klicken in der Kopf∙zeile auf <b>Leichte Sprache</b>?</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_17.png"
                alt="image"
                aria-hidden="true"
        />
        <p>Dann kommen Sie zu unseren Informationen in Leichter Sprache.</p>
        <h3>Gebärden∙sprache</h3>
        <p>Sie klicken in der Kopf∙zeile auf <b>Gebärden∙sprache</b>?</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_18.png"
                alt="image"
                aria-hidden="true"
        />
        <p>Dann kommen Sie zu unseren Informationen in Gebärden∙sprache.</p>
        <h3>Das LUBW-Logo</h3>
        <p>Sie klicken in der Kopf∙zeile auf das LUBW-Logo?</p>
        <p>Dann kommen Sie immer zur Start∙seite von RIPS-Meta∙daten.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_19.png"
                alt="image"
                aria-hidden="true"
        />
    </div>
</section>

<section id="main_menu">
    <button class="accordion flex item-center justify-between">
        <h2>Das Haupt∙menü</h2>
        <span class="ic-ic-angle-down"></span>
    </button>
    <div class="content">
        <p>Ganz rechts in der Kopf∙zeile ist ein Menü.</p>
        <p>Dieses Menü ist das Haupt∙menü von der Internet∙seite.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_20.png"
                alt="image"
                aria-hidden="true"
        />
        <p>Sie klicken auf das Menü?</p>
        <p>Dann öffnet sich eine Liste mit den Menü∙punkten.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_21.png"
                alt="image"
                aria-hidden="true"
        />
        <p>Das Menü hat verschiedene Menü∙punkte.</p>
        <p>Ganz oben finden Sie zum Beispiel:</p>
        <ul>
            <li>Suche</li>
            <li>Karten</li>
            <li>Themen∙übersicht</li>
        </ul>
        <p>Diese 3 Menü∙punkte finden Sie auch direkt in der Kopf∙zeile.</p>
        <p>Außerdem finden Sie im Haupt∙menü diese weiteren Menü∙punkte:</p>
        <ul>
            <li>
                <b>Über die LUBW</b>
                <br>Hier finden Sie mehr Informationen über die LUBW.
            </li>
            <li>
                <b>Daten∙quellen</b>
                <br>Hier erfahren Sie:
                <br>Welche Daten∙quellen gibt es?
                <br>Und woher kommen die Daten auf der Internet∙seite?
                <br><b>Hinweis</b>: Dies ist eine sehr technische Information.
            </li>
        </ul>
        <p>Unten im Haupt∙menü finden Sie noch diese Menü∙punkte:</p>
        <ul>
            <li>Hilfe</li>
            <li>Kontakt</li>
            <li>Inhalt</li>
            <li>Impressum</li>
            <li>Datenschutz</li>
            <li>Barrierefreiheit</li>
        </ul>
        <p>Diese Menü∙punkte finden Sie auch in der <b>Fuß∙zeile</b>.</p>
        <p>Wir beschreiben diese Menü∙punkte im Text∙abschnitt <a href="#footer"><b>Fuß∙zeile</b></a> genauer.</p>
        <p>Den Text∙abschnitt <b>Fuß∙zeile</b> finden Sie weiter unten in diesem Text.</p>
    </div>
</section>

<section id="home_page">
    <button class="accordion flex item-center justify-between">
        <h2>Die Start∙seite</h2>
        <span class="ic-ic-angle-down"></span>
    </button>
    <div class="content">
        <p>Die Start∙seite ist der Start∙punkt für die Nutzerinnen und Nutzer von RIPS-Meta∙daten.</p>
        <p>Hier bekommen Sie einen Überblick über das Angebot.</p>
        <p>Und Sie kommen direkt zu den wichtigsten Funktionen.</p>
        <p style="margin-top: 1.2rem">Oben auf der Start∙seite finden Sie eine Such∙funktion.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_22.png"
                alt="image"
                aria-hidden="true"
        />
        <p>Hier könne Sie die Internet∙seite nach Informationen durchsuchen.</p>
        <p>Geben Sie einfach Ihr Such∙wort in das Text∙feld ein.</p>
        <p>Klicken Sie dann auf auf das Wort Suchen rechts neben dem Text·feld.</p>
        <p>Dann sucht der Computer in allen RIPS-Meta∙daten.</p>
        <p style="margin-top: 1.2rem">Unter der Such∙funktion auf der Start∙seite finden Sie eine Auswahl an
            Kategorien.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_23.png"
                alt="image"
                aria-hidden="true"
        />
        <p>Hier sind die Meta∙daten schon in verschiedene Kategorien eingeteilt.</p>
        <p>So können Sie die passende Kategorie für Ihre Meta∙daten-Suche anklicken.</p>
        <p style="margin-top: 1.2rem">Sie finden hier zurzeit diese Kategorien:</p>
        <ul>
            <li>Geo-Daten∙satz</li>
            <li>Download∙dienst WFS</li>
            <li>Darstellungs∙dienst WMS</li>
            <li>INSPIRE</li>
            <li>Open Data</li>
            <li>Umwelt∙daten und -Karten Online</li>
        </ul>
        <p><b>Hinweis</b>: In einem anderen Text in Leichter Sprache beschreiben wir diese Kategorien genauer.</p>
        <p>Der Text heißt: <a href="#about_internetseite">Über unsere Internet∙seite</a>.</p>
        <p style="margin-top: 1.2rem">Unter den Kategorien finden Sie einen Info∙text.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_24.png"
                alt="image"
                aria-hidden="true"
        />
        <p>Es gibt eine wichtige Information für die Nutzerinnen und Nutzer von der Internet∙seite?</p>
        <p>Dann steht dort diese Information.</p>
    </div>
</section>

<section id="footer">
    <button class="accordion flex item-center justify-between">
        <h2>Die Fuß∙zeile</h2>
        <span class="ic-ic-angle-down"></span>
    </button>
    <div class="content">
        <p>Ganz unten auf der Internet∙seite ist immer die Fuß∙zeile.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_25.png"
                alt="image"
                aria-hidden="true"
        />
        <p>In der Fuß∙zeile finden Sie diese Menü∙punkte:</p>
        <ul>
            <li>Das Wappen</li>
            <li>Hilfe</li>
            <li>Kontakt</li>
            <li>Inhalt</li>
            <li>Impressum</li>
            <li>Daten∙schutz</li>
            <li>Barriere∙freiheit</li>
        </ul>
        <h3>Das Wappen</h3>
        <p>Sie klicken auf das Wappen?</p>
        <p>Dann kommen Sie immer zurück zur Start∙seite.</p>
        <h3>Hilfe</h3>
        <p>Hier finden Sie hilfreiche Informationen über die RIPS-Meta∙daten.</p>
        <h3>Kontakt</h3>
        <p>Sie haben Fragen?</p>
        <p>Oder Sie wollen uns etwas sagen?</p>
        <p>Dann finden Sie hier unser Kontakt∙formular.</p>
        <h3>Inhalt</h3>
        <p>Hier finden Sie ein Inhalts∙verzeichnis von unserer Internet∙seite.</p>
        <p>Das Inhalts∙verzeichnis gibt einen Überblick über die verschiedenen Bereiche auf der Internet∙seite.</p>
        <h3>Impressum</h3>
        <p>Hier steht genau:</p>
        <p>Wer ist für die Intenet∙seite verantwortlich?</p>
        <h3>Daten∙schutz</h3>
        <p>Hier steht genau:</p>
        <p>Welche Informationen sammeln wir von Ihnen?</p>
        <p>Und was passiert mit diesen Informationen?</p>
        <h3>Barrierefreiheit</h3>
        <p>Hier finden Sie unsere Erklärung zur Barriere∙freiheit.</p>
        <p>In der Erklärung steht genau:</p>
        <p>Wie barriere∙frei ist die Internet∙seite?</p>
        <p>Und wo können Sie Barrieren melden?</p>
        <p><b>Hinweis</b>: Wir haben auch eine Erklärung zur Barrier∙freiheit in Leichter Sprache.</p>
    </div>
</section>
