<h1 id="about_internetseite">Informationen über unsere Internet&#183;seite</h1>
<p>In diesem Text erfahren Sie:</p>
<ul>
    <li><a tag="#whats_metadata">Was sind Meta&#183;daten?</a></li>
    <li><a tag="#why_internetseite">Wofür gibt es die Internet&#183;seite von RIPS-Meta&#183;daten?</a></li>
    <li><a tag="#what_to_find">Was finden Sie auf der Internet&#183;seite von RIPS-Meta&#183;daten?</a></li>
    <li><a tag="#which_benefits">Welche Vorteile hat die Internet&#183;seite von RIPS-Meta&#183;daten?</a></li>
</ul>

<section id="whats_metadata">
    <button class="accordion flex item-center justify-between">
        <h2>Was sind Meta&#183;daten?</h2>
        <span class="ic-ic-angle-down"></span>
    </button>
    <div class="content">
        <p>Daten ist ein anderes Wort für Informationen.</p>
        <p>Meta&#183;daten sind besondere Informationen.</p>
        <p>Meta&#183;daten sind nämlich Zusatz&#183;informationen.</p>
        <p>Ein Beispiel:</p>
        <p>Wissenschaftlerinnen und Wissenschaftler machen Untersuchungen.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_01.png"
                style="width: 30%"
                alt="image"
                aria-hidden="true"
        />
        <p>So bekommen die Wissenschaftlerinnen und Wissenschaftler Informationen. Diese Informationen schreiben die
            Wissenschaftlerinnen und Wissenschaftler auf.</p>
        <p>Dann können auch andere Menschen mit den Informationen arbeiten.</p>
        <p>Aber diese Menschen brauchen auch eine genaue Beschreibung von den wissenschaftlichen Informationen.</p>
        <p>Zum Beispiel:</p>
        <ul>
            <li>Wie sind die Informationen entstanden?</li>
            <li>Wann sind die Informationen entstanden?</li>
            <li>Wo sind die Informationen entstanden?</li>
            <li>Wofür sind die Informationen entstanden?</li>
        </ul>
        <p>Solche zusätzlichen Informationen sind die Meta&#183;daten.</p>
        <p>Meta&#183;daten beschreiben Informationen genauer.</p>
        <p>So können die Menschen die Bedeutung von den Informationen besser verstehen.</p>
        <p>Die Informationen können mit Meta&#183;daten auch besser geordnet werden.</p>
        <p>Zum Beispiel in einer digitalen Daten&#183;bank.</p>
        <p class="indent-md">Eine Daten&#183;bank ist eine Sammlung von Informationen.</p>
        <p class="indent-md">Digital bedeutet: auf dem Computer.</p>
        <p>Mit Hilfe von Meta&#183;daten können Menschen in der Daten&#183;bank ganz genau nach den passenden Informationen
            suchen.</p>
    </div>
</section>

<section id="why_internetseite">
    <button class="accordion flex item-center justify-between">
        <h2>Wofür gibt es die Internet&#183;seite von RIPS-Meta&#183;daten?</h2>
        <span class="ic-ic-angle-down"></span>
    </button>
    <div class="content">
        <p>RIPS ist die Abkürzung für:</p>
        <p><b>R</b>äumliches <b>I</b>nformations- und <b>P</b>lanungs&#183;<b>s</b>ystem.</p>
        <p>Die Internet&#183;seite von RIPS-Meta&#183;daten ist ein Angebot von der LUBW.</p>
        <p>LUBW ist die Abkürzung für:</p>
        <p><b>L</b>andes&#183;anstalt für <b>U</b>mwelt <b>B</b>aden-<b>W</b>ürttemberg.</p>
        <p>Baden-Württemberg ist ein Bundes&#183;land im Süden von Deutschland.</p>
        <p>Die LUBW ist eine <b>Behörde</b> in Baden-Württemberg.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_02.png"
                style="width: 30%"
                alt="image"
                aria-hidden="true"
        />
        <p>Die LUBW kümmert sich um das Umwelt-Informations-System von Baden-Württemberg.</p>
        <p>Die Abkürzung für das <b>U</b>mwelt-<b>I</b>nformations-<b>S</b>ystem ist: <b>UIS</b>.</p>
        <p>Im UIS gibt es sehr viele Umwelt&#183;informationen.</p>
        <p>Diese Umwelt&#183;informationen kommen aus Untersuchungen.</p>
        <p>Es gibt Untersuchungen zu vielen unterschiedlichen Umwelt&#183;bereichen.</p>
        <p>Zum Beispiel:</p>
        <ul>
            <li>Wasser-Untersuchungen</li>
            <li>Boden-Untersuchungen</li>
            <li>Luft-Untersuchungen</li>
            <li>und noch viel mehr.</li>
        </ul>
        <p>Die Ergebnisse von den Untersuchungen sind dann die Umwelt&#183;informationen.</p>
        <p>Aber diese Informationen sind <b>nicht</b> leicht zu verstehen.</p>
        <p>Die Informationen sind nämlich meist sehr technisch.</p>
        <p>Aber <b>nicht</b> nur Technik-Fachleute sollen mit den Informationen arbeiten können.</p>
        <p>Deshalb gibt es die RIPS-Meta&#183;daten.</p>
        <p>RIPS-Meta&#183;daten beschreiben die Informationen auch für Menschen aus anderen Fach&#183;bereichen.</p>
        <p>Zum Beispiel für Mitarbeiterinnen und Mitarbeiter aus Behörden.</p>
        <p>Oder aus anderen Unternehmen.</p>
        <p>So können viele Menschen die Informationen benutzen.</p>
        <p>Und die Menschen können die Informationen richtig bewerten.</p>
    </div>
</section>

<section id="what_to_find">
    <button class="accordion flex item-center justify-between">
        <h2>Was finden Sie auf der Internet&#183;seite von RIPS-Meta&#183;daten?</h2>
        <span class="ic-ic-angle-down"></span>
    </button>
    <div class="content">
        <p>Auf der Internet&#183;seite von RIPS-Meta&#183;daten gibt es eine sehr große Sammlung von Meta&#183;daten.</p>
        <p>Die Meta&#183;daten auf der Internet&#183;seite beschreiben unterschiedliche Umwelt&#183;informationen aus
            Baden-Württemberg.</p>
        <p>Ein Meta&#183;daten&#183;satz ist ein Informations&#183;paket.</p>
        <p>In einem Meta&#183;daten&#183;satz von RIPS-Meta&#183;daten sind zum Beispiel diese Informationen:</p>
        <ul>
            <li>der Name</li>
            <li>Links zum Herunter&#183;laden von Informationen</li>
            <li>Links zu speziellen Diensten</li>
            <li>ein Vorschau&#183;bild</li>
            <li>Ansprech&#183;partner</li>
            <li>eine Beschreibung</li>
        </ul>
        <p>So sieht eine Seite mit einem Meta&#183;daten&#183;satz auf RIPS-Metadaten aus:</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_03.png"
                alt="image"
                aria-hidden="true"
        />
        <p>Die Meta&#183;daten von RIPS-Metadaten sind in verschiedene Kategorien unterteilt.</p>
        <p>Diese Kategorien gibt es zurzeit:</p>
        <ul>
            <li>Geo-Daten&#183;satz</li>
            <li>Download&#183;dienst WFS</li>
            <li>Darstellungs&#183;dienst WMS</li>
            <li>INSPIRE</li>
            <li>Open Data</li>
            <li>Umwelt-Daten und -Karten Online</li>
        </ul>
        <p><b>Hinweis</b>: Die Kategorien können sich ändern.</p>
        <h3>Geo-Daten&#183;satz</h3>
        <p>Geo-Daten sind Informationen über Orte und Dinge auf der Erde.</p>
        <p>Zum Beispiel über:</p>
        <ul>
            <li>Wälder</li>
            <li>Flüsse</li>
            <li>Gebäude</li>
            <li>und vieles mehr.</li>
        </ul>
        <p>In einem Geo-Daten&#183;satz sind alle Informationen zu diesen verschiedenen Dingen.</p>
        <p>Zum Beispiel zum Natur&#183;schutz-Gebiet.</p>
        <p>In dem Geo-Daten&#183;satz Natur&#183;schutz-Gebiet sind dann die Informationen zu allen Natur&#183;schutz-Gebieten in
            Baden-Württemberg.</p>
        <h3>Download&#183;dienst WFS</h3>
        <p>Mit einem Download&#183;dienst können Sie Geo-Daten herunterladen.</p>
        <p>In dieser Kategorie finden Sie Meta&#183;daten zu diesen Download&#183;diensten.</p>
        <h3>Darstellungs&#183;dienst WMS</h3>
        <p>Mit einem Darstellungs&#183;dienst können Sie Geo-Daten auf einer Karte anschauen.</p>
        <p>In dieser Kategorie finden Sie Meta&#183;daten zu diesen Darstellungs&#183;diensten.</p>
        <h3>INSPIRE</h3>
        <p>In dieser Kategorie finden Sie die Meta&#183;daten für das INSPIRE-Projekt.</p>
        <p>INSPIRE ist die Abkürzung für:</p>
        <p class="indent-md"><b>I</b>nfrastructure for <b>S</b>patial <b>I</b>nformation in <b>E</b>urope.</p>
        <p>Das ist Englisch und bedeutet:</p>
        <p class="indent-md">Infrastruktur für räumliche Informationen in Europa.</p>
        <p>INSPIRE ist ein Projekt von der Europäischen Union.</p>
        <p>Das Ziel von dem Projekt ist: Umwelt-Informationen sollen in ganz Europa einheitlich sein.</p>
        <p>Dafür gibt es auch Regeln.</p>
        <p>Die RIPS-Meta&#183;daten erfüllen diese Regeln.</p>
        <h3>Open Data</h3>
        <p>Open Data ist Englisch und bedeutet: Offene Daten.</p>
        <p>Offene Daten sind frei zugängliche Informationen.</p>
        <p>Jeder kann die Informationen bekommen.</p>
        <p>Und jeder kann die Informationen auch weiter&#183;verarbeiten.</p>
        <p>In dieser Kategorie finden Sie Meta&#183;daten zu diesen offenen Daten.</p>
        <h3>Umwelt-Daten und -Karten Online</h3>
        <p>Hier finden Sie Meta&#183;daten zu den Informationen aus UDO.</p>
        <p>UDO ist die Abkürzung für: Umwelt-Daten und -Karten Online.</p>
        <p>UDO ist ein Angebot von der LUBW.</p>
        <p>In UDO gibt es viele Umwelt&#183;daten.</p>
        <p>Zum Beispiel Ergebnisse aus Untersuchungen mit LUBW-Programmen.</p>
        <p>In dieser Kategorie finden Sie Meta&#183;daten zu den Umwelt&#183;daten aus UDO.</p>
    </div>
</section>

<section id="which_benefits">
    <button class="accordion flex item-center justify-between">
        <h2>Welche Vorteile hat die Internet&#183;seite von RIPS-Meta&#183;daten?</h2>
        <span class="ic-ic-angle-down"></span>
    </button>
    <div class="content">
        <p>Die Internet-Seite von RIPS-Meta&#183;daten hat viele Vorteile für Nutzerinnen und Nutzer.</p>
        <h3>1. Gezielte Suche</h3>
        <p>Auf der Internet&#183;seite können Sie die Suche nach Informationen sehr genau anpassen.</p>
        <p>Sie können nach ganz bestimmten Informationen suchen.</p>
        <p>Sie können zum Beispiel nach Informationen zu <b>Wasser</b> suchen.</p>
        <p>Oder nach Informationen zur <b>Luft</b>.</p>
        <p>So finden Sie leichter die passenden Daten&#183;sätze.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_04.png"
                style="width: 80%"
                alt="image"
                aria-hidden="true"
        />
        <h3>2. Karten&#183;funktion</h3>
        <p>Die Internet&#183;seite hat eine Karten&#183;funktion.</p>
        <p>Es gibt eine inter&#183;aktive Karte.</p>
        <p>Inter&#183;aktiv bedeutet:</p>
        <p>Die Karte kann verschiedene Informationen anzeigen.</p>
        <p>Sie können die Informationen auf der Karte anpassen.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_05.png"
                alt="image"
                aria-hidden="true"
        />
        <h3>3. Themen&#183;übersicht</h3>
        <p>Die vielen Informationen sind nach Themen geordnet.</p>
        <p>Auf der Internet&#183;seite gibt es eine Liste mit den verschiedenen Themen.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_06.png"
                alt="image"
                aria-hidden="true"
        />
        <h3>4. Filter</h3>
        <p>Für die Suche von Informationen gibt es auf der Internet&#183;seite viele verschiedene Filter.</p>
        <p>Mit Filtern können Sie Ihre Suche genauer machen.</p>
        <p>Sie können die Filter anklicken.</p>
        <p>Sie können zum Beispiel zwischen verschiedenen Ergebnis&#183;typen auswählen.</p>
        <p>So können Sie bestimmen: In welcher Kategorie wollen Sie nach Informationen suchen?</p>
        <p>Sie können auch zwischen verschiedenen Themen&#183;gebieten auswählen.</p>
        <p>Oder Sie können auswählen: Von wem kommen die Informationen?</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_07.png"
                alt="image"
                aria-hidden="true"
        />
        <h3>5. Daten&#183;angebot</h3>
        <p>Auf der Internet&#183;seite gibt es sehr viele Meta&#183;daten.</p>
        <h3>6. CSV-Export</h3>
        <p>Auf der Internet&#183;seite können Sie einen CSV-Export machen.</p>
        <p>CSV ist ein besonderes Datei-Format.</p>
        <p>Mit dem CSV-Export können Sie verschiedene Meta&#183;daten in einer Tabelle sammeln und ab&#183;speichern.</p>
        <p>So können Sie ganz einfach eine eigene Liste mit Such&#183;ergebnissen machen.</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_08.png"
                alt="image"
                aria-hidden="true"
        />
        <h3>7. Links</h3>
        <p>Auf der Internet&#183;seite gibt es auch viele Links.</p>
        <p>Zum Beispiel zu Dateien zum Herunter&#183;laden.</p>
        <p>Oder zu anderen Internet&#183;seiten mit weiteren Informationen zum Thema.</p>
        <p>Diese Links sehen zum Beispiel so aus:</p>
        <img
                src="/decorations/layout/ingrid/images/template/easy_language_09.png"
                style="width: 50%"
                alt="image"
                aria-hidden="true"
        />
    </div>
</section>
