#* include service navigation component *#
#macro (includeFooterNavigation $_menu)
<div class="footer-menu-entries" role="navigation" aria-label="Navigation Footer">
    <a
        href="$jetspeed.getAbsoluteUrl('/default-page.psml')"
        title="$MESSAGES.getString('ingrid.page.home.tooltip')"
        class="icon"
    >
        <span class="text">Startseite LfU-MIS</span>
    </a>

    #foreach($element in $_menu.elements.iterator())
      #if($element.elementType == "option")
        #set($linkTitle = $element.getTitle($preferedLocale))
        #set($linkName = $element.getShortTitle($preferedLocale))
        ## read localized title from resource with title from psml as key !
        #if($linkTitle.startsWith('ingrid'))
            #set($linkTitle = $MESSAGES.getString($linkTitle))
            #set($linkName = $MESSAGES.getString($linkName))
        #end
        #set($linkUrl = $jetspeed.getAbsoluteUrl($element.url))
        ## obfuscate email addresse (webmaster)
        #if($linkUrl && $linkUrl.contains("@"))
            #set($linkUrl = $jetspeed.htmlescapeAll($linkUrl))
        #end
        <a href="$linkUrl" title="$linkTitle" class="icon"><span class="text">$linkName</span></a>
      #end
    #end
    #parse("/decorations/layout/ingrid/templates/decorator/decorator_footer_navigation_additional.vm")
</div>
#end
