## Geodatendienst
################################
<div class="sub-section">
    <a class="anchor" id="${hashDetail5}_technical_information"></a>
    #renderGroupTitle($MESSAGES.getString("technical_information"))
## Identifikator
    #parse("/WEB-INF/templates/detail/parts/metadata/information/information_type3_identificator.vm")
## Digitale Repräsentation
    #parse("/WEB-INF/templates/detail/parts/metadata/information/information_type1_representation_type.vm")
## Klassifikation des Dienstes
    #renderTextListTable($MESSAGES.getString("t011_obj_serv_type") $serviceClassification)
## Art des Dienstes
    #renderTextTable($MESSAGES.getString("t011_obj_serv.type") $TOOL.getValueFromXPath($xPathInfo3ServiceType, "5100"))
## Version des Services
    #renderTextListTable($MESSAGES.getString("t011_obj_serv_version.version") $TOOL.getListOfValuesFromXPath($xPathInfo3ServiceTypeVersion, "."))
## Erstellungsmaßstab
    #renderTableAsList("" $TOOL.getReferenceObject($xPathInfo3MDResolution) $hideResolutionTitle)
## Systemumgebung
    #renderTextTable($MESSAGES.getString("t011_obj_serv.environment") $TOOL.getValueFromXPath($xPathInfo3EnvironmentDescription))
## Historie
    #renderTextTable($MESSAGES.getString("t011_obj_serv.history") $TOOL.getValueFromXPath($xPathInfo3LIProcessStepDescription))
## Fachliche Grundlage
    #renderTextTableConvertUrl($MESSAGES.getString("t011_obj_geo.special_base") $TOOL.getValueFromXPath($xPathInfo3LILineageStatement) false false true)
## Basisdaten
    #renderTextTable($MESSAGES.getString("t011_obj_serv.base") $TOOL.getValueFromXPath($xPathInfo3LISourceDescription))
## Erläuterung zum Fachbezug
    #renderTextTable($MESSAGES.getString("t011_obj_serv.description") $TOOL.getValueFromXPath($xPathInfo3SupplementalInformation))
## Erläuterung zum Fachbezug (*)
    #renderTextTable($MESSAGES.getString("t011_obj_serv.description") $TOOL.getValueFromXPath($xPathInfo3SupplementalInformationAbstract))
## Operationen
    #parse("/WEB-INF/templates/detail/parts/metadata/information/information_type3_operations.vm")
## Operation -> Zugriffsadresse
    #renderTextLabelLeftLinkTable($TOOL.getConnectionPoints($xPathInfo3SVOperationMetadataConnectPoint))
</div>