## Zusatzinformationen
################################
#if($TOOL.aNodeOfListExist($xPathListAdditionalInfo))
    <div class="sub-section">
        <a class="anchor" id="${hashDetail5}_additional_information"></a>
        #renderGroupTitle($MESSAGES.getString("additional_information"))
    ## Datensatz/Datenserie
        #parse("/WEB-INF/templates/detail/parts/metadata/information/information_additional_dataset_series.vm")
    ## Veröffentlichung
        #parse("/WEB-INF/templates/detail/parts/metadata/information/information_additional_publish_id.vm")
    ## Eignung/Nutzung
        #renderTextTable($MESSAGES.getString("t01_object.dataset_usage") $TOOL.getValueFromXPath($xPathAdditionalInfoSpecificUsage))
    ## Herstellungszweck
        #renderTextTable($MESSAGES.getString("t01_object.info_note") $TOOL.getValueFromXPath($xPathAdditionalInfoPurpose))
    ## Rechtliche Grundlagen
        #renderTextListTable($MESSAGES.getString("t015_legist.name") $TOOL.getListOfValuesFromXPath($xPathAdditionalInfoFurtherLegalBasis, "."))
    ## XML-Export-Kriterium
        #renderTextListTable($MESSAGES.getString("t014_info_impart.name") $TOOL.getListOfValuesFromXPath($xPathAdditionalInfoExportCriteria, "."))
    ## Sprache des Datensatzes
        #renderTextListTable($MESSAGES.getString("t01_object.data_language") $TOOL.getLanguageValues($TOOL.getListOfValuesFromXPath($xPathAdditionalInfoIdentificationInfoLanguageCode,".")))
    ## Konformität
        #renderTableSymbols ($TOOL.getConformityData($xPathAdditionalInfoDQDataQualityReport) [2] $tmpConformityDataSymbols [0])
    ## Datenformat
        #renderTable($TOOL.getAvailability($xPathAdditionalInfoMDDistribution))
    ## Medien
        #renderTable($TOOL.getMediumOptions($xPathAdditionalInfoMDDistribution))
    ## Bestellinformationen
        #renderTextTable($MESSAGES.getString("t01_object.ordering_instructions") $TOOL.getValueFromXPath($xPathAdditionalInfoOrderingInstructions))
    </div>
#end

## Schlagworte
#if($TOOL.aNodeOfListExist($xPathListKeywords)  || $advGroup.size() > 0)
    <div class="sub-section">
        <a class="anchor" id="${hashDetail5}_fs_keywords"></a>
        #renderGroupTitle($MESSAGES.getString("fs_keywords"))
        ## Kategorien
        #parse("/WEB-INF/templates/detail/parts/metadata/information/information_keywords_category.vm")
        ## Verschlagwortung
        #renderTableList($MESSAGES.getString("inspire_themes") $TOOL.getIndexInformationKeywords($xPathKeywordsDescriptiveKeywords, "inspire"))
        #renderTableList($MESSAGES.getString("priority_dataset") $TOOL.getIndexInformationKeywords($xPathKeywordsDescriptiveKeywords, "priority"))
        #renderTableList($MESSAGES.getString("spatial_scope") $TOOL.getIndexInformationKeywords($xPathKeywordsDescriptiveKeywords, "spatial_scope"))
        #renderTableList($MESSAGES.getString("gemet_concepts") $TOOL.getIndexInformationKeywords($xPathKeywordsDescriptiveKeywords, "gemet"))
        #renderTableList($MESSAGES.getString("adv_group") $advGroup)
        ## ISO-Themenkategorien
        #renderTableList($MESSAGES.getString("t011_obj_geo_topic_cat.topic_category") $TOOL.getListOfValuesFromXPath($xPathKeywordsTopicCategory, "./gmd:MD_TopicCategoryCode", "527"))
        ## Suchbegriffe
        #renderTableList($MESSAGES.getString("search_terms") $TOOL.getIndexInformationKeywords($xPathKeywordsDescriptiveKeywords, "search") true "search_terms_id" 10)
    </div>
#end