## Zusatzinformationen
################################
#if($TOOL.aNodeOfListExist($xPathListAdditionalInfo))
    <div class="sub-section">
        <a class="anchor" id="${hashDetail5}_additional_information"></a>
        #renderGroupTitle($MESSAGES.getString("additional_information"))
    ## Datensatz/Datenserie
        #parse("/WEB-INF/templates/detail/parts/metadata/information/information_additional_dataset_series.vm")
    ## Veröffentlichung
        #parse("/WEB-INF/templates/detail/parts/metadata/information/information_additional_publish_id.vm")
    ## Eignung/Nutzung
        #renderTextTableConvertUrl($MESSAGES.getString("t01_object.dataset_usage") $TOOL.getValueFromXPath($xPathAdditionalInfoSpecificUsage) false false true)
    ## Herstellungszweck
        #renderTextTableConvertUrl($MESSAGES.getString("t01_object.info_note") $TOOL.getValueFromXPath($xPathAdditionalInfoPurpose) false false true)
    ## Rechtliche Grundlagen
        #renderTextListTableConvertUrl($MESSAGES.getString("t015_legist.name") $TOOL.getListOfValuesFromXPath($xPathAdditionalInfoFurtherLegalBasis, ".") false false true)
    ## XML-Export-Kriterium
        #renderTextListTable($MESSAGES.getString("t014_info_impart.name") $TOOL.getListOfValuesFromXPath($xPathAdditionalInfoExportCriteria, "."))
    ## Sprache des Datensatzes
        #renderTextListTable($MESSAGES.getString("t01_object.data_language") $TOOL.getLanguageValues($TOOL.getListOfValuesFromXPath($xPathAdditionalInfoIdentificationInfoLanguageCode,".")))
    ## Konformität
        #renderTableSymbols ($TOOL.getConformityData($xPathAdditionalInfoDQDataQualityReport) [2] $tmpConformityDataSymbols [0])
    ## Datenformat
        #renderTable($TOOL.getAvailability($xPathAdditionalInfoMDDistribution))
    ## Medien
        #renderTable($TOOL.getMediumOptions($xPathAdditionalInfoMDDistribution))
    ## Bestellinformationen
        #renderTextTableConvertUrl($MESSAGES.getString("t01_object.ordering_instructions") $TOOL.getValueFromXPath($xPathAdditionalInfoOrderingInstructions) false false true)
    </div>
#end

## Schlagworte
#if($TOOL.aNodeOfListExist($xPathListKeywords)  || $advGroup.size() > 0)
    <div class="sub-section">
        <a class="anchor" id="${hashDetail5}_fs_keywords"></a>
        #renderGroupTitle($MESSAGES.getString("fs_keywords"))
        ## Kategorien
        #parse("/WEB-INF/templates/detail/parts/metadata/information/information_keywords_category.vm")
        ## Verschlagwortung
        #renderTableList($MESSAGES.getString("inspire_themes") $TOOL.getIndexInformationKeywords($xPathKeywordsDescriptiveKeywords, "inspire") true "search_terms_inspire" 10)
        #renderTableList($MESSAGES.getString("priority_dataset") $TOOL.getIndexInformationKeywords($xPathKeywordsDescriptiveKeywords, "priority") true "search_terms_priority" 10)
        #renderTableList($MESSAGES.getString("spatial_scope") $TOOL.getIndexInformationKeywords($xPathKeywordsDescriptiveKeywords, "spatial_scope") true "search_terms_spatial" 10)
        #renderTableList($MESSAGES.getString("gemet_concepts") $TOOL.getIndexInformationKeywords($xPathKeywordsDescriptiveKeywords, "gemet") true "search_terms_gemet" 10)
        #renderTableList($MESSAGES.getString("adv_group") $advGroup true "search_terms_adv" 10)
        ## INSPIRE-InVeKoS
        #parse("/WEB-INF/templates/detail/parts/metadata/information/information_additional_search_terms_invekos.vm")
        ## ISO-Themenkategorien
        #renderTableList($MESSAGES.getString("t011_obj_geo_topic_cat.topic_category") $TOOL.getListOfValuesFromXPath($xPathKeywordsTopicCategory, "./gmd:MD_TopicCategoryCode", "527") true "search_terms_iso" 10)
        ## Suchbegriffe
        #parse("/WEB-INF/templates/detail/parts/metadata/information/information_additional_search_terms.vm")
    </div>
#end