## Geodatensatz
################################
<div class="sub-section">
    <a class="anchor" id="${hashDetail5}_technical_information"></a>
    #renderGroupTitle($MESSAGES.getString("technical_information"))
## Identifikator
    #parse("/WEB-INF/templates/detail/parts/metadata/information/information_type1_identificator.vm")
## Messdaten
    #parse("/WEB-INF/templates/detail/parts/metadata/information/information_type1_measurement.vm")
## Digitale Repräsentation
    #parse("/WEB-INF/templates/detail/parts/metadata/information/information_type1_representation_type.vm")
## Vektorformat
    #set($headTitles = [$MESSAGES.getString("t011_obj_geo.vector_topology_level"), $MESSAGES.getString("t011_obj_geo_vector.geometric_object_type"),$MESSAGES.getString("t011_obj_geo_vector.geometric_object_count")])
    #set($headXpathExpressions = [$xPathInfo1MD_VectorSpatialRepresentationGeometricObjectsLevel, $xPathInfo1MD_VectorSpatialRepresentationGeometricObjectsType, $xPathInfo1MD_VectorSpatialRepresentationGeometricObjectsCount])
    #set($headCodeList = ["528", "515"])
    #renderTable($TOOL.getNodeListTable($MESSAGES.getString("t011_obj_geo_vector"), $xPathInfo1MD_VectorSpatialRepresentationGeometricObjects, $headTitles, $headXpathExpressions, $headCodeList))
## Erstellungsmaßstab
    #renderTable($TOOL.getReferenceObject($xPathInfo1MDResolution))
## Symbolkatalog
    #set($headTitles = [$MESSAGES.getString("t011_obj_geo_symc.symbol_cat"),$MESSAGES.getString("t011_obj_geo_symc.symbol_date"),$MESSAGES.getString("t011_obj_geo_symc.edition")])
    #set($headXpathExpressions = ["./gmd:MD_PortrayalCatalogueReference/gmd:portrayalCatalogueCitation/gmd:CI_Citation/gmd:title","./gmd:MD_PortrayalCatalogueReference/gmd:portrayalCatalogueCitation/gmd:CI_Citation/gmd:date/gmd:CI_Date/gmd:date","./gmd:MD_PortrayalCatalogueReference/gmd:portrayalCatalogueCitation/gmd:CI_Citation/gmd:edition"])
    #renderTable($TOOL.getNodeListTable($MESSAGES.getString("t011_obj_geo_symc"), $xPathInfo1PortrayalCatalogueInfo, $headTitles, $headXpathExpressions))
## Schlüsselkatalog: im Datensatz vorhanden
    #renderTextTable($MESSAGES.getString("t011_obj_geo.keyc_incl_w_dataset") $TOOL.getValueFromXPath($xPathInfo1MDFeatureCatalogueDescriptionIncludedWithDataset))
## Schlüsselkatalog
    #set($headTitles = [$MESSAGES.getString("t011_obj_geo_keyc.subject_cat"),$MESSAGES.getString("t011_obj_geo_keyc.key_date"),$MESSAGES.getString("t011_obj_geo_keyc.edition")])
    #set($headXpathExpressions = ["./gmd:title","./gmd:date/gmd:CI_Date/gmd:date","./gmd:edition"])
    #renderTextTable($TOOL.getNodeListTable($MESSAGES.getString("t011_obj_geo_keyc"), $xPathInfo1MDFeatureCatalogueDescriptionFeatureCatalogueCitation, $headTitles, $headXpathExpressions))
## Fachliche Grundlage
    #renderTextTable($MESSAGES.getString("t011_obj_geo.special_base") $TOOL.getValueFromXPath($xPathInfo1LILineageStatement))
## Datengrundlage
    #renderTextListTable($MESSAGES.getString("t011_obj_geo.data_base") $TOOL.getListOfValuesFromXPath($xPathInfo1LISourceDescription, "."))
## Sachdaten/Attributinformation
    #renderTextListTable($MESSAGES.getString("t011_obj_geo_supplinfo.feature_type") $TOOL.getListOfValuesFromXPath($xPathInfo1MDFeatureCatalogueDescriptionFeatureTypes, "."))
## Herstellungsprozess
    #renderTextTable($MESSAGES.getString("t011_obj_geo.method") $TOOL.getValueFromXPath($xPathInfo1LIProcessStep))
## Geometrie-Kontext
    #parse("/WEB-INF/templates/detail/parts/metadata/information/information_type1_geometrie_context.vm")
</div>