<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
<!--
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:file://ingrid-portal</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
-->        

		<property name="connection.datasource">java:/comp/env/jdbc/jetspeed</property>

		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="cache.use_query_cache">false</property>
        <property name="cache.use_minimal_puts">false</property>
        <property name="max_fetch_depth">3</property>

        <property name="current_session_context_class">thread</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!--property name="hbm2ddl.auto">update</property-->

		<mapping resource="de/ingrid/usermanagement/User.hbm.xml"/>
        <mapping resource="de/ingrid/usermanagement/Group.hbm.xml"/>
        <mapping resource="de/ingrid/usermanagement/Role.hbm.xml"/>
        <mapping resource="de/ingrid/usermanagement/UserGroupRoleRelation.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
