<?xml version="1.0" encoding="utf-8"?>
<!--
  **************************************************-
  Ingrid Portal Apps
  ==================================================
  Copyright (C) 2014 wemove digital solutions GmbH
  ==================================================
  Licensed under the EUPL, Version 1.1 or – as soon they will be
  approved by the European Commission - subsequent versions of the
  EUPL (the "Licence");
  
  You may not use this work except in compliance with the Licence.
  You may obtain a copy of the Licence at:
  
  http://ec.europa.eu/idabc/eupl5
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the Licence is distributed on an "AS IS" basis,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the Licence for the specific language governing permissions and
  limitations under the Licence.
  **************************************************#
  -->

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
		<property name="connection.datasource">java:/comp/env/jdbc/jetspeed</property> 

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

<!--
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
-->        
        <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <property name="cache.use_query_cache">false</property>

        <!-- SQL dialect -->
        <!-- Do NOT use Oracle10gDialect, not supported in Portal -->
<!--    <property name="dialect">org.hibernate.dialect.OracleDialect</property> -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
<!--	<property name="dialect">org.hibernate.dialect.DerbyDialect</property> -->
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <mapping resource="de/ingrid/portal/hibernate/resources/IngridPartner.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridProvider.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridEnvTopic.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridServiceRubric.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridMeasuresRubric.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridChronicleEventType.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridRSSStore.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridRSSSource.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridAnniversary.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridNewsletterData.hbm.xml"/>
        <!--<mapping resource="de/ingrid/portal/hibernate/resources/IngridSysCodelistDomain.hbm.xml"/>-->
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridPrincipalPreferences.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridCMSItem.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridCMS.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridTinyUrlSource.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
