<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
		<property name="connection.datasource">java:/comp/env/jdbc/jetspeed</property>
      	<property name="dialect">org.hibernate.dialect.SAPDBDialect</property>

        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="cache.use_query_cache">false</property>
        <property name="cache.use_minimal_puts">false</property>
        <property name="max_fetch_depth">3</property>

        <property name="current_session_context_class">thread</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <!--<property name="dialect">org.hibernate.dialect.HSQLDialect</property>-->
        <!--<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>-->
        <!--property name="dialect">org.hibernate.dialect.DerbyDialect</property-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Drop and re-create the database schema on startup -->
        <!--<property name="hbm2ddl.auto">create</property>-->

        <mapping resource="de/ingrid/portal/hibernate/resources/IngridPartner.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridEnvTopic.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridEnvFunctCategory.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridRSSStore.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridRSSSource.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridAnniversary.hbm.xml"/>
        <mapping resource="de/ingrid/portal/hibernate/resources/IngridNewsletterData.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
