<style>
.leaflet-interactive-disable {
    cursor: grab !important;
}
</style>

<script>
    function showMarker(m) {
        if(m.target.uuid){
            jQuery.get('$restUrlBBOX'+'?uuid='+m.target.uuid).done(function(data) {
                var d = JSON.parse(data);
                // create an orange rectangle
                m.target.bbox=L.rectangle(d, {color: "blue", weight: 3, fill: false});
                if(map){
                    map.addLayer(m.target.bbox);
                }
            });
        }
    }
    
    function hideMarker(m) {
        if(m.target.bbox){
            if(map){
                map.removeLayer(m.target.bbox);
            }
        }
    }

    var mapSizeX;
    var popupMarkerSize;
    var popupMarkerOptions = {};
    
    if(map){
        if(map._size){
            mapSizeX = map._size.x;
        }
    }
    
    if(mapSizeX){
        if(mapSizeX < 310){
            popupMarkerOptions = {
                maxWidth: 180
            };
        }
    }

    // All markers
    var mapMarkers = L.markerClusterGroup();
    // "Zulassungsverfahren" markers
    var mapMarkers10 = L.markerClusterGroup({
        iconCreateFunction: function (cluster) {
            var childCount = cluster.getChildCount();
            var c = ' marker-cluster-';
            if (childCount < 10) {
                c += 'small';
            } else if (childCount < 100) {
                c += 'medium';
            } else {
                c += 'large';
            }
            return new L.DivIcon({ html: '<div><span>' + childCount + '</span></div>', className: 'marker-cluster marker-cluster-10' + c, iconSize: new L.Point(40, 40) });
        }
    });
    // "Ausländische Verfahren" markers
    var mapMarkers11 = L.markerClusterGroup({
        iconCreateFunction: function (cluster) {
            var childCount = cluster.getChildCount();
            var c = ' marker-cluster-';
            if (childCount < 10) {
                c += 'small';
            } else if (childCount < 100) {
                c += 'medium';
            } else {
                c += 'large';
            }
            return new L.DivIcon({ html: '<div><span>' + childCount + '</span></div>', className: 'marker-cluster marker-cluster-11' + c, iconSize: new L.Point(40, 40) });
        }
    });
    // "Vorgelagerte Verfahren" markers
    var mapMarkers1314 = L.markerClusterGroup({
        iconCreateFunction: function (cluster) {
            var childCount = cluster.getChildCount();
            var c = ' marker-cluster-';
            if (childCount < 10) {
                c += 'small';
            } else if (childCount < 100) {
                c += 'medium';
            } else {
                c += 'large';
            }
            return new L.DivIcon({ html: '<div><span>' + childCount + '</span></div>', className: 'marker-cluster marker-cluster-1314' + c, iconSize: new L.Point(40, 40) });
        }
    });
    if(markers){
        for (var i = 0; i < markers.length; i++) {
            var a = markers[i];
            var title = a[2];
            var categories = a[6];
            var procedureId = a[4];
            var procedure = a[5];
            var steps = a[7];
            var popUpHtml = '';
            popUpHtml += '<a href="/trefferanzeige?docuuid='+a[3]+'" target="_blank">' + title + '</a>';
            
            if(procedure && procedure.length > 0){
                popUpHtml += '<div class="map_popup_proc">' + procedure + '</div>';
            }
            
            if(categories && categories.length > 0){
                popUpHtml += '<div class="map_popup_cat">';
                popUpHtml += '<b>Kategorie:</b><br>';
                var categoryList = [];
                for (category in categories){
                    var value = categories[category].name;
                    if(categoryList.indexOf(value) == -1){
                        popUpHtml += value + '<br>';
                        categoryList.push(value);
                    }
                }
                popUpHtml += '</div>';
            }
            if(steps && steps.length > 0){
                popUpHtml += '<div class="map_popup_cat">';
                popUpHtml += '<b>Letzter Verfahrensschritt:</b><br>';
                popUpHtml += steps[steps.length - 1] + '<br>';
                popUpHtml += '</div>';
            }
            
            var iconColor;
            if(procedureId == '10'){
                iconColor = 'blue';
            } else if(procedureId == '11'){
                iconColor = 'black';
            } else {
                iconColor = 'red';
            }
            
            var icon = L.AwesomeMarkers.icon({
                markerColor: iconColor,
                className: enablePopUp ? 'awesome-marker' : 'awesome-marker leaflet-interactive-disable',
                prefix: 'icon'//,
                //icon: categories && categories.length > 0 ? categories[0].id : ''
            });
            
            var marker = L.marker(new L.LatLng(a[0], a[1]), { title: title, icon: icon });
            marker.uuid = a[3];
            marker.bbox = null;
            if(enablePopUp){
                marker.bindPopup(popUpHtml, popupMarkerOptions);
                marker.on('popupopen', showMarker);
                marker.on('popupclose', hideMarker);
            }
            mapMarkers.addLayer(marker);
            if(procedureId == '10'){
                mapMarkers10.addLayer(marker);
            } else if(procedureId == '11'){
                mapMarkers11.addLayer(marker);
            } else {
                mapMarkers1314.addLayer(marker);
            }
        }
    
        if(markers.length > 0){
            if(map){
                map.addLayer(mapMarkers10);
                map.addLayer(mapMarkers11);
                map.addLayer(mapMarkers1314);
            }
        }
    }
    
    var overlayers = {};
    if(mapMarkers10.getLayers().length > 0){
        overlayers["<span style=\"background-image: url('/decorations/layout/ingrid/images/pins/icon_pin_blue.png'); background-size: 13px 16px; padding:0 4px 0 10px; \"></span>Zulassungsverfahren"]  = mapMarkers10;
    }
    if(mapMarkers11.getLayers().length > 0){
        overlayers["<span style=\"background-image: url('/decorations/layout/ingrid/images/pins/icon_pin_black.png'); background-size: 13px 16px; padding:0 4px 0 10px; \"></span>Ausl&#228;ndische Vorhaben"]  = mapMarkers11;
    }
    
    if(mapMarkers1314.getLayers().length > 0){
        overlayers["<span style=\"background-image: url('/decorations/layout/ingrid/images/pins/icon_pin_red.png'); background-size: 13px 16px; padding:0 4px 0 10px; \"></span>Vorgelagerte Verfahren"]  = mapMarkers1314;
    }
    L.control.layers({}, overlayers, {position: 'topright', collapsed:false }).addTo(map);
    
</script>