## ------------------------------
## Action Form macros
## ------------------------------
#macro (getFieldValueByForm $form $field)
$form.getInput($field)#end

#macro (getFieldValue $field)
#getFieldValueByForm($actionForm $field)#end

#macro (getHTMLEscapedFieldValue $field)
$actionForm.getInputHTMLEscaped($field)#end


#macro (getChecked $field $value)
#if ($actionForm.isCurrentInput($field, $value)) checked="checked"#end
#end

#macro (getSelected $field $value)
#if ($actionForm.isCurrentInput($field, $value))selected="selected"#end
#end

#macro (displayFormErrorsByForm $form)
#if ($form.hasErrors())
<div>
#foreach ($errorMsg in $form.getAllErrors())
<h3 class="portlet-msg-error">$MESSAGES.getString($errorMsg)</h3>
#end
</div>
#end
#end

#macro (displayFormErrors)
#displayFormErrorsByForm($actionForm)	
#end

#macro (displayFieldLabelByForm $form $fieldName $fieldLabel)
#if ($form.hasErrorInField($fieldName))
<span class="portlet-msg-error">$fieldLabel</span>#else
$fieldLabel#end
#end

#macro (displayFieldLabel $fieldName $fieldLabel)
#displayFieldLabelByForm($actionForm $fieldName $fieldLabel)
#end


## ------------------------------
## display content
## ------------------------------
#macro (displayPartner)
<option value="all" #getSelected('partner' 'all')>------ Alles auswählen ------</option>
#foreach ($partner in $partnerList)
<option value="$partner.Ident" #getSelected('partner' "$partner.Ident")>$partner.Name</option>
#end
#end
