## ------------------------------
## Action Form macros
## ------------------------------
#macro (getFieldValueByForm $form $field)
$form.getInput($field)#end

#macro (getFieldValue $field)
#getFieldValueByForm($actionForm $field)#end

#macro (getHTMLEscapedFieldValue $field)
$actionForm.getInputHTMLEscaped($field)#end


#macro (getChecked $field $value)
#if ($actionForm.isCurrentInput($field, $value)) checked="checked"#end
#end

#macro (getSelected $field $value)
#if ($actionForm.isCurrentInput($field, $value))selected="selected"#end
#end

#macro (displayFormErrorsByForm $form)
#if ($form.hasErrors())
<div>
#foreach ($errorMsg in $form.getAllErrors())
<h3 class="portlet-msg-error">$MESSAGES.getString($errorMsg)</h3>
#end
</div>
#end
#end

#macro (displayFormErrors)
#displayFormErrorsByForm($actionForm)	
#end

#macro (displayFieldLabelByForm $form $fieldName $fieldLabel)
#if ($form.hasErrorInField($fieldName))
<span class="portlet-msg-error">$fieldLabel</span>#else
$fieldLabel#end
#end

#macro (displayFieldLabel $fieldName $fieldLabel)
#displayFieldLabelByForm($actionForm $fieldName $fieldLabel)
#end


## ------------------------------
## display content
## ------------------------------
#macro (displayPartner)
<option value="all" #getSelected('partner' 'all')>$MESSAGES.getString('common.form.selectAll')</option>
#foreach ($partner in $partnerList)
<option value="$partner.Ident" #getSelected('partner' "$partner.Ident")>$partner.Name</option>
#end
#end


## ------------------------------
## Administration macros
## ------------------------------
#macro (renderDBBrowserHeader $colNames $colTitles)
<tr>
	<td class="contentColumnHead"></td>
	#foreach ($colTitle in $colTitles)
		#set ($colLink = $renderResponse.createActionURL())
		#set ($colIndex = $velocityCount - 1)
		$colLink.setParameter("sortColumn", $colNames.get($colIndex))
   		<td class="contentColumnHead"><a href="$colLink" class="contentColumnHead">$colTitle</a></td>
	#end
</tr>
#end

#macro (renderDBBrowserRow $rowId $rowValues)
<tr>
#if ($velocityCount % 2 == 0)
	#set ($rowstyle = "contentRowEven")
#else
	#set ($rowstyle = "contentRowOdd")
#end   
	<td class="$rowstyle">
		<input id="chk_$velocityCount" name="id" type="checkbox" value="$rowId" />
    </td>
	<td class="$rowstyle">$rowId</td>
#foreach ($rowValue in $rowValues)
	<td class="$rowstyle">$rowValue</td>
#end
</tr>
#end

#macro (renderDBBrowserFooter)
<div class="formfooter">
	<input class="btn float_left" type="submit" name="doEdit" value="Edit" />
	<span class="float_left">&nbsp;</span>
	<input class="btn float_left" type="submit" name="doDelete" value="Löschen" />
	<input class="btn float_right" type="submit" name="doRefresh" value="Refresh" />
	<span class="float_right">&nbsp;</span>
	<input class="btn float_right" type="submit" name="doNew" value="Hinzufügen" />
	<p class="clearer"></span>
</div>
#end

#macro (renderDBEditId $mode $id)
<input type="hidden" name="id" value="$!{id}"/>
	#if ($mode == 'edit')
	<p>
		<label class="float_left col2left_incr">Id</label><span>$!{id}</span>
        <p class="clearer"></span>
	</p>
	#end
#end

#macro (renderDBEditTextArea  $index $colName $colLabel $colValue)
<p>
    <label class="float_left col2left_incr" for="${colName}$!{index}">$colLabel</label>
    <textarea class="float_left" cols="125" rows="2" name="${colName}$!{index}" id="${colName}$!{index}">$colValue</textarea>
   	<p class="clearer"></span>
</p>
#end

#macro (renderDBEditTextField $index $colName $colLabel $colValue)
<p>
	<label class="float_left col2left_incr" for="${colName}$!{index}">$colLabel</label>
	<input class="float_left inputstyletext contentInput" type="text" id="${colName}$!{index}" name="${colName}$!{index}" value="$colValue"/>
   	<p class="clearer"></span>
</p>
#end

#macro (renderDBEditFooter $mode)
<div class="formfooter" align="right">
	#if ($mode == 'edit')
		#set ($butAction = 'doUpdate')
	#elseif ($mode == 'new')
		#set ($butAction = 'doSave')
	#end
	<input class="btn" type="submit" name="$butAction" value="Speichern" />
	<input class="btn" type="submit" name="doCancel" value="Abbrechen" />
</div>
#end
