## ------------------------------
## search macros
## ------------------------------
#macro (renderResultCounterCatalogue $pageSelector $catalogueName $searchName)
    #set($term = "")
    #if($searchName)
        #if($searchName.length() > 0)
            #set($term = $searchName)
        #end
    #end
    #if($term.lenght() > 0)
        $MESSAGES.resetMsgParams()
        $MESSAGES.setMsgParam("$pageSelector.numberOfHits")
        $MESSAGES.setMsgParam($term)
        $MESSAGES.getStringWithMsgParams('common.result.counter.catalog.withsearchvalue')
    #else
        $MESSAGES.resetMsgParams()
        $MESSAGES.setMsgParam("$pageSelector.numberOfFirstHit")
        $MESSAGES.setMsgParam("$pageSelector.numberOfLastHit")
        $MESSAGES.setMsgParam("$pageSelector.numberOfHits")
        $MESSAGES.setMsgParam($catalogueName)
        $MESSAGES.getStringWithMsgParams('common.result.counter.catalog')
    #end
#end

#macro (renderResultCounterCatalogueGrouping $pageSelector $catalogueName)
$MESSAGES.resetMsgParams()
$MESSAGES.setMsgParam("$pageSelector.numberOfHits")
$MESSAGES.setMsgParam($catalogueName)
$MESSAGES.getStringWithMsgParams('common.result.counter.catalog.grouped')
#end


#macro (renderRankedResultCounter $pageSelector)
$MESSAGES.resetMsgParams()
$MESSAGES.setMsgParam("$pageSelector.numberOfFirstHit")
$MESSAGES.setMsgParam("$pageSelector.numberOfLastHit")
$MESSAGES.setMsgParam("$pageSelector.numberOfHits")
$MESSAGES.getStringWithMsgParams('common.result.counter.ranked')
#end

#macro (renderRankedResultCounterGrouping $pageSelector)
    #set($term = "")
    #if($searchTerm)
        #if($searchTerm.length() > 0)
            #set($term = $searchTerm)
        #end
    #end
    #if($term.length() > 0)
        $MESSAGES.resetMsgParams()
        $MESSAGES.setMsgParam("$pageSelector.numberOfHits")
        $MESSAGES.setMsgParam("$term")
        $MESSAGES.getStringWithMsgParams('common.result.counter.ranked.withsearchvalue')
    #else
        $MESSAGES.resetMsgParams()
        $MESSAGES.setMsgParam("$pageSelector.numberOfHits")
        $MESSAGES.getStringWithMsgParams('common.result.counter.ranked.grouped')
    #end
#end

#macro (renderRankedPageNavigation $pageSelector $isBottom)

#if($isBottom)
    <p class="mq-hide-l">#renderRankedResultCounter($pageSelector)</p>
#end

## Default
<ul class="pagination__list tx-right mq-hide-m">
    #set ($pstart = 0)
    #set ($action = $renderResponse.createActionURL())
    $action.setParameter('rstart', $pstart.toString())
    <li>
        <a class="pagination__left" #if($pageSelector.currentSelectorPage != 1)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#double-arrow"></use></svg>
        </a>
    </li>
    
    #set ($pstart = ($pageSelector.currentSelectorPage - 2) * $pageSelector.hitsPerPage)
    $action.setParameter('rstart', $pstart.toString())
    <li>
        <a class="pagination__left" #if($pageSelector.currentSelectorPage != 1)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use></svg>
        </a>
    </li>

    #foreach($pageId in [$pageSelector.firstSelectorPage..$pageSelector.lastSelectorPage])
        <li>
        #if($pageId == $pageSelector.currentSelectorPage)
            <a class="pagination__number is-active">$pageId</a>
        #else
            #set ($pstart = ($pageId - 1) * $pageSelector.hitsPerPage)
            $action.setParameter('rstart', $pstart.toString())
            <a class="pagination__number" href="$action">$pageId</a>
        #end
        </li>
    #end
    
    #set ($pstart = $pageSelector.currentSelectorPage * $pageSelector.hitsPerPage)
    $action.setParameter('rstart', $pstart.toString())
    <li>
        <a class="pagination__right" #if($pageSelector.currentSelectorPage != $pageSelector.numberOfPages)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use></svg>
        </a>
    </li>
    
    #set ($pstart =($pageSelector.numberOfPages - 1)* $pageSelector.hitsPerPage)
    $action.setParameter('rstart', $pstart.toString())
    <li>
        <a class="pagination__right" #if($pageSelector.currentSelectorPage != $pageSelector.numberOfPages)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#double-arrow"></use></svg>
        </a>
    </li>
</ul>

## Mobile
<ul class="pagination__list mq-show-m">
    #set ($pstart = 0)
    $action.setParameter('rstart', $pstart.toString())
    <li>
        <a class="pagination__left" #if($pageSelector.currentSelectorPage != 1)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#double-arrow"></use></svg>
        </a>
    </li>
    
    #set ($pstart = ($pageSelector.currentSelectorPage - 2) * $pageSelector.hitsPerPage)
    $action.setParameter('rstart', $pstart.toString())
    <li>
        <a class="pagination__left" #if($pageSelector.currentSelectorPage != 1)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use></svg>
        </a>
    </li>
    
    <li><a class="pagination__number is-active" >$pageSelector.currentSelectorPage</a></li>
    <li><a class="pagination__number" >/</a></li>
    #set ($pstart =($pageSelector.numberOfPages - 1)* $pageSelector.hitsPerPage)
    $action.setParameter('rstart', $pstart.toString())
    <li><a class="pagination__number" href="$action">$pageSelector.numberOfPages</a></li>
    
    #set ($pstart = $pageSelector.currentSelectorPage * $pageSelector.hitsPerPage)
    $action.setParameter('rstart', $pstart.toString())
    <li>
        <a class="pagination__right" #if($pageSelector.currentSelectorPage != $pageSelector.numberOfPages)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use></svg>
        </a>
    </li>
    
    #set ($pstart =($pageSelector.numberOfPages - 1)* $pageSelector.hitsPerPage)
    $action.setParameter('rstart', $pstart.toString())
    <li>
        <a class="pagination__right" #if($pageSelector.currentSelectorPage != $pageSelector.numberOfPages)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#double-arrow"></use></svg>
        </a>
    </li>
</ul>
#end

## this navigation is used when "grouping by domain"
## -> renders pages just like with NO GROUPING and estimates starthits of oncoming pages
#macro (renderRankedPageNavigationGroupingWithPages $pageSelector $isBottom)

#if($isBottom)
    <p class="mq-hide-l">#renderRankedResultCounterGrouping($pageSelector)</p>
#end

## Default
<ul class="pagination__list tx-right mq-hide-m">
    #set ($action = $renderResponse.createActionURL())
    #set ($pstart = 1)
    $action.setParameter('currentSelectorPage', $pstart.toString())
    <li>
        <a class="pagination__left" #if($pageSelector.currentSelectorPage != 1)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#double-arrow"></use></svg>
        </a>
    </li>
    
    #set ($pstart = $pageSelector.currentSelectorPage - 1)
    $action.setParameter('currentSelectorPage', $pstart.toString())
    <li>
        <a class="pagination__left" #if($pageSelector.currentSelectorPage != 1)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use></svg>
        </a>
    </li>
    
    #foreach($pageId in [$pageSelector.firstSelectorPage..$pageSelector.lastSelectorPage])
        <li>
        #if($pageId == $pageSelector.currentSelectorPage)
            <a class="pagination__number is-active">$pageId</a>
        #else
            $action.setParameter('currentSelectorPage', $pageId.toString())
            <a class="pagination__number" href="$action">$pageId</a>
        #end
        </li>
    #end
    
    #set ($pstart = $pageSelector.currentSelectorPage + 1)
    $action.setParameter('currentSelectorPage', $pstart.toString())
    <li>
        <a class="pagination__right" #if($pageSelector.currentSelectorPage != $pageSelector.lastSelectorPage)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use></svg>
        </a>
    </li>
    
    #set ($pstart = $pageSelector.lastSelectorPage)
    $action.setParameter('currentSelectorPage', $pstart.toString())
    <li>
        <a class="pagination__right" #if($pageSelector.currentSelectorPage != $pageSelector.lastSelectorPage)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#double-arrow"></use></svg>
        </a>
    </li>
</ul>

## Mobile
<ul class="pagination__list mq-show-m">
    #set ($action = $renderResponse.createActionURL())
    #set ($pstart = 1)
    $action.setParameter('currentSelectorPage', $pstart.toString())
    <li>
        <a class="pagination__left" #if($pageSelector.currentSelectorPage != 1)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#double-arrow"></use></svg>
        </a>
    </li>
    
    #set ($pstart = $pageSelector.currentSelectorPage - 1)
    $action.setParameter('currentSelectorPage', $pstart.toString())
    <li>
        <a class="pagination__left" #if($pageSelector.currentSelectorPage != 1)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use></svg>
        </a>
    </li>
    
    <li><a class="pagination__number is-active">$pageSelector.currentSelectorPage</a></li>
    <li><a class="pagination__number">/</a></li>
    $action.setParameter('currentSelectorPage', $pageSelector.lastSelectorPage.toString())
    <li><a class="pagination__number" href="$action">$pageSelector.lastSelectorPage</a></li>
    
    #set ($pstart = $pageSelector.currentSelectorPage + 1)
    $action.setParameter('currentSelectorPage', $pstart.toString())
    <li>
        <a class="pagination__right" #if($pageSelector.currentSelectorPage != $pageSelector.lastSelectorPage)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use></svg>
        </a>
    </li>
    
    #set ($pstart = $pageSelector.lastSelectorPage)
    $action.setParameter('currentSelectorPage', $pstart.toString())
    <li>
        <a class="pagination__right" #if($pageSelector.currentSelectorPage != $pageSelector.lastSelectorPage)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#double-arrow"></use></svg>
        </a>
    </li>
</ul>
#end

## this navigation is used when grouping is active and is not "grouping by domain" (then see above) 
## -> renders only current page with ">>" to next page
#macro (renderRankedPageNavigationGrouping $pageSelector $isBottom)

#if($isBottom)
    <p class="mq-hide-l">#renderRankedResultCounter($pageSelector)</p>
#end

## Default
<ul class="pagination__list tx-right mq-hide-m">
    <li style="display:none">
        <a class="pagination__left">
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#double-arrow"></use></svg>
        </a>
    </li>
    #set ($action = $renderResponse.createActionURL())
    #set ($pstart = $pageSelector.currentSelectorPage - 1)
    $action.setParameter('currentSelectorPage', $pstart.toString())
    <li>
        <a class="pagination__left" #if($pageSelector.currentSelectorPage != 1)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use></svg>
        </a>
    </li>
    #if($pageSelector.currentSelectorPage > 1)
        $action.setParameter('currentSelectorPage', "1")
        <li>
              <a class="pagination__number" href="$action"> 1 </a>
       </li>
       <li>...</li>
    #end
    <li>
        <a class="pagination__number is-active"> $pstart</a>
    </li>
    
    #if($pageSelector.selectorHasNextPage)
       #if($pageSelector.currentSelectorPage == 1)
           <li>...</li>
       #end
       #set ($pstart = $pageSelector.currentSelectorPage + 1)
        $action.setParameter('currentSelectorPage', $pstart.toString())
        <li>
              <a class="pagination__number" href="$action">$pstart</a>
       </li>
    #end
    
    #set ($pstart = $pageSelector.currentSelectorPage + 1)
    $action.setParameter('currentSelectorPage', $pstart.toString())
    <li>
        <a class="pagination__right" #if($pageSelector.selectorHasNextPage)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use></svg>
        </a>
    </li>
    <li style="display:none">
        <a class="pagination__right is-hidden">
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#double-arrow"></use></svg>
        </a>
    </li>
</ul>

## Mobile
<ul class="pagination__list mq-show-m">
    <li style="display:none">
        <a class="pagination__left">
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#double-arrow"></use></svg>
        </a>
    </li>
    #set ($action = $renderResponse.createActionURL())
    #set ($pstart = $pageSelector.currentSelectorPage - 1)
    $action.setParameter('currentSelectorPage', $pstart.toString())
    <li>
        <a class="pagination__left" #if($pageSelector.currentSelectorPage != 1)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use></svg>
        </a>
    </li>
    
    <li>
        <a class="pagination__number is-active"> $pageSelector.currentSelectorPage</a>
    </li>
    
    #set ($pstart = $pageSelector.currentSelectorPage + 1)
    $action.setParameter('currentSelectorPage', $pstart.toString())
    <li>
        <a class="pagination__right" #if($pageSelector.selectorHasNextPage)href="$action"#end>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use></svg>
        </a>
    </li>
    <li style="display:none">
        <a class="pagination__right">
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#double-arrow"></use></svg>
        </a>
    </li>
</ul>
#end

#macro (renderTitle $title)
#if ($title && $title != "")$title#else $MESSAGES.getString('common.result.noTitle')#end
#end

#macro(renderSearchResultFacetFilter)
    <aside class="sidebar js-accordion-multi">
        <div class="sidebar__title js-accordion-toggle mq-show-l" onclick="onClickFilterEvent()">
            Filter
            #if($enableFacetSelection > 0 || $isSelection)
                <svg class="icon-active"><use xlink:href="#check"></use></svg>
            #end
            <svg class="icon"><use xlink:href="#filter"></use></svg>
            <svg class="icon"><use xlink:href="#cross"></use></svg>
        </div>
        <div class="sidebar__content js-accordion-content is-hidden">
            #parse ('/WEB-INF/templates/facete/facete.vm')
        </div>
    </aside>
#end

#macro(renderSearchResultFacetSelection $entries $resourceMsgs $cat)
    #foreach($entry in $entries)
        #if(!$entry.getQuery())
            #if($entry.isSelect())
                #if($entry.getFacets())
                    #set($catName = $resourceMsgs.getString($entry.getName()))
                    #renderSearchResultFacetSelection ($entry.getFacets() $resourceMsgs $catName)
                #end
            #end
        #else
            #if($entry.isSelect())
            #set ($action = $renderResponse.createActionURL())
            $action.setParameter("$entry.getParent().getId()", "$entry.getId()")
            <div class="field-toggle field-toggle--check" style="margin-bottom: 0;">
                <input id="chk_fs_$entry.getId()" name="event" type="checkbox" value="$evtype.FormValue" onclick="location.href='$action'" checked>
                <label class="field-toggle__label field-toggle__label--boxed" for="chk_fs_$entry.getId()">
                    <div class="field-toggle__icon field-toggle__icon-alt">
                        <svg class="icon">
                            <use xlink:href="#tick">
                        </svg>
                    </div>
                    $cat:$resourceMsgs.getString($entry.getName())
                </label>
            </div>
            #end
            #if($entry.getFacets())
                #set($catNameSub = $resourceMsgs.getString($entry.getName()))
                #renderSearchResultFacetSelection ($entry.getFacets() $resourceMsgs $catNameSub)
            #end
        #end
    #end
#end