## ------------------------------
## search macros
## ------------------------------
#macro (renderResultCounterCatalogue $pageSelector $catalogueName)
$MESSAGES.resetMsgParams()
$MESSAGES.setMsgParam("$pageSelector.numberOfFirstHit")
$MESSAGES.setMsgParam("$pageSelector.numberOfLastHit")
$MESSAGES.setMsgParam("$pageSelector.numberOfHits")
$MESSAGES.setMsgParam($catalogueName)
$MESSAGES.getStringWithMsgParams('common.result.counter.catalog')
#end

#macro (renderResultCounterCatalogueGrouping $pageSelector $catalogueName)
$MESSAGES.resetMsgParams()
$MESSAGES.setMsgParam("$pageSelector.numberOfHits")
$MESSAGES.setMsgParam($catalogueName)
$MESSAGES.getStringWithMsgParams('common.result.counter.catalog.grouped')
#end


#macro (renderRankedResultCounter $pageSelector)
$MESSAGES.resetMsgParams()
$MESSAGES.setMsgParam("$pageSelector.numberOfFirstHit")
$MESSAGES.setMsgParam("$pageSelector.numberOfLastHit")
$MESSAGES.setMsgParam("$pageSelector.numberOfHits")
$MESSAGES.getStringWithMsgParams('common.result.counter.ranked')
#end

#macro (renderRankedResultCounterGrouping $pageSelector)
$MESSAGES.resetMsgParams()
$MESSAGES.setMsgParam("$pageSelector.numberOfHits")
$MESSAGES.getStringWithMsgParams('common.result.counter.ranked.grouped')
#end

#macro (renderUnrankedResultCounter $pageSelector)
$MESSAGES.resetMsgParams()
$MESSAGES.setMsgParam("$pageSelector.numberOfFirstHit")
$MESSAGES.setMsgParam("$pageSelector.numberOfLastHit")
$MESSAGES.setMsgParam("$pageSelector.numberOfHits")
$MESSAGES.getStringWithMsgParams('common.result.counter.unranked')
#end

#macro (renderUnrankedResultCounterGrouping $pageSelector)
$MESSAGES.resetMsgParams()
$MESSAGES.setMsgParam("$pageSelector.numberOfHits")
$MESSAGES.getStringWithMsgParams('common.result.counter.unranked.grouped')
#end

#macro (renderRankedPageNavigation $pageSelector)
#set ($action = $renderResponse.createActionURL())
$MESSAGES.resetMsgParams()
$MESSAGES.setMsgParam("$pageSelector.currentSelectorPage")
$MESSAGES.setMsgParam("$pageSelector.numberOfPages")
$MESSAGES.getStringWithMsgParams('common.result.navigation.ranked')
	#if($pageSelector.selectorHasPreviousPage)
        #set ($pstart = ($pageSelector.currentSelectorPage - 2) * $pageSelector.hitsPerPage)
    	$action.setParameter('rstart', $pstart.toString())	
    		<a href="$action">&laquo;</a>
    	$action.setParameter('rstart', "0")	
    		| <a href="$action">1</a> ..
    #end
	#foreach($pageId in [$pageSelector.firstSelectorPage..$pageSelector.lastSelectorPage])
    	#if($pageId == $pageSelector.currentSelectorPage)
    		| $pageId
    	#else
    		#set ($pstart = ($pageId - 1) * $pageSelector.hitsPerPage)
    		$action.setParameter('rstart', $pstart.toString())
    		| <a href="$action">$pageId</a>
    	#end
	#end
    #if($pageSelector.selectorHasNextPage)
        #set ($pstart = $pageSelector.currentSelectorPage * $pageSelector.hitsPerPage)
    	$action.setParameter('rstart', $pstart.toString())
    		| <a href="$action">&raquo;</a>
    #end
#end

#macro (renderRankedPageNavigationGrouping $pageSelector)
#set ($action = $renderResponse.createActionURL())
$MESSAGES.resetMsgParams()
$MESSAGES.setMsgParam("$pageSelector.currentSelectorPage")
$MESSAGES.getStringWithMsgParams('common.result.navigation.ranked.grouped')
	#if($pageSelector.currentSelectorPage > 1)
        #set ($pstart = $pageSelector.currentSelectorPage - 1)
    	$action.setParameter('currentSelectorPage', $pstart.toString())
    		<a href="$action">&laquo;</a>
    	$action.setParameter('currentSelectorPage', "1")	
    		| <a href="$action">1</a> ..
	#end
    		| $pageSelector.currentSelectorPage
    #if($pageSelector.selectorHasNextPage)
        #set ($pstart = $pageSelector.currentSelectorPage + 1)
    	$action.setParameter('currentSelectorPage', $pstart.toString())
    		| <a href="$action">&raquo;</a>
    #end
#end

#macro (renderUnrankedPageNavigationGrouping $pageSelector)
#set ($action = $renderResponse.createActionURL())
$MESSAGES.resetMsgParams()
$MESSAGES.setMsgParam("$pageSelector.currentSelectorPageUnranked")
$MESSAGES.getStringWithMsgParams('common.result.navigation.unranked.grouped')
	#if($pageSelector.currentSelectorPageUnranked > 1)
        #set ($pstart = $pageSelector.currentSelectorPageUnranked - 1)
    	$action.setParameter('currentSelectorPageUnranked', $pstart.toString())
    		<a href="$action">&laquo;</a>
    	$action.setParameter('currentSelectorPageUnranked', "1")	
    		| <a href="$action">1</a> ..
	#end
    		| $pageSelector.currentSelectorPageUnranked
    #if($pageSelector.selectorHasNextPage)
        #set ($pstart = $pageSelector.currentSelectorPageUnranked + 1)
    	$action.setParameter('currentSelectorPageUnranked', $pstart.toString())
    		| <a href="$action">&raquo;</a>
    #end
#end

#macro (renderUnrankedPageNavigation $pageSelector)
#set ($action = $renderResponse.createActionURL())
$MESSAGES.resetMsgParams()
$MESSAGES.setMsgParam("$pageSelector.currentSelectorPage")
$MESSAGES.setMsgParam("$pageSelector.numberOfPages")
$MESSAGES.getStringWithMsgParams('common.result.navigation.unranked')
    #if($pageSelector.selectorHasPreviousPage)
        #set ($pstart = ($pageSelector.currentSelectorPage - 2) * $pageSelector.hitsPerPage)
    	$action.setParameter('nrstart', $pstart.toString())	
    		<a href="$action">&laquo;</a>
    	$action.setParameter('nrstart', "0")	
    		| <a href="$action">1</a> ..
    #end
	#foreach($pageId in [$pageSelector.firstSelectorPage..$pageSelector.lastSelectorPage])
    	#if($pageId == $pageSelector.currentSelectorPage)
    		| $pageId
    	#else
    		#set ($pstart = ($pageId - 1) * $pageSelector.hitsPerPage)
    		$action.setParameter('nrstart', $pstart.toString())
    		| <a href="$action">$pageId</a>
    	#end
	#end
    #if($pageSelector.selectorHasNextPage)
        #set ($pstart = $pageSelector.currentSelectorPage * $pageSelector.hitsPerPage)
    	$action.setParameter('nrstart', $pstart.toString())
    		| <a href="$action">&raquo;</a>
    #end
#end

#macro (renderTitle $title)
#if ($title && $title != "")$title#else $MESSAGES.getString('common.result.noTitle')#end
#end
