## ------------------------------
## Action Form macros
## ------------------------------
#macro (getFieldValueByForm $form $field)
$form.getInput($field)#end

#macro (getFieldValue $field)
#getFieldValueByForm($actionForm $field)#end

#macro (getHTMLEscapedFieldValue $field)
$actionForm.getInputHTMLEscaped($field)#end


#macro (getChecked $field $value)
#if ($actionForm.isCurrentInput($field, $value)) checked="checked"#end
#end

#macro (getSelectedFlag $field $value)
#if ($actionForm.isCurrentInput($field, $value))selected="selected"#end
#end

#macro (displayFormErrorsByForm $form)
#if ($form.hasErrors())
<div>
#foreach ($errorMsg in $form.getAllErrors())
<h3 class="portlet-msg-error">$MESSAGES.getString($errorMsg)</h3>
#end
</div>
#end
#end

#macro (displayFormErrors)
#displayFormErrorsByForm($actionForm)	
#end

#macro (displayFormMessagesByForm $form)
#if ($form.hasMessages())
<div>
#foreach ($msg in $form.getAllMessages())
<h3 class="portlet-msg-info">$MESSAGES.getString($msg)</h3>
#end
</div>
#end
#end

#macro (displayFormMessages)
#displayFormMessagesByForm($actionForm)	
#end


#macro (displayFieldLabelByForm $form $fieldName $fieldLabel)
#if ($form.hasErrorInField($fieldName))
<span class="portlet-msg-error">$fieldLabel</span>#else
$fieldLabel#end
#end

#macro (displayFieldLabel $fieldName $fieldLabel)
#displayFieldLabelByForm($actionForm $fieldName $fieldLabel)
#end


## ------------------------------
## display content
## ------------------------------
#macro (displayPartner)
<option value="all" #getSelectedFlag('partner' 'all')>$MESSAGES.getString('common.form.selectAll')</option>
#foreach ($partner in $partnerList)
<option value="$partner.Ident" #getSelectedFlag('partner' "$partner.Ident") title="$partner.Name">$UtilsString.cutString($partner.Name, 50)</option>
#end
#end


## ------------------------------
## Administration macros
## ------------------------------
#macro (renderDBBrowserNavigation $browser)
<div class="contentNavigation">
   	<div class="contentNavigationLeft">
	#if ($browser.hasPreviousPage())
       	<input class="btn" type="submit" name="doFirst" value="<<" />
       	<input class="btn" type="submit" name="doPrev" value="<" />
	#end
		&nbsp;
	</div>
   	<div class="contentNavigationMiddle">$browser.renderFirstRowOnPage() - $browser.renderLastRowOnPage() $MESSAGES.getString('component.forms.text.of') $browser.getTotalNumRows() $MESSAGES.getString('component.forms.text.entries')</div>
   	<div class="contentNavigationRight">
		&nbsp;
	#if ($browser.hasNextPage())
			<input class="btn" type="submit" name="doNext" value=">" />
			<input class="btn" type="submit" name="doLast" value=">>" />
	#end
	</div>
	<p class="clearer"></p>
</div>
#end

#macro (renderDBBrowserHeader $colNames $colTitles)
<tr>
	<td class="contentColumnHead"></td>
	#foreach ($colTitle in $colTitles)
		#set ($colLink = $renderResponse.createActionURL())
		#set ($colIndex = $velocityCount - 1)
		$colLink.setParameter("sortColumn", $colNames.get($colIndex))
   		<td class="contentColumnHead"><a href="$colLink" class="contentColumnHead">$colTitle</a></td>
	#end
</tr>
#end

#macro (renderDBHeader $colNames $colTitles)
<tr height=30>
	<td class="contentColumnHeadLight" style="font-weight:bold; vertical-align:middle;"></td>
	#foreach ($colTitle in $colTitles)
		#set ($colLink = $renderResponse.createActionURL())
		#set ($colIndex = $velocityCount - 1)
		$colLink.setParameter("sortColumn", $colNames.get($colIndex))
   		<td class="contentColumnHeadLight" style="font-weight:bold; vertical-align:middle;"><a href="$colLink" class="contentColumnHeadLight">$colTitle</a></td>
	#end
</tr>
#end

#macro (renderDBBrowserRow $rowId $rowValues)
<tr>
#if ($velocityCount % 2 == 0)
	#set ($rowstyle = "contentRowEven")
#else
	#set ($rowstyle = "contentRowOdd")
#end   
	<td class="$rowstyle">
		<input id="chk_$velocityCount" name="id" type="checkbox" value="$rowId" />
    </td>
	<td class="$rowstyle">$rowId</td>
#foreach ($rowValue in $rowValues)
	<td class="$rowstyle">$rowValue</td>
#end
</tr>
#end

#macro (renderDBBrowserRowWithEditLink $rowId $rowValues)
#if ($velocityCount % 2 == 0)
	#set ($rowstyle = "contentRowEven")
#else
	#set ($rowstyle = "contentRowOdd")
#end   
<tr class="$rowstyle">
	<td>
		<input id="chk_$velocityCount" name="id" type="checkbox" value="$rowId" />
    </td>
#set ($action = $renderResponse.createActionURL())
$action.setParameter('doEdit','Edit')
$action.setParameter("id", "$rowId")
	<td><a href="$action">$rowId</a></td>
#foreach ($rowValue in $rowValues)
	<td><a href="$action">$rowValue</a></td>
#end
</tr>
#end

#macro (renderDBBrowserRowWithEditLinkNoSelection $rowId $rowValues)
<tr>
#if ($velocityCount % 2 == 0)
	#set ($rowstyle = "contentRowEven")
#else
	#set ($rowstyle = "contentRowOdd")
#end   
	<td class="$rowstyle">
		<input id="chk_$velocityCount" name="id" type="hidden" value="$rowId" />
    </td>
#set ($action = $renderResponse.createActionURL())
$action.setParameter('doEdit','Edit')
$action.setParameter("id", "$rowId")
	<td class="$rowstyle"><a href="$action">$rowId</a></td>
#foreach ($rowValue in $rowValues)
	<td class="$rowstyle"><a href="$action">$rowValue</a></td>
#end
</tr>
#end

#macro (renderDBBrowserFooterButtons $buttons)
	<div class="formfooter">
		#foreach ($button in $buttons)
			#renderDBBrowserFooterDeleteButtonsDisable ($button "false")
		#end
	<p class="clearer"></p>
	</div>
#end

#macro (renderDBBrowserFooterButtonDisable $button)
	#if($button == "doDelete")
		<input class="btn_disable float_left" type="submit" name="doDelete" onClick="return confirm('$MESSAGES.getString('component.forms.text.delete.marked.entries')')" value="$MESSAGES.getString('component.forms.buttons.delete')" disabled/>
	#end
#end

#macro (renderDBBrowserFooterDeleteButtonsDisable $buttons $disableDeleteButton)
<div class="formfooter">
#foreach ($button in $buttons)
	#if($button == "doEdit")
		<input class="btn float_left" type="submit" name="doEdit" value="Edit"/>
		<span class="float_left">&nbsp;</span>
	#end
	#if($button == "doDelete")
		#if($disableDeleteButton == "true")
			#renderDBBrowserFooterButtonDisable ($button)
		#else
			<input class="btn float_left" type="submit" name="doDelete" onClick="return confirm('$MESSAGES.getString('component.forms.text.delete.marked.entries')')" value="$MESSAGES.getString('component.forms.buttons.delete')" />
		#end
	#end
	#if($button == "doRefresh")
    	<input class="btn float_right" type="submit" name="doRefresh" value="$MESSAGES.getString('component.forms.buttons.refresh')" />
		<span class="float_right">&nbsp;</span>
	#end
	#if($button == "doNew")
		<input class="btn float_right" type="submit" name="doNew" value="$MESSAGES.getString('component.forms.buttons.add')" />
	#end
	#if($button == "doClear")
		<span class="float_left">&nbsp;</span>
		<input class="btn float_left" type="submit" name="doClear" value="$MESSAGES.getString('component.forms.buttons.reset')" title="$MESSAGES.getString('component.forms.info.reset')" />
	#end
#end
	<p class="clearer"></p>
</div>
#end


#macro (renderDBBrowserFooter)
	#set ($buttons = ["doEdit", "doDelete", "doRefresh", "doNew"])
	#renderDBBrowserFooterButtons($buttons)
#end

#macro (renderDBEditId $mode $id)
#if ($mode == 'edit')
	<input type="hidden" name="id" value="$!{id}"/>
	<p>
		<label class="float_left col2left_incr">Id</label><span>$!{id}</span>
        <span class="clearer"></span>
	</p>
#else
## new entity, but we add id so we have something to extract entity from request !
	<input type="hidden" name="id" value="-1"/>
#end
#end

#macro (renderDBEditTextArea $index $colName $colLabel $colValue)
<p>
    <label class="float_left col2left_incr" for="${colName}$!{index}">#displayFieldLabel("${colName}$!{index}" $colLabel)</label>
    <textarea class="float_left" cols="125" rows="2" name="${colName}$!{index}" id="${colName}$!{index}">$colValue</textarea>
   	<span class="clearer"></span>
</p>
#end

#macro (renderDBEditTextField $index $colName $colLabel $colValue)
	#renderDBEditTextFieldDisable ($index $colName $colLabel $colValue "false")
#end

#macro (renderDBEditTextFieldDisable $index $colName $colLabel $colValue $disable)
	<p>
		<label class="float_left col2left_incr" for="${colName}$!{index}">#displayFieldLabel("${colName}$!{index}" $colLabel)</label>
		
	#if($disable == 'true')
		<input class="float_left inputstyletext contentInput" type="text" id="${colName}$!{index}" name="${colName}$!{index}" value="$colValue" disabled/>
	#else
		<input class="float_left inputstyletext contentInput" type="text" id="${colName}$!{index}" name="${colName}$!{index}" value="$colValue"/>
	#end
		<span class="clearer"></span>
	</p>
#end

#macro (renderDBEditFooter $mode)
<div class="formfooter" align="right">
	#if ($mode == 'edit')
		#set ($butAction = 'doUpdate')
	#elseif ($mode == 'new')
		#set ($butAction = 'doSave')
	#end
	#if ($disableSaving == 'true')
		## do nothing
	#else
		<input class="btn" type="submit" name="$butAction" value="$MESSAGES.getString('component.forms.buttons.save')" />
	#end
	<input class="btn" type="submit" name="doCancel" value="$MESSAGES.getString('component.forms.buttons.back')" />
</div>
#end

#macro (renderTextField $label $id)
<p>
  	<label class="float_left col2left_incr" for="query">#displayFieldLabel($id $label)</label>
  	<input class="float_left inputstyletext contentInput" id="$id" name="$id" value="#getHTMLEscapedFieldValue("$id")" type="text">
</p>
#end

#macro (getRowStyle $count $state)
    #if ($count % 2 == 0)
        #if ($state == 0)
            #set ($rowstyle = "contentRowEven")
        #else
            #set ($rowstyle = "contentRowEvenError")
        #end
    #else
        #if ($state == 0)
            #set ($rowstyle = "contentRowOdd")
        #else
            #set ($rowstyle = "contentRowOddError")
        #end
    #end
#end