## ------------------------------
## search macros
## ------------------------------
#macro (renderResultCounterCatalogue $pageSelector $catalogueName)
        <strong>${pageSelector.numberOfFirstHit} - ${pageSelector.numberOfLastHit}</strong> von <strong>$pageSelector.numberOfHits</strong> Einträgen in <strong>$!catalogueName</strong>
#end

#macro (renderResultCounterCatalogueGrouping $pageSelector $catalogueName)
        <strong>$pageSelector.numberOfHits</strong> Einträge in <strong>$!catalogueName</strong>
#end


#macro (renderRankedResultCounter $pageSelector)
    <strong>${pageSelector.numberOfFirstHit} - ${pageSelector.numberOfLastHit}</strong> von <strong>$pageSelector.numberOfHits bewerteten</strong> Treffern
#end

#macro (renderRankedResultCounterGrouping $pageSelector)
    <strong>$pageSelector.numberOfHits bewertete</strong> Treffer
#end

#macro (renderUnrankedResultCounter $pageSelector)
    <strong>${pageSelector.numberOfFirstHit} - ${pageSelector.numberOfLastHit}</strong> von <strong>$pageSelector.numberOfHits weiteren</strong> Datenquellen
#end

#macro (renderRankedPageNavigation $pageSelector)
#set ($action = $renderResponse.createActionURL())
        (Seite <strong>$pageSelector.currentSelectorPage</strong> von <strong>$pageSelector.numberOfPages</strong>)
	#if($pageSelector.selectorHasPreviousPage)
        #set ($pstart = ($pageSelector.currentSelectorPage - 2) * $pageSelector.hitsPerPage)
    	$action.setParameter('rstart', $pstart.toString())	
    		<a href="$action">&laquo;</a>
    	$action.setParameter('rstart', "0")	
    		| <a href="$action">1</a> ..
    #end
	#foreach($pageId in [$pageSelector.firstSelectorPage..$pageSelector.lastSelectorPage])
    	#if($pageId == $pageSelector.currentSelectorPage)
    		| $pageId
    	#else
    		#set ($pstart = ($pageId - 1) * $pageSelector.hitsPerPage)
    		$action.setParameter('rstart', $pstart.toString())
    		| <a href="$action">$pageId</a>
    	#end
	#end
    #if($pageSelector.selectorHasNextPage)
        #set ($pstart = $pageSelector.currentSelectorPage * $pageSelector.hitsPerPage)
    	$action.setParameter('rstart', $pstart.toString())
    		| <a href="$action">&raquo;</a>
    #end
#end

#macro (renderRankedPageNavigationGrouping $pageSelector)
#set ($action = $renderResponse.createActionURL())
	(Seite <strong>$pageSelector.currentSelectorPage</strong>)
	#if($pageSelector.currentSelectorPage > 1)
        #set ($pstart = ($pageSelector.currentSelectorPage - 2) * $pageSelector.hitsPerPage)
    	$action.setParameter('rstart', $pstart.toString())	
    		<a href="$action">&laquo;</a>
    	$action.setParameter('rstart', "0")	
    		| <a href="$action">1</a> ..
	#end
    		| $pageSelector.currentSelectorPage
    #if($pageSelector.selectorHasNextPage)
        #set ($pstart = $pageSelector.currentSelectorPage * $pageSelector.hitsPerPage)
    	$action.setParameter('rstart', $pstart.toString())
    		| <a href="$action">&raquo;</a>
    #end
#end

#macro (renderUnrankedPageNavigation $pageSelector)
#set ($action = $renderResponse.createActionURL())
    (Seite <strong>$pageSelector.currentSelectorPage</strong> von <strong>$pageSelector.numberOfPages</strong>)
    #if($pageSelector.selectorHasPreviousPage)
        #set ($pstart = ($pageSelector.currentSelectorPage - 2) * $pageSelector.hitsPerPage)
    	$action.setParameter('nrstart', $pstart.toString())	
    		<a href="$action">&laquo;</a>
    	$action.setParameter('nrstart', "0")	
    		| <a href="$action">1</a> ..
    #end
	#foreach($pageId in [$pageSelector.firstSelectorPage..$pageSelector.lastSelectorPage])
    	#if($pageId == $pageSelector.currentSelectorPage)
    		| $pageId
    	#else
    		#set ($pstart = ($pageId - 1) * $pageSelector.hitsPerPage)
    		$action.setParameter('nrstart', $pstart.toString())
    		| <a href="$action">$pageId</a>
    	#end
	#end
    #if($pageSelector.selectorHasNextPage)
        #set ($pstart = $pageSelector.currentSelectorPage * $pageSelector.hitsPerPage)
    	$action.setParameter('nrstart', $pstart.toString())
    		| <a href="$action">&raquo;</a>
    #end
#end

#macro (renderTitle $title)
#if ($title && $title != "")$title#else Kein Titel#end
#end
