<div class="columns xsmall-15 small-15 medium-15 large-14 xlarge-14">
    <div class="logo" role="banner">
        <a target="_blank" href="https://www.bkg.bund.de/DE/Home/home.html" title="$MESSAGES.getString('ingrid.page.home.tooltip')">
            <img src="/decorations/layout/uvp/images/template/logo.svg" alt="$MESSAGES.getString('ingrid.page.logo.alt.header')"/>
        </a>
    </div>
    <div class="desktop__title">
        <a href="$jetspeed.getAbsoluteUrl('/default-page.psml')" title="Startseite von BKG-MIS aufrufen ">
            MetadatenInformationsSystem
        </a>
    </div>
</div>
