<div class="columns xsmall-15 small-15 medium-15 large-14 xlarge-15">
    <div class="row">
      <div class="columns xsmall-20 small-17 medium-17 large-17 xlarge-10">
        <div class="logo" role="banner">
            <a target="_blank" href="https://www.bkg.bund.de/DE/Home/home.html" title="$MESSAGES.getString('ingrid.page.home.tooltip')">
                <img src="/decorations/layout/ingrid/images/template/logo.svg" alt="$MESSAGES.getString('ingrid.page.logo.alt.header')"/>
            </a>
        </div>
      </div>
      <div class="columns xsmall-4 small-7 medium-7 large-7 xlarge-13">
        <div class="desktop__title">
            <a href="$jetspeed.getAbsoluteUrl('/default-page.psml')" title="Startseite von BKG-MIS aufrufen ">
                <span>
                    <strong>M</strong>etadaten<br class="hide-for-xlarge"><strong>I</strong>nformations<br class="hide-for-xlarge"><strong>S</strong>ystem
                </span>
            </a>
        </div>
     </div>
    </div>
</div>
