<a target="_new" class="mq-show-xxl" href="https://www.bkg.bund.de/DE/Home/home.html" title="$MESSAGES.getString('ingrid.page.home.tooltip')">
    <img class="mobile__logo-x" src="/decorations/layout/ingrid/images/template/logo.svg">
</a>
<div class="container">
