## Zeitbezug
    #parse("/WEB-INF/templates/detail/parts/metadata/description/description_time_data.vm")
## Zeitbezug der Ressource
    #parse("/WEB-INF/templates/detail/parts/metadata/description/description_time_resource.vm")