    ## Identifikator der Datenquelle
        #renderTextTableConvertUrl("Identifikator" $TOOL.getValueFromXPath($xPathInfo1MDIdentifierCode) false false true)
    ## Identifikator der Datenquelle (older iplug)
        #renderTextTable("Identifikator" $TOOL.getValueFromXPath($xPathInfo1RSIdentifierCode))