## ------------------------------
## macros
## ------------------------------

#macro (renderInputButton $buttonvalue $buttonstyle $buttonname $buttontitle)
	#renderInputButtonClass ($buttonvalue $buttonstyle $buttonname $buttontitle "")
#end

#macro (renderInputButtonClass $buttonvalue $buttonstyle $buttonname $buttontitle $buttonclass)
	#renderInputButtonOnClick ($buttonvalue $buttonstyle $buttonname $buttontitle $buttonclass "")
#end

#macro (renderInputButtonOnClick $buttonvalue $buttonstyle $buttonname $buttontitle $buttonclass $buttononclick)
	#renderInputButtonDisable ($buttonvalue $buttonstyle $buttonname $buttontitle $buttonclass $buttononclick "false")
#end

#macro (renderInputButtonDisable $buttonvalue $buttonstyle $buttonname $buttontitle $buttonclass $buttononclick $buttondisable)
	#if($buttondisable == "true")
		<input type="submit" value="$buttonvalue" style="$buttonstyle" name="$buttonname" title="$buttontitle" class="btn_disable $buttonclass" onclick="$buttononclick" disabled />
	#else
		<input type="submit" value="$buttonvalue" style="$buttonstyle" name="$buttonname" title="$buttontitle" class="btn $buttonclass" onclick="$buttononclick" />
	#end
#end