<link rel="apple-touch-icon" href="/decorations/layout/ingrid/images/template/apple-touch-icon.png" />
#if($currentPage == "/search-detail.psml")
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
#end
