<div class="columns xsmall-7 small-7 medium-5 large-5 xlarge-5">
    <div class="logo" role="banner">
        <a href="/startseite" class="hide-for-xlarge hide-for-xsmall-only hide-for-small-only"><img src="/decorations/layout/ingrid/images/template/logo.svg" alt="BAW"/></a>
        <a href="/startseite" class="show-for-xlarge hide-for-xsmall-only"><img src="/decorations/layout/ingrid/images/template/logo.svg" alt="BAW"/></a>
        <a href="/startseite" class="hide-for-medium"><img src="/decorations/layout/ingrid/images/template/logo-small.svg" alt="BAW"/></a>
    </div>
</div>