<section class="block block--padded">
    <div class="ob-box-wide ob-box-padded ob-box-center">
        <article class="content ob-container ob-box-narrow ob-box-center">
            $jetspeed.renderPortletWindow("AdminWMSPortlet", "ingrid-portal-apps::AdminWMSPortlet")
        </article>
    </div>
</section>
<br>
<br>