<section class="block block--padded">
    <div class="ob-box-wide ob-box-padded ob-box-center">
        <article class="content ob-container">
            $jetspeed.renderPortletWindow("AdminComponentMonitorPortlet", "ingrid-portal-apps::AdminComponentMonitorPortlet")
        </article>
    </div>
</section>
<br>
<br>