<section class="block block--padded">
    <div class="ob-box-wide ob-box-padded ob-box-center">
    	<article class="content ob-container">
    		$jetspeed.renderPortletWindow("MeasuresSearch", "ingrid-portal-apps::MeasuresSearch")
	    </article>
	</div>
</section>
<section class="block block--padded">
    <div class="ob-box-wide ob-box-padded ob-box-center">
    	<article class="content ob-container">
    		$jetspeed.renderPortletWindow("MeasuresResult", "ingrid-portal-apps::MeasuresResult")
	    </article>
	</div>
</section>