<section class="block block--light block--pad-top">
    <div class="ob-box-wide ob-box-padded ob-box-center">
    	<article class="content ob-container">
	    	$jetspeed.renderPortletWindow("SearchSimple", "ingrid-portal-apps::SearchSimple")
	    </article>
	</div>
</section>

<section class="block block--light">
    <div class="ob-box-wide ob-box-padded ob-box-center">
    	<article class="content ob-container">
	    	$jetspeed.renderPortletWindow("SearchSimilar", "ingrid-portal-apps::SearchSimilar")
    	</article>
	</div>
</section>

<section class="block">
    <div class="ob-box-wide ob-box-padded ob-box-center">
    	<article class="content ob-container">
	    	$jetspeed.renderPortletWindow("SearchResult", "ingrid-portal-apps::SearchResult")
    	</article>
	</div>
</section>