<section class="block block--light block--pad-top">
    <div class="ob-box-wide ob-box-padded ob-box-center">
        <article class="content ob-container">
            <div class="box box--medium">
                <div class="box__content ob-container">
                    $jetspeed.renderPortletWindow("SearchSimpleResult", "ingrid-portal-apps::SearchSimpleResult")
                </div>
                <hr class="hr-thick bx-top-0 bx-bot-0">
                <div class="box__content ob-container">
                    $jetspeed.renderPortletWindow("SearchSimilar", "ingrid-portal-apps::SearchSimilar")
                </div>
            </div>
         </article>
    </div>
</section>

<section class="block">
    <div class="ob-box-wide ob-box-padded ob-box-center ob-rel">
        $jetspeed.renderPortletWindow("SearchResult", "ingrid-portal-apps::SearchResult")
    </div>
</section>