#if($jetspeed.getSubject())
    #if($jetspeed.getSubject().getPrivateCredentials())
        #if($jetspeed.getSubject().getPrivateCredentials().isEmpty() == false)
            #set ($user = $jetspeed.getSubject().getPrivateCredentials().iterator().next())
            #if($user)
                #if($user.getUserName())
                    #if($user.getUserName() == "admin")
                        #set ($isAdmin = true)
                    #end
                #end
            #end
        #end
    #end
#end
#if($isAdmin)
<section class="block block--padded">
    <div class="ob-box-wide ob-box-padded ob-box-center">
        <article class="content ob-container">
            $jetspeed.renderPortletWindow("MdekPortalAdminPortlet", "ingrid-portal-mdek::MdekPortalAdminPortlet")
        </article>
    </div>
</section>
    
<section class="block block--padded">
    <div class="ob-box-wide ob-box-padded ob-box-center">
        <article class="content ob-container">
            $jetspeed.renderPortletWindow("MdekAdminLoginPortlet", "ingrid-portal-mdek::MdekAdminLoginPortlet")
        </article>
    </div>
</section>
#else
<section class="block block--padded">
    <div class="ob-box-wide ob-box-padded ob-box-center">
        <article class="content ob-container">
            $jetspeed.renderPortletWindow("MdekEntryPortlet", "ingrid-portal-mdek::MdekEntryPortlet")
        </article>
    </div>
</section>
#end
<br>
<br>