<section class="block  block--pad-top">
    <div class="ob-box-wide ob-box-padded ob-box-center">
    	<article class="content ob-container ob-box-narrow">
    		$jetspeed.renderPortletWindow("MyPortalPasswordForgottenPortlet", "ingrid-portal-apps::MyPortalPasswordForgottenPortlet")
	    </article>
	</div>
</section>