<section class="block block--padded">
    <div class="ob-box-wide ob-box-padded ob-box-center">
    	<article class="content ob-container">
    		$jetspeed.renderPortletWindow("MyPortalPasswordForgottenPortlet", "ingrid-portal-apps::MyPortalPasswordForgottenPortlet")
	    </article>
	</div>
</section>