<section class="block block--padded">
    <div class="ob-box-wide ob-box-padded ob-box-center">
        <article class="content ob-container ob-box-narrow ob-box-center">
            $jetspeed.renderPortletWindow("MyPortalCreateAccountPortlet", "ingrid-portal-apps::MyPortalCreateAccountPortlet")
        </article>
    </div>
</section>