<section class="block block--padded">
    <div class="ob-box-wide ob-box-padded ob-box-center">
        <article class="content ob-container">
            #if($jetspeed.getLoggedOn())
                $jetspeed.renderPortletWindow("MyPortalOverviewPortlet", "ingrid-portal-apps::MyPortalOverviewPortlet")
            #else
                $jetspeed.renderPortletWindow("MyPortalLoginPortlet", "ingrid-portal-apps::MyPortalLoginPortlet")
            #end
        </article>
    </div>
</section>