<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#set($theme = $request.getAttribute("org.apache.jetspeed.theme"))
#set($sizes = $jetspeed.columnSizes)
#set($myPage = $jetspeed.page)
#set($myFragment = $jetspeed.currentFragment)
#set($decorator = $myPage.getDefaultDecorator($myFragment.getType()))
#set($actions = $myFragment.decoration.actions)
#if($myFragment.getDecorator())
	#set($decorator = $myFragment.getDecorator())
#end
#parse($myFragment.decoration.header)
#set($layoutType =$portletConfig.getInitParameter("layoutType"))
#set($columnLayout = $renderRequest.getAttribute("columnLayout"))
#set($decorationFactory = $renderRequest.getAttribute("decorationFactory"))
#set($rc = $renderRequest.getAttribute("org.apache.jetspeed.request.RequestContext"))
#set ($dcnt = 0)
#set ($sizeIndex = 0)
#foreach($column in $columnLayout.columns)
	#set($columnWidth = "auto")
	#set ($sizeIndex = $sizeIndex + 1)  
	#foreach($f in $column)
		## Set up coordinates for this fragment
		#set($coords = $columnLayout.getCoordinate($f))	  
		#set($col = $coords.x)
		#set($lastRow = $columnLayout.getLastRowNumber($col))
		#set($row = $coords.y)
		#if($f.type == "portlet")
			$jetspeed.setCurrentFragment($f)
			#parse($f.decoration.template)
		#else		
			$jetspeed.setCurrentFragment($f)
			$f.renderedContent			
		#end
	#end
#end
#if ($myFragment == $myPage.getRootFragment())
  #parse($myFragment.decoration.footer)
#end
