<div class="columns xsmall-15 small-15 medium-15 large-14 xlarge-15">
    <div class="row">
      <div class="columns xsmall-20 small-17 medium-17 large-17 xlarge-10">
        <div class="logo" role="banner">
            <a target="_blank" href="http://www.adv-online.de" title="$MESSAGES.getString('ingrid.page.home.tooltip')">
                <img src="/decorations/layout/uvp/images/template/advmis_logo.png" alt="advmis_logo.png">
            </a>
            <div class="desktop__title">
                <a href="$jetspeed.getAbsoluteUrl('/default-page.psml')" title="Startseite von AdV-MIS aufrufen ">
                    <div class="vertical-line"></div>
                    <p>
                        <span class="title-main">AdV</span>
                        <br>
                        <span class="title-sub">MetadatenInformationsSystem</span>
                    </p>
                </a>
            </div>
        </div>
      </div>
    </div>
</div>