<div class="header__widgets__section">
    <a target="_blank" class="header__widget header__logo" href="http://www.adv-online.de" title="$MESSAGES.getString('ingrid.page.home.tooltip')">
        <img class="mq-hide-xxl desktop-logo" src="/decorations/layout/ingrid/images/template/advmis_logo.png" alt="advmis_logo.png">
    </a>
</div>
<div class="header__widgets__section">
    <a class="mq-hide-xxl desktop__title" href="/startseite" title="Startseite von AdV-MIS aufrufen ">
        <p class="main__title">AdV MetadatenInformationsSystem</p>
    </a>
    <a class="mq-show-xxl mobile__title" href="/startseite" title="Startseite von AdV-MIS aufrufen "><span class="mq-show-s">MIS</span><span class="mq-hide-s">AdV MetadatenInformationsSystem</span></a>
</div>