/*
 *  Core: Config
 *________________________*/




/*
    Settings
*/
$global-spacing-large:     40px;
$global-spacing-medium:    30px;
$global-spacing-small:     20px;
$global-gutter:            40px;
$global-width-wide:        1120px;
$global-width-narrow:      780px;




/*
    Breakpoints
*/
$breakpoint: (
    "320 >": "screen and (min-width:#{320px})",
    "320 - 480": "screen and (min-width:#{320px}) and (max-width: #{479px})",

    "< 480": "screen and (max-width:#{479px})",
    "480 >": "screen and (min-width:#{480px})",
    "480 - 640": "screen and (min-width:#{480px}) and (max-width: #{639px})",
    "480 - 720": "screen and (min-width:#{480px}) and (max-width: #{719px})",
    "480 - 768": "screen and (min-width:#{480px}) and (max-width: #{767px})",
    "480 - 840": "screen and (min-width:#{480px}) and (max-width: #{839px})",
    "480 - 940": "screen and (min-width:#{480px}) and (max-width: #{939px})",

    "600 >": "screen and (min-width:#{600px})",

    "< 640": "screen and (max-width:#{639px})",
    "640 >": "screen and (min-width:#{640px})",
    "640 - 840": "screen and (min-width:#{640px}) and (max-width: #{839px})",
    "640 - 940": "screen and (min-width:#{640px}) and (max-width: #{939px})",

    "720 >": "screen and (min-width: #{720px})",

    "< 768": "screen and (max-width:#{767px})",
    "768 >": "screen and (min-width:#{768px})",
    "768 - 940": "screen and (min-width:#{768px}) and (max-width: #{939px})",
    "768 - 960": "screen and (min-width:#{768px}) and (max-width: #{959px})",
    "768 - 1140": "screen and (min-width:#{768px}) and (max-width: #{1139px})",
    "768 - 1240": "screen and (min-width:#{768px}) and (max-width: #{1239px})",

    "< 840": "screen and (max-width:#{839px})",
    "840 >": "screen and (min-width:#{840px})",
    "840 - 940": "screen and (min-width:#{840px}) and (max-width: #{939px})",

    "< 940": "screen and (max-width:#{939px})",
    "940 >": "screen and (min-width:#{940px})",

    "960 >": "screen and (min-width:#{960px})",
    "960 - 1240": "screen and (min-width:#{960px}) and (max-width: #{1239px})",

    "1140 >": "screen and (min-width:#{1140px})",

    "1240 >": "screen and (min-width:#{1240px})",

    "1600 >": "screen and (min-width:#{1600px})"
);




/*
    Colors
*/
$color: (
    black: #000,
    nobel: #999,
    dim-grey: #666,
    light-grey: #ccc,
    gainsboro: #DDD,
    faded: #EEE,
    heather: #AFBFC7,
    fruit-salad:#4EAD46,
    salem: #0E8637,
    paris-m: #28225B,
    white: #fff,
    red: #ff0000,
    coral-candy: #F5D3CE,
    tawny: #D83500,
    lavender: #D9EDF7,
    neon-blue: #265CFF,
    hint-green: #DFF0D8,
    white-smoke: #F0F0F0,
    mantis: #92C049
);




/*
    Fonts
*/
$font-sans: Arial, sans-serif;
$font-brand: 'Roboto Condensed', sans-serif;




/*
    Directories
 */
$dir-img-content:     "../images/content/";
$dir-img-template:    "../images/template/";
