#parse("/WEB-INF/templates/detail/part/address/detail_address_settings.vm")

<div class="detail" id="detail">
#if($title)
    <div class="banner-noimage m-filter">
        <div class="page-wrapper" style="background-image: url('/decorations/layout/uvp/images/template/drops-subpage.svg');">
            <div class="row">
                <div class="xsmall-24 large-6 xlarge-6 columns">
                    <a class="helper icon" href="$renderResponse.encodeURL('/portal/main-search.psml')">
                        <span class="ic-ic-arrow-left"></span>
                        <span class="text text-normal">$MESSAGES.getString("search.detail.back.to.results")</span>
                    </a>
                </div>
                <div class="xsmall-24 large-18 xlarge-18 columns">
                    <div class="helper icon">
                        #renderUDKAddressIcon($type $MESSAGES.getString("udk_adr_class_name_$type") $MESSAGES.getString("udk_adr_class_name_$type"))
                    </div>
                    <h2>$title</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row nav-content search-filtered">
        ## Navigation
        <div class="xsmall-24 large-6 xlarge-6 columns">
            #parse("/WEB-INF/templates/detail/part/address/detail_address_part_section_navigation.vm")
        </div>
        <div class="xsmall-24 large-18 xlarge-18 columns">
            <div class="data">
        ## FactSheet
                #parse("/WEB-INF/templates/detail/part/address/detail_address_part_section_factsheet.vm")
            </div>
        ## Beschreibung
            #parse("/WEB-INF/templates/detail/part/address/detail_address_part_section_description.vm")
        ## Verweise und Downloads
            #parse("/WEB-INF/templates/detail/part/address/detail_address_part_section_links.vm")
        </div>
    </div>
#end
</div>
#parse("/WEB-INF/templates/scripts/include_script_filter_scroll.vm")