#if($currentPage != "/main-maps.psml" && $currentPage != "/main-measures.psml")
<footer>
    <div class="footer-buttons-bar show-for-large hide-for-print">
        #parse("/decorations/layout/ingrid/templates/footer/body_footer_socials.vm")
        <div class="button-up">
            <button type="button" class="button round social js-top" title="Nach oben">
                <span class="ic-ic-angle-up"></span>
            </button>
        </div>
    </div>
    <div class="footer">
    <hr>
        <div class="row">
            <div class="xsmall-24 small-24 medium-24 large-12 xlarge-12 columns">
                #parse("/decorations/layout/ingrid/templates/footer/body_footer_logo.vm")
                <div class="copyright">
                    <span class="icon"></span>
                    <span class="text copyright_text">$MESSAGES.getString("ingrid.page.copyright")</span>
                </div>
            </div>
            <div class="xsmall-24 small-24 medium-24 large-12 xlarge-12 columns">
                #set($footerMenu = $site.getMenu("footer-menu"))
                #if(!$footerMenu.empty)
                    #includeFooterNavigation($footerMenu)
                #end
            </div>
        </div>
    </div>
</footer>
#end