#set($footerCssClassLogo = "xsmall-24 small-24 medium-24 large-12 xlarge-12 columns")
#set($footerCssClassMenu = "xsmall-24 small-24 medium-24 large-12 xlarge-12 columns")
#set($footerHasHrLine    = true)