<script>
  $('.filter').niceScroll({
    cursorcolor:"#085467",
    cursorwidth:"8px",
    cursorborderradius: "6px",
  });
  $(window).bind('scroll',function(){
    $(".filter").getNiceScroll().resize();
  });
</script>