#set($footerCssClassLogo = "xsmall-24 small-24 medium-24 large-24 xlarge-10 columns")
#set($footerCssClassMenu = "xsmall-24 small-24 medium-24 large-24 xlarge-14 columns")
#set($footerHasHrLine    = true)