<script>
  // Add shrink class
  var body = $("body");

  if(window.pageYOffset > 100) {
      body.addClass("shrink");
  }
  window.onscroll = function(e) {
    if (this.pageYOffset > 100) {
      body.addClass("shrink");
    } else {
      body.removeClass("shrink");
    }
  };
</script>