<script>
  // Add shrink class
  var body = $("body");

  if(window.scrollY > 100) {
      body.addClass("shrink");
  }
  window.onscroll = function(e) {
    if (this.scrollY > 100) {
      body.addClass("shrink");
    } else {
      body.removeClass("shrink");
    }
  };
</script>