<div class="columns xsmall-8 small-7 medium-7 large-7 xlarge-7">
    <div class="row">
      <div class="columns xsmall-15 small-15 medium-13 large-13 xlarge-13">
        <div class="logo" role="banner">
          <a class="header__widget header__logo" href="https://www.eba.bund.de/" title="$MESSAGES.getString('ingrid.page.home.tooltip')" target="_blank">
            <img src="/decorations/layout/uvp/images/template/logo.svg" alt="$MESSAGES.getString('ingrid.page.home.tooltip')">
          </a>
        </div>
      </div>
      <div class="columns">
        <div class="desktop__title">
          <a href="$jetspeed.getAbsoluteUrl('/main-maps.psml')" title="$MESSAGES.getString('ingrid.page.home.tooltip')">$MESSAGES.getString('ingrid.header.title.main')</a>
        </div>
     </div>
    </div>
</div>