<div class="columns xsmall-8 small-7 medium-7 large-7 xlarge-7">
    <div class="row">
      <div class="columns xsmall-12 small-12 medium-8 large-7 xlarge-7">
        <div class="logo" role="banner">
          <a class="header__widget header__logo" href="$jetspeed.getAbsoluteUrl('/default-page.psml')" title="$MESSAGES.getString('ingrid.page.home.tooltip')">
            <img src="/decorations/layout/ingrid/images/template/logo-mobile.png" alt="$MESSAGES.getString('ingrid.page.home.tooltip')">
          </a>
        </div>
      </div>
      <div class="columns">
        <div class="desktop__title">
          <a href="$jetspeed.getAbsoluteUrl('/default-page.psml')" title="$MESSAGES.getString('ingrid.page.home.tooltip')">$MESSAGES.getString('ingrid.header.title.main')</a>
        </div>
     </div>
    </div>
</div>