<div class="columns xsmall-7 small-7 medium-8 large-8 xlarge-9">
    <div class="logo">
        <a href="/startseite" class="show-for-large hide-for-xsmall-only">
            <img src="/decorations/layout/rlp/images/template/logo.png" alt="RLP"/>
            <div class="vertical-line"></div>
            <p>PortalU<br>Umweltportal<br>Rheinland-Pfalz</p>
        </a>
        <a href="/startseite" class="hide-for-xlarge hide-for-large hide-for-xsmall-only hide-for-small-only">
            <img src="/decorations/layout/rlp/images/template/logo.png" alt="RLP"/>
            <div class="vertical-line"></div>
            <p>PortalU<br>Umweltportal<br>Rheinland-Pfalz</p>
        </a>
        <a href="/startseite" class="hide-for-medium">
            <img src="/decorations/layout/rlp/images/template/logo.png" alt="RLP"/>
            <div class="vertical-line"></div>
            <p>Umweltportal<br>Rheinland-Pfalz</p>
        </a>
    </div>
</div>
