<div class="portlet-section-body">
	<p class="iconLink">
		<span class="icon">
			<img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="interner Link" />
		</span>
		<span>
			<a href="http://www.udk-gein.de/" alt="interner Link">Koordinierungsstelle PortalU</a>
		</span>
		<span class="clearer">
		</span>
	</p>
	<p class="iconLink">
		<span class="icon">
			<img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="interner Link" />
		</span>
		<span>
			<a href="http://www.udk-gein.de/ingrid1.1/index.shtml" alt="interner Link">PortalU Konzepte</a>
		</span>
		<span class="clearer">
		</span>
	</p>        
</div>