<div class="portlet-section-body">
	<ul>
		<li>
			<p>PortalU wird gemeinsam vom Bund und den Ländern betrieben. Derzeit stellen über 90 Behörden und Organisationen ihre Umweltinformationen über PortalU bereit.
			</p>
		</li>
	</ul>
	<p class="iconLink">
		<span class="icon">
			<img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="interner Link" />
		</span>
		<span>
			<a href="portal/main-about-partner.psml">Beteiligte Behörden/Organisationen
			</a>
		</span>
		<span class="clearer">
		</span>
	</p>
</div>