<div class="portlet-section-body">
#if($snsAnniversray.years && $snsAnniversray.title)
    <p class="iconLink">
	  <strong>Vor $snsAnniversray.years Jahren: $snsAnniversray.title</strong> ($snsAnniversray.from#if($snsAnniversray.until) - $snsAnniversray.until#end)<br/><br/>
	  <a href="umweltchronik_results_1997_08_18.html"><span class="icon"><img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="interner Link" /></span>Details</a>
      <span class="clearer"></span>
    </p>
#else
    <p class="iconLink">
	  <span><strong>Kein Jahrestag gefunden.</strong></span>
      <span class="clearer"></span>
    </p>
#end
    <p class="iconLink">
      <span class="icon"><img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="interner Link" /></span>
      <span><a href="umweltchronik.html">Weitere Umweltereignisse</a></span>
      <span class="clearer"></span>
    </p>
</div>