<div class="portlet_info_top"></div>
<div class="portlet-section-body portlet_info">
	<h1 class="info_title">$MESSAGES.getString('chronicleSearch.info.title')</h1>
	<span class="clearer"><img class="info_img_line" src="/ingrid-portal-apps/images/portlet_info_line.png"/></span>
	<img class="info_img" src="/ingrid-portal-apps/images/chronicle_info.png"/>
	#if($MESSAGES.getString('chronicleSearch.info.subtitle') != "" && $MESSAGES.getString('chronicleSearch.info.subtitle').length() > 0)
    	<p class="info_subtitle">$MESSAGES.getString('chronicleSearch.info.subtitle')</p>
    #end
    #if($MESSAGES.getString('chronicleSearch.info.body') != "" && $MESSAGES.getString('chronicleSearch.info.body').length() > 0)
   		<p class="info_body">$MESSAGES.getString('chronicleSearch.info.body')</p>
    #end
	#if($enableFeatureType)    
    <p class="iconLink">
    	<span class="icon"><img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="$MESSAGES.getString('common.alt.icon.intern')"/></span>
    	<span><a href="$renderResponse.encodeURL('/portal/main-features.psml')?action=doChronicle" title="$MESSAGES.getString('feature.read.more.tooltip')">$MESSAGES.getString('chronicleSearch.info.link')</a></span>
    	<span class="clearer"></span>
    </p>
    #end
</div>
<div class="portlet_info_bottom"></div>	