<div class="portlet-section-body">
	<ul>
		<li>          
			<p>$MESSAGES.getString('chronicleSearch.info.text')</p>
			<p class="iconLink">
				<span class="icon"><img src="/ingrid-portal-apps/images/icn_linkextern.gif" alt="$MESSAGES.getString('common.tooltip.icon.extern')"/></span>
				<span><a href="http://www.semantic-network.de" target="_new" title="$MESSAGES.getString('common.tooltip.link.extern')">$MESSAGES.getString('chronicleSearch.info.link')</a></span>
				<span class="clearer"></span>
			</p>
			<p>
				<span class="icon"></span>
				<span><a href="http://www.semantic-network.de" target="_new" title="$MESSAGES.getString('common.tooltip.link.extern')"><img src="/ingrid-portal-apps/images/sns_big.gif" width="84" height="31" alt="$MESSAGES.getString('chronicleSearch.info.sns.alt')" title="$MESSAGES.getString('chronicleSearch.info.sns.tooltip')" /></a></span>
				<span class="clearer"></span>
			</p>
		</li>
	</ul>
</div>