#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" enctype="" name="chronicle_search" id="chronicle_search">
    <input type="hidden" name="action" value="doSearch"/>
    <div class="formbody formbody_border_style">
        <h2 class="nospace">$MESSAGES.getString('common.form.criteria')</h2>
        #displayFormErrors()
        <div class="float_left">  
            <h3>#displayFieldLabel('event' "$MESSAGES.getString('chronicle.form.eventtype')")</h3>
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <input id="chk_all" name="event" type="checkbox" onclick="ingrid_checkAll(document.chronicle_search.event)" onkeypress="ingrid_checkAll(document.chronicle_search.event)" value="all" #getChecked('event' 'all')/> 
                        <label for="chk_all" title="$MESSAGES.getString("chronicle.form.allEventtypes.tooltip")">$MESSAGES.getString('chronicle.form.allEventtypes')</label>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
<!--
            <tr>
                <td><input id="chk_1" name="event" type="checkbox" onclick="ingrid_checkGroup(document.chronicle_search.event)" onkeypress="ingrid_checkGroup(document.chronicle_search.event)" value="test" #getChecked('event' "test")/>
                <label for="chk_1">Aktionen</label></td>
            </tr>
                -->         
#set ($numEvtypes = $evtypesList.size())
#foreach ($evtype in $evtypesList)
#if($velocityCount==1 || $velocityCount==4 || $velocityCount==7 || $velocityCount==10 || $velocityCount==13)<tr>#end
                    <td>
                        <input id="chk_$velocityCount" name="event" type="checkbox" onclick="ingrid_checkGroup(document.chronicle_search.event)" onkeypress="ingrid_checkGroup(document.chronicle_search.event)" value="$evtype.FormValue" #getChecked('event' "$evtype.FormValue")/> 
                        <label for="chk_$velocityCount" title="$MESSAGES.getString("${evtype.QueryValue}.tooltip")">$MESSAGES.getString("$evtype.QueryValue")</label>
                    </td>
#if($velocityCount==$numEvtypes || $velocityCount==3 || $velocityCount==6 || $velocityCount==9 || $velocityCount==12 || $velocityCount==15)</tr>#end
#end
            </table>
        </div>  
        <span class="clearer"></span>
        <div class="float_left">
            <h3>#displayFieldLabel('time_select' "$MESSAGES.getString('chronicle.form.time')")</h3>
            <table>
                <tr>
                    <td><input type="radio" class="radio_button" id="vonbis" name="time_select" value="period" #getChecked('time_select' 'period')/></td>
                    <td><label for="from_yy">#displayFieldLabel('time_from' "$MESSAGES.getString('chronicle.form.time.from')")</label></td>
                    <td><input class="inputstyletext" id="from_yy" size="10" maxlength="10" type="text" name="time_from" value="#getFieldValue('time_from')"/></td>
                    <td><label for="till_yy">#displayFieldLabel('time_to' "$MESSAGES.getString('chronicle.form.time.to')")</label></td>
                    <td><input class="inputstyletext" id="till_yy" size="10" maxlength="10" type="text" name="time_to" value="#getFieldValue('time_to')"/> &nbsp;$MESSAGES.getString('chronicle.form.time.format')</td>
                </tr>
                <tr>
                    <td><input type="radio" class="radio_button" id="am" name="time_select" value="date" #getChecked('time_select' 'date')/></td>
                    <td><label for="at_yy">#displayFieldLabel('time_at' "$MESSAGES.getString('chronicle.form.time.at')")</label></td>
                    <td colspan="3"><input class="inputstyletext" id="at_yy" size="10" maxlength="10" type="text" name="time_at" value="#getFieldValue('time_at')"/> &nbsp;$MESSAGES.getString('chronicle.form.time.format')</td>
                </tr>
            </table>
        </div>  
        <span class="clearer"></span>
        <div class="float_left">
            <h3><label class="alignleft" for="qry">#displayFieldLabel('search' "$MESSAGES.getString('chronicle.form.term')")</label></h3>
            <input class="qry_chronic inputstyletext" id="qry" name="search" value="#getHTMLEscapedFieldValue('search')"/>
        </div>  
        <span class="clearer"></span>
    </div>
    <div class="formfooter formfooter_border_style">
        <div align="right">
            #renderInputButtonSearchClass($MESSAGES.getString('common.form.button.show') "" "" $MESSAGES.getString('common.form.button.show.tooltip') "float_right")
        </div>
    </div>
</form>