#renderPortletTitle($MESSAGES.getString('javax.portlet.title') $MESSAGES.getString('javax.portlet.title'))

#set ($action = $renderResponse.createActionURL())
<h4>#displayFieldLabel('event' "$MESSAGES.getString('chronicle.form.eventtype')")</h4>
<form action="$action" method="post" enctype="" name="chronicle_search" id="chronicle_search">
    #displayFormErrors()
    <div class="media__body">
		<div class="field-toggle field-toggle--check bx-bot-xs">
			<input id="chk_all" name="event" type="checkbox" value="all" onclick="ingrid_checkAll(document.chronicle_search)" onkeypress="ingrid_checkAll(document.chronicle_search)" #getChecked('event' 'all')>
			<label class="field-toggle__label field-toggle__label--boxed" for="chk_all">
				<div class="field-toggle__icon field-toggle__icon-alt">
					<svg class="icon">
						<use xlink:href="#tick">
					</svg>
				</div>
				$MESSAGES.getString('chronicle.form.allEventtypes')
			</label>
		</div>
		#set ($numEvtypes = $evtypesList.size())
		#foreach ($evtype in $evtypesList)
		<div class="field-toggle field-toggle--check bx-bot-xs">
			<input id="chk_$velocityCount" name="event" type="checkbox" value="$evtype.FormValue" onclick="ingrid_checkGroup(document.chronicle_search)" onkeypress="ingrid_checkGroup(document.chronicle_search)" #getChecked('event' "$evtype.FormValue")>
			<label class="field-toggle__label field-toggle__label--boxed" for="chk_$velocityCount">
				<div class="field-toggle__icon field-toggle__icon-alt">
					<svg class="icon">
						<use xlink:href="#tick">
					</svg>
				</div>
				$MESSAGES.getString("$evtype.QueryValue")
			</label>
		</div>
		#end
        <h4>#displayFieldLabel('time_select' "$MESSAGES.getString('chronicle.form.time')")</h4>
        <div class="media ob-clear">
            <div class="media__obj media__obj--left">
            	<strong class="tx-darkest">Auswahl</strong>
				<select class="js-selection" id="at_yy" name="time_select">
					<option id="vonbis" value="period" class="selection-options #if($actionForm.isCurrentInput('time_select', 'period')) is-active" selected #else " #end >von: ... bis: </option>
					<option id="am" value="date" class="selection-options #if($actionForm.isCurrentInput('time_select', 'date')) is-active" selected #else " #end >am: </option>
				</select>
            </div>
			<div for="vonbis" class="selection-content media__obj--left #if($actionForm.isCurrentInput('time_select', 'date')) is-hidden #end">
				<strong class="tx-darkest">#displayFieldLabel('time_from' "$MESSAGES.getString('chronicle.form.time.from')")</strong>
				<input id="from_yy" class="field--narrow bx-bot-xs" size="10" maxlength="10" type="text" name="time_from" value="#getFieldValue('time_from')"></input>
			</div>
			<div for="vonbis" class="selection-content media__obj--left #if($actionForm.isCurrentInput('time_select', 'date')) is-hidden #end">
				<strong class="tx-darkest">#displayFieldLabel('time_to' "$MESSAGES.getString('chronicle.form.time.to')")</strong>
				<input id="till_yy" class="field--narrow bx-bot-xs" size="10" maxlength="10" type="text" name="time_to" value="#getFieldValue('time_to')"></input>
			</div>
			<div for="am" class="selection-content media__obj--left #if($actionForm.isCurrentInput('time_select', 'period')) is-hidden #end">
				<strong class="tx-darkest">#displayFieldLabel('time_at' "$MESSAGES.getString('chronicle.form.time.at')")</strong>
				<input id="time_at" class="field--narrow bx-bot-xs" size="10" maxlength="10" type="text" name="time_at" value="#getFieldValue('time_at')"></input>
			</div>
        </div>
        <br>
        <h4>Suchbegriff</h4>
    	<div class="search-form ob-clear ob-container ob-flex">
	        <input class="field field--large" type="text" id="qry" name="search" value="#getHTMLEscapedFieldValue('search')"></input>
	    	<button class="btn btn--primary btn--medium btn--icon-transition">
				<svg class="icon mq-show-m">
					<use xlink:href="#magnifier" xmlns:xlink="http://www.w3.org/1999/xlink">
				</svg>
				<div class="mq-hide-m">$MESSAGES.getString('common.form.button.show')</div>
			</button>
		</div>
		<input type="hidden" name="action" value="doSearch"/>
    </div>
</form>
<hr>
