<div class="portlet-section-body">
#if($snsAnniversary.years && $snsAnniversary.title)
    <p class="iconLink">
	  <strong>Vor $snsAnniversary.years Jahren: $snsAnniversary.title</strong> ($snsAnniversary.from#if($snsAnniversary.until) - $snsAnniversary.until#end)<br/><br/>
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doTeaser')
$action.setParameter('topId',"$!snsAnniversary.topicId")
$action.setParameter('topType',"$!snsAnniversary.type")
$action.setParameter('topFrom',"$!snsAnniversary.from")
$action.setParameter('topTo',"$!snsAnniversary.to")
$action.setParameter('topTerm',"$!snsAnniversary.term")
	  <a href="$action"><span class="icon"><img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="interner Link" /></span>Details</a>
      <span class="clearer"></span>
    </p>
#else
    <p class="iconLink">
	  <span><strong>Kein Jahrestag gefunden.</strong></span>
      <span class="clearer"></span>
    </p>
#end
    <p class="iconLink">
      <span class="icon"><img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="interner Link" /></span>
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doTeaser')
      <span><a href="$action">Weitere Umweltereignisse</a></span>
      <span class="clearer"></span>
    </p>
</div>
