      <p>Das Formular mit Ihren Eingaben wurde erfolgreich abgesendet. Die gewünschten Informationen oder gewünschte Antwort erhalten Sie so schnell wie möglich. Vielen Dank!</p>
      <h2>Telefon und Adresse</h2>
      <p>Sie erreichen unsere Zentrale telefonisch unter +49 (0)511 1203480.</p>

      <p>Ein Fax können Sie an den Anschluss +49 (0)511 120-3697 senden oder schreiben Sie uns:</p>

      <p>
      Niedersächsisches Umweltministerium<br />
      - Koordinierungsstelle UDK/gein<br />
      Archivstrasse 2<br />
      D-30167 Hannover<br />
      </p>
