<div class="portlet-section-body">
	<p class="iconLink">
		<span class="icon">
			<img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="interner Link" />
		</span>
		<span>
			<a href="portal/service-contact.psml">Zurück zum Kontaktformular</a>
		</span>
		<span class="clearer"></span>
	</p>
</div>