      <h2>$MESSAGES.getString('contact.newsletter.title')</h2>
$MESSAGES.getString('contact.newsletter.intro')
#set ($action = $renderResponse.createActionURL())
	<form action="$action" method="post" name="contact_newsletter" id="contact_newsletter">
		<input type="hidden" name="cmd" value="subscribe" />

            <div class="formbody formbody_border_style">
#displayFormErrorsByForm($actionForm1)
              <h2>$MESSAGES.getString('contact.newsletter.form.title')</h2>
              <h3>$MESSAGES.getString('contact.newsletter.form.required')</h3>
    			    <p>
    			      <label class="float_left col2left" for="firstname">#displayFieldLabelByForm($actionForm1 'firstname' "$MESSAGES.getString('contact.newsletter.form.firstname')")</label>
    			      <input class="float_left col2right inputstyletext" type="text" id="firstname" name="firstname" value="#getFieldValueByForm($actionForm1 'firstname')" />
                <span class="clearer"></span>    			  
    			    </p>

    			    <p>
    			      <label class="float_left col2left" for="lastname">#displayFieldLabelByForm($actionForm1 'lastname' "$MESSAGES.getString('contact.newsletter.form.lastname')")</label>
    			      <input class="float_left col2right inputstyletext" type="text" id="lastname" name="lastname" value="#getFieldValueByForm($actionForm1 'lastname')" />
                <span class="clearer"></span>
        	    </p>
    			    <p>
    			      <label class="float_left col2left" for="email">#displayFieldLabelByForm($actionForm1 'email' "$MESSAGES.getString('contact.newsletter.form.email')")</label>
    			      <input class="float_left col2right inputstyletext" type="text" id="email" name="email" value="#getFieldValueByForm($actionForm1 'email')" />
                <span class="clearer"></span>
        	    </p>
            </div>
	        <div class="formfooter formfooter_border_style">
              <div align="right">
              #renderInputButtonClass ($MESSAGES.getString('contact.newsletter.form.button.subscribe') "" "" $MESSAGES.getString('contact.newsletter.form.button.subscribe.tooltip') "float_right")
              </div>
            </div>
        </form>

        <div class="line_form"><hr /></div>
    <div>
      <p>     
        $MESSAGES.getString('contact.newsletter.text.unsubscribe')
      </p>
    </div>
    <div class="section">
		<form action="$action" method="post" name="contact_newsletter_unsubscribe" id="contact_newsletter_unsubscribe">
		<input type="hidden" name="cmd" value="unsubscribe" />
		<div class="formbody formbody_border_style">
#displayFormErrorsByForm($actionForm2)

            <h2>$MESSAGES.getString('contact.newsletter.form2.title')</h2>
            <h3>$MESSAGES.getString('contact.newsletter.form.required')</h3>
    			  <p>
    			    <label class="float_left col2left" for="email">#displayFieldLabelByForm($actionForm2 'email' "$MESSAGES.getString('contact.newsletter.form.email')")</label>
    			    <input class="float_left col2right inputstyletext" type="text" id="email" name="email" value="#getFieldValueByForm($actionForm2 'email')" />
              <span class="clearer"></span>    			  
    			  </p>
        </div>

	      <div class="formfooter formfooter_border_style">
            <div align="right">
            	#renderInputButtonClass($MESSAGES.getString('contact.newsletter.form2.button.unsubscribe') "" "" $MESSAGES.getString('contact.newsletter.form2.button.unsubscribe.tooltip') "float_right")
            </div>
          </div>
		</form>
    </div>
