<article class="content ob-container ob-box-narrow ob-box-center">
    $contactIntroPostEmail
</article>
<section class="block block--padded">
    <div class="ob-box-wide ob-box-center">
        <article class="content ob-container ob-box-narrow ob-box-center">
            <h4>$MESSAGES.getString('contact.form')</h4>
            #set ($action = $renderResponse.createActionURL())
            <form action="$action" method="post" name="contact" id="contact" enctype="multipart/form-data">
                <!-- yummy fields -->
                <label class="yummy" for="message">message</label>
                <input type="text" class="yummy" id="message" name="message" autocomplete="off"  />
                <label class="yummy" for="name">name</label>
                <input type="text" class="yummy" id="name" name="name" autocomplete="off"  />
                <label class="yummy" for="email">email</label>
                <input type="text" class="yummy" id="email" name="email" autocomplete="off"  />
                <!-- real fields -->
                #renderMessageInfo($MESSAGES.getString('contact.form.required'))
                #displayFormError()
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="bemerkungen">$MESSAGES.getString('contact.form.message')*</label>
                    </div>
                    <div class="media__body">
                        <textarea name="user_message" id="bemerkungen" #addErrorFormClass('user_message')>#getFieldValue('user_message')</textarea>
                        #addErrorFormMessage('user_message')
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="xx2">$MESSAGES.getString('contact.form.firstname')</label>
                    </div>
                    <div class="media__body">
                        <input type="text" id="xx2" name="user_firstname" value="#getFieldValue('user_firstname')" #addErrorFormClass('user_firstname') />
                        #addErrorFormMessage('user_firstname')
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="xx3">$MESSAGES.getString('contact.form.lastname')</label>
                    </div>
                    <div class="media__body">
                        <input type="text" id="xx3" name="user_lastname" value="#getFieldValue('user_lastname')" #addErrorFormClass('user_lastname')/>
                        #addErrorFormMessage('user_lastname')
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="xx4">$MESSAGES.getString('contact.form.company')</label>
                    </div>
                    <div class="media__body">
                        <input type="text" id="xx4" name="user_company" value="#getFieldValue('user_company')"/>
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="xx5">$MESSAGES.getString('contact.form.phone')</label>
                    </div>
                    <div class="media__body">
                        <input type="text" id="xx5" name="user_phone" value="#getFieldValue('user_phone')"/>
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="xx6">$MESSAGES.getString('contact.form.email')</label>
                    </div>
                    <div class="media__body">
                        <input type="text" id="xx6" name="user_email" value="#getFieldValue('user_email')" #addErrorFormClass('user_email')/>
                        #addErrorFormMessage('user_email')
                    </div>
                </div>
                #if ($uploadEnable)
                    <div class="media">
                        <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                            <label >$MESSAGES.getString('contact.form.upload') $uploadSize MB)</label>
                        </div>
                        <div class="media__body">
                            <input type="file" id="upload" name="upload">
                        </div>
                    </div>
                #end
                <div class="media__obj media__obj--right" style="margin-bottom: 0;">
                    #renderInputButtonClass($MESSAGES.getString('common.form.button.submit') "" "" $MESSAGES.getString('common.form.button.submit.tooltip') "btn btn--primary btn--small")
                </div>
            </form>
        </article>
    </div>
</section>
<script >
    var error = $actionForm.hasErrors();
    if(error){
        goToByScroll('contact');
    }
</script>
