<article class="content ob-container ob-box-narrow ob-box-center">
    $contactIntroPostEmail
</article>
<section class="block block--padded">
    <div class="ob-box-wide ob-box-center">
        <article class="content ob-container ob-box-narrow ob-box-center">
            <h4>Kontaktformular</h4>
            #set ($action = $renderResponse.createActionURL())
            <form action="$action" method="post" name="contact" id="contact" enctype="multipart/form-data">
                #renderMessageInfo($MESSAGES.getString('contact.form.required'))
                #displayFormError()
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="bemerkungen">$MESSAGES.getString('contact.form.message')*</label>
                    </div>
                    <div class="media__body">
                        <textarea name="message" id="bemerkungen" #addErrorFormClass('message')>#getFieldValue('message')</textarea>
                        #addErrorFormMessage('message')
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="xx2">$MESSAGES.getString('contact.form.firstname')</label>
                    </div>
                    <div class="media__body">
                        <input type="text" id="xx2" name="firstname" value="#getFieldValue('firstname')" #addErrorFormClass('firstname') />
                        #addErrorFormMessage('firstname')
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="xx3">$MESSAGES.getString('contact.form.lastname')</label>
                    </div>
                    <div class="media__body">
                        <input type="text" id="xx3" name="lastname" value="#getFieldValue('lastname')" #addErrorFormClass('lastname')/>
                        #addErrorFormMessage('lastname')
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="xx4">$MESSAGES.getString('contact.form.company')</label>
                    </div>
                    <div class="media__body">
                        <input type="text" id="xx4" name="company" value="#getFieldValue('company')"/>
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="xx5">$MESSAGES.getString('contact.form.phone')</label>
                    </div>
                    <div class="media__body">
                        <input type="text" id="xx5" name="phone" value="#getFieldValue('phone')"/>
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="xx6">$MESSAGES.getString('contact.form.email')</label>
                    </div>
                    <div class="media__body">
                        <input type="text" id="xx6" name="email" value="#getFieldValue('email')" #addErrorFormClass('email')/>
                        #addErrorFormMessage('email')
                    </div>
                </div>
                #if ($uploadEnable)
                    <div class="media">
                        <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                            <label >$MESSAGES.getString('contact.form.upload') $uploadSize MB)</label>
                        </div>
                        <div class="media__body">
                            <input type="file" id="upload" name="upload"></input>
                        </div>
                    </div>
                #end
                #if($enableCaptcha)
                    <div class="media">
                        <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                            <label class="mq-hide-l">&nbsp;</label>
                        </div>
                        <div class="media__body">
                        #if ($actionForm.hasErrors() && !$actionForm.hasErrorInField("jcaptcha"))
                            <image width=210px height=70px class="float_left" src="/ingrid-portal-apps/jcaptcha?keep">
                        #else
                            <image width=210px height=70px class="float_left" src="/ingrid-portal-apps/jcaptcha">
                        #end 
                        </div>
                    </div>
                    <div class="media">
                        <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                            <label class="mq-hide-l">&nbsp;</label>    
                        </div>
                        #renderInputButtonClass($MESSAGES.getString('common.form.button.reload') "font-size:90%;" "doRefresh" $MESSAGES.getString('common.form.button.reload.tooltip') "btn btn--secondary btn--small")
                    </div>
                    $action.setParameter("doRefresh",  "Refresh")
                    <div class="media">
                        <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                            <label for="xx7">$MESSAGES.getString('contact.jcaptcha.title')</label>
                        </div>
                        <div class="media__body">
                            <input type="text" id="xx7" name="jcaptcha" value="#getFieldValue('jcaptcha')" #addErrorFormClass('jcaptcha')/>
                            #addErrorFormMessage('jcaptcha')
                        </div>
                    </div>
                #end
                <div class="media__obj media__obj--right" style="margin-bottom: 0;">
                    #renderInputButtonClass($MESSAGES.getString('common.form.button.submit') "" "" $MESSAGES.getString('common.form.button.submit.tooltip') "btn btn--primary btn--small")
                </div>
            </form>
        </article>
    </div>
</section>
<script >
    var error = $actionForm.hasErrors();
    if(error){
        goToByScroll('contact');
    }
</script>