<!--
NOTICE:
This is the default view template of the InfoPortlet.
If no view template is set via PSML preferences, tis one is displayed,
showing that the template is missing.
-->
<div class="portlet-section-body">
	<p>
		$MESSAGES.getString('info.default.content')
	</p>
</div>