#set ($contextPath = $renderRequest.getAttribute('org.apache.jetspeed.request.RequestContext').getRequest().getContextPath())
<a name="herausgeber"></a>
<h2>$MESSAGES.getString('disclaimer.publisher.title')</h2>
<p>$MESSAGES.getString('disclaimer.publisher.content')</p>
<h3>$MESSAGES.getString('disclaimer.publisher.address.title')</h3>
<p>
$MESSAGES.getString('disclaimer.publisher.address')
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/service-contact.psml"))
	<a href="$link">$MESSAGES.getString('disclaimer.publisher.contact')</a>
</p>
<br />
<a name="verantwortlich"></a>
<h2>$MESSAGES.getString('disclaimer.responsible.title')</h2>
<p>$MESSAGES.getString('disclaimer.responsible.content')</p>
<br />
<a name="realisierung"></a>
<h2>$MESSAGES.getString('disclaimer.realization.title')</h2>
<h3>
	<a href="http://www.gistec-online.de/" target="_new" title="$MESSAGES.getString('common.tooltip.link.extern')">$MESSAGES.getString('disclaimer.realization.company1')</a>
</h3>
<h3>
	<a href="http://www.media-style.com/" target="_new" title="$MESSAGES.getString('common.tooltip.link.extern')">$MESSAGES.getString('disclaimer.realization.company2')</a>
</h3>
<h3>
	<a href="http://www.wemove.com/contact.php" target="_new" title="$MESSAGES.getString('common.tooltip.link.extern')">$MESSAGES.getString('disclaimer.realization.company3')</a>
</h3>
<h3>
	<a href="http://www.chives.de/" target="_new" title="$MESSAGES.getString('common.tooltip.link.extern')">$MESSAGES.getString('disclaimer.realization.company4')</a>
</h3>
<br />
<a name="betrieb"></a>
<h2>$MESSAGES.getString('disclaimer.operation.title')</h2>     
<h3>
	<a href="http://www.technidata.de/" target="_new" title="$MESSAGES.getString('common.tooltip.link.extern')">$MESSAGES.getString('disclaimer.operation.company1')</a>
</h3>
<br />
<a name="haftung"></a>
<h2>$MESSAGES.getString('disclaimer.liability.title')</h2>     
<p>$MESSAGES.getString('disclaimer.liability.content')</p>
