<div class="portlet-section-body">
	<p class="iconLink2">
		<img src="/ingrid-portal-apps/images/icn_down.gif" alt="Pfeil" />&nbsp;&nbsp;&nbsp;<a href="portal/disclaimer.psml#herausgeber">Herausgeber</a>
	</p>       
	<p class="iconLink2">
		<img src="/ingrid-portal-apps/images/icn_down.gif" alt="Pfeil" />&nbsp;&nbsp;&nbsp;<a href="portal/disclaimer.psml#verantwortlich">Verantwortlich/Gesamtredaktion</a>
	</p>       
	<p class="iconLink2">
		<img src="/ingrid-portal-apps/images/icn_down.gif" alt="Pfeil" />&nbsp;&nbsp;&nbsp;<a href="portal/disclaimer.psml#realisierung">Realisierung</a>
	</p>       
	<p class="iconLink2">
		<img src="/ingrid-portal-apps/images/icn_down.gif" alt="Pfeil" />&nbsp;&nbsp;&nbsp;<a href="portal/disclaimer.psml#betrieb">Technischer Betrieb</a>
	</p>       
	<p class="iconLink2">
		<img src="/ingrid-portal-apps/images/icn_down.gif" alt="Pfeil" />&nbsp;&nbsp;&nbsp;<a href="portal/disclaimer.psml#haftung">Haftungsausschluss</a>
	</p>       
</div>