<a name="herausgeber">
</a>
	<h2>Herausgeber
	</h2>
	<p>PortalU wird von der Koordinierungsstelle UDK/GEIN im Niedersächsischen Umweltministerium auf der Grundlage der Bund-Länder-Verwaltungsvereinbarung UDK/ GEIN betrieben und weiterentwickelt.
	</p>
	<h3>Niedersächsisches Umweltministerium
	</h3>
	<p>
		- Koordinierungsstelle UDK/gein
		<br />
		Archivstrasse 2
		<br />
		D-30167 Hannover
		<br />
		<a href="kontakt.html">Kontakt
		</a>
	</p>
	<br />
	<a name="verantwortlich">
	</a>
	<h2>Verantwortliche Gesamtredaktion
	</h2>
	<p>
		Dr. Fred Kruse
	</p>
	<br />
	<a name="realisierung">
	</a>
	<h2>Realisierung
	</h2>
	<h3>
		<a href="http://www.gistec-online.de/" target="_new" title="Link öffnet in neuem Fenster">GIStec GmbH
		</a>
	</h3>
	<h3>
		<a href="http://www.media-style.com/" target="_new" title="Link öffnet in neuem Fenster">media style GmbH
		</a>
	</h3>
	<h3>
		<a href="http://www.wemove.com/contact.php" target="_new" title="Link öffnet in neuem Fenster">wemove digital solutions GmbH
		</a>
	</h3>
	<h3>
		<a href="http://www.chives.de/" target="_new" title="Link öffnet in neuem Fenster">chives - Büro für Webdesign Plus
		</a>
	</h3>
	<br />
	<a name="betrieb">
	</a>
	<h2>Technischer Betrieb
	</h2>     
	<h3>
		<a href="http://www.technidata.de/" target="_new" title="Link öffnet in neuem Fenster">TechniData AG
		</a>
	</h3>
	<br />
	<a name="haftung">
	</a>
	<h2>Haftungsausschluss
	</h2>     
	<p>Das Niedersächsische Umweltministerium übernimmt keine Verantwortung für die Inhalte von Websites, die über Links erreicht werden. Die Links werden bei der Aufnahme nur kursorisch angesehen und bewertet. Eine kontinuierliche Prüfung der Inhalte ist weder beabsichtigt noch möglich. Das Niedersächsische Umweltministerium distanziert sich ausdrücklich von allen Inhalten, die möglicherweise straf- oder haftungsrechtlich relevant sind oder gegen die guten Sitten verstoßen.
	</p>
