<script type="text/javascript">
	var djConfig = { isDebug: true, debugAtAllCosts: true };
</script>
<script type="text/javascript" src="/ingrid-portal-apps/dojo/dojo.js"></script>
<script type="text/javascript">
//	dojo.require("dojo.debug.console");
	dojo.require("dojo.widget.FilteringTable");
	dojo.require("dojo.widget.Dialog");
	dojo.hostenv.writeIncludes();
</script>

<style type="text/css">
	/***
		The following is just an example of how to use the table.
		You can override any class names to be used if you wish.
	***/
	table.filteringTable {
		font-family:Arial;
		font-size:12px;
		width: 700px;
		border:0px solid #ccc;
		border-collapse:collapse;
		cursor:default;
	}
	table.filteringTable th{
		padding:2px;
		font-weight:normal;
		color:#FFFFFF;
		background-color:#1B78B1;
	}
	table.filteringTable td{
		padding:2px;
		font-weight:normal;
		background-color:#FFFFFF;
	}
	table.filteringTable thead td, table.filteringTable thead th {
		background-repeat:no-repeat;
		background-position:top right;
		background-color:#1B78B1;
	}
	table.filteringTable thead td.selectedUp, table.filteringTable thead th.selectedUp {
		background-image:url(img/ft-headup.gif);
	}
	table.filteringTable thead td.selectedDown, table.filteringTable thead th.selectedDown {
		background-image:url(img/ft-headdown.gif);
	}
		
	table.filteringTable tbody {
		height: 200px;
		overflow-x:hidden;
		overflow-y: auto;
	}
	
	table.filteringTable tbody tr td{
		border-bottom:0px solid #ddd;
	}
	table.filteringTable tbody tr.alt td{
		background: #EFEFEF;
	}
	table.filteringTable tbody tr.selected td{
		background: yellow;
	}
	table.filteringTable tbody tr:hover td{
		background: #a6c2e7;
	}
	table.filteringTable tbody tr.selected:hover td{
		background:#ff9;
	}
	
	.loadingDialogUnderlay {
	  cursor:wait;
	}

</style>

<script src='/ingrid-portal-apps/dwr/interface/JDate.js'></script>
<script src='/ingrid-portal-apps/dwr/interface/IngridSearcher.js'></script>
<script src='/ingrid-portal-apps/dwr/engine.js'></script>

<script type='text/javascript'>
function handleGetData(str) {
  alert(str);
}
</script>

<p>Basic test. Call a method that returns the class name of the interfaced class.</p>
<input type="button" onclick="IngridSearcher.getClassName(handleGetData);" name="getName" value="getName"/>
<hr />


<script type='text/javascript'>

var filteringTable;
var dlg;

dojo.addOnLoad(function() {
	filteringTable = dojo.widget.createWidget("dojo:FilteringTable",{valueField: "myId"},dojo.byId("content"));
	for (var x = 0; x<resultColumns.length; x++) {
    	filteringTable.columns.push(filteringTable.createMetaData(resultColumns[x]));
    }
	
	// loading modal dialog
	dlg = dojo.widget.byId("DialogContent");
	dlg.bg.className = "loadingDialogUnderlay";
});

var resultColumns = [
	{ field: "iPlug" },
	{ field: "Score" },
	{ field: "Titel" }
];


var start = 0;
var endDoSearch = 0;
var end = 0;

function doSearch() {
  start = new Date().getTime();
  dlg.show();
  var q = document.getElementById("q").value;
  var h = document.getElementById("h").value;
  var t = document.getElementById("t").value;
  IngridSearcher.search(q, h, t, handleSearchResults)
}

function handleSearchResults(results) {
	endDoSearch = new Date().getTime();
	var hits = results["hits"];
    
	startClearTableData = new Date().getTime();
	filteringTable.store.clearData();
	startPrepareData = new Date().getTime();
	
	var data = new Array(hits.length);
	
	for (var x = 0; x<hits.length; x++) {
	    var obj = new Object();
		obj["myId"] = x;
		obj["iPlug"] = hits[x]["iPlugId"];
		obj["Score"] = hits[x]["score"];
		obj["Titel"] = hits[x]["detail"]["title"];
		data[x] = obj;
    }
	startPopulatingData = new Date().getTime();
  	filteringTable.store.setData(data);
  	dlg.hide();
	end = new Date().getTime();
	dojo.byId("benchmark").innerHTML = "search: " + (endDoSearch - start) + " ms ; populating: " + (end - endDoSearch) + " ms ; clearing data array: " + (startPrepareData - startClearTableData) + " ms ; prepare data array: " + (startPopulatingData - startPrepareData) + " ms ; populating data into component: " + (end - startPopulatingData) + "ms.";
}

</script>


<p>Submit a query to the ibus and display the results in a table.</p>
query: <input type="text" name="q" id="q" value="wasser ranking:score datatype:default"/> &nbsp; Anzahl Hits: <input type="text" name="h" id="h" value="10"/> &nbsp; timeout: <input type="text" name="t" id="t" value="10000"/>
<input type="button" onclick="doSearch()" name="search" value="Search"/>
<p></p>
<table id="content" style="width: 600px; height: 200px;" class="filteringTable"></table>
<p></p>
<div id="benchmark"></div>
<div dojoType="dialog" id="DialogContent" bgColor="white" bgOpacity="0.1" closeOnBackgroundClick="false"></div>
