#set ($action = $renderResponse.createActionURL())
<form action="$action" method="get" name="enviroment_search" id="enviroment_search">
	<div class="formbody">
		<h2 class="nospace">Auswahlkriterien
		</h2>
		<div class="float_left">
			<h3>
				<label for="xx2">Themen
				</label>
			</h3>
			<select class="env_themes inputstyle" name="spacial_relation" id="xx2" size="5" multiple="multiple">
				<option>------ Alles auswählen ------
				</option>
				<option>Abfall
				</option>
				<option>Altlasten
				</option>
				<option>Artenvielfalt
				</option>
				<option>Bauen
				</option>
				<option>Boden
				</option>
				<option>Chemikalien
				</option>
				<option>Energie
				</option>
				<option>Gentechnik
				</option>
				<option>Geologie
				</option>
				<option>Gesundheit
				</option>
				<option>Land/Forstwirtschaft
				</option>
				<option>Lärm
				</option>
				<option>Luft
				</option>
				<option>Naturschutz
				</option>
				<option>Strahlung
				</option>
				<option>Tierschutz
				</option>
				<option>Umweltinformationen
				</option>
				<option>Umweltwirtschaft
				</option>
				<option>Verkehr
				</option>
				<option>Wasser
				</option>
			</select>
		</div>
		<div class="float_left marginleft">
			<h3>
				<label for="xx3">Kategorien
				</label>
			</h3>
			<select class="funct_class inputstyle" name="spacial_relation" id="xx3" size="5" multiple="multiple">
				<option>------ Alles auswählen ------
				</option>
				<option>Rechtliches
				</option>
				<option>Konzeptionelles
				</option>
				<option>Statusberichte
				</option>
				<option>Umweltzustand
				</option>
				<option>Daten und Karten
				</option>
				<option>Risikobewertungen
				</option>
			</select>
		</div>  
		<span class="clearer">
		</span>
		<br style="line-height:10px" />
		<div class="float_left">
			<h3>
				<label for="xx4">Bund/Länder
				</label>
			</h3>
			<select class="spacial_relation inputstyle" name="spacial_relation" id="xx4" size="5" multiple="multiple">
				<option>------ Alles auswählen ------
				</option>
				<option>Bund
				</option>
				<option>Baden-Württemberg
				</option>
				<option>Bayern
				</option>
				<option>Berlin
				</option>
				<option>Brandenburg
				</option>
				<option>Bremen
				</option>
				<option>Hamburg
				</option>
				<option>Hessen
				</option>
				<option>Mecklenburg-Vorpommern
				</option>
				<option>Niedersachsen
				</option>
				<option>Nordrhein-Westfalen
				</option>
				<option>Rheinland-Pfalz
				</option>
				<option>Saarland
				</option>
				<option>Sachsen
				</option>
				<option>Sachsen-Anhalt
				</option>
				<option>Schleswig-Holstein
				</option>
				<option>Thüringen
				</option>
			</select>
		</div>
		<div class="float_left marginleft">
			<h3>Gruppierung
			</h3>
			<input type="radio" id="grouping_no" name="grouping" value="0" checked="checked" />
			<label class="radiogroup" for="grouping_no">Keine
			</label>
			<br />
			<input type="radio" id="grouping_partner" name="grouping" value="1" />
			<label class="radiogroup" for="grouping_partner">Bund/Länder
			</label>
			<br />
			<input type="radio" id="grouping_info" name="grouping" value="2" />
			<label class="radiogroup" for="grouping_info">Informationsanbieter
			</label>
			<br />
		</div>
		<br />
		<span class="clearer">
		</span>
	</div>
	<div class="formfooter">
		<div align="right">
			<input class="btn" type="submit" value="Anzeigen" />
		</div>
	</div>
</form>
