#set ($MESSAGES = $portletConfig.getResourceBundle($renderRequest.Locale))
#set ($action = $renderResponse.createActionURL())
<form action="$action" method="get" name="enviroment_search" id="enviroment_search">
	<div class="formbody">
		<h2 class="nospace">Auswahlkriterien
		</h2>
		#displayFormErrors()
		<div class="float_left">
			<h3>
				<label for="xx2">#displayFieldLabel('themes' $MESSAGES.getString('envSearch.themes'))
				</label>
			</h3>
			<select class="env_themes inputstyle" name="themes" id="xx2" size="5" multiple="multiple">
				#displayPartner()
			</select>
		</div>
		<div class="float_left marginleft">
			<h3>
				<label for="xx3">#displayFieldLabel('category' $MESSAGES.getString('envSearch.category'))
				</label>
			</h3>
			<select class="funct_class inputstyle" name="category" id="xx3" size="5" multiple="multiple">
				<option value="all" #getSelected('category' 'all')>------ Alles auswählen ------
				</option>
				<option value="leg" #getSelected('category' 'leg')>Rechtliches
				</option>
				<option value="con" #getSelected('category' 'con')>Konzeptionelles
				</option>
				<option value="sta" #getSelected('category' 'sta')>Statusberichte
				</option>
				<option value="env" #getSelected('category' 'env')>Umweltzustand
				</option>
				<option value="dat" #getSelected('category' 'dat')>Daten und Karten
				</option>
				<option value="ris" #getSelected('category' 'ris')>Risikobewertungen
				</option>
			</select>
		</div>  
		<span class="clearer">
		</span>
		<br style="line-height:10px" />
		<div class="float_left">
			<h3>
				<label for="xx4">#displayFieldLabel('partner' $MESSAGES.getString('envSearch.partner'))
				</label>
			</h3>
			<select class="spacial_relation inputstyle" name="partner" id="xx4" size="5" multiple="multiple">
				<option value="all" #getSelected('partner' 'all')>------ Alles auswählen ------
				</option>
				<option value="2" #getSelected('partner' '2')>Bund
				</option>
				<option value="3" #getSelected('partner' '3')>Baden-Württemberg
				</option>
				<option value="4" #getSelected('partner' '4')>Bayern
				</option>
				<option value="5" #getSelected('partner' '5')>Berlin
				</option>
				<option value="6" #getSelected('partner' '6')>Brandenburg
				</option>
				<option value="7" #getSelected('partner' '7')>Bremen
				</option>
				<option value="8" #getSelected('partner' '8')>Hamburg
				</option>
				<option value="9" #getSelected('partner' '9')>Hessen
				</option>
				<option value="10" #getSelected('partner' '10')>Mecklenburg-Vorpommern
				</option>
				<option value="11" #getSelected('partner' '11')>Niedersachsen
				</option>
				<option value="12" #getSelected('partner' '12')>Nordrhein-Westfalen
				</option>
				<option value="13" #getSelected('partner' '13')>Rheinland-Pfalz
				</option>
				<option value="14" #getSelected('partner' '14')>Saarland
				</option>
				<option value="15" #getSelected('partner' '15')>Sachsen
				</option>
				<option value="16" #getSelected('partner' '16')>Sachsen-Anhalt
				</option>
				<option value="17" #getSelected('partner' '17')>Schleswig-Holstein
				</option>
				<option value="18" #getSelected('partner' '18')>Thüringen
				</option>
			</select>
		</div>
		<div class="float_left marginleft">
			<h3>#displayFieldLabel('grouping' $MESSAGES.getString('envSearch.grouping'))
			</h3>
			<input type="radio" id="grouping_no" name="grouping" value="none" #getChecked('grouping' 'none')/>
			<label class="radiogroup" for="grouping_no">Keine
			</label>
			<br />
			<input type="radio" id="grouping_partner" name="grouping" value="partner" #getChecked('grouping' 'partner')/>
			<label class="radiogroup" for="grouping_partner">Bund/Länder
			</label>
			<br />
			<input type="radio" id="grouping_info" name="grouping" value="info" #getChecked('grouping' 'info')/>
			<label class="radiogroup" for="grouping_info">Informationsanbieter
			</label>
			<br />
		</div>
		<br />
		<span class="clearer">
		</span>
	</div>
	<div class="formfooter">
		<div align="right">
			<input class="btn" type="submit" value="Anzeigen" />
		</div>
	</div>
</form>
