#set ($action = $renderResponse.createActionURL())
<form action="$action" method="get" name="environment_search" id="environment_search">
   	<input type="hidden" name="action" value="doSearch"/>
	<div class="formbody formbody_border_style formbody_padding">
		<h2 class="nospace">$MESSAGES.getString('common.form.criteria')</h2>
		#displayFormErrors()
		<div class="float_left">
			<h3><label for="xx2">#displayFieldLabel('rubric' $MESSAGES.getString('envSearch.form.themes'))</label></h3>
			<select class="env_themes inputstyle" name="rubric" id="xx2" size="$list_number" multiple="multiple">
				<option value="all" #getSelectedFlag('rubric' 'all')>$MESSAGES.getString('common.form.selectAll')</option>
#foreach ($topic in $topicList)
<option value="$topic.FormValue" #getSelectedFlag('rubric' "$topic.FormValue")>$MESSAGES.getString("$topic.QueryValue")</option>
#end
			</select>
		</div>
		<div class="float_left marginleft" style="display:none;">
			<h3><label for="xx3">#displayFieldLabel('category' $MESSAGES.getString('envSearch.form.category'))</label></h3>
			<select class="funct_class inputstyle" name="category" id="xx3" size="5" multiple="multiple">
				<option value="all" #getSelectedFlag('category' 'all')>$MESSAGES.getString('common.form.selectAll')</option>
#foreach ($category in $categoryList)
<option value="$category.FormValue" #getSelectedFlag('category' "$category.FormValue")>$category.QueryValue</option>
#end
			</select>
		</div> 
#if($enable_provider)
		<span class="clearer"></span>
		<br style="line-height:10px" />
		<div class="float_left">
			<h3>#displayFieldLabel('partner' $MESSAGES.getString('common.form.partner'))</h3>
			<select class="spacial_relation inputstyle" name="partner" size="5" multiple="multiple">
				#displayPartner()
			</select>
		</div>
#end
#if($enable_grouping)
		<div class="float_left marginleft">
			<h3><label>#displayFieldLabel('grouping' $MESSAGES.getString('common.form.grouping'))</label></h3>
			<input type="radio" class="radio_button" id="grouping_no" name="grouping" value="none" #getChecked('grouping' 'none')/>
			<label class="radiogroup" for="grouping_no">$MESSAGES.getString('common.form.grouping.no')</label>
			<br />
#if(!$onePartnerOnly || $onePartnerOnly != "true")
			<input type="radio" class="radio_button" id="grouping_partner" name="grouping" value="partner" #getChecked('grouping' 'partner')/>
			<label class="radiogroup" for="grouping_partner">$MESSAGES.getString('common.form.grouping.partner')</label>
			<br />
#end
			<input type="radio" class="radio_button" id="grouping_info" name="grouping" value="provider" #getChecked('grouping' 'provider')/>
			<label class="radiogroup" for="grouping_info">$MESSAGES.getString('common.form.grouping.provider')</label>
			<br />
		</div>
#end
#if($enable_searchterm)
		<br style="line-height:10px" />
		<span class="clearer"></span>
		<div class="float_left">
			<h3><label for="q">#displayFieldLabel('q' $MESSAGES.getString('common.form.querystring'))</label></h3>
			<input class="qrystr inputstyletext" type="text" id="q" name="q" value="#getHTMLEscapedFieldValue('q')" />
		</div>
#end
		<span class="clearer"></span>
		<br />
	</div>
	<div class="formfooter formfooter_border_style formfooter_padding">
		<div align="right">
			#renderInputButtonSearchClass($MESSAGES.getString('common.form.button.show') "" "" $MESSAGES.getString('common.form.button.show.tooltip') "float_right")
		</div>
	</div>
</form>

<script language="JavaScript" type="text/javascript">
getAndSetMultiple(document.environment_search.rubric);
getAndSetMultiple(document.environment_search.category);
getAndSetMultiple(document.environment_search.partner);
</script>