#set ($MESSAGES = $portletConfig.getResourceBundle($renderRequest.Locale))
#set ($action = $renderResponse.createActionURL())
<form action="$action" method="get" name="environment_search" id="environment_search">
   	<input type="hidden" name="action" value="doSearch"/>
	<div class="formbody">
		<h2 class="nospace">Auswahlkriterien
		</h2>
		#displayFormErrors()
		<div class="float_left">
			<h3>
				<label for="xx2">#displayFieldLabel('rubric' $MESSAGES.getString('envSearch.themes'))
				</label>
			</h3>
			<select class="env_themes inputstyle" name="rubric" id="xx2" size="5" multiple="multiple">
				<option value="all" #getSelected('rubric' 'all')>------ Alles auswählen ------</option>
#foreach ($topic in $topicList)
<option value="$topic.FormValue" #getSelected('rubric' "$topic.FormValue")>$MESSAGES.getString("$topic.QueryValue")</option>
#end
			</select>
		</div>
		<div class="float_left marginleft">
			<h3>
				<label for="xx3">#displayFieldLabel('category' $MESSAGES.getString('envSearch.category'))
				</label>
			</h3>
			<select class="funct_class inputstyle" name="category" id="xx3" size="5" multiple="multiple">
				<option value="all" #getSelected('category' 'all')>------ Alles auswählen ------
				</option>
				<option value="Rechtliches" #getSelected('category' 'Rechtliches')>Rechtliches
				</option>
				<option value="Konzeptionelles" #getSelected('category' 'Konzeptionelles')>Konzeptionelles
				</option>
				<option value="Statusberichte" #getSelected('category' 'Statusberichte')>Statusberichte
				</option>
				<option value="Umweltzustand" #getSelected('category' 'Umweltzustand')>Umweltzustand
				</option>
				<option value="DatenKarten" #getSelected('category' 'DatenKarten')>Daten und Karten
				</option>
				<option value="Risikobewertungen" #getSelected('category' 'Risikobewertungen')>Risikobewertungen
				</option>
			</select>
		</div>  
		<span class="clearer">
		</span>
		<br style="line-height:10px" />
		<div class="float_left">
			<h3>
				<label for="xx4">#displayFieldLabel('partner' $MESSAGES.getString('envSearch.partner'))
				</label>
			</h3>
			<select class="spacial_relation inputstyle" name="partner" id="xx4" size="5" multiple="multiple">
				#displayPartner()
			</select>
		</div>
		<div class="float_left marginleft">
			<h3>#displayFieldLabel('grouping' $MESSAGES.getString('envSearch.grouping'))
			</h3>
			<input type="radio" id="grouping_no" name="grouping" value="none" #getChecked('grouping' 'none')/>
			<label class="radiogroup" for="grouping_no">Keine
			</label>
			<br />
			<input type="radio" id="grouping_partner" name="grouping" value="partner" #getChecked('grouping' 'partner')/>
			<label class="radiogroup" for="grouping_partner">Bund/Länder
			</label>
			<br />
			<input type="radio" id="grouping_info" name="grouping" value="info" #getChecked('grouping' 'info')/>
			<label class="radiogroup" for="grouping_info">Informationsanbieter
			</label>
			<br />
		</div>
		<br />
		<span class="clearer">
		</span>
	</div>
	<div class="formfooter">
		<div align="right">
			<input class="btn" type="submit" value="Anzeigen" />
		</div>
	</div>
</form>
