#set ($action = $renderResponse.createActionURL())
<div id="popupContent">
  <p class="optional-links">
    <img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="interner Link" /><a href="help.psml?hkey=index">zur Themenübersicht</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="interner Link" /><a href="javascript:window.close()">schließen</a>
  </p>
  <p class="clearer"></p> 
  <div class="line"><hr /></div>
		$help_content
</div>