<div class="portlet-section-body">
    <p>PortalU auf der EnviroInfo 2005 in Brno</p>
    <p class="iconLink">
      <span class="icon"><img src="/ingrid-portal-apps/images/icn_linkextern.gif" alt="externer Link" /></span>
      <span><a href="http://www.enviroinfo2005.org/" target="_new" title="Link öffnet in neuem Fenster">EnviroInfo 2005</a></span>
      <span class="clearer"></span>
    </p>
</div>