#macro (getSelected $lang)
    #if ($lang.equals($selectedLang)) selected="selected"#end
#end

#set ($action = $renderResponse.createActionURL())
<form action="$action" method="get" name="LanguageForm" id="LanguageForm" style="display:inline; ">
    <select name="lang" onchange="this.form.submit();" class="language_switch_style">
        #set($i=0)
        #foreach($lang in $languagesShort)
            <option value="$lang" #getSelected($lang)>$ListTool.get($languagesNames, $i)</option>
            #set($i=$i+1)
        #end
    </select>
    <noscript>
        <input class="btn" type="submit" style="padding:0;vertical-align:top;margin-top:1px;font-size:80%; color: #000000; height: 20px;" value=">" />
    </noscript>
</form>