#macro (getSelected $lang)
#if ($lang.equals($selectedLang))is-active#end
#end

#macro (getSelectedIcon)
#if ($lang.equals($selectedLang)) <svg class="icon"><use xlink:href="#tick"></use></svg>#end
#end

#macro (getSelectedValue)
    #set($i = 0)
    #set($index = 0)
    #foreach($ls in $languagesShort)
        #if($ls.equals($selectedLang))
            #set($index=$i)
        #end
        #set($i=$i+1)    
    #end
    $ListTool.get($languagesNames, $index)
#end

#set ($action = $renderResponse.createActionURL())
<div class="header__widget mq-hide-l">
    <a href="#" class="header__widget__toggle js-header-toggle language">
        <span class="header__widget__text">#getSelectedValue()</span>
        <svg class="header__widget__icon icon icon-xs"><use xlink:href="#arrow-thick"></use></svg>
    </a>
    <div class="metamenu">
        <form action="$action" method="get" name="LanguageForm" id="LanguageForm" style="display:inline; ">
            #set($i=0)
            #foreach($lang in $languagesShort)
                    <a class="metamenu__link link #getSelected($lang) language_$lang" onclick="submitform($(this), '$lang')">#getSelectedIcon($lang)$ListTool.get($languagesNames, $i)</a>
                #set($i=$i+1)
            #end
        </form>
    </div>
</div>

<script type="text/javascript">
function submitform(anchor, lang)
    {
        var form = anchor.closest('form');
        form.append('<input type="hidden" name="lang" value="'+ lang + '"/>');
        form.submit();
    }
</script>