#set ($action = $renderResponse.createActionURL())
<form action="$action" method="get" name="measures_search" id="measures_search">
   	<input type="hidden" name="action" value="doSearch"/>
	<div class="formbody">
		<h2 class="nospace">$MESSAGES.getString('common.form.criteria')</h2>
		#displayFormErrors()    
		<div class="float_left">  
			<h3>#displayFieldLabel('rubric' $MESSAGES.getString('measuresSearch.form.rubric'))</h3>
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<input id="chk_all" name="rubric" type="checkbox" onclick="ingrid_checkAll(document.measures_search.rubric)" onkeypress="ingrid_checkAll(document.measures_search.rubric)" value="all" #getChecked('rubric' 'all')/> 
						<label for="chk_all">$MESSAGES.getString('measuresSearch.form.rubric.all')</label>
					</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
#set ($numRubrics = $rubricList.size())
#foreach ($rubric in $rubricList)
#if($velocityCount==1 || $velocityCount==5 || $velocityCount==9)<tr>#end
					<td>
						<input id="chk_$velocityCount" name="rubric" type="checkbox" onclick="ingrid_checkGroup(document.measures_search.rubric)" onkeypress="ingrid_checkGroup(document.measures_search.rubric)" value="$rubric.FormValue" #getChecked('rubric' "$rubric.FormValue")/> 
						<label for="chk_$velocityCount">$MESSAGES.getString("$rubric.QueryValue")</label>
					</td>
#if($velocityCount==$numRubrics || $velocityCount==4 || $velocityCount==8)</tr>#end
#end
			</table>  
		</div>  
		<div class="clearer"></div>
		<br style="line-height:10px" />
		<div class="float_left">
			<h3><label for="xx4">#displayFieldLabel('partner' $MESSAGES.getString('common.form.partner'))</label></h3>
			<select class="spacial_relation inputstyle" name="partner" id="xx4" size="5" multiple="multiple">
				#displayPartner()
			</select>
		</div>
		<div class="float_left marginleft">
			<h3>#displayFieldLabel('grouping' $MESSAGES.getString('common.form.grouping'))</h3>
			<input type="radio" id="grouping_no" name="grouping" value="none" #getChecked('grouping' 'none')/>
			<label class="radiogroup" for="grouping_no">$MESSAGES.getString('common.form.grouping.no')</label>
			<br />
			<input type="radio" id="grouping_partner" name="grouping" value="partner" #getChecked('grouping' 'partner')/>
			<label class="radiogroup" for="grouping_partner">$MESSAGES.getString('common.form.grouping.partner')</label>
			<br />
			<input type="radio" id="grouping_info" name="grouping" value="provider" #getChecked('grouping' 'provider')/>
			<label class="radiogroup" for="grouping_info">$MESSAGES.getString('common.form.grouping.provider')</label>
			<br />
		</div>
		<br />
		<span class="clearer"></span>
	</div>
	<div class="formfooter">
		<div align="right"><input class="btn" type="submit" value="$MESSAGES.getString('common.form.button.show')" /></div>
	</div>
</form>
