<div class="portlet-section-body">
    <ul>
      <li>
        <p>
          Informationen über den aktuellen Zustand Ihrer Umwelt finden Sie in den Messwertseiten der Umweltbehörden.
        </p>
      </li>
    
      <li>
        <p>
          Sie können die Ergebnisliste auf die gewünschten Rubriken und geografischen Regionen einschränken.
        </p>
      </li>
    </ul>
</div>
		