#set ($userNameGiven = $userAttributes.get("user.name.given", null))
#set ($userNameFamily = $userAttributes.get("user.name.family", null))
<div class="section">
	<p>
		Willkommen#if($userNameGiven) $userNameGiven#end#if($userNameFamily) $userNameFamily#end!
		<br />
		Von hier aus haben Sie folgende erweiterte Funktionalitäten:
	</p>
	<ul class="internlinklist2">
		<li>
			<a href="index_loggedon.html">Ihre persönliche Startseite</a>
		</li>
		<li>
			<a href="portal/myportal-edit-account.psml">Nutzerprofil bearbeiten</a>
		</li>
		<li>
			<a href="mpu_personalisierung.html">Personalisierung</a>
		</li>
		<li>
			<a href="login/logout">Logout</a>
		</li>
	</ul>  
</div>