#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="create_account" id="create_account">
	<input type="hidden" name="cmd" value="form_sent" />
	<div class="formbody">
#displayFormErrors()
	<h3>* Pflichtangaben</h3>
		<p>
			<label class="float_left col2left alignleft" for="salutation">#displayFieldLabel('salutation' 'Titel/Anrede')</label>
			<select class="float_left inputstyle" name="salutation" id="salutation" size="1">
				<option value="1" #getSelected('salutation' '1')>Frau</option>
				<option value="2" #getSelected('salutation' '2')>Herr</option>
				<option value="3" #getSelected('salutation' '3')>Dr.</option>
				<option value="4" #getSelected('salutation' '4')>Prof.</option>
			</select>
			<span class="clearer"></span>
		</p>  
		<p>
			<label class="float_left col2left alignleft" for="firstname">#displayFieldLabel('firstname' 'Vorname*')</label>
			<input class="float_left col2right inputstyletext" type="text" id="firstname" name="firstname" value="#getFieldValue('firstname')" />
			<span class="clearer"></span>    			  
		</p>
		<p>
			<label class="float_left col2left alignleft" for="lastname">#displayFieldLabel('lastname' 'Nachname*')</label>
			<input class="float_left col2right inputstyletext" type="text" id="lastname" name="lastname" value="#getFieldValue('lastname')" />
			<span class="clearer"></span>
		</p>
		<p>
			<label class="float_left col2left alignleft" for="email">#displayFieldLabel('email' 'E-Mail*')</label>
			<input class="float_left col2right inputstyletext" type="text" id="email" name="email" value="#getFieldValue('email')" />
			<span class="clearer"></span>
		</p>
		<div class="line_form"><hr /></div>
		<p>
			<label class="float_left col2left alignleft" for="login">#displayFieldLabel('login' 'Benutzername*')</label>
			<input class="float_left col2right inputstyletext" type="text" id="login" name="login" value="#getFieldValue('login')" />
			<span class="clearer"></span>
		</p>
		<div class="line_form"><hr /></div>
		<p>
			<label class="float_left col2left alignleft" for="password">#displayFieldLabel('password' 'Passwort*')</label>
			<input class="float_left col2right inputstyletext" type="password" id="password" name="password" value="#getFieldValue('password')" />
			<span class="clearer"></span>
		</p>
		<p>
			<label class="float_left col2left alignleft" for="password_confirm">#displayFieldLabel('password_confirm' 'Wiederholung*')</label>
			<input class="float_left col2right inputstyletext" type="password" id="password_confirm" name="password_confirm" value="#getFieldValue('password_confirm')" />
			<span class="clearer"></span>
		</p>
		<div class="line_form"><hr /></div>
		<h3>Adressinformationen</h3>
		<p>
			<label class="float_left col2left alignleft" for="street">#displayFieldLabel('street' 'Straße')</label>
			<input class="float_left col2right inputstyletext" type="text" id="street" name="street" value="#getFieldValue('street')" />
			<span class="clearer"></span>
		</p>
		<p>
			<label class="float_left col2left alignleft" for="postalcode">#displayFieldLabel('postalcode' 'PLZ')</label>
			<input class="float_left col2right inputstyletext" type="text" id="postalcode" name="postalcode" value="#getFieldValue('postalcode')" />
			<span class="clearer"></span>
		</p>
		<p>
			<label class="float_left col2left alignleft" for="city">#displayFieldLabel('city' 'Ort')</label>
			<input class="float_left col2right inputstyletext" type="text" id="city" name="city" value="#getFieldValue('city')" />
			<span class="clearer"></span>
		</p>
		<div class="line_form"><hr /></div>
		<p>
			<label class="float_left col2left alignleft" for="attention">#displayFieldLabel('attention' 'Wie wurden Sie auf uns aufmerksam?')</label>
			<input class="float_left col2right inputstyletext" type="text" id="attention" name="attention" value="#getFieldValue('attention')" />
			<span class="clearer"></span>
		</p>
		<p>
			<label class="float_left col2left alignleft" for="age">#displayFieldLabel('age' 'Welcher Altersgruppe gehören Sie an?')</label>
			<select class="float_left inputstyle" name="age" size="1" id="age">
				<option value="1" #getSelected('age' '1')>&lt; 20</option>
				<option value="2" #getSelected('age' '2')>20 - 30</option>
				<option value="3" #getSelected('age' '3')>30 - 40</option>
				<option value="4" #getSelected('age' '4')>40 - 50</option>
				<option value="5" #getSelected('age' '5')>60 - 70</option>
				<option value="6" #getSelected('age' '6')>&gt; 70</option>
			</select>
			<span class="clearer"></span>
		</p>
		<p>
			<label class="float_left col2left alignleft" for="interest">#displayFieldLabel('interest' 'Ist Ihr Interesse beruflich oder privat?')</label>
			<select class="float_left inputstyle" name="interest" id="interest" size="1">
				<option value="1" #getSelected('interest' '1')>beruflich</option>
				<option value="2" #getSelected('interest' '2')>privat</option>
			</select>
			<span class="clearer"></span>
		</p>
		<p>
			<label class="float_left col2left alignleft" for="profession">#displayFieldLabel('profession' 'Welcher Berufsgruppe gehören Sie an?')</label>
			<select class="float_left inputstyle" size="1" id="profession" name="profession">
				<option value="0" #getSelected('age' '0')>---</option>
				<option value="1" #getSelected('age' '1')>Sch&uuml;ler</option>
				<option value="2" #getSelected('age' '2')>Handwerk/Technik</option>
				<option value="3" #getSelected('age' '3')>Umweltdienstleistungen</option>
				<option value="4" #getSelected('age' '4')>Beh&ouml;rde</option>
				<option value="5" #getSelected('age' '5')>Lehrer</option>
				<option value="6" #getSelected('age' '6')>Universit&auml;t</option>
				<option value="7" #getSelected('age' '7')>Medien</option>
				<option value="8" #getSelected('age' '8')>Anderes</option>
			</select>  
			<span class="clearer"></span>
		</p>
		<p>
			<label class="float_left col2left alignleft">PortalU Newsletter</label>
			<input type="checkbox" id="subscribe_newsletter" name="subscribe_newsletter" value="1" />&nbsp;<label for="subscribe_newsletter">Ich möchte den Newsletter abonnieren.</label>
			<span class="clearer"></span>
		</p>
	</div>
	<div class="formfooter">
		<div align="right">
			<input class="btn" type="submit" value="Konto erstellen" />
		</div>
	</div>
</form>