<div class="portlet-section-body">
	<p>Sie möchten jederzeit und überall schneller wissen, was los ist ?
		<br />Dann informiert Sie unser 
		<strong>Newsletter
		</strong> per Mail. Der Bezug ist kostenlos.
	</p>
	<p class="iconLink">
		<span class="icon"><img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="interner Link" /></span>
		<span><a href="kontakt_nl.html">Newsletter</a></span>
		<span class="clearer"></span>
	</p>
</div>