<div class="section">
	<p>$MESSAGES.getString('privacy.intro')
		<br />
	<ul>
		<li>$MESSAGES.getString('privacy.item1')
				<br />
				<br />
		</li>
		<li>$MESSAGES.getString('privacy.item2')
				<br />
				<br />
		</li>
		<li>$MESSAGES.getString('privacy.item3')
		</li>
	</ul>
	</p> 
</div>
