  <div class="resultset">
    <span class="result_title"><strong><span class="icon"><img src="/ingrid-portal-apps/images/icn_linkextern.gif" alt="externer Link" /></span><a href="http://www.bmu.de/pressemitteilungen/pressemitteilungen_ab_01012005/pm/35696.php" target="_new" title="Link öffnet in neuem Fenster">Umwelt macht Arbeit</a></strong><em class="date">, 01.07.2005</em></span>
    <p class="result_description">
      Neues Wirtschaftsmagazin des Bundesumweltministeriums erscheint am Wochenende als einmalige Zeitungsbeilage.
    </p>
    <p class="result_metadata">
      Rubrik: xx<br />
      Anbieter: Umweltministerium Brandenburg
    </p>

  </div>
  <div class="line"><hr /></div>
  <div class="resultset">
    <span class="result_title"><strong><span class="icon"><img src="/ingrid-portal-apps/images/icn_linkextern.gif" alt="externer Link" /></span><a href="http://www.bmu.de/pressemitteilungen/pressemitteilungen_ab_01012005/pm/35697.php" target="_new" title="Link öffnet in neuem Fenster">Kreislaufwirtschaft gestärkt</a></strong><em class="date">, 01.07.2005</em></span>
    <p class="result_description">
      Neue Regelung für schadstoffhaltige Abfälle.
    </p>
    <p class="result_metadata">

      Rubrik: xx<br />
      Anbieter: Umweltministerium Brandenburg
    </p>
  </div>
  <div class="line"><hr /></div>
  <div class="resultset">
    <span class="result_title"><strong><span class="icon"><img src="/ingrid-portal-apps/images/icn_linkextern.gif" alt="externer Link" /></span><a href="http://www.bmu.de/pressemitteilungen/pressemitteilungen_ab_01012005/pm/35697.php" target="_new" title="Link öffnet in neuem Fenster">Blauer Engel für elastische Fußbodenbeläge, Matratzen und elektrische Wärmepumpen</a></strong><em class="date">, 01.07.2005</em></span>
    <p class="result_description">

      Matratzen und Fußbodenbeläge können mit dem Blauen Engel gekennzeichnet werden, wenn sie die von der Jury Umweltzeichen festgelegten anspruchsvolle Kriterien zum Umwelt- und Gesundheitsschutz erfüllen. Damit die Produkte ...
    </p>
    <p class="result_metadata">
      Rubrik: xx<br />
      Anbieter: Umweltministerium Brandenburg
    </p>
  </div>
  <div class="line"><hr /></div>
  <br />

  <div class="ico_linkintern"><span style="font-size:75%"><a href="weitere_meldungen.html">weitere Meldungen</a></span></div>