<p>Weitere Meldungen unserer Anbieter sortiert nach Aktualität.</p>
#foreach($rssEntry in $rssEntries)
  <div class="resultset">
    <span class="result_title"><strong><span class="icon"><img src="/ingrid-portal-apps/images/icn_linkextern.gif" alt="externer Link" /></span><a href="$!rssEntry.link" target="_new" title="Link öffnet in neuem Fenster">$!rssEntry.title</a></strong><em class="date">, $!rssEntry.publishedDate</em></span>
    <p class="result_description">
      $!rssEntry.description
    </p>
    <p class="result_metadata">
      Rubrik: xx<br />
#if($rssEntry.author)
	  Anbieter: $rssEntry.author
#end	  
    </p>
  </div>
  <div class="line"><hr /></div>
#end	
<br />
<div class="ico_linkintern float_right"><p><a href="portal/default-page.psml">Zurück zur Startseite</a></p></div>
