#foreach($rssEntry in $rssEntries)
  <div class="resultset">
    <span class="result_title"><strong><span class="icon"><img src="/ingrid-portal-apps/images/icn_linkextern.gif" alt="externer Link" /></span><a href="$!rssEntry.link" target="_new" title="Link öffnet in neuem Fenster">$!rssEntry.title</a></strong><em class="date"> <nobr>$date.format('d.M.yyyy H:mm',$rssEntry.publishedDate)</nobr></em></span>
    <p class="result_description">
      $strutils.cutString($rssEntry.description, 350)
    </p>
    <p class="result_metadata">
      <br />
#if($rssEntry.author && $rssEntry.author != "")
	  Anbieter: $rssEntry.author
#end	  
    </p>

  </div>
  <div class="line"><hr /></div>
#end	
  <br />

  <div class="ico_linkintern"><span style="font-size:75%"><a href="portal/rss-news.psml">weitere Meldungen</a></span></div>