#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="formSaveMapUrl" id="formSaveMapUrl">
	<div class="formbody" style="width: 65%;">
	#displayFormErrors()
	<h3>
		<label>$MESSAGES.getString('maps.save.url.inputtitle')</label>
	</h3>
	<p>
		<input size="80" maxlength="250" type="text" name="mapurl" value=""/>
	</p>
	</div>
	<div class="formfooter" style="width:65%;">
		<div align="right">
			<input class="btn" type="submit" value="$MESSAGES.getString('common.form.button.save')" name="doSave" />
		</div>
	</div>
	<br></br>
	<table class="border fullwidth">
    #set ($colNames = ["tinyName", "tinyDate", "tinyConfig"])
    #set ($colTitles = [$MESSAGES.getString('maps.save.url.name'), $MESSAGES.getString('maps.save.url.date'), $MESSAGES.getString('maps.save.url.webadresse')])
    #renderDBHeader($colNames $colTitles)
    	#foreach ($dbEntity in $dbEntities)
    		#set ($rowId = $dbEntity.Id)
    		#set ($error = "")
    		
    		#if ($dbEntity.Error != "" && $dbEntity.Error != "component.monitor.general.error.none")
    			#set ($error = "ERROR")
    		#else
    				#set ($error = "OK")
    		#end
    		
    		#set ($rowValues = [$dbEntity.tinyName, $date.format('dd.MM.yyyy',$dbEntity.tinyDate), $UtilsString.cutString($dbEntity.tinyKey, 80,80)])
    	
            <tr height=50 style="border-bottom:1px groove grey;">
            	<td style="vertical-align:middle;" width=3%>
            		<input id="chk_$velocityCount" name="id" type="checkbox" value="$rowId" />
                </td>
            $action.setParameter("id", "$rowId")
            $action.setParameter("doUpdate",  $dbEntity.tinyKey)
            #foreach ($rowValue in $rowValues)
        		#if ($velocityCount == 3)
        			<td style="vertical-align:middle;" width=55%><a href="${request.scheme}://${request.serverName}:${request.serverPort}/ingrid-portal/portal/main-maps.psml?t=$dbEntity.tinyKey" name="doUpdate">$UtilsString.getShortURLStr("${request.scheme}://${request.serverName}:${request.serverPort}/ingrid-portal/portal/main-maps.psml?t=$dbEntity.tinyKey", 50)</a></td>
        		#elseif ($velocityCount == 2)
        			<td style="vertical-align:middle;" width=10%>$rowValue</td>
        		#elseif ($velocityCount == 1)
        			<td style="font-weight:bold;vertical-align:middle;color:#176798" width=32%>$rowValue</td>
        		#else
        		#end
        	#end
            </tr>
    	#end
		<tr height=50>
    		<td style="vertical-align:middle;">
        		<input name="all" type="checkbox" onclick="selectAll(this)"/>
            </td>
    		<td colspan="3" style="vertical-align:middle;color:#176798">
        		<label>$MESSAGES.getString('maps.save.url.useall')</label>
            </td>
        </tr>
		
	</table>
	<input class="btn" type="submit" value="$MESSAGES.getString('common.form.button.delete')" name="doDelete" />	
</form>

<script type="text/javascript">
	function selectAll(x) {
		a = new Boolean();
		for(var i=0,l=x.form.length; i<l; i++){
			if(x.form[i].name == 'all' && x.form[i].checked){
				a = true;
			}else if (x.form[i].name == 'all' && !x.form[i].checked){
				a = false;
			}
			
		}
		
		for(var i=0,l=x.form.length; i<l; i++){
			if(x.form[i].type == 'checkbox' && x.form[i].name != 'all'){
				x.form[i].checked=a;
			}
		}
								
	}
</script>

