  <div class="section">    
#set ($action = $renderResponse.createActionURL())
    <form action="$action" method="post" name="search_history" id="search_history">
      <input type="hidden" name="action" value="doSubmit"/>
      <div class="formbody">
        <div class="float_left">
          <h3>$MESSAGES.getString('searchHistory.title.lastQueries')</h3>
        </div>  
##        <div class="float_right">
###set ($action = $renderResponse.createActionURL())
##$action.setParameter('action','doShowAllQueries')
##            <div class="ico_linkintern"><p><a href="$action">$MESSAGES.getString('searchHistory.label.showAllQueries')</a></p></div>  
##        </div>
        <span class="clearer"></span>
        <ul class="internlinklist2">
#foreach($query in $queries)
		<li><a href="$query.url">$query.query</a> #if($query.ds == "2")<span class="smaller">$MESSAGES.getString('searchHistory.history.entry.type.address')</span>#elseif($query.ds == "3")<span class="smaller">$MESSAGES.getString('searchHistory.history.entry.type.research')</span>#end</li>
#end	
		</ul>
        <br />
##        <h3>$MESSAGES.getString('searchHistory.title.savedQueries')<span style="color:#FF0000"> (nur für eingeloggte Benutzer)</span></h3>
##          <ul class="internlinklist2">
##            <li><input id="chk_1_1" name="chk_1" type="checkbox" /> <a href="s_search_results.html">Forschungsprojekte Bund</a></li>
##            <li><input id="chk_1_2" name="chk_1" type="checkbox" /> <a href="s_search_results.html">Messwerte Niedersachsen</a></li>
##            <li><input id="chk_1_3" name="chk_1" type="checkbox" /> <a href="s_search_results.html">Metadaten Bund</a></li>
##            <li><input id="chk_1_4" name="chk_1" type="checkbox" /> <a href="s_search_results.html">Umweltverschmutzung Hessen</a></li>
##          </ul>
        <br />
##        <input class="btn" type="submit" value="$MESSAGES.getString('common.form.button.delete')" name="delete" />  
      </div>
    </form>
  </div>
