#* include service navigation component *#
#macro (includeFooterNavigation)
	<a href="/ingrid-portal/portal/disclaimer.psml" title="Impressum">Impressum</a>
	<a href="/ingrid-portal/portal/privacy.psml" title="Datenschutzbestimmung">Datenschutzbestimmung</a>
	<a href="mailto:webmaster@portalu.de" title="Webmaster">Webmaster</a>
#end

</div>
<div class="clearer"></div>
<div id="footermarginalcontainer">
  <div id="footermarginal">
    <!-- portlets go here -->
  &nbsp;
  </div>
</div>
<div class="clearer"></div>

<!-- footer block -->
<div id="footercontainer">
  <div id="footercontent">
    <!-- portlets go here -->
#includeFooterNavigation()
<br />
    Copyright &copy; Koordinierungsstelle PortalU im Nds. Ministerium f&uuml;r Umwelt und Klimaschutz<br />

    Alle Rechte vorbehalten<br /><br />
  </div>
</div>

</div>

#if($piwik != "")
<!--  END: layout/html/portalu/decorator.vm -->
<!-- Piwik -->
<script type="text/javascript">
	var pkBaseURL = '${piwik}';
	var piwikTracker;
	var host = location.host; 
		
	document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
	
	try {
		piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
		piwikTracker.trackPageView();
		piwikTracker.enableLinkTracking();
	} catch( err ) {
	}
</script>
<noscript>
	<p>
		<img src="http://portalu.de/piwik/piwik.php?idsite=1" style="border:0" alt=""/>
	</p>
</noscript>
<!-- End Piwik Tag -->
#end

</body>
</html>