#macro (renderTitleLine $entry)
	#if($tool.hasContent($entry.title))
		<strong>$entry.title:</strong><br />
    #end
#end

#macro (renderTextLine $entry)
	#if($tool.hasContent($entry.body))
		#if($tool.hasContent($entry.title))$entry.title #end$entry.body<br />
    #end
#end

#macro (renderTextLinkLine $entry)
	#if($tool.hasContent($entry.body))
		#if($tool.hasContent($entry.title))$entry.title #end<a href="$entry.href" alt="$entry.altText">$entry.body</a><br />
    #end
#end


#macro (renderEntryInLine $entry)
	#if($tool.hasContent($entry.body))
		<p>#if($tool.hasContent($entry.title))<strong>$entry.title:</strong> #end$entry.body</p>
    #end
#end

#macro (renderEntry $entry)
	#if($tool.hasContent($entry.body))
		<p>#if($tool.hasContent($entry.title))<strong>$entry.title:</strong><br />#end$entry.body</p>
    #end
#end

#macro (renderLinkList $entry)
	#if($tool.hasContent($entry.get("linkList")))
		<p>#if($tool.hasContent($entry.title))<strong>$entry.title:</strong><br />#end
		#foreach($link in $sorter.sort($entry.linkList,"title"))
			#renderLinkLine($link)
		#end
		</p>
	#end
#end

#macro (renderLinkLine $entry)
	#if($entry.hasLinkIcon)
		#if($entry.iconImage)
		<span class="icon_udk">
			<img src="/ingrid-portal-apps/images/$entry.iconImage" alt="$entry.iconImageAltText" />
		#else
		<span class="icon">
		#if($entry.isExtern)
			<img src="/ingrid-portal-apps/images/icn_linkextern.gif" alt="$MESSAGES.getString('common.alt.icon.extern')" />
		#else
			<img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="$MESSAGES.getString('common.alt.icon.intern')" />
		#end
		#end
		</span>
	#end
	#if($entry.isExtern)
		<a href="$entry.href" alt="$MESSAGES.getString('common.alt.icon.extern')">$entry.title</a><br />
	#else
		<a href="$entry.href" alt="$MESSAGES.getString('common.alt.icon.intern')">$entry.title</a><br />
	#end	
#end

#macro (renderTable $entry)
	#if($tool.hasContent($entry.get("body")))
		<p>#if($tool.hasContent($entry.title))<strong>$entry.title:</strong><br />#end
		<table class="border" border="1">
		#if($tool.hasContent($entry.get("head")))
			<thead><tr>
			#foreach($th in $entry.head)
				<th>$th</th>
			#end
			</tr></thead>
		#end
		<tbody>
		#foreach($tr in $entry.body)
		<tr>
			#foreach($td in $tr)
			<td>$td</td>
			#end
		</tr>
		#end
		</tbody>
		</table>
		</p>
	#end
#end


#macro (renderUdkClass $entry)
	#if($tool.hasContent($entry.udkClass))
		<p class="float_left"><span class="icon_udk_detail"><img src="/ingrid-portal-apps/images/icn_udk_obj_${entry.get("udkClass")}.gif" alt="${entry.get("udkClassName")}" /></span>&nbsp;<strong>${entry.get("udkClassName")}</strong>&nbsp;<span class="smaller">$MESSAGES.getString('search.detail.object.class')</span></p>
		<span class="clearer"></span>
    #end
#end

#macro (renderAddressType $entry)
	#if($tool.hasContent($entry.addressType))
		<p class="float_left"><span class="icon_udk_detail"><img src="/ingrid-portal-apps/images/icn_udk_adr_${entry.get("addressType")}.gif" alt="${entry.get("addressTypeName")}" /></span>&nbsp;<strong>${entry.get("addressTypeName")}</strong>&nbsp;<span class="smaller">$MESSAGES.getString('search.detail.category')</span></p>
		<span class="clearer"></span>
    #end
#end


#macro (renderLine $entry)
	#if($tool.hasContent($entry.udkClass))
		<p class="float_left"><span class="icon_udk_detail"><img src="/ingrid-portal-apps/images/icn_udk_obj_${entry.get("udkClass")}.gif" alt="${entry.get("udkClassName")}" /></span>&nbsp;<strong>${entry.get("udkClassName")}</strong>&nbsp;<span class="smaller">$MESSAGES.getString('search.detail.object.class')</span></p>
		<span class="clearer"></span>
    #end
#end


#macro (renderMultiLine $entry)
	#if($tool.hasContent($entry.elements))
		<p>#if($tool.hasContent($entry.title))<strong>$entry.title:</strong><br />#end
        #if($entry.sort=="false")
            #set($elements = $entry.elements)
        #else
            #set($elements = $sorter.sort($entry.elements,"body"))
        #end
		#foreach($e in $elements)
			#if($e.type=="multiLine")
				#renderMultiLine($e)
			#elseif($e.type=="textLine")
				#renderTextLine($e)
			#elseif($e.type=="textLinkLine")
				#renderTextLinkLine($e)
			#elseif($e.type=="linkLine")
				#renderLinkLine($e)
			#elseif($e.type=="line")
				<div class="line"><hr /></div><br/>
			#elseif($e.type=="space")
				<br />
			#end
		#end		
		</p>
    #end
#end


## ***************************
## include the header here
## ***************************
#set($pageTitle = $data.get("general").get("title"))
#set($pageDescription = $pageTitle)
#foreach($e in $data.elements)
	#if($e.type=="entry" && !$e.title)
		## does not work!?
		##set($pageDescription = $pageDescription + $e.body)
		#set($pageDescription = $e.body)
	#end
#end
#set($pageDescription = $pageDescription.replace('"',"'"))
#set($pageDescription = $stringTool.cutString($pageDescription,300))
#parse('WEB-INF/templates/search_detail_header.vm')

#set ($action = $renderResponse.createActionURL())
<div id="content_full">
## render "zurueck" link if no IngridSession (entry via google)
#if($noIngridSession)
	<div class="section-header">
		<p class="iconLink">
    		<span class="icon"><img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="$MESSAGES.getString('common.alt.icon.intern')" /></span>
    		<span><a href="portal/default-page.psml">$MESSAGES.getString('search.detail.back')</a></span>
    		<span class="clearer"></span>
		</p>
	</div>
#end

#if($data)
	<div class="section-header">
		<h1>$data.get("general").get("title")</h1>
		#if($data.get("general").get("modTime"))<p class="float_right"><span class="smaller">$MESSAGES.getString('search.detail.last.changed') $data.get("general").get("modTime")</span></p>#end
	</div>
	<span class="clearer"></span>
	<div class="section">
		#foreach($e in $data.elements)
			#if($e.type=="entry")
				#renderEntry($e)
			#elseif($e.type=="multiLine")
				#renderMultiLine($e)
			#elseif($e.type=="entryInline")
				#renderEntryInLine($e)
			#elseif($e.type=="linkList")
				#renderLinkList($e)
			#elseif($e.type=="table")
				#renderTable($e)
			#elseif($e.type=="udkClass")
				#renderUdkClass($e)
			#elseif($e.type=="addressType")
				#renderAddressType($e)
			#elseif($e.type=="textLine")
				#renderTextLine($e)
			#elseif($e.type=="linkLine")
				#renderLinkLine($e)
			#elseif($e.type=="textLinkLine")
				#renderTextLinkLine($e)
			#elseif($e.type=="line")
				<div class="line"><hr /></div><br/>
			#elseif($e.type=="space")
				<p></p>
			#end
		#end
	</div>
#else
	<p><strong>$MESSAGES.getString("error_no_details_available")</strong></p>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
#end	
</div>

## ***************************
## include the footer here
## ***************************
#parse('WEB-INF/templates/search_detail_footer.vm')