#macro (renderUDKEntry $r $entryName)
	#if($r.get($entryName))
		<p><strong>$entryName:</strong><br>
		$r.get($entryName)
		</p>
    #end
#end

#macro (renderRec $record $level)
	#foreach($key in $record.keySet())
		#set($level = $level + 1)
		#if($record.get($key).get(0))
			#set($newRenderRecord = $record.get($key).get(0))
    		<p><strong>$key:</strong><br>
			<div class="line"><hr /></div>
			#renderRec($newRenderRecord $level)
    		<div class="line"><hr /></div>
		#else
			#if($key != "summary" && $key != "title")
				#renderUDKEntry($record $key)
			#end
		#end	
		#set($level = $level - 1)
	#end	
#end

#set ($action = $renderResponse.createActionURL())
<div id="content_full">
#if($rec)
	<div class="section-header">
		<h1>$rec.get("title")</h1>
	</div>
	<span class="clearer"></span>
	<div class="section">
	<p class="float_right"></p>
	<p class="float_left"></p>
	<span class="clearer"></span>
	<p>#if($rec.get("summary"))$rec.get("summary")#end</p>
    <div class="line"><hr /></div>
	#renderRec($rec 0)
	</div>
#else
	<p><strong>$MESSAGES.getString("error_no_details_available")</strong></p>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
#end	
</div>
