#macro (renderRecord $myRecord $level)
	#foreach($column in $myRecord.getColumns())
		<p><strong>$MESSAGES.getString($column.getTargetName()):</strong><br />$!myRecord.getValueAsString($column)</p>
    #end
   	<div class="line"><hr /></div>
   	#set($level = $level + 1)
	#foreach($mySubRecord in $myRecord.getSubRecords())
		#renderRecord($mySubRecord $level)
	#end
#end

#macro (renderUDKEntry $r $entryName)
	#if($tool.hasContent($r.get($entryName)))
		<p><strong>$MESSAGES.getString($entryName):</strong><br/>
		$r.get($entryName)<br/>
		</p>
    #end
#end

#macro (renderUDKEntryInLine $r $entryName)
	#if($tool.hasContent($r.get($entryName)))
		<p><strong>$MESSAGES.getString($entryName):</strong> $r.get($entryName)<br/></p>
    #end
#end


#macro (renderUDKEntrySuffix $r $entryName $suffix)
	#if($tool.hasContent($r.get($entryName)))
		<p><strong>$MESSAGES.getString($entryName):</strong><br/>
		$r.get($entryName)#if($suffix) $suffix#end<br/>
		</p>
    #end
#end

#macro (renderUDKEntrySuffixInLine $r $entryName $suffix)
	#if($tool.hasContent($r.get($entryName)))
		<p><strong>$MESSAGES.getString($entryName):</strong> $r.get($entryName)#if($suffix) $suffix#end<br/></p>
    #end
#end


#macro (renderSuperiorReferences)
	#if($tool.hasContent($superiorReferences))
		<p><strong>$MESSAGES.getString("superior_references"):</strong><br/>
		#foreach($ref in $superiorReferences)
		<span class="icon">
			<img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="interner Link" />
		</span>
		#set ($action = $renderResponse.createActionURL())
		$action.setParameter('cmd', "doShowDocument")
		$action.setParameter('docid', "$ref.getId()")
		$action.setParameter('plugid', "$ref.getPlugId()")
		#set($altDocId = $ref.get("alt_document_id"))
		#if($altDocId)$action.setParameter('altdocid', "$altDocId")#end
		<a href="$action" alt="interner Link">$ref.detail.title</a><br/>
		#end
		</p>
	#end
#end

#macro (renderSubordinatedReferences)
	#if($tool.hasContent($subordinatedReferences))
		<p><strong>$MESSAGES.getString("subordinated_references"):</strong><br/>
		#foreach($ref in $subordinatedReferences)
		<span class="icon">
			<img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="interner Link" />
		</span>
		#set ($action = $renderResponse.createActionURL())
		$action.setParameter('cmd', "doShowDocument")
		$action.setParameter('docid', "$ref.getId()")
		$action.setParameter('plugid', "$ref.getPlugId()")
		#set($altDocId = $ref.get("alt_document_id"))
		#if($altDocId)$action.setParameter('altdocid', "$altDocId")#end
		<a href="$action" alt="interner Link">$ref.detail.title</a><br/>
		#end
		</p>
	#end
#end

#macro (renderCrossReferences)
	#if($tool.hasContent($crossReferences))
		<p><strong>$MESSAGES.getString("cross_references"):</strong><br/>
		#foreach($ref in $crossReferences)
		<span class="icon">
			<img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="interner Link" />
		</span>
		#set ($action = $renderResponse.createActionURL())
		$action.setParameter('cmd', "doShowDocument")
		$action.setParameter('docid', "$ref.getId()")
		$action.setParameter('plugid', "$ref.getPlugId()")
		#set($altDocId = $ref.get("alt_document_id"))
		#if($altDocId)$action.setParameter('altdocid', "$altDocId")#end
		<a href="$action" alt="interner Link">$ref.detail.title</a><br/>
		#end
		</p>
	#end
#end


#macro (renderWWWReferences)
	#if($tool.hasContent($rec.get("t017_url_ref.obj_id")))
		<p><strong>$MESSAGES.getString("www_references"):</strong><br/>
		#foreach($t017_url_ref in $rec.get("t017_url_ref.obj_id"))
		<span class="icon">
			<img src="/ingrid-portal-apps/images/icn_linkextern.gif" alt="externer Link" />
		</span>
		<a href="$t017_url_ref.get("t017_url_ref.url_link")" target="_new" alt="externer Link">$t017_url_ref.get("t017_url_ref.content")</a><br/>
		#end
		</p>
	#end
#end

#macro (renderUDKAddress)
    #if($tool.hasContent($rec.get("t012_obj_adr.obj_id")))
    	<div class="line"><hr /></div><br/>
    	#foreach($myAddressType in $rec.get("t012_obj_adr.obj_id"))
    		#set($addressId = $myAddressType.get("t02_address.adr_id"))
			#set($addressType = $myAddressType.get("t012_obj_adr.typ"))
			#if($addressType == "999")
				#set($addressTypeKeyName = $myAddressType.get("t012_obj_adr.special_name"))
				<p><strong>$addressTypeKeyName:</strong><br/>
			#else
				#set($addressTypeKeyName = "t012_obj_adr.typ$addressType")
				<p><strong>$MESSAGES.getString($addressTypeKeyName):</strong><br/>
			#end	
        	#foreach($myAddress in $myAddressType.get("t02_address.adr_id"))
				#if($myAddress.get("t02_address.typ") == "1" || $myAddress.get("t02_address.typ") == "2")
					#set($institutions = $addrParents.get($myAddress.get("t02_address.adr_id")).get("institutions"))
					#foreach($institution in $institutions)
						#set($instituteAddrId = $institution.detail.get("T02_address.adr_id"))
        				#set ($action = $renderResponse.createActionURL())
                		$action.setParameter('cmd', "doShowAddressDetail")
                		$action.setParameter('addrId', "$instituteAddrId")						
						<a href="$action">$institution.detail.title</a><br/>
					#end	
					#set($units = $addrParents.get($myAddress.get("t02_address.adr_id")).get("units"))
					#foreach($unit in $units)
						#set($unitAddrId = $unit.detail.get("T02_address.adr_id"))
        				#set ($action = $renderResponse.createActionURL())
                		$action.setParameter('cmd', "doShowAddressDetail")
                		$action.setParameter('addrId', "$unitAddrId")						
						<a href="$action">$unit.detail.title</a><br/>
					#end
				#end
				#set ($action = $renderResponse.createActionURL())
        		$action.setParameter('cmd', "doShowAddressDetail")
        		$action.setParameter('addrId', $myAddress.get("t02_address.adr_id"))
				#if($myAddress.get("t02_address.typ") == "0" || $myAddress.get("t02_address.typ") == "3")
					#if($myAddress.get("t02_address.institution"))<a href="$action">$myAddress.get("t02_address.institution")</a><br/>#end
				#end
   				#if($myAddress.get("title") && $myAddress.get("title")!="")$myAddress.get("title")<br/>#end
				#if($myAddress.get("t02_address.lastname") && $myAddress.get("t02_address.lastname") != "")
					<a href="$action">
					#if($myAddress.get("t02_address.address"))$myAddress.get("t02_address.address")#end
    				#if($myAddress.get("t02_address.title"))$myAddress.get("t02_address.title")#end
    				#if($myAddress.get("t02_address.firstname"))$myAddress.get("t02_address.firstname")#end
    				#if($myAddress.get("t02_address.lastname"))$myAddress.get("t02_address.lastname")<br/>#end
    				</a>
				#end	
				#if($myAddress.get("t02_address.job") && $myAddress.get("t02_address.job") != "")$myAddress.get("t02_address.job")<br/>#end
				#if($myAddress.get("t02_address.descr") && $myAddress.get("t02_address.descr") != "")$myAddress.get("t02_address.descr")<br/>#end
				#if($myAddress.get("t02_address.postbox") && $myAddress.get("t02_address.postbox") != "")
					$MESSAGES.getString("postbox_label") $myAddress.get("t02_address.postbox")<br/>
					#if($myAddress.get("t02_address.postbox_pc"))#if($myAddress.get("t02_address.state_id"))$myAddress.get("t02_address.state_id")-#end$myAddress.get("t02_address.postbox_pc") $myAddress.get("city")<br/><br/>#end 
				#else
    				#if($myAddress.get("street"))$myAddress.get("street")<br/>#end
    				#if($myAddress.get("t02_address.state_id"))$myAddress.get("t02_address.state_id")-#end
    				#if($myAddress.get("zip"))$myAddress.get("zip")#end
    				#if($myAddress.get("city"))$myAddress.get("city")<br/><br/>#end
				#end
				#foreach($myCommunication in $myAddress.get("t021_communication.adr_id"))
					#if($myCommunication.get("t021_communication.comm_type") == "Telefon")
						$MESSAGES.getString("t021_communication.comm_type_phone"): $myCommunication.get("t021_communication.comm_value")<br/>
					#elseif($myCommunication.get("t021_communication.comm_type") == "Fax")
						$MESSAGES.getString("t021_communication.comm_type_fax"): $myCommunication.get("t021_communication.comm_value")<br/>
					#elseif($myCommunication.get("t021_communication.comm_type") == "E-Mail" || $myCommunication.get("t021_communication.comm_type") == "EMail" || $myCommunication.get("t021_communication.comm_type") == "Email" || $myCommunication.get("t021_communication.comm_type") == "E-Mail")
						$MESSAGES.getString("t021_communication.comm_type_email"): <a href="mailto:$myCommunication.get("t021_communication.comm_value")">$myCommunication.get("t021_communication.comm_value")</a><br/>
					#elseif($myCommunication.get("t021_communication.comm_type") == "URL" || $myCommunication.get("t021_communication.comm_type") == "url")
						$myCommunication.get("t021_communication.comm_type"): <a href="$myCommunication.get("t021_communication.comm_value")" target="_new">$myCommunication.get("t021_communication.comm_value")</a><br/>
					#else
						$myCommunication.get("t021_communication.comm_type"): $myCommunication.get("t021_communication.comm_value")<br/>
					#end	
				#end
			#end
			</p>
    	#end
    #end
#end

#macro (renderUDKSubjectReference $udkClass)
	#if($udkClass == "5" && $rec.get("t011_obj_data.obj_id"))
		#foreach($myData in $rec.get("t011_obj_data.obj_id"))    			
			#if($tool.hasContent($myData.get("t011_obj_data.base")) || $tool.hasContent($myData.get("t011_obj_data.description")))
				#if($velocityCount == 1)<div class="line"><hr /></div><br/>#end
            	#if($myData.get("t011_obj_data_para.obj_id"))
            		<p><strong>$MESSAGES.getString("t011_obj_data_para"):</strong><br/>
        			<table class="border" border="1">
        			<tbody>	
        				<tr>
        					<th>$MESSAGES.getString("t011_obj_data_para.parameter")</th>
        					<th>$MESSAGES.getString("t011_obj_data_para.unit")</th>
        				</tr>
                	#foreach($t0110_avail_format in $myData.get("t011_obj_data_para.obj_id"))
        				<tr>
        					<td>#if($t0110_avail_format.get("t011_obj_data_para.parameter"))$t0110_avail_format.get("t011_obj_data_para.parameter")#end</td>
        					<td>#if($t0110_avail_format.get("t011_obj_data_para.unit"))$t0110_avail_format.get("t011_obj_data_para.unit")#end</td>
        				</tr>
            		#end
        			</tbody>	
        			</table>
        			<br/>
        			</p>
            	#end	
				#renderUDKEntry($myData "t011_obj_data_para.parameter")
    			#renderUDKEntry($myData "t011_obj_data_para.unit")
    			#renderUDKEntry($myData "t011_obj_data.base")
    			#renderUDKEntry($myData "t011_obj_data.description")
			#end	
		#end	
	#elseif($udkClass == "3" && $rec.get("t011_obj_serv.obj_id"))
		#foreach($myData in $rec.get("t011_obj_serv.obj_id"))    			
    		#if($velocityCount == 1)<div class="line"><hr /></div><br/>#end
    		#renderUDKEntry($myData "t011_obj_serv.type")
    		#renderUDKEntry($myData "t011_obj_serv.environment")
    		#renderUDKEntry($myData "t011_obj_serv.history")
    		#renderUDKEntry($myData "t011_obj_serv.base")
        	#if($myData.get("t011_obj_serv_version.obj_id"))
        		<p><strong>$MESSAGES.getString("t011_obj_serv_version.version"):</strong><br/>
            	#foreach($t011_obj_serv_version in $myData.get("t011_obj_serv_version.obj_id"))
					#if($t011_obj_serv_version.get("t011_obj_serv_version.version"))$t011_obj_serv_version.get("t011_obj_serv_version.version")#end<br/>
        		#end
    			</p>
        	#end	
    		
        	#if($myData.get("t011_obj_serv_operation.obj_id"))
        		<p><strong>$MESSAGES.getString("t011_obj_serv_operation"):</strong><br/>
    			<table class="border" border="1">
    			<tbody>	
    				<tr>
    					<th>$MESSAGES.getString("t011_obj_serv_operation.name")</th>
    					<th>$MESSAGES.getString("t011_obj_serv_operation.descr")</th>
    					<th>$MESSAGES.getString("t011_obj_serv_operation.invocation_name")</th>
    				</tr>
            	#foreach($t011_obj_data_para in $myData.get("t011_obj_serv_operation.obj_id"))
    				<tr>
    					<td>#if($t011_obj_data_para.get("t011_obj_serv_operation.name"))$t011_obj_data_para.get("t011_obj_serv_operation.name")#end</td>
    					<td>#if($t011_obj_data_para.get("t011_obj_serv_operation.descr"))$t011_obj_data_para.get("t011_obj_serv_operation.descr")#end</td>
    					<td>#if($t011_obj_data_para.get("t011_obj_serv_operation.invocation_name"))$t011_obj_data_para.get("t011_obj_serv_operation.invocation_name")#end</td>
    				</tr>
        		#end
    			</tbody>	
    			</table>
    			<br/>
    			</p>
        	#end
		#end	
	#elseif($udkClass == "2" && $rec.get("t011_obj_literatur.obj_id"))
		#foreach($myData in $rec.get("t011_obj_literatur.obj_id"))    			
    		#if($velocityCount == 1)<div class="line"><hr /></div><br/>#end
			#renderUDKEntry($myData "t011_obj_literatur.autor")
    		#renderUDKEntryInLine($myData "t011_obj_literatur.publisher")
    		#renderUDKEntryInLine($myData "t011_obj_literatur.publish_in")
    		#renderUDKEntryInLine($myData "t011_obj_literatur.volume")
    		#renderUDKEntryInLine($myData "t011_obj_literatur.sides")
    		#renderUDKEntryInLine($myData "t011_obj_literatur.publish_year")
    		#renderUDKEntryInLine($myData "t011_obj_literatur.isbn")
    		#renderUDKEntryInLine($myData "t011_obj_literatur.publishing")
    		#renderUDKEntryInLine($myData "t011_obj_literatur.publish_loc")
    		#renderUDKEntryInLine($myData "t011_obj_literatur.typ")
    		#renderUDKEntry($myData "t011_obj_literatur.doc_info")
    		#renderUDKEntry($myData "t011_obj_literatur.base")
    		#renderUDKEntry($myData "t011_obj_literatur.loc")
    		#renderUDKEntry($myData "t011_obj_literatur.description")
		#end	
	#elseif($udkClass == "4" && $rec.get("t011_obj_project.obj_id"))
		#foreach($myData in $rec.get("t011_obj_project.obj_id"))    			
    		#if($velocityCount == 1)<div class="line"><hr /></div><br/>#end
			#renderUDKEntry($myData "t011_obj_project.leader")
    		#renderUDKEntry($myData "t011_obj_project.member")
    		#renderUDKEntry($myData "t011_obj_project.description")
		#end	
	#elseif($udkClass == "1" && $rec.get("t011_obj_geo.obj_id"))
		#foreach($myData in $rec.get("t011_obj_geo.obj_id"))    			
    		#if($velocityCount == 1)<div class="line"><hr /></div><br/>#end
			<p><strong>$MESSAGES.getString("t011_obj_geo.hierarchy_level"):</strong><br/>
			$codeList.getName('525', $myData.get('t011_obj_geo.hierarchy_level'))
			</p>
        	#if($myData.get("t011_obj_geo_topic_cat.obj_id"))
        		<p><strong>$MESSAGES.getString("t011_obj_geo_topic_cat.topic_category"):</strong><br/>
            	#foreach($t011_obj_geo_topic_cat in $myData.get("t011_obj_geo_topic_cat.obj_id"))
					#if($t011_obj_geo_topic_cat.get("t011_obj_geo_topic_cat.topic_category"))$codeList.getName('527', $t011_obj_geo_topic_cat.get("t011_obj_geo_topic_cat.topic_category"))#end<br/>
        		#end
    			</p>
        	#end	
        	#if($myData.get("t011_obj_geo_symc.obj_id"))
				<p><strong>$MESSAGES.getString("t011_obj_geo_symc"):</strong></p>
    			<table class="border" border="1">
    			<tbody>	
    				<tr>
    					<th>$MESSAGES.getString("t011_obj_geo_symc.symbol_cat")</th>
    					<th>$MESSAGES.getString("t011_obj_geo_symc.symbol_date")</th>
    					<th>$MESSAGES.getString("t011_obj_geo_symc.edition")</th>
    				</tr>
            	#foreach($t011_obj_geo_symc in $myData.get("t011_obj_geo_symc.obj_id"))
    				<tr>
    					<td>#if($t011_obj_geo_symc.get("t011_obj_geo_symc.symbol_cat"))$t011_obj_geo_symc.get("t011_obj_geo_symc.symbol_cat")#end</td>
    					<td>#if($t011_obj_geo_symc.get("t011_obj_geo_symc.symbol_date"))$t011_obj_geo_symc.get("t011_obj_geo_symc.symbol_date")#end</td>
    					<td>#if($t011_obj_geo_symc.get("t011_obj_geo_symc.edition"))$t011_obj_geo_symc.get("t011_obj_geo_symc.edition")#end</td>
    				</tr>
        		#end
    			</tbody>	
    			</table>
    			<br/>
    			</p>
        	#end	
        	#if($myData.get("t011_obj_geo_keyc.obj_id"))
				<p><strong>$MESSAGES.getString("t011_obj_geo_keyc"):</strong></p>
    			<table class="border" border="1">
    			<tbody>	
    				<tr>
    					<th>$MESSAGES.getString("t011_obj_geo_keyc.subject_cat")</th>
    					<th>$MESSAGES.getString("t011_obj_geo_keyc.key_date")</th>
    					<th>$MESSAGES.getString("t011_obj_geo_keyc.edition")</th>
    				</tr>
            	#foreach($t011_obj_geo_keyc in $myData.get("t011_obj_geo_keyc.obj_id"))
    				<tr>
    					<td>#if($t011_obj_geo_keyc.get("t011_obj_geo_keyc.subject_cat"))$t011_obj_geo_keyc.get("t011_obj_geo_keyc.subject_cat")#end</td>
    					<td>#if($t011_obj_geo_keyc.get("t011_obj_geo_keyc.key_date"))$t011_obj_geo_keyc.get("t011_obj_geo_keyc.key_date")#end</td>
    					<td>#if($t011_obj_geo_keyc.get("t011_obj_geo_keyc.edition"))$t011_obj_geo_keyc.get("t011_obj_geo_keyc.edition")#end</td>
    				</tr>
        		#end
    			</tbody>	
    			</table>
    			<br/>
    			</p>
        	#end	

        	#set($geoSpacialRepType = "0")
			#if($myData.get("t011_obj_geo_spatial_rep.obj_id"))
        		<p><strong>$MESSAGES.getString("t011_obj_geo_spatial_rep.type"):</strong><br/>
            	#foreach($t011_obj_geo_spatial_rep in $myData.get("t011_obj_geo_spatial_rep.obj_id"))
					#if($t011_obj_geo_spatial_rep.get("t011_obj_geo_spatial_rep.type"))$codeList.getName('526', $t011_obj_geo_spatial_rep.get("t011_obj_geo_spatial_rep.type"))#end<br/>
					#if($t011_obj_geo_spatial_rep.get("t011_obj_geo_spatial_rep.type") == "1")
						#set($geoSpacialRepType = "1")
					#end	
        		#end
    			</p>
        	#end	
			#if($geoSpacialRepType == "1")
				<p><strong>$MESSAGES.getString("t011_obj_geo_vector"):</strong></p>
            	#if($myData.get("t011_obj_geo.vector_topology_level") && $myData.get("t011_obj_geo.vector_topology_level") != "")
            		<p><strong>$MESSAGES.getString("t011_obj_geo.vector_topology_level"):</strong> $codeList.getName('528', $myData.get("t011_obj_geo.vector_topology_level"))<br/></p>
                #end
            	#if($myData.get("t011_obj_geo_vector.obj_id"))
        			<table class="border" border="1">
        			<tbody>	
        				<tr>
        					<th>$MESSAGES.getString("t011_obj_geo_vector.geometric_object_type")</th>
        					<th>$MESSAGES.getString("t011_obj_geo_vector.geometric_object_count")</th>
        				</tr>
                	#foreach($t011_obj_geo_vector in $myData.get("t011_obj_geo_vector.obj_id"))
        				<tr>
        					<td>#if($t011_obj_geo_vector.get("t011_obj_geo_vector.geometric_object_type"))$t011_obj_geo_vector.get("t011_obj_geo_vector.geometric_object_type")#end</td>
        					<td>#if($t011_obj_geo_vector.get("t011_obj_geo_vector.geometric_object_count"))$t011_obj_geo_vector.get("t011_obj_geo_vector.geometric_object_count")#end</td>
        				</tr>
            		#end
        			</tbody>	
        			</table>
        			<br/>
        			</p>
            	#end	
			#end
			
			#renderUDKEntrySuffixInLine($myData "t011_obj_geo.rec_grade" "%")
    		#if($myData.get("t011_obj_geo.referencesystem_id") == "-1")
				#renderUDKEntry($myData "t011_obj_geo.coord")
			#elseif($myData.get("t011_obj_geo.referencesystem_id"))
				<p><strong>$MESSAGES.getString("t011_obj_geo.referencesystem_id"):</strong><br/>
				$codeList.getName('100', $myData.get("t011_obj_geo.referencesystem_id"))
				</p>
			#end

			#if($myData.get("t011_obj_geo_scale.obj_id"))
				<p><strong>$MESSAGES.getString("t011_obj_geo_scale"):</strong></p>
    			<table class="border" border="1">
    			<tbody>	
    				<tr>
    					<th>$MESSAGES.getString("t011_obj_geo_scale.scale")</th>
    					<th>$MESSAGES.getString("t011_obj_geo_scale.resolution_ground")</th>
    					<th>$MESSAGES.getString("t011_obj_geo_scale.resolution_scan")</th>
    				</tr>
            	#foreach($t011_obj_geo_scale in $myData.get("t011_obj_geo_scale.obj_id"))
    				<tr>
    					<td>#if($t011_obj_geo_scale.get("t011_obj_geo_scale.scale") && $t011_obj_geo_scale.get("t011_obj_geo_scale.scale") != "")1:$t011_obj_geo_scale.get("t011_obj_geo_scale.scale")#end</td>
    					<td>#if($t011_obj_geo_scale.get("t011_obj_geo_scale.resolution_ground") && $t011_obj_geo_scale.get("t011_obj_geo_scale.resolution_ground") != "")$t011_obj_geo_scale.get("t011_obj_geo_scale.resolution_ground") m#end</td>
    					<td>#if($t011_obj_geo_scale.get("t011_obj_geo_scale.resolution_scan") && $t011_obj_geo_scale.get("t011_obj_geo_scale.resolution_scan") != "")$t011_obj_geo_scale.get("t011_obj_geo_scale.resolution_scan") dpi#end</td>
    				</tr>
        		#end
    			</tbody>	
    			</table>
    			<br/>
    			</p>
        	#end	

			#renderUDKEntry($myData "t011_obj_geo_scale.scale")
    		#renderUDKEntrySuffix($myData "t011_obj_geo_scale.resolution_ground" "m")
    		#renderUDKEntry($myData "t011_obj_geo_scale.resolution_scan")
    		#renderUDKEntrySuffix($myData "t011_obj_geo.pos_accuracy_vertical" "m")
    		#renderUDKEntrySuffix($myData "t011_obj_geo.rec_exact" "m")
			#renderUDKEntry($myData "t011_obj_geo.special_base")
			#renderUDKEntry($myData "t011_obj_geo.data_base")
        	#if($myData.get("t011_obj_geo_supplinfo.obj_id"))
        		<p><strong>$MESSAGES.getString("t011_obj_geo_supplinfo.feature_type"):</strong><br/>
            	#foreach($t011_obj_geo_supplinfo in $myData.get("t011_obj_geo_supplinfo.obj_id"))
					#if($t011_obj_geo_supplinfo.get("t011_obj_geo_supplinfo.feature_type"))$t011_obj_geo_supplinfo.get("t011_obj_geo_supplinfo.feature_type")#end<br/>
        		#end
    			</p>
        	#end	
			#renderUDKEntry($myData "t011_obj_geo.method")
			
		#end	
	#end
#end

#macro(renderUDKAttributes)
	#if($rec.get("t08_attr.attr_id"))
		#foreach($t08_attr in $rec.get("t08_attr.attr_id"))
    		#if($tool.hasContent($t08_attr.get("t08_attrtyp.attr_id")))
    			#if($velocityCount == 1)<div class="line"><hr /></div><br/>#end
    			#foreach($t08_attrtyp in $t08_attr.get("t08_attrtyp.attr_id"))
    				#set($attrType = $t08_attrtyp.get("t08_attrtyp.typ"))
    				<p><strong>$t08_attrtyp.get("t08_attrtyp.attr_name"):</strong><br/>
    				#if($t08_attrtyp.get("t08_attrlist.attr_id"))
            			<table class="border" border="1">
            			<tbody>	
            				<tr>
            					<th>$t08_attr.get("t08_attr.data")</th>
            				</tr>
                    	#foreach($t08_attrlist in $t08_attrtyp.get("t08_attrlist.attr_id"))
            				<tr>
            					<td>$t08_attrlist.get("t08_attrlist.data")</td>
            				</tr>
                		#end
            			</tbody>	
            			</table>
    				#else
    					$t08_attr.get("t08_attr.data")
    				#end
    				</p>
				#end
			#end	
		#end
	#end
#end

#macro (renderUDKSpacialReference)
	#if(($tool.hasContent($rec.get("t011_township.obj_id")) && $tool.hasContent($rec.get("t011_township.obj_id").get(0).get("t011_town_loc_town.township_no"))) || $tool.hasContent($rec.get("t019_coordinates.obj_id")) || $tool.hasContent($rec.get("t01_object.loc_descr")))
		<div class="line"><hr /></div><br/>
    	#if($tool.hasContent($rec.get("t011_township.obj_id")) && $tool.hasContent($rec.get("t011_township.obj_id").get(0).get("t011_town_loc_town.township_no")))
       		<p><strong>$MESSAGES.getString("t011_township.township_no"):</strong><br/>
			#foreach($t011_township in $rec.get("t011_township.obj_id"))
				#if($tool.hasContent($t011_township.get("t011_town_loc_town.township_no")))
					#foreach($t011_town_loc_town in $t011_township.get("t011_town_loc_town.township_no"))
						$t011_town_loc_town.get("t011_town_loc_town.name") ($t011_town_loc_town.get("t011_town_loc_town.township_no"))<br/>
					#end
				#end	
			#end
			</p>
		#end	
    	#if($tool.hasContent($rec.get("t019_coordinates.obj_id")))
    		<p><strong>$MESSAGES.getString("t019_coordinates.bezug"):</strong><br/>
			#foreach($t019_coordinates in $rec.get("t019_coordinates.obj_id"))
	    		$t019_coordinates.get("t019_coordinates.bezug")<br/>
			#end
    		</p>
		#end
		#if($tool.hasContent($rec.get("t01_object.vertical_extent_minimum")) || $tool.hasContent($rec.get("t01_object.vertical_extent_maximum")))
			<p><strong>$MESSAGES.getString("t01_object.vertical_extent"):</strong></p>
			<table class="border" border="1">
			<tbody>
				<tr>
					<th>$MESSAGES.getString("t01_object.vertical_extent_maximum")</th>
					<th>$MESSAGES.getString("t01_object.vertical_extent_minimum")</th>
					<th>$MESSAGES.getString("t01_object.vertical_extent_unit")</th>
					<th>$MESSAGES.getString("t01_object.vertical_extent_vdatum")</th>
				</tr>
				<tr>
					<td>$rec.get("t01_object.vertical_extent_maximum")</td>
					<td>$rec.get("t01_object.vertical_extent_minimum")</td>
					<td>$codeList.getName('102', $rec.get("t01_object.vertical_extent_unit"))</td>
					<td>$codeList.getName('101', $rec.get("t01_object.vertical_extent_vdatum"))</td>
				</tr>
			</tbody>	
			</table>
			<br />
		#end
    	#renderUDKEntry($rec "t01_object.loc_descr")
	#end
#end

#macro (renderUDKTimeReference)
	#if($tool.hasContent($rec.get("t01_object.time_type")) || $tool.hasContent($rec.get("t0113_dataset_reference.obj_id")) || $tool.hasContent($rec.get("t01_object.time_period")) || $tool.hasContent($rec.get("t01_object.time_interval")) || $tool.hasContent($rec.get("t01_object.time_alle")) || $tool.hasContent($rec.get("t01_object.time_status")) || $tool.hasContent($rec.get("t01_object.time_descr")))
    	<div class="line"><hr /></div><br/>
    	<p><strong>$MESSAGES.getString("time_reference_content"):</strong><br/>
    	#if($rec.get("t01_object.time_type") == "von")
    		von: $rec.get("t01_object.time_from") bis: $rec.get("t01_object.time_to")<br/>
    	#elseif($rec.get("t01_object.time_type") == "seit")
    		<p>seit: $rec.get("t01_object.time_from")<br/>
    	#elseif($rec.get("t01_object.time_type") == "am")
    		<p>am: $rec.get("t01_object.time_from")<br/>
		#end
		</p>
    	
    	#if($tool.hasContent($rec.get("t01_object.time_status")))
    		<p><strong>$MESSAGES.getString("t01_object.time_status"):</strong><br/>
    		$codeList.getName('502', $rec.get("t01_object.time_status"))<br/>
    		</p>
        #end
    	#if($tool.hasContent($rec.get("t01_object.time_period")))
    		<p><strong>$MESSAGES.getString("t01_object.time_period"):</strong><br/>
    		$codeList.getName('518', $rec.get("t01_object.time_period"))<br/>
    		</p>
        #end
    	#if($tool.hasContent($rec.get("t01_object.time_alle")) && $tool.hasContent($rec.get("t01_object.time_interval")))
    		<p><strong>$MESSAGES.getString("t01_object.time_interval"):</strong><br />
    		alle $rec.get("t01_object.time_alle") $rec.get("t01_object.time_interval")
    		</p>
		#end	
    	#if($tool.hasContent($rec.get("t0113_dataset_reference.obj_id")))
    		<p><strong>$MESSAGES.getString("time_reference_record"):</strong><br/>
        	#foreach($t0113_dataset_reference in $rec.get("t0113_dataset_reference.obj_id"))
        		#set($t0113_dataset_reference_type = $t0113_dataset_reference.get("t0113_dataset_reference.type"))
        		#set($t0113_dataset_reference_type_key = "t0113_dataset_reference.type$t0113_dataset_reference_type")
        		$MESSAGES.getString($t0113_dataset_reference_type_key): $t0113_dataset_reference.get("t0113_dataset_reference.reference_date")<br/>
        	#end
        	</p>
		#end	
    	#renderUDKEntry($rec "t01_object.time_descr")
	#end	
#end

#macro (renderUDKAvailability)
	#if($tool.hasContent($rec.get("t0110_avail_format.obj_id")) || $tool.hasContent($rec.get("t0112_media_option.obj_id")) || $tool.hasContent($rec.get("t0112_object.ordering_instructions")) || $tool.hasContent($rec.get("t0112_object.avail_access_note")) || $tool.hasContent($rec.get("t0112_object.fees")))
		<div class="line"><hr /></div><br/>
    	#if($tool.hasContent($rec.get("t0110_avail_format.obj_id")))
    		<p><strong>$MESSAGES.getString("data_format"):</strong><br/>
			<table class="border" border="1">
			<tbody>	
				<tr>
					<th>$MESSAGES.getString("t0110_avail_format.name")</th>
					<th>$MESSAGES.getString("t0110_avail_format.version")</th>
					<th>$MESSAGES.getString("t0110_avail_format.file_decompression_technique")</th>
					<th>$MESSAGES.getString("t0110_avail_format.specification")</th>
				</tr>
        	#foreach($t0110_avail_format in $rec.get("t0110_avail_format.obj_id"))
				<tr>
					<td>#if($t0110_avail_format.get("t0110_avail_format.name"))$t0110_avail_format.get("t0110_avail_format.name")#end</td>
					<td>#if($t0110_avail_format.get("t0110_avail_format.version"))$t0110_avail_format.get("t0110_avail_format.version")#end</td>
					<td>#if($t0110_avail_format.get("t0110_avail_format.file_decompression_technique"))$t0110_avail_format.get("t0110_avail_format.file_decompression_technique")#end</td>
					<td>#if($t0110_avail_format.get("t0110_avail_format.specification"))$t0110_avail_format.get("t0110_avail_format.specification")#end</td>
				</tr>
    		#end
			</tbody>	
			</table>
			<br/>
			</p>
    	#end	
    	#if($tool.hasContent($rec.get("t0112_media_option.obj_id")))
    		<p><strong>$MESSAGES.getString("t0112_media_option.medium"):</strong><br/></p>
			<table class="border" border="1">
			<tbody>	
				<tr>
					<th>$MESSAGES.getString("t0112_media_option.medium_name")</th>
					<th>$MESSAGES.getString("t0112_media_option.transfer_size")</th>
					<th>$MESSAGES.getString("t0112_media_option.medium_note")</th>
				</tr>
        	#foreach($t0112_media_option in $rec.get("t0112_media_option.obj_id"))
				<tr>
					<td>$codeList.getName('520',$t0112_media_option.get("t0112_media_option.medium_name"))</td>
					<td>#if($t0112_media_option.get("t0112_media_option.transfer_size"))$t0112_media_option.get("t0112_media_option.transfer_size") MB#end</td>
					<td>#if($t0112_media_option.get("t0112_media_option.medium_note"))$t0112_media_option.get("t0112_media_option.medium_note")#end</td>
				</tr>
    		#end
			</tbody>	
			</table>
			<br />
    	#end
    	#renderUDKEntry($rec "t01_object.ordering_instructions")
    	#renderUDKEntry($rec "t01_object.avail_access_note")
    	#renderUDKEntry($rec "t01_object.fees")
	#end
#end

#macro (renderUDKAdditionalInformation)
	#if($tool.hasContent($rec.get("t01_object.metadata_language")) || $tool.hasContent($rec.get("t01_object.data_language")) || $tool.hasContent($rec.get("t015_legist.obj_id")) || $tool.hasContent($rec.get("t01_object.dataset_usage")) || $tool.hasContent($rec.get("t01_object.info_note")))
    	<div class="line"><hr /></div><br/>
    	#if($tool.hasContent($rec.get("t01_object.metadata_language")))
    		<p><strong>$MESSAGES.getString("t01_object.metadata_language"):</strong> $sysLangList.get($rec.get("t01_object.metadata_language")).get("sys_language.name")</p>
    	#end
    	#if($tool.hasContent($rec.get("t01_object.data_language")))
    		<p><strong>$MESSAGES.getString("t01_object.data_language"):</strong> $sysLangList.get($rec.get("t01_object.data_language")).get("sys_language.name")</p>
    	#end
    	#if($tool.hasContent($rec.get("t015_legist.obj_id")))
    		<p><strong>$MESSAGES.getString("legal_basis"):</strong><br/>
    		#foreach($t015_legist in $rec.get("t015_legist.obj_id"))
    			$t015_legist.get("t015_legist.name")<br/>
    		#end
    		</p>
    	#end
    	#renderUDKEntry($rec "t01_object.dataset_usage")
    	#renderUDKEntry($rec "t01_object.info_note")
	#end
#end

#macro (renderUDKSearchTerms)
	#if($tool.hasContent($rec.get("t04_search.obj_id")))
    	<div class="line"><hr /></div><br/>
    	<p><strong>$MESSAGES.getString("search_terms"):</strong><br/>
		#foreach($t04_search in $rec.get("t04_search.obj_id"))
			$t04_search.get("t04_search.searchterm")<br/>
		#end
		</p>
	#end
#end


#set ($action = $renderResponse.createActionURL())
<div id="content_full">
#if($rec)
	<div class="section-header">
		<h1>$rec.get("title")</h1>
		<p class="float_right"><span class="smaller">#if($rec.get("t01_object.mod_time"))letzte Änderung am: $rec.get("t01_object.mod_time").substring(0,10)#end</span></p>
	</div>
	<span class="clearer"></span>
	<p><i>#if($rec.get("t01_object.dataset_alternate_name"))$rec.get("t01_object.dataset_alternate_name")#end</i></p>
	<br />
	<div class="section">
		<p class="float_left">
            #set($udkObjClass = $rec.get("t01_object.obj_class"))
            #set($udkObjClassNameKey = "udk_obj_class_name_$udkObjClass")
            #set($udkObjClassName = $MESSAGES.getString($udkObjClassNameKey))
			#if($udkObjClass)
			<span class="icon_udk_detail"><img src="/ingrid-portal-apps/images/icn_udk_obj_${udkObjClass}.gif" alt="${udkObjClassName}" /></span>&nbsp;<strong>${udkObjClassName}</strong>&nbsp;<span class="smaller">(Objektklasse)</span>
			#end
		</p>
		<span class="clearer"></span>
		#if($rec.get("summary"))<p>$rec.get("summary")</p>#end

	#if($tool.hasContent($superiorReferences) || $tool.hasContent($subordinatedReferences) || $tool.hasContent($crossReferences) || $tool.hasContent($rec.get("t017_url_ref.obj_id")))
    	<div class="line"><hr /></div><br/>
    	#renderSuperiorReferences()
    	#renderSubordinatedReferences()
    	#renderCrossReferences()
    	#renderWWWReferences()
	#end
	#renderUDKAddress()
    #renderUDKSubjectReference($udkObjClass)
	#renderUDKAttributes()
    #renderUDKSpacialReference()
    #renderUDKTimeReference()
    #renderUDKAvailability()
    #renderUDKAdditionalInformation()
    #renderUDKSearchTerms()

##	<!--
##	$rec
##    <br/><br/><br/><br/>
##    	  #if($record)
##    		#renderRecord($record 0)
##    	  #else
##    		no details available.
##    	  #end
##    -->
	</div>
#else
	<p><strong>$MESSAGES.getString("error_no_details_available")</strong></p>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
#end	
</div>