	  <form action="$renderResponse.createActionURL()" method="get" name="frmSimilar" id="frmSimilar">
	  <input type="hidden" name="action" value="doAddSimilar" />
	  <div class="formbody">
#set ($action = $renderResponse.createActionURL())
#if(!$ps.isSimilarOpen)
	$action.setParameter('action','doOpenSimilar')
        <h3><a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_close.gif" alt="$MESSAGES.getString('common.alt.icon.plus')" /></a>&nbsp;<a href="$action">$MESSAGES.getString('searchSimilar.headline')</a></h3>
#else
	$action.setParameter('action','doCloseSimilar')
	  <span class="float_right snslogo_margin"><a href="http://www.semantic-network.de" target="_new" title="$MESSAGES.getString('common.tooltip.link.extern')"><img src="/ingrid-portal-apps/images/sns_small.gif" width="30" height="23" alt="$MESSAGES.getString('common.alt.icon.sns')" title="$MESSAGES.getString('common.tooltip.link.extern.sns')" /></a></span>
        <h3><a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_open.gif" alt="$MESSAGES.getString('common.alt.icon.minus')" /></a>&nbsp;<a href="$action">$MESSAGES.getString('searchSimilar.headline')</a></h3>
        <span class="clearer"></span>
        	  <div class="leftmargin">
          	  <table>
#foreach($similarNode in $ps.similarRoot.getChildren())
	#set ($action = $renderResponse.createActionURL())
	$action.setParameter('nodeId',$similarNode.id)
	#if($similarNode.isOpen())
		$action.setParameter('action','doCloseNode')
			  <tr>
				<td><a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_open.gif" alt="$MESSAGES.getString('common.alt.icon.minus')" /></a></td>
          	    <td><a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_folder_close.gif" alt="$MESSAGES.getString('common.alt.icon.folder.closed')" /></a>&nbsp;&nbsp;<strong>$similarNode.getName()</strong></td>
          	  </tr>
		#foreach($tokenNode in $similarNode.getChildren())
          	  <tr>
          	    <td></td>
				#if($tokenNode.type == 4)
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$MESSAGES.getString('searchSimilar.terms.not.available')</td>
				#else
					<td>&nbsp;&nbsp;<input id="chk_$tokenNode.id" name="chk_$tokenNode.id" value="1" type="checkbox" #if($tokenNode.isOpen()) checked="checked" #end/><label for="chk_$tokenNode.id">$tokenNode.name</label></td>
				#end
          	  </tr>
		#end
	#else
		$action.setParameter('action','doOpenNode')
          	  <tr>
          	    <td><a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_close.gif" alt="$MESSAGES.getString('common.alt.icon.plus')" /></a></td>
          	    <td><a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_folder_close.gif" alt="$MESSAGES.getString('common.alt.icon.folder.closed')" /></a>&nbsp;&nbsp;<strong>$similarNode.getName()</strong></td>
          	  </tr>
	#end
#end			  
          	  </table>

        	  </div>
	
	
#end	
      </div>
#if($ps.isSimilarOpen)
	  <div class="formfooter">
        <div align="right">
          <input class="btn" type="submit" value="$MESSAGES.getString('searchSimilar.add.to.query')" />
        </div>
      </div>
#end
      </form>
