	  <form action="$renderResponse.createActionURL()" method="get" name="frmSimilar" id="frmSimilar">
	  <input type="hidden" name="action" value="doAddSimilar" />
	  <div class="formbody">
#set ($action = $renderResponse.createActionURL())
#if(!$ps.isSimilarOpen)
	$action.setParameter('action','doOpenSimilar')
        <h3><a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_close.gif" alt="Icon Plus" /></a>&nbsp;<a href="$action">Ähnliche Begriffe: Suchen Sie nach ...</a></h3>
#else
	$action.setParameter('action','doCloseSimilar')
	  <span class="float_right snslogo_margin"><a href="http://www.semantic-network.de" target="_new" title="Link öffnet in neuem Fenster"><img src="/ingrid-portal-apps/images/sns_small.gif" width="30" height="23" alt="SNS Logo" title="Ein Dienst vom Semantic Network Service. Link öffnet in neuem Fenster" /></a></span>
        <h3><a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_open.gif" alt="Icon Minus" /></a>&nbsp;<a href="$action">Ähnliche Begriffe: Suchen Sie nach ...</a></h3>
        <span class="clearer"></span>
        	  <div class="leftmargin">
          	  <table>
#foreach($similarNode in $ps.similarRoot.getChildren())
	#set ($action = $renderResponse.createActionURL())
	$action.setParameter('nodeId',$similarNode.id)
	#if($similarNode.isOpen())
		$action.setParameter('action','doCloseNode')
			  <tr>
				<td><a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_open.gif" alt="Icon Minus" /></a></td>
          	    <td><a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_folder_close.gif" alt="Icon Ordner geschlossen" /></a>&nbsp;&nbsp;<strong>$similarNode.getName()</strong></td>
          	  </tr>
		#foreach($tokenNode in $similarNode.getChildren())
          	  <tr>
          	    <td></td>
          	    <td>&nbsp;&nbsp;<input id="chk_$tokenNode.id" name="chk_$tokenNode.id" value="1" type="checkbox" #if($tokenNode.isOpen()) checked="checked" #end/><label for="chk_$tokenNode.id">$tokenNode.name</label></td>
          	  </tr>
		#end
	#else
		$action.setParameter('action','doOpenNode')
          	  <tr>
          	    <td><a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_close.gif" alt="Icon Plus" /></a></td>
          	    <td><a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_folder_close.gif" alt="Icon Ordner geschlossen" /></a>&nbsp;&nbsp;<strong>$similarNode.getName()</strong></td>
          	  </tr>
	#end
#end			  
          	  </table>

        	  </div>
	
	
#end	
      </div>
#if($ps.isSimilarOpen)
	  <div class="formfooter">
        <div align="right">
          <input class="btn" type="submit" value="Zur Suchanfrage hinzufügen" />
        </div>
      </div>
#end
      </form>
