      <div class="portlet-section-body">
        <ul>
          <li>
            <p>
              $MESSAGES.getString('searchSettings.info.text1')
            </p>
          </li>
        </ul>
        <p class="iconLink">
          <span class="icon"><img src="/ingrid-portal-apps/images/icn_linkextern.gif" alt="$MESSAGES.getString('common.alt.icon.extern')"/></span>
          <span><a href="http://www.semantic-network.de" target="_new" title="$MESSAGES.getString('common.tooltip.link.extern.sns')">$MESSAGES.getString('searchSettings.info.link.sns')</a></span>
          <span class="clearer"></span>
        </p>
        <p>
          <span class="icon"></span>
          <span><a href="http://www.semantic-network.de" target="_new" title="$MESSAGES.getString('common.tooltip.link.extern.sns')"><img src="/ingrid-portal-apps/images/sns_big.gif" width="84" height="31" alt="$MESSAGES.getString('common.alt.icon.sns')" title="$MESSAGES.getString('common.tooltip.link.extern.sns')" /></a></span>
          <span class="clearer"></span>
        </p>
        <ul>
          <li>
            <p>
              $MESSAGES.getString('searchSettings.info.text2')
            </p>
          </li>
        </ul>
        <ul>
          <li>
            <p>
			  $MESSAGES.getString('searchSettings.info.text3')
            </p>
          </li>
        </ul>
      </div>
		