      <div class="portlet-section-body">
        <ul>
          <li>
            <p>
              Während Sie PortalU nutzen, werden Ihre Suchanfragen zwischengespeichert. Sie können so alte Suchanfragen verbessern oder auch direkt in eine neue Suche übernehmen.
            </p>
          </li>
          <li>
            <p>
              Wenn Sie sich als PortalU-Nutzer eingeloggt haben (Rubrik "Mein PortalU") können Sie Ihre Suchanfragen dauerhaft speichern.
            </p>
          </li>
        </ul>
	  </div>
