#set ($contextPath = $renderRequest.getAttribute('org.apache.jetspeed.request.RequestContext').getRequest().getContextPath())
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doSearch')
#if($page && $page.endsWith("default-page.psml"))
    #set($isDefault = true)
#end
<form action="$action" method="get" name="SearchForm" id="SearchForm" onSubmit='if (this.q.value == "$MESSAGES.getString('searchSimple.query.initial')") this.q.value=""'>
#if($isDefault)
    <div class="box box--fill box--large">
        <div class="box__content ob-container">
#end
            <div class="search-form ob-clear ob-flex">
                <input class="field field--large" type="text" placeholder="$MESSAGES.getString('searchSimple.query.initial')" id="qrystr" name="q" value="#if($actionForm.getInputHTMLEscaped('q') != $actionForm.getINITIAL_QUERY())#getHTMLEscapedFieldValue('q')#end">
                <button id="btn_search" class="btn btn--primary btn--medium btn--icon-transition">
                    <svg class="icon mq-show-m"><use xlink:href="#magnifier"></use></svg>
                    <div class="mq-hide-m">$MESSAGES.getString('searchSimple.query.submit')</div>
                </button>
            </div>
#if($isDefault)
        </div>
    </div>
#end
    #addErrorFormMessageBox('q')
</form>
