  <div class="section">    
#set ($action = $renderResponse.createActionURL())
    <form action="$action" method="post" name="search_history" id="search_history">
      <input type="hidden" name="action" value="doSubmit"/>
	  <div class="formbody">
		#displayFormErrors()
$MESSAGES.resetMsgParams()
$MESSAGES.setMsgParam("$max_entries")
        <p>$MESSAGES.getStringWithMsgParams('searchSave.label.explanation')</p>
        <label class="lbl_qrystr" for="save_entry_name">$MESSAGES.getString('searchSave.label.save_entry_name')</label><br>
        <input class="qrystr inputstyletext" name="save_entry_name" id="save_entry_name" type="text">
        #renderInputButton($MESSAGES.getString('searchSave.btn.save') "" "" "")
        <br><br>
        <hr>

$MESSAGES.resetMsgParams()
$MESSAGES.setMsgParam("$no_entries")
$MESSAGES.setMsgParam("$max_entries")
        <p>$MESSAGES.getStringWithMsgParams('searchSave.label.results')</p>
          <ul class="internlinklist">
            #foreach($entry in $searchSaveEntries)
				#set($idx = $velocityCount - 1)
				<li><input id="chk_$idx" name="chk_$idx" type="checkbox"> <a href="$entry.url">$entry.title</a> #if($entry.ds == "2")<span class="smaller">$MESSAGES.getString('search.type.address')</span>#elseif($entry.ds == "3")<span class="smaller">$MESSAGES.getString('search.type.research')#elseif($entry.ds == "4")<span class="smaller">$MESSAGES.getString('search.type.law')</span>#end</li>
			#end
          </ul>
          <br>
         #renderInputButton($MESSAGES.getString('common.form.button.delete') "" "deleteEntries" "")
      </div>
    </form>
  </div>
