      <div class="portlet-section-body">
        <ul>
          <li>
            <p>
              Hier können Sie einstellen wie die Ergebnisse Ihrer Suchanfrage sortiert und bewertet werden. Zusätzlich können Sie festlegen, ob die Suche auch automatisch vom SNS erzeugte Schlagwörter berücksichtigt.
            </p>
          </li>
        </ul>
        <p class="iconLink">
          <span class="icon"><img src="/ingrid-portal-apps/images/icn_linkextern.gif" alt="externer Link"/></span>
          <span><a href="http://www.semantic-network.de" target="_new" title="öffnet in neuem Fenster">Semantischer Netzwerk Service (SNS)</a></span>
          <span class="clearer"></span>
        </p>
        <p>
          <span class="icon"></span>
          <span><a href="http://www.semantic-network.de" target="_new" title="öffnet in neuem Fenster"><img src="/ingrid-portal-apps/images/sns_big.gif" width="84" height="31" alt="SNS Logo" title="Ein Dienst vom Semantic Network Service" /></a></span>
          <span class="clearer"></span>
        </p>
        <ul>
          <li>
            <p>
              Die hier vorgenommenen Einstellungen sind für alle nachfolgenden Suchen gültig.
            </p>
          </li>
        </ul>
        <ul>
          <li>
            <p>
              Unter "mein PortalU" (Personalisierung) können Sie die Darstellung der Ergebnisliste dauerhaft Ihren persönlichen Anforderungen anpassen.
            </p>
          </li>
        </ul>
        <p class="iconLink">
          <span class="icon"><img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="interner Link" /></span>
          <span><a href="mpu_personalisierung.html#einstellungen">Personalisierung in Mein PortalU</a></span>
          <span class="clearer"></span>
        </p>
      </div>
		