#macro (renderRecord $myRecord $level)
	#foreach($column in $myRecord.getColumns())
		<p><strong>$MESSAGES.getString($column.getTargetName()):</strong><br />$!myRecord.getValueAsString($column)</p>
    #end
   	<div class="line"><hr /></div>
   	#set($level = $level + 1)
	#foreach($mySubRecord in $myRecord.getSubRecords())
		#renderRecord($mySubRecord $level)
	#end
#end

#macro (renderUDKEntry $r $entryName)
    #if($tool.hasContent($r.get($entryName)))
		<p><strong>$MESSAGES.getString($entryName):</strong><br>
		$r.get($entryName)
		</p>
    #end
#end

#macro (renderUDKAddress)
    <div class="line"><hr /></div>
    <h3>$MESSAGES.getString("address"):</h3>
	<p>
	#if($rec.get("t02_address.typ") == "1" || $rec.get("t02_address.typ") == "2")
		#set($institutions = $addrParents.get("institutions"))
		#foreach($institution in $institutions)
			#set($instituteAddrId = $institution.detail.get("T02_address.adr_id"))
			#set ($action = $renderResponse.createActionURL())
    		$action.setParameter('cmd', "doShowAddressDetail")
    		$action.setParameter('addrId', "$instituteAddrId")						
			$action.setParameter('plugid', "$plugId")
			<a href="$action">$institution.detail.title</a><br/>
		#end	
		#set($units = $addrParents.get("units"))
		#foreach($unit in $units)
			#set($unitAddrId = $unit.detail.get("T02_address.adr_id"))
			#set ($action = $renderResponse.createActionURL())
    		$action.setParameter('cmd', "doShowAddressDetail")
    		$action.setParameter('addrId', "$unitAddrId")						
			$action.setParameter('plugid', "$plugId")
			<a href="$action">$unit.detail.title</a><br/>
		#end
	#end
   	#if($rec.get("title") && $rec.get("title")!="")$rec.get("title")<br/>#end
	#if($tool.hasContent($rec.get("t02_address.lastname")))
    	#if($rec.get("t02_address.address"))$rec.get("t02_address.address")#end
    	#if($rec.get("t02_address.title"))$rec.get("t02_address.title")#end
    	#if($rec.get("t02_address.firstname"))$rec.get("t02_address.firstname")#end
    	#if($rec.get("t02_address.lastname"))$rec.get("t02_address.lastname")<br/>#end
	#end
	
	#if($tool.hasContent($rec.get("t02_address.job")))$rec.get("t02_address.job")<br/>#end
	#if($tool.hasContent($rec.get("t02_address.descr")))$rec.get("t02_address.descr")<br/>#end
	#if($tool.hasContent($rec.get("t02_address.postbox")))
		$MESSAGES.getString("postbox_label") $rec.get("t02_address.postbox")<br/>
		#if($rec.get("t02_address.postbox_pc"))#if($rec.get("t02_address.state_id"))$rec.get("t02_address.state_id")-#end$rec.get("t02_address.postbox_pc") $rec.get("city")<br/><br/>#end 
	#end
	#if($tool.hasContent($rec.get("street")))
		#if($tool.hasContent($rec.get("street")))$rec.get("street")<br/>#end
		#if($tool.hasContent($rec.get("t02_address.state_id")))$rec.get("t02_address.state_id")-#end
		#if($tool.hasContent($rec.get("zip")))$rec.get("zip")#end
		#if($tool.hasContent($rec.get("city")))$rec.get("city")<br/><br/>#end
	#end
	#foreach($myCommunication in $rec.get("t021_communication.adr_id"))
		#if($myCommunication.get("t021_communication.comm_type") == "Telefon")
			$MESSAGES.getString("t021_communication.comm_type_phone"): $myCommunication.get("t021_communication.comm_value")<br/>
		#elseif($myCommunication.get("t021_communication.comm_type") == "Fax")
			$MESSAGES.getString("t021_communication.comm_type_fax"): $myCommunication.get("t021_communication.comm_value")<br/>
		#elseif($myCommunication.get("t021_communication.comm_type") == "E-Mail" || $myCommunication.get("t021_communication.comm_type") == "EMail" || $myCommunication.get("t021_communication.comm_type") == "Email" || $myCommunication.get("t021_communication.comm_type") == "E-Mail")
			$MESSAGES.getString("t021_communication.comm_type_email"): <a href="mailto:$tool.htmlescapeAll($myCommunication.get("t021_communication.comm_value"))">$tool.htmlescapeAll($myCommunication.get("t021_communication.comm_value"))</a><br/>
		#elseif($myCommunication.get("t021_communication.comm_type") == "URL" || $myCommunication.get("t021_communication.comm_type") == "url")
			$myCommunication.get("t021_communication.comm_type"): <a href="$myCommunication.get("t021_communication.comm_value")" target="_new">$myCommunication.get("t021_communication.comm_value")</a><br/>
		#else
			$myCommunication.get("t021_communication.comm_type"): $myCommunication.get("t021_communication.comm_value")<br/>
		#end	
	#end
	</p>
#end

#macro (renderSuperiorReferences)
	#if($tool.hasContent($superiorReferences))
		<p><strong>$MESSAGES.getString("superior_address"):</strong><br/>
		#foreach($ref in $superiorReferences)
    		<span class="icon">
    			<img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="$MESSAGES.getString('common.alt.icon.intern')" />
    		</span>
			#set($refAddrId = $ref.detail.get("T02_address.adr_id"))
    		#set ($action = $renderResponse.createActionURL())
    		$action.setParameter('cmd', "doShowAddressDetail")
    		$action.setParameter('addrId', "$refAddrId")
			$action.setParameter('plugid', "$plugId")
    		<a href="$action" alt="$MESSAGES.getString('common.alt.icon.intern')">$ref.detail.title</a><br/>
		#end
		</p>
	#end
#end

#macro (renderSubordinatedReferences)
	#if($tool.hasContent($subordinatedReferences))
		<p><strong>$MESSAGES.getString("subordinated_addresses"):</strong><br/>
		#foreach($ref in $subordinatedReferences)
			<span class="icon">
    			<img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="$MESSAGES.getString('common.alt.icon.intern')" />
    		</span>
    		#set ($action = $renderResponse.createActionURL())
			#set($refAddrId = $ref.detail.get("T02_address.adr_id"))
			#set($refAddrType = $ref.detail.get("T02_address.typ"))
			$action.setParameter('cmd', "doShowAddressDetail")
    		$action.setParameter('addrId', "$refAddrId")
			$action.setParameter('plugid', "$plugId")
			#if($refAddrType == "0" || $refAddrType == "1")
				<a href="$action" alt="$MESSAGES.getString('common.alt.icon.intern')">$ref.detail.title</a><br/>
			#else
				<a href="$action" alt="$MESSAGES.getString('common.alt.icon.intern')">
            	#if($ref.detail.get("T02_address.address"))$ref.detail.get("T02_address.address")#end
            	#if($ref.detail.get("T02_address.title"))$ref.detail.get("T02_address.title")#end
            	#if($ref.detail.get("T02_address.firstname"))$ref.detail.get("T02_address.firstname")#end
            	#if($ref.detail.get("T02_address.lastname"))$ref.detail.get("T02_address.lastname")#end
				</a><br/>
			#end
		#end
		</p>
	#end
#end


#macro (renderUDKAddressFunction)
	#if($rec.get("t02_address.job"))
		<p><strong>$MESSAGES.getString("t02_address.job"):</strong><br>
		$rec.get("t02_address.job")</p>
	#end
#end

#macro (createActionURLOwnDocument)
<!-- create action URL generating page exactly as it is right now. Set differing params afterwards. -->
	#set ($action = $renderResponse.createActionURL())
	$action.setParameter('cmd', "doShowDocument")
	$action.setParameter('docid', "$docId")						
	$action.setParameter('plugid', "$plugId")
	$action.setParameter('maxORs', "$directObjRef_currentMaxNum")
	$action.setParameter('maxSubORs', "$subordinatedObjRef_currentMaxNum")
#end

#macro (renderUDKAddressRelatedRecords)
	#if(($tool.hasContent($directObjRef)) || ($tool.hasContent($subordinatedObjRef)))
		<div class="line"><hr></div>
		<br />
        <ul>
		#if($tool.hasContent($directObjRef))
		<li><a name="direkt"></a>$MESSAGES.getString("search.detail.dataRelations")
        <ul class="udklist">
			#foreach($objHits in $directObjRef)
				#set($udkObjClass = $objHits.detail.get("T01_object.obj_class"))
                #set($udkObjId = $objHits.detail.get("T01_object.obj_id"))
                #set($udkObjClassNameKey = "udk_obj_class_name_$udkObjClass")
                #set($udkObjClassName = $MESSAGES.getString($udkObjClassNameKey))
        		#set ($action = $renderResponse.createActionURL())
        		$action.setParameter('cmd', "doShowObjectDetail")
        		$action.setParameter('objId', "$udkObjId")
				$action.setParameter('plugid', $plugId)
				<li><span class="icon_udk"><img src="/ingrid-portal-apps/images/icn_udk_obj_${udkObjClass}.gif" alt="${udkObjClassName}"></span>&nbsp;<a href="$action">$objHits.detail.title</a>&nbsp;</li>
			#end
		</ul>
          </li>
			#if($directObjRef_nextMaxNum)
				#createActionURLOwnDocument()
				$action.setParameter('maxORs', "$directObjRef_nextMaxNum")
				<p><a href="$action" alt="$MESSAGES.getString('common.alt.icon.intern')">$MESSAGES.getString("search.detail.dataRelations.next")</a><br/></p>
			#end
		  #end
		  #if($tool.hasContent($subordinatedObjRef))
		  <li><a name="alle"></a>$MESSAGES.getString("search.detail.dataRelations.addresses")<ul class="udklist">
			#foreach($objHits in $subordinatedObjRef)
				#set($udkObjClass = $objHits.detail.get("T01_object.obj_class"))
                #set($udkObjId = $objHits.detail.get("T01_object.obj_id"))
                #set($udkObjClassNameKey = "udk_obj_class_name_$udkObjClass")
                #set($udkObjClassName = $MESSAGES.getString($udkObjClassNameKey))
        		#set ($action = $renderResponse.createActionURL())
        		$action.setParameter('cmd', "doShowObjectDetail")
        		$action.setParameter('objId', "$udkObjId")
				$action.setParameter('plugid', $plugId)
				<li><span class="icon_udk"><img src="/ingrid-portal-apps/images/icn_udk_obj_${udkObjClass}.gif" alt="${udkObjClassName}"></span>&nbsp;<a href="$action">$objHits.detail.title</a>&nbsp;</li>
			#end
		</ul>
		  </li>
			#if($subordinatedObjRef_nextMaxNum)
				#createActionURLOwnDocument()
				$action.setParameter('maxSubORs', "$subordinatedObjRef_nextMaxNum")
				<p><a href="$action" alt="$MESSAGES.getString('common.alt.icon.intern')">$MESSAGES.getString("search.detail.dataRelations.addresses.next")</a><br/></p>
			#end
		  #end
        </ul>
	#end	
#end

#macro (renderUDKSearchTerms)
	#if($tool.hasContent($rec.get("t04_search.obj_id")))
    	<div class="line"><hr /></div><br/>
    	<p><strong>$MESSAGES.getString("search_terms"):</strong><br/>
		#foreach($t04_search in $rec.get("t04_search.obj_id"))
			$t04_search.get("t04_search.searchterm")<br/>
		#end
		</p>
	#end
#end

## ***************************
## include the header here
## ***************************
#set($pageTitle = $rec.get("title"))
#set($pageDescription = $rec.get("summary"))
#set($pageDescription = $pageDescription.replace('"',"'"))
#set($pageDescription = $stringTool.cutString($pageDescription,300))
#parse('WEB-INF/templates/search_detail_header.vm')

#set ($action = $renderResponse.createActionURL())
<div id="content_full">

## render "zurueck" link if no IngridSession (entry via google)
#if($noIngridSession)
	<div class="section-header">
		<p class="iconLink">
    		<span class="icon"><img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="$MESSAGES.getString('common.alt.icon.intern')" /></span>
    		<span><a href="$renderResponse.encodeURL('/portal/default-page.psml')">$MESSAGES.getString('search.detail.back')</a></span>
    		<span class="clearer"></span>
		</p>
	</div>
#end

#if($rec)
	<div class="section-header">
#if($rec.get("t02_address.typ") == "2")
    	<h1>
		#if($rec.get("t02_address.address"))$rec.get("t02_address.address")#end
    	#if($rec.get("t02_address.title"))$rec.get("t02_address.title")#end
    	#if($rec.get("t02_address.firstname"))$rec.get("t02_address.firstname")#end
    	#if($rec.get("t02_address.lastname"))$rec.get("t02_address.lastname")#end
		</h1>
#else
		<h1>#if($tool.hasContent($rec.get("title")))$rec.get("title")#else$MESSAGES.getString("common.result.noTitle")#end</h1>
#end
		<p class="float_right"><span class="smaller">#if($rec.get("t02_address.mod_time"))$MESSAGES.getString("search.detail.generated"): $rec.get("t02_address.mod_time").substring(0,10)#end</span></p>
	</div>
	<span class="clearer"></span>
	<br/>
	<div class="section">
	<p class="float_left">
        #set($udkAddressClass = $rec.get("t02_address.typ"))
        #set($udkAddressClassNameKey = "udk_adr_class_name_$udkAddressClass")
        #set($udkAddressClassName = $MESSAGES.getString($udkAddressClassNameKey))
		<span class="icon_udk_detail"><img src="/ingrid-portal-apps/images/icn_udk_adr_${udkAddressClass}.gif" alt="${udkAddressClassName}" /></span>&nbsp;${udkAddressClassName}&nbsp;<span class="smaller">$MESSAGES.getString("search.detail.category")</span>
	</p>
	<span class="clearer"></span>
    #if($tool.hasContent($rec.get("summary")))
		<p>$rec.get("summary")</p>
    #end
	#renderUDKAddress()
	#if($tool.hasContent($subordinatedReferences) || $tool.hasContent($superiorReferences))
		<div class="line"><hr></div><br/>
    	#renderSuperiorReferences()
    	#renderSubordinatedReferences()
	#end	#renderUDKAddressFunction()
	#renderUDKAddressRelatedRecords()
    #renderUDKSearchTerms()
    <div class="line"><hr></div>
	<br />
	
##    <!--
##    <br><br><br><br>
##    	  #if($record)
##    		#renderRecord($record 0)
##    	  #else
##    		no details available.
##    	  #end
##    -->

#else
	<p><strong>$MESSAGES.getString("error_no_details_available")</strong></p>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
#end	
	</div>
</div>
	
## ***************************
## include the footer here
## ***************************
#parse('WEB-INF/templates/search_detail_footer.vm')