  <div class="section">    
#set ($action = $renderResponse.createActionURL())
    <form action="$action" method="post" name="search_history" id="search_history">
      <input type="hidden" name="action" value="doSubmit"/>
      <div class="formbody">
		#displayFormErrors()
        <div class="float_left">
          <h3>$MESSAGES.getString('searchHistory.title.lastQueries')</h3>
        </div>  
        <span class="clearer"></span>
#if($queries && !$queries.isEmpty())
		<ul class="internlinklist2">
#foreach($query in $queries)
		<li><a href="$query.url">$query.query</a> #if($query.ds == "2")<span class="smaller">$MESSAGES.getString('search.type.address')</span>#elseif($query.ds == "3")<span class="smaller">$MESSAGES.getString('search.type.research')</span>#elseif($query.ds == "4")<span class="smaller">$MESSAGES.getString('search.type.law')</span>#end</li>
#end	
		</ul>
#else
	<p>$MESSAGES.getString('searchHistory.msg.no.entries.found')</p>
#end	
		<br />
#if($searchSaveEntries)
$MESSAGES.resetMsgParams()
$MESSAGES.setMsgParam("$no_entries")
$MESSAGES.setMsgParam("$max_entries")
        <h3>$MESSAGES.getStringWithMsgParams('searchSave.label.results')</h3>
          <ul class="internlinklist">
            #foreach($entry in $searchSaveEntries)
				#set($idx = $velocityCount - 1)
				<li><input id="chk_$idx" name="chk_$idx" type="checkbox"> <a href="$entry.url">$entry.title</a> #if($entry.ds == "2")<span class="smaller">$MESSAGES.getString('search.type.address')</span>#elseif($entry.ds == "3")<span class="smaller">$MESSAGES.getString('search.type.research')</span>#elseif($entry.ds == "4")<span class="smaller">$MESSAGES.getString('search.type.law')</span>#end</li>
			#end
          </ul>
          <br>
		
#end
	</div>
#if($searchSaveEntries)
	<div class="formfooter formfooter_border_style">
		#renderInputButton($MESSAGES.getString('common.form.button.delete') "" "deleteEntries" "")
    </div>
#end
    </form>
  </div>
