<br />
<div class="js-accordion-multi">
    #set ($action = $renderResponse.createActionURL())
    <form action="$action" method="get" name="frmSimilar" id="frmSimilar">
        #if($ps.isSimilarOpen)
            $action.setParameter('action','doCloseSimilar')
            <div onclick="location.href='$action'" class="js-accordion-toggle filter__title is-active">
                $MESSAGES.getString('searchSimilar.headline')
                <svg class="filter__title__icon icon"><use xlink:href="#arrow-thick"></use></svg>
            </div>
        #else
            $action.setParameter('action','doOpenSimilar')
            <div onclick="location.href='$action'" class="js-accordion-toggle filter__title">
                $MESSAGES.getString('searchSimilar.headline')
                <svg class="filter__title__icon icon"><use xlink:href="#arrow-thick"></use></svg>
            </div>
        #end
        <div class="bx-top-s js-accordion-content #if($ps.isSimilarOpen)#else is-hidden #end">
            <div class="tree">
            #foreach($similarNode in $ps.similarRoot.getChildren())
                <ul class="js-accordion-multi">
                    #set ($action = $renderResponse.createActionURL())
                    $action.setParameter('nodeId',$similarNode.id)
                    #if($similarNode.isOpen())
                        $action.setParameter('action','doCloseNode')
                        <a onclick="location.href='$action'"><li class="tree__item tree__toggle js-accordion-toggle is-active">
                    #else
                        $action.setParameter('action','doOpenNode')
                        <a onclick="location.href='$action'"><li class="tree__item tree__toggle js-accordion-toggle">
                    #end
                        <svg class="tree__toggle__icon icon"><use xlink:href="#plus"></use></svg>
                        <svg class="tree__toggle__icon icon"><use xlink:href="#minus"></use></svg>
                        $similarNode.getName()
                        </a>
                    </li>
                    <li class="filter__checks js-accordion-content #if(!$similarNode.isOpen())is-hidden#end">
                        <div class="field">
                        #foreach($tokenNode in $similarNode.getChildren())
                            <div class="field-toggle field-toggle--check field-toggle--check-mobile">
                                #if($tokenNode.type == 4)
                                    $MESSAGES.getString('searchSimilar.terms.not.available')
                                #else
                                    <input id="chk_$tokenNode.id" name="chk_$tokenNode.id" value="1" type="checkbox">
                                    <label class="field-toggle__label field-toggle__label--boxed" for="chk_$tokenNode.id">
                                    <div class="field-toggle__icon">
                                        <svg class="icon"><use xlink:href="#tick"></use></svg>
                                    </div>
                                        $tokenNode.name
                                #end
                                </label>
                            </div>
                        #end
                        </div>
                    </li>
                </ul>
            #end
            </div>
            <p class="bx-top-m bx-bot-0 tx-center">
                <button class="btn btn--primary btn--small">$MESSAGES.getString('searchSimilar.add.to.query')</button>
                <input type="hidden" name="action" value="doAddSimilar" />
            </p>
        </div>
    </form>
</div>
## Close HTML tags (see "search_simple_result.vm") 
                </div>
            </div>
         </article>
    </div>
</section>