<div class="portlet-section-body">
    <ul>
      <li>
        <p>
          Mit der PortalU-Suche können Sie in Webseiten und Datenbanken nach Umweltinformationen suchen. Geben Sie einfach einen oder mehrere Suchbegriffe ein, oder formulieren Sie eine Suchanfrage mit Hilfe des Such-Assistenten (Erweiterte Suche).
        </p>
      </li>
    </ul>
</div>
		