<div class="portlet-section-body">
#foreach ($rubric in $rubricList)
    <p class="iconLink">
      <span class="icon"><img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="interner Link" /></span>
#set ($action = $renderResponse.createActionURL())
$action.setParameter('action','doTeaser')
$action.setParameter('rubric',"$rubric.FormValue")
      <span><a href="$action">$MESSAGES.getString("$rubric.QueryValue")</a></span>
      <span class="clearer"></span>
    </p>
#end
</div>
