<div class="portlet-section-body">
    <p>
		$MESSAGES.getString('service.info.text1')
    </p>
    <p>
		$MESSAGES.getString('service.info.text2')
    </p>
	#if($MESSAGES.getString('service.info.link1') != "" && $MESSAGES.getString('service.info.link1').length() > 0)
	<p class="iconLink">
      <span class="icon"><img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="$MESSAGES.getString('common.alt.icon.intern')" /></span>
	  <span><a href="$infoLink">$MESSAGES.getString('service.info.link1')</a></span>
      <span class="clearer"></span>
    </p>
	#end
</div>
		