#set ($contextPath = $renderRequest.getAttribute('org.apache.jetspeed.request.RequestContext').getRequest().getContextPath())
#set ($action = $renderResponse.createActionURL())
<div class="section">
	<div class="formbody">
		<iframe src="$wmsURL" style="width:860px;height:676px;border:0;" name="wms_viewer" marginheight="0" marginwidth="0" frameborder="0">
			$MESSAGES.getString("maps.error.noframes") 
		</iframe>
	</div>
	<p>
		<span class="clearer"></span>
	</p>
</div>
