#set ($contextPath = $renderRequest.getAttribute('org.apache.jetspeed.request.RequestContext').getRequest().getContextPath())
  <p>$MESSAGES.getString("showpartner.intro")</p>
  <ul class="innermenu">
#foreach( $key in $partners.keySet() ) 
	#set($partnerHash = $partners.get($key))
	#set($partner = $partnerHash.partner)
	#if($partnerHash.providers)
	#set ($link = $renderResponse.encodeURL("/portal/main-about-partner.psml#$partner.ident"))
	<li><a href="$link">$partner.name</a></li>
	#end
#end
	<br/>
	#set ($link = $renderResponse.encodeURL("/portal/main-about-partner.psml#databases"))
    <li><a href="$link">$MESSAGES.getString("showpartner.connected.databases")</a></li>
  </ul>
#foreach( $key in $partners.keySet() ) 
	#set($partnerHash = $partners.get($key))
	#set($partner = $partnerHash.partner)
	#if($partnerHash.providers)
  <a name="$partner.ident"></a>
  <div class="line"><hr /></div>
  <h3>$partner.name</h3>
<ul>
		#set($providers = $partnerHash.providers)
		#foreach($provider in $providers)
			#if($provider.provider)
			<li>#if($provider.provider.url && $provider.provider.url != "")<a href="$provider.provider.url" target="_new">$provider.provider.name</a>#else$provider.provider.name#end</li>
			#end
		#end
</ul>
	#end
#end
<div class="line"><hr /></div>
<a name="databases"></a>
<h3>$MESSAGES.getString("showpartner.connected.databases"):</h3>
<ul>
#foreach($plug in $plugs)
	#set($hideId = "false")
	#foreach($hideIPlugId in $hideIPlugIdList)
		#if($hideId != "true")
			#if($plug.getPlugId() == $hideIPlugId)
				#set($hideId = "true")
			#else
				#set($hideId  = "false")
			#end
		#end
	#end
	#if($hideId == "false")
		<li>$plug.getDataSourceName()</li>
	#end
#end
</ul>
