#set ($contextPath = $renderRequest.getAttribute('org.apache.jetspeed.request.RequestContext').getRequest().getContextPath())
<div id="overview">
	<h1>$MESSAGES.getString("sitemap.content.overview")</h1>
	<div class="left">
		<h2>$MESSAGES.getString("sitemap.area.main")</h2>
		<div class="sitemap">
			<ul>
				<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/main-search.psml"))
					<a href="$link">$MESSAGES.getString("sitemap.area.main.search")</a>
					<p>$MESSAGES.getString("sitemap.area.main.search.description")</p>
					<ul>
						<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/search-extended/search-ext-env-topic-terms.psml?ds=1"))
							<a href="$link">$MESSAGES.getString("sitemap.area.main.extsearch")</a>
							<p>$MESSAGES.getString("sitemap.area.main.extsearch.description")</p>
						</li>
						<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/search-history.psml"))
							<a href="$link">$MESSAGES.getString("sitemap.area.main.history")</a>
							<p>$MESSAGES.getString("sitemap.area.main.history.description")</p>
						</li>
						<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/search-settings.psml"))
							<a href="$link">$MESSAGES.getString("sitemap.area.main.settings")</a>
							<p>$MESSAGES.getString("sitemap.area.main.settings.description")</p>
						</li> 
					</ul>
				</li>
				<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/main-service.psml"))
					<a href="$link">$MESSAGES.getString("sitemap.area.main.service")</a>
					<p>$MESSAGES.getString("sitemap.area.main.service.description")</p>
				</li>
				<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/main-measures.psml"))
					<a href="$link">$MESSAGES.getString("sitemap.area.main.measures")</a>
					<p>$MESSAGES.getString("sitemap.area.main.measures.description")</p>
				</li>
				<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/main-environment.psml"))
					<a href="$link">$MESSAGES.getString("sitemap.area.main.topics")</a>
					<p>$MESSAGES.getString("sitemap.area.main.topics.description")</p>
				</li>
				<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/main-chronicle.psml"))
					<a href="$link">$MESSAGES.getString("sitemap.area.main.chronicle")</a>
$MESSAGES.resetMsgParams()
$MESSAGES.setMsgParam($MESSAGES.getString('common.tooltip.link.extern'))
					<p>$MESSAGES.getStringWithMsgParams("sitemap.area.main.chronicle.description")</p>
				</li>
				<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/main-about.psml"))
					<a href="$link">$MESSAGES.getString("sitemap.area.main.about")</a>
					<p>$MESSAGES.getString("sitemap.area.main.about.description")</p>
					<ul>
						<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/main-about-partner.psml"))
							<a href="$link">$MESSAGES.getString("sitemap.area.main.provider")</a>
							<p>$MESSAGES.getString("sitemap.area.main.provider.description")</p>
						</li>
					</ul>
				</li>
			</ul>
			<br />
		</div>  
	</div>
	<div class="right">
		<h2>$MESSAGES.getString("sitemap.area.service")</h2>
		<div class="sitemap">
			<ul>
				<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/default-page.psml"))
					<a href="$link">$MESSAGES.getString("sitemap.area.service.home")</a>
					<p>$MESSAGES.getString("sitemap.area.service.home.description")</p>
					<ul>
						<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/rss-news.psml"))
							<a href="$link">$MESSAGES.getString("sitemap.area.service.news.rss")</a>
							<p>$MESSAGES.getString("sitemap.area.service.news.rss.description")</p>
						</li>
					</ul>
				</li>
				<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/service-myportal.psml"))
					<a href="$link">$MESSAGES.getString("sitemap.area.service.myportal")</a>
					<p>$MESSAGES.getString("sitemap.area.service.myportal.description")</p>
				</li>
				<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/service-sitemap.psml"))
					<a href="$link">$MESSAGES.getString("sitemap.area.service.sitemap")</a>
					<p>$MESSAGES.getString("sitemap.area.service.sitemap.description")</p>
				</li>
				<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/help.psml"))
	<script language="JavaScript" type="text/javascript">
		document.write("<a href=\"javascript:ingrid_openWindow('$link',750,550);\">$MESSAGES.getString("sitemap.area.service.help")</a>");
	</script>
	<noscript>
					<a href="$link" target="_new">$MESSAGES.getString("sitemap.area.service.help")</a>
	</noscript>
					<p>$MESSAGES.getString("sitemap.area.service.help.description")</p>
				</li>
				<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/service-contact.psml"))
					<a href="$link">$MESSAGES.getString("sitemap.area.service.contact")</a>
					<p>$MESSAGES.getString("sitemap.area.service.contact.description")</p>
					<ul>
						<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/service-contact-newsletter.psml"))
							<a href="$link">$MESSAGES.getString("sitemap.area.service.newsletter")</a>
							<p>$MESSAGES.getString("sitemap.area.service.newsletter.description")</p>
						</li>          
					</ul>
				</li>
			  </ul>
			<br />
		</div>  
	</div>
	<div class="clearer">
	</div>
	<div class="whole">
		<h2>$MESSAGES.getString("sitemap.area.footer")</h2>
		<div class="sitemap">  
			<ul>
				<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/disclaimer.psml"))
					<a href="$link">$MESSAGES.getString("sitemap.area.footer.disclaimer")</a>
					<p>$MESSAGES.getString("sitemap.area.footer.disclaimer.description")</p>
				</li>
				<li>
#set ($link = $renderResponse.encodeURL("${contextPath}/portal/privacy.psml"))
					<a href="$link">$MESSAGES.getString("sitemap.area.footer.privacy")</a>
					<p>$MESSAGES.getString("sitemap.area.footer.privacy.description")</p>
				</li>
				<li>
					<a href="mailto:$webmaster_email">$MESSAGES.getString("sitemap.area.footer.webmaster")</a>
					<p>$MESSAGES.getString("sitemap.area.footer.webmaster.description")</p>
				</li>
			</ul>
		</div>  
	</div>
</div>