#set($i = 0)
MAP
	NAME "point_map"
	STATUS ON
	EXTENT 5.7 47.2 15.2 55.1
	UNITS METERS

	SYMBOLSET 	"$pathToSymbolDirectory/symbols.sym"
	FONTSET 	"$pathToFontDirectory/fonts.txt"

	PROJECTION
		"init=epsg:4326"
	END

	WEB
		METADATA
			"WMS_ACCESSCONSTRAINTS" "PortalU temporary service"
  			"WMS_SRS" "epsg:31466 epsg:31467 epsg:4326 epsg:25832 epsg:25833 epsg:31468 epsg:31469"
  			"WMS_ONLINERESOURCE" "$pathToMapServer$pathToMapFile&"
  			"WMS_TITLE" "$hitTitle"
  			"WMS_FEATURE_INFO_MIME_TYPE" "text/html"
  			"WMS_ABSTRACT" "$hitTitle"
		END
	END

	OUTPUTFORMAT
		NAME png
		DRIVER "GD/PNG"
		MIMETYPE "image/png"
		EXTENSION PNG
		IMAGEMODE PC256
		TRANSPARENT ON
	END

	LEGEND
		STATUS ON
		IMAGECOLOR 255 255 255
		POSITION LL
		KEYSIZE 18 15
		KEYSPACING 5 5
		TEMPLATE "ttt"
		LABEL
			TYPE BITMAP
			OFFSET 0 0
			BUFFER 0
			MINDISTANCE -1
			MINFEATURESIZE -1
			COLOR 0 0 89
			PARTIALS TRUE
			FORCE FALSE
		END
	END
#-----------------------------------------------------------------------------------------------

#foreach ($item in $coordClasses)
	#set($i = $i + 1)
	LAYER
		NAME "point_layer_$i"
		STATUS ON
		TYPE POINT
		CONNECTIONTYPE OGR
		CONNECTION "$item.get("coordGMLPath")"
		METADATA
			"WMS_SRS"    "epsg:$coordClass"
			"WMS_TITLE"	"$item.get("coordClassName")"
			"WMS_FEATURE_INFO_MIME_TYPE"    "text/html"
		END
		
		PROJECTION
			"init=epsg:$coordClass"
		END
		
		LABELITEM "COORDTITLE"
		TEMPLATE "$pathToHTMLTemplate"
		
		CLASS
			NAME "$item.get("coordClassName")"
			STYLE
				SYMBOL "circle"
				SIZE 7
				COLOR $item.get("coordClassColor")
				OUTLINECOLOR 0 0 0
			END
			LABEL
				TYPE TRUETYPE
				COLOR 0 0 0
				FONT "Arial"
				SIZE 8
				POSITION uc
			END
		END
	END
#-----------------------------------------------------------------------------------------------

#end
#set($i = 0)
END
