<script>
  $('.filter .filter-wrapper').niceScroll({
    cursorcolor:"#5e788d",
    cursorwidth:"8px",
    cursorborderradius: "6px",
  });

  $(window).scroll(function(){
    $(".filter .filter-wrapper").getNiceScroll().resize();
  });

  $('.filter .accordion-title').bind('click',function(){
    setTimeout(function(){
      $(".filter .filter-wrapper").getNiceScroll().resize();
    }, 500);
  });
  
  ## '/ingrid-portal-base/decorations/layout/ingrid/templates/footer/body_script_shrink.vm' onscroll function
</script>