#* Add the current layouts configuration values to the context *#
#defineLayoutObjects()

#* Loads our custom macros *#
#parse($layoutDecoration.getResource("decorator-macros.vm"))

#* Add all template constants to the current context *#
##defineNavigationConstants()

<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
    <head>
        <title>$MESSAGES.getStringOrDefault($jetspeed.getPageMetadata("meta_title"), "InGrid-Portal")</title>
        #parse("/decorations/layout/ingrid/templates/header/head.vm")
    </head>
    <body>
        #parse("/decorations/layout/ingrid/templates/header/body.vm")