#if($type != "6" && $checkOtherInformation)
    <div class="sub-section">
        <a class="anchor" id="${hashDetail5}_technical_information"></a>
        #renderGroupTitle($MESSAGES.getString("technical_information"))
    ## Datenformat
        #set($headTitles = ["Format","Version"])
        #set($headXpathExpressions = [$xPathBawFormat, $xPathBawVersion])
        #renderTable($TOOL.getNodeListTable("Datenformat", "$xPathBawFormatName", $headTitles, $headXpathExpressions))
    ## Verfahren
        #renderTextTable("Verfahren" $TOOL.getValueFromXPath($xPathBawProcedure))
    ## Modellart
        #renderTextListTable("Modellart" $TOOL.getListOfValuesFromXPath($xPathBawModellType, "."))
    ## Räumliche Dimensionalität
        #renderTextTable("R&auml;umliche Dimensionalit&auml;t" $TOOL.getValueFromXPath($xPathBawSpatialDimensionality))
    ## Zeitschrittgröße
        #renderTextTable("Zeitschrittgr&ouml;&szlig;e &lsqb;s&rsqb;" $TOOL.getValueFromXPath($xPathBawTimestepSize))
    ## Parameter und Zustandsgrößen
        #set($headTitles = ["Rolle","Name","Einheit","Wert"])
        #set($headTypes = ["text","text","text", "text"])
        #set($headXpathExpressions = [$xPathBawRole, $xPathBawName, $xPathBawUnit, $xPathBawValue])
        #renderTable($TOOL.getNodeListTable("Parameter und Zustandsgr&ouml;&szlig;en", "$xPathBAWDataQuality", $headTitles, $headXpathExpressions, null, $headTypes))
    ## Messdaten
        #parse("/WEB-INF/templates/detail/parts/metadata/information/information_type1_measurement.vm")
    ## Fachliche Grundlage
        #renderTextTable($MESSAGES.getString("t011_obj_geo.special_base") $TOOL.getValueFromXPath($xPathInfo1LILineageStatement))
    </div>
#elseif($type == "6" && $TOOL.aNodeOfListExist($xPathListInformationType6))
    <div class="sub-section">
        <a class="anchor" id="${hashDetail5}_technical_information"></a>
        #renderGroupTitle($MESSAGES.getString("technical_information"))
    ## Einsatzzweck
        #renderTextTable("Einsatzzweck" $TOOL.getValueFromXPath($xPathInfo6Einsatzzweck))
    ## Nutzerkreis
        #set($headTitles = ["", "BAW", "WSV", "Extern"])
        #set($headXpathExpressions = ["", "./baw", "./wsv", "./extern"])
        #set($columnsSymbol = [1, 2, 3])
        #set($rowsAdditional = [])
        #set($rowAdditional = {})
        #set($put = $rowAdditional.put("title", "Anmerkungen"))
        #set($put = $rowAdditional.put("xpath", "${xPathInfo6Nutzerkreis}/anmerkungen"))
        #set($add = $rowsAdditional.add($rowAdditional))
        #renderTableSymbols($TOOL.getNodeListTable("Nutzerkreis", $xPathInfo6Nutzerkreis, $headTitles, $headXpathExpressions) $columnsSymbol $tmpBooleanSymbols [] $rowsAdditional)
    ## Produktiver Einsatz
        #set($headTitles = ["", "WSV-Auftrag", "FuE", "Andere"])
        #set($headXpathExpressions = ["", "./wsvAuftrag", "./fUndE", "./andere"])
        #set($columnsSymbol = [1, 2, 3])
        #set($rowsAdditional = [])
        #set($rowAdditional = {})
        #set($put = $rowAdditional.put("title", "Anmerkungen"))
        #set($put = $rowAdditional.put("xpath", "${xPathInfo6ProduktiverEinsatz}/anmerkungen"))
        #set($add = $rowsAdditional.add($rowAdditional))
        #renderTableSymbols($TOOL.getNodeListTable("Produktiver Einsatz", $xPathInfo6ProduktiverEinsatz, $headTitles, $headXpathExpressions) $columnsSymbol $tmpBooleanSymbols [] $rowsAdditional)
    ## Ergänzungsmodul zu Marktsoftware
        #renderTextTable("Erg&auml;nzungsmodul zu Marktsoftware" $TOOL.getValueFromXPath("${xPathInfo6ErgaenzungsModul}/ergaenzungsModul"))
        #renderTextTable("Name der Marktsoftware" $TOOL.getValueFromXPath("${xPathInfo6ErgaenzungsModul}/ergaenzteSoftware"))
    ## Betriebssystem
        #set($headTitles = ["", "Windows", "Linux"])
        #set($headXpathExpressions = ["", "./windows", "./linux"])
        #set($columnsSymbol = [1,2])
        #set($rowsAdditional = [])
        #set($rowAdditional = {})
        #set($put = $rowAdditional.put("title", "Anmerkungen"))
        #set($put = $rowAdditional.put("xpath", "${xPathInfo6Betriebssystem}/anmerkungen"))
        #set($add = $rowsAdditional.add($rowAdditional))
        #renderTableSymbols($TOOL.getNodeListTable("Betriebssystem", $xPathInfo6Betriebssystem, $headTitles, $headXpathExpressions) $columnsSymbol $tmpBooleanSymbols [] $rowsAdditional)
    ## Programmiersprache
        #renderTextListTable("Programmiersprache" $TOOL.getListOfValuesFromXPath($xPathInfo6Programmiersprache, "."))
    ## Entwicklungsumgebung
        #renderTextListTable("Entwicklungsumgebung" $TOOL.getListOfValuesFromXPath($xPathInfo6Entwicklungsumgebung, "."))
    ## Bibliotheken
        #renderTextListTable("Bibliotheken" $TOOL.getListOfValuesFromXPath($xPathInfo6Bibliotheken, "."))
    ## Erstellungsvertrag
        #set($tableHead = [])
        #set($tableBody = [])
        #if($TOOL.nodeExist("${xPathInfo6Erstellungsvertrag}/vertragsNummer"))
            #set($add = $tableHead.add("Vertragsnr"))
            #set($add = $tableBody.add([$TOOL.getValueFromXPath("${xPathInfo6Erstellungsvertrag}/vertragsNummer", ".")]))
        #end
        #if($TOOL.nodeExist("${xPathInfo6Erstellungsvertrag}/datum"))
            #set($add = $tableHead.add("Datum"))
            #set($add = $tableBody.add([$TOOL.convertDateString($TOOL.getValueFromXPath("${xPathInfo6Erstellungsvertrag}/datum", "."))]))
        #end
        #if($tableHead.size() > 0)
            #set($tmp = {})
            #set($put = $tmp.put("head", $tableHead))
            #set($put = $tmp.put("title", "Erstellungsvertrag"))
            #set($put = $tmp.put("body", $tableBody))
            #renderTableAsList("" $tmp)
        #end
    ## Supportvertrag
        #set($tableHead = [])
        #set($tableBody = [])
        #if($TOOL.nodeExist("${xPathInfo6Supportvertrag}/vertragsNummer"))
            #set($add = $tableHead.add("Vertragsnr"))
            #set($add = $tableBody.add([$TOOL.getValueFromXPath("${xPathInfo6Supportvertrag}/vertragsNummer", ".")]))
        #end
        #if($TOOL.nodeExist("${xPathInfo6Supportvertrag}/datum"))
            #set($add = $tableHead.add("Datum"))
            #set($add = $tableBody.add([$TOOL.convertDateString($TOOL.getValueFromXPath("${xPathInfo6Supportvertrag}/datum", "."))]))
        #end
        #if($TOOL.nodeExist("${xPathInfo6Supportvertrag}/anmerkungen"))
            #set($add = $tableHead.add("Anmerkungen"))
            #set($add = $tableBody.add([$TOOL.getValueFromXPath("${xPathInfo6Supportvertrag}/anmerkungen", ".")]))
        #end
        #if($tableHead.size() > 0)
            #set($tmp = {})
            #set($put = $tmp.put("head", $tableHead))
            #set($put = $tmp.put("title", "Supportvertrag"))
            #set($put = $tmp.put("body", $tableBody))
            #renderTableAsList("" $tmp)
        #end
    ## Installationsort
        #set($tableHead = [])
        #set($tableBody = [])
        #if($TOOL.nodeExist("${xPathInfo6Installationsort}/lokal"))
            #set($add = $tableHead.add("Lokal"))
            #set($add = $tableBody.add([$TOOL.getValueFromXPath("${xPathInfo6Installationsort}/lokal", ".")]))
        #end
        #if($TOOL.nodeExist("${xPathInfo6Installationsort}/HLR/hlrName"))
            #set($add = $tableHead.add("Name des HLRs"))
            #set($add = $tableBody.add($TOOL.getListOfValuesFromXPath("${xPathInfo6Installationsort}/HLR/hlrName", ".")))
        #end
        #if($TOOL.nodeExist("${xPathInfo6Installationsort}/Server/servername"))
            #set($add = $tableHead.add("Servername"))
            #set($add = $tableBody.add($TOOL.getListOfValuesFromXPath("${xPathInfo6Installationsort}/Server/servername", ".")))
        #end
        #if($tableHead.size() > 0)
            #set($tmp = {})
            #set($put = $tmp.put("head", $tableHead))
            #set($put = $tmp.put("title", "Installationsort"))
            #set($put = $tmp.put("body", $tableBody))
            #renderTableAsList("" $tmp)
        #end
    ## Installation über
        #set($xPathInfo6InstallationsMethode = "./software/installationsMethode")
    ## BAW-Rechte an den Quellen
        #set($xPathInfo6QuellCodeRechte = "./software/QuellCodeRechte")
    ## Rechte bei Nutzung der SW durch Dritte
        #set($xPathInfo6NutzungsRechte = "./software/NutzungsRechte")
    </div>
#end