## BAW Auftragsnummer
#if($bawAggregateDataSetNameNumber)
    #renderTextList("PSP-Element" [$bawAggregateDataSetNameNumber])
#end
## BAW Auftragstitel
#if($bawAggregateDataSetNameTitle)
    #renderTextList("Auftragstitel" [$bawAggregateDataSetNameTitle])
#end