/*
 *  Base: Override
 *________________________*/




.picker__select--month, .picker__select--year {
  height: 2.25em;
}

.flex-row {
  @include media(
    $query: '768 >',
    $css: (
      display: flex,
      flex-direction: row
    )
  );
}

.flex-vfill {
  @include media(
    $query: '768 >',
    $css: (
      height: 100%
    )
  );
}