#set ($action = $renderResponse.createActionURL())
<div class="sidebar__widget js-accordion-multi">
    <div id="facet_area_map_header" class="sidebar__widget__title filter__title js-accordion-toggle is-active" onclick="resizeMap()">
        $MESSAGES.getString("searchResult.facete.area.map.search")
        <svg class="filter__title__icon icon">
            <use xlink:href="#arrow-thick"/>
        </svg>
    </div>
    <div id="facet_area_map_content" class="sidebar__widget__content sidebar__widget__content--pushed js-accordion-content" >
        <div id="map" style="height:320px;"></div>
        <div id="map-legend"></div>
        <div><p><small><span class="tx-light">$MESSAGES.getString("common.map.info")</span></small></p></div>
        <form action="$action" method="post" name="facete_map_form">
            <input id="x1" name="x1" type="hidden" />
            <input id="x2" name="x2" type="hidden" />
            <input id="y1" name="y1" type="hidden" />
            <input id="y2" name="y2" type="hidden" />
            <input id="areaid" name="areaid" type="hidden" />    
            #renderInputButtonDialog($MESSAGES.getString('searchResult.facete.dialog.commit') "" "doAddMap" $MESSAGES.getString('searchResult.facete.dialog.tooltip.commit') "btn btn--primary btn--small btn--block" "getMapBounds()")
        </form>
        ## SELECTED PARAMS
        #if($selectedMap)
            #if($selectedMap.doMapCoords && $selectedMap.doMapCoords.size() > 0)
                #if($selectedMap.doMapCoords.inside)
                    $action.setParameter("doRemoveMap",  "inside")
                    #renderFaceteSelectedAttributeHashMapNumber ($action $selectedMap.doMapCoords.inside $elementsMap "inside" true)
                #end
            #end
            #if($selectedMap.doMapCoords && $selectedMap.doMapCoords.size() > 1)
                $action.setParameter("doRemoveMap",  "all")
                #renderFaceteDeleteLinkLineDialog($MESSAGES.getString("searchResult.facete.area.map.delete") $action)
            #end
        #end
    </div>
</div>

#parse("/WEB-INF/templates/global/include_leaflet_header.vm")
<script language="JavaScript" type="text/javascript">
    var bounds;
    var selectedMap = '$selectedMap.webmapclientCoords';
    if(selectedMap.indexOf("y1") > -1){
        bounds = [[$selectedMap.webmapclientCoords.y1, $selectedMap.webmapclientCoords.x1], [$selectedMap.webmapclientCoords.y2, $selectedMap.webmapclientCoords.x2]];
    }
    
    var osm = getOSMLayer('');
    var map = addLeafletMap([osm], bounds, new L.LatLng(51.3, 10), 5);
    var enablePopUp = false;
    var smallIcons = true;
    
    if(!bounds){
        $( document ).ready(function() {
            $('#facet_area_map_header').each(function(index) {
                var div = $(this);
                div.removeClass('is-active');
            });
            $('#facet_area_map_content').each(function(index) {
                var div = $(this);
                div.addClass('is-hidden');
            });
        });
    }
    
    window.onresize = function(event) {
        resizeMap();
    };

    function getMapBounds(){
        if(map.getBounds().isValid()) {
            $('#x1').prop("value", map.getBounds().getWest());
            $('#x2').prop("value", map.getBounds().getEast());
            $('#y1').prop("value", map.getBounds().getSouth());
            $('#y2').prop("value", map.getBounds().getNorth());
        }
    }

    function resizeMap(){
        if(map){
            map._onResize();
        }
    }
</script>
#parse("/WEB-INF/templates/global/include_leaflet_marker.vm")
<script>
    addLeafletHomeControl(map, 'Zoom auf initialen Kartenausschnitt', 'topleft', 'icon-crosshair-2-1', mapMarkers, new L.LatLng(51.3, 10), 5);
    
    var htmlObject = control.getContainer();
    // Get the desired parent node.
    var a = document.getElementById('map-legend');
    
    // Finally append that node to the new parent.
    function setParent(el, newParent)
    {
        newParent.appendChild(el);
    }
    setParent(htmlObject, a);
</script>
