#if($restUrlFacetValue)
<script>
    $('.accordion-item.is-active').each(function(index1) {
        if($(this).has('input:checked').length > 0) {
            $(this).find('.control--checkbox').each(function(index) {
                var element = $(this);
                var input = element.find('input');
                var spanNr = element.find('.nr-results');
                if(input.length > 0 && spanNr.length > 0) {
                    if(!input.is(':checked')) {
                        var id = input.attr('id');
                        var spanNrValue= spanNr.text().trim();
                        jQuery.get("$restUrlFacetValue?facetId=" + id.replace('facet-', '') )
                        .done(function(data, textStatus, jqxhr) {
                            if(data) {
                                spanNr.text('(' + data + ')');
                            }
                        })
                        .error(function () {
                        });
                    }
                }
            })
        }
    });
</script>
#end