## Variable 'restUrlHttpGetImage' must be define in portlet

<script>
    function loadDefaultMapImage(elem, partner) {
      elem.onerror = null;
      var image = 'image_map';
      if(partner && partner != 'bund') {
        image += '_' + partner; 
      }
      var defaultImage = '/ingrid-portal-apps/images/maps/' + image + '.png';
      if(elem) {
        elem.src = defaultImage;
        var src = elem.dataset.src;
        if(src) {
          src = src.trim();
          if(src.indexOf('http:') > -1) {
            var http = new XMLHttpRequest();
            http.open('GET', '$restUrlHttpGetImage?url=' + encodeURIComponent(src), true);
            http.onreadystatechange = function() {
              if (this.readyState == this.DONE) {
                if (this.status === 200) {
                  if(this.response){
                    elem.src = this.response;
                  }
                  elem.removeAttribute('data-src');
                }
              }
            };
            http.send();
            return ('');
          } else {
            elem.removeAttribute('data-src');
          }
        } else {
          var anchor = $(elem).parent('a');
          if(anchor) {
            anchor.attr('href', defaultImage);
          }
        }
      }
    }
</script>