<script>
    $( document ).ready(function() {
        $('a.download').each(function(index) {
            var a = $(this);
            var aParent = a.parent(); 
            if(a){
                if(a.length > 0){
                    var href = a[0].href;
                    var spanParent = aParent.find('span.text');
                    if(spanParent){
                        var span = spanParent.find('span.downloadText');
                        if(href && span){
                            getLinkFileSize('$restUrlHttpGet?url=' + encodeURIComponent(href), span);
                        }
                    }
                }
            }
        });
    });
</script>