#renderPortletTitle($MESSAGES.getString('javax.portlet.title'))

#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="frmCreateUser" id="frmCreateUser">
    <input type="hidden" name="layoutPermission" value="$actionForm.getInput('layoutPermission')"/>
    <input type="hidden" name="mode" value="new"/>
    <div>
        #displayFormErrors()
        #displayFormMessages()
        <h2 class="nospace">Neuen Benutzer anlegen</h2>
        <h4>* Pflichtfelder</h4>
        <div class="media">
            <div class="media__obj media__obj--large media__obj--left">
                <label class="float_left col2left alignleft" for="salutation">#displayFieldLabel('salutation' $MESSAGES.getString('account.edit.label.salutation'))</label>
            </div>
            <div class="media__body">
                <select class="float_left inputstyle" name="salutation" id="salutation" size="1">
                    <option value="0" #getSelectedFlag('salutation' '0')>---</option>
                    <option value="1" #getSelectedFlag('salutation' '1')>$MESSAGES.getString('account.edit.salutation.option1')</option>
                    <option value="2" #getSelectedFlag('salutation' '2')>$MESSAGES.getString('account.edit.salutation.option2')</option>
                    <option value="3" #getSelectedFlag('salutation' '3')>$MESSAGES.getString('account.edit.salutation.option3')</option>
                    <option value="4" #getSelectedFlag('salutation' '4')>$MESSAGES.getString('account.edit.salutation.option4')</option>
                </select>
            </div>
        </div>
        <div class="media">
            <div class="media__obj media__obj--large media__obj--left">
                <label class="float_left col2left alignleft" for="firstname">#displayFieldLabel('firstname' $MESSAGES.getString('account.edit.label.firstname'))*</label>
            </div>
            <div class="media__body">
                <input class="float_left col2right inputstyletext" type="text" id="firstname" name="firstname" value="#getFieldValue('firstname')" />
            </div>
        </div>
        <div class="media">
            <div class="media__obj media__obj--large media__obj--left">
                <label class="float_left col2left alignleft" for="lastname">#displayFieldLabel('lastname' $MESSAGES.getString('account.edit.label.lastname'))*</label>
            </div>
            <div class="media__body">
                <input class="float_left col2right inputstyletext" type="text" id="lastname" name="lastname" value="#getFieldValue('lastname')" />
            </div>
        </div>
        <div class="media">
            <div class="media__obj media__obj--large media__obj--left">
                <label class="float_left col2left alignleft" for="email">#displayFieldLabel('email' $MESSAGES.getString('account.edit.label.email'))*</label>
            </div>
            <div class="media__body">
                <input class="float_left col2right inputstyletext" type="text" id="email" name="email" value="#getFieldValue('email')" />
            </div>
        </div>
        <hr />
        <div class="media">
            <div class="media__obj media__obj--large media__obj--left">
                <label class="float_left col2left alignleft" for="login">#displayFieldLabel('id' $MESSAGES.getString('account.create.label.username'))*</label>
            </div>
            <div class="media__body">
                <input class="float_left col2right inputstyletext" type="text" id="id" name="id" value="#getFieldValue('id')" />
            </div>
        </div>
        <hr />
        <div class="media">
            <div class="media__obj media__obj--large media__obj--left">
                <label class="float_left col2left alignleft" for="password_new">#displayFieldLabel('password_new' $MESSAGES.getString('account.create.label.password'))*</label>
            </div>
            <div class="media__body">
                <input class="float_left col2right inputstyletext" type="password" id="password_new" name="password_new" value="#getFieldValue('password_new')" />
            </div>
        </div>
        <div class="media">
            <div class="media__obj media__obj--large media__obj--left">
                <label class="float_left col2left alignleft" for="password_new_confirm">#displayFieldLabel('password_new_confirm' $MESSAGES.getString('account.create.label.password_confirm'))*</label>
            </div>
            <div class="media__body">
                <input class="float_left col2right inputstyletext" type="password" id="password_new_confirm" name="password_new_confirm" value="#getFieldValue('password_new_confirm')" />
            </div>
        </div>
        <hr />
        <h3>$MESSAGES.getString('account.edit.address.information')</h3>
        <div class="media">
            <div class="media__obj media__obj--large media__obj--left">
                <label class="float_left col2left alignleft" for="street">#displayFieldLabel('street' $MESSAGES.getString('account.edit.label.street'))</label>
            </div>
            <div class="media__body">
                <input class="float_left col2right inputstyletext" type="text" id="street" name="street" value="#getFieldValue('street')" />
            </div>
        </div>
        <div class="media">
            <div class="media__obj media__obj--large media__obj--left">
                <label class="float_left col2left alignleft" for="postalcode">#displayFieldLabel('postalcode' $MESSAGES.getString('account.edit.label.postalcode'))</label>
            </div>
            <div class="media__body">
                <input class="float_left col2right inputstyletext" type="text" id="postalcode" name="postalcode" value="#getFieldValue('postalcode')" />
            <p class="clearer"></p>
            </div>
        </div>
        <div class="media">
            <div class="media__obj media__obj--large media__obj--left">
                <label class="float_left col2left alignleft" for="city">#displayFieldLabel('city' $MESSAGES.getString('account.edit.label.city'))</label>
            </div>
            <div class="media__body">
                <input class="float_left col2right inputstyletext" type="text" id="city" name="city" value="#getFieldValue('city')" />
            </div>
        </div>
        <hr />
        <div class="media">
            <div class="media__obj media__obj--large media__obj--left">
                <label class="float_left col2left alignleft" for="attention">#displayFieldLabel('attention' $MESSAGES.getString('account.edit.label.attention'))</label>
            </div>
            <div class="media__body">
                <input class="float_left col2right inputstyletext" type="text" id="attention" name="attention" value="#getFieldValue('attention')" />
            </div>
        </div>
        <div class="media">
            <div class="media__obj media__obj--large media__obj--left">
                <label class="float_left col2left alignleft" for="age">#displayFieldLabel('age' $MESSAGES.getString('account.edit.label.age'))</label>
            </div>
            <div class="media__body">
                <select class="float_left inputstyle" name="age" size="1" id="age">
                    <option value="0" #getSelectedFlag('age' '0')>---</option>
                    <option value="1" #getSelectedFlag('age' '1')>&lt; 20</option>
                    <option value="2" #getSelectedFlag('age' '2')>20 - 30</option>
                    <option value="3" #getSelectedFlag('age' '3')>30 - 40</option>
                    <option value="4" #getSelectedFlag('age' '4')>40 - 50</option>
                    <option value="7" #getSelectedFlag('age' '7')>50 - 60</option>
                    <option value="5" #getSelectedFlag('age' '5')>60 - 70</option>
                    <option value="6" #getSelectedFlag('age' '6')>&gt; 70</option>
                </select>
            </div>
        </div>
        <div class="media">
            <div class="media__obj media__obj--large media__obj--left">
                <label class="float_left col2left alignleft" for="interest">#displayFieldLabel('interest' $MESSAGES.getString('account.edit.label.interest'))</label>
            </div>
            <div class="media__body">
                <select class="float_left inputstyle" name="interest" id="interest" size="1">
                    <option value="0" #getSelectedFlag('interest' '0')>---</option>
                    <option value="1" #getSelectedFlag('interest' '1')>$MESSAGES.getString('account.edit.interest.option1')</option>
                    <option value="2" #getSelectedFlag('interest' '2')>$MESSAGES.getString('account.edit.interest.option2')</option>
                </select>
            </div>
        </div>
        <div class="media">
            <div class="media__obj media__obj--large media__obj--left">
                <label class="float_left col2left alignleft" for="profession">#displayFieldLabel('profession' $MESSAGES.getString('account.edit.label.profession'))</label>
            </div>
            <div class="media__body">
                <select class="float_left inputstyle" size="1" id="profession" name="profession">
                    <option value="0" #getSelectedFlag('profession' '0')>---</option>
                    <option value="1" #getSelectedFlag('profession' '1')>$MESSAGES.getString('account.edit.profession.option1')</option>
                    <option value="2" #getSelectedFlag('profession' '2')>$MESSAGES.getString('account.edit.profession.option2')</option>
                    <option value="3" #getSelectedFlag('profession' '3')>$MESSAGES.getString('account.edit.profession.option3')</option>
                    <option value="4" #getSelectedFlag('profession' '4')>$MESSAGES.getString('account.edit.profession.option4')</option>
                    <option value="5" #getSelectedFlag('profession' '5')>$MESSAGES.getString('account.edit.profession.option5')</option>
                    <option value="6" #getSelectedFlag('profession' '6')>$MESSAGES.getString('account.edit.profession.option6')</option>
                    <option value="7" #getSelectedFlag('profession' '7')>$MESSAGES.getString('account.edit.profession.option7')</option>
                    <option value="8" #getSelectedFlag('profession' '8')>$MESSAGES.getString('account.edit.profession.option8')</option>
                </select>  
            </div>
        </div>
    </div>
    #renderDBEditFooter($mode)
</form>