#renderPortletTitle($MESSAGES.getString('javax.portlet.title'))

#set ($action = $renderResponse.createActionURL())
<div class="block">
    <form action="$action" method="post" name="frmUserBrowser" id="frmUserBrowser">
        <aside class="sidebar js-accordion-multi" style="padding:3.75rem 0 0; left:0;">
            <div class="sidebar__title js-accordion-toggle mq-show-l">
                Filter
                <svg class="icon"><use xlink:href="#filter"></use></svg>
                <svg class="icon"><use xlink:href="#cross"></use></svg>
            </div>
            <div class="sidebar__content js-accordion-content is-hidden">
                <div class="sidebar__widget js-accordion-multi">
                    <div class="sidebar__widget__content sidebar__widget__content--pushed js-accordion-content">
                        <div id="filterArea" class="sidebar__widget__content sidebar__widget__content--pushed js-accordion-content">
                            <h4>
                                <span class="mq-hide-l">Filter</span>
                                <span>&nbsp;</span>
                                #renderPopUpIcon("<p>$MESSAGES.getString('component.forms.text.search.wildcard')</p>" "" "float:right")
                            </h4>
                            <p><input class="bx-bot-xs" type="text" name="filterCriteriaId" id="filterCriteriaId" value="$!browser.filterCriteria.filterCriteriaId" placeholder="$MESSAGES.getString('account.view.id')"/></p>
                            <p><input class="bx-bot-xs" type="text" name="filterCriteriaFirstName" id="filterCriteriaFirstName" value="$!browser.filterCriteria.filterCriteriaFirstName" placeholder="$MESSAGES.getString('account.view.first.name')"/></p>
                            <p><input class="bx-bot-xs" type="text" name="filterCriteriaLastName" id="filterCriteriaLastName" value="$!browser.filterCriteria.filterCriteriaLastName" placeholder="$MESSAGES.getString('account.view.last.name')"/></p>
                            <p><input class="bx-bot-xs" type="text" name="filterCriteriaEmail" id="filterCriteriaEmail" value="$!browser.filterCriteria.filterCriteriaEmail" placeholder="$MESSAGES.getString('account.view.email')"/></p>
                            <p><input class="bx-bot-xs" type="text" name="filterCriteriaRole" id="filterCriteriaRole" value="$!browser.filterCriteria.filterCriteriaRole" placeholder="$MESSAGES.getString('account.view.roles')"/></p>
                            #renderInputButtonClass("$MESSAGES.getString('component.forms.buttons.search')" "width:100%" "doFilter" "" "btn btn--secondary btn--small")
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <article class="content ob-container ob-box-narrow">
            #renderPaginationAndHint($browser "$MESSAGES.getString('account.view.tip')")
            <hr>
            <div class="table table--striped table--sortable">
                <table class="js-table-sortable">
                #set ($colNames = ["id", "firstName", "lastName", "email", "roles", "lastLogin"])
                #set ($colTitles = [$MESSAGES.getString('account.view.id'), $MESSAGES.getString('account.view.first.name'), $MESSAGES.getString('account.view.last.name'), $MESSAGES.getString('account.view.email'), $MESSAGES.getString('account.view.roles'), $MESSAGES.getString('account.view.last.login')])
                #renderDBBrowserHeader($colNames $colTitles)
                #foreach ($dbEntity in $dbEntities)
                    #set ($rowId = $dbEntity.id)
                    #set ($rowValues = [$UtilsString.cutString($dbEntity.firstName, 20, 20), $UtilsString.cutString($dbEntity.lastName, 20, 20), $UtilsString.cutString($dbEntity.email, 40, 40), $dbEntity.roles, $dbEntity.lastLogin])
                    #renderDBBrowserRowWithEditLink($rowId $rowValues)
                #end
                </table>
            </div>
            #set ($buttons = ["doDelete", "doRefresh", "doNew"])
            #renderDBBrowserFooterButtons($buttons)
            <div class="sidebar-toggle mq-hide-l mq-show-xb js-sidebar-toggle">
                <svg class="icon">
                    <use xlink:href="#arrow-thick">
                </svg>
            </div>
        </article>
    </form>
</div>