#set ($action = $renderResponse.createActionURL())
#set($tab = $actionForm.getInput('tab'))
#if(!$tab || $tab == "")#set($tab = "1")#end
<div class="tabs js-tabs">
    <div class="tab__select mq-show-l">
        <span class="tab__select__text">#if($tab=='1')$MESSAGES.getString('account.edit.tab1')#else$MESSAGES.getString('account.edit.tab2')#end</span>
        <svg class="tab__select__icon icon"><use xlink:href="#burger"/></svg>
        <svg class="tab__select__icon icon"><use xlink:href="#cross"/></svg>
    </div>
    <nav class="tab__toggles ob-clear mq-hide-l">
        $action.setParameter('action','doChangeTab')
        $action.setParameter('id',$actionForm.getInput("id"))
        $action.setParameter('layoutPermission',$actionForm.getInput("layoutPermission"))
        $action.setParameter('tab','1')
        <div class="tab__toggle #if($tab=='1')is-active#end" data-tabid="1" #if($tab != '1')onclick="location.href='$action'"#end>
            <a>$MESSAGES.getString('account.edit.tab1')</a>
        </div>
        ## only show permission tab if we are "admin"
        #if($actionForm.getInput('layoutPermission') == "admin")
            $action.setParameter('tab','2')
            <div class="tab__toggle #if($tab=='2')is-active#end" data-tabid="2" #if($tab != '2')onclick="location.href='$action'"#end>
                <a>$MESSAGES.getString('account.edit.tab2')</a>
            </div>
        #end
    </nav>
</div>

<form action="$action" method="post" name="frmEditUser" id="frmEditUser">
    <div class="box box--fill box--small">
        <div class="box__title ob-container">
            #if ($mode == 'edit')
                <h4>$MESSAGES.getString('account.edit.update.user')</h4>
            #elseif ($mode == 'new')
                <h4>$MESSAGES.getString('account.edit.add.user')</h4>
            #end
        </div>
        <div class="box__content ob-container">
            <input type="hidden" name="tab" value="$tab"/>
            <input type="hidden" name="id" value="$actionForm.getInput('id')"/>
            <input type="hidden" name="layoutPermission" value="$actionForm.getInput('layoutPermission')"/>
            #if($tab=='1')
                #renderMessageInfo("* Pflichtfelder")
                #displayFormError()
                #displayFormMessages()
                <hr>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="salutation">#displayFieldLabel('salutation' $MESSAGES.getString('account.edit.label.salutation'))</label>
                    </div>
                    <div class="media__body">
                         <select name="salutation" id="salutation" size="1">
                             <option value="0" #getSelectedFlag('salutation' '0')>---</option>
                             <option value="1" #getSelectedFlag('salutation' '1')>$MESSAGES.getString('account.edit.salutation.option1')</option>
                             <option value="2" #getSelectedFlag('salutation' '2')>$MESSAGES.getString('account.edit.salutation.option2')</option>
                             <option value="3" #getSelectedFlag('salutation' '3')>$MESSAGES.getString('account.edit.salutation.option3')</option>
                             <option value="4" #getSelectedFlag('salutation' '4')>$MESSAGES.getString('account.edit.salutation.option4')</option>
                         </select>
                     </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="firstname">$MESSAGES.getString('account.edit.label.firstname')*</label>
                    </div>
                    <div class="media__body">
                        <input type="text" id="firstname" name="firstname" value="#getFieldValue('firstname')" #addErrorFormClass('firstname')/>
                        #addErrorFormMessage('firstname')
                     </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="lastname">$MESSAGES.getString('account.edit.label.lastname')*</label>
                    </div>
                    <div class="media__body">
                        <input type="text" id="lastname" name="lastname" value="#getFieldValue('lastname')" #addErrorFormClass('lastname')/>
                        #addErrorFormMessage('lastname')
                     </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                         <label for="email">$MESSAGES.getString('account.edit.label.email')*</label>
                    </div>
                    <div class="media__body">
                        <input type="text" id="email" name="email" value="#getFieldValue('email')" #addErrorFormClass('email')/>
                        #addErrorFormMessage('email')
                     </div>
                </div>
                <hr/>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                         <label for="login">$MESSAGES.getString('account.create.label.username')</label>
                    </div>
                    <div class="media__body">
                         #getFieldValue('id')
                     </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                    </div>
                    <div class="media__body">
                        <div class="field-toggle field-toggle--check bx-bot-xs">
                            <input id="enabled" type="checkbox" name="enabled" value="1" #getChecked('enabled' '1') onchange="adapt()">
                            <label class="field-toggle__label field-toggle__label--boxed" for="enabled">
                                <div class="field-toggle__icon field-toggle__icon-alt">
                                    <svg class="icon">
                                        <use xlink:href="#tick">
                                    </svg>
                                </div>
                                $MESSAGES.getString('account.edit.enable')
                            </label>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                         <label for="password_new">$MESSAGES.getString('account.edit.label.password_new')</label>
                    </div>
                    <div class="media__body">
                        <input type="password" id="password_new" name="password_new" value="#getFieldValue('password_new')" #addErrorFormClass('password_new') onchange="checkPassword(document.getElementById('password_new').value, 'password-strength-meter', 'password-strength-text'); return true;" onkeypress="this.onchange();" oninput="this.onkeypress();"/>
                        <b><small class="media__obj--right" id="password-strength-text"></small></b>
                        <meter max="4" id="password-strength-meter">
                          <div class="meter-gauge">
                              <span style="width: 0.0%;">Meterfallback</span>
                          </div>
                        </meter>
                        #addErrorFormMessage('password_new')
                     </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                         <label for="password_new_confirm">$MESSAGES.getString('account.edit.label.password_new_confirm')</label>
                    </div>
                    <div class="media__body">
                        <input type="password" id="password_new_confirm" name="password_new_confirm" value="#getFieldValue('password_new_confirm')" #addErrorFormClass('password_new_confirm')/>
                        #addErrorFormMessage('password_new_confirm')
                     </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                    </div>
                    <div class="media__body">
                        <div class="field-toggle field-toggle--check bx-bot-xs">
                            <input id="send_info" type="checkbox" name="send_info" value="1" #getChecked('send_info' '1') onchange="adapt()">
                            <label class="field-toggle__label field-toggle__label--boxed #addErrorFormClassText('send_info')" for="send_info" >
                                <div class="field-toggle__icon field-toggle__icon-alt">
                                    <svg class="icon">
                                        <use xlink:href="#tick">
                                    </svg>
                                </div>
                                $MESSAGES.getString('account.edit.send.information')
                            </label>
                            #addErrorFormMessage('send_info')
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                    </div>
                    <div class="media__body">
                        <div class="field-toggle field-toggle--check bx-bot-xs">
                            <input id="password_update_required" type="checkbox" name="password_update_required" value="1" #getChecked('password_update_required' '1') onchange="adapt()">
                            <label class="field-toggle__label field-toggle__label--boxed" for="password_update_required">
                                <div class="field-toggle__icon field-toggle__icon-alt">
                                    <svg class="icon">
                                        <use xlink:href="#tick">
                                    </svg>
                                </div>
                                $MESSAGES.getString('account.edit.password.update.required')
                            </label>
                        </div>
                    </div>
                </div>
                <hr />
                <h3>$MESSAGES.getString('account.edit.address.information')</h3>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                         <label for="street">#displayFieldLabel('street' $MESSAGES.getString('account.edit.label.street'))</label>
                    </div>
                    <div class="media__body">
                         <input type="text" id="street" name="street" value="#getFieldValue('street')" />
                     </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                         <label for="postalcode">#displayFieldLabel('postalcode' $MESSAGES.getString('account.edit.label.postalcode'))</label>
                    </div>
                    <div class="media__body">
                         <input type="text" id="postalcode" name="postalcode" value="#getFieldValue('postalcode')" />
                     </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                          <label for="city">#displayFieldLabel('city' $MESSAGES.getString('account.edit.label.city'))</label>
                    </div>
                    <div class="media__body">
                          <input type="text" id="city" name="city" value="#getFieldValue('city')" />
                     </div>
                </div>
                <hr />
            #elseif($tab=='2')
                #displayFormError()
                #displayFormMessages()
                ## only show content of permission tab if we are "admin"
                #if($actionForm.getInput('layoutPermission') == "admin")
                    <div class="field-toggle field-toggle--check bx-bot-xs">
                        <input id="admin_portal" type="checkbox" name="admin_portal" value="1" #getChecked('admin_portal' '1') onchange="adapt()">
                        <label class="field-toggle__label field-toggle__label--boxed" for="admin_portal">
                            <div class="field-toggle__icon field-toggle__icon-alt">
                                <svg class="icon">
                                    <use xlink:href="#tick">
                                </svg>
                            </div>
                            $MESSAGES.getString('account.edit.admin.portal')
                        </label>
                    </div>
                #end
            #end
        </div>
    </div>
    #renderDBEditFooter($mode)
</form>

<script >
    var error = $actionForm.hasErrors();
    if(error){
        goToByScroll('frmEditUser');
    }
</script>
#parse ('/WEB-INF/templates/global/include_passwort_meter.vm')
