#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="personalize_home" id="personalize_home">
    <p>$MESSAGES.getString('admin.homepage.explanation')</p>
    <hr/>
    <div class="box box--fill box--small">
        <div class="box__title ob-container">
            <h4>$MESSAGES.getString('admin.homepage.content')</h4>
        </div>
        <div class="box__content ob-container">
        #foreach($l in $leftColumnPortlets)
            #if($leftColumnFragments.size() >= $velocityCount)
                #set($idx = $velocityCount - 1)
                #set($fragment = $leftColumnFragments.get($idx).get("fragment"))
            #else
                #set($fragment = "")
            #end
            <div class="media">
                <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                    <label for="c1r$velocityCount">$MESSAGES.getString('admin.homepage.line') $velocityCount</label>
                </div>
                <div class="media__body">
                    <select class="inputstyle" size="1" id="c1r$velocityCount" name="c1r$velocityCount">
                    <option value="none">$MESSAGES.getString('admin.homepage.entry.empty')</option>
                    #foreach($f in $leftColumnPortlets)
                        <option value="$f.portlet.getUniqueName()"
                            #if($fragment.getName())
                                #if($fragment.getName()==$f.portlet.getUniqueName()) 
                                    selected="selected"
                                #end
                            #end
                        >$f.title</option>
                    #end
                    </select>
                </div>
            </div>
        #end
        </div>
    </div>
    #parse ('/WEB-INF/templates/administration/include_form_footer_save.vm')
</form>
<br/>
<br/>