#set ($action = $renderResponse.createActionURL())
	<div class="formbody">

#if($ibusURL && $ibusURL != "")
  <h3>$MESSAGES.getString('admin.iplug.headline.ibus')</h3>
  <p style="margin-left:4.5em">
	<a target="_new" href="$ibusURL">$MESSAGES.getString('admin.iplug.headline.ibus')</a>
  </p>
#end		  


#if($SEIplugs.size() > 0)
  <h3>$MESSAGES.getString('admin.iplug.headline.webindex')</h3>
  #foreach($plug in $SEIplugs)
    <p style="margin-left:4.5em">
	#if($plug.getIplugAdminGuiUrl())
      <a target="_new" href="$plug.getIplugAdminGuiUrl()">$plug.getDataSourceName()</a>
	#else
	  $plug.getDataSourceName() (kein Administrationsinterface angegeben!)
	#end	
    </p>
  #end
#end		  
		  
<h3>$MESSAGES.getString('admin.iplug.headline.iplug')</h3>
<p>$MESSAGES.getString('admin.iplug.description')</p>
#foreach($partnerNode in $tree.getChildren())
	$action.setParameter('id',"$partnerNode.id")		
	#if($partnerNode.isOpen())
		$action.setParameter('action','doCloseNode')
		<p><a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_open.gif" alt="$MESSAGES.getString('common.alt.icon.minus')" />&nbsp;<img src="/ingrid-portal-apps/images/ico_tree_folder_close.gif" alt="$MESSAGES.getString('common.alt.icon.folder')" /></a>&nbsp;&nbsp;$partnerNode.name</p>
        #foreach($providerNode in $partnerNode.getChildren())
        	$action.setParameter('id',"$providerNode.id")		
        	#if($providerNode.isOpen())
        		$action.setParameter('action','doCloseNode')
        		<p style="margin-left:4.5em"><a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_open.gif" alt="$MESSAGES.getString('common.alt.icon.minus')" />&nbsp;<img src="/ingrid-portal-apps/images/ico_tree_folder_close.gif" alt="$MESSAGES.getString('common.alt.icon.folder')" /></a>&nbsp;&nbsp;$providerNode.name</p>
        		#foreach($plugNode in $providerNode.getChildren())
                    #set($plug = $plugNode.get("iplug"))
					<p style="margin-left:9em">
					#if($plug.getIplugAdminGuiUrl())
                      <a target="_new" href="$plug.getIplugAdminGuiUrl()">$plugNode.name</a>
					#else
					  $plugNode.name (kein Administrationsinterface angegeben!)
					#end
                    </p>
        		#end
        	#else
        		$action.setParameter('action','doOpenNode')		
                <p style="margin-left:4.5em">
                	<a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_close.gif" alt="$MESSAGES.getString('common.alt.icon.plus')" />&nbsp;<img src="/ingrid-portal-apps/images/ico_tree_folder_close.gif" alt="$MESSAGES.getString('common.alt.icon.folder')" /></a>&nbsp;&nbsp;$providerNode.name
                </p>
        	#end
        #end

		
	#else
		$action.setParameter('action','doOpenNode')		
        <p>
        	<a href="$action"><img src="/ingrid-portal-apps/images/ico_tree_close.gif" alt="$MESSAGES.getString('common.alt.icon.plus')" />&nbsp;<img src="/ingrid-portal-apps/images/ico_tree_folder_close.gif" alt="$MESSAGES.getString('common.alt.icon.folder')" /></a>&nbsp;&nbsp;$partnerNode.name
        </p>
	#end
#end
	</div>

