<div class="section">    
	#set ($action = $renderResponse.createActionURL())
	<form action="$action" method="post" name="personalize_home" id="personalize_home">
		<div class="formbody formbody_border_style">
			<p>$MESSAGES.getString('admin.homepage.explanation')</p>
			<div class="line"><hr/></div>
			<div class="float_left">
				<h3>$MESSAGES.getString('admin.homepage.content')</h3>
#foreach($l in $leftColumnPortlets)
	#if($leftColumnFragments.size() >= $velocityCount)
		#set($idx = $velocityCount - 1)
		#set($fragment = $leftColumnFragments.get($idx).get("fragment"))
	#else
		#set($fragment = "")
	#end	
				<p>
					<label for="c1r$velocityCount">$MESSAGES.getString('admin.homepage.line') $velocityCount</label>
					<select class="inputstyle" size="1" id="c1r$velocityCount" name="c1r$velocityCount">
					<option value="none">$MESSAGES.getString('admin.homepage.entry.empty')</option>
	#foreach($f in $leftColumnPortlets)
					<option value="$f.portlet.getUniqueName()"#if(${fragment.getName()}==${f.portlet.getUniqueName()}) selected="selected"#end>$f.title</option>
	#end
					</select>
				</p>
#end
			</div>  
			<div class="float_left marginleft">
				<h3>$MESSAGES.getString('admin.homepage.content.marginal')</h3>
#foreach($l in $rightColumnPortlets)
	#if($rightColumnFragments.size() >= $velocityCount)
		#set($idx = $velocityCount - 1)
		#set($fragment = $rightColumnFragments.get($idx).get("fragment"))
	#else
		#set($fragment = "")
	#end
				<p>
					<label for="c2r$velocityCount">$MESSAGES.getString('admin.homepage.line') $velocityCount</label>
					<select class="inputstyle" size="1" id="c2r$velocityCount" name="c2r$velocityCount">
					<option value="none">$MESSAGES.getString('admin.homepage.entry.empty')</option>
	#foreach($f in $rightColumnPortlets)
					<option value="$f.portlet.getUniqueName()"#if(${fragment.getName()}==${f.portlet.getUniqueName()}) selected="selected"#end>$f.title</option>
	#end
					</select>
				</p>
#end
			</div>  
			<p class="clearer"></p>
		</div>
			#parse ('/WEB-INF/templates/administration/include_form_footer_save.vm')
	</form>
</div>	
