#renderPortletTitle($MESSAGES.getString('javax.portlet.title'))

#macro (getInputStyleText $fieldName)#if ($actionForm.hasErrorInField($fieldName)) inputstyleerror#else inputstyletext#end#end
#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="frmEditProvider" id="frmEditProvider">
    <input type="hidden" name="mode" value="$mode"/>
    <div class="box box--fill box--small">
        <div class="box__title ob-container">
            <h4>$MESSAGES.getString('component.forms.text.new.job')</h4>
        </div>
        #displayFormErrors()
        <div class="box__content ob-container">
            <div class="media">
                <div class="media__obj media__obj--large media__obj--left">
                    <label for="id">$MESSAGES.getString('component.forms.text.component.id')*</label>
                </div>
                <div class="media__body">
                       <input id="id" name="id" value="#getFieldValue('id')" type="text" #addErrorFormClass('id')>
                </div>
            </div>
            <div class="media">
                <div class="media__obj media__obj--large media__obj--left">
                    <label for="type">$MESSAGES.getString('component.forms.text.component.type')*</label>
                </div>
                <div class="media__body">
                    <select name="type">
                    #foreach($type in $componentTypes)
                        <option value="$type"#getSelectedFlag('type' $type)>$MESSAGES.getString($type)</option>
                    #end
                    </select>
                </div>
            </div>
         </div>
    </div>
    #renderDBEditFooter($mode)
</form>
