#macro (getInputStyleText $fieldName)#if ($actionForm.hasErrorInField($fieldName)) inputstyleerror#else inputstyletext#end#end

#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="frmEditProvider" id="frmEditProvider">
	<input type="hidden" name="mode" value="$mode"/>
	<div class="formbody">
	#if ($mode == 'edit')
		<h2 class="nospace">Überwachung aktualisieren</h2>
	#elseif ($mode == 'new')
		<h2 class="nospace">Überwachung anlegen</h2>
	#end
	#displayFormErrors()
	
	<p>
	#if ($mode == 'edit')
		<label class="float_left col2left_incr">Komponenten ID</label>
		<span>#getFieldValue('id')</span>
		<input type="hidden" name="id" value="#getFieldValue('id')"/>
	#elseif ($mode == 'new')
      	<label class="float_left col2left_incr" for="id">#displayFieldLabel('id' 'Komponenten ID')*</label>
      	<input class="float_left inputstyletext contentInput" id="id" name="id" value="#getFieldValue('id')" type="text">
	#end
	</p>
	<p class="clearer" />
   	<p>
      	<label class="float_left col2left_incr" for="title">#displayFieldLabel('title' 'Komponentenname')*</label>
      	<input class="float_left inputstyletext contentInput" id="title" name="title" value="#getFieldValue('title')" type="text">
  	</p>
	<p class="clearer" />
	<p>
    	<label class="float_left col2left_incr" for="type">#displayFieldLabel('type' 'Komponenten Typ')*</label>
    	<select class="float_left inputstyletext contentInput" name="type">
#foreach($type in $componentTypes)
		<option value="$type"#getSelected('type' $type)>$MESSAGES.getString($type)</option>
#end			
		</select>
	</p>
	<p class="clearer" />
	<p>
      	<label class="float_left col2left_incr" for="query">#displayFieldLabel('query' 'Query String')*</label>
      	<input class="float_left inputstyletext contentInput" id="query" name="query" value="#getHTMLEscapedFieldValue('query')" type="text">
  	</p>
	<p class="clearer" />
	<p>
      	<label class="float_left col2left_incr" for="serviceurl">#displayFieldLabel('serviceurl' 'Service URL (nicht für Typ IPLUG benötigt)')</label>
      	<input class="float_left inputstyletext contentInput" id="serviceurl" name="serviceurl" value="#getHTMLEscapedFieldValue('serviceurl')" type="text">
  	</p>
	<p class="clearer" />
	<p>
      	<label class="float_left col2left_incr" for="interval">#displayFieldLabel('interval' 'Überprüfung alle [sec]')*</label>
      	<input class="float_left inputstyletext contentInput" id="interval" name="interval" value="#getFieldValue('interval')" type="text">
  	</p>
	<p class="clearer" />
	<p>
      	<label class="float_left col2left_incr" for="timeout">#displayFieldLabel('timeout' 'Timeout [ms]')*</label>
      	<input class="float_left inputstyletext contentInput" id="timeout" name="timeout" value="#getFieldValue('timeout')" type="text">
  	</p>
	<p class="clearer" />
    <p>
        <label class="float_left col2left_incr" for="active">#displayFieldLabel('active' 'Aktiv')</label>
        <input class="" id="component_active" name="active" value="1" #getChecked('active' '1') type="checkbox">
    </p>
	<p class="clearer" />
    <p>
        <label class="float_left col2left_incr">Email-Adressen</label>
    	<table class="border">
    	<tr>
    		<td class="contentColumnHead" style="text-decoration:none">&nbsp;Email&nbsp;</td>
    		<td class="contentColumnHead" style="text-decoration:none">&nbsp;Schwellwert&nbsp;</td>
			<td class="contentColumnHead" style="text-decoration:none">&nbsp;Aktion&nbsp;</td>
    	</tr>
    #set($thresholds = $actionForm.getInputAsArray('contact_threshold'))
	#foreach($email in $actionForm.getInputAsArray('contact_email'))
		#set($cnt = $velocityCount - 1)
		#set($threshold = $list.get($thresholds, $cnt))
		<tr>
    	#if ($velocityCount % 2 == 0)
        	#set ($rowstyle = "contentRowEven")
        #else
        	#set ($rowstyle = "contentRowOdd")
        #end   
    	<td class="$rowstyle">
    		<input class="inputstyletext" size="50" maxlength="255" id="contact_email$velocityCount" name="contact_email" value="$email" type="text">
    	</td>
    	<td class="$rowstyle">
    		<input class="inputstyletext" size="3" maxlength="3" id="contact_threshhold$velocityCount" name="contact_threshold" value="$threshold" type="text">
    	</td>
    	<td><input class="btn" style="font-size:100%" type="submit" name="doDeleteContact_$velocityCount" value="Löschen" /></td>
    	</tr>
    #end
        <tr>
    	<td colspan="3">&nbsp;</td>
		</tr>
        <tr>
    	<td>
    		<input class="#getInputStyleText('contact_email_new')" size="50" maxlength="255" id="contact_email_new" name="contact_email_new" value="#getFieldValue('contact_email_new')" type="text">
    	</td>
    	<td>
    		<input class="#getInputStyleText('contact_threshold_new')" size="3" maxlength="3" id="contact_threshold_new" name="contact_threshold_new" value="#getFieldValue('contact_threshold_new')" type="text">
    	</td>
    	<td><input class="btn" style="font-size:100%" type="submit" name="doAddContact" value="Hinzufügen" /></td>
    	</tr>
    	</table>
	#if ($actionForm.getInput('last_execution') != "")
		<p class="clearer" />
		<p>
			<label class="float_left col2left_incr" for="">#displayFieldLabel('lastExecution' 'Letzte Ausführung')</label>
			<span>#getFieldValue('last_execution')</span>
		</p>
		<p class="clearer" />
		<p>
			<label class="float_left col2left_incr" for="">#displayFieldLabel('nextExecution' 'Nächste Ausführung')</label>
			<span>#getFieldValue('next_execution')</span>
		</p>
		<p class="clearer" />
		<p>
			<label class="float_left col2left_incr" for="">#displayFieldLabel('numExecutions' 'Anzahl Ausführungen')</label>
			<span>#getFieldValue('num_executions')</span>
		</p>
		<p class="clearer" />
		<p>
			<label class="float_left col2left_incr" for="">#displayFieldLabel('averageExecution' 'Ø-Ausführung')</label>
			<span>#getFieldValue('average_exec_time')ms</span>
		</p>
	#end
    	<br/>
    	<br/>
    	<p>* Pflichtangaben.</p>
		#if($actionForm.getInput("error_msg")!="component.monitor.general.error.none" && $actionForm.getInput("error_msg")!="")
		<hr>
		<p style="color:#ff0000;">
			<label class="float_left col2left_incr">Fehlermeldung</label>
			<span>$MESSAGES.getString($actionForm.getInput('error_msg'))</span>
		</p>
		#end
	</p>
	<br/>
	
	</div>

#renderDBEditFooter($mode)
</form>
<h1>Kurzhilfe</h1>
<div class="formbody">
	<a name="help"></a>
	<p><b>Komponenten ID</b><br/>Ein eindeutiger Name der Überwachungskomponente.</p>
	<p><b>Query String</b><br/>Inhalt einer Anfrage, die an die zu überwachende Komponente gesendet wird. Der mögliche Inhalt unterscheidet sich je nach Komponenten Typ:
	<table><tbody>
	<tr><td>IPLUG</td>
	<td>Es kann die komplette Query Syntax des Portals verwendet werden. 
	Um z.B. ein iPlug zu überwachen könnte die Abfrage wie folgt aussehen:<br/>
	<pre>wasser iplugs:"/kug-ibus:kug-iplug-udk-db_uba" ranking:any</pre></td></tr>
	<tr><td>CSW</td>
	<td>Bitte nur ein Suchbegriff angeben. z.B. "Wasser"</td></tr>
	<tr><td>ECS</td>
	<td>Bitte nur ein Suchbegriff angeben. z.B. "Wasser"</td></tr>
	<tr><td>G2K</td>
	<td>Bitte nur ein Suchbegriff angeben. z.B. "Wasser"</td></tr>
	<tr><td>SNS</td>
	<td>Bitte nur ein Suchbegriff angeben. Es wird die Methode findTopics mit Einschränkung auf Descriptoren ausgeführt.</td></tr>
	<tr><td>IBus</td>
	<td>Die IBus-Komponente benötigt nur eine ID und einen Namen. Es wird versucht, die angeschlossenen iPlugs zu erkennen.</td></tr>
	<tr><td>RSS</td>
	<td>Bitte unter Service URL den zu überprüfenden RSS-Feed angeben.</td></tr>
	</tbody></table>
	
	</p>
	<p><b>Schwellwert</b><br/>Gibt an, wie oft ein Ereignis auftreten muss, bis eine Meldung versendet wird. Ein Wert > 1 stellt sicher, dass einmalig auftretende Fehler nicht gemeldet werden.</p>
</div>
	
