#macro (renderDBBrowserHeader $colNames $colTitles)
<tr>
	<td class="contentColumnHead"></td>
	#foreach ($colTitle in $colTitles)
		#set ($colLink = $renderResponse.createActionURL())
		#set ($colIndex = $velocityCount - 1)
		$colLink.setParameter("doSort", "true")
		$colLink.setParameter("sortColumn", $colNames.get($colIndex))
   		#if ($sortColumn && $sortColumn == $colNames.get($colIndex))
			#if($sortAsc)
				$colLink.setParameter("desc", "true")
			#else
				$colLink.setParameter("desc", "false")
			#end
		#else
			$colLink.setParameter("desc", "false")
		#end
		<td class="contentColumnHead"><a href="$colLink" class="contentColumnHead">$colTitle</a></td>
	#end
</tr>
#end

#macro (fillTable $filterMap $inverse)

    #set ($model = $jobHandler.getFilteredJobs($sortColumn, $sortAsc, $filterMap, $inverse))
	#foreach ($entry in $model)
   		#set ($jobId = $entry.name)
		#set ($jobData = $entry.getJobDataMap())
		#set( $prevTime = $jobHandler.getTrigger($entry.getName(), $entry.getGroup()).getPreviousFireTime())
		#set( $nextTime = $jobHandler.getTrigger($entry.getName(), $entry.getGroup()).getNextFireTime())
		#set ($interval = $jobHandler.getInterval($entry))
		## for non monitoring jobs
		#if ($entry.getGroup() != "monitor")
			#set ($jobStatus = 0)
			#set ($activeState = 1)
		#else
           	#set ($jobStatus = $jobData.getInt("component.monitor.general.status"))
    		#set ($activeState = $jobData.getInt("component.monitor.general.active"))
		#end
		
        #if ($count % 2 == 0)
        	#if ($jobStatus == 0)
    			#set ($rowstyle = "contentRowEven")
    		#else
    			#set ($rowstyle = "contentRowEvenError")
    		#end
        #else
        	#if ($jobStatus == 0)
    			#set ($rowstyle = "contentRowOdd")
    		#else
    			#set ($rowstyle = "contentRowOddError")
    		#end
		#end
		#set ($count = $count + 1)
		<tr class="$rowstyle">
		$action.setParameter("id", "$jobId")
		## for non monitoring jobs
		#if ($entry.getGroup() != "monitor")
			<td></td><td><a href="$action">$jobId</a></td>
			<td><a href="$action">DEFAULT</a></td>
            #if($jobData.getInt("component.monitor.general.status")==0) 
                <td><a href="$action">$MESSAGES.getString('component.forms.status.ok')</a></td>
            #else
                <td><a href="$action">$MESSAGES.getString('component.forms.status.error')</a></td>
            #end
			<td><a href="$action">$!date.format('yyyy-MM-dd H:mm:ss', $prevTime)</a></td>
			<td><a href="$action">$!date.format('yyyy-MM-dd H:mm:ss', $nextTime)</a></td>
			#if ($jobData.containsKey("component.monitor.general.timer.average") && ($jobData.getInt("component.monitor.general.timer.num")!=0))
				#set ($execCount = $jobData.getInt("component.monitor.general.timer.num"))
				<td><a href="$action" title="$MESSAGES.getString('component.forms.text.of') $execCount $MESSAGES.getString('component.forms.text.executions')">$!jobData.getLong("component.monitor.general.timer.average")ms</a></td>
			#else
				<td><a href="$action">n/a</a></td>
			#end
			<td><a href="$action">$interval</a></td>
		#else
        	<td>
        		<input id="chk_$count" name="id" type="checkbox" value="$jobId" />
            </td>
        	<td><a href="$action" title="$jobId">$jobData.getString("component.monitor.general.title")</a></td>
        	<td><a href="$action">$MESSAGES.getString($jobData.getString("component.monitor.general.type"))</a></td>
			#if($jobData.getInt("component.monitor.general.status")==0) 
				<td><a href="$action">$MESSAGES.getString('component.forms.status.ok')</a></td>
			#else
				<td><a href="$action">$MESSAGES.getString('component.forms.status.error')</a></td>
			#end
        	<td><a href="$action">#if($jobData.containsKey("component.monitor.general.timer.num"))$date.format('yyyy-MM-dd H:mm:ss',$prevTime)#end</a></td>
			<td><a href="$action">#if($jobData.getInt("component.monitor.general.active")==1)$date.format('yyyy-MM-dd H:mm:ss',$nextTime)#end</a></td>

    		## due to new functionality old Jobs do not have this key!
    		#if ($jobData.containsKey("component.monitor.general.timer.average") && ($jobData.getInt("component.monitor.general.timer.num")!=0))
    			#set ($execCount = $jobData.getInt("component.monitor.general.timer.num"))
    			<td><a href="$action" title="$MESSAGES.getString('component.forms.text.of') $execCount $MESSAGES.getString('component.forms.text.executions')">$jobData.getLong("component.monitor.general.timer.average")ms</a></td>
    		#else
    			<td><a href="$action">n/a</a></td>
    		#end
        	<td><a href="$action">$interval</a></td>
		#end
        </tr>
	#end
#end

#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="frmContentProvider" id="frmContentProvider">
	<input name="modelSize" type="hidden" value="$model.size()" />
      <ul class="innermenu">
		<li><a href="portal/administration/admin-component-monitor.psml#import">$MESSAGES.getString('component.forms.text.import.iplugs')</a></li>
      </ul>
      <br/>
      <br/>
	  
#set ($buttons = ["doDelete", "doRefresh", "doNew"])

<div class="formbody">
		<table class="border fullwidth">
		#set ($colNames = ["component.monitor.general.title", "component.monitor.general.type", "component.monitor.general.status.code", "component.monitor.general.last.check", "component.monitor.general.next.check", "component.monitor.general.timer.average", "component.monitor.general.check.interval"]) ##, "component.monitor.general.active"])
		#set ($colTitles = [$MESSAGES.getString('component.forms.text.name'), $MESSAGES.getString('component.forms.text.type'), $MESSAGES.getString('component.forms.text.status'), $MESSAGES.getString('component.forms.text.last.check'), $MESSAGES.getString('component.forms.text.next.check'), $MESSAGES.getString('component.forms.text.average.exec.time'), $MESSAGES.getString('component.forms.text.interval')]) ##, "aktiv"])
   
		#renderDBBrowserHeader($colNames $colTitles)
    
		#set ($action = $renderResponse.createActionURL())
		#set ($count = 0)
	
		$action.setParameter('doEdit','Edit')

		<tr><td colspan=2><h3>Aktive</h3></td></tr>
		
		## aktive
		## clear is important here otherwise the old value would be returned
		## to the html output
		$!filterMap.clear()
		$!filterMap.put("component.monitor.general.active",0)
		## other jobs (they don't have the "active"-key in the map
		##$!filterMap.put("component.monitor.general.active",null)
		#fillTable($filterMap true)
		
		<tr><td>&nbsp;</td></tr>
		<tr><td colspan=2><h3>Inaktive</h3></td></tr>
		
		## inaktive
		## get the inverse results of the filtered jobs
		#fillTable($filterMap false)
		</table>
</div>
		
#renderDBBrowserFooterButtons($buttons)

</form>
<p/>
#set ($action = $renderResponse.createActionURL())
<a name="import"></a>
<form action="$action" method="post" name="frmContentProvider" id="frmContentProvider">
	<input type="hidden" name="action" value="doImport">
	<div class="formbody">
		<p>
			$MESSAGES.getString('component.forms.text.import.description')
#if($import_message)
<br/><br/><span class="portlet-msg-error">$import_message</span><br/>
#end
		</p>
        <p>
            <input class="" id="activate" name="activate" value="1" type="checkbox">
			<label class="" for="activate">$MESSAGES.getString('component.forms.text.import.activate.job')</label>
        </p>
		<p>
            <input class="" id="overwrite" name="overwrite" value="1" type="checkbox">
			<label class="" for="overwrite">$MESSAGES.getString('component.forms.text.import.overwrite.job')</label>
        </p>
		<p>
            <label class="" for="std_email">$MESSAGES.getString('component.forms.text.import.standard.email')</label>
            <input class="" id="std_email" name="std_email" value="" type="text">
        </p>
    	<p class="clearer" />
	</div>
<div class="formfooter" align="right">
	<input class="btn" type="submit" name="doImport" value="$MESSAGES.getString('component.forms.buttons.import.jobs')" />
</div>
</form>

