#macro (getInputStyleText $fieldName)#if ($actionForm.hasErrorInField($fieldName)) inputstyleerror#else inputstyletext#end#end
#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="frmEditProvider" id="frmEditProvider">
    <input type="hidden" name="mode" value="$mode"/>
    #if($disableSaving)
        <input type="hidden" name="disableSaving" value="$disableSaving"/>
    #end
    <div class="box box--fill box--small">
        <div class="box__title ob-container">
            #if ($mode == 'edit')
                <h4>$MESSAGES.getString('component.forms.text.update.job')</h4>
            #elseif ($mode == 'new')
                <h4>$MESSAGES.getString('component.forms.text.new.job')</h4>
            #end
        </div>
        <div class="box__content ob-container">
            #if(!$disableSaving)
                #renderMessageInfo("* $MESSAGES.getString('component.forms.text.mandatory')")
            #end
            #displayFormError()
            <div class="media">
                <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                    <label>$MESSAGES.getString('component.forms.text.component.id')</label>
                </div>
                <div class="media__body">
                    #getFieldValue('id')&nbsp;
                    <input type="hidden" name="id" value="#getFieldValue('id')"/>
                </div>
            </div>
            ## for default-jobs
            #if ($disableSaving && $disableSaving == 'true')
                ## nothing
            #else
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="type">#displayFieldLabel('type' $MESSAGES.getString('component.forms.text.component.type'))</label>
                    </div>
                    <div class="media__body">
                        $MESSAGES.getString($actionForm.getInput('type'))&nbsp;
                        <input type="hidden" name="type" value="#getFieldValue('type')"/>
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="title">$MESSAGES.getString('component.forms.text.component.name')*</label>
                    </div>
                    <div class="media__body">
                        <input id="title" name="title" value="#getFieldValue('title')" type="text" #addErrorFormClass('title')>
                        #addErrorFormMessage('title')
                    </div>
                </div>
                
                ################ content according to component type ###################
                
                #set ($compType = $actionForm.getInput("type"))
                #if ($compType == "component.monitor.general.type.iplug")
                    #renderTextField( "Query String*" "query" )
                #elseif ($compType == "component.monitor.general.type.ibus" || $compType == "component.monitor.general.type.rssfetcher")
                    ## don't need more information
                #elseif ($compType == "component.monitor.general.type.rss")
                    #renderTextField( "RSS Feed (URL)*" "serviceurl" )
                #elseif  ($compType == "component.monitor.general.type.csw" || $compType == "component.monitor.general.type.g2k" || $compType == "component.monitor.general.type.sns")
                    #renderTextField( "Query String*" "query" )
                    #renderTextField( "Service URL*" "serviceurl" )
                #elseif ($compType == "component.monitor.general.type.provider.check")
                    #renderTextField( "Anbieter ausschlie&szlig;en" "excl_provider" )
                #end
                
                
                ########################################################################
                
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                          <label for="interval">$MESSAGES.getString('component.forms.text.interval')*</label>
                    </div>
                    <div class="media__body">
                        <input id="interval" name="interval" value="#getFieldValue('interval')" type="text" #addErrorFormClass('interval')>
                        #addErrorFormMessage('interval')
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="timeout">$MESSAGES.getString('component.forms.text.timeout')*</label>
                    </div>
                    <div class="media__body">
                        <input id="timeout" name="timeout" value="#getFieldValue('timeout')" type="text" #addErrorFormClass('timeout')>
                        #addErrorFormMessage('timeout')
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label class="mq-hide-l" for="active">&nbsp;</label>
                    </div>
                    <div class="media__body">
                        <div class="field-toggle field-toggle--check">
                            <input type="checkbox" id="component_active" name="active" value="1" #getChecked('active' '1')>
                            <label for="component_active" class="field-toggle__label field-toggle__label--boxed">
                                <div class="field-toggle__icon field-toggle__icon-alt">
                                    <svg class="icon"><use xlink:href="#tick"/></svg>
                                </div>
                                #displayFieldLabel('active' $MESSAGES.getString('component.forms.text.active'))
                            </label>
                        </div>
                        
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label>$MESSAGES.getString('component.forms.text.email.addresses')</label>
                    </div>
                    <div class="media__body">
                        <div class="table--striped table--sortable">
                            <table class="js-table-sortable">
                                <thead>
                                    <tr>
                                        <th class="table__sort-toggle js-column-sortable" >&nbsp;$MESSAGES.getString('component.forms.text.email')&nbsp;</th>
                                        <th class="table__sort-toggle js-column-sortable" >&nbsp;$MESSAGES.getString('component.forms.text.threshold')&nbsp;</th>
                                        <th class="table__sort-toggle js-column-sortable" >&nbsp;$MESSAGES.getString('component.forms.text.action')&nbsp;</th>
                                    </tr>
                                </thead>
                                #set($thresholds = $actionForm.getInputAsArray('contact_threshold'))
                                #foreach($email in $actionForm.getInputAsArray('contact_email'))
                                    #set($cnt = $velocityCount - 1)
                                    #set($threshold = $list.get($thresholds, $cnt))
                                    <tr>
                                    <td>
                                        <input size="50" maxlength="255" id="contact_email$velocityCount" name="contact_email" value="$email" type="text">
                                    </td>
                                    <td>
                                        <input size="3" maxlength="3" id="contact_threshhold$velocityCount" name="contact_threshold" value="$threshold" type="text">
                                    </td>
                                    <td>
                                        #renderInputButtonClass("$MESSAGES.getString('component.forms.buttons.delete')" "width:100%" "doDeleteContact_$velocityCount" "" "btn btn--secondary btn--small")
                                    </td>
                                    </tr>
                                #end
                                <tr>
                                    <td>
                                        <input class="#getInputStyleText('contact_email_new')" size="50" maxlength="255" id="contact_email_new" name="contact_email_new" value="#getFieldValue('contact_email_new')" type="text">
                                    </td>
                                    <td>
                                        <input class="#getInputStyleText('contact_threshold_new')" size="3" maxlength="3" id="contact_threshold_new" name="contact_threshold_new" value="#getFieldValue('contact_threshold_new')" type="text">
                                    </td>
                                    <td>
                                        #renderInputButtonClass("$MESSAGES.getString('component.forms.buttons.add')" "width:100%" "doAddContact" "" "btn btn--primary btn--small")
                                    </td>
                                </tr>
                            </table>
                         </div>
                    </div>
                </div>
            #end
            #if ($actionForm.getInput('last_execution') != "")
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="">#displayFieldLabel('lastExecution' $MESSAGES.getString('component.forms.text.last.check'))</label>
                    </div>
                    <div class="media__body">
                        #getFieldValue('last_execution')&nbsp;
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="">#displayFieldLabel('lastOkExecution' $MESSAGES.getString('component.forms.text.last.errorfree.run'))</label>
                    </div>
                    <div class="media__body">
                        #getFieldValue('last_ok_execution')&nbsp;
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="">#displayFieldLabel('nextExecution' $MESSAGES.getString('component.forms.text.next.check'))</label>
                    </div>
                    <div class="media__body">
                        #getFieldValue('next_execution')&nbsp;
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="">#displayFieldLabel('numExecutions' $MESSAGES.getString('component.forms.text.num.executions'))</label>
                    </div>
                    <div class="media__body">
                        #getFieldValue('num_executions')&nbsp;
                    </div>
                </div>
                <div class="media">
                    <div class="media__obj media__obj--large media__obj--left bx-bot-xs">
                        <label for="">#displayFieldLabel('averageExecution' $MESSAGES.getString('component.forms.text.average.exec.time'))</label>
                    </div>
                    <div class="media__body">
                        #getFieldValue('average_exec_time')ms&nbsp;
                    </div>
                </div>
            #end
            #if($actionForm.getInput("error_msg")!="component.monitor.general.error.none" && $actionForm.getInput("error_msg")!="")
                <hr>
                #renderMessageError("$MESSAGES.getString('component.forms.text.error.messages'): $MESSAGES.getString($actionForm.getInput('error_msg'))")
                <hr>
            #end
        </div>
    </div>
    #if ($actionForm.getInput('last_execution') != "")
        <div class="media__obj media__obj--left" style="margin-bottom: 0;">
            #renderInputButtonClass("$MESSAGES.getString('component.forms.buttons.reset.time')" "width:100%;" "doResetTime" "" "btn btn--secondary btn--small")
        </div>
        <span>&nbsp;</span>
    #end
    #renderDBEditFooter("edit")
</form>
<span class="mq-hide-l">&nbsp;</span>
<hr/>
<div class="box box--fill box--small">
    <a name="help"></a>
    <div class="box__title ob-container">
        <h4>$MESSAGES.getString('component.forms.help.header')</h4>
    </div>
    <div class="box__content ob-container">
        <p>$MESSAGES.getString('component.forms.help.part1')</p>
        <p>$MESSAGES.getString('component.forms.help.part2')
            <table><tbody>
                <tr><td>$MESSAGES.getString('component.forms.help.part3')</td>
                <td>$MESSAGES.getString('component.forms.help.part4')</td></tr>
                <tr><td>$MESSAGES.getString('component.forms.help.part5')</td>
                <td>$MESSAGES.getString('component.forms.help.part6')</td></tr>
                <tr><td>$MESSAGES.getString('component.forms.help.part9')</td>
                <td>$MESSAGES.getString('component.forms.help.part10')</td></tr>
                <tr><td>$MESSAGES.getString('component.forms.help.part11')</td>
                <td>$MESSAGES.getString('component.forms.help.part12')</td></tr>
            </tbody></table>
        </p>
        <p>$MESSAGES.getString('component.forms.help.part12_5')</p>
            <table><tbody>
            <tr><td>$MESSAGES.getString('component.forms.help.part13')</td>
            <td>$MESSAGES.getString('component.forms.help.part14')</td></tr>
            <tr><td>$MESSAGES.getString('component.forms.help.part15')</td>
            <td>$MESSAGES.getString('component.forms.help.part16')</td></tr>
            <tr><td>$MESSAGES.getString('component.forms.help.part17')</td>
            <td>$MESSAGES.getString('component.forms.help.part18')</td></tr> 
            </tbody></table>
        </p>
        <p>$MESSAGES.getString('component.forms.help.part19')</p>
    </div>
</div>
<script >
    var error = $actionForm.hasErrors();
    if(error){
        goToByScroll('frmEditProvider');
    }
</script>