#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="frmContentProvider" id="frmContentProvider">
	<div class="formbody formbody_border_style">
#renderDBBrowserNavigation($browser)
		<p>
		<table class="border fullwidth">
#set ($colNames = ["id", "ident", "name", "url", "sortkey", "sortkeyPartner"])
#set ($colTitles = [$MESSAGES.getString('component.forms.provider.text.id'), $MESSAGES.getString('component.forms.provider.text.short'), $MESSAGES.getString('component.forms.provider.text.name'), $MESSAGES.getString('component.forms.provider.text.link'), $MESSAGES.getString('component.forms.provider.text.sort'), $MESSAGES.getString('component.forms.provider.text.partner')])
#renderDBBrowserHeader($colNames $colTitles)
#foreach ($dbEntity in $dbEntities)
	#set ($rowId = $dbEntity.Id)
	#set ($rowValues = [$dbEntity.Ident, $dbEntity.Name, $UtilsString.cutString($dbEntity.Url, 20, 20), $dbEntity.Sortkey, $dbEntity.SortkeyPartner])
    <tr>
    #if ($velocityCount % 2 == 0)
    	#set ($rowstyle = "contentRowEven")
    #else
    	#set ($rowstyle = "contentRowOdd")
    #end   
    	<td class="$rowstyle">
    		<input id="chk_$velocityCount" name="id" type="checkbox" value="$rowId" />
        </td>
    #set ($action = $renderResponse.createActionURL())
    $action.setParameter('doEdit','Edit')
    $action.setParameter("id", "$rowId")
    	<td class="$rowstyle"><a href="$action">$rowId</a></td>
    	<td class="$rowstyle"><a href="$action">$dbEntity.Ident</a></td>
    	<td class="$rowstyle"><a href="$action">$dbEntity.Name</a></td>
    	<td class="$rowstyle"><a href="$action">$UtilsString.cutString($dbEntity.Url, 20, 20)</a></td>
    	<td class="$rowstyle"><a href="$action">$dbEntity.Sortkey</a></td>
    	<td class="$rowstyle"><a href="$action">
		#foreach ($partner in $partners)
			#if($partner.sortkey == $dbEntity.SortkeyPartner)
				$partner.name
			#end
		#end</a></td>
    </tr>
#end
		</table>
		</p>
	</div>
#set ($buttons = ["doDelete", "doRefresh", "doNew"])
#renderDBBrowserFooterButtonsDisable($buttons $disablePartnerProviderEdit)
</form>
<p/>
#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="frmContentProvider" id="frmContentProvider">
	<input type="hidden" name="action" value="doImport">
	<div class="formbody formbody_border_style">
		<p>
<label for="csvData">$MESSAGES.getString('component.forms.provider.text.tip')
</label><br/>
#if($import_message)
<br/><span class="portlet-msg-error">$import_message</span><br/>
#end
	<textarea rows="30" cols="125" id="csvData" name="csvData"></textarea>
		</p>
	</div>
<div class="formfooter" align="right">
	<input class="btn" type="submit" name="doImport" value="$MESSAGES.getString('component.forms.provider.button.import')" />
</div>
</form>

