#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="frmEditPartner" id="frmEditPartner">
	<div class="formbody formbody_border_style">
	#if ($mode == 'edit')
		<h2 class="nospace">$MESSAGES.getString('component.forms.partner.text.update.partner')</h2>
	#elseif ($mode == 'new')
		<h2 class="nospace">$MESSAGES.getString('component.forms.partner.text.new.partner')</h2>
	#end
	#displayFormErrors()
#set ($colNames = ["ident", "name", "sortkey"])
#set ($colLabels = ["$MESSAGES.getString('component.forms.partner.text.short')*", "$MESSAGES.getString('component.forms.partner.text.name')*", "$MESSAGES.getString('component.forms.partner.text.sort')"])
#foreach ($dbEntity in $dbEntities)
	<div class="line"><hr /></div>
   	#set ($entityIndex = $velocityCount - 1)
   	#set ($colValues = ["$!{dbEntity.Ident}", "$!{dbEntity.Name}", "$!{dbEntity.Sortkey}"])
   	#renderDBEditId($mode $dbEntity.Id)
   	#foreach ($colName in $colNames)
       	#set ($colIndex = $velocityCount - 1)
		#if($mode == 'new')
			#renderDBEditTextField($entityIndex $colName $colLabels.get($colIndex) $colValues.get($colIndex))
		#else
			#if($colName == 'ident')			
				#if($disablePartnerProviderEdit == 'true')
					#renderDBEditTextFieldDisable($entityIndex $colName $colLabels.get($colIndex) $colValues.get($colIndex) $disablePartnerProviderEdit)
				#else
					#renderDBEditTextField($entityIndex $colName $colLabels.get($colIndex) $colValues.get($colIndex))
				#end
			#else
				#renderDBEditTextField($entityIndex $colName $colLabels.get($colIndex) $colValues.get($colIndex))
			#end
		#end
	#end
	<p class="clearer"></p>
	</br>
#end
	</div>
#renderDBEditFooter($mode)
</form>
