#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="frmEditRSS" id="frmEditRSS">
	<div class="formbody formbody_border_style">
	#if ($mode == 'edit')
		<h2 class="nospace">$MESSAGES.getString('component.forms.rss.text.update.feed')</h2>
	#elseif ($mode == 'new')
		<h2 class="nospace">$MESSAGES.getString('component.forms.rss.text.new.feed')</h2>
	#end
	#displayFormErrors()
	<p>$MESSAGES.getString('component.forms.rss.text.tip')</p>
	
#set ($colNames = ["provider", "description", "url", "language", "categories"])
#set ($colLabels = ["$MESSAGES.getString('component.forms.rss.text.provider')*", $MESSAGES.getString('component.forms.rss.text.description'), "$MESSAGES.getString('component.forms.rss.text.url')*", "$MESSAGES.getString('component.forms.rss.text.lang')*", $MESSAGES.getString('component.forms.rss.text.category')])
#foreach ($dbEntity in $dbEntities)
	<div class="line"><hr /></div>
   	#set ($entityIndex = $velocityCount - 1)
   	#set ($colValues = ["$!{dbEntity.Provider}", "$!{dbEntity.Description}", "$!{dbEntity.Url}", "$!{dbEntity.Language}", "$!{dbEntity.Categories}"])
   	#renderDBEditId($mode $dbEntity.Id)
   	#foreach ($colName in $colNames)
       	#set ($colIndex = $velocityCount - 1)
       	#if ($colName == 'description')
   			#renderDBEditTextArea($entityIndex $colName $colLabels.get($colIndex) $colValues.get($colIndex))
       	#else
   			#renderDBEditTextField($entityIndex $colName $colLabels.get($colIndex) $colValues.get($colIndex))
       	#end   
	#end
	<p class="clearer"></p>
	</br>
	#if ($dbEntity.Error && $dbEntity.Error != "" && $dbEntity.Error != "component.monitor.general.error.none" )
		<p  style="color:#ff0000;">
			<label class="float_left col2left_incr">$MESSAGES.getString('component.forms.text.error.messages')</label><span>$!{id}</span>
			<span>$MESSAGES.getString($dbEntity.Error)</span>
		</p>
	#end
#end
	</div>
#renderDBEditFooter($mode)
</form>
