#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="frmEditPartner" id="frmEditPartner">
	<div class="formbody">
	#if ($mode == 'edit')
		<h2 class="nospace">Partner aktualisieren</h2>
	#elseif ($mode == 'new')
		<h2 class="nospace">Partner anlegen</h2>
	#end
	#displayFormErrors()
#set ($colNames = ["ident", "name", "sortkey"])
#set ($colLabels = ["Kürzel", "Name", "Sortierung"])
#foreach ($dbEntity in $dbEntities)
	<div class="line"><hr /></div>
   	#set ($entityIndex = $velocityCount - 1)
   	#set ($colValues = ["$!{dbEntity.Ident}", "$!{dbEntity.Name}", "$!{dbEntity.Sortkey}"])
   	#renderDBEditId($mode $dbEntity.Id)
   	#foreach ($colName in $colNames)
       	#set ($colIndex = $velocityCount - 1)
		#renderDBEditTextField($entityIndex $colName $colLabels.get($colIndex) $colValues.get($colIndex))
	#end
	<p class="clearer"></p>
	</br>
#end
	</div>
#renderDBEditFooter($mode)
</form>
