#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="frmEditProvider" id="frmEditProvider">
	<div class="formbody formbody_border_style">
	#if ($mode == 'edit')
		<h2 class="nospace">$MESSAGES.getString('component.forms.provider.text.update.provider')</h2>
	#elseif ($mode == 'new')
		<h2 class="nospace">$MESSAGES.getString('component.forms.provider.text.new.provider')</h2>
	#end
	#displayFormErrors()
#set ($colNames = ["ident", "name", "url", "sortkey", "sortkey_partner"])
#set ($colLabels = ["$MESSAGES.getString('component.forms.provider.text.short')*", "$MESSAGES.getString('component.forms.provider.text.name')*", "$MESSAGES.getString('component.forms.provider.text.link')", "$MESSAGES.getString('component.forms.provider.text.sort')", "$MESSAGES.getString('component.forms.provider.text.partner')"])
#foreach ($dbEntity in $dbEntities)
	<div class="line"><hr /></div>
   	#set ($entityIndex = $velocityCount - 1)
   	#set ($colValues = ["$!{dbEntity.Ident}", "$!{dbEntity.Name}", "$!{dbEntity.Url}", "$!{dbEntity.Sortkey}", "$!{dbEntity.SortkeyPartner}"])
   	#renderDBEditId($mode $dbEntity.Id)
 	#set ($colIndex = 0)
		#if($mode == 'new')
			#renderDBEditTextField($entityIndex "ident" $colLabels.get($colIndex) $colValues.get($colIndex))
		#else
			#if($disablePartnerProviderEdit == 'true')
				#renderDBEditTextFieldDisable($entityIndex "ident" $colLabels.get($colIndex) $colValues.get($colIndex) $disablePartnerProviderEdit)
			#else
				#renderDBEditTextField($entityIndex "ident" $colLabels.get($colIndex) $colValues.get($colIndex))
			#end
		#end
 	#set ($colIndex = 1)
	#renderDBEditTextField($entityIndex "name" $colLabels.get($colIndex) $colValues.get($colIndex))
 	#set ($colIndex = 2)
	#renderDBEditTextField($entityIndex "url" $colLabels.get($colIndex) $colValues.get($colIndex))
 	#set ($colIndex = 3)
	#renderDBEditTextField($entityIndex "sortkey" $colLabels.get($colIndex) $colValues.get($colIndex))
 	#set ($colIndex = 4)
<p>
	<label class="float_left col2left_incr" for="sortkey_partner$!{entityIndex}">#displayFieldLabel("sortkey_partner$!{entityIndex}" $colLabels.get($colIndex))</label>
	<select class="float_left inputstyletext contentInput" name="sortkey_partner$!{entityIndex}">
	#foreach ($partner in $partners)
		#if($partner.sortkey == $dbEntity.SortkeyPartner)
			<option value="$partner.sortkey" selected="selected">$partner.name</option>
		#else
			<option value="$partner.sortkey">$partner.name</option>
		#end
	#end		
	</select>
   	<span class="clearer"></span>
</p>
	<p class="clearer"></p>
	</br>
#end
	</div>
#renderDBEditFooter($mode)
</form>
