$action.setParameter('action','doOriginalSettings')
<div class="media__obj media__obj--right">
    #renderInputButtonClass("$MESSAGES.getString('common.form.button.save')" "width:100%" "submitReload" "" "btn btn--secondary btn--medium")
</div>
