      <div class="formfooter formfooter_border_style">
        <div align="right">
$action.setParameter('action','doOriginalSettings')
          <span class="iconLink"><img src="/ingrid-portal-apps/images/icn_linkintern.gif" alt="$MESSAGES.getString('common.alt.icon.intern')" /><a href="$action">$MESSAGES.getString('admin.action.reset')</a></span>
          #renderInputButtonClass("$MESSAGES.getString('common.form.button.save')" "" "" "" "float_right")
        </div>
      </div>
