#macro (writeTypeHeader $newType $previousType $currentVersion)
    #if ($newType != $previousType)
        <tr>
            <th class="table__subheading" colspan="2">$newType</th>
            <th class="table__subheading" colspan="2" style="text-align: right; ">
            #if ($currentVersion)
                <a style="color:lightSteelBlue;font-size:10px;" href="$!component.downloadLink" title="#printVersion($component)">$MESSAGES.getString('component.forms.update.component.download.version') $currentVersion</a>
            #else
                <span style="color:lightSlateGray;font-size:10px;">$MESSAGES.getString('component.forms.update.component.download.version.not.available')</span>
            #end
            </th>
        </tr>
    #end
#end

#macro (setInfoText $component $icon)
    <div class="tooltip ob-circle js-popup" data-title="Information" data-content='
    #if ($component.connected && $component.connected == "component.update.component.not.available")
        #renderMessageError($MESSAGES.getString('component.forms.update.component.not.connected'))
    #else
        ## if it's a manual component say that here and if it's an iPlug say this also
        ## so show at least some information here if there are no errors
        #if ($component.connected == "component.update.component.is.available")
            #renderMessageInfo($MESSAGES.getString('component.forms.update.component.is.connected'))
        #else
            #renderMessageInfo($MESSAGES.getString('component.forms.update.component.is.manual'))
        #end
    #end
    #if ($component.emails.size() == 0)
        #renderMessageError($MESSAGES.getString('component.forms.update.component.no.email'))
    #end
    #if ($component.getExtraInfo("PARTNER_INFO"))
        <p><strong>$MESSAGES.getString('component.forms.update.component.partner')</strong></p>
        #foreach($partner in $component.getExtraInfo("PARTNER_INFO"))
            $partner<br />
        #end
    #end
    #if ($component.getExtraInfo("PROVIDER_INFO"))
        <p><strong>$MESSAGES.getString('component.forms.update.component.provider')</strong></p>
        #foreach($provider in $component.getExtraInfo("PROVIDER_INFO"))
            $provider<br />
        #end
    #end
    '>
        <svg class="tooltip__icon icon">
            <use xlink:href="$icon"></use>
        </svg>
    </div>
    
#end

#macro (printVersion $component)
    #if ($component.versionAvailableBuild)
        #set ($build = "Build:$component.versionAvailableBuild")
    #end
    Download: $component.versionAvailable $!build    
#end

#set ($action = $renderResponse.createActionURL())
$action.setParameter("doRestartUpgradeJob", "true")
<form action="$action" method="post" name="frmUpdate" id="frmUpdate">
    <small class="tx-right">
        <a class="link" href="$action" title="$MESSAGES.getString('component.forms.update.component.tooltip.start.job')">
            <svg class="icon link__icon icon-s"><use xlink:href="#reset"></svg>
            $MESSAGES.getString('component.forms.update.component.trigger.job')
        </a>
    </small>
    <!--<h3>$MESSAGES.getString('Updates')</h3>-->
    <div class="table table--striped table--sortable">
        <table class="js-table-sortable">
            <thead>
                <tr>
                    <th class="table__sort-toggle js-column-sortable">$MESSAGES.getString('component.forms.update.component.name')</th>
                    <th class="table__sort-toggle js-column-sortable">$MESSAGES.getString('component.forms.update.component.installed.version')</th>
                    <!--<th class="table__sort-toggle js-column-sortable">verfügbare Version</th>-->
                    <th class="table__sort-toggle js-column-sortable">$MESSAGES.getString('component.forms.update.component.email.sent')</th>
                    <th class="table__sort-toggle js-column-sortable">&nbsp;</th>
                </tr>
            </thead>
            #set ($count = 0)
            $action.setParameter("doUpdateEdit", "updateEdit")
            ## first sort by name
            #set($sortedComponents = $sorter.sort($components,"name"))
            ## and then sort by type
            #set($sortedComponents = $sorter.sort($sortedComponents,"type"))
            #set ($previousType = "")
            #foreach($component in $sortedComponents)
                #writeTypeHeader($component.type $previousType $!component.versionAvailable)
                #set ($previousType = $component.type)
                #set ($count = $count + 1)
                $action.setParameter("id", "$component.id")
                <tr class="js-row-sortable">
                    <td>
                        <div class="field-toggle field-toggle--check">
                            <input type="checkbox" id="component_$count" name="id" value="$component.id">
                            <label class="field-toggle__label field-toggle__label--highlight" for="component_$count">
                                <div class="field-toggle__icon field-toggle__icon-alt">
                                    <svg class="icon">
                                        <use xlink:href="#tick">
                                    </svg>
                                </div>
                                <a href="$action" title="">$!component.name</a>
                            </label>
                        </div>
                    </td>
                    <td>$!component.version</td>
                    <!--<td>$!component.versionAvailable</td>-->
                    #set ($sentDate = "$!date.format('yyyy-MM-dd H:mm:ss', $component.getEmailSentDate())")
                    <td>
                    #if ($component.errorStatus && $component.errorStatus == "component.monitor.update.error.sending.email")
                        $MESSAGES.getString('component.monitor.update.error.sending.email')
                    #else
                        $!sentDate
                    #end
                    </td>
                    <td style="text-align:right;">
                    #if ($component.status == "component.update.new.version")
                        <a href="$!component.downloadLink">
                            <img src='/ingrid-portal-apps/images/icn_download.gif' alt="Update" />
                            <span>$MESSAGES.getString('component.forms.update.component.tooltip.download')<br />#printVersion($component)</span>
                        </a>
                    #end
                        
                    #if ($!component.changelogLink)
                        <a class="link tx-upper tx-brand" href="$!component.changelogLink">
                    #else
                        <a class="link tx-upper tx-brand">
                    #end
                        #if ($component.connected == "component.update.component.not.available")
                            <span>#setInfoText($component "#cross")</span>
                        #elseif ($component.emails.size() == 0)
                            <span>#setInfoText($component "#minus")</span>
                        #else
                            <span>#setInfoText($component "#attention")</span>
                        #end
                        </a>
                    </td>
                </tr>
            #end
        </table>
    </div>
    <div>
        <div class="media__obj media__obj--left" style="margin-bottom: 0;">
            #renderInputButtonClass("$MESSAGES.getString('component.forms.update.component.delete')" "width:100%;" "doUpdateRemove" "" "btn btn--secondary btn--small")
        </div>
        <span>&nbsp;</span>
        <div class="media__obj media__obj--left" style="margin-bottom: 0;">
            #renderInputButtonClass("$MESSAGES.getString('component.forms.update.component.import')" "width:100%;" "doUpdateImport" "" "btn btn--secondary btn--small")
        </div>
        <span>&nbsp;</span>
        <div class="media__obj media__obj--right" style="margin-bottom: 0;">
            #renderInputButtonClass("$MESSAGES.getString('component.forms.update.component.add')" "width:100%;" "doUpdateAdd" "" "btn btn--primary btn--small")
        </div>
    </div>
</form>
