<div class="columns">
    <h3>$MESSAGES.getString('news.archive.header')</h3>
    #foreach($rssEntry in $rssEntries)
        <a target="_blank" class="teaser-data search" href="$!rssEntry.link" title="$!rssEntry.title">
            <div class="teaser-entry">
                <small class="bx-bot-0">
                    <span class="tx-darker">$date.format('dd.MM.yyyy',$rssEntry.publishedDate)</span>
                    <span class="tx-light">$date.format('HH:mm',$rssEntry.publishedDate)</span>
                </small>

                <h2 class="header">
                    $!rssEntry.title
                </h2>
                <p>
                    #if ($rssEntry && $rssEntry.description)
                                $strutils.cutString($rssEntry.description, 350)
                            #end
                </p>
                #if($rssEntry.author && $rssEntry.author != "")
                    <h5 class="no-margin">$MESSAGES.getString('news.author')</h5>
                    <p>$rssEntry.author</p>
                #end
            </div>
        </a>
    #end
    <a class="button outline" href="$renderResponse.encodeURL('/portal/default-page.psml')">
        <span class="ic-ic-arrow-left"></span>
        <span class="text">$MESSAGES.getString('news.archive.back')</span>
    </a>
<br>
<br>
</div>
