<div class="columns">
    #set ($action = $renderResponse.createActionURL())
    <form action="$action" method="post" name="password_forgotten" id="password_forgotten">
        <input type="hidden" name="cmd" value="form_sent" />
        #displayFormError()
        <p>$MESSAGES.getString('password.forgotten.description')</p>
        <div class="form-element">
            <label for="email">$MESSAGES.getString('password.forgotten.email')*:</label>
        </div>
        <div class="form-element">
            #addErrorFormMessage('email')
            <input type="text" id="email" name="email"  value="#getFieldValue('email')" #addErrorFormClass('email')/>
        </div>
        <div class="form-element #if($actionForm.hasErrorInField('login') == false)is-hidden#end">
            <label for="login">$MESSAGES.getString('password.forgotten.login')*:</label>
        </div>
        <div class="form-element #if($actionForm.hasErrorInField('login') == false)is-hidden#end">
            #addErrorFormMessage('login')
            <input type="text" id="login" name="login"  value="#getFieldValue('login')" #addErrorFormClass('login')/>
        </div>
        <div class="subtext-submit">
            <h6>* Pflichtangaben</h6>
            #renderInputButtonClass($MESSAGES.getString('password.forgotten.submit') "width:100%" "" "" "")
        </div>
    </form>
</div>