#set ($action = $renderResponse.createActionURL())
<h3>$MESSAGES.getString('login.password.update.required.title.text')</h3>
<form class="form" action="$action" method="post" name="password_update_required" id="password_update_required" style="width:100%;">
    <input type="hidden" name="cmd" value="$cmd" />
    <input type="hidden" name="userEmail" value="$userEmail" />
    <input type="hidden" name="userChangeId" value="$userChangeId" />
    #if(!$isPasswordUpdateRequired)
        #set ($formType = 'create')
    #else
        #set ($formType = 'edit')
    #end

    #parse ('/WEB-INF/templates/myportal/include_account_form.vm')
    <div class="subtext-submit">
        <h6>* $MESSAGES.getString('account.edit.required.fields')</h6>
        #renderInputButtonClass("$MESSAGES.getString('login.password.update.required.title.save')" "" "" "" "")
    </div>
</form>
<br/>
<br/>
<script >
    var error = $actionForm.hasErrors();
    if(error){
        goToByScroll('password_update_required');
    }
</script>