#if ($subElement.url == "/main-about.psml")
    <a href="$linkUrl" class="header-menu-entry #if($isSelected)is-active#end" title="$linkTitle" target="_blank"><span class="text">$linkName</span></a>
#else
    <a href="$linkUrl" class="header-menu-entry #if($isSelected)is-active#end" title="$linkTitle"><span class="text">$linkName</span></a>
#end