Hello $!{map.get("user.custom.ingrid.user.salutation.full")} $!{map.get("user.name.given")} $!{map.get("user.name.family")}:

Welcome to PortalU! 
Thank you for registering.

Please confirm your registration by following the link below.

$!{map.get("returnURL")}

Best regards,

The NUMIS Team.


