<script>
var meterStrength = {
  0: "$MESSAGES.getString('common.password.strength.worst')",
  1: "$MESSAGES.getString('common.password.strength.bad')",
  2: "$MESSAGES.getString('common.password.strength.weak')",
  3: "$MESSAGES.getString('common.password.strength.good')",
  4: "$MESSAGES.getString('common.password.strength.strong')"
};
var meterStrengthColors = {
  0: "red",
  1: "red",
  2: "yellow",
  3: "orange",
  4: "green",
};

</script>