#if($renderRequest.getWindowID() != "MyPortalLoginPortlet")
#parse ('/WEB-INF/templates/myportal/login_form_submit.vm')
#else
    <a class="button logout" href="/Shibboleth.sso/Login" title="$MESSAGES.getString('javax.portlet.title')">
        <span class="text">$MESSAGES.getString('javax.portlet.title')</span>
        <span class="ic-ic-user"></span>
    </a>
#end
