<div class="header__widgets__section">
    <a class="header__widget header__logo" href="$jetspeed.getAbsoluteUrl('/default-page.psml')" title="$MESSAGES.getString('ingrid.page.home.tooltip')">
        <img class="mq-hide-xxl desktop-logo" src="/decorations/layout/ingrid/images/template/logo.png">
        <img class="mq-show-xxl mobile__logo" src="/decorations/layout/ingrid/images/template/mobile-logo.png">
    </a>
</div>