#set($xPathListTime = [
    $xPathListTimeTimePeriodInstantPosition,
    $xPathListTimeTimePeriodBeginPosition,
    $xPathListTimeTimePeriodEndPosition
])
#set($hideDescriptionTimeDataForServices = false)