## BAW Auftragsnummer
#set($bawAggregateDataSetNameNumber =  $TOOL.getValueFromXPath("./gmd:identificationInfo/*/gmd:aggregationInfo/gmd:MD_AggregateInformation[./gmd:associationType/gmd:DS_AssociationTypeCode/@codeListValue = 'largerWorkCitation']/gmd:aggregateDataSetName/gmd:CI_Citation/gmd:identifier/gmd:MD_Identifier/gmd:code/*[self::gco:CharacterString or self::gmx:Anchor]"))
#if($type == 4)
    #set($bawAggregateDataSetNameNumber =  $TOOL.getValueFromXPath("./gmd:identificationInfo/gmd:MD_DataIdentification/gmd:citation/gmd:CI_Citation/gmd:identifier/gmd:MD_Identifier/gmd:code/*[self::gco:CharacterString or self::gmx:Anchor]"))
#end
## BAW Auftragstitel
#set($bawAggregateDataSetNameTitle =  $TOOL.getValueFromXPath("./gmd:identificationInfo/*/gmd:aggregationInfo/gmd:MD_AggregateInformation[./gmd:associationType/gmd:DS_AssociationTypeCode/@codeListValue = 'largerWorkCitation']/gmd:aggregateDataSetName/gmd:CI_Citation/gmd:title/*[self::gco:CharacterString or self::gmx:Anchor]"))
#if($type == 4)
    #set($bawAggregateDataSetNameTitle =  $TOOL.getValueFromXPath("./gmd:identificationInfo/gmd:MD_DataIdentification/gmd:citation/gmd:CI_Citation/gmd:title/*[self::gco:CharacterString or self::gmx:Anchor]"))
#end
## BAW BWAStrCenter
#set($bawstrCenterLongitude = $TOOL.getValueFromXPath("./idf:additionalDataSection[@id='bawDmqsAdditionalFields']/idf:additionalDataField[@id='bwstr-center-lon']/idf:data"))
#set($bawstrCenterLatitude = $TOOL.getValueFromXPath("./idf:additionalDataSection[@id='bawDmqsAdditionalFields']/idf:additionalDataField[@id='bwstr-center-lat']/idf:data"))

## Format
#set($xPathBawFormat = "//gmd:resourceFormat/gmd:MD_Format")
## Format Name
#set($xPathBawFormatName = "./gmd:name/*[self::gco:CharacterString or self::gmx:Anchor]")
## Format Version
#set($xPathBawVersion = "./gmd:version/*[self::gco:CharacterString or self::gmx:Anchor]")
## Verfahren
#set($xPathBawProcedure = "./gmd:identificationInfo//gmd:descriptiveKeywords[.//gmd:thesaurusName//gmd:title//*[self::gco:CharacterString or self::gmx:Anchor] = 'de.baw.codelist.model.method']//gmd:keyword/*[self::gco:CharacterString or self::gmx:Anchor]")
## Modellart
#set($xPathBawModellType = "./gmd:identificationInfo//gmd:descriptiveKeywords[.//gmd:thesaurusName//gmd:title//*[self::gco:CharacterString or self::gmx:Anchor] = 'de.baw.codelist.model.type']//gmd:keyword/*[self::gco:CharacterString or self::gmx:Anchor]")
## Räumliche Dimensionalität
#set($xPathBawSpatialDimensionality = "./gmd:identificationInfo//gmd:descriptiveKeywords[.//gmd:thesaurusName//gmd:title//*[self::gco:CharacterString or self::gmx:Anchor] = 'de.baw.codelist.model.dimensionality']//gmd:keyword/*[self::gco:CharacterString or self::gmx:Anchor]")
## Zeitschrittgröße
#set($xPathBawTimestepSize = "./gmd:dataQualityInfo//gmd:DQ_AccuracyOfATimeMeasurement//gco:Record")
## Daten / Größen / Parameter
#set($xPathBAWDataQuality = "//gmd:DQ_DataQuality")
#set($xPathBawRole = "./gmd:lineage//gmd:LI_Source/gmd:description/*[self::gco:CharacterString or self::gmx:Anchor]")
#set($xPathBawName = ".//gmd:DQ_QuantitativeAttributeAccuracy//gmd:valueType/gco:RecordType")
#set($xPathBawUnit = ".//gmd:DQ_QuantitativeAttributeAccuracy//gmd:valueUnit//gml:catalogSymbol")
#set($xPathBawValue = ".//gmd:DQ_QuantitativeAttributeAccuracy//gmd:value/gco:Record")

#set($xPathListInformationTypeBawMis = [
    "${xPathBawFormat}/${xPathBawFormatName}",
    "${xPathBawFormat}/${xPathBawVersion}",
    $xPathBawProcedure,
    $xPathBawModellType,
    $xPathBawSpatialDimensionality,
    $xPathBawTimestepSize,
    $xPathInfo1LILineageStatement,
    "${xPathBAWDataQuality}/${xPathBawRole}",
    "${xPathBAWDataQuality}/${xPathBawName}",
    "${xPathBAWDataQuality}/${xPathBawUnit}",
    "${xPathBAWDataQuality}/${xPathBawValue}"
])

#if($TOOL.aNodeOfListExist($xPathListInformationTypeBawMis))
    #set($checkOtherInformation = true)
#end

## Einsatzzweck
#set($xPathInfo6Einsatzzweck = "./gmd:identificationInfo/*/software/einsatzzweck")
## Nutzerkreis
#set($xPathInfo6Nutzerkreis = "./gmd:identificationInfo/*/software/Nutzerkreis")
## Produktiver Einsatz
#set($xPathInfo6ProduktiverEinsatz = "./gmd:identificationInfo/*/software/ProduktiverEinsatz")
## Ergänzungsmodul zu Marktsoftware
#set($xPathInfo6ErgaenzungsModul = "./gmd:identificationInfo/*/software/ErgaenzungsModul")
## Betriebssystem
#set($xPathInfo6Betriebssystem = "./gmd:identificationInfo/*/software/Betriebssystem")
## Programmiersprache
#set($xPathInfo6Programmiersprache = "./gmd:identificationInfo/*/software/Programmiersprache/programmiersprache")
## Entwicklungsumgebung
#set($xPathInfo6Entwicklungsumgebung = "./gmd:identificationInfo/*/software/Entwicklungsumgebung/entwicklungsumgebung")
## Bibliotheken
#set($xPathInfo6Bibliotheken = "./gmd:identificationInfo/*/software/Bibliotheken")
## Erstellungsvertrag
#set($xPathInfo6Erstellungsvertrag = "./gmd:identificationInfo/*/software/Erstellungsvertrag")
## Supportvertrag
#set($xPathInfo6Supportvertrag = "./gmd:identificationInfo/*/software/Supportvertrag")
## Installationsort
#set($xPathInfo6Installationsort = "./gmd:identificationInfo/*/software/Installationsort")
## Installation über
#set($xPathInfo6InstallationsMethode = "./gmd:identificationInfo/*/software/installationsMethode")
## BAW-Rechte an den Quellen
#set($xPathInfo6QuellCodeRechte = "./gmd:identificationInfo/*/software/QuellCodeRechte")
## Rechte bei Nutzung der SW durch Dritte
#set($xPathInfo6NutzungsRechte = "./gmd:identificationInfo/*/software/NutzungsRechte")

#set($xPathListInformationType6 = [
    $xPathInfo6Einsatzzweck,
    $xPathInfo6Nutzerkreis,
    $xPathInfo6ProduktiverEinsatz,
    $xPathInfo6ErgaenzungsModul,
    $xPathInfo6Betriebssystem,
    $xPathInfo6Programmiersprache,
    $xPathInfo6Entwicklungsumgebung,
    $xPathInfo6Bibliotheken,
    $xPathInfo6Erstellungsvertrag,
    $xPathInfo6Supportvertrag,
    $xPathInfo6Installationsort,
    $xPathInfo6InstallationsMethode,
    $xPathInfo6QuellCodeRechte,
    $xPathInfo6NutzungsRechte
])
## BwaStr location
#set($bwastrIds = $TOOL.getListOfValuesFromXPath($xPathPresentEXExtent, $xPathPresentMDIdentifierCode))
#set($bwastr = [])
#foreach($tmpBwastrId in $bwastrIds)
    #set($tmpBwaStrValues = $tmpBwastrId.replaceAll("[^-?0-9.0-9]+", ""))
    #set($tmpBwaStrValues = $tmpBwaStrValues.replaceAll("-", " "))
    #set($tmpBwaStrValuesSplit = $tmpBwaStrValues.trim().split(" "))
    #if($tmpBwaStrValuesSplit.size() == 1)
        #set($bwastr_id = $tmpBwaStrValuesSplit.get(0))
        #if(!$bwastr_id.isEmpty())
            #if($bwastrLocatorGetDataLowers.isEmpty() ||
                    $stringTool.parseInt($bwastr_id) < $stringTool.parseInt($bwastrLocatorGetDataLowers))
                #if($bwastr_id.endsWith("00"))
                    #set($bwastr_id = $bwastr_id.substring(0, 2) + "01")
                #end
                #set($add = $bwastr.add(["'$bwastr_id'", "''", "''"]))
            #end
        #end
    #elseif($tmpBwaStrValuesSplit.size() == 3)
        #set($bwastr_id = $tmpBwaStrValuesSplit.get(0))
        #if(!$bwastr_id.isEmpty())
            #if($bwastrLocatorGetDataLowers && !$bwastrLocatorGetDataLowers.isEmpty() &&
                    $stringTool.parseInt($bwastr_id) < $stringTool.parseInt($bwastrLocatorGetDataLowers))
                #if($bwastr_id.endsWith("00"))
                    #set($bwastr_id = $bwastr_id.substring(0, 2) + "01")
                #end
                #set($add = $bwastr.add(["'$bwastr_id'", "'$tmpBwaStrValuesSplit.get(1)'", "'$tmpBwaStrValuesSplit.get(2)'"]))
            #end
        #end
    #end
#end

#set($showMetadataClassType = false)