## BAW Auftragsnummer
#set($bawAggregateDataSetNameNumber =  $TOOL.getValueFromXPath("./gmd:identificationInfo/*/gmd:aggregationInfo/gmd:MD_AggregateInformation/gmd:aggregateDataSetName/gmd:CI_Citation/gmd:identifier/gmd:MD_Identifier/gmd:code/gco:CharacterString"))
#if($type == 4)
    #set($bawAggregateDataSetNameNumber =  $TOOL.getValueFromXPath("./gmd:identificationInfo/gmd:MD_DataIdentification/gmd:citation/gmd:CI_Citation/gmd:identifier/gmd:MD_Identifier/gmd:code/gco:CharacterString"))
#end
## BAW Auftragstitel
#set($bawAggregateDataSetNameTitle =  $TOOL.getValueFromXPath("./gmd:identificationInfo/*/gmd:aggregationInfo/gmd:MD_AggregateInformation[not(./gmd:associationType/gmd:DS_AssociationTypeCode/@codeListValue = 'crossReference')]/gmd:aggregateDataSetName/gmd:CI_Citation/gmd:title/gco:CharacterString"))
#if($type == 4)
    #set($bawAggregateDataSetNameTitle =  $TOOL.getValueFromXPath("./gmd:identificationInfo/gmd:MD_DataIdentification/gmd:citation/gmd:CI_Citation/gmd:title/gco:CharacterString"))
#end
## BAW BWAStrCenter
#set($bawstrCenterLongitude = $TOOL.getValueFromXPath("./idf:additionalDataSection[@id='bawDmqsAdditionalFields']/idf:additionalDataField[@id='bwstr-center-lon']/idf:data"))
#set($bawstrCenterLatitude = $TOOL.getValueFromXPath("./idf:additionalDataSection[@id='bawDmqsAdditionalFields']/idf:additionalDataField[@id='bwstr-center-lat']/idf:data"))

## Format
#set($xPathBawFormat = "//gmd:resourceFormat/gmd:MD_Format")
## Format Name
#set($xPathBawFormatName = "./gmd:name/gco:CharacterString")
## Format Version
#set($xPathBawVersion = "./gmd:version/gco:CharacterString")
## Verfahren
#set($xPathBawProcedure = "./gmd:identificationInfo//gmd:descriptiveKeywords[.//gmd:thesaurusName//gmd:title//gco:CharacterString = 'de.baw.codelist.model.method']//gmd:keyword/gco:CharacterString")
## Modellart
#set($xPathBawModellType = "./gmd:identificationInfo//gmd:descriptiveKeywords[.//gmd:thesaurusName//gmd:title//gco:CharacterString = 'de.baw.codelist.model.type']//gmd:keyword/gco:CharacterString")
## Räumliche Dimensionalität
#set($xPathBawSpatialDimensionality = "./gmd:identificationInfo//gmd:descriptiveKeywords[.//gmd:thesaurusName//gmd:title//gco:CharacterString = 'de.baw.codelist.model.dimensionality']//gmd:keyword/gco:CharacterString")
## Zeitschrittgröße
#set($xPathBawTimestepSize = "./gmd:dataQualityInfo//gmd:DQ_AccuracyOfATimeMeasurement//gco:Record")
## Daten / Größen / Parameter
#set($xPathBAWDataQuality = "//gmd:DQ_DataQuality")
#set($xPathBawRole = "./gmd:lineage//gmd:LI_Source/gmd:description/gco:CharacterString")
#set($xPathBawName = ".//gmd:DQ_QuantitativeAttributeAccuracy//gmd:valueType/gco:RecordType")
#set($xPathBawUnit = ".//gmd:DQ_QuantitativeAttributeAccuracy//gmd:valueUnit//gml:catalogSymbol")
#set($xPathBawValue = ".//gmd:DQ_QuantitativeAttributeAccuracy//gmd:value/gco:Record")

#set($xPathListInformationTypeBawMis = [
    "${xPathBawFormat}/${xPathBawFormatName}",
    "${xPathBawFormat}/${xPathBawVersion}",
    $xPathBawProcedure,
    $xPathBawModellType,
    $xPathBawSpatialDimensionality,
    $xPathBawTimestepSize,
    $xPathInfo1LILineageStatement,
    "${xPathBAWDataQuality}/${xPathBawRole}",
    "${xPathBAWDataQuality}/${xPathBawName}",
    "${xPathBAWDataQuality}/${xPathBawUnit}",
    "${xPathBAWDataQuality}/${xPathBawValue}"
])
#if($TOOL.aNodeOfListExist($xPathListInformationTypeBawMis))
    #set($checkOtherInformation = true)
#end

## BwaStr location
#set($bwastrIds = $TOOL.getListOfValuesFromXPath($xPathPresentEXExtent, $xPathPresentMDIdentifierCode))
#set($bwastr = [])
#foreach($tmpBwastrId in $bwastrIds)
    #set($tmpBwaStrValues = $tmpBwastrId.replaceAll("[^-?0-9.0-9]+", ""))
    #set($tmpBwaStrValues = $tmpBwaStrValues.replaceAll("-", " "))
    #set($tmpBwaStrValuesSplit = $tmpBwaStrValues.trim().split(" "))
    #if($tmpBwaStrValuesSplit.size() == 1)
        #set($bwastr_id = $tmpBwaStrValuesSplit.get(0))
        #if(!$bwastr_id.isEmpty())
            #if($bwastrLocatorGetDataLowers.isEmpty() ||
                    $stringTool.parseInt($bwastr_id) < $stringTool.parseInt($bwastrLocatorGetDataLowers))
                #if($bwastr_id.endsWith("00"))
                    #set($bwastr_id = $bwastr_id.substring(0, 2) + "01")
                #end
                #set($add = $bwastr.add(["'$bwastr_id'", "''", "''"]))
            #end
        #end
    #elseif($tmpBwaStrValuesSplit.size() == 3)
        #set($bwastr_id = $tmpBwaStrValuesSplit.get(0))
        #if(!$bwastr_id.isEmpty())
            #if($bwastrLocatorGetDataLowers && !$bwastrLocatorGetDataLowers.isEmpty() &&
                    $stringTool.parseInt($bwastr_id) < $stringTool.parseInt($bwastrLocatorGetDataLowers))
                #if($bwastr_id.endsWith("00"))
                    #set($bwastr_id = $bwastr_id.substring(0, 2) + "01")
                #end
                #set($add = $bwastr.add(["'$bwastr_id'", "'$tmpBwaStrValuesSplit.get(1)'", "'$tmpBwaStrValuesSplit.get(2)'"]))
            #end
        #end
    #end
#end

#set($showMetadataClassType = false)