/*
 *  Base: Form
 *________________________*/




button {    
    &:not([disabled]) {        
        cursor: pointer;
    }
}

fieldset {
    border: 0;
    padding: 0;
}

button,
textarea {
    line-height: inherit;
}

input,
select,
textarea {
    border-radius: 0;
    font-family: inherit;    
}

input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select {
    background: color(white);
    height: rem(36px);
}

label {	
    cursor: pointer;
    display: block;
    font-weight: 700;
    line-height: 1.2;
}

textarea {
    max-width: 100%;
    min-height: 8em;
}

input[type="checkbox"] {
    cursor: pointer;
    margin: 0;
}

input[type="date"] {
    width: 100%;
}