/*
 *  Base: Form
 *________________________*/




button {    
    &:not([disabled]) {        
        cursor: pointer;
    }
}

fieldset {
    border: 0;
    padding: 0;
}

button,
textarea {
    line-height: inherit;
}

input,
select,
textarea {
    border-radius: 0;
	font-family: inherit;    
}

input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select {
    background: color(white);
    height: rem(36px);
}

label {	
    cursor: pointer;
    display: block;
    font-weight: 700;
    line-height: 1.2;
}

textarea {
    max-width: 100%;
    min-height: 8em;
}

input[type="checkbox"] {
    cursor: pointer;
    margin: 0;
}

input[type="date"] {
    width: 100%;
}

.yummy {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}

meter {
  margin: 1.25em 0 1em 0;
  width: 100%;
  height: 0.5em;
  display: none;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* meter-gauge is used for IE browser compability */
.meter-gauge {
  height: inherit;
}
.meter-gauge > span {
  height: inherit;
  display: block;
  text-indent: -9999px;
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }
meter[value="5"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }
meter[value="5"]::-moz-meter-bar { background: green; }
