/*
 *  Base: Media
 *______________________*/




img {
    border: 0;
    display: block;
    max-width: 100%;
}

figure {
    margin: rem(30px) 0;
}

iframe {
    border: 0;
    display: block;
    width: 100%;
}


// Media Object
.media {
    margin: rem(30px 0);
}

.media__body {
    overflow: auto;
}

.media__obj {
    @include media(
        $query: '< 640',
        $css: (
            margin-bottom: rem($global-gutter)
        )
    );

    @include media(
        $query: '640 >',
        $css: (
            max-width: 30%
        )
    );
}

.media__obj--large {
    @include media(
        $query: '640 >',
        $css: (
            max-width: 40%,
            width: 100%
        )
    );
}

.media__obj--left {
    @include media(
        $query: '640 >',
        $css: (
            float: left,
            margin-right: rem($global-gutter)
        )
    );
}

.media__obj--right {
    @include media(
        $query: '640 >',
        $css: (
            float: right,
            margin-left: rem($global-gutter)
        )
    );
}
