/*
 *  Base: Table
 *________________________*/




table {
    border-collapse: collapse;
    width: 100%;

    input[type="checkbox"] {
        float: left;
        margin-top: .3em;
    }
}

td,
th {
    padding: rem(8px 12px 8px) 0;
    vertical-align: top;
}

th {
    text-align: left;
}
