/*
 *  Base: Typography
 *________________________*/




h1,
h2,
h3,
h4,
h5,
h6 {
    color: color(black);
    line-height: 1.2;
}

h1,
h2,
h3,
h4 {
    font-family: $font-brand;

    small {
        display: inline;
        font-size: .65em;
    }
}

h3,
h5,
.h6{
    font-weight: 400;
}

blockquote {
    margin: rem(80px) 0;
}

cite {
    display: block;
    font-style: normal;
}

ol,
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

p {
    margin: rem(16px) 0;

}

small {
    color: color(nobel);
    display: block;
    font-size: rem(13px);
}

sub,
sup {
    line-height: 1;
}

