## Lizenz
#if($useConstraints && $useConstraints.size() > 0)
    #set($tmp2 = [$useConstraints.get(0)])
    #renderTextListSpaceListConvertUrl($MESSAGES.getString("object_access.license") $tmp2 "" true true)
#end