    </div>
    #if($currentPage != "/main-maps.psml" && $currentPage != "/main-measures.psml")
          <footer>
            <div class="row">
                <div class="columns">
                    <p class="result-text no-margin">
                        <span>
                            <b>$MESSAGES.getString('ingrid.page.navigation.title')</b>:
                        </span>
                        <span>
                            <a href="$jetspeed.getAbsoluteUrl("/default-page.psml")">$MESSAGES.getString('ingrid.page.home')</a>
                        </span>
                    #if($currentPage)
                        #if($currentPage == "/search-detail.psml")
                            <span class="ic-ic-angle-right"></span>
                            <a href="$jetspeed.getAbsoluteUrl("/main-search.psml")">$MESSAGES.getString('ingrid.page.search')</a>
                        #end
                        #if($currentPage != "/default-page.psml")
                            <span class="ic-ic-angle-right"></span>
                            <a href="javascript:openURL(window.location.href)">$MESSAGES.getString($site.getPageOrTemplate().shortTitle)</a>
                        #end
                    #end
                </div>
            </div>
            <div class="footer-buttons-bar show-for-large hide-for-print">
                <div class="social-buttons">
                    #defineUrlParams()
                    #set($shareUrl = "$jetspeed.getAbsoluteUrl($jetspeed.page.getUrl())")
                    #set($shareUrl = "${shareUrl}${urlParams}")
                    #set($shareUrlEncode = $esc.url("${shareUrl}"))
                    <a href="https://twitter.com/intent/tweet?url=$shareUrlEncode" class="button round social" target="_blank" title="Twitter">
                      <span class="ic-ic-twitter"></span><span class="text"></span>
                    </a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=$shareUrlEncode" class="button round social" target="_blank" title="Facebook">
                      <span class="ic-ic-facebook"></span><span class="text"></span>
                    </a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url=$shareUrlEncode" class="button round social" target="_blank" title="LinkedIn">
                      <span class="ic-ic-linkedin"></span><span class="text"></span>
                    </a>
                    <a href="whatsapp://send?text=$shareUrl" class="button round social" target="_blank" title="WhatsApp">
                      <span class="ic-ic-whatsapp"></span><span class="text"></span>
                    </a>
                    <a href="https://www.xing.com/social_plugins/share?url=$shareUrlEncode" class="button round social" target="_blank" title="XING">
                      <span class="ic-ic-xing"></span><span class="text"></span>
                    </a>
                    <a href="mailto:?body=$shareUrlEncode" class="button round social" target="_blank" title="E-Mail">
                      <span class="ic-ic-mailto"></span><span class="text"></span>
                    </a>
                    <button id="share-buttons" class="button round social share" title="Seite teilen">
                      <span class="ic-ic-share"></span>
                      <span class="text"></span>
                    </button>
                </div>
                <div class="button-up">
                    <button type="button" class="button round social js-top" title="Nach oben">
                        <span class="ic-ic-angle-up"></span>
                    </button>
                </div>
          </div>
          <div class="footer">
              <div class="row">
                  <div class="xlarge-2 columns">
                      <div class="logo">
                          <a href="/startseite"><img src="/decorations/layout/ingrid/images/template/footer-logo.svg" alt="NUMIS"></a>
                      </div>
                  </div>
                  <div class="columns">
                      <div class="copyright">
                          <p>$MESSAGES.getString("ingrid.page.copyright")</p>
                      </div>
                  </div>
                  <div class="columns">
                      #set($footerMenu = $site.getMenu("footer-menu"))
                      #if(!$footerMenu.empty)
                          #includeFooterNavigation($footerMenu)
                      #end
                  </div>
              </div>
          </div>
        </footer>
    #end
        <!-- Popup -->
        <div class="popup">
            <div class="headline popup__header">
                <p class="popup__title medium">$MESSAGES.getString("ingrid.page.help")</p>
                <button type="button" class="button round popup__close js-popup-close"><span class="ic-ic-cross"></span>
            </div>
            <div class="popup__content text-box">
                <p></p>
            </div>
        </div>
        <!-- Global scripts -->
        <script src="#GetPageResource("scripts/all.js")"></script>

        <!-- Popup -->
        <script src="#GetPageResource("scripts/popup.js")"></script>

        <!-- Expand -->
        <script src="/decorations/layout/ingrid/scripts/expander.js"></script>
    </div>

        <!-- Piwik -->
        <script type="text/javascript">
        var domain = document.domain;
        if(domain == "uvp.niedersachsen.de"){
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://matomo.niedersachsen.de/" : "http://matomo.niedersachsen.de/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        }
        </script>
        <script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 4);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {
            }
        </script><noscript><p><img src="https://matomo.niedersachsen.de/piwik.php?idsite=4" style="border:0" alt="" /></p></noscript>
        <!-- End Piwik Tag -->
    </body>
</html>
