<!-- Global scripts -->
<script src="/decorations/layout/ingrid/scripts/all.js"></script>

<!-- Popup -->
<script src="/decorations/layout/ingrid/scripts/popup.js"></script>
<script src="/decorations/layout/ingrid/scripts/expander.js"></script>

<!-- Accordion -->
<script src="/decorations/layout/ingrid/scripts/accordion.js"></script>
<script>
$('.js-accordion').accordion();
$('.js-accordion-multi').accordion({
    multi: true
});
</script>
<!-- Tabs -->
<script src="/decorations/layout/ingrid/scripts/tabs.js"></script>
<script>
    $('.js-tabs').tabs();
</script>
<!-- Selection -->
<script src="/decorations/layout/ingrid/scripts/selection.js"></script>
<script>
    $('.js-selection').selection();
</script>
<!-- Table Sort -->
<script src="/decorations/layout/ingrid/scripts/table.sortable.js"></script>
<script>
    $('.js-table-sortable').sortable();
</script>
<!-- swiper -->
<script src="/decorations/layout/ingrid/scripts/swiper/js/swiper.min.js"></script>
<script>
  var mySwiper = new Swiper ('.swiper-container', {
    grabCursor: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  });
</script>
<style>
    meter {
      margin: 1.25em 0 1em 0;
      width: 100%;
      height: 0.5em;
      display: none;
    
      /* Applicable only to Firefox */
      background: none;
      background-color: rgba(0, 0, 0, 0.1);
    }
    
    meter::-webkit-meter-bar {
      background: none;
      background-color: rgba(0, 0, 0, 0.1);
    }
    
    /* meter-gauge is used for IE browser compability */
    .meter-gauge {
      height: inherit;
    }
    .meter-gauge > span {
      height: inherit;
      display: block;
      text-indent: -9999px;
    }
    
    /* Webkit based browsers */
    meter[value="1"]::-webkit-meter-optimum-value { background: red; }
    meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
    meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
    meter[value="4"]::-webkit-meter-optimum-value { background: green; }
    meter[value="5"]::-webkit-meter-optimum-value { background: green; }
    
    /* Gecko based browsers */
    meter[value="1"]::-moz-meter-bar { background: red; }
    meter[value="2"]::-moz-meter-bar { background: yellow; }
    meter[value="3"]::-moz-meter-bar { background: orange; }
    meter[value="4"]::-moz-meter-bar { background: green; }
    meter[value="5"]::-moz-meter-bar { background: green; }
</style>
