<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
		<property name="connection.datasource">java:/comp/env/jdbc/mdek</property> 

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

<!--
        <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <property name="cache.use_query_cache">true</property>
-->        

        <!-- SQL dialect -->
        <!-- Do NOT use Oracle10gDialect, not supported in Portal -->
<!--	<property name="dialect">org.hibernate.dialect.OracleDialect</property> -->
        <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <mapping jar="ingrid-portal-mdek-application-1.0-SNAPSHOT.jar" resource="de/ingrid/mdek/persistence/db/model/HelpMessage.hbm.xml"/>
        <mapping jar="ingrid-portal-mdek-application-1.0-SNAPSHOT.jar" resource="de/ingrid/mdek/persistence/db/model/UserData.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
