#set ($MESSAGES = $portletConfig.getResourceBundle($renderRequest.Locale))

#* defines URL parameter string *#
#macro (defineUrlParams)
#set ($myParamNames = $renderRequest.getParameterNames())
#set ($urlParams = "?")
#foreach ($paramName in $myParamNames)
#set ($myVals = $renderRequest.getParameterValues($paramName))
#foreach ($val in $myVals)
#if($urlParams!="?")#set ($urlParams = "${urlParams}&")#end
#set ($urlParams = "${urlParams}${paramName}=${val}")
#end
#end
#if($urlParams=="?")#set ($urlParams = "")#end
#end

#* Adds ingrid javascript *#
#macro (decoratorIncludeJavaScriptForHead)
  <script language="JavaScript" src="$request.contextPath/decorations/layout/ingrid/scripts/ingrid.js" type="text/javascript"></script>
#end

#* define navigation constants *#
#macro (defineNavigationConstants)
  #* Constants for layout orientation *#	
  #set($LEFT_TO_RIGHT = "LeftToRight")
  #set($RIGHT_TO_LEFT = "RightToLeft")
  #set($TOP_TO_BOTTOM = "TopToBottom")
  #set($BOTTOM_TO_TOP = "BottomToTop")
  #set($TITLE_FIRST = "TitleFirst")
  #set($TITLE_LAST = "TitleLast")
  #set($BREADCRUMBS_STYLE = "BreadcrumbsStyle")
#end


#* include identity component *#
#macro (includeIdentityArea)
  #set($currentPage = $site.getPage().url)
  #set($langCode = '')
  #if($preferedLocale.toString().startsWith('en'))
	#set($langCode = "en_")
  #end
  #if($currentPage == "/default-page.psml")
<div id="identity" class="${langCode}motiv_start"/>
  #elseif($currentPage == "/main-about.psml")
<div id="identity" class="${langCode}motiv_start"/>
  #elseif($currentPage == "/main-chronicle.psml")
<div id="identity" class="${langCode}motiv_umweltchronik"/>
  #elseif($currentPage == "/main-environment.psml")
<div id="identity" class="${langCode}motiv_umweltthemen"/>
  #elseif($currentPage == "/main-maps.psml")
<div id="identity" class="${langCode}motiv_karten"/>
  #elseif($currentPage == "/main-measures.psml")
<div id="identity" class="${langCode}motiv_messwerte"/>
  #elseif($currentPage == "/main-search.psml" || $currentPage.startsWith('/search-catalog'))
<div id="identity" class="${langCode}motiv_suche"/>
  #elseif($currentPage == "/main-service.psml")
<div id="identity" class="${langCode}motiv_service"/>
  #elseif($currentPage == "/service-contact.psml")
<div id="identity" class="${langCode}motiv_topnavi"/>
  #elseif($currentPage == "/help.psml")
<div id="identity" class="${langCode}motiv_hilfe"/>
  #elseif($currentPage == "/service-myportal.psml")
<div id="identity" class="${langCode}motiv_topnavi"/>
  #elseif($currentPage.startsWith('/administration/'))
<div id="identity" class="${langCode}motiv_admin"/>
  #else
<div id="identity" class="${langCode}motiv_blank"/>
  #end

  <!-- LOGO -->
  <div id="logo">
    <a href="$jetspeed.getAbsoluteUrl('/default-page.psml')"><img src="#GetPageResource('images/logo.gif')" width="100%" height="100%" alt="Logo PortalU" /></a>
  </div>
  
  <!-- SERVICE-NAVIGATION -->
  <div id="servicenav"><a name="servicenav"></a>
      <h2 class="hide">Servicemenu</h2>
      <ul>
#set($serviceMenu = $site.getMenu("service-menu"))
#if($serviceMenu && !$serviceMenu.empty)
  #includeServiceNavigation($serviceMenu)
#end
      </ul>
  </div>
<!-- logged on message -->
#if($jetspeed.getLoggedOn())
	#set($userAttributes = $jetspeed.getUserProperties())
    #set($userNameGiven = $userAttributes.get("user.name.given", null))
    #set($userNameFamily = $userAttributes.get("user.name.family", null))
    
    #if($userNameGiven)
    #set ($salutation = " $userNameGiven")
    #end
    #if($userNameFamily)
    #set ($salutation = "$!{salutation} $userNameFamily")
    #end		
<div id="logged_on">
  <a href="portal/myportal-edit-account.psml">$salutation</a> | <a href="login/logout">LOGOUT</a>
</div>
#end
</div>
#end

#* include main navigation component *#
#macro (includeMainNavigation $_menu)
    #set($currentPage = $site.getPage().url)
	#foreach($element in $_menu.elements.iterator())
      #if($element.elementType == "option")
        #set($tabTitle = $element.getTitle($preferedLocale))
        #set($tabName = $element.getShortTitle($preferedLocale))
		## read localized title from resource with title from psml as key !
		#if($tabTitle.startsWith('ingrid'))
            #set($tabTitle = $MESSAGES.getString($tabTitle))
            #set($tabName = $MESSAGES.getString($tabName))			
		#end
        #set($tabUrl = $jetspeed.getAbsoluteUrl($element.url))
		## flags indicating how to render menu item
        #set($elemSelected = false)
        #set($elemRender = true)
		## different menu item name than title in psml !
		#if($element.url=="/main-search.psml")
            #set($tabTitle = $MESSAGES.getString('ingrid.page.search'))
            #set($tabName = $MESSAGES.getString('ingrid.page.search'))
		#end
		## process and set flags accordingly
        #if($element.isSelected($site))
			#set($elemSelected = true)
		#elseif($element.url=="/main-maps.psml")
			##<li><a href="$tabUrl" title="$MESSAGES.getString('ingrid.page.maps.link.title')" target="ingrid_wms">$tabName</a></li>
			###set($elemRender = false)
		#elseif($element.url=="/main-search.psml")
			#if($currentPage.startsWith('/search-'))
				#set($elemSelected = true)
			#end
		#elseif($element.url=="/main-about.psml")
			#if($currentPage.startsWith('/main-about'))
				#set($elemSelected = true)
			#end
		#end
		## render menue item dependent from flags
		#if ($elemRender)
    		#if ($elemSelected)
              <li>
				<a href="$tabUrl" title="$tabTitle" class="selected">$tabName</a>
				<img src="#GetPageResource('images/mainnav_seperator.png')">
			  </li>
            #else
              <li>
				<a href="$tabUrl" title="$tabTitle">$tabName</a>
				<img src="#GetPageResource('images/mainnav_seperator.png')">
			  </li>
			#end
		#end
      #end
    #end
#end

#* include sub navigation component *#
#macro (includeSubNavigation $_menu)
    #set($currentPage = $site.getPage().url)
    <ul>
	#foreach($element in $_menu.elements.iterator())
      #if($element.elementType == "option")
        #set($linkTitle = $element.getTitle($preferedLocale))
        #set($linkName = $element.getShortTitle($preferedLocale))
		## read localized title from resource with title from psml as key !
		#if($linkTitle.startsWith('ingrid'))
            #set($linkTitle = $MESSAGES.getString($linkTitle))
            #set($linkName = $MESSAGES.getString($linkName))			
		#end
        #set($linkUrl = $jetspeed.getAbsoluteUrl($element.url))
        #if($velocityCount > 1)
           | 
		#end
		## flags indicating how to render menu item
        #set($elemSelected = false)
		## process and set flags accordingly
        #if($element.isSelected($site))
			#set($elemSelected = true)
		#elseif($_menu.Name=='sub-menu-search')
			#if($element.url.startsWith('/main-search'))
				#if (!$currentPage.startsWith('/search-catalog'))
					#set($elemSelected = true)
				#end
			#elseif($element.url.startsWith('/search-catalog'))
				#if ($currentPage.startsWith('/search-catalog'))
					#set($elemSelected = true)
				#end
			#end
		#end
		#if ($elemSelected)
          <li><a href="$linkUrl" title="$linkTitle" class="selected">$linkName</a></li>
        #else
          <li><a href="$linkUrl" title="$linkTitle">$linkName</a></li>
		#end
      #end
	#end
	</ul>
#end

#* include service navigation component *#
#macro (includeFooterNavigation $_menu)
    #foreach($element in $_menu.elements.iterator())
      #if($element.elementType == "option")
        #set($linkTitle = $element.getTitle($preferedLocale))
        #set($linkName = $element.getShortTitle($preferedLocale))
		## read localized title from resource with title from psml as key !
		#if($linkTitle.startsWith('ingrid'))
            #set($linkTitle = $MESSAGES.getString($linkTitle))
            #set($linkName = $MESSAGES.getString($linkName))			
		#end
        #set($linkUrl = $jetspeed.getAbsoluteUrl($element.url))
        ## obfuscate email addresse (webmaster)
        #if($linkUrl && $linkUrl.contains("@"))
        	#set($linkUrl = $jetspeed.htmlescapeAll($linkUrl))
        #end
        #if($velocityCount > 1)
           | 
        #end
        #if($element.isSelected($site))
          <a href="$linkUrl" title="$linkTitle" class="selected">$linkName</a>
        #else
          <a href="$linkUrl" title="$linkTitle">$linkName</a>
        #end
      #end
    #end
#end


#macro (renderServiceLink $el $currentPage $linkUrl $linkTitle $linkName $postfix)
  #if($isSelected)
    <li><a href="$linkUrl" class="selected" title="$!linkTitle">${linkName}</a>$postfix</li>
  #elseif($el=="/service-contact.psml")
	#if($currentPage.indexOf('service-contact') != -1)
	<li><a href="$linkUrl" class="selected" title="$!linkTitle">${linkName}</a>$postfix</li>
	#else
	<li><a href="$linkUrl" title="$!linkTitle">${linkName}</a>$postfix</li>
	#end
  #elseif($el=="/service-myportal.psml")
	#if($currentPage.indexOf('myportal') != -1)
	<li><a href="$linkUrl" class="selected" title="$!linkTitle">${linkName}</a>$postfix</li>
	#else
	<li><a href="$linkUrl" title="$!linkTitle">${linkName}</a>$postfix</li>
	#end
  #elseif($el=="/help.psml")
	<script language="JavaScript" type="text/javascript">
		document.write("<li><a href=\"javascript:ingrid_openWindow('$linkUrl',750,550);\" title=\"$MESSAGES.getString('ingrid.page.help.link.title')\">${linkName}</a>$postfix</li>");
	</script>
	<noscript>
		<li><a href="$linkUrl" target="_new" title="$MESSAGES.getString('ingrid.page.help.link.title')">${linkName}</a>$postfix</li>
	</noscript>
  #elseif($linkTitle == "ingrid.page.language")
    $jetspeed.renderPortletEntity("LanguageSwitch", "ingrid-portal-apps::LanguageSwitch")
  #else
    <li><a href="$linkUrl" title="$!linkTitle">${linkName}</a>$postfix</li>
  #end  
#end

## include service navigation component
#macro (includeServiceNavigation $_menu)
	#set($currentPage = $site.getPage().url)
	#foreach($element in $_menu.elements.iterator())
      #if($element.elementType == "option")
        #if($lastType && $lastType != "separator")
		  #renderServiceLink($element.url $currentPage $linkUrl $linkTitle $linkName "")
        #end 
        #set($lastType = $element.type)
        #set($linkTitle = $element.getTitle($preferedLocale))
        #set($linkName = $element.getShortTitle($preferedLocale))
		## read localized title from resource with title from psml as key !
		#if($linkTitle.startsWith('ingrid'))
            #set($linkTitle = $MESSAGES.getString($linkTitle))
            #set($linkName = $MESSAGES.getString($linkName))			
		#end
        #set($linkUrl = $jetspeed.getAbsoluteUrl($element.url))
        #set($linkPage = $element.url)
        #set($isSelected = $element.isSelected($site))
## handle language element
## NOTICE: defaultTitle is from "psml" or "link" file !
        #set($defaultTitle = $element.getTitle())
        #if($defaultTitle == "ingrid.page.language")
			#set($linkTitle = $defaultTitle)
        #end
      #elseif($element.elementType == "separator")
        #set($separatorTitle = $element.getTitle($preferedLocale))
        #set($separatorText = $element.getText($preferedLocale))
        #if ($separatorText == "separator1")
		  #if($lastType != "separator")
            #renderServiceLink($linkPage $currentPage $linkUrl $linkTitle $linkName "&nbsp;|&nbsp;")
          #else
            &nbsp;&nbsp;|&nbsp;&nbsp;
          #end
        #elseif($separatorText == "separator2")
          #if($lastType != "separator")
            #renderServiceLink($linkPage $currentPage $linkUrl $linkTitle $linkName "&nbsp;|&nbsp;")
          #else
             - 
          #end
        #else
          #if($lastType != "separator")
            #renderServiceLink($linkPage $currentPage $linkUrl $linkTitle $linkName "&nbsp;|&nbsp;")
          #end 
        #end
        #set($lastType = "separator")
      #end
	#end
    #if($lastType != "separator")
	  #renderServiceLink($element.url $currentPage $linkUrl $linkTitle $linkName "&nbsp;|&nbsp;")
    #end 
#end
