#set ($MESSAGES = $jetspeed.getIngridResourceBundle($portletConfig.getResourceBundle($renderRequest.Locale)))

#* defines URL parameter string *#
#macro (defineUrlParams)
#set ($myParamNames = $renderRequest.getParameterNames())
#set ($urlParams = "?")
#foreach ($paramName in $myParamNames)
#set ($myVals = $renderRequest.getParameterValues($paramName))
#foreach ($val in $myVals)
#if($urlParams!="?")#set ($urlParams = "${urlParams}&")#end
#set ($urlParams = "${urlParams}${paramName}=${val}")
#end
#end
#if($urlParams=="?")#set ($urlParams = "")#end
#end

#* Adds ingrid javascript *#
#macro (decoratorIncludeJavaScriptForHead)
  <script language="JavaScript" src="$request.contextPath/decorations/layout/ingrid/scripts/ingrid.js" type="text/javascript"></script>
#end

#* define navigation constants *#
#macro (defineNavigationConstants)
  #* Constants for layout orientation *#    
  #set($LEFT_TO_RIGHT = "LeftToRight")
  #set($RIGHT_TO_LEFT = "RightToLeft")
  #set($TOP_TO_BOTTOM = "TopToBottom")
  #set($BOTTOM_TO_TOP = "BottomToTop")
  #set($TITLE_FIRST = "TitleFirst")
  #set($TITLE_LAST = "TitleLast")
  #set($BREADCRUMBS_STYLE = "BreadcrumbsStyle")
#end


#* include main navigation component *#
#macro (includeMainNavigation $_menu)
    #set($currentPage = $site.getPageOrTemplate().url)
    #foreach($element in $_menu.elements.iterator())
      #set($elemSelected = false)
      #if($element.elementType == "option")
        #set($tabTitle = $element.getTitle($preferedLocale))
        #set($tabName = $element.getShortTitle($preferedLocale))
        ## read localized title from resource with title from psml as key !
        #if($tabTitle.startsWith('ingrid'))
            #set($tabTitle = $MESSAGES.getString($tabTitle))
            #set($tabName = $MESSAGES.getString($tabName))
        #end
        #set($tabUrl = $jetspeed.getAbsoluteUrl($element.url))
        ## flags indicating how to render menu item
        ## different menu item name than title in psml !
        #if($element.url=="/main-search.psml")
            ##set($tabTitle = $MESSAGES.getString('ingrid.page.search'))
            #set($tabName = $MESSAGES.getString('ingrid.page.search'))
        #end
        ## process and set flags accordingly
        #if($element.isSelected($site))
            #set($elemSelected = true)
        #elseif($element.url=="/main-about.psml" || $element.url=="/main-features.psml")
            #if($currentPage.startsWith('/main-about') || $currentPage.startsWith('/main-feature') )
                #set($elemSelected = true)
            #end
        #end
        
        #if($currentPage == "/search-detail.psml" && $element.url=="/main-search.psml")
            #set($elemSelected = true)
        #end
        #if ($element.url.startsWith('/main-about'))
            #set($subMenu = $site.getMenu("sub-menu-about"))
            <div class="dropmenu__box">
                <a class="icon nav-desktop__title js-nav-desktop-toggle #if($elemSelected)is-selected#end" href="#" title="$tabTitle">
                    <span class="text">$tabName</span>
                    <span class="ic-ic-angle-down"></span>
                </a>
                #if($subMenu && !$subMenu.empty)
                    #includeSubNavigation($subMenu true)
                #end
            </div>
        #else
            <a class="icon #if($elemSelected)is-selected#end" href="$tabUrl" title="$tabTitle">
                <span class="text">$tabName</span>
            </a>
        #end
      #end
    #end
#end

#* include sub navigation component *#
#macro (includeSubNavigation $_menu $_attached)
    #set($currentPage = $site.getPageOrTemplate().url)
    <div class="nav-desktop__dropdown nav-desktop__dropdown-left dropmenu">
        <div class="menu-main-links">
        #foreach($element in $_menu.elements.iterator())
          #if($element.elementType == "option")
            #set($linkTitle = $element.getTitle($preferedLocale))
            #set($linkName = $element.getShortTitle($preferedLocale))
            ## read localized title from resource with title from psml as key !
            #if($linkTitle.startsWith('ingrid'))
                #set($linkTitle = $MESSAGES.getString($linkTitle))
                #set($linkName = $MESSAGES.getString($linkName))
            #end
            #set($linkUrl = $jetspeed.getAbsoluteUrl($element.url))
            ## flags indicating how to render menu item
            ## process and set flags accordingly
            #if ($element.url.startsWith('/main-about.psml'))
                #set($linkTitle = $MESSAGES.getString('ingrid.page.portrait.tooltip'))
                #set($linkName = $MESSAGES.getString('ingrid.page.portrait')) 
            #elseif($element.url.startsWith('/main-about-partner.psml'))
                #set($linkTitle = $MESSAGES.getString('ingrid.page.partner.tooltip'))
                #set($linkName = $MESSAGES.getString('ingrid.page.partner'))
            #elseif($element.url.startsWith('/main-about-data-source.psml'))
                #set($linkTitle = $MESSAGES.getString('ingrid.page.data.source.tooltip'))
                #set($linkName = $MESSAGES.getString('ingrid.page.data.source'))
            #elseif($element.url.startsWith('/search-catalog/search-catalog-hierarchy.psml'))
                #set($linkTitle = $MESSAGES.getString('ingrid.page.hierarchy.tooltip'))
                #set($linkName = $MESSAGES.getString('ingrid.page.hierarchy'))
            #end
            #set($elemSelected = false)
            #if($element.isSelected($site))
                #set($elemSelected = true)
            #end
            <a class="header-menu-entry #if($elemSelected)is-active#end" href="$linkUrl" title="$linkTitle">
                <span class="text">$linkName</span>
            </a>
          #end
        #end
        </div>
    </div>
#end

#* include service navigation component *#
#macro (includeFooterNavigation $_menu)
<div class="footer-menu-entries">
    #foreach($element in $_menu.elements.iterator())
      #if($element.elementType == "option")
        #set($linkTitle = $element.getTitle($preferedLocale))
        #set($linkName = $element.getShortTitle($preferedLocale))
        ## read localized title from resource with title from psml as key !
        #if($linkTitle.startsWith('ingrid'))
            #set($linkTitle = $MESSAGES.getString($linkTitle))
            #set($linkName = $MESSAGES.getString($linkName))
        #end
        #set($linkUrl = $jetspeed.getAbsoluteUrl($element.url))
        ## obfuscate email addresse (webmaster)
        #if($linkUrl && $linkUrl.contains("@"))
            #set($linkUrl = $jetspeed.htmlescapeAll($linkUrl))
        #end
        <a href="$linkUrl" title="$linkTitle" class="icon"><span class="text">$linkName</span></a>
      #end
    #end
</div>
#end


#macro (renderServiceLink $el $currentPage $linkUrl $linkTitle $linkName $postfix)
  #if($el == "/service-myportal.psml")
    <div class="header__widget">
        #if($jetspeed.getLoggedOn())
            #set($userAttributes = $jetspeed.getUserProperties())
            #set($userNameGiven = $userAttributes.get("user.name.given"))
            #set($userNameFamily = $userAttributes.get("user.name.family"))
            
            #if($userNameGiven)
                #set ($salutation = " $userNameGiven")
            #end
            #if($userNameFamily)
                #set ($salutation = "$!{salutation} $userNameFamily")
            #end
            <a id="logged_on_link" class="header__widget__toggle js-header-toggle" href="#" title="$!linkTitle">
                <svg class="header__widget__icon icon #if($jetspeed.getLoggedOn())is-active#end">
                    <use xlink:href="#user">
                </svg>
                <span class="header__widget__text mq-hide-l">#if($jetspeed.getLoggedOn())$salutation#else${linkName}#end</span>
            </a>
            <div class="metamenu metamenu--wide">
                <!-- State logged in -->
                #set($userAttributes = $jetspeed.getUserProperties())
                #set($userNameGiven = $userAttributes.get("user.name.given"))
                #set($userNameFamily = $userAttributes.get("user.name.family"))
                
                #if($userNameGiven)
                    #set ($salutation = " $userNameGiven")
                #end
                #if($userNameFamily)
                    #set ($salutation = "$!{salutation} $userNameFamily")
                #end        
                <div class="metamenu__box ob-container">
                    <p>$MESSAGES.getString('ingrid.page.login.as'):<br><strong>$salutation</strong></p>
                    <p><a class="btn btn--secondary btn--small btn--block" href="/login/logout">$MESSAGES.getString('ingrid.page.login.logout')</a></p>
                </div>
                <div class="metamenu__box ob-container">
                    <p><a class="btn btn--primary btn--small btn--block" href="$linkUrl">$MESSAGES.getString('ingrid.page.login.to.myportal')</a></p>
                </div>
            </div>
        #end
    </div>
  #elseif($el == "/administration")
    <div class="header__widget">
        <a class="header__widget__toggle js-header-toggle" href="$linkUrl" title="$!linkTitle">
            <svg class="header__widget__icon icon">
                <use xlink:href="#gear">
            </svg>
            <span class="header__widget__text mq-hide-l">${linkName}</span>
        </a>
        <div class="metamenu">
            <div class="metamenu__box ob-container">
            #set($subMenu = $site.getMenu("sub-menu"))
            #foreach($element in $subMenu.elements.iterator())
              #if($element.elementType == "option")
                #set($linkTitle = $element.getTitle($preferedLocale))
                #set($linkName = $element.getShortTitle($preferedLocale))
                ## read localized title from resource with title from psml as key !
                #if($linkTitle.startsWith('ingrid'))
                    #set($linkTitle = $MESSAGES.getString($linkTitle))
                    #set($linkName = $MESSAGES.getString($linkName))
                #end
                #set($linkUrl = $jetspeed.getAbsoluteUrl($element.url))
                ## flags indicating how to render menu item
                ## process and set flags accordingly
                #if ($element.url.startsWith('/main-about.psml'))
                    #set($linkTitle = $MESSAGES.getString('ingrid.page.portrait.tooltip'))
                    #set($linkName = $MESSAGES.getString('ingrid.page.portrait')) 
                #elseif($element.url.startsWith('/main-about-partner.psml'))
                    #set($linkTitle = $MESSAGES.getString('ingrid.page.partner.tooltip'))
                    #set($linkName = $MESSAGES.getString('ingrid.page.partner'))
                #elseif($element.url.startsWith('/main-about-data-source.psml'))
                    #set($linkTitle = $MESSAGES.getString('ingrid.page.data.source.tooltip'))
                    #set($linkName = $MESSAGES.getString('ingrid.page.data.source'))
                #elseif($element.url.startsWith('/search-catalog/search-catalog-hierarchy.psml'))
                    #set($linkTitle = $MESSAGES.getString('ingrid.page.hierarchy.tooltip'))
                    #set($linkName = $MESSAGES.getString('ingrid.page.hierarchy'))
                #end
                <a class="metamenu__link link" href="$linkUrl" title="$linkTitle">$linkName</a>
              #end
            #end
            #set($linkTitle = $MESSAGES.getString('ingrid.page.mapclient.tooltip'))
            #set($linkName = $MESSAGES.getString('ingrid.page.mapclient'))
            #if($linkName != "ingrid.page.mapclient")
              #set($linkUrl = "/ingrid-webmap-client/admin/")
              <a target="_new" class="metamenu__link link" href="$linkUrl" title="$linkTitle">$linkName</a>
            #end
            </div>
        </div>
    </div>
  #elseif($linkTitle == "ingrid.page.language")
    $jetspeed.renderPortletWindow("LanguageSwitch", "ingrid-portal-apps::LanguageSwitch")
  #elseif($el == "/default-page.psml")
    <div class="header__widget">
        <a href="$linkUrl" title="$!linkTitle">
            <svg class="header__widget__icon icon">
                <use xlink:href="#overview">
            </svg>
            <span class="header__widget__text mq-hide-l">${linkName}</span>
        </a>
    </div>
  #end
#end

## include service navigation component
#macro (includeServiceNavigation $_menu $_menuMain $_menuFooter $_menuAboutSub)
#if($jetspeed.getLoggedOn())
    #set($userAttributes = $jetspeed.getUserProperties())
    #set($userNameGiven = $userAttributes.get("user.name.given"))
    #set($userNameFamily = $userAttributes.get("user.name.family"))
    
    #if($userNameGiven)
        #set ($salutation = " $userNameGiven")
    #end
    #if($userNameFamily)
        #set ($salutation = "$!{salutation} $userNameFamily")
    #end
#end
<div class="header-menu" style="display: none;">
    <div class="header-menu-close">
        <button type="button" class="button ">Menü<span class="ic-ic-cross"></span></button>
    </div>
    <div class="menu-main-links">
    #if($_menuMain)
        <div class="highlighted">
            #set($currentPage = $site.getPageOrTemplate().url)
            #foreach($element in $_menuMain.elements.iterator())
              #if($element.elementType == "option")
                #set($lastType = $element.type)
                #set($linkTitle = $element.getTitle($preferedLocale))
                #set($linkName = $element.getShortTitle($preferedLocale))
                ## read localized title from resource with title from psml as key !
                #if($linkTitle.startsWith('ingrid'))
                    #set($linkTitle = $MESSAGES.getString($linkTitle))
                    #set($linkName = $MESSAGES.getString($linkName))
                #end
                #set($linkUrl = $jetspeed.getAbsoluteUrl($element.url))
                #set($linkPage = $element.url)
                #set($isSelected = $element.isSelected($site))
                #set($defaultTitle = $element.getTitle())
                #if($defaultTitle == "ingrid.page.language")
                    #set($linkTitle = $defaultTitle)
                #end
                #if($element.url == '/main-about.psml')
                    #foreach($subElement in $_menuAboutSub.elements.iterator())
                        #set($linkTitle = $subElement.getTitle($preferedLocale))
                        #set($linkName = $subElement.getShortTitle($preferedLocale))
                        #set($isSelected = $subElement.isSelected($site))
                        ## read localized title from resource with title from psml as key !
                        #if($linkTitle.startsWith('ingrid'))
                            #set($linkTitle = $MESSAGES.getString($linkTitle))
                            #set($linkName = $MESSAGES.getString($linkName))
                        #end
                        #set($linkUrl = $jetspeed.getAbsoluteUrl($subElement.url))
                        #set($defaultTitle = $subElement.getTitle())
                        #if($defaultTitle == "ingrid.page.language")
                            #set($linkTitle = $defaultTitle)
                        #end
                        <a href="$linkUrl" class="header-menu-entry #if($isSelected)is-active#end" title="$linkTitle"><span class="text">$linkName</span></a>
                    #end
                #else
                    <a href="$linkUrl" class="header-menu-entry #if($isSelected)is-active#end" title="$linkTitle"><span class="text">$linkName</span></a>
                #end
              #end
            #end
        </div>
    #end
    #if($_menuFooter)
        #set($currentPage = $site.getPageOrTemplate().url)
        #foreach($element in $_menuFooter.elements.iterator())
          #if($element.elementType == "option")
            #set($lastType = $element.type)
            #set($linkTitle = $element.getTitle($preferedLocale))
            #set($linkName = $element.getShortTitle($preferedLocale))
            ## read localized title from resource with title from psml as key !
            #if($linkTitle.startsWith('ingrid'))
                #set($linkTitle = $MESSAGES.getString($linkTitle))
                #set($linkName = $MESSAGES.getString($linkName))
            #end
            #set($linkUrl = $jetspeed.getAbsoluteUrl($element.url))
            #set($linkPage = $element.url)
            #set($isSelected = $element.isSelected($site))
            #set($defaultTitle = $element.getTitle())
            #if($defaultTitle == "ingrid.page.language")
                #set($linkTitle = $defaultTitle)
            #end
            <a href="$linkUrl" title="$linkTitle" #if($isSelected)class="is-active"#end><span class="text">$linkName</span></a>
          #end
        #end
    #end
    #if(!$jetspeed.getLoggedOn())
        <!--
        <a class="button logout" href="/log-in"><span class="text">Anmelden</span><span class="ic-ic-user"></span></a>
        -->
    #end
    </div>
    <div class="menu-sub-links">
    #if($jetspeed.getLoggedOn())
        <h6 class="login_user">$salutation</h6>
        #if($_menu)
            #foreach($element in $_menu.elements.iterator())
                #if($element.url == "/administration")
                    #set($subMenu = $site.getMenu("sub-menu"))
                    #foreach($element in $subMenu.elements.iterator())
                      #if($element.elementType == "option")
                        #set($linkTitle = $element.getTitle($preferedLocale))
                        #set($linkName = $element.getShortTitle($preferedLocale))
                        #set($isSelected = $element.isSelected($site))
                        ## read localized title from resource with title from psml as key !
                        #if($linkTitle.startsWith('ingrid'))
                            #set($linkTitle = $MESSAGES.getString($linkTitle))
                            #set($linkName = $MESSAGES.getString($linkName))
                        #end
                        #set($linkUrl = $jetspeed.getAbsoluteUrl($element.url))
                        ## flags indicating how to render menu item
                        ## process and set flags accordingly
                        #if ($element.url.startsWith('/main-about.psml'))
                            #set($linkTitle = $MESSAGES.getString('ingrid.page.portrait.tooltip'))
                            #set($linkName = $MESSAGES.getString('ingrid.page.portrait')) 
                        #elseif($element.url.startsWith('/main-about-partner.psml'))
                            #set($linkTitle = $MESSAGES.getString('ingrid.page.partner.tooltip'))
                            #set($linkName = $MESSAGES.getString('ingrid.page.partner'))
                        #elseif($element.url.startsWith('/main-about-data-source.psml'))
                            #set($linkTitle = $MESSAGES.getString('ingrid.page.data.source.tooltip'))
                            #set($linkName = $MESSAGES.getString('ingrid.page.data.source'))
                        #elseif($element.url.startsWith('/search-catalog/search-catalog-hierarchy.psml'))
                            #set($linkTitle = $MESSAGES.getString('ingrid.page.hierarchy.tooltip'))
                            #set($linkName = $MESSAGES.getString('ingrid.page.hierarchy'))
                        #end
                        <a href="$linkUrl" title="$linkTitle" #if($isSelected)class="is-active"#end><span class="text">$linkName</span></a>
                      #end
                    #end
                #end
            #end
        #end
        <a class="button logout" href="/login/logout"><span class="text">$MESSAGES.getString('ingrid.page.login.logout')</span><span class="ic-ic-arrow"></span></a>
    #else
        <a class="button logout" href="/log-in"><span class="text">$MESSAGES.getString('ingrid.page.myportal')</span><span class="ic-ic-arrow"></span></a> 
    #end
    </div>
</div> 
#end