#if($currentPage != "/main-maps.psml" && $currentPage != "/main-measures.psml")
        <footer class="footer">
            <div class="ob-box-padded ob-box-center ob-clear">
                <div class="footer__top">
                    <a href="$jetspeed.getAbsoluteUrl('/default-page.psml')">
                        <img class="footer__logo" src="#GetPageResource("images/template/mobile-logo.png")"></img>
                    </a>
                    <p class="copyright">$MESSAGES.getString("ingrid.page.copyright")</p>
                </div>
            </div>
            <hr class="bx-top-0 bx-bot-0">
            <div class="grid" style="background:#eee;">
                <div class="column column--3-4-xl">
                    <div class="ob-box-padded ob-box-center ob-clear">
                        <div class="footer__section">
                        #set($footerMenu = $site.getMenu("footer-menu"))
                        #if(!$footerMenu.empty)
                          #includeFooterNavigation($footerMenu)
                        #end
                        </div>
                    </div>
                </div>
                <div class="column column--1-4-xl">
                    <hr class="hr-big mq-hide-l mq-show-xxl bx-top-0 bx-bot-0">
                    <div class="ob-box-padded ob-box-center ob-clear">
                        <div class="footer__section">
                            <div class="footer__bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__top-link mq-show-l js-top">$MESSAGES.getString("ingrid.page.top")</div>
        </footer>
#end
        <!-- Popup -->
        <div class="popup">
            <header class="popup__header">
                <div class="popup__close link--alt ob-flt-r js-popup-close">
                    <svg class="icon"><use xlink:href="#cross" /></svg>
                    <span class="mq-hide-m"></span>
                </div>
                <h4 class="popup__title bx-top-0 bx-bot-0">$MESSAGES.getString("ingrid.page.help")</h4>
            </header>
            <section class="popup__content ob-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                <p><a href="#">Read more</a></p>
            </section>
        </div>
        
        <!-- Global scripts -->
        <script src="#GetPageResource("scripts/all.js")"></script>
        
        <!-- Popup -->
        <script src="#GetPageResource("scripts/popup.js")"></script>
        <script src="#GetPageResource("scripts/expander.js")"></script>
        
        <!-- Accordion -->
        <script src="#GetPageResource("scripts/accordion.js")"></script>
        <script>
        $('.js-accordion').accordion();
        $('.js-accordion-multi').accordion({
            multi: true
        });
        </script>
        <!-- Tabs -->
        <script src="#GetPageResource("scripts/tabs.js")"></script>
        <script>
            $('.js-tabs').tabs();
        </script>
        <!-- Selection -->
        <script src="#GetPageResource("scripts/selection.js")"></script>
        <script>
            $('.js-selection').selection();
        </script>
        <!-- Table Sort -->
        <script src="#GetPageResource("scripts/table.sortable.js")"></script>
        <script>
            $('.js-table-sortable').sortable();
        </script>
        
        <!-- Piwik -->
        <script type="text/javascript">
        var domain = document.domain;
        if(domain == "numis.niedersachsen.de"){
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://numis.niedersachsen.de/piwik/" : "http://numis.niedersachsen.de/piwik/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        }
        </script>
        <script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {
            }
        </script><noscript><p><img src="https://numis.niedersachsen.de/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
        <!-- End Piwik Tag -->
    </body>
</html>
