</div>
<div class="clearer"></div>
<div id="footermarginalcontainer">
  <div id="footermarginal">
    <!-- portlets go here -->
#defineUrlParams()
##    <img src="#GetPageResource('images/arrow_up.gif')" alt="Pfeil nach oben" />&nbsp;<a href="${jetspeed.getAbsoluteUrl(${site.getPage().url})}${urlParams}">nach oben</a>
  &nbsp;
  </div>
</div>
<div class="clearer"></div>

<!-- footer block -->
<div id="footercontainer">
  <div id="footercontent">
    <!-- portlets go here -->
#set($footerMenu = $site.getMenu("footer-menu"))
#if(!$footerMenu.empty)
  #includeFooterNavigation($footerMenu)
#end
<br>
    Copyright &copy; Niedersächsisches Ministerium für Umwelt und Klimaschutz<img align="right" src="#GetPageResource('images/logo-niedersachsen.png')" alt="Niedersachsen" /></br><br />

    Alle Rechte vorbehalten<br /><br />
  
</div>
</div>
</div>
</body>
</html>
