    </div>
    #if($currentPage != "/main-maps.psml" && $currentPage != "/main-measures.psml")
          <footer>
            <div class="footer-buttons-bar show-for-large hide-for-print">
                <div class="social-buttons">
                    #defineUrlParams()
                    #set($shareUrl = "$jetspeed.getAbsoluteUrl($jetspeed.page.getUrl())")
                    #set($shareUrl = "${shareUrl}${urlParams}")
                    #set($shareUrlEncode = $esc.url("${shareUrl}"))
                    <a href="https://twitter.com/intent/tweet?url=$shareUrlEncode" class="button round social" target="_blank" title="Twitter">
                      <span class="ic-ic-twitter"></span><span class="text"></span>
                    </a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=$shareUrlEncode" class="button round social" target="_blank" title="Facebook">
                      <span class="ic-ic-facebook"></span><span class="text"></span>
                    </a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url=$shareUrlEncode" class="button round social" target="_blank" title="LinkedIn">
                      <span class="ic-ic-linkedin"></span><span class="text"></span>
                    </a>
                    <a href="whatsapp://send?text=$shareUrl" class="button round social" target="_blank" title="WhatsApp">
                      <span class="ic-ic-whatsapp"></span><span class="text"></span>
                    </a>
                    <a href="https://www.xing.com/social_plugins/share?url=$shareUrlEncode" class="button round social" target="_blank" title="XING">
                      <span class="ic-ic-xing"></span><span class="text"></span>
                    </a>
                    <a href="mailto:?body=$shareUrlEncode" class="button round social" target="_blank" title="E-Mail">
                      <span class="ic-ic-mailto"></span><span class="text"></span>
                    </a>
                    <button id="share-buttons" class="button round social share" title="Seite teilen">
                      <span class="ic-ic-share"></span>
                      <span class="text"></span>
                    </button>
                </div>
                <div class="button-up">
                    <button type="button" class="button round social js-top" title="Nach oben">
                        <span class="ic-ic-angle-up"></span>
                    </button>
                </div>
          </div>
          <div class="footer">
              <hr>
              <div class="row">
                  <div class="xsmall-24 medium-24 large-11 xlarge-12 columns">
                      <div class="logo">
                          <a href="/startseite"><img src="/decorations/layout/uvp/images/template/logo.svg" alt="NUMIS"/></a>
                      </div>
                      <div class="copyright">
                          <p>$MESSAGES.getString("ingrid.page.copyright")</p>
                      </div>
                  </div>
                  <div class="xsmall-24 small-24 large-13 xlarge-12 columns button-up">
                      #set($footerMenu = $site.getMenu("footer-menu"))
                      #if(!$footerMenu.empty)
                          #includeFooterNavigation($footerMenu)
                      #end
                  </div>
              </div>
          </div>
        </footer>
    #end
        <!-- Popup -->
        <div class="popup help-popup">
            <div class="headline popup__header">
                <p class="popup__title medium">$MESSAGES.getString("ingrid.page.help")</p>
                <button type="button" class="button round popup__close js-popup-close"><span class="ic-ic-cross"></span>
            </div>
            <div class="popup__content text-box">
                <p></p>
            </div>
        </div>
        <!-- Popup -->
        <div class="popup switch-popup">
            <button type="button" class="button round popup__close js-popup-close" data-box=".switch-popup"><span class="ic-ic-cross"></span></button>
            <div class="popup__content text-box">
                <div class="list-item">
                    <a class="switch-link numis">
                        <span class="ic-ic-check"></span>
                        <img src="/decorations/layout/uvp/images/template/logo-numis-mit-tag.svg" alt="NUMIS" class="hide-for-xsmall-only"/>
                        <img src="/decorations/layout/uvp/images/template/logo-numis-mobile.svg" alt="NUMIS" class="show-for-xsmall-only"/>
                    </a>
                </div>
                <div class="list-item">
                    <a class="switch-link uvp" href="https://uvp.niedersachsen.de">
                        <span class=""></span>
                        <img src="/decorations/layout/uvp/images/template/logo-uvp-mit-tag.svg" alt="UVP" class="hide-for-xsmall-only"/>
                        <img src="/decorations/layout/uvp/images/template/logo-uvp-mobile.svg" alt="UVP" class="show-for-xsmall-only"/>
                    </a>
                </div>
            </div>
        </div>
        <!-- Global scripts -->
        <script src="/decorations/layout/ingrid/scripts/all.js"></script>

        <!-- Popup -->
        <script src="/decorations/layout/ingrid/scripts/popup.js"></script>

        <!-- Expand -->
        <script src="/decorations/layout/ingrid/scripts/expander.js"></script>

        <!-- Anchor target -->
        <script src="/decorations/layout/ingrid/scripts/anchor-target.js"></script>
        <script>
            $('.js-anchor-target').anchorTarget();
        </script>

        <!-- Anchor navigation -->
        <script src="/decorations/layout/ingrid/scripts/anchor-navigation.js"></script>
        <script>
            $('.js-anchor-navigation').anchorNavigation();
        </script>
#if($currentPage != "/main-measures.psml")
    </div>
#end

        <!-- Piwik -->
        <script type="text/javascript">
        var domain = document.domain;
        if(domain == "numis.niedersachsen.de"){
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://matomo.niedersachsen.de/" : "http://matomo.niedersachsen.de/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        }
        </script>
        <script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {
            }
        </script><noscript><p><img src="https://matomo.niedersachsen.de/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
        <!-- End Piwik Tag -->
    </body>
</html>
