/*
 *  Molecule: Breadcrumb
 *______________________*/




.breadcrumb {
    border-bottom: 1px solid color(gainsboro);
    font-size: rem(13px);

    .icon{
        fill: color(dim-grey);
    }
}

.breadcrumb__title{
    float:left;
    padding-right: rem(6px);
}


.breadcrumb__list{
    margin: rem(10px) auto;
    padding-left: 0;

    a {
        &:last-child {
            font-weight: 700;
        }
    }
}
