/*
 *  Molecule: Filter
 *______________________*/




.filter {

}

.filter__title {
    cursor: pointer;
    display: inline-block;
    position: relative;

    .no-touchevents &:hover {
        color: color(fruit-salad);
    }
}

.filter__title__icon {
    fill: color(dim-grey);
    font-size: rem(12px);
    transform: scaleY(1);
    
    .sidebar & {
        position: absolute;
        right: rem(10px);
        top: rem(18px);
    }

    .is-active > & {
        transform: scaleY(-1);
    }

    .is-active h1 > &, .is-active h2 > &, .is-active h3 > &, .is-active h4 > &, .is-active h5 > &, .is-active h6 > & {
        transform: scaleY(-1);
    }
}

.filter__checks {
    border-bottom: 1px solid color(gainsboro);
    
    .field-toggle{
        margin-top: (16px);
    }
    
    .field-toggle__label{
        border: none;
    }
}