/*
 *  Pieces/UI: Link
 *______________________*/




.link{
    /*    display: inline-block;*/

    .icon{
        vertical-align: text-top;
    }
}

.link--alt {
    color: color(dim-grey);

    &:hover {
        color: color(fruit-salad);
    }
}

.link--big{
    font-family: 'Roboto Condensed';
    font-size: rem(18px);
    font-weight: 700;

    .icon {
        font-size: 1em;
        position: relative;
        top: 1px;
    }
}

.link__icon{
    fill: currentColor;
}

.icon-link {
    padding-left: 1.5em;
    position: relative;

    .icon {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
    }
}