/*
 *  Molecule/UI: Nav-Desktop
 *______________________*/




.nav-desktop {
    background: color(fruit-salad);
    font: 700 rem(16px) $font-brand;
    position: relative;
    z-index: 1;
}

.nav-desktop__list {
    margin: 0 auto;
    display: block;
    display: flex;
    position: relative;
    width: 100%;
    
    .ieold & {
    }

    a {
        display: block;
    }
}

.nav-desktop__item {
    flex-grow: 1;

    &:nth-last-child(2),
        &:nth-last-child(2) + .nav-desktop__item {
        .nav-desktop__dropdown {
            left: auto;
            right: 0;
        }
    }

    // .ieold & {
        display: inline-block;
    // }
}

.nav-desktop__title {
    color: color(white);
    padding: rem(18px 12px);
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &:hover,
    &.is-active {
        color: color(white);
        background: color(salem);
    }

    &.is-active + .nav-desktop__dropdown {
        display: block;
    }

    .icon{
        bottom: .75em;
        font-size: rem(12px);
        position: absolute;
        left: 50%;
        margin-left: -.5em;
        fill: color(white); 
    }
}

.nav-desktop__dropdown {
    background: color(white);
    box-shadow: 0 6px 10px 0 rgba(color(dim-grey), .2);
    display: none;
    min-width: rem(286px);
    border-top: 4px solid color(salem);
    top: 100%;
    position: absolute;

    li{
        position: relative;   
        padding: rem(0 16px);    
        border-top: 1px solid color(gainsboro);
    }

    a{
        &:hover, 
        &:active{
            color: color(fruit-salad) !important;  
        }
    }
    
    .icon{
        fill: currentColor;   
        position: absolute;
        top: 1em;
    }
}

.nav__dropdown-item{
    font: 400 rem(14px) 'Arial';
    padding-left: rem(48px) !important;
    
    a{
        &:hover{
            color: color(black) !important;  
        }

        &:active{
            color: color(fruit-salad) !important;
        }
    }
    
    .icon{
        left: rem(50px);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

.nav__desktop-icon{
    left: rem(18px);
}