/*
 *  Pieces/UI: Nav-Dropmenu
 *______________________*/




.dropmenu {
    background: color(white);

    a {
        font-family: $font-brand;
        color: color(dim-grey);
        padding: rem(12px 16px 12px 21px);
    }
    
    .is-active {
        color: color(fruit-salad);
    }
}

.dropmenu__box {
    position: relative;
}