/*
 *  Pieces/UI: Pagination
 *______________________*/




.pagination {
    border-top: 1px solid color(gainsboro);
    border-bottom: 1px solid color(gainsboro);
    display: table;
    width: 100%;
    margin: rem(10px) auto;

    .icon {
        fill: color(gainsboro);
        font-size: 16px;
        vertical-align: middle;

        @include media(
        $query: '640 >',
            $css: (
            font-size: 20px
            )
            );
    }
}

.pagination__list {
    display: table-cell;
    font-weight: 700;
    margin: 0 auto;
    padding: 0 rem(40px);
    text-align: center;
    vertical-align: middle;

    @include media(
    $query: '640 >',
        $css: (
        padding: 0
        )
        );

    li {
        display: inline-block;
        padding: rem(8px 4px);

        @include media(
        $query: '640 >',
            $css: (
            padding: rem(12px 14px)
            )
            );

        &:nth-child(2) {
            margin-right: rem(18px);

                @include media(
                $query: '480 >',
                $css: (
                margin-right: rem(32px)
                )
                );
        }

        &:nth-last-child(2) {
            margin-left: rem(18px);
            
            @include media(
                $query: '480 >',
                $css: (
                margin-left: rem(32px)
                )
                );
        }
    }

    a {
        color: color(nobel);
        display: block;
        margin: rem(-12px -14px);
        padding: rem(12px 14px);

        &[href] {
            .icon {
                fill: color(fruit-salad);
            }

            &:hover {
                .icon {
                    fill: color(salem);
                }
            }
        }
    }
}

.pagination__number {
    &:hover,
        &.is-active {

        @include media(
        $query: '640 >',
            $css: (
            color: color(fruit-salad),
            box-shadow: inset 0 -4px 0 0 color(fruit-salad)
            )
            );
    }
}

.pagination__left {
    .icon{
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    @include media(
        $query: '< 480',
        $css: (
            margin: 0,
        )
    );
}