/*
 *  Molecule/UI: Search
 *______________________*/



.search-result--nested{
    margin-left: 40px;

    .search-hr{
        width: 30px;
        height: 1px;
        background: color(gainsboro);
        position: relative;
        top:12px;
        right:40px;
    } 
}

.globe__icon{
    fill: color(dim-grey);
}

.research__icon{
    vertical-align: middle;
}
