/*
 *  Molecule/UI: Tooltip
 *______________________*/




.tooltip {
    background: color(white);
    border: 1px solid color(gainsboro);
    cursor: pointer;
    display: inline-block;
    height: rem(24px);
    position: relative;
    vertical-align: middle;
    width: rem(24px);

    &:after {
        content: '';
        position: absolute;
        height: 150%;
        left: -25%;
        top: -25%;
        width: 150%;
    }

    .no-touchevents &:hover {
        border-color: color(fruit-salad);

        .tooltip__icon {
            fill: color(fruit-salad);
        }
    }
}

.tooltip__icon {
    fill: color(nobel);
    font-size: rem(12px);
    left: 50%;
    margin: -.5em;
    position: absolute;
    top: 50%;
}