/*
 *  Molecule: Tree
 *______________________*/




.tree{
    border-top: 1px solid color(gainsboro);
    overflow: auto;

    .icon{
        fill: color(dim-grey);
    }
}

.tree--fill{
    background: #f8f8f8;
}

.tree__icon{
    margin-right: rem(4px);
    position: relative;
    top: rem(2px);
}

.tree__item{
    border-bottom: 1px solid color(gainsboro);
    color: color(black);
    font: 700 rem(16px) $font-brand;
    padding: rem(10px 16px 10px 32px);
    position: relative;
    white-space: nowrap;
}

.tree__item--large {
    font-size: rem(20px);

    .tree__toggle__icon{
        top: rem(14px);
    }
}

.tree__toggle{
    cursor: pointer;

    .no-touchevents &:hover{
        border-color: color(fruit-salad);
        box-shadow: 0 1px 0 color(fruit-salad);
    }

    &.is-active {
        .tree__toggle__icon {
            &:first-child {
                display: none;
            }
        }
    }
}

.tree__toggle__icon{
    left: 0;
    position: absolute;
    top: rem(11px);
}

.tree__content {
    padding-left: rem(30px);
}