[ga-topic] .ga-topics-sprite-themen {
  background: url("../img/theme_themen.png");
  width: 140px;
}

[ga-topic] .ga-topics-sprite-anbieter {
  background: url("../img/theme_anbieter.png");
  width: 140px;
}

[ga-topic] .ga-topics-sprite-favoriten {
  background: url("../img/theme_wsvfavoriten.png");
  width: 140px;
}

[ga-topic] .ga-topics-sprite-inspire {
  background: url("../img/theme_inspire.png");
  width: 140px;
}

@media (max-width: 768px) {
  [ga-background-selector] .ga-wmts_topplus_web_grau {
    background-image: url("../img/ga-bkggrau.png");
    background-size: 38px 38px;
  }
  [ga-background-selector] .ga-wmts_osm {
    background-image: url("../img/ga-osmde.png");
    background-size: 38px 38px;
  }
  [ga-background-selector] .ga-wmts_dop_rgb {
    background-image: url("../img/ga-doprgb.png");
    background-size: 38px 38px;
  }
  [ga-background-selector] .ga-wmts_topplus_web {
    background-image: url("../img/ga-bkgfarbig.png");
    background-size: 38px 38px;
  }
  [ga-background-selector].ga-open .ga-bg-layer {
    -webkit-transform: translate3d(0, -245px, 0);
            transform: translate3d(0, -245px, 0);
    -ms-transform: translateY(-245px);
    /* IE 9*/
  }
  [ga-background-selector].ga-open .ga-voidLayer {
    -webkit-transform: translate3d(0, -49px, 0);
            transform: translate3d(0, -49px, 0);
    -ms-transform: translateY(-49px);
    /* IE 9*/
  }
  [ga-background-selector].ga-open .ga-wmts_topplus_web_grau {
    -webkit-transform: translate3d(0, -245px, 0);
            transform: translate3d(0, -245px, 0);
    -ms-transform: translateY(-245px);
    /* IE 9*/
  }
  [ga-background-selector].ga-open .ga-wmts_osm {
    -webkit-transform: translate3d(0, -196px, 0);
            transform: translate3d(0, -196px, 0);
    -ms-transform: translateY(-196px);
    /* IE 9*/
  }
  [ga-background-selector].ga-open .ga-wmts_dop_rgb {
    -webkit-transform: translate3d(0, -147px, 0);
            transform: translate3d(0, -147px, 0);
    -ms-transform: translateY(-147px);
    /* IE 9*/
  }
  [ga-background-selector].ga-open .ga-wmts_topplus_web {
    -webkit-transform: translate3d(0, -98px, 0);
            transform: translate3d(0, -98px, 0);
    -ms-transform: translateY(-98px);
    /* IE 9*/
  }
}
@media (min-width: 769px) {
  [ga-background-selector] .ga-wmts_topplus_web_grau {
    background-image: url("../img/ga-bkggrau.png");
    background-size: 90px 58px;
  }
  [ga-background-selector] .ga-wmts_osm {
    background-image: url("../img/ga-osmde.png");
    background-size: 90px 58px;
  }
  [ga-background-selector] .ga-wmts_dop_rgb {
    background-image: url("../img/ga-doprgb.png");
    background-size: 90px 58px;
  }
  [ga-background-selector] .ga-wmts_topplus_web {
    background-image: url("../img/ga-bkgfarbig.png");
    background-size: 90px 58px;
  }
  [ga-background-selector].ga-open .ga-bg-layer {
    -webkit-transform: translate3d(-429px, 0, 0);
            transform: translate3d(-429px, 0, 0);
    -ms-transform: translateX(-429px);
    /* IE 9*/
  }
  [ga-background-selector].ga-open .ga-voidLayer {
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
    -ms-transform: translateX(-25px);
    /* IE 9*/
  }
  [ga-background-selector].ga-open .ga-wmts_topplus_web_grau {
    -webkit-transform: translate3d(-439px, 0, 0);
            transform: translate3d(-439px, 0, 0);
    -ms-transform: translateX(-328px);
    /* IE 9*/
  }
  [ga-background-selector].ga-open .ga-wmts_osm {
    -webkit-transform: translate3d(-328px, 0, 0);
            transform: translate3d(-328px, 0, 0);
    -ms-transform: translateX(-328px);
    /* IE 9*/
  }
  [ga-background-selector].ga-open .ga-wmts_dop_rgb {
    -webkit-transform: translate3d(-227px, 0, 0);
            transform: translate3d(-227px, 0, 0);
    -ms-transform: translateX(-227px);
    /* IE 9*/
  }
  [ga-background-selector].ga-open .ga-wmts_topplus_web {
    -webkit-transform: translate3d(-126px, 0, 0);
            transform: translate3d(-126px, 0, 0);
    -ms-transform: translateX(-126px);
    /* IE 9*/
  }
}