##Render header 
#macro (renderDetailHeader $title $type $modTime)
    <section class="block block--light block--pad-top">
        <div class="ob-box-wide ob-box-padded ob-box-center">
            <article id="detail_meta_header" class="content ob-container">
                <form class="box box--medium">
                    <div class="box__content ob-container">
                        <h6 class="tx-light tx-brand bx-bot-0">$MESSAGES.getString("t02_address.mod_time"): $modTime</h6>
                        <h1 class="bx-top-0 bx-bot-s">$title</h1>
                        <h3 class="bx-top-0">
                            #renderUDKAddressIcon($type)
                            #renderAddressType($type)
                        </h3>
                    </div>
                    <hr class="hr-thick bx-top-0 bx-bot-0">
                    <div class="tabs tabs--wide js-tabs bx-top-0 bx-bot-0">
                        <div class="tab__select mq-show-l">
                            <span class="tab__select__text">$MESSAGES.getString("general_tab")</span>
                            <svg class="tab__select__icon icon"><use xlink:href="#burger"></svg>
                            <svg class="tab__select__icon icon"><use xlink:href="#cross"></svg>
                        </div>
                        <nav class="tab__toggles ob-clear mq-hide-l">
                            ## Allgemeines
                            <div class="tab__toggle is-active" data-tabid="tab-1"><a href="#">$MESSAGES.getString("general_tab")</a></div>
                            ## Verweise
                            #set($xpathList = ["./idf:objectReference"])
                            #if($TOOL.aNodeOfListExist($xpathList))
                                <div class="tab__toggle" data-tabid="tab-2"><a href="#">$MESSAGES.getString("references_tab")</a></div>
                            #end
                        </nav>
                    </div>
                </form>
            </article>
        </div>
    </section>
#end

#set ($type = $TOOL.getAddressClassType())
#set($tmp = $TOOL.getAddressClassTitle($type))
#set($tmp2 = $TOOL.getDateValueFromXPath("./idf:last-modified"))
#renderDetailHeader ($tmp $type $tmp2)
#set($tmp = "")
#set($tmp2 = "")
<section id="detail_meta" class="block">
    <div class="ob-box-wide ob-box-padded ob-box-center ob-rel">
        <article class="content ob-container ob-box-wide">
            ## Allgemeines
            <div class="tab__content box--medium bx-bot-xl" data-tabid="tab-1">
                <div class="box__content ob-container">
                    <h2 class="print-title is-hidden">$MESSAGES.getString("general_tab")<h2>
                    #set($xpathList = ["./gmd:positionName"])
                    #if($TOOL.aNodeOfListExist($xpathList))
                        ## Beschreibung
                        #renderSectionTitle($MESSAGES.getString("detail_description"))
                        ## Beschreibung
                        #set($tmp = $TOOL.getValueFromXPath("./gmd:alternateTitle"))
                        #set($tmp2 = $TOOL.valueHTMLEscape($TOOL.getValueFromXPath("./gmd:positionName")))
                        #renderTextLabelAbove($tmp $tmp2)
                        #set($tmp = "")
                        #set($tmp2 = "")
                    #end
                    ## Adressen
                    #set($tmp = $TOOL.getNodeListFromXPath("."))
                    #renderMultiLineAddresses($MESSAGES.getString("addresses") $tmp)
                    #set($tmp = "")
                    ## Übergeordnete Adressen 
                    #set($tmp = $TOOL.getReference("./idf:superiorParty", false))
                    #renderLinkList($MESSAGES.getString("superior_address") $tmp "true")
                    #set($tmp = "")
                    ## Untergeordnete Adressen 
                    #set($tmp = $TOOL.getReference("./idf:subordinatedParty", false))
                    #renderLinkList($MESSAGES.getString("subordinated_addresses") $tmp "true")
                    #set($tmp = "")
                </div>
            </div>
            #set($xpathList = ["./idf:objectReference"])
            #if($TOOL.aNodeOfListExist($xpathList))
                ## Verweis
                <div class="tab__content box--medium bx-bot-xl is-hidden" data-tabid="tab-2">
                    <div class="box__content ob-container">
                        <h2 class="print-title is-hidden">$MESSAGES.getString("references_tab")<h2>
                        ## Datenbezüge
                        #set($tmp = $TOOL.getReference("./idf:objectReference", true))
                        #renderLinkList($MESSAGES.getString("search.detail.dataRelations") $tmp "true")
                        #set($tmp = "")
                    </div>
                </div>
            #end
        </article>
    </div>
</section>