## Beschreibung
################################
#if($hasDetail1)
<div class="section">
    <a class="anchor" id="${hashDetail1}"></a>
    #renderSectionTitle($MESSAGES.getString("detail_description"))
    <div class="row columns">
        #if($getAlternateTitle)
            #foreach($t in $getAlternateTitle)
                <p class="slab-bold">$t</p>
            #end
        #end
        #if($getDescription)
        <div class="js-expand-box js-expand-text js-non-expand-text">
            ## Beschreibung
            <div class="js-expand-text-content">
            #renderTextLabelAbove("" $getDescription)
            </div>
            <div class="desc-fade"></div>
        </div>
        <button type="button" class="js-open-expand-text button outline is-hidden" title="$MESSAGES.getString('search.detail.info.more')">
            $MESSAGES.getString('search.detail.info.more')
        </button>
        <button type="button" class="js-close-expand-text button outline is-hidden" title="$MESSAGES.getString('search.detail.info.less')">
            $MESSAGES.getString('search.detail.info.less')
        </button>
        #end
    ## Zeit
        #if($isTimeInDescription)
            #parse("/WEB-INF/templates/detail/parts/metadata/description/description_time.vm")
        #end
    </div>
</div>
#end
