## Datenqualität
################################
#if($hasDetail6)
<div class="section">
    <a class="anchor" id="${hashDetail6}"></a>
    #renderSectionTitle($MESSAGES.getString("data_quality"))
    #set($headTitles = [$MESSAGES.getString("data_quality.table.header1"),$MESSAGES.getString("data_quality.table.header2"),$MESSAGES.getString("data_quality.table.header3")])
    #set($headXpathExpressions = ["./gmd:nameOfMeasure","./gmd:result/gmd:DQ_QuantitativeResult/gmd:value","./gmd:measureDescription"])
    <div class="row columns">
    ## Konformität
        #parse("/WEB-INF/templates/detail/parts/metadata/dataquality/data_quality_report.vm")
    ## Datendefizit
        #renderTextTable($MESSAGES.getString("t011_obj_geo.coverage") $TOOL.getGeoReport($xPathDataQualityCompletenessOmission, "completeness omission (rec_grade)", "Rate of missing items"))
    ## Höhengenauigkeit (m)
        #renderTextTable($MESSAGES.getString("t011_obj_geo.pos_accuracy_vertical") $TOOL.getGeoReport($xPathDataQualityAbsoluteExternalPositionalAccuracy, "vertical", "Mean value of positional uncertainties (1D)"))
    ## Lagegenauigkeit (m)
        #renderTextTable($MESSAGES.getString("t011_obj_geo.rec_exact") $TOOL.getGeoReport($xPathDataQualityAbsoluteExternalPositionalAccuracy, "geographic", "Mean value of positional uncertainties (2D)"))
    ## Datenüberschuss
        #set($headCodeList = ["7109"])
        #renderTable($TOOL.getNodeListTable($MESSAGES.getString("data_quality.table109.title"), $xPathDataQualityCompletenessCommission, $headTitles, $headXpathExpressions, $headCodeList) [0])
    ## Konzeptionelle Konsistenz
        #set($headCodeList = ["7112"])
        #renderTable($TOOL.getNodeListTable($MESSAGES.getString("data_quality.table112.title"), $xPathDataQualityConceptualConsistency, $headTitles, $headXpathExpressions, $headCodeList) [0])
    ## Konsistenz des Wertebereichs
        #set($headCodeList = ["7113"])
        #renderTable($TOOL.getNodeListTable($MESSAGES.getString("data_quality.table113.title"), $xPathDataQualityDomainConsistency, $headTitles, $headXpathExpressions, $headCodeList) [0])
    ## Formatkonsistenz
        #set($headCodeList = ["7114"])
        #renderTable($TOOL.getNodeListTable($MESSAGES.getString("data_quality.table114.title"), $xPathDataQualityFormatConsistency, $headTitles, $headXpathExpressions, $headCodeList) [0])
    ## Topologische Konsistenz
        #set($headCodeList = ["7115"])
        #renderTable($TOOL.getNodeListTable($MESSAGES.getString("data_quality.table115.title"), $xPathDataQualityTopologicalConsistency, $headTitles, $headXpathExpressions, $headCodeList) [0])
    ## Zeitliche Genauigkeit
        #set($headCodeList = ["7120"])
        #renderTable($TOOL.getNodeListTable($MESSAGES.getString("data_quality.table120.title"), $xPathDataQualityTemporalConsistency, $headTitles, $headXpathExpressions, $headCodeList) [0])
    ## Korrektheit der thematischen Klassifizierung
        #set($headCodeList = ["7125"])
        #renderTable($TOOL.getNodeListTable($MESSAGES.getString("data_quality.table125.title"), $xPathDataQualityThematicClassificationCorrectness, $headTitles, $headXpathExpressions, $headCodeList) [0])
    ## Genauigkeit nicht-quantitativer Attribute
        #set($headCodeList = ["7126"])
        #renderTable($TOOL.getNodeListTable($MESSAGES.getString("data_quality.table126.title"), $xPathDataQualityNonQuantitativeAttributeAccuracy, $headTitles, $headXpathExpressions, $headCodeList) [0])
    ## Genauigkeit quantitativer Attribute
        #set($headCodeList = ["7127"])
        #renderTable($TOOL.getNodeListTable($MESSAGES.getString("data_quality.table127.title"), $xPathDataQualityQuantitativeAttributeAccuracy, $headTitles, $headXpathExpressions, $headCodeList) [0])
    ## Relative Positionsgenauigkeit
        #set($headCodeList = ["7128"])
        #renderTable($TOOL.getNodeListTable($MESSAGES.getString("data_quality.table128.title"), $xPathDataQualityRelativeInternalPositionalAccuracy, $headTitles, $headXpathExpressions, $headCodeList) [0])
    </div>
</div>
#end