<div class="columns">
    <div>$contactIntroPostEmail</div>
    <div class="search-filtered">
        <h2>$MESSAGES.getString('contact.form')</h2>
        #set ($action = $renderResponse.createActionURL())
        <form class="form" action="$action" method="post" name="contact-form" id="contact" enctype="multipart/form-data">
            ## yummy fields
            #parse ("/WEB-INF/templates/contact/contact_yummy.vm")
            ## real fields
            #displayFormError()
            <div class="form-element">
                <label for="bemerkungen">$MESSAGES.getString('contact.form.message')</label>
                <textarea class="custom-scrollbar #addErrorFormClassText('user_message')" name="user_message" id="bemerkungen" rows="10" #addErrorFormMessagePlaceholder('user_message') tabindex="0" required="required">#getFieldValue('user_message')</textarea>
            </div>
                </div>
            <div class="form-element">
                <label for="activity">$MESSAGES.getString('contact.form.activity')</label>
                <select size="1" id="activity" name="activity">
                    <option value="atlas" #getSelectedFlag('activity' 'atlas')>$MESSAGES.getString('contact.report.email.area.of.profession.atlas')</option>
                    <option value="schul" #getSelectedFlag('activity' 'schul')>$MESSAGES.getString('contact.report.email.area.of.profession.schul')</option>
                    <option value="hand" #getSelectedFlag('activity' 'hand')>$MESSAGES.getString('contact.report.email.area.of.profession.hand')</option>
                    <option value="umwe" #getSelectedFlag('activity' 'umwe')>$MESSAGES.getString('contact.report.email.area.of.profession.umwe')</option>
                    <option value="beho" #getSelectedFlag('activity' 'beho')>$MESSAGES.getString('contact.report.email.area.of.profession.beho')</option>
                    <option value="lehre" #getSelectedFlag('activity' 'lehre')>$MESSAGES.getString('contact.report.email.area.of.profession.lehre')</option>
                    <option value="univ" #getSelectedFlag('activity' 'univ')>$MESSAGES.getString('contact.report.email.area.of.profession.univ')</option>
                    <option value="medi" #getSelectedFlag('activity' 'medi')>$MESSAGES.getString('contact.report.email.area.of.profession.medi')</option>
                    <option value="map" #getSelectedFlag('activity' 'map')>$MESSAGES.getString('contact.report.email.area.of.profession.map')</option>
                    <option value="buhnen" #getSelectedFlag('activity' 'buhnen')>$MESSAGES.getString('contact.report.email.area.of.profession.buhnen')</option>
                    <option value="ande" #getSelectedFlag('activity' 'ande')>$MESSAGES.getString('contact.report.email.area.of.profession.ande')</option>
                </select>  
            </div>
            <div class="form-element">
                <label for="xx2">$MESSAGES.getString('contact.form.firstname')</label>
                <input type="text" id="xx2" name="user_firstname" value="#getFieldValue('user_firstname')" #addErrorFormClass('user_firstname') autocomplete="given-name" tabindex="0" required="required"/>
                #addErrorFormMessage('user_firstname')
            </div>
            <div class="form-element">
                <label for="xx3">$MESSAGES.getString('contact.form.lastname')</label>
                <input type="text" id="xx3" name="user_lastname" value="#getFieldValue('user_lastname')" #addErrorFormClass('user_lastname') autocomplete="family-name" tabindex="0" required="required"/>
                #addErrorFormMessage('user_lastname')
            </div>
            <div class="form-element">
                <label for="xx6">$MESSAGES.getString('contact.form.email')</label>
                <input type="text" id="xx6" name="user_email" value="#getFieldValue('user_email')" #addErrorFormClass('user_email') autocomplete="email" tabindex="0" required="required"/>
                #addErrorFormMessage('user_email')
            </div>
            <div class="form-element">
                <label for="xx4">$MESSAGES.getString('contact.form.company')</label>
                <input type="text" id="xx4" name="user_company" value="#getFieldValue('user_company')"/>
            </div>
            <div class="form-element">
                <label for="xx5">$MESSAGES.getString('contact.form.phone')</label>
                <input type="text" id="xx5" name="user_phone" value="#getFieldValue('user_phone')"/>
            </div>
            #if ($uploadEnable)
            <div class="form-element">
                <label >$MESSAGES.getString('contact.form.upload') $uploadSize MB)</label>
                <input type="file" id="upload" name="upload" tabindex="0"/>
            </div>
            #end
            <hr>
            <div class="subtext-submit">
                <button type="submit" class="button">$MESSAGES.getString('common.form.button.submit')</button>
            </div>
        </form>
    </div>
</div>
<script>
    var error = $actionForm.hasErrors();
    if(error){
        goToByScroll('contact');
    }
</script>
