#macro (renderNode $node)
    #set ($action = $renderResponse.createActionURL())
    $action.setParameter('nodeId',$node.id)
    ## UDK Object/Address render params
    #set($nodeTitle = $MESSAGES.getString($node.getName()))
    #if($tool.hasContent(${node.udk_class}))
        #if($node.origDocId && !$node.origDocId.isEmpty())
            #set($nodeUrl = "$renderResponse.encodeURL('/portal/search-detail.psml')?plugid=${node.plugId}&docuuid=${node.origDocId}#if(${node.docId})&docid=${node.docId}#end")
        #else
            #if($node.udk_docId && !$node.udk_docId.isEmpty())
                #set($nodeUrl = "$renderResponse.encodeURL('/portal/search-detail.psml')?plugid=${node.plugId}#if(${node.docId})&docuuid=${node.udk_docId}#end")
            #else
                #set($nodeUrl = "$renderResponse.encodeURL('/portal/search-detail.psml')?plugid=${node.plugId}#if(${node.docId})&docid=${node.docId}#end")
            #end
        #end
    #else
        #set($nodeUrl = '')
    #end
    #if($node.isOpen())
        <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true" role="tablist" >
            #set ($renderSubNodes = true)
            $action.setParameter('action','doCloseNode')
            <li class="accordion-item is-active" data-accordion-item>
                #if($nodeUrl != '')
                    <div class="accordion-item-sub">
                        <span class="icon">
                            <a id="${node.id}-accordion-label" href="$action" class="ic-ic-minus" onclick="makeScrollTopLink(this)"></a>
                            #if($node.udk_class != "1000")
                                <a href="$nodeUrl">$nodeTitle</a>
                            #else
                                <span>$nodeTitle</span>
                            #end
                        </span>
                    </div>
                #else
                    <a class="accordion-title" id="${node.id}-accordion-label" href="$action" onclick="makeScrollTopLink(this)" aria-controls="${node.id}-accordion" role="tab" aria-expanded="true" aria-selected="true">$nodeTitle</a>
                #end
                
                ## render sub nodes
                #if ($renderSubNodes)
                    <div class="accordion-content" data-tab-content role="tabpanel" aria-labelledby="${node.id}-accordion-label" aria-hidden="false" id="${node.id}-accordion">
                    #foreach($childNode in $node.getChildren())
                        #renderNode($childNode)
                    #end
                    </div>
                #end
            </li>
        </ul>
    #else
        #set ($renderSubNodes = false)
        #if ($node.expandable)
            $action.setParameter('action','doOpenNode')
            #if($nodeUrl != '')
                <div class="accordion-item-sub">
                    <span class="icon">
                        <a id="${node.id}-accordion-label" href="$action" class="ic-ic-plus" onclick="makeScrollTopLink(this)"></a>
                        #if($node.udk_class != "1000")
                            <a href="$nodeUrl">$nodeTitle</a>
                        #else
                            <span>$nodeTitle</span>
                        #end
                    </span>
                </div>
            #else
                <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true" role="tablist" >
                    <li class="accordion-item">
                        <a class="accordion-title" id="${node.id}-accordion-label" href="$action" onclick="makeScrollTopLink(this)">$nodeTitle</a>
                    </li>
                </ul>
            #end
        #else
            #if($nodeUrl != '')
            <div class="accordion-item-sub">
                <a href="$nodeUrl" class="icon">
                    #if ($node.plugType == 'dsc_ecs')
                        #set($udkObjClassName = $Codelists.getCodeListValue('8000', $node.udk_class, $request.getLocale().getLanguage()))
                        #renderUDKIcon(${node.udk_class} $nodeTitle $udkObjClassName)
                    #else
                        #set($udkAddrClassName = $MESSAGES.getString("udk_adr_class_name_${node.udk_class}"))
                        #renderUDKAddressIcon(${node.udk_class} $nodeTitle $udkAddrClassName)
                    #end
                </a>
            </div>
            #end
        #end
    #end
#end

<div class="columns catalog">
    #foreach($plugNode in $ps.plugsRoot.getChildren())
        #renderNode($plugNode)
    #end
    #set ($action = $renderResponse.createActionURL())
    <form action="$action" method="post" name="extsearch" id="extsearch">
        #renderInputButtonClass("$MESSAGES.getString('searchCatHierarchy.submit.reload')" "width:100%" "submitReload" "$MESSAGES.getString('searchCatHierarchy.submit.reload.tooltip')" "btn btn--secondary btn--small")
    </form>
</div>


<script>
    $(document).ready(function() {
        setTimeout(function () {
            window.scrollTo({
                top: $scrollTop,
                behavior: "smooth"
            }); 
        }, 600);
    });

    function makeScrollTopLink(element){
        var url = element.href;
        url = url.replace(/\s/g, "%20")
        urlNew = url + "?scrollTop="+window.pageYOffset;
        element.href = urlNew;
        
    }
</script>