#set($footerCssClassLogo = "xsmall-24 small-24 medium-24 large-24 xlarge-5 columns")
#set($footerCssClassMenu = "xsmall-24 small-24 medium-24 large-24 xlarge-19 columns")
#set($footerHasHrLine    = true)