## Beschreibung
################################
#if($hasDetail1)
<div class="section">
    <a class="anchor" id="${hashDetail1}"></a>
    #renderSectionTitle($MESSAGES.getString("detail_description"))
    <div class="row columns">
        #if($getAlternateTitle)
            #foreach($t in $getAlternateTitle)
                <p class="slab-bold">$t</p>
            #end
        #end
        #if($getDescription)
        <div class="js-expand-box js-expand-text js-non-expand-text">
            ## Beschreibung
            <div class="js-expand-text-content">
            #renderTextLabelAbove("" $getDescription)
            </div>
            <div class="desc-fade"></div>
        </div>
        <button type="button" class="js-open-expand-text button outline is-hidden" title="$MESSAGES.getString('search.detail.info.more')">
            $MESSAGES.getString('search.detail.info.more')
        </button>
        <button type="button" class="js-close-expand-text button outline is-hidden" title="$MESSAGES.getString('search.detail.info.less')">
            $MESSAGES.getString('search.detail.info.less')
        </button>
        #end
    ## Zeitbezug
        #if($TOOL.aNodeOfListExist($xPathListTime))
            <div class="sub-section">
                <a class="anchor" id="${hashDetail1}_time_reference"></a>
                #if($type == 1 || $type == 3 || $type == 5 || $type == 6)
                    #set($tmpTitle = "time_reference_content")
                #else
                    #set($tmpTitle = "time_reference")
                #end
                #renderGroupTitle($MESSAGES.getString($tmpTitle))
            ## Durch die Ressource abgedeckte Zeitspanne
                #set($atTime = $TOOL.getDateValueFromXPath($xPathListTimeTimePeriodInstantPosition))
                #set($beginTime = $TOOL.getDateValueFromXPath($xPathListTimeTimePeriodBeginPosition))
                #set($endTime = $TOOL.getDateValueFromXPath($xPathListTimeTimePeriodEndPosition))
                #if($tool.hasContent($beginTime) || $tool.hasContent($endTime) || $tool.hasContent($atTime))
                    #if($tool.hasContent($atTime))
                        #renderTextLabelAbove($MESSAGES.getString("time_reference_content") "$MESSAGES.getString('search.detail.time.at'): $atTime")
                    #elseif($beginTime == $endTime)
                        #renderTextTable($MESSAGES.getString($tmpTitle) "$MESSAGES.getString('search.detail.time.at'): $beginTime")
                    #elseif($beginTime && !$endTime)
                        #renderTextTable($MESSAGES.getString($tmpTitle) "$MESSAGES.getString('search.detail.time.since'): $beginTime")
                    #elseif(!$beginTime && $endTime)
                        #renderTextTable($MESSAGES.getString($tmpTitle) "$MESSAGES.getString('search.detail.time.to'): $endTime")
                    #elseif($beginTime != $endTime)
                        #renderTextTable($MESSAGES.getString($tmpTitle) "$MESSAGES.getString('search.detail.time.from'): $beginTime $MESSAGES.getString('search.detail.time.to'): $endTime")
                    #end
                #end
            ## Status
                #renderTextTable($MESSAGES.getString("t01_object.time_status") $TOOL.getValueFromXPath($xPathListTimeMDProgressCode, "523") "text-capitalize")
            ## Periodizität
                #renderTextTable($MESSAGES.getString("t01_object.time_period") $TOOL.getValueFromXPath($xPathListTimeMDMaintenanceFrequencyCode, "518") "text-capitalize")
            ## Intervall der Erhebung
                #set($value = $TOOL.getValueFromXPath($xPathListTimeUserDefinedMaintenanceFrequency))
                #if($value)
                    #renderTextTable($MESSAGES.getString("t01_object.time_interval") "$TOOL.timePeriodDurationToTimeAlle($value) $TOOL.timePeriodDurationToTimeInterval($value)")
                #end
            ## Erläuterung zum Zeitbezug
                #renderTextTable($MESSAGES.getString("t01_object.time_descr") $TOOL.getValueFromXPath($xPathListTimeMaintenanceNote))
            </div>
        #end
    ## Zeitbezug der Ressource
        #set($nodelist = $TOOL.getNodeListFromXPath($xPathListTimeDate))
        #if($nodelist)
            <div class="sub-section">
                <a class="anchor" id="${hashDetail1}_time_reference_record"></a>
                #renderGroupTitle($MESSAGES.getString("time_reference_record"))
        ## Erstellung 
                #set($title = $TOOL.getValueFromCodeList("502", $TOOL.getValueFromNodeListDependOnValue($nodelist, "./gmd:dateType/gmd:CI_DateTypeCode/@codeListValue", "./gmd:dateType/gmd:CI_DateTypeCode/@codeListValue", "creation")))
                #if(!$title.isEmpty())
                    #renderTextTable($title $TOOL.getDateFormatValue($TOOL.getValueFromNodeListDependOnValue($nodelist, "./gmd:date", "./gmd:dateType/gmd:CI_DateTypeCode/@codeListValue", "creation")))
                #end
        ## Publikation
                #set($title = $TOOL.getValueFromCodeList("502", $TOOL.getValueFromNodeListDependOnValue($nodelist, "./gmd:dateType/gmd:CI_DateTypeCode/@codeListValue", "./gmd:dateType/gmd:CI_DateTypeCode/@codeListValue", "publication")))
                #if(!$title.isEmpty())
                    #renderTextTable($title $TOOL.getDateFormatValue($TOOL.getValueFromNodeListDependOnValue($nodelist, "./gmd:date", "./gmd:dateType/gmd:CI_DateTypeCode/@codeListValue", "publication")))
                #end
        ## letzte Änderung 
                #set($title = $TOOL.getValueFromCodeList("502", $TOOL.getValueFromNodeListDependOnValue($nodelist, "./gmd:dateType/gmd:CI_DateTypeCode/@codeListValue", "./gmd:dateType/gmd:CI_DateTypeCode/@codeListValue", "revision")))
                #if(!$title.isEmpty())
                    #renderTextTable($title $TOOL.getDateFormatValue($TOOL.getValueFromNodeListDependOnValue($nodelist, "./gmd:date", "./gmd:dateType/gmd:CI_DateTypeCode/@codeListValue", "revision")))
                #end
            </div>
        #end
    </div>
</div>
#end