#set($type = $TOOL.getUdkObjectClassType())
#set($title = $TOOL.getTitle())
#set($lang = $TOOL.getLanguage())
#set($list = [])
#set($bar = $list.add('link'))
#set($bar = $list.add('type'))
#set($bar = $list.add('label'))
#set($bar = $list.add('size'))

#set($hasDetail0 = false)
#set($hashDetail0 = "detail_overview")
#set($hasDetail1 = false)
#set($hashDetail1 = "detail_description")
#set($hasDetail2 = false)
#set($hashDetail2 = "detail_area")
#set($hasDetail3 = false)
#set($hashDetail3 = "detail_links")
#set($hasDetail4 = false)
#set($hashDetail4 = "detail_use")
#set($hasDetail5 = false)
#set($hashDetail5 = "detail_info")
#set($hasDetail6 = false)
#set($hashDetail6 = "detail_dataquality")
#set($hasDetail7 = false)
#set($hashDetail7 = "detail_additional")
#set($hasDetail8 = false)
#set($hashDetail8 = "detail_contact")
#set($hasDetail9 = false)
#set($hashDetail9 = "metadata_info")
#set($hasDetail10 = false)
#set($hashDetail10 = "bibliographical_info")

#set($advGroup = $TOOL.getAlternateTitleListFromCodelist("8010"))
#set($searchTerm = $TOOL.getIndexInformationKeywords("./gmd:identificationInfo/*/gmd:descriptiveKeywords", "search"))
#set($mapImage = $TOOL.getMapImage(${plugPartner}, true))

#if($TOOL.hasAccessConstraints())
    #set($hasAccessConstraints = "Y")
#else
    #set($hasAccessConstraints = "N")
#end

## Beschreibung
#set($getAlternateTitle = $TOOL.getAlternateTitle())
#set($getDescription = $TOOL.valueHTMLEscape($TOOL.getDescription()))

## Zeitbezug
## Durch die Ressource abgedeckte Zeitspanne
#set($xPathListTimeTimePeriodBeginPosition = "./gmd:identificationInfo/*/*/gmd:EX_Extent/gmd:temporalElement/gmd:EX_TemporalExtent/gmd:extent/gml:TimePeriod/gml:beginPosition")
#set($xPathListTimeTimePeriodEndPosition = "./gmd:identificationInfo/*/*/gmd:EX_Extent/gmd:temporalElement/gmd:EX_TemporalExtent/gmd:extent/gml:TimePeriod/gml:endPosition")
## Status
#set($xPathListTimeMDProgressCode = "./*/*/gmd:status/gmd:MD_ProgressCode/@codeListValue")
## Periodizität
#set($xPathListTimeMDMaintenanceFrequencyCode = "./*/*/gmd:resourceMaintenance/gmd:MD_MaintenanceInformation/gmd:maintenanceAndUpdateFrequency/gmd:MD_MaintenanceFrequencyCode/@codeListValue")
## Intervall der Erhebung
#set($xPathListTimeUserDefinedMaintenanceFrequency = "./*/*/gmd:resourceMaintenance/gmd:MD_MaintenanceInformation/gmd:userDefinedMaintenanceFrequency")
## Erläuterung zum Zeitbezug
#set($xPathListTimeMaintenanceNote = "./*/*/gmd:resourceMaintenance/gmd:MD_MaintenanceInformation/gmd:maintenanceNote")
## Zeitbezug der Ressource
#set($xPathListTimeDate = "./*/*/gmd:citation/gmd:CI_Citation/gmd:date/gmd:CI_Date")

#set($xPathListTime = [
    $xPathListTimeTimePeriodBeginPosition,
    $xPathListTimeTimePeriodEndPosition,
    $xPathListTimeMDProgressCode,
    $xPathListTimeMDMaintenanceFrequencyCode,
    $xPathListTimeUserDefinedMaintenanceFrequency,
    $xPathListTimeMaintenanceNote
])

## Darstellung
#### Geothesaurus-Raumbezug
#set($xPathPresentEXExtent = "./gmd:identificationInfo/*/*/gmd:EX_Extent")
#### Administrative Einheit (Gemeindenummer)
#set($xPathPresentEXExtent = "./gmd:identificationInfo/*/*/gmd:EX_Extent")
#set($xPathPresentMDIdentifierCode =  "./gmd:geographicElement/gmd:EX_GeographicDescription/gmd:geographicIdentifier/gmd:MD_Identifier/gmd:code/gco:CharacterString")
#### Höhe
#set($xPathPresentEXExtent = "./gmd:identificationInfo/*/*/gmd:EX_Extent")
#### Erläuterung zum Raumbezug
#set($xPathPresentEXExtentDescription = "./gmd:identificationInfo/*/*/gmd:EX_Extent/gmd:description/gco:CharacterString")
#### Begrenzungspolygon als WKT
#set($xPathPresentPolygon = "./gmd:identificationInfo/*/*/gmd:EX_Extent/gmd:geographicElement/gmd:EX_BoundingPolygon/gmd:polygon")
#### Raumbezugssystem
#set($xPathPresentReferenceSystemInfo = "./gmd:referenceSystemInfo")

#set($xPathListPresentation = [
    $xPathPresentEXExtent,
    "${xPathPresentEXExtent}/${xPathPresentMDIdentifierCode}",
    $xPathPresentEXExtentDescription,
    $xPathPresentReferenceSystemInfo
])

## Verweise und Downloads
#### Downloads
#set($xPathRefDownloads = "./gmd:distributionInfo/gmd:MD_Distribution/gmd:transferOptions[./gmd:MD_DigitalTransferOptions/gmd:onLine/*/idf:attachedToField[@entry-id='9990']]")
#### Links/Querweise
#set($xPathRefLinks = "./idf:crossReference[not(@uuid=preceding::idf:crossReference/@uuid)]")
#### Weitere Verweise
#set($xPathRefOthers = "./gmd:distributionInfo/gmd:MD_Distribution/gmd:transferOptions[not(./gmd:MD_DigitalTransferOptions/gmd:onLine/*/idf:attachedToField[@entry-id='9990'])]")
## Untergeordnete Objekte
#set($xPathRefSubordinated = "./idf:subordinatedReference")
## Übergeordnetet Objekte
#set($xPathRefSuperior = "./idf:superiorReference")
#### Identifikator des übergeordneten Metadatensatzes
#set($xPathAdditionalInfoParentIdentifier = "./gmd:parentIdentifier")

#set($xPathListReferences = [
    $xPathRefDownloads,
    $xPathRefLinks,
    $xPathRefOthers,
    $xPathRefSubordinated,
    $xPathRefSuperior,
    $xPathAdditionalInfoParentIdentifier
])

#set($getDownloads = $TOOL.getExternLinks($xPathRefDownloads, true))
#set($getLinks = $TOOL.getReference($xPathRefLinks, true))
#set($getOtherLinks = $TOOL.getExternLinks($xPathRefOthers))
#set($getSubordinatedLinks = $TOOL.getReference($xPathRefSubordinated))
#set($getSuperiorLinks = $TOOL.getReference($xPathRefSuperior))

#### Literaturverweise
#parse("/WEB-INF/templates/detail/parts/metadata/settings/settings_bibliography.vm")


#if($transformCoupledCSWUrl)
    #set($tmpGetOtherLinks = [])

    #foreach($getOtherLink in $getOtherLinks)
        #if($getOtherLink.serviceType == "coupled")
            #set($add = $getOtherLink.put("objectClass", "1"))
            #set($add = $getOtherLink.put("href", "$renderResponse.encodeURL('/portal/search-detail.psml')?cswURL=$escTool.url($getOtherLink.href)"))
            #set($add = $getOtherLink.put("isExtern", false))
            #set($add = $getLinks.add($getOtherLink))
        #else
            #set($add = $tmpGetOtherLinks.add($getOtherLink))
        #end
    #end

    #if($tmpGetOtherLinks.size() > 0)
        #set($getOtherLinks = $tmpGetOtherLinks)
    #end
#end

## Nutzung
#set($useConstraints = $TOOL.getUseConstraints())
#set($useLimitations = $TOOL.getUseLimitations())

#### Zugriffsbeschränkungen (accessConstraints)
#set($xPathUseAccessConstraints = "./gmd:identificationInfo/*/gmd:resourceConstraints/gmd:MD_LegalConstraints/gmd:accessConstraints")

#set($xPathListUse = [
    "${xPathUseAccessConstraints}/gmd:MD_RestrictionCode/@codeListValue"
])

## Fachinformationen
#set($serviceClassification =  $TOOL.getServiceClassification("./gmd:identificationInfo/*/gmd:descriptiveKeywords"))
#set($checkOtherInformation = false)

#### Type 1
#### Fachliche Grundlage
#set($xPathInfo1LILineageStatement = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:lineage/gmd:LI_Lineage/gmd:statement/gco:CharacterString")
#### Digitale Repräsentation
#set($xPathInfo1SpatialRepresentationType = "./gmd:identificationInfo/*/gmd:spatialRepresentationType")
#set($xPathInfo1MDSpatialRepresentationTypeCode = "gmd:MD_SpatialRepresentationTypeCode/@codeListValue")
#### Topologieinformation
#set($xPathInfo1MD_VectorSpatialRepresentationTopologyLevel = "./gmd:spatialRepresentationInfo/gmd:MD_VectorSpatialRepresentation/gmd:topologyLevel/gmd:MD_TopologyLevelCode/@codeListValue")
#### Vektorformat
#set($xPathInfo1MD_VectorSpatialRepresentationGeometricObjects = "./gmd:spatialRepresentationInfo/gmd:MD_VectorSpatialRepresentation/gmd:geometricObjects")
#### Erstellungsmaßstab
#set($xPathInfo1MDResolution = "./gmd:identificationInfo/*/gmd:spatialResolution/gmd:MD_Resolution")
#### Symbolkatalog
#set($xPathInfo1PortrayalCatalogueInfo = "./gmd:portrayalCatalogueInfo")
#### Schlüsselkatalog: im Datensatz vorhanden
#set($xPathInfo1MDFeatureCatalogueDescriptionIncludedWithDataset = "./gmd:contentInfo/gmd:MD_FeatureCatalogueDescription/gmd:includedWithDataset")
#### Schlüsselkatalog
#set($xPathInfo1MDFeatureCatalogueDescriptionFeatureCatalogueCitation = "./gmd:contentInfo/gmd:MD_FeatureCatalogueDescription/gmd:featureCatalogueCitation/gmd:CI_Citation")
#### Datengrundlage
#set($xPathInfo1LISourceDescription = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:lineage/gmd:LI_Lineage/gmd:source/gmd:LI_Source/gmd:description")
#### Sachdaten/Attributinformation
#set($xPathInfo1MDFeatureCatalogueDescriptionFeatureTypes = "./gmd:contentInfo/gmd:MD_FeatureCatalogueDescription/gmd:featureTypes")
#### Herstellungsprozess
#set($xPathInfo1LIProcessStep = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:lineage/gmd:LI_Lineage/gmd:processStep/gmd:LI_ProcessStep/gmd:description")
#### Identifikator der Datenquelle
#set($xPathInfo1MDIdentifierCode = "./gmd:identificationInfo/*/gmd:citation/gmd:CI_Citation/gmd:identifier/gmd:MD_Identifier/gmd:code")
#### Identifikator der Datenquelle (older iplug)
#set($xPathInfo1RSIdentifierCode = "./gmd:identificationInfo/*/gmd:citation/gmd:CI_Citation/gmd:identifier/gmd:RS_Identifier/gmd:code")

#set($xPathListInformationType1 = [
    $xPathInfo1LILineageStatement,
    $xPathInfo1SpatialRepresentationType,
    $xPathInfo1MDSpatialRepresentationTypeCode,
    $xPathInfo1MD_VectorSpatialRepresentationTopologyLevel,
    $xPathInfo1MD_VectorSpatialRepresentationGeometricObjects,
    $xPathInfo1MDResolution,
    $xPathInfo1PortrayalCatalogueInfo,
    $xPathInfo1MDFeatureCatalogueDescriptionIncludedWithDataset,
    $xPathInfo1MDFeatureCatalogueDescriptionFeatureCatalogueCitation,
    $xPathInfo1LISourceDescription,
    $xPathInfo1MDFeatureCatalogueDescriptionFeatureTypes,
    $xPathInfo1LIProcessStep,
    $xPathInfo1MDIdentifierCode,
    $xPathInfo1RSIdentifierCode
])

#### Type 2
#set($xPathInfo2CICitationCitedResponsibleParty = "./gmd:identificationInfo/*/gmd:citation/gmd:CI_Citation/gmd:citedResponsibleParty")
#### Autor
#set($xPathInfo2IndividualName = "./gmd:CI_ResponsibleParty/gmd:individualName")
#### Standort
#set($xPathInfo2ContactInstructions = "./gmd:CI_ResponsibleParty/gmd:contactInfo/gmd:CI_Contact/gmd:contactInstructions")
#### Herausgeber
#set($xPathInfo2IndividualName = "./gmd:CI_ResponsibleParty/gmd:individualName")
#### Erscheinungsort
#set($xPathInfo2CIAddressCity = "./gmd:CI_ResponsibleParty/gmd:contactInfo/gmd:CI_Contact/gmd:address/gmd:CI_Address/gmd:city")
#### Verlag
#set($xPathInfo2OrganisationName = "./gmd:CI_ResponsibleParty/gmd:organisationName")
#### Erschienen in
#set($xPathInfo2CISeriesName = "./gmd:identificationInfo/*/gmd:citation/gmd:CI_Citation/gmd:series/gmd:CI_Series/gmd:name")
#### Erscheinungsjahr
#set($xPathInfo2CICitationEditionDate = "./gmd:identificationInfo/*/gmd:citation/gmd:CI_Citation/gmd:editionDate")
#### Band, Heft
#set($xPathInfo2CICitationIssueIdentification = "./gmd:identificationInfo/*/gmd:citation/gmd:CI_Citation/gmd:series/gmd:CI_Series/gmd:issueIdentification")
#### Seiten
#set($xPathInfo2CICitationPage = "./gmd:identificationInfo/*/gmd:citation/gmd:CI_Citation/gmd:series/gmd:CI_Series/gmd:page")
#### ISBN-Nummer des Dokumentes
#set($xPathInfo2CICitationISBN = "./gmd:identificationInfo/*/gmd:citation/gmd:CI_Citation/gmd:ISBN")
#### Dokumententyp
#set($xPathInfo2MDFormatName = "./gmd:identificationInfo/*/gmd:resourceFormat/gmd:MD_Format/gmd:name")
#### Basisdaten
#set($xPathInfo2LISourceDescription = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:lineage/gmd:LI_Lineage/gmd:source/gmd:LI_Source/gmd:description")
#### Weitere bibliographische Angaben
#set($xPathInfo2CICitationOtherCitationDetails = "./gmd:identificationInfo/*/gmd:citation/gmd:CI_Citation/gmd:otherCitationDetails")
#### Erläuterung zum Fachbezug
#set($xPathInfo2SupplementalInformation = "./gmd:identificationInfo/*/gmd:supplementalInformation")

#set($xPathListInformationType2 = [
    "${xPathInfo2CICitationCitedResponsibleParty}/${xPathInfo2IndividualName}",
    "${xPathInfo2CICitationCitedResponsibleParty}/${xPathInfo2ContactInstructions}",
    "${xPathInfo2CICitationCitedResponsibleParty}/${xPathInfo2CIAddressCity}",
    "${xPathInfo2CICitationCitedResponsibleParty}/${xPathInfo2IndividualName}",
    "${xPathInfo2CICitationCitedResponsibleParty}/${xPathInfo2OrganisationName}",
    $xPathInfo2CISeriesName,
    $xPathInfo2CICitationEditionDate,
    $xPathInfo2CICitationIssueIdentification,
    $xPathInfo2CICitationPage,
    $xPathInfo2CICitationISBN,
    $xPathInfo2MDFormatName,
    $xPathInfo2LISourceDescription,
    $xPathInfo2CICitationOtherCitationDetails,
    $xPathInfo2SupplementalInformation
])

#### Type 3
#### Fachliche Grundlage
#set($xPathInfo3LILineageStatement = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:lineage/gmd:LI_Lineage/gmd:statement/gco:CharacterString")
#### Typ des Dienstes
#set($xPathInfo3ServiceType = "./gmd:identificationInfo/*/srv:serviceType")
#### Version des Services
#set($xPathInfo3ServiceTypeVersion ="./gmd:identificationInfo/*/srv:serviceTypeVersion")
#### Erstellungsmaßstab
#set($xPathInfo3MDResolution ="./gmd:identificationInfo/*/gmd:spatialResolution/gmd:MD_Resolution")
#### Systemumgebung
#set($xPathInfo3EnvironmentDescription = "./gmd:identificationInfo/*/gmd:environmentDescription")
#### Historie
#set($xPathInfo3LIProcessStepDescription = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:lineage/gmd:LI_Lineage/gmd:processStep/gmd:LI_ProcessStep/gmd:description")
#### Basisdaten
#set($xPathInfo3LISourceDescription = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:lineage/gmd:LI_Lineage/gmd:source/gmd:LI_Source/gmd:description")
#### Erläuterung zum Fachbezug
#set($xPathInfo3SupplementalInformation = "./gmd:identificationInfo/*/gmd:supplementalInformation")
#### Erläuterung zum Fachbezug (*)
#set($xPathInfo3SupplementalInformationAbstract = "./gmd:identificationInfo/*/gmd:supplementalInformation/gmd:abstract")
#### Operationen
#set($xPathInfo3SVOperationMetadata = "./gmd:identificationInfo/*/srv:containsOperations/srv:SV_OperationMetadata")
#### Operation -> Zugriffsadresse
#set($xPathInfo3SVOperationMetadataConnectPoint = "./gmd:identificationInfo/*/srv:containsOperations/srv:SV_OperationMetadata/srv:connectPoint")

#set($xPathListInformationType3 = [
    $xPathInfo3LILineageStatement,
    $xPathInfo3ServiceType,
    $xPathInfo3ServiceTypeVersion,
    $xPathInfo3MDResolution,
    $xPathInfo3EnvironmentDescription,
    $xPathInfo3LIProcessStepDescription,
    $xPathInfo3LIProcessStepDescription,
    $xPathInfo3LISourceDescription,
    $xPathInfo3SupplementalInformation,
    $xPathInfo3SupplementalInformationAbstract,
    $xPathInfo3SVOperationMetadata,
    $xPathInfo3SVOperationMetadataConnectPoint
])

#### Type 4
#set($xPathInfo4CICitationCitedResponsibleParty = "./gmd:identificationInfo/*/gmd:citation/gmd:CI_Citation/gmd:citedResponsibleParty/gmd:CI_ResponsibleParty")
## Projektleiter
#set($xPathInfo4IndividualName = "./gmd:individualName")
## Beteiligte
#set($xPathInfo4IndividualName = "./gmd:individualName")
## Erläuterung des Fachbezug
#set($xPathInfo4SupplementalInformation = "./gmd:identificationInfo/*/gmd:supplementalInformation")

#set($xPathListInformationType4 = [
    "${xPathInfo4CICitationCitedResponsibleParty}/${xPathInfo4IndividualName}",
    "${xPathInfo4CICitationCitedResponsibleParty}/${xPathInfo4IndividualName}",
    $xPathInfo4SupplementalInformation
])

#### Type 5
#### Schlüsselkatalog: im Datensatz vorhanden
#set($xPathInfo5MDFeatureCatalogueDescriptionIncludedWithDataset = "./gmd:contentInfo/gmd:MD_FeatureCatalogueDescription/gmd:includedWithDataset")
#### Schlüsselkatalog
#set($xPathInfo5MDFeatureCatalogueCICitation = "./gmd:contentInfo/gmd:MD_FeatureCatalogueDescription/gmd:featureCatalogueCitation/gmd:CI_Citation")
#### Inhalte der Datensammlung/Datenbank
#set($xPathInfo5MDFeatureCatalogueFeatureTypes = "./gmd:contentInfo/gmd:MD_FeatureCatalogueDescription/gmd:featureTypes")
#### Methode/Datengrundlage
#set($xPathInfo5LISourceDescription = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:lineage/gmd:LI_Lineage/gmd:source/gmd:LI_Source/gmd:description/gco:CharacterString")
#### Erläuterungen zum Fachbezug
#set($xPathInfo5SupplementalInformation = "./gmd:identificationInfo/*/gmd:supplementalInformation")

#set($xPathListInformationType5 = [
    $xPathInfo5MDFeatureCatalogueDescriptionIncludedWithDataset,
    $xPathInfo5MDFeatureCatalogueCICitation,
    $xPathInfo5MDFeatureCatalogueFeatureTypes,
    $xPathInfo5LISourceDescription,
    $xPathInfo5SupplementalInformation
])

#### Type 6
#### Art des Dienstes
#set($xPathInfo6ServiceType = "./gmd:identificationInfo/*/srv:serviceType")
#### Version
#set($xPathInfo6ServiceTypeVersion = "./gmd:identificationInfo/*/srv:serviceTypeVersion")
#### Systemumgebung
#set($xPathInfo6EnvironmentDescription = "./gmd:identificationInfo/*/gmd:environmentDescription")
#### Historie
#set($xPathInfo6LIProcessStepDescription = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:lineage/gmd:LI_Lineage/gmd:processStep/gmd:LI_ProcessStep/gmd:description")
#### Basisdaten
#set($xPathInfo6LISourceDescription = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:lineage/gmd:LI_Lineage/gmd:source/gmd:LI_Source/gmd:description")
#### Erläuterung zum Fachbezug
#set($xPathInfo6SupplementalInformation = "./gmd:identificationInfo/*/gmd:supplementalInformation")
#### Service-URL
#set($xPathInfo6ContainsOperations = "./gmd:identificationInfo/*/srv:containsOperations")

#set($xPathListInformationType6 = [
    $xPathInfo6ServiceType,
    $xPathInfo6ServiceTypeVersion,
    $xPathInfo6EnvironmentDescription,
    $xPathInfo6LIProcessStepDescription,
    $xPathInfo6LISourceDescription,
    $xPathInfo6SupplementalInformation,
    $xPathInfo6ContainsOperations
])

#### Zusatzinformationen
#### Veröffentlichung
#set($xPathAdditionalInfoMDClassificationCode = "./gmd:identificationInfo/*/gmd:resourceConstraints/gmd:MD_SecurityConstraints/gmd:classification/gmd:MD_ClassificationCode/@codeListValue")
#### Eignung/Nutzung
#set($xPathAdditionalInfoSpecificUsage = "./gmd:identificationInfo/*/gmd:resourceSpecificUsage/gmd:MD_Usage/gmd:specificUsage/gco:CharacterString")
#### Herstellungszweck
#set($xPathAdditionalInfoPurpose = "./gmd:identificationInfo/*/gmd:purpose/gco:CharacterString")
#### Rechtliche Grundlagen
#set($xPathAdditionalInfoFurtherLegalBasis = "./gmd:identificationInfo/*/gmd:descriptiveKeywords/gmd:MD_Keywords[gmd:thesaurusName/gmd:CI_Citation/gmd:title/gco:CharacterString='Further legal basis']/gmd:keyword/gco:CharacterString")
#### XML-Export-Kriterium
#set($xPathAdditionalInfoExportCriteria = "./idf:exportCriteria")
#### Sprache des Datensatzes
#set($xPathAdditionalInfoIdentificationInfoLanguageCode = "./gmd:identificationInfo/*/gmd:language/gmd:LanguageCode/@codeListValue")
#### Konformität
#set($xPathAdditionalInfoDQDataQualityReport = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:report")

#set($tmpConformityDataSymbols = [])
#set($tmpConformityDataSymbol = {})
#set($tmpConformityDataValue = $TOOL.getNameFromCodeList("6000", "1"))
#set($put = $tmpConformityDataSymbol.put("value", $tmpConformityDataValue))
#set($put = $tmpConformityDataSymbol.put("symbol", "<span class='ic-ic-check' title='$tmpConformityDataValue'></span>"))
#set($add = $tmpConformityDataSymbols.add($tmpConformityDataSymbol))
#set($tmpConformityDataSymbol = {})
#set($tmpConformityDataValue = $TOOL.getNameFromCodeList("6000", "2"))
#set($put = $tmpConformityDataSymbol.put("value", $tmpConformityDataValue))
#set($put = $tmpConformityDataSymbol.put("symbol", "<span class='ic-ic-cross' title='$tmpConformityDataValue'></span>"))
#set($add = $tmpConformityDataSymbols.add($tmpConformityDataSymbol))
#set($tmpConformityDataSymbol = {})
#set($tmpConformityDataValue = $TOOL.getNameFromCodeList("6000", "3"))
#set($put = $tmpConformityDataSymbol.put("value", $tmpConformityDataValue))
#set($put = $tmpConformityDataSymbol.put("symbol", "<span class='ic-ic-minus' title='$tmpConformityDataValue'></span>"))
#set($add = $tmpConformityDataSymbols.add($tmpConformityDataSymbol))

#### Datenformat
#set($xPathAdditionalInfoMDDistribution = "./gmd:distributionInfo/gmd:MD_Distribution")
#### Medien
#set($xPathAdditionalInfoMDDistribution = "./gmd:distributionInfo/gmd:MD_Distribution")
#### Bestellinformationen
#set($xPathAdditionalInfoOrderingInstructions = "./gmd:distributionInfo/gmd:MD_Distribution/gmd:distributor/gmd:MD_Distributor/gmd:distributionOrderProcess/gmd:MD_StandardOrderProcess/gmd:orderingInstructions/gco:CharacterString")


#set($xPathListAdditionalInfo = [
    $xPathAdditionalInfoMDClassificationCode,
    $xPathAdditionalInfoSpecificUsage,
    $xPathAdditionalInfoPurpose,
    $xPathAdditionalInfoFurtherLegalBasis,
    $xPathAdditionalInfoExportCriteria,
    $xPathAdditionalInfoIdentificationInfoLanguageCode,
    $xPathAdditionalInfoDQDataQualityReport,
    "${xPathAdditionalInfoMDDistribution}/gmd:distributionFormat/gmd:MD_Format",
    "${xPathAdditionalInfoMDDistribution}./gmd:transferOptions",
    $xPathAdditionalInfoOrderingInstructions
])

#### Schlagworte
#set($xPathKeywordsDescriptiveKeywords = "./gmd:identificationInfo/*/gmd:descriptiveKeywords")
#set($xPathKeywordsTopicCategory = "./gmd:identificationInfo/*/gmd:topicCategory")

#set($xPathListKeywords = [
    $xPathKeywordsDescriptiveKeywords,
    $xPathKeywordsTopicCategory
])

#### DOI
#parse("/WEB-INF/templates/detail/parts/metadata/settings/settings_doi.vm")

## Infos zur Datensatzbeschreibung
#### Sprache des Metadatensatzes
#set($xPathAdditionalInfoLanguageCode = "./gmd:language/gmd:LanguageCode/@codeListValue")

#### XML Darstellung
#set($getXML = $TOOL.addLinkElementToGetXML())
#set($cswURL = $renderRequest.getParameter("cswURL"))
#if($cswURL)
    #set($add = $getXML.put("href", $cswURL))
#end
#### Ansprechpartner (Metadatum)
#set($xPathUseContact = "./gmd:contact")
#### Datensatz/Datenserie
#set($xPathInfo1MDScopeCode = "./gmd:hierarchyLevel/gmd:MD_ScopeCode/@codeListValue")

#set($xPathListMetadataInfo = [
    $xPathAdditionalInfoLanguageCode,
    $xPathUseContact,
    $xPathInfo1MDScopeCode
])

## Datenqualität
#### Datendefizit
#set($xPathDataQualityCompletenessOmission = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:report/gmd:DQ_CompletenessOmission")
#### Höhengenauigkeit (m)
#set($xPathDataQualityAbsoluteExternalPositionalAccuracy = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:report/gmd:DQ_AbsoluteExternalPositionalAccuracy")
#### Lagegenauigkeit (m)
#set($xPathDataQualityAbsoluteExternalPositionalAccuracy = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:report/gmd:DQ_AbsoluteExternalPositionalAccuracy")
#### Datenüberschuss
#set($xPathDataQualityCompletenessCommission = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:report/gmd:DQ_CompletenessCommission")
#### Konzeptionelle Konsistenz
#set($xPathDataQualityConceptualConsistency = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:report/gmd:DQ_ConceptualConsistency")
#### Konsistenz des Wertebereichs
#set($xPathDataQualityDomainConsistency = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:report/gmd:DQ_DomainConsistency")
#### Formatkonsistenz
#set($xPathDataQualityFormatConsistency = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:report/gmd:DQ_FormatConsistency")
#### Topologische Konsistenz
#set($xPathDataQualityTopologicalConsistency = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:report/gmd:DQ_TopologicalConsistency")
#### Zeitliche Genauigkeit
#set($xPathDataQualityTemporalConsistency = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:report/gmd:DQ_TemporalConsistency")
#### Korrektheit der thematischen Klassifizierung
#set($xPathDataQualityThematicClassificationCorrectness = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:report/gmd:DQ_ThematicClassificationCorrectness")
#### Genauigkeit nicht-quantitativer Attribute
#set($xPathDataQualityNonQuantitativeAttributeAccuracy = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:report/gmd:DQ_NonQuantitativeAttributeAccuracy")
#### Genauigkeit quantitativer Attribute
#set($xPathDataQualityQuantitativeAttributeAccuracy = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:report/gmd:DQ_QuantitativeAttributeAccuracy")
#### Relative Positionsgenauigkeit
#set($xPathDataQualityRelativeInternalPositionalAccuracy = "./gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:report/gmd:DQ_RelativeInternalPositionalAccuracy")
#### List
#set($xPathListDataQuality = [
    $xPathDataQualityCompletenessOmission,
    $xPathDataQualityAbsoluteExternalPositionalAccuracy,
    $xPathDataQualityAbsoluteExternalPositionalAccuracy,
    "${xPathDataQualityCompletenessCommission}/gmd:nameOfMeasure",
    "${xPathDataQualityConceptualConsistency}/gmd:nameOfMeasure",
    "${xPathDataQualityDomainConsistency}/gmd:nameOfMeasure",
    "${xPathDataQualityFormatConsistency}/gmd:nameOfMeasure",
    "${xPathDataQualityTopologicalConsistency}/gmd:nameOfMeasure",
    "${xPathDataQualityTemporalConsistency}/gmd:nameOfMeasure",
    "${xPathDataQualityThematicClassificationCorrectness}/gmd:nameOfMeasure",
    "${xPathDataQualityNonQuantitativeAttributeAccuracy}/gmd:nameOfMeasure",
    "${xPathDataQualityQuantitativeAttributeAccuracy}/gmd:nameOfMeasure",
    "${xPathDataQualityRelativeInternalPositionalAccuracy}/gmd:nameOfMeasure"
])


## Kontakt
#### Addressen
#set($xPathUsePointOfContact = "./gmd:identificationInfo/*/gmd:pointOfContact")

#set($xPathListContact = [
    $xPathUsePointOfContact
])
#set($xPathUsePointOfContactNodes = $TOOL.getNodeListFromXPath("${xPathUsePointOfContact}"))
#set($xPathUsePointOfContactSort = ["pointOfContact","distributor","publisher","owner","processor","author"])
#set($xPathUsePointOfContactSortNodes = [])
#foreach($tmpXPathSort in $xPathUsePointOfContactSort)
    #foreach($tmpXPathNodeNumber in [1..$xPathUsePointOfContactNodes.getLength()])
        #set($tmpXPathNodeValue = $TOOL.getValueFromXPath("./*/gmd:role/gmd:CI_RoleCode/@codeListValue", "", $TOOL.getNodeFromXPath("${xPathUsePointOfContact}[$tmpXPathNodeNumber]")))
        #if($tmpXPathNodeValue == $tmpXPathSort)
            #set($tmpAddresses = $TOOL.getNodeFromXPath("${xPathUsePointOfContact}[$tmpXPathNodeNumber][./*/gmd:role/gmd:CI_RoleCode/@codeListValue='$tmpXPathSort']"))
            #set($add = $xPathUsePointOfContactSortNodes.add($tmpAddresses))
        #end
    #end
#end

#foreach($tmpXPathNodeNumber in [1..$xPathUsePointOfContactNodes.getLength()])
    #set($tmpXPathNodeValue = $TOOL.getValueFromXPath("./*/gmd:role/gmd:CI_RoleCode/@codeListValue", "", $TOOL.getNodeFromXPath("${xPathUsePointOfContact}[$tmpXPathNodeNumber]")))
    #if(!$xPathUsePointOfContactSort.contains($tmpXPathNodeValue))
        #set($tmpAddresses = $TOOL.getNodeFromXPath("${xPathUsePointOfContact}[$tmpXPathNodeNumber][./*/gmd:role/gmd:CI_RoleCode/@codeListValue='$tmpXPathNodeValue']"))
        #set($add = $xPathUsePointOfContactSortNodes.add($tmpAddresses))
    #end
#end

## Zusatzfelder
#set($xPathAdditionalFields = "./idf:additionalDataSection[@id='additionalFields']/idf:title[@lang='$lang']")
#set($xPathAdditionalFieldsData = "./idf:additionalDataSection[@id='additionalFields']/idf:additionalDataField")


##FactSheet
#set($xPathListFactSheet = [
    $xPathListTimeTimePeriodBeginPosition,
    $xPathListTimeTimePeriodEndPosition,
    $xPathUsePointOfContact,
    $xPathRefDownloads,
    $xPathRefLinks
])

## Zitat für diesen Datensatz
#parse("/WEB-INF/templates/detail/parts/metadata/settings/settings_citation.vm")

## BAW BWAStr
#parse("/WEB-INF/templates/detail/parts/metadata/settings/settings_bwa_str.vm")