<script>
  $('.filter .filter-wrapper').niceScroll({
    cursorcolor:"#5e788d",
    cursorwidth:"8px",
    cursorborderradius: "6px",
  });
  $(window).bind('scroll',function(){
    var filter = $('.filter');
    filter.find('.filter-wrapper').getNiceScroll().resize();
    // 'Sticky' Fix for IE11
    if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
        if(filter.closest('.shrink').length > 0) {
            var headerHeight = 248;
            var scrollTop = $(this).scrollTop() ;
            filter.css('top',(scrollTop - headerHeight) + 'px');
            filter.css('position','relative');
        } else {
            filter.css('top','');
            filter.css('position','');
        }
    }
  });
  
  $('.filter .accordion-title').bind('click',function(){
    setTimeout(function(){
      $(".filter .filter-wrapper").getNiceScroll().resize();
    }, 500);
  });
</script>