<script>
  $('.filter .filter-wrapper').niceScroll({
    cursorcolor:"#5e788d",
    cursorwidth:"8px",
    cursorborderradius: "6px",
  });
  $(window).bind('scroll',function(){
    var filter = $('.filter');
    filter.find('.filter-wrapper').getNiceScroll().resize();
    // 'Sticky' Fix for IE11
    if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
        if(filter.closest('.shrink').length > 0) {
            var headerHeight = $('header').height();
            var scrollTop = $(this).scrollTop();
            var content = $('.search-filtered.row, .search-filtered > .row');
            var contentTop = 400;
            var contentMargin = 0;
            var diffTop = 25;
            if(content) {
                if(content.position()) {
                    contentTop = content.position().top;
                }
                if(content.css("margin-top")) {
                    contentMargin = parseInt(content.css("margin-top"));
                }
                
            }
            if(scrollTop > contentTop) {
                filter.css('top', scrollTop - contentTop + diffTop - contentMargin + 'px');
            }
            filter.css('position','relative');
        } else {
            filter.css('top','');
            filter.css('position','');
        }
    }
  });
  
  $('.filter .accordion-title').bind('click',function(){
    setTimeout(function(){
      $(".filter .filter-wrapper").getNiceScroll().resize();
    }, 500);
  });
</script>