## Name des Metadatenstandards
#set($tmp = $TOOL.getValueFromXPath("./gmd:metadataStandardName"))
#renderTextTable($MESSAGES.getString("t01_object.metadata_standard_name") $tmp "-")
#set($tmp = "")
## Version des Metadatenstandards
#set($tmp = $TOOL.getValueFromXPath("./gmd:metadataStandardVersion"))
#renderTextTable($MESSAGES.getString("t01_object.metadata_standard_version") $tmp "-")
#set($tmp = "")
## Zeichensatz des Metadatensatz
#set($tmp = $TOOL.getValueFromXPath("./gmd:characterSet/gmd:MD_CharacterSetCode/@codeListValue", "510"))
#renderTextTable($MESSAGES.getString("t01_object.metadata_character_set") $tmp "-")
#set($tmp = "")