#set ($lang = $renderRequest.Locale.getLanguage())
<a href="$jetspeed.getAbsoluteUrl('/service-contact.psml')" title="$MESSAGES.getString('ingrid.page.accessiblity.report.title')"><span class="text">$MESSAGES.getString("ingrid.page.accessiblity.report")</span></a>