## Extras
################################
#set($tmpSuperior = $TOOL.getReference("./idf:superiorParty", false))
#set($tmpSubodinated = $TOOL.getReference("./idf:subordinatedParty", false))
#if(($tmpSuperior && $tmpSuperior.size() > 0) || ($tmpSubodinated && $tmpSubodinated.size() > 0))
    <div class="border-line-info">
        ## Übergeordnete Adressen 
        #renderTableLinkList($MESSAGES.getString("superior_address") $tmpSuperior "true")
        ## Untergeordnete Adressen 
        #renderTableLinkList($MESSAGES.getString("subordinated_addresses") $tmpSubodinated "true")
    </div>
#end
