## FactSheet
################################
#if($hasDetail0)
<a class="anchor" id="${hashDetail0}" name="${hashDetail0}"></a>
<div class="teaser-data search row is-active">
    <div class="xsmall-24 small-24 columns">
## Adressen
    #renderMultiLineAddresses($MESSAGES.getString("search.detail.contact") $xPathUsePointOfContactSortNodes false true true)
    </div>
</div>
#end