/**
 * Inlcude CSS styles for portlets (standardized classes)
 * See: Section PLT.C of the Portlet Specfication 1.0
 */
@import url("./PLT.C.All.css");


/** special styles ***/

ul li ul  { padding-bottom:4px;}

/********************************************************************
  standard styles 
*********************************************************************/

body { padding: 0; margin: 0; color: #383028; background-color: #FFFFFF; font: normal 100% Verdana, Arial, Verdana, sans-serif; line-height: 120%; }

sup { line-height: 0; }
img { border:0; }
span.icon { margin-right:4px; margin-top:5px; float:left; }
span.icon_udk { margin-right:6px; margin-top:5px; float:left; height:14px; }
/* no float for detail page in OPERA */
span.icon_udk_detail { margin-right:6px; margin-top:2px; width:21px; height:14px; }
span.normaltext { font-weight:normal; text-transform:none; }
span.smaller {font-size: 88%}
ul { list-style-type:square; padding-left:0; margin: 0 0 1em 30px; }
p { margin-top:0; margin-bottom:1em; font-size: 75%}
strong {font-weight:bold}
.green {color:#598046;}
.red {color: #cc7a52;}

div.line { border: 0; background-color: #d4cdbe; height: 1px; margin:10px 0 0 0; padding:0 }
div.line_form { border: 0; background-color: #d4cdbe; height: 1px; margin:10px 0 10px 0; padding:0}
/* for CSS1 browsers */ 
div.line hr { display: none;}
div.line_form hr { display: none;}
/* for CSS2 browsers */
div.line * { display: none;}
div.line_form * { display: none;}

a, a:link { color: #99471f; text-decoration: none; }
a:visited { color: #99471f; }
a:hover, a:focus { color: #383028; text-decoration: underline; }
a:active { color: #383028; text-decoration: none; }
a.selected { font-weight:bold; }

h1 { font-family: Verdana, Arial, Helvetica, sans-serif ; font-size:105%; font-weight:bold; line-height:120%; margin-top:0; margin-bottom:1em; }
h2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:90%; line-height:120%; font-weight:bold; margin-top:0; margin-bottom:0.8em; }
h3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:80%; line-height:120%; font-weight:bold; margin-top:0.4em; margin-bottom:0.3em; }

table.border { border-collapse:collapse; }
table.fullwidth { width:100%; }
th {font-size: 75%; vertical-align:top; padding:3px;}
td {font-size: 75%; vertical-align:top; padding-left:3px;}
table.formtable td {font-size: 75%; vertical-align:middle; margin:0;}
td.iconwidth { width:9px; }
table.layout td {font-size: 100%}
td.fontcolor {color: #99471f;}

/********************************************************************
  helper styles 
*********************************************************************/

.hide { position: absolute; left: -1000em; width:500em; line-height:0px; }
.clearer { clear:both; height:1px; line-height: 0px; font-size: 1px; margin:0; padding:0; }
.float { float:left; }
.float_left { float:left; }
.float_right { float:right; }
.bgred {background-color:#cc7a52}
.top { margin-top:0; }
.nobottommargin { margin-bottom:0; }
.leftmargin {margin-left: 12px; }
.leftmargin_big {margin-left: 84px; }
.nospace { margin-bottom:0; padding-bottom:0; }
.rightmargin { margin-right:1.5em; }

div.ico_linkintern {margin: 0 0 0.3em 0;padding-left: 15px; background-image:url("../images/icn_linkintern.gif");background-repeat: no-repeat;background-position: 0 .45em;}
div.ico_arrowup {margin: 0 0 0.3em 0;padding-left: 15px; background-image:url("../images/arrow_up.gif");background-repeat: no-repeat;background-position: 0.0em .4em;}
div.ico_down_black {margin: 0 0 0.3em 0;padding-left: 10px; background-image:url("../images/ico_down_black.gif");background-repeat: no-repeat;background-position: 0.0em -.1em;}

/********************************************************************
  breadcrumb styles 
*********************************************************************/

div#breadcrumb { padding-top:0.2em; padding-bottom:0.2em; margin-left:28px; background-color:#FFFFFF; font-size: 75%; }

/********************************************************************
  identity area styles
*********************************************************************/

div#identity { padding:0; margin:0; height: 5em; width:59.5em; background-color:#99471f; overflow:visible; }
div.motiv_blank { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.motiv_start { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.motiv_suche { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.motiv_service { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.motiv_messwerte { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.motiv_umweltthemen { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.motiv_karten { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.motiv_umweltchronik { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.motiv_topnavi { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.motiv_hilfe { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.motiv_admin { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }

/*** new for ingrid 3.1.0 ****/
div.motiv_datenschutz { background-image:url(../images/01_motiv_datenschutz.gif); background-repeat:no-repeat; }
div.motiv_funktionen { background-image:url(../images/01_motiv_funktionen.gif); background-repeat:no-repeat; }
div.motiv_impressum { background-image:url(../images/01_motiv_impressum.gif); background-repeat:no-repeat; }
div.motiv_informationsanbieter { background-image:url(../images/01_motiv_informationsanbieter.gif); background-repeat:no-repeat; }
div.motiv_inhalte { background-image:url(../images/01_motiv_inhalte.gif); background-repeat:no-repeat; }
div.motiv_katalog_hierarchie { background-image:url(../images/01_motiv_katalog_hierarchie.gif); background-repeat:no-repeat; }
div.motiv_katalog_thesaurus { background-image:url(../images/01_motiv_katalog_thesaurus.gif); background-repeat:no-repeat; }
div.motiv_kontakt { background-image:url(../images/01_motiv_kontakt.gif); background-repeat:no-repeat; }
div.motiv_mein_portal { background-image:url(../images/01_motiv_mein_portal.gif); background-repeat:no-repeat; }
div.motiv_newsletter { background-image:url(../images/01_motiv_newsletter.gif); background-repeat:no-repeat; }
div.motiv_suche_einstellungen { background-image:url(../images/01_motiv_suche_einstellungen.gif); background-repeat:no-repeat; }
div.motiv_suche_erweiterte { background-image:url(../images/01_motiv_suche_erweiterte.gif); background-repeat:no-repeat; }
div.motiv_suche_historie { background-image:url(../images/01_motiv_suche_historie.gif); background-repeat:no-repeat; }
div.motiv_treffer { background-image:url(../images/01_motiv_treffer.gif); background-repeat:no-repeat; }
div.motiv_ueber_portal { background-image:url(../images/01_motiv_ueber_portal.gif); background-repeat:no-repeat; }
div.motiv_weitere_meldungen { background-image:url(../images/01_motiv_weitere_meldungen.gif); background-repeat:no-repeat; }


div.en_motiv_blank { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.en_motiv_start { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.en_motiv_suche { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.en_motiv_service { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.en_motiv_messwerte { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.en_motiv_umweltthemen { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.en_motiv_karten { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.en_motiv_umweltchronik { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.en_motiv_topnavi { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.en_motiv_hilfe { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }
div.en_motiv_admin { background-image:url(../images/01_motiv_start-gssoil.gif); background-repeat:no-repeat; }

/*** new for ingrid 3.1.0 ****/
div.en_motiv_datenschutz { background-image:url(../images/en/en_01_motiv_datenschutz.gif); background-repeat:no-repeat; }
div.en_motiv_funktionen { background-image:url(../images/en/en_01_motiv_funktionen.gif); background-repeat:no-repeat; }
div.en_motiv_impressum { background-image:url(../images/en/en_01_motiv_impressum.gif); background-repeat:no-repeat; }
div.en_motiv_informationsanbieter { background-image:url(../images/en/en_01_motiv_informationsanbieter.gif); background-repeat:no-repeat; }
div.en_motiv_inhalte { background-image:url(../images/en/en_01_motiv_inhalte.gif); background-repeat:no-repeat; }
div.en_motiv_katalog_hierarchie { background-image:url(../images/en/en_01_motiv_katalog_hierarchie.gif); background-repeat:no-repeat; }
div.en_motiv_katalog_thesaurus { background-image:url(../images/en/en_01_motiv_katalog_thesaurus.gif); background-repeat:no-repeat; }
div.en_motiv_kontakt { background-image:url(../images/en/en_01_motiv_kontakt.gif); background-repeat:no-repeat; }
div.en_motiv_mein_portal { background-image:url(../images/en/en_01_motiv_mein_portal.gif); background-repeat:no-repeat; }
div.en_motiv_newsletter { background-image:url(../images/en/en_01_motiv_newsletter.gif); background-repeat:no-repeat; }
div.en_motiv_suche_einstellungen { background-image:url(../images/en/en_01_motiv_suche_einstellungen.gif); background-repeat:no-repeat; }
div.en_motiv_suche_erweiterte { background-image:url(../images/en/en_01_motiv_suche_erweiterte.gif); background-repeat:no-repeat; }
div.en_motiv_suche_historie { background-image:url(../images/en/en_01_motiv_suche_historie.gif); background-repeat:no-repeat; }
div.en_motiv_treffer { background-image:url(../images/en/en_01_motiv_treffer.gif); background-repeat:no-repeat; }
div.en_motiv_ueber_portal { background-image:url(../images/en/en_01_motiv_ueber_portal.gif); background-repeat:no-repeat; }
div.en_motiv_weitere_meldungen { background-image:url(../images/en/en_01_motiv_weitere_meldungen.gif); background-repeat:no-repeat; }


/********************************************************************
  logo styles 
*********************************************************************/

div#logo { float: left; }

/********************************************************************
  logged on styles 
*********************************************************************/

div#logged_on {float: right; clear:right; font-size: 70%; padding:3.5em 1.2em 0 0; color:#cc7a52;}
div#logged_on a, div#logged_on a:link, div#logged_on a:visited {color:#cc7a52; text-decoration: none}
div#logged_on a:hover, div#logged_on a:focus, div#logged_on a:active { color: #383028; text-decoration: underline; }

/********************************************************************
  service navigation styles
*********************************************************************/

div#servicenav { padding:0.1em 0 0.2em 1.5em; background-color:#FFFFFF; float: right; }
#servicenav { font-size: 75%; }
div#servicenav ul { list-style: none; padding: 0; margin: 0; }
div#servicenav ul li { display:inline; }
div#servicenav ul li a { }
div#servicenav ul li a.selected { text-decoration:none; color:#383028; font-weight:normal;}
div#servicenav ul li a.selected:hover { text-decoration:underline; color:#383028; font-weight:normal; }
div.service_nav_left { }
div.service_nav_right { }


select.language_switch_style { font-size:100% }

/********************************************************************
  main navigation styles
*********************************************************************/

/* IE Win needs this to show background-color \*/
html body div#mainnav { height: 1%; }
/* End Hack */

div#mainnav { background-color:#8d8078; margin:0; padding:0; width:59.5em; height:2.0625em; }  
div#mainnav ul { list-style: none; padding: 7px 0 4px 51px; margin: 0;}
div#mainnav ul li { padding: 2px 0px 6px 0; margin: 0px 2px 0px 0px; border: 0; float: left;font-size: 75%; font-weight:bold; /*text-transform: uppercase;*/}
div#mainnav ul li:hover { }

div#mainnav ul li ul {}
div#mainnav ul li ul li {}
div#mainnav ul li ul li:hover { }

/* Commented Backslash Hack hides rule from IE5-Mac \*/
div#mainnav ul li a {float:none;}
/* End IE5-Mac hack */

div#mainnav ul li a,  
div#mainnav ul li a:link, 
div#mainnav ul li a:visited 
 { text-decoration:none; color:#FFFFFF; margin-right:8px; padding:3px 12px 5px 12px; border-bottom:3px; margin:0; font-size: 95%; } 

div#mainnav ul li a.selected,
div#mainnav ul li a.selected:link, 
div#mainnav ul li a.selected:visited 
 { text-decoration:none; color:#47423e; background-color:#ebe6dc; margin:0; padding:3px 12px 5px 12px; border-bottom: solid #FFFFFF 10px; font-size: 95%; }  

div#mainnav ul li a:hover,
div#mainnav ul li a:active
 { color:#47423e; text-decoration:none; background-color:#ebe6dc; padding:3px 12px 5px 12px; border-bottom: solid #47423e 10px; margin:0; font-size: 95%;}

div#mainnav div.tabs { }
div#mainnav div.tabs_left { }
div#mainnav div.tabs_right { }
div#mainnav div.tabs_center { }
/********************************************************************
  sub navigation styles
*********************************************************************/

div#subnav { position:relative; border-top: solid #FFFFFF 1px; background-color:#ebe6dc; width:59.5em; height:1.375em; z-index:12;}
div#subnavBack { position:relative; border-top: solid #FFFFFF 1px; background-color:#ebe6dc; width:59.5em; height:1.375em; z-index:12; }

div#subnav ul { list-style:none; padding: 0px 7px 1px 58px; margin:0; line-height:125%; color:#383028; }
div#subnav ul li { display:inline; font-size: 65%; padding: 0 5px 0 5px;}

div#subnav ul li a,
div#subnav ul li a:link,
div#subnav ul li a:visited,
div#subnav ul li a:active {text-decoration:none; color:#383028;}  

div#subnav ul li a:hover, div#subnav ul li a:focus {color:#383028;text-decoration:underline;}
div#subnav ul li a.selected { text-decoration:none; color:#383028; font-weight:bold; }

div.subnav_corner {vertical-align:bottom;float:right; width:21px; height: 100%;background-color:#ebe6dc}
div.subnav_corner_img {vertical-align:bottom;width: 21px; height:100%;background:url(../images/corner_sub_nav.gif) no-repeat;background-position:bottom; background-color:#ebe6dc}

div#subnav div.subnav_left { }
div#subnav div.subnav_right { }
div#subnav div.subnav_center { }

div#subnavBack ul { list-style:none; padding: 0px 7px 1px 58px; margin:0; line-height:125%; color:#383028; }
div#subnavBack ul li { display:inline; font-size: 65%; padding: 0 5px 0 5px; }

div#subnavBack ul li a.selected { text-decoration:none; color:#383028; font-weight:bold; }
div#subnavBack ul li a,
div#subnavBack ul li a:link,
div#subnavBack ul li a:visited,
div#subnavBack ul li a:active {text-decoration:none; color:#383028;}  
div#subnavBack ul li a:hover, div#subnav ul li a:focus {color:#383028;text-decoration:underline;}

div#subnavBack div.subnav_left { }
div#subnavBack div.subnav_right { }
div#subnavBack div.subnav_center { }

/********************************************************************
  content block styles
  base layout for content area and marginal column  
*********************************************************************/

div#container { width:56em; margin:22px 0 0 63px; }

/*** alt ***/
div#content { float:left; width:37.1875em; }
div#marginal { float:left; width:15.75em; margin: 0px 0px 0 2.625em; }

/*** portlat column styles, replacing div#content and div#marginal ***/
div.portal-layout-column-1 { float:left; width:37.1875em; }
div.portal-layout-column-2 { float:left; width:15.75em; margin: 10px 0px 0 2.625em; }


/*** Ergebnis-Spalten: 2/3 zu 1/3 ***/
div#results_left { float:left; width:35.2917em; }
div#results_right { float:left; width:17.6458em; margin: 0px 0px 0 2.625em; }

/*** Ergebnis-Spalten: 1/2 zu 1/2 
div#results_left { float:left; width:26.2917em; }
div#results_right { float:left; width:26.6458em; margin: 0px 0px 0 2.625em; }
***/

/* full width content area styles */
div#content_full { float:left; width:55.5625em; }
div#content_full .clearer { clear:both; display:block; height:1px; line-height:0px; font-size:1px; margin:0; padding:0; }

div.portal-layout-OneColumn {width: 55.57em}

/********************************************************************
  main block styles  
*********************************************************************/

.iconLink { margin:0px 0px 5px 0px; font-size:70%;}
/* ich will all die beknackten Abh�ngigkeiten unterhalb der Klasse .iconLink nicht (a styles etc. s.u.)
deshalb definier ich mir jetzt das Gleiche unter anderem Namen,da hab ich keine Abh�ngigkeiten, mm */
.iconLink2 { margin:0px 0px 5px 0px; font-size:70%;}

div.left { float:left; width:15.75em; padding:0; }
div.right { float:left; margin-left:2.625em; width:15.75em; padding:0; }
div.whole { width:34.125em; padding:0; }
div.themen_image { margin:0; padding:4px 14px 0 0; float:left; }
/*Need for profile NUMIS*/
div img.themen_image_style{}

div.section { margin: 9px 0 0px 0; padding:0em 0 1em 0; }
div.section p a { text-decoration:underline; }
div.section div p a { text-decoration:none; }
div.section div p a:hover { text-decoration:underline; }
div.section-header { margin-top:0; padding:0; }
div.section-header h1 { display:inline; float:left; padding-top:0em; padding-bottom:0em; }
div.section-header span.portlet_info { float:right; font-size:80%; padding-top:3px;}
/* n�tig f�r Firefox, sonst zerreissts �berschrift ! */
div.section-header span.clearer { display:block; }

/* n�tig fuer IE: sonst springt in Erweiterter Suche "Suche" Button */
div.portal-layout-column-1 .clearer { clear:both; display:block; height:1px; line-height:0px; font-size:1px; margin:0; padding:0; }

div.section p.iconLink span.icon { margin: 7px 0 0 0; }

div.section ul.catalog { margin:0; padding:0; }
div.section ul.catalog li { display:inline; }
div.section ul.catalog li a { display:inline; margin-right:0.2em; }
div.section ul.catalog span.separator { background: url(../images/list_dot.gif) no-repeat center center; margin-right:0.1em; margin-left:0.2em;}
/*
div.section ul.catalog li a { white-space:nowrap; padding-left:1em; padding-right:0.5em; background: url(../images/list_dot.gif) no-repeat top left; }
div.section ul.catalog li { border:1px solid red; background: url(../images/list_dot.gif) no-repeat bottom left; display: inline; padding-left:1em; padding-right:0.5em}
*/
div.section ul li { font-size:83%}
div.section ol li { font-size:83%}

div.section ul.innermenu {list-style: none; margin: 0 0 0 0.0em;}
div.section ul.innermenu li { margin: 0 0 0.3em 0;padding-left: 20px;background-image:url("../images/icn_down.gif");background-repeat: no-repeat;background-position: 0 .15em; }

div.section ul.udklist { list-style-type:none; line-height: 180%; font-size:98% }

div.section ul.extlinklist {list-style: none; margin: 0 0 0 0.0em;}
div.section ul.extlinklist li { margin: 0 0 0.3em 0;padding-left: 20px;background-image:url("../images/icn_linkextern.gif");background-repeat: no-repeat;background-position: 0 .45em; }

div.section ul.internlinklist {list-style: none; margin: 0 0 0 .5em;}
div.section ul.internlinklist li { font-size:70%;margin: 0 0 0.3em 0;padding-left: 15px;background-image:url("../images/icn_linkintern.gif");background-repeat: no-repeat;background-position: 0 .5em; }

div.section ul.internlinklist2 {list-style: none; margin: 0 0 0 .5em;}
div.section ul.internlinklist2 li { margin: 0 0 0.3em 0;padding-left: 15px;background-image:url("../images/icn_linkintern.gif");background-repeat: no-repeat;background-position: 0 .5em; }

div.section ul.anmeldung li { margin-top: 0.5em;}


div.section div.indent {margin-left: 1em}


/* SEARCH RESULT LIST */

div.noresult { margin-top:20px; }
div.noresult ul { line-height:2em; }

div.resultset_nav { text-align:left; background-color:white; padding:0em 0em 0em 0em; font-size:75%; }
div.resultset_nav a { text-decoration:underline; font-weight: bold;}

div.resultset { padding:4px 4px 4px 0px; font-size:100%; margin: 5px 0px 5px 0px; }
div.resultset a { text-decoration:none; font-size:100%;color: #99471f;line-height:140%}
div.resultset a:hover { text-decoration:underline;color: #383028;}
div.resultset p.result_title { font-size:95%; margin: 10px 0px 10px 0px; }
div.resultset p.result_description { font-size:75%;margin: 5px 0px 0px 0px; line-height:130%}
div.resultset p.event_description { margin: 10px 0px 10px 0px; line-height:125%}
div.resultset p.result_metadata { font-size:70%; color:#8d8078; margin:0; line-height:125%}
div.resultset p.result_metadata_adress { font-size:70%; color:#8d8078; margin:7px 0 8px 0; line-height:125%}
div.resultset p.result_link { font-size:70%; color:#8d8078; margin:3px 0 8px 0; }
div.resultset p.result_link img { position:relative; top:1px; }
div.resultset p.result_link a { text-decoration:none; }
div.resultset p.result_link a:hover { text-decoration:underline; }
div.resultset span.result_title { font-size:80%;}
div.resultset span.inquiry { margin-left:20px; font-size:88%}
div.resultset em.date { font-style:normal; font-size: 88%; color:#383028; }

div.resultset_partner_group {background-color:#F0EDE7; margin: 0 0 10px 0;padding: 0.5em 0.875em 0.2em 0.7em; border-left: solid 1px #e5dfd3; border-right: solid 1px #e5dfd3; border-bottom: solid 1px #e5dfd3; border-top: solid 2px #99471F;}
div.resultset_partner_group span.title {font-size:72.5%; font-weight:bold; line-height:110%; text-transform:uppercase;}
div.resultset_partner_group p.result_description { font-size:70%;margin: 5px 0px 0px 0px; line-height:125%; font-weight:bold;}
div.resultset_partner_group p.result_metadata { font-size:70%; color:#8d8078; margin:0; line-height:125%; margin-bottom:2px; }

div.resultset_partner_only {background-color:#cc7a52; margin: 0 0 20px 0;padding: 0.25em 0.875em 0.2em 0.7em;}

div.resultset_show_partner {text-decoration:none;font-size:80%;margin: 10px 0px 10px 0px;}

.intendResult { font-weight:bold; }

/* TAB, EXTENDED SEARCH */
div.tabs ul { list-style: none; padding: 7px 0 0px 0px; margin: 0;}
div.tabs ul li { padding: 2px 0px 2px 0; margin: 0px 2px 0px 0px; border: 0; float: left; font-weight: bold;font-size: 80%;}
div.tabs ul li a.selected,
div.tabs ul li a.selected:link, 
div.tabs ul li a.selected:visited 
  { position:relative; top: -2px; text-decoration:none; color:#FFFFFF; background-color:#8D8078; margin:0; padding:3px 7px 5px 7px; border-bottom: solid #FFFFFF 0px; }  

div.tabs ul li a.selected:hover,
div.tabs ul li a.selected:link:hover, 
div.tabs ul li a.selected:visited:hover
  { }  


/* Commented Backslash Hack hides rule from IE5-Mac \*/
div.tabs ul li a {float:none;}
/* End IE5-Mac hack */

div.tabs ul li a,  
div.tabs ul li a:link, 
div.tabs ul li a:visited 
 { text-decoration:none; color:#FFFFFF; background-color: #CC7A52; margin-right:7px; padding:3px 7px 5px 7px; border-bottom:0px; margin:0; font-size: 95%;}  

div.tabs ul li a:hover,
div.tabs ul li a:active, 
div.tabs ul li a:focus { color:#FFFFFF; text-decoration:none; background-color:#8D8078; padding:3px 7px 5px 7px; border-bottom: solid #383028 0px; margin:0; font-size: 95%;}

/* TAB MENU, EXTENDED SEARCH */

div.tabmenu {position:relative; background-color:#8D8078; padding: 6px 0px 6px 0px; width:100%; margin:1px 0px 1px 0px;font-size:100%;z-index:12;}
div.tabmenu ul { list-style:none; padding: 0px 7px 0px 6px; margin:0; font-size:80%; line-height:130%; color:#FFFFFF; }
div.tabmenu ul li { display:inline; }

div.tabmenu ul li a.selected { text-decoration:none; color:#FFFFFF; font-weight:bold; }
div.tabmenu ul li a,
div.tabmenu ul li a:link,
div.tabmenu ul li a:visited,
div.tabmenu ul li a:active { text-decoration:none; color:#FFFFFF; }  
div.tabmenu ul li a:hover, 
div.tabmenu ul li a:focus { color:#FFFFFF; text-decoration:underline;}


/* SEARCH DETAILS */

h3#search_detail {  text-decoration:underline; margin-top:1em; }


/********************************************************************
  marginal portlet block styles  
*********************************************************************/

div.portlet { margin-bottom:10px; padding:0;}
div.portlet p { font-size:75%; line-height:140%;}
div.portlet p.hitrow { font-size:88%; line-height:140%;}
div.portlet ul { margin: 0 0 -5px 14px;}

/* n�tig fuer Firefox: sonst f�llt Link aus Portlet, vgl. Einstellungen */
div.portlet .clearer { clear:both; display:block; height:1px; line-height: 0px; font-size: 1px; margin:0; padding:0; }

div.portlet .iconLink a { float:left; line-height:140%}
div.portlet .link_descr { margin:0px 0px 0px 15px; }

div.portlet div.resultset p.result_description { font-size:70%; margin: 10px 0px 0px 0px; line-height:125%;}
div.portlet div.resultset p.result_link {  font-size:70%; margin:3px 0 8px 0;}

/* wenn langer Titel:
   min-height statt height, sonst Probleme in firefox.
   padding rechts 0 lassen, sonst fliegt in IE das marginal portlet nach l.u. wenn Titel zu lang
*/
div.portlet div.section-header { min-height:1em; padding: 0.175em 0em 0.4em 0.5em; background:#fff; background-image: url("../images/portlet-bg.png"); background-repeat: repeat-x;}

/* IE6, 5 bugfix. sets hasLayout property and fixes http://jira.media-style.com/browse/INGRID-1468 */
* html div.portlet div.section-header {height:1%;}

div.portlet div.section-header h1 { display:inline; color:#FFFFFF; font: bold 75%  Verdana, sans-serif; line-height:125%; margin:0.15em 0 0 0; text-transform:uppercase; }
div.portlet div.section-header span.portlet_info { float:right; color: #FFFFFF; font-size:76%; font-weight:bold; line-height:100%; margin: 0 5px 0 0; }
div.portlet div.section-header a { color: #FFFFFF;}
/* because of problems in IE rendering underline and background ! */
div#marginal_header a:hover, div#marginal_header a:focus { text-decoration: none; }
div#marginal_header a:hover, div#marginal_header a:focus, div#marginal_header a:active, div#marginal_header a:visited { background:#5988046; }

div.portlet div.portlet-section-body { position:relative;padding: 0.625em 0.875em; margin:0; border-top: solid #e5dfd3 1px; border-left: solid #e5dfd3 1px; border-bottom: solid #e5dfd3 1px; border-right: solid #e5dfd3 1px; background-color:#ffffff; background-image: url("../images/portlet-content.png"); background-repeat:repeat-x;}

div.portlet-section-body ul li {}

/********************************************************************
  form block styles  
*********************************************************************/

form, input { padding:0; margin:0; }
select { padding:0; margin:0; border: 0px inset #FFFFFF;}

div.formheader {height: 1em; padding: 4px 14px 2px 8px; color: #FFFFFF; font-size: 80%; line-height: 120%; text-transform: uppercase; border-bottom: 1px solid #99471f; background-color: #99471f;}

div.formheader span.portlet_info { float:right; color: #FFFFFF; line-height:100%; margin: 0 0 0 0;}
div.formheader span.portlet_info a { color: #FFFFFF; }

div.formbody {padding: 4px 12px 8px 12px; margin:1px 0px 1px 0px; border: 1px solid #e5dfd3; background-color: #f0ede7;}
div.formbody_search { }
div.formbody_search div.search_line { }
div.formbody_search form { }
div.formbody_search div.optional-links { }
/* use formbody_border_style if need to change border style in profile (e.g. NUMIS)*/
div.formbody_border_style { border-left: 1px solid #CECECE; border-right: 1px solid #CECECE; border-top: 1px solid #CECECE; border-bottom: 1px solid #CECECE; }

div.formbody_map { }

/* Sonderbehandlung f�r IE: dieser �bernimmt die Farbe des �bergeordneten divs nicht f�r rollover Link Auszeichnungen 
   siehe auch http://jira.media-style.com/browse/INGRID-192
*/
div.formbody div {}
div.formbody div.line {background-color: #f0ede7;}
div.formbody div.line_form {background-color: #f0ede7;}
div.formbody p { padding:0; margin: 0.5em  0.0em; }
div.formbody a { }
div.formbody .nospace { padding-bottom:0; margin-bottom:0; }
div.formbody h3 { font-weight:bold; margin: 0.7em 0; }
div.formbody h2 { font-weight:bold; margin-top: 0.8em; }
div.formbody p.datasource_selection {font-size: 66%;}
div.formbody div.marginleft {margin-left:4em}
div.formbody .indent1_checkbox {margin-left:2em}
div.formbody .indent2_checkbox {margin-left:4em}

div.formbody select.env_themes { width:15em;}
div.formbody select.spacial_relation { width:23em;}
div.formbody select.funct_class  { width:20em;}
div.formbody select.info_provider  { width:22em; border: 0px inset #FFFFFF; padding:4px; }
div.formbody select.group_by { width:15em;}

div.formbody input.radio {margin: 10px 0px 10px 0px; padding: 4px 4px 4px 4px; line-height: 130%; }
div.formbody .inputstyle {border: 1px inset #FFFFFF;}
div.formbody .inputstyleerror {border: 1px solid #cc7a52; padding: 2px 4px 2px 4px; margin-right:6px;}
div.formbody .inputstyletext {border: 1px inset #FFFFFF; padding: 1px 4px 3px 4px; margin-right:6px;}
/*IE: Add font-family to get same width for user and password input at login page*/
div.formbody .inputtextfont {font-family:Helvetica, Arial, Verdana, sans-serif;}
div.formbody input.large {width:15em;}

div.formbody textarea {font: normal 83% Verdana, Arial,  sans-serif; line-height: 130%; border: 1px inset #FFFFFF; padding:4px; }

div.formbody label { margin: 0px 10px 0px 0px; padding: 0px 4px 0px 4px; line-height: 130%; }
div.formbody label.alignleft { padding: 0px 4px 0px 0px;}
div.formbody label.lbl_qrystr { margin: 0; padding: 0; line-height: 180%; font-size: 85%}
div.formbody label.radiogroup {font-size: 85%; line-height:160%}
div.formbody .spacer_search_form {margin-top: 15px}

.col2left { width:12em; }
.col2left_incr { width:14em; }
.col2right { width:15em; }

div.formfooter { height: 23px; padding: 2px 12px 2px 12px; margin:0px 0px 20px 0px; border: 1px solid #e5dfd3; background-color: #ebe6dc; }
div.formfooter .iconLink { margin:0px 25px 0px 0px; font-size:75%; }
div.formfooter_border_style { border-bottom: 1px solid #CECECE; border-left: 1px solid #CECECE; border-right: 1px solid #CECECE; }
div.formfooter_border_style_top { border-top: 1px solid #CECECE; }

input.btn { margin-top:0px; padding: 3px 10px 3px 10px; color:#FFFFFF; font-size:70%; line-height: 130%; font-weight:bold; border-bottom: solid 1px #99471f; border-top: solid 1px #cc7a52; border-right: solid 1px #cc7a52; border-left: solid 1px #cc7a52; background-color: #99471f; cursor: pointer; background-image: url("../images/button-bg.png");}
input.btn:hover { color: #FFFFFF; cursor: pointer;  background-image: url(../images/background-mainmenu-hover.png); }
input.btn_disable { background: none; height: 33px; color: #CECECE; font-weight: bold; text-align: left; padding-left: 10px; padding-right: 10px; border: 0 none !important; background-image: url(../images/background-mainmenu-hover.png);}
input.btn_search { margin-top:0px; padding: 3px 10px 3px 10px; color:#FFFFFF; font-size:70%; line-height: 130%; font-weight:bold; border-bottom: solid 1px #99471f; border-top: solid 1px #cc7a52; border-right: solid 1px #cc7a52; border-left: solid 1px #cc7a52; background-color: #99471f; cursor: pointer; background-image: url("../images/button-bg.png"); }
input.btn_search:hover { color: #FFFFFF; cursor: pointer;  background-image: url(../images/background-mainmenu-hover.png); }
input.btn_search_disable { background: none; height: 33px; color: #CECECE; font-weight: bold; text-align: left; padding-left: 10px; padding-right: 35px; border: 0 none !important; background-image: url(../images/background-mainmenu-hover.png); }

/*Use only at profile NUMIS*/
input.btn_admin { }
input.btn_admin:hover { }

label.left {width:5.5em; float:left;}
label.login {width:8em; float:left;}
div.optional-links { margin:5px 0 0 0 ; padding:0; }
div.optional-links img, ul.optional-links img { margin:0; padding:0; }
div.optional-links a, ul.optional-links a, div.optional-links span { margin-right:1em; font-size:70%; }
/*Need for profile NUMIS*/
div.optional-links span.selected {}

ul.optional-links ul.optional-links { margin: 0 0 0 12px; padding:0; }
ul.optional-links { list-style:none; margin: 0 0 1.2em 0; }

/*** sitemap ***/

div.sitemap ul { list-style: none; margin: 0.5em 0 0 0.5em;}
div.sitemap li { margin: 0 0 0.2em; padding: 10px 0 0 15px; }
div.sitemap li a { font-size:80%; }
div.sitemap li p { margin: 0 0 0 0; font-size:80%; line-height:110%; color:#111111}
div.sitemap li p a { font-size:100%;}
div.sitemap li li a { font-size:80%;}
div.sitemap li li p { margin: 0 0 0 0; font-size:80%; line-height:110%; color:#111111}

div#overview .whole { padding-top: 25px; width: 54em; }

.dottedTop {  border-top: 1px dotted #B4B4B4; margin-top: 20px !important; }
.middle { float: left; margin-left: 2.625em; width: 15.75em; }

/*** Formular Anmeldung ***/

div.formbody input.fld_logon {width: 10em; line-height: 100%;}


/*** Formular Umweltchronik ***/

div.formbody td p { margin-top:0; font-size: 100%; }
div.formbody input.qry_chronic {width: 25em; font-size: 88%; line-height: 100%;}

/*** Formular Einfache Suche Start Seite ***/

div.formbody input.qrystr {width: 30em; font-size: 88%; line-height: 100%;}

/*** Formular Erweiterte Suche ***/

div.formbody div.qrytxt {width:34.5em; padding: 5px 5px 5px 5px;text-align:right;}
div.formbody textarea.qrytxt { width: 100%;font: normal 83% Verdana, Arial,  sans-serif; line-height: 130%; border: 1px inset #FFFFFF; padding:2px; margin:0 0 5px 0; }
div.formbody input.search_term { height:auto;width: 100%;font-size: 88%;}
div.formbody div.innerform {width:34.5em;}
div.formbody input.thesaurus_term {width: 45%;font-size: 88%; line-height: 120%;}
div.formbody input.address_space {width: 55%;}

div.formbody td label {font-size: 100%;}
div.formbody input.btn_show_provider {margin: 3em 0 0 0; padding: 2px 10px 2px 10px; color:#FFFFFF; font-size:85%; line-height: 130%; font-weight:bold; border: solid 1px #383028; background-color: #99471f; cursor: pointer; }
div.formbody p.event_description { margin-left: 20px; font-size:100%; line-height:125%}

div.intend {margin:0 0 0 2em}

/*** Formular Suchhistorie ***/

div.formbody a.smaller { font-size:75%;}

/*** Formular Einstellungen (Suche) ***/

div.formbody p.topmargin { margin-top:1.5em }

/*** Formular Aehnliche Begriffe Suchergebnisse ***/

div.formbody .snslogo_margin {margin-top: 8px; }

/********************************************************************
  footer block styles  
*********************************************************************/

div#footercontainer { margin: 0px 0 0px 28px; background: url(../images/logo_footer.gif) no-repeat; padding: 0px 0px 30px 112px; }
#footercontent { font-size: 70%; line-height: 120% }

div#footermarginalcontainer { width: 59.5em; margin-top: 25px; margin-bottom: 20px; padding: 0; background: #FFFFFF;}
div#footermarginal { background: #FFFFFF; width: 19em; padding-right: 14px; text-align:right; font-size: 70%; line-height: 100%; width:100%;}

div#finalfootercontainer { float: left; width: 59.5em; }
div#finalfooter { padding-left:112px; padding-bottom:20px; padding-top:0px; height:11px; font-size:70%; line-height:125%; color:#383028; }

/********************************************************************
  popup + overview styles  
*********************************************************************/

div#popupheader { padding:0; margin:0; height: 80px; width:100%; background-color:#99471f; overflow: visible; }  
div#popupContent, div#popupOverview { margin:27px 0 27px 56px; }
div#popupContent div.left { float:left;  width:196px; margin: 0 28px 0 0; background-color:#f0ede7; }
div#popupContent div.right { float:left; width:25em; margin:0 0 42px; padding:0; }

div#popupContent h1, div#popupOverview h1, div#overview h1 { margin-top:0.4em;; margin-bottom:1.7em; }
div#popupContent h1, div#popupOverview h1, div#overview h1 { color: #5E5E5F;padding-bottom: 0.2em;padding-top: 0.2em;text-transform: uppercase;}
div#popupContent div.left h3, div#popupContent div.left p, div#popupContent div.left ul { padding-left:8px; padding-right:8px; }

div#popupOverview h2, div#overview h2 { height:auto; padding: 2px 14px 2px 8px; margin:0 0 10px 0; border-bottom: 1px solid #99471f; background:#99471f; color:#FFF; font-size:75%; font-weight:bold; line-height:140%; text-transform:uppercase; }

div.helpcontent ul {list-style: none; margin: 0.0em 0 0 0.5em; padding:0;}
div.helpcontent li { margin: 0 0 0.0em 0;padding: 0 0 0 15px;background-image:url("images/icn_linkintern.gif");background-repeat: no-repeat;background-position: 0 .45em; }
div.helpcontent li a { font-size:80%; }

/********************************************************************
  administration styles
*********************************************************************/

/*** content database browser ***/

.contentNavigation { padding:2px 170px 2px 170px; margin:0px 0px 10px 0px; border:1px solid #99471f; }
.contentNavigationLeft { float:left;  width:110px; }
.contentNavigationMiddle { float:left; font-size:80%; width:300px; text-align:center; }
.contentNavigationRight { float:right; width:110px; text-align:right; }
.contentColumnHead { text-decoration:underline; background-color:#99471f; color:white; }
.contentColumnHeadLight { text-decoration:none; background-color:#8D8078; color:white; }

a.contentColumnHead, a.contentColumnHead:link, a.contentColumnHead:visited { text-decoration:underline; background-color:#99471f; color: white; }
a.contentColumnHeadLight, a.contentColumnHeadLight:link, a.contentColumnHeadLight:visited { text-decoration:none; background-color:#8D8078; color: white; }

.contentRowEven { background-color: #f0ede7; }
.contentRowEvenError { background-color: #F4D4D4; }
.contentRowEvenYellow { background-color: #FfFfa0; }
.contentRowOdd { background-color: #f0ede7; }
.contentRowOddError { background-color: #f4d4d4; }
.contentRowOddYellow { background-color: #FfFf74; }
.contentRowDark { background-color: #F0EDE7; }
.contentRowLight { background-color: white; }
.contentRowLine {border-bottom: 1px solid #E5DFD3; }
.contentRowTitle {background-color:#176798; color:white;}
.contentInput { width:49em; }

a.tooltip {position: relative; }
a.tooltip span
{     visibility: hidden;
      position: absolute;
      top:13px; right:0;
      width:32em;
      padding:1em;
      color:#226600;
      font-size:80%;
      background: #ffffdd;
      border: 1px solid #aaaaaa;
      padding: 7px;
      z-index: 99;
}

a.tooltip:hover span { visibility: visible; }

.comment {}

/** new for InGrid 3.1.0 **/
.teaser_image { }
.teaser_title { }
.teaser_title a:hover { }
.teaser_body { }

div.section-header span.portlet_info a { }
div.section-header span.portlet_info a:hover { }
p.datasource_selection a.selected { }
p.datasource_selection span.selected { }

h1.info_title { color:#1B78B1; text-transform: uppercase; font-size:15px; font-weight:bold; }
h1.info_title a:hover { color:#1B78B1; text-decoration: underline; margin-bottom: 15px;}
p.info_subtitle { color: #646464; font-weight:bold; padding-top:10px; font-size: 11px; line-height: 16px; margin-bottom: 0.5em; }
p.info_body { color: #646464; padding: 0px 0px 20px 0px; font-size:11px; line-height: 16px;}
p.info_link { font-size: 12px !important; }
p.bottom_align { position: absolute; bottom: 0px; }

div.portlet_info_top { background-image:url(../images/portlet_info_top.png);width:100%; height:3px; }
div.portlet_info { border:1px !important; background: #D9EAFA; padding: 20px 20px 10px 20px !important; }
div.portlet_info_bottom { background-image:url(../images/portlet_info_bottom.png);width:100%; height:3px; margin-top: 0px !important;  }
span.button { background-image: url(../images/button_icon.png); width:25px; height:25px; }
div.button_img { background-image: url(../images/button_icon.png); width:25px; height:25px; }
img.info_img { /*float:right; margin: -40px -20px 0 0;*/ position: absolute;right: 0;margin: 0;top: -4px; }
div.portlet_info img.info_img { top:-3px;}/*float:right; margin: -67px -10px 0 0; }*/
div.portlet_info img.info_img_line { margin :0 0 0 -20px; }

div.portlet_feature_info_boxes { padding:20px 0px 10px 0px; }
div.portlet_feature_info { float:left; width:195px; height:100%; }
div.portlet_feature_info_big { float:left; width:419px; height:100%; }
div.portlet_feature_info_padding { margin: 0 26px 30px 0; }
div.portlet_feature_info_body { position:relative; padding:13px 20px 10px 20px; height: 160px;}

div.portlet_feature_info_top { background-image:url(../images/portlet_feature_info_top.png);width:100%; height:4px; }
div.portlet_feature_info_top_big { background-image:url(../images/portlet_feature_info_top_big.png);width:100%; height:4px; }
div.portlet_feature { background: #D9EAFA; width: 100%; height:100%;  }
div.portlet_feature_info_bottom { background-image:url(../images/portlet_feature_info_bottom.png);width:100%; height:4px; margin-top: 0px !important; }
div.portlet_feature_info_bottom_big { background-image:url(../images/portlet_feature_info_bottom_big.png);width:100%; height:4px; margin-top: 0px !important;  }

div.feature_menu { width:180px; height:100%; padding:20px 0 0; }
div.feature_menu ul { list-style: none outside none; margin: 0 0px; }
div.feature_menu ul li { width:100%; }
div.feature_menu ul li img { width:35px; height:35px; padding: 5px 5px 0px; float:left; }
div.feature_menu ul li a { font-weight:bold; }
div.feature_menu ul li p { font-weight:bold; color: #1B78B1; font-size: 12px; margin-bottom: 0px; float:left; padding:10px 0px; line-height:19px; }
div.feature_menu ul li p:hover { text-decoration: underline; }
div.feature_menu ul li div { float:left; width: 141px; border-bottom: 1px dotted #B4B4B4; border-top: 1px dotted #FFFFFF;  }
div.feature_menu ul li div.selected { background-image: url(../images/feature_tab_bg.png); border-bottom-color: #fff; position: relative; top: -1px;  padding-top:1px; border-top: 1px dotted #FFFFFF;}
div.feature_menu ul li div.selected p:hover  { text-decoration: none; }
div.feature_menu ul li:first-child div { border-top: 1px dotted #B4B4B4; }
div.feature_menu ul li:first-child div.selected { border-top: 1px dotted #FFFFFF;}

div.feature_content { width:709px; height:100%; padding:20px 0 0;}
div.feature_content p { color:#646464; font: normal 16px Verdana, Arial, sans-serif; line-height: 25px; }
div.feature_content p span.icon { padding:0px; margin:7px 0px 0px 0px; }
div.feature_content H2 { color:#1B78B1; font-size:18px; font-weight:normal; }
div.feature_content form { padding: 0px 25px 0px 0px; }
div.feature_row { padding:0 25px 0 0; }
div.feature_content div.feature_row img { max-width:95%; border: 1px solid #CDCDCE; }
div.feature_content div.feature_row p { color:#646464; font: normal 14px Verdana, Arial, sans-serif; line-height: 21px;  }
div.feature_content div.feature_row_content { background:#D9EAFA; padding:20px; float:left; margin-bottom: 25px; }
div.feature_content div.feature_row div.feature_row_cell_left { width:50%; height:100%; float:left; }
div.feature_content div.feature_row div.feature_row_cell_right { width:50%; height:100%; float:right; }
span.feature_title { padding:0px 0px 0px 180px; }

div.subnav_img { float:left; background: #AFD93F; }
li.mainnav_img:first-child{ background-image: url(); }
li.mainnav_img { float:left; padding: 2px 0px; background-position: left center; background-repeat: no-repeat;}
div.btn_search_left { float:left; background-image: url(../images/button_search_left.png); height: 33px; width: 2px; }
div.btn_search_right { float:left; background-image: url(../images/button_search_right.png); height: 33px; width: 2px; }
div.btn_search_center { float:left; background-image: url("../images/button_search.png"); background-position: right center; }
div.btn_left { float:left; background-image: url(../images/button_left.png); height: 33px; width: 2px; }
div.btn_right { float:left; background-image: url(../images/button_right.png); height: 33px; width: 2px; }
div.btn_center { float:left; background-image: url("../images/button.png"); background-position: right center; }

#footerSeparator { }
#footercontent a { }
#getNewsletter { }

.search_query_button { }
.search_query_textarea { }