.nav-desktop {
    background: #e6e6e6;
}

a {
    color: #222222;
}

.desktop__title p, h2 {
    color: #222222;
}

.mobile__title, .mobile__title:hover {
    color: #222222;
}

@media screen and (max-width: 939px) {
  .header {
    background: #FFF;
    border-bottom: solid 1px #e6e6e6;
  }
}

.nav-toggle {
    background: #e6e6e6;
}

.nav-toggle:after {
    border-color: transparent transparent #FFF transparent;
}

.nav-overlay {
    background: #FFF;
}

.nav__foot a {
    color: #222222;
}

.footer {
    color: #222222;
}

.desktop-logo {
    height: 60px;
    max-width: 100%;
    padding: 0 10px 0 0;
}

.mobile__logo {
    height: 40px !important;
    padding: 0 10px 0 0;
}

@media screen and (max-width: 375px) {
    .mobile__title {
        font-size: 21px;
    }
}