<div class="logo">
    <a href="$jetspeed.getAbsoluteUrl('/default-page.psml')" title="$MESSAGES.getString('ingrid.page.home.tooltip')">
        <img class="footer__logo" src="/decorations/layout/uvp/images/template/logo.png" alt="PortalU RLP"/>
    </a>
</div>