      <div class="portlet-section-body">
        <ul>
          <li>
            <p>
              $MESSAGES.getString('searchSettings.info.text1')
            </p>
          </li>
        </ul>
        <ul>
          <li>
            <p>
              $MESSAGES.getString('searchSettings.info.text2')
            </p>
          </li>
        </ul>
        <ul>
          <li>
            <p>
			  $MESSAGES.getString('searchSettings.info.text3')
            </p>
          </li>
        </ul>
      </div>
		