      <div class="portlet-section-body">
		<p>
			$MESSAGES.getString('searchSettings.info.text1')
        </p>
        <p>
			$MESSAGES.getString('searchSettings.info.text2')
        </p>
        <p>
			$MESSAGES.getString('searchSettings.info.text3')
        </p>
      </div>
		