</div>
<div class="clearer"></div>
<div id="footermarginalcontainer">
  <div id="footermarginal">
    <!-- portlets go here -->
#defineUrlParams()
##    <img src="#GetPageResource('images/arrow_up.gif')" alt="Pfeil nach oben" />&nbsp;<a href="${jetspeed.getAbsoluteUrl(${site.getPageOrTemplate().url})}${urlParams}">nach oben</a>
  &nbsp;
  </div>
</div>
<div class="clearer"></div>

<!-- footer block -->
<div id="footercontainer">
  <div id="footercontent">
    <!-- portlets go here -->
#set($footerMenu = $site.getMenu("footer-menu"))
#if(!$footerMenu.empty)
  #includeFooterNavigation($footerMenu)
#end
<br />
    $MESSAGES.getString('ingrid.page.copyright')<br />

    $MESSAGES.getString('ingrid.page.rights')<br /><br />
  </div>
</div>

</div>
<!--  END: layout/html/portalu/decorator.vm -->

</body>
</html>
