#set ($MESSAGES = $portletConfig.getResourceBundle($renderRequest.Locale))

#set($decoration = $f.decoration)
#set($actions = $decoration.actions)
#set($_actions = $layoutDecoration.actions)

<!-- Begin: Fragment: ${f.id} Decoration: ${decoratorId} -->
<div class="portlet">
  <div class="section-header" id="marginal_header">
    <h1 class="float_left">$!jetspeed.getTitle($jetspeed.getPortletEntity($f), $f)</h1>
    <span class="portlet_info">
	#set($hkey = $jetspeed.getPreferenceFirstValue($f, "helpKey")) 
	#if($hkey && $hkey != "")
		#set($hpath = "${jetspeed.basePath}/help.psml?hkey=$hkey")
	<script language="JavaScript" type="text/javascript">
		imageDefault = new Image(); 
			imageDefault.src = "$request.contextPath$decoration.getBasePath("images")/icon-help.png";
			imageHover = new Image();
			imageHover.src = "$request.contextPath$decoration.getBasePath("images")/icon-help-hover.png";
			
			function imageOn(image) {
				image.src=imageHover.src;
			}
			
			function imageOut(image) {
				image.src=imageDefault.src;
			}
			
			document.write("<a class=\"help\" href=\"javascript:ingrid_openWindow('$hpath',750,550);\" title=\"$hTitle\"><image name=\"image-teaser\" src=\"$request.contextPath$decoration.getBasePath("images")/icon-help.png\" onMouseover=\"imageOn(this)\" onMouseout=\"imageOut(this)\"/></a>");
	</script>
    <noscript>
		<a href="$hpath" target="_new" title="$MESSAGES.getString('ingrid.page.help.link.title')">?</a>&nbsp;
	</noscript>
	#end
	</span>
    <span class="clearer"></span>
  </div>
    #if (!$jetspeed.isHidden($f) || $jetspeed.WindowState != "minimized")
    $f.renderedContent
    #end
</div>
<!-- END: Fragment: ${f.id} Decoration: ${decoratorId} -->


