<div class="columns xsmall-19 small-19 medium-19 large-17 xlarge-18">
    <div class="row">
      <div class="columns xsmall-4 small-4 medium-4 large-4 xlarge-4">
        <div class="logo" role="banner">
          <a href="$jetspeed.getAbsoluteUrl('/default-page.psml')" title="$MESSAGES.getString('ingrid.page.home.tooltip')">
            <img src="/decorations/layout/ingrid/images/template/logo.png" alt="$MESSAGES.getString('ingrid.page.logo.alt.header')"/>
          </a>
        </div>
      </div>
      <div class="columns xsmall-10 small-10 medium-20 large-20 xlarge-18">
        <div class="desktop__title">
          <span>
            <strong>G</strong>eodatenkatalog <strong>N</strong>iederrhein
          </span>
        </div>
      </div>
    </div>
</div>