
#* Add the current layouts configuration values to the context *#
#defineLayoutObjects()

#* Loads our custom macros *#
#parse($layoutDecoration.getResource("decorator-macros.vm"))

<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
  <head>
  <title>$MESSAGES.getStringOrDefault($jetspeed.getPageMetadata("meta_title"), "NUMIS - Das niedersächsische Umweltportal")</title>
  <meta http-equiv="Content-type" content="#ContentType()" />
  <meta http-equiv="Content-style-type" content="text/css" />   
  <meta http-equiv="content-language" content="$renderRequest.Locale.getLanguage()" />
  <meta name="description" content="$MESSAGES.getStringOrDefault($jetspeed.getPageMetadata("meta_descr"), "")" />
  <meta name="version" content="#SiteVersionTag()" />
  <meta name="author" content="wemove digital solutions" />
  <meta name="keywords" lang="$renderRequest.Locale.getLanguage()" content="$MESSAGES.getStringOrDefault($jetspeed.getPageMetadata("meta_keywords"), "")" />
  <meta name="copyright" content="wemove digital solutions GmbH" />
  <meta name="robots" content="index,follow" />
  <link rel="shortcut icon" href="#GetPageResource('images/favicon.ico')" />

  #* Jetspeed macros, see WEB-INF/jetspeed_macros.vm *#
  #foreach($style in $theme.styleSheets)        
  	<link rel="stylesheet" type="text/css" media="screen, projection" href="#BaseHref()$style"  />
  #end
  
<script language="JavaScript" type="text/javascript">
	/*@cc_on @if (@_win32 && @_jscript_version >= 5) if (!window.XMLHttpRequest)
    function XMLHttpRequest() { return new ActiveXObject('Microsoft.XMLHTTP') }
    @end @*/
	
	var xmlHttp = new XMLHttpRequest;

	if (xmlHttp) {
        xmlHttp.open('GET', '$jetspeed.getAbsoluteUrl('/detect-js.psml?js=1')', true);
        xmlHttp.onreadystatechange = function () {
        };
        xmlHttp.send(null);
    }	
</script>

  </head>
  <body class="body-background">
    <noscript>
	  <iframe src="$jetspeed.getAbsoluteUrl('/detect-js.psml')" style="display:none"></iframe>
    </noscript>
<!--  BEGIN: layout/html/portalu/decorator.vm -->
    <div class="#PageBaseCSSClass()">

<!-- IDENTITY AREA -->
#set($langCode = '')
#if($lang && $lang.toString() == 'en')
	#set($langCode = "en_")
#end
#set($currentPage = $site.getPage().url)
##if($currentPage == "/main-maps.psml")
##<div id="identity" class="motiv_karten">
###elseif($currentPage == "/search-detail.psml")
<div id="identity" class="${langCode}motiv_hilfe">
###else
##<div id="identity" class="motiv_blank">
###end
  <!-- LOGO -->
  <div id="logo">
    <a href="$renderResponse.encodeURL('/portal/default-page.psml')"><img class="image_alt" src="/decorations/layout/ingrid/images/logo_alt.gif" alt="Logo Geoportal.WSV" style="padding: 31px 27px 0;"/></a>
  </div>
</div>
<div id="mainnav">
<br class="clearer">
</div>
<div class="greenSeparator"></div>

<!-- CONTENT BLOCK -->
  
## $jetspeed.include($jetspeed.currentFragment)

<!--  END: layout/html/portalu/decorator.vm -->
