#set($decoration = $f.decoration)
#set($actions = $decoration.actions)
#set($_actions = $layoutDecoration.actions)

<!-- Begin: Fragment: ${f.id} Decoration: ${decoratorId} -->
<div id="${f.id}" class="section">
	<div class="section-header">
		#set($akey = $jetspeed.getPreferenceFirstValue($f, "titleKey")) 
		#if($akey && $akey.length() > 0)
			<a name="$akey"></a>
		#end
	  	<h1>$!jetspeed.getTitle($jetspeed.getPortletEntity($f), $f)</h1>
	    <span class="portlet_info">
		#set($hkey = $jetspeed.getPreferenceFirstValue($f, "helpKey")) 
		#if($hkey && $hkey.length() > 0)
			#set($hpath = "${jetspeed.basePath}/help.psml?hkey=$hkey")
			#if($MESSAGES)
				#set($hTitle = $MESSAGES.getString('ingrid.page.help.link.title'))
			#else
				## try to get it form the preferences as it was done with the titleKey and helpKey
				#set($hTitle = $jetspeed.getPreferenceFirstValue($f, "helpToolTip"))
			#end
		<script language="JavaScript" type="text/javascript">
			image = new Image(); 
			image.src = "$request.contextPath$decoration.getBasePath("images")/icon-help.png";
			image_over = new Image();
			image_over.src = "$request.contextPath$decoration.getBasePath("images")/icon-help-hover.png";
			
			document.write("<a class=\"help\" href=\"javascript:ingrid_openWindow('$hpath',750,550);\" title=\"$hTitle\"><img src=\"$request.contextPath$decoration.getBasePath("images")/icon-help-blank.png\" alt=\"$hTitle\" /></a>");
    	</script>
    	<noscript>
    		<a href="$hpath" target="_new" title="$hTitle"><img src="$request.contextPath$decoration.getBasePath("images")/icon-help.png" alt="$hTitle" /></a>
    	</noscript>
		#end
		</span>
		<span class="clearer"></span>
  	</div>
	#if (!$jetspeed.isHidden($f) || $jetspeed.WindowState != "minimized")
	$f.renderedContent
	#end
</div>
<!-- END: Fragment: ${f.id} Decoration: ${decoratorId} -->


