#set($disableTitle = $jetspeed.getPreferenceFirstValue($f, "disableTitle"))

##Default style values
#set($titleStyle = "bx-top-0")
#set($sectionStyle = "row")
#set($bannerStyle = "row")
#set($bannerHeaderStyle = "columns dark")

## Jetspeed style values
#set($titleStyleJetspeed = $jetspeed.getPreferenceFirstValue($f, 'titleStyle'))
#if($titleStyleJetspeed && $titleStyleJetspeed.length() > 0)
    #set($titleStyle = $titleStyleJetspeed)
#end

#set($sectionStyleJetspeed = $jetspeed.getPreferenceFirstValue($f, 'sectionStyle'))
#if($sectionStyleJetspeed && $sectionStyleJetspeed.length() > 0)
    #set($sectionStyle = $sectionStyleJetspeed)
#end

#set($bannerStyleJetspeed = $jetspeed.getPreferenceFirstValue($f, 'bannerStyle'))
#if($bannerStyleJetspeed && $bannerStyleJetspeed.length() > 0)
    #set($bannerStyle = $bannerStyleJetspeed)
#end

#set($bannerHeaderStyleJetspeed = $jetspeed.getPreferenceFirstValue($f, 'bannerHeaderStyle'))
#if($bannerHeaderStyleJetspeed && $bannerHeaderStyleJetspeed.length() > 0)
    #set($bannerHeaderStyle = $bannerHeaderStyleJetspeed)
#end

#if($disableTitle != 1 && $!jetspeed.getTitle($f) && $!jetspeed.getTitle($f).trim().length() > 0)
<div class="banner subpage">
  <div class="subpage-wrapper" style="background-image: url('/decorations/layout/uvp/images/template/drops-subpage.svg');">
    <div class="$bannerStyle">
      <div class="$bannerHeaderStyle">
        <h1>$!jetspeed.getTitle($f)</h1>
      </div>
    </div>
  </div>
</div>
#end
<div id="${f.id}" class="$sectionStyle">
    #set($akey = $jetspeed.getPreferenceFirstValue($f, "titleKey")) 
    #if($akey && $akey.length() > 0)
        <a name="$akey"></a>
    #end
    #if (!$jetspeed.isHidden($f) || $jetspeed.WindowState != "minimized")
        $f.renderedContent
    #end
</div>
## END: Fragment: ${f.id} Decoration: ${decoratorId}