#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="frmContentRSS" id="frmContentRSS">
	<div class="formbody" style="border-bottom:0px solid #FFFFFF">
#renderDBBrowserNavigation($browser)
	<p>
		<table class="border fullwidth">
#set ($colNames = ["id", "itemKey", "itemDescription"])
#set ($colTitles = [$MESSAGES.getString('admin.cms.overview.id'), $MESSAGES.getString('admin.cms.overview.short'), $MESSAGES.getString('admin.cms.overview.description')])
#renderDBBrowserHeader($colNames $colTitles)
#foreach ($dbEntity in $dbEntities)
	#set ($rowId = $dbEntity.id)
	#set ($rowValues = [$UtilsString.cutString($dbEntity.itemKey, 40, 40), $dbEntity.itemDescription])
	#renderDBBrowserRowWithEditLinkNoSelection($rowId $rowValues)
#end
		</table>
		</p>
	</div>
#set ($buttons = ["doRefresh"])
#renderDBBrowserFooterButtons($buttons)
</form>
