#macro (getInputStyleText $fieldName)#if ($actionForm.hasErrorInField($fieldName)) inputstyleerror#else inputstyletext#end#end

#set ($action = $renderResponse.createActionURL())
<form action="$action" method="post" name="frmUpdate" id="frmUpdate">
<div class="formbody" style="border-bottom:0px solid #FFFFFF">
    <h3>$MESSAGES.getString('component.forms.update.component.edit.title')</h3>
    <p>
<!--
COMPONENT_ID
-->
        <label class="float_left col2left_incr" for="componentId">#displayFieldLabel('componentId' $MESSAGES.getString('component.forms.update.component.id'))</label>
        <input type="hidden" name="oldComponentId" value="#getFieldValue('componentId')"/>
##if ($component.isIPlug())
    <span>#getFieldValue('componentId')</span>
    <input type="hidden" name="componentId" value="#getFieldValue('componentId')"/>
##else
##   <input class="inputstyletext contentInput" type="text" id="componentId" name="componentId" value="#getFieldValue('componentId')">
##end
    </p>
    <p class="clearer" />
    <p>
<!--
COMPONENT_TITLE
-->
        <label class="float_left col2left_incr" for="componentTitle">#displayFieldLabel('componentTitle' $MESSAGES.getString('component.forms.update.component.title'))</label>
        <!--
        <label class="float_left inputstyletext contentInput" id="componentTitle" name="componentTitle">#getFieldValue('componentTitle')</label>
        <input type="hidden" name="componentTitle" value="#getFieldValue('componentTitle')"/>
        -->
        <input class="inputstyletext contentInput" type="text" id="componentTitle" name="componentTitle" value="#getFieldValue('componentTitle')">
        <div class="comment">$MESSAGES.getString('component.forms.update.component.help.title')</div>
    </p>
    <p class="clearer" />
    
#if ($component.isIPlug())
<!--
PARTNER
-->
    <p>
        <div class="float_left" style="font-size:75%;"><label class="float_left col2left_incr" for="componentPartner">#displayFieldLabel('componentPartner' $MESSAGES.getString('component.forms.update.component.partner'))</label></div>
        <div class="float_left" style="font-size:75%;">
        #foreach($partner in $component.getExtraInfo("PARTNER_INFO"))
            $partner<br />
        #end
        </div>
    </p>
    <p class="clearer" />
    <p>
<!--
PROVIDER
-->
    <div class="float_left" style="font-size:75%;"><label class="float_left col2left_incr" for="componentProvider">#displayFieldLabel('componentProvider' $MESSAGES.getString('component.forms.update.component.provider'))</label></div>
        <div class="float_left" style="font-size:75%;">
        #foreach($provider in $component.getExtraInfo("PROVIDER_INFO"))
            $provider<br />
        #end
        </div>
    </p>
    <p class="clearer" />
#end
    <p>
<!--
COMPONENT_TYPE
-->
        <label class="float_left col2left_incr" for="componentType">#displayFieldLabel('componentType' $MESSAGES.getString('component.forms.update.component.type'))</label>
#if ($component.wasUnknown() || !$component.isIPlug())
        <select class="float_left #getInputStyleText('componentType')" name="componentType">
            <option value="OTHER">&nbsp;</option>
        #foreach($type in $componentTypes)
            <option value="$type" #getSelectedFlag("componentType" $type)>$MESSAGES.getString($type)</option>
        #end
        </select>
        #if ($componentTypes.size() == 0)
            <span style="color:red;">$MESSAGES.getString('component.forms.update.component.error.no.distributions')</span>
            <input type="hidden" name="anyDistributions" value="false"/>
        #end
        <p style="clear:both"><div class="comment">$MESSAGES.getString('component.forms.update.component.help.type')</div></p>
#else
        <span>#getFieldValue('componentType')</span>
        <input type="hidden" name="componentType" value="#getFieldValue('componentType')"/>
#end
    </p>
    <p class="clearer" />
    <p>
<!--
COMPONENT_VERSION
-->
    <label class="float_left col2left_incr">$MESSAGES.getString('component.forms.update.component.version')</label>
#if ($component.isIPlug() && !$component.wasUnknown()) ##$component.version.toLowerCase() != "unknown")    
    <span>#getFieldValue('componentVersion')</span>
    <input type="hidden" name="componentVersion" value="#getFieldValue('componentVersion')"/>
#else    
    <input class="inputstyletext contentInput" type="text" id="componentVersion" name="componentVersion" value="#getFieldValue('componentVersion')">
    <div class="comment">$MESSAGES.getString('component.forms.update.component.help.version')</div>
#end
    <p class="clearer" />
    <p>
<!--
COMPONENT_AVAILABLE
-->
    <label class="float_left col2left_incr">$MESSAGES.getString('component.forms.update.component.availability')</label>
    <span>$MESSAGES.getString($component.connected)</span>
    <p class="clearer" />
    <p>
<!--
COMPONENT_INFO
-->
    <label class="float_left col2left_incr">$MESSAGES.getString('component.forms.update.component.info')</label>
    <textarea cols="125" rows="3" id="componentInfo" name="componentInfo">#getFieldValue('componentInfo')</textarea>
    <div class="comment">$MESSAGES.getString('component.forms.update.component.help.info')</div>
    <p class="clearer" />
    <p>
<!--
COMPONENT_EMAILS
-->
    <label class="float_left col2left_incr">$MESSAGES.getString('component.forms.update.component.emails')</label>
#set ($emails = $actionForm.getInputAsArray('contact_email'))
#if ($component.emails.size() > 0)    
    <table class="border" style="width:663px;">
        <tr>
            <td class="contentColumnHead" style="text-decoration:none; width: 10px;"></td>
            <td class="contentColumnHead" style="text-decoration:none">Email</td>
        </tr>
    #set ($count = 0)
    #foreach($email in $emails)
        #set ($count = $count + 1)
    ##set($cnt = $velocityCount - 1)
    ##set($threshold = $list.get($thresholds, $cnt))
        #getRowStyle($count 0)##$component.isIplug)
        <tr class="$rowstyle">
            <td><input type="checkbox" id="component_$count" name="contact_email_marked" value="$email"></td>
            <td>$email<input type="hidden" name="contact_email" value="$email"/></td>
        </tr>
    #end
        <tr>
            <td></td>
            <td><input class="btn" type="submit" name="doUpdateDeleteEmail" value="$MESSAGES.getString('component.forms.update.component.remove.email')" style="font-size:100%; float: right;" /></td>
        </tr>
    </table>
    <p>
    <label class="float_left col2left_incr">&nbsp;</label>
#end
    <table class="border" style="width:663px;">
    <tr>
<!--
COMPONENT_EMAIL_NEW
-->
    <td><input class="#getInputStyleText('contact_email_new')" id="newEmail" name="contact_email_new" value="#getFieldValue('contact_email_new')" type="text" style="width:95%;"></td>
    <td style="width:10px;"><input class="btn" type="submit" name="doUpdateAddEmail" value="$MESSAGES.getString('component.forms.update.component.add.new.email')" style="font-size:100%;" /></td>
    </tr>
    </table>
    <p><div class="comment">$MESSAGES.getString('component.forms.update.component.help.add.new.email')</div></p>
    
</div>
<div class="formfooter" align="right">
    <input class="btn" type="submit" name="doShowUpdates" value="$MESSAGES.getString('component.forms.update.component.edit.back')" />
    <input class="btn" type="submit" name="doSaveUpdates" value="$MESSAGES.getString('component.forms.update.component.edit.save')" />
</div>
</form>
