#set($JOB = $map.get("JOB"))
#set($MESSAGES = $map.get("MESSAGES"))
#set($JOB_DATA = $JOB.getJobDataMap())
Dies ist eine Meldung von der Überwachungskomponente der 
Ingrid Software.
#if($JOB_DATA.getInt("component.monitor.general.status") == 1)
WARNUNG !!
#else
ENTWARNUNG!!
#end

Komponenten ID: $JOB.name
Komponententyp: $MESSAGES.getString($JOB_DATA.getString("component.monitor.general.type"))
Komponentenbeschreibung: $JOB_DATA.getString("component.monitor.general.title")
Meldung: $MESSAGES.getString($JOB_DATA.getString("component.monitor.general.status.code"))
Ausgeführte Query: $JOB_DATA.getString("component.monitor.general.query")
Timeout [ms]: $JOB_DATA.getInt("component.monitor.general.timeout")
