</div>
<div class="menu-login-links">
    <h6 class="login_user">Login Bereich</h6>
    #if(!$jetspeed.getLoggedOn())
        <a href="$jetspeed.getAbsoluteUrl('/service-myportal.psml')" title="Anmelden">
            <span class="text">Interner Bereich - Portal</span>
        </a>
    #end
    <a href="/log-in" title="Anmelden">
        <span class="text">Interner Bereich - Metadaten</span>
    </a>