.dojoAccordionPane .label {
	border-top:1px solid #838383;
	border-left:1px solid #838383;
	border-bottom:1px solid #fff;
	height:26px;
	font:bold 10px/12px Verdana, Helvetica, Arial, sans-serif;
	color:#fff;
	padding-left:33px;
	background: /*url("images/accordionOff.gif") 4px 6px no-repeat*/ #156496;
}

.dojoAccordionPane-selected .label {
	background: /*url("images/accordionSelected.gif") 4px 6px no-repeat*/ #156496;
}

.dojoAccordionPane .label:hover {
	cursor: pointer;
}

.dojoAccordionPane .accBody {
	background: #fff;
	overflow: auto;
}

