h3 {
	font:normal 11px/14px Verdana, Helvetica, Arial, sans-serif;
	margin:5px 0 4px 0;
	padding:0;
}

.datePickerContainer {
  margin-top:3px;
	font:normal 11px/14px Verdana, Helvetica, Arial, sans-serif;
	width:164px; /* needed for proper user styling */
}


.calendarContainer {
  border: 1px solid #156496;
	background:#f6f6f6;
}

.calendarBodyContainer {
}

.calendarBodyContainer thead tr td {
	color:#fff;
	text-align:center;
  padding:7px;
  line-height:11px;
	background:#156496;
}

.calendarBodyContainer tbody tr td {
	color:#000;
	text-align:center;
	padding:5px;
	cursor:pointer;
	cursor:hand;
}


.monthWrapper {
	background:#65a3d1;
}

.monthContainer {
  width:100%;
}

.monthLabelContainer {
	text-align:center;
	color:#fff;
	padding:5px 0;
}

.monthCurve {
}

.monthCurveTL {
}

.monthCurveTR {
}

.yearWrapper {
	background:#65a3d1;
}

.yearContainer {
  width:100%;
}

.yearContainer td {
}

.yearContainer .yearLabel {
	color:#fff;
	text-align:center;
}

.curveBL {
}

.curveBR {
}

.previousMonth {
	background:#cbcbcb;
}

.previousMonthDisabled {
	background:#efefef;
	cursor:default
}

.currentMonth {
}

.currentMonthDisabled {
	background:#efefef;
	cursor:default
}

.nextMonth {
	background:#cbcbcb;
}

.nextMonthDisabled {
	background:#efefef;
	cursor:default;
}

.currentDate {
	color:#000 !important;
	font-style:italic;
}

.selectedItem {
	color:#000 !important;
	font-weight:bold;
	text-decoration:underline;
}

.yearLabel .selectedYear {
  height:100%;
	padding:5px;
	background:#b3dcfa;
}

.nextYear, .previousYear {
	cursor:pointer;
	padding:0 5px;
	cursor:hand;
}

.nextYear {
}

.previousYear {
}

.incrementControl {
  padding:0 5px;
	cursor:pointer;
	cursor:hand;
}

.increase {
	float:right;
}

.decrease {
	float:left;
}

.lastColumn {
}


