.dojoSplitContainer{
	position: relative;
	overflow: hidden;
	display: block;
}

.dojoSplitPane{
	position: absolute;
	overflow:auto;
	background:#eee;
}

.dojoSplitContainerSizerH,
.dojoSplitContainerSizerV {
  background: url(../../../../img/split_sizer_bg.gif) center left repeat-y;
	font-size: 1px;
	cursor: move;
	cursor: w-resize;
	margin: 0;
}

.dojoSplitContainerSizerV {
	cursor: n-resize;
}

.dojoSplitContainerVirtualSizerH,
.dojoSplitContainerVirtualSizerV {
	font-size: 1px;
	cursor: move;
	cursor: w-resize;
	background-color: ThreeDShadow;
	-moz-opacity: 0.5;
	opacity: 0.5;
	filter: Alpha(Opacity=50);
	margin: 0;
}

.dojoSplitContainerVirtualSizerV {
	cursor: n-resize;
}
