.dojoTabContainer {
	position : relative;
}

.dojoTabPaneWrapper {
	border : none;
	_zoom: 1; /* force IE6 layout mode so top border doesnt disappear */
	display: block;
	clear: both;
	overflow-x:hidden;
	overflow-y:auto;
	margin : -1px 0 0 0;
	padding: 0;
}

.dojoTabLabels-top {
	position : relative;
	top : 0;
	left : 0;
	margin: 1px 0 -1px 0;
	overflow : visible;
	width : 100%;
}

.dojoTab {
	position : relative;
	float : left;
	margin-left : 0;
	margin-right: 4px;
	background : transparent;
	cursor: pointer;
	white-space: nowrap;
	z-index: 3;
}

.dojoTab div {
	display : block;
	border : 1px solid #848484;
	border-bottom : 0;
	padding : 0 7px 0 7px;
	background : transparent;
	color : #000;
	font-size : 10px;
	line-height: 16px;
	height : 18px;
}

.dojoTab.current {
	background : #156496;
}

.dojoTab.current div {
	border : 1px solid #156496;
	border-bottom : 0;
	color : #fff;
}

