.toolbarContainer {
	color : ButtonText;
	font : Menu;
}

.toolbar {
  margin : 2px 0;
	padding : 2px 4px;
	min-height : 19px;
	_height : 19px;
}

.toolbarItem {
	float : left;
	padding : 1px;
	margin : 0 3px 1px 5px;
	cursor : pointer;
}

.toolbarItem.selected, .toolbarItem.down {
}

.toolbarButton img {
	vertical-align : bottom;
}

.toolbarButton span {
	line-height : 16px;
	vertical-align : middle;
}

.toolbarButton.hover {
	padding : 0;
	border-left : 1px solid #f6f6f6;
	border-top: 1px solid #f6f6f6;
	border-right: 1px solid #9e9e9e;
	border-bottom: 1px solid #9e9e9e;
}

.toolbarItem.disabled {
	opacity : 0.3;
	filter : alpha(opacity=30);
	cursor : default;
}

.toolbarSeparator {
	cursor : default;
	float : left;
	margin : 0 4px 1px 5px;
	padding : 0;
}

.toolbarFlexibleSpace {
}
