.dojoTooltip {
	border:1px solid #156496;
	background: #fff;
	font-size: 11px;
	color: black;
	position: absolute;
	padding: 3px 8px;
	z-index: 10;
	display: block;
  filter:alpha(opacity=90);   /* Internet Explorer       */
  -moz-opacity:0.9;           /* Mozilla 1.6 and below   */
  opacity: 0.9;               /* newer Mozilla and CSS-3 */
}
