
/* CSS for TreeDocIconExtension */


/* long vertical line under docIcon, connecting w/ children */
.TreeStateChildrenYes-ExpandOpen .TreeIconContent {
    background-image : url('../../../../img/InGridTree/i_long.gif');
    background-repeat : no-repeat;
    background-position: 18px 9px;
}

/* close has higher priority */
.TreeStateChildrenYes-ExpandClosed .TreeIconContent {
    background-image : url();
}

/* higher priotity: same length and appear after background-definition */
.TreeStateChildrenNo-ExpandLeaf .TreeIconContent {
    background-image : url();
}

.TreeStateChildrenNo-ExpandClosed .TreeIconContent {
    background-image : url();
}

.TreeStateChildrenNo-ExpandOpen .TreeIconContent {
    background-image : url();
}


/* highest priority */

/* normal */
.TreeIconCatalog {background-image: url('../../../../img/UDK/catalog.gif');}
.TreeIconObjects {background-image: url('../../../../img/UDK/objects.gif');}
.TreeIconAddresses {background-image: url('../../../../img/UDK/addresses.gif');}

.TreeIconClass0 {background-image: url('../../../../img/UDK/udk_class0.gif');}
.TreeIconClass1 {background-image: url('../../../../img/UDK/udk_class1.gif');}
.TreeIconClass2 {background-image: url('../../../../img/UDK/udk_class2.gif');}
.TreeIconClass3 {background-image: url('../../../../img/UDK/udk_class3.gif');}
.TreeIconClass4 {background-image: url('../../../../img/UDK/udk_class4.gif');}
.TreeIconClass5 {background-image: url('../../../../img/UDK/udk_class5.gif');}
.TreeIconInstitution {background-image: url('../../../../img/UDK/addr_institution.gif');}
.TreeIconInstitutionUnit {background-image: url('../../../../img/UDK/addr_unit.gif');}
.TreeIconInstitutionPerson {background-image: url('../../../../img/UDK/addr_person.gif');}
.TreeIconPersonAddress {background-image: url('../../../../img/UDK/addr_free.gif');}

/* status b */
.TreeIconClass0_B {background-image: url('../../../../img/UDK/udk_class0_b.gif');}
.TreeIconClass1_B {background-image: url('../../../../img/UDK/udk_class1_b.gif');}
.TreeIconClass2_B {background-image: url('../../../../img/UDK/udk_class2_b.gif');}
.TreeIconClass3_B {background-image: url('../../../../img/UDK/udk_class3_b.gif');}
.TreeIconClass4_B {background-image: url('../../../../img/UDK/udk_class4_b.gif');}
.TreeIconClass5_B {background-image: url('../../../../img/UDK/udk_class5_b.gif');}
.TreeIconInstitution_B {background-image: url('../../../../img/UDK/addr_institution_b.gif');}
.TreeIconInstitutionUnit_B {background-image: url('../../../../img/UDK/addr_unit_b.gif');}
.TreeIconInstitutionPerson_B {background-image: url('../../../../img/UDK/addr_person_b.gif');}
.TreeIconPersonAddress_B {background-image: url('../../../../img/UDK/addr_free_b.gif');}

/* status q */
.TreeIconClass0_Q {background-image: url('../../../../img/UDK/udk_class0_q.gif');}
.TreeIconClass1_Q {background-image: url('../../../../img/UDK/udk_class1_q.gif');}
.TreeIconClass2_Q {background-image: url('../../../../img/UDK/udk_class2_q.gif');}
.TreeIconClass3_Q {background-image: url('../../../../img/UDK/udk_class3_q.gif');}
.TreeIconClass4_Q {background-image: url('../../../../img/UDK/udk_class4_q.gif');}
.TreeIconClass5_Q {background-image: url('../../../../img/UDK/udk_class5_q.gif');}
.TreeIconInstitution_Q {background-image: url('../../../../img/UDK/addr_institution_q.gif');}
.TreeIconInstitutionUnit_Q {background-image: url('../../../../img/UDK/addr_unit_q.gif');}
.TreeIconInstitutionPerson_Q {background-image: url('../../../../img/UDK/addr_person_q.gif');}
.TreeIconPersonAddress_Q {background-image: url('../../../../img/UDK/addr_free_q.gif');}

/* status r */
.TreeIconClass0_R {background-image: url('../../../../img/UDK/udk_class0_r.gif');}
.TreeIconClass1_R {background-image: url('../../../../img/UDK/udk_class1_r.gif');}
.TreeIconClass2_R {background-image: url('../../../../img/UDK/udk_class2_r.gif');}
.TreeIconClass3_R {background-image: url('../../../../img/UDK/udk_class3_r.gif');}
.TreeIconClass4_R {background-image: url('../../../../img/UDK/udk_class4_r.gif');}
.TreeIconClass5_R {background-image: url('../../../../img/UDK/udk_class5_r.gif');}
.TreeIconInstitution_R {background-image: url('../../../../img/UDK/addr_institution_r.gif');}
.TreeIconInstitutionUnit_R {background-image: url('../../../../img/UDK/addr_unit_r.gif');}
.TreeIconInstitutionPerson_R {background-image: url('../../../../img/UDK/addr_person_r.gif');}
.TreeIconPersonAddress_R {background-image: url('../../../../img/UDK/addr_free_r.gif');}

/* user */
.TreeIconKatalogAdmin {background-image: url('../../../../img/UDK/user_katalog_admin.gif');}
.TreeIconMDAdmin {background-image: url('../../../../img/UDK/user_md_admin.gif');}
.TreeIconMDAutor {background-image: url('../../../../img/UDK/user_md_autor.gif');}

/* sns tree */
.TreeIconTOP_TERM {
	background-image: url('../../../../img/UDK/catalog.gif');
}
.TreeIconNODE_LABEL {
/*	background-image: url('../../../../img/UDK/udk_class2.gif');	*/
    width: 0px !important;
    height: 16px;
    float: left;
    display: inline;
    background-repeat : no-repeat;
}
.TreeIconDESCRIPTOR {
/*	background-image: url('../../../../img/UDK/udk_class0.gif');	*/
    width: 0px !important;
    height: 16px;
    float: left;
    display: inline;
    background-repeat : no-repeat;
}

/* defaults */
.TreeIconFolder {
  /*  background-image: url('../../../../img/UDK/udk_class3.gif'); */
}
.TreeIconDocument {
  /*  background-image: url('../../../../img/UDK/udk_class5.gif'); */
}

/* generic class for docIcon */
.TreeIcon {
    width: 16px;
    height: 16px;
    float: left;
    display: inline;
    background-repeat : no-repeat;
	margin-right: 3px;	/* distance to the label */
}

div.TreeContent {
/*	margin-left: 20px;	*/
}
