Hallo $!{map.get("user.custom.ingrid.user.salutation.full")} $!{map.get("user.name.given")} $!{map.get("user.name.family")},

Sie haben ein neues Passwort für Ihren Account beantragt. 

Ihr Benutzername: $!{map.get("username")}

Sie können Ihr Passwort über folgende URL ändern:
$!{map.get("returnURL")}

Mit freundlichen Grüßen,

Ihr HMDK-Team
